openapi: '3.1.0'
info:
  title: Grubhub
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-09T00:00:00Z'
    requires_auth: false
servers:
  - url: https://api-gtm.grubhub.com
    x-openweb:
      transport: page
      page_plan:
        entry_url: https://www.grubhub.com/
paths:
  /restaurants/search/search_listing:
    get:
      operationId: searchRestaurants
      summary: Search restaurants by location and cuisine — raw Grubhub search feed (results[], stats)
      x-openweb:
        permission: read
        adapter: false
        build:
          stable_id: grub0001
          tool_version: 3
      parameters:
        - name: orderMethod
          in: query
          required: false
          schema:
            type: string
            default: delivery
        - name: locationMode
          in: query
          required: false
          schema:
            type: string
            default: DELIVERY
        - name: latitude
          in: query
          required: true
          schema:
            type: number
          description: Latitude of delivery location (e.g. 40.7484 for Midtown Manhattan).
          example: 40.7484
        - name: longitude
          in: query
          required: true
          schema:
            type: number
          description: Longitude of delivery location (e.g. -73.9857 for Midtown Manhattan).
          example: -73.9857
        - name: searchTerm
          in: query
          required: false
          schema:
            type: string
          description: 'Cuisine or restaurant name to filter by (e.g. "pizza", "sushi", "Chinese").'
          example: pizza
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of results per page (max 50).
          example: 20
        - name: pageNum
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number for pagination (starts at 1).
          example: 1
      responses:
        '200':
          description: Raw Grubhub search_listing response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /restaurants/{restaurantId}~getMenu:
    get:
      operationId: getMenu
      summary: Get full restaurant document including menu_category_list — raw Grubhub restaurant feed
      x-openweb:
        permission: read
        adapter: false
        actual_path: /restaurants/{restaurantId}
        build:
          stable_id: grub0002
          tool_version: 3
      parameters:
        - name: restaurantId
          in: path
          required: true
          schema:
            type: string
          description: 'Restaurant ID from searchRestaurants (e.g. "64436").'
          example: '64436'
        - name: hideChoiceCategories
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: orderType
          in: query
          required: false
          schema:
            type: string
            default: standard
        - name: version
          in: query
          required: false
          schema:
            type: integer
            default: 4
        - name: variationId
          in: query
          required: false
          schema:
            type: string
            default: default
        - name: hideUnavailableMenuItems
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: hideMenuItems
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: showMenuItemCoupons
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: includeOffers
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: locationMode
          in: query
          required: false
          schema:
            type: string
            default: DELIVERY
      responses:
        '200':
          description: Raw Grubhub restaurant document (restaurant{} with menu_category_list[]).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /restaurants/{restaurantId}~getDeliveryEstimate:
    get:
      operationId: getDeliveryEstimate
      summary: Get restaurant availability and delivery estimates — raw restaurant_availability section
      x-openweb:
        permission: read
        adapter: false
        actual_path: /restaurants/{restaurantId}
        build:
          stable_id: grub0003
          tool_version: 3
      parameters:
        - name: restaurantId
          in: path
          required: true
          schema:
            type: string
          description: 'Restaurant ID from searchRestaurants (e.g. "64436").'
          example: '64436'
        - name: hideChoiceCategories
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: orderType
          in: query
          required: false
          schema:
            type: string
            default: standard
        - name: version
          in: query
          required: false
          schema:
            type: integer
            default: 4
        - name: variationId
          in: query
          required: false
          schema:
            type: string
            default: default
        - name: hideUnavailableMenuItems
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: hideMenuItems
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: locationMode
          in: query
          required: false
          schema:
            type: string
            default: DELIVERY
      responses:
        '200':
          description: Raw Grubhub restaurant document (restaurant_availability{}).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
