openapi: '3.1.0'
info:
  title: Grubhub
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-17T00:00:00Z'
    requires_auth: false
servers:
  - url: https://api-gtm.grubhub.com
    x-openweb:
      transport: page
      page_plan:
        entry_url: https://www.grubhub.com/
        warm: true
        warm_origin: page
paths:
  /restaurants/search/search_listing:
    get:
      operationId: searchRestaurants
      summary: Search restaurants by location and cuisine — raw wire shape (results[], stats)
      x-openweb:
        permission: read
        build:
          stable_id: grub0001
          tool_version: 2
          verified: true
      parameters:
        - name: latitude
          in: query
          required: true
          schema:
            type: number
          description: Latitude of delivery location (e.g. 40.7484 for Midtown Manhattan).
          example: 40.7484
        - name: longitude
          in: query
          required: true
          schema:
            type: number
          description: Longitude of delivery location (e.g. -73.9857 for Midtown Manhattan).
          example: -73.9857
        - name: searchTerm
          in: query
          required: false
          schema:
            type: string
          description: 'Cuisine or restaurant name to filter by (e.g. "pizza", "sushi", "Chinese").'
          example: pizza
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of results per page (max 50).
          example: 20
        - name: pageNum
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number for pagination (starts at 1).
          example: 1
        - name: orderMethod
          in: query
          required: false
          schema:
            type: string
            const: delivery
          description: Fixed — Grubhub search-listing always uses delivery order method.
        - name: locationMode
          in: query
          required: false
          schema:
            type: string
            const: DELIVERY
          description: Fixed — location mode for delivery search.
      responses:
        '200':
          description: Raw Grubhub search-listing payload. See SKILL.md for field mappings (ratings, delivery_fee/price cents, etc.).
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_metadata:
                    type: object
                    description: Opaque search metadata (includes location, time, request id).
                  stats:
                    type: object
                    properties:
                      total_results:
                        type: integer
                        description: Total matching restaurants.
                      result_count:
                        type: integer
                        description: Number of results in this page.
                  facets:
                    type: array
                    items:
                      type: object
                  results:
                    type: array
                    description: Restaurant records. Key fields documented in SKILL.md.
                    items:
                      type: object
                      properties:
                        restaurant_id:
                          type: string
                          description: Unique restaurant ID (use with getMenu and getDeliveryEstimate).
                        name:
                          type: string
                        logo:
                          type:
                            - string
                            - 'null'
                        cuisines:
                          type: array
                          items:
                            type: string
                        price_rating:
                          type: integer
                          description: Price level (1-4, dollar signs).
                        distance_from_location:
                          type:
                            - number
                            - string
                            - 'null'
                          description: Distance from delivery location in miles.
                        ratings:
                          type: object
                          properties:
                            rating_bayesian10_point:
                              type:
                                - number
                                - 'null'
                              description: Average rating (0-5 scale).
                            rating_count:
                              type: integer
                            too_few:
                              type: boolean
                        delivery_fee:
                          type: object
                          description: Fee in cents under .price (divide by 100 for USD).
                          properties:
                            price:
                              type: integer
                            currency:
                              type: string
                        delivery_estimate_range:
                          type:
                            - object
                            - 'null'
                          properties:
                            start_time_minutes:
                              type: integer
                            end_time_minutes:
                              type: integer
                        delivery_time_estimate_lower_bound:
                          type:
                            - integer
                            - 'null'
                        delivery_time_estimate_upper_bound:
                          type:
                            - integer
                            - 'null'
                        address:
                          type: object
                          properties:
                            street_address:
                              type:
                                - string
                                - 'null'
                            locality:
                              type: string
                            region:
                              type: string
                            zip:
                              type: string

  /restaurants/{restaurantId}~menu:
    get:
      operationId: getMenu
      summary: Get a restaurant's menu — raw wire `restaurant` shape (menu_category_list[].menu_item_list[])
      x-openweb:
        permission: read
        actual_path: /restaurants/{restaurantId}
        unwrap: restaurant
        build:
          stable_id: grub0002
          tool_version: 2
          verified: true
      parameters:
        - name: restaurantId
          in: path
          required: true
          schema:
            type: string
          description: 'Restaurant ID from searchRestaurants (e.g. "64436").'
          example: '64436'
        - name: hideChoiceCategories
          in: query
          required: false
          schema:
            type: boolean
            const: true
          description: Fixed — exclude choice (modifier) categories from the menu.
        - name: orderType
          in: query
          required: false
          schema:
            type: string
            const: standard
        - name: version
          in: query
          required: false
          schema:
            type: integer
            const: 4
        - name: variationId
          in: query
          required: false
          schema:
            type: string
            const: default
        - name: hideUnavailableMenuItems
          in: query
          required: false
          schema:
            type: boolean
            const: true
        - name: hideMenuItems
          in: query
          required: false
          schema:
            type: boolean
            const: false
        - name: showMenuItemCoupons
          in: query
          required: false
          schema:
            type: boolean
            const: true
        - name: includeOffers
          in: query
          required: false
          schema:
            type: boolean
            const: true
        - name: locationMode
          in: query
          required: false
          schema:
            type: string
            const: DELIVERY
      responses:
        '200':
          description: Raw `restaurant` payload. Prices live in .menu_item_list[].price.amount (cents).
          content:
            application/json:
              schema:
                type: object
                description: The `restaurant` branch of the wire response (unwrapped).
                properties:
                  restaurant_id:
                    type: string
                  name:
                    type: string
                    description: Restaurant name.
                  menu_category_list:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type:
                            - string
                            - integer
                        name:
                          type: string
                          description: Menu category name (e.g. "Appetizers", "Pizza").
                        menu_item_list:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                  - string
                                  - integer
                                description: Menu item ID.
                              name:
                                type: string
                              description:
                                type:
                                  - string
                                  - 'null'
                              popular:
                                type: boolean
                              price:
                                type: object
                                description: Price in cents under .amount (divide by 100 for USD).
                                properties:
                                  amount:
                                    type: integer
                                  currency:
                                    type: string

  /restaurants/{restaurantId}~delivery:
    get:
      operationId: getDeliveryEstimate
      summary: Get delivery / pickup availability and fees — raw wire `restaurant_availability` shape
      x-openweb:
        permission: read
        actual_path: /restaurants/{restaurantId}
        unwrap: restaurant_availability
        build:
          stable_id: grub0003
          tool_version: 2
          verified: true
      parameters:
        - name: restaurantId
          in: path
          required: true
          schema:
            type: string
          description: 'Restaurant ID from searchRestaurants (e.g. "64436").'
          example: '64436'
        - name: hideChoiceCategories
          in: query
          required: false
          schema:
            type: boolean
            const: true
        - name: orderType
          in: query
          required: false
          schema:
            type: string
            const: standard
        - name: version
          in: query
          required: false
          schema:
            type: integer
            const: 4
        - name: variationId
          in: query
          required: false
          schema:
            type: string
            const: default
        - name: hideUnavailableMenuItems
          in: query
          required: false
          schema:
            type: boolean
            const: true
        - name: hideMenuItems
          in: query
          required: false
          schema:
            type: boolean
            const: true
          description: Fixed — drop menu items from the payload; we only want availability here.
        - name: locationMode
          in: query
          required: false
          schema:
            type: string
            const: DELIVERY
      responses:
        '200':
          description: Raw `restaurant_availability` payload (unwrapped). Money fields in cents.
          content:
            application/json:
              schema:
                type: object
                properties:
                  restaurant_id:
                    type: string
                  open:
                    type: boolean
                  open_delivery:
                    type: boolean
                  open_pickup:
                    type: boolean
                  delivery_estimate:
                    type:
                      - integer
                      - 'null'
                    description: Legacy single-value minute estimate.
                  delivery_estimate_range_v2:
                    type: object
                    properties:
                      minimum:
                        type: integer
                      maximum:
                        type: integer
                  pickup_estimate_range_v2:
                    type: object
                    properties:
                      minimum:
                        type: integer
                      maximum:
                        type: integer
                  delivery_fee:
                    type: object
                    description: Fee in cents under .amount (divide by 100 for USD).
                    properties:
                      amount:
                        type: integer
                      currency:
                        type: string
                  order_minimum:
                    type: object
                    description: Minimum order amount in cents under .amount.
                    properties:
                      amount:
                        type: integer
                      currency:
                        type: string
                  sales_tax:
                    type:
                      - number
                      - 'null'
                    description: Sales tax rate (fractional, e.g. 0.08875).
