openapi: '3.1.0'
info:
  title: Craigslist
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-09T00:00:00Z'
    requires_auth: false
servers:
  - url: https://sfbay.craigslist.org
    x-openweb:
      transport: node
paths:
  /search/{category}:
    get:
      operationId: searchListings
      summary: Search classified listings by city and category with optional keyword
      x-openweb:
        permission: read
        build:
          stable_id: cl0001
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: craigslist
          operation: searchListings
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
          description: >-
            Category code (e.g. "apa" for apartments, "jjj" for jobs,
            "sss" for all for-sale, "ccc" for community, "ggg" for gigs).
          example: apa
        - name: city
          in: query
          required: false
          schema:
            type: string
            default: sfbay
          description: >-
            City subdomain (e.g. "sfbay", "newyork", "losangeles",
            "chicago", "seattle").
          example: sfbay
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Search keyword (e.g. "2br", "remote", "honda civic").
          example: 2br
      responses:
        '200':
          description: Search results from Craigslist.
          content:
            application/json:
              schema:
                type: object
                required: [resultCount, listings]
                properties:
                  resultCount:
                    type: integer
                    description: Number of listings returned.
                  listings:
                    type: array
                    items:
                      type: object
                      description: A classified listing summary.
                      required: [title, url]
                      properties:
                        title:
                          type: string
                          description: Listing title.
                        url:
                          type: string
                          description: Full URL to the listing page.
                        price:
                          type: [string, 'null']
                          description: Price string (e.g. "$1,200").
                        location:
                          type: [string, 'null']
                          description: Neighborhood or area name.
                        postId:
                          type: [string, 'null']
                          description: Craigslist numeric post ID.
  /{category}/d/{slug}/{id}:
    get:
      operationId: getListing
      summary: Get a specific listing's details — title, body, price, location, images, attributes
      x-openweb:
        permission: read
        build:
          stable_id: cl0002
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: craigslist
          operation: getListing
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
          description: >-
            Category path segment from the listing URL.
            Includes the subregion prefix (e.g. "eby/apa", "sfc/fuo", "sby/jjj").
          example: eby/apa
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: URL slug from the listing link (e.g. "berkeley-1br-1ba-apartment-bancroft-way").
          example: berkeley-1br-1ba-apartment-bancroft-way
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Craigslist post ID (e.g. "7929806627").
          example: '7929806627'
        - name: city
          in: query
          required: false
          schema:
            type: string
            default: sfbay
          description: City subdomain (e.g. "sfbay", "newyork").
          example: sfbay
      responses:
        '200':
          description: Full listing details.
          content:
            application/json:
              schema:
                type: object
                required: [title, body, url]
                properties:
                  title:
                    type: string
                    description: Listing title text.
                  price:
                    type: [string, 'null']
                    description: Price string (e.g. "$1,200").
                  body:
                    type: string
                    description: Full posting body text.
                  location:
                    type: [string, 'null']
                    description: Map address or neighborhood.
                  latitude:
                    type: [number, 'null']
                    description: Latitude from the embedded map.
                  longitude:
                    type: [number, 'null']
                    description: Longitude from the embedded map.
                  postedAt:
                    type: [string, 'null']
                    description: ISO datetime when the listing was posted.
                  updatedAt:
                    type: [string, 'null']
                    description: ISO datetime when the listing was last updated.
                  attributes:
                    type: array
                    description: Listing attributes (e.g. sqft, bedrooms, laundry).
                    items:
                      type: string
                  images:
                    type: array
                    description: URLs of listing images.
                    items:
                      type: string
                  url:
                    type: string
                    description: Canonical URL of the listing page.
  /:
    get:
      operationId: getCategories
      summary: List all available categories on Craigslist
      x-openweb:
        permission: read
        build:
          stable_id: cl0003
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: craigslist
          operation: getCategories
      parameters:
        - name: city
          in: query
          required: false
          schema:
            type: string
            default: sfbay
          description: City subdomain (e.g. "sfbay", "newyork").
          example: sfbay
      responses:
        '200':
          description: List of categories with codes.
          content:
            application/json:
              schema:
                type: object
                required: [city, categories]
                properties:
                  city:
                    type: string
                    description: City subdomain used for the request.
                  categories:
                    type: array
                    items:
                      type: object
                      description: A Craigslist category with its short code.
                      required: [name, code]
                      properties:
                        name:
                          type: string
                          description: Human-readable category name.
                        code:
                          type: string
                          description: Short code used in URLs (e.g. "apa", "jjj").
                        section:
                          type: [string, 'null']
                          description: Parent section heading (e.g. "housing", "jobs").
