openapi: 3.1.0
info:
  title: notion
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-06T02:30:00.000Z
    requires_auth: true
servers:
  - url: https://www.notion.so
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: notion_user_id
        header: x-notion-active-user-header
paths:
  /api/v3/search:
    post:
      operationId: searchPages
      summary: Search pages and databases in workspace
      x-openweb:
        permission: read
        build:
          stable_id: notion_search_pages
          tool_version: 2
          verified: true
          signals: [page-verified]
      parameters:
        - name: x-notion-space-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Workspace space ID (same as spaceId in body)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - query
                - spaceId
                - limit
                - source
                - filters
                - sort
              properties:
                type:
                  type: string
                  enum:
                    - BlocksInSpace
                  description: Search scope type
                query:
                  type: string
                  description: Search query text (empty string for recent items)
                spaceId:
                  type: string
                  format: uuid
                  description: Workspace space ID
                limit:
                  type: integer
                  default: 20
                  description: Max results to return
                source:
                  type: string
                  enum:
                    - quick_find
                  description: Search source context
                filters:
                  type: object
                  description: "Search filter constraints."
                  properties:
                    isDeletedOnly:
                      type: boolean
                      default: false
                      description: "Only return deleted pages."
                    excludeTemplates:
                      type: boolean
                      default: false
                      description: "Exclude template pages from results."
                    navigableBlockContentOnly:
                      type: boolean
                      default: false
                      description: "Only return navigable content blocks."
                    requireEditPermissions:
                      type: boolean
                      default: false
                      description: "Only return pages the user can edit."
                    includePublicPagesWithoutExplicitAccess:
                      type: boolean
                      default: false
                      description: "Include public pages not explicitly accessed."
                    ancestors:
                      type: array
                      items:
                        type: string
                      description: "Filter by ancestor block IDs."
                    createdBy:
                      type: array
                      items:
                        type: string
                      description: "Filter by creator user IDs."
                    editedBy:
                      type: array
                      items:
                        type: string
                      description: "Filter by editor user IDs."
                    lastEditedTime:
                      type: object
                      description: "Date range filter for last-edited time."
                    createdTime:
                      type: object
                      description: "Date range filter for creation time."
                    inTeams:
                      type: array
                      items:
                        type: string
                      description: "Filter by team IDs."
                    excludeSurrogateCollections:
                      type: boolean
                      default: false
                      description: "Exclude surrogate (system-generated) collections."
                    excludedParentCollectionIds:
                      type: array
                      items:
                        type: string
                      description: "Collection IDs to exclude from results."
                sort:
                  type: object
                  description: "Sort order for search results."
                  required:
                    - field
                  properties:
                    field:
                      type: string
                      enum:
                        - relevance
                        - lastEdited
                        - created
                      description: "Field to sort results by."
                    direction:
                      type: string
                      enum:
                        - asc
                        - desc
                      description: "Sort direction."
                peopleBlocksToInclude:
                  type: string
                  default: all
            example:
              type: BlocksInSpace
              query: meeting notes
              spaceId: "{spaceId}"
              limit: 20
              source: quick_find
              filters:
                isDeletedOnly: false
                excludeTemplates: false
                navigableBlockContentOnly: false
                requireEditPermissions: false
                includePublicPagesWithoutExplicitAccess: false
                ancestors: []
                createdBy: []
                editedBy: []
                lastEditedTime: {}
                createdTime: {}
                inTeams: []
                excludeSurrogateCollections: false
                excludedParentCollectionIds: []
              sort:
                field: relevance
              peopleBlocksToInclude: all
      responses:
        "200":
          description: Search results with matching blocks and record map
          content:
            application/json:
              schema:
                type: object
                required:
                  - results
                  - total
                  - recordMap
                properties:
                  results:
                    type: array
                    description: "Matching pages and databases."
                    items:
                      type: object
                      required:
                        - id
                        - score
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: "Block ID of matching page/database."
                        highlight:
                          type: object
                          description: "Highlighted text match."
                          properties:
                            text:
                              type: string
                              description: "Highlighted text snippet."
                        highlightBlockId:
                          type: string
                          format: uuid
                          description: "Block ID containing the highlighted match."
                        score:
                          type: number
                          description: "Relevance score."
                        spaceId:
                          type: string
                          format: uuid
                          description: "Workspace ID of the result."
                        isSurrogateCollection:
                          type: boolean
                          description: "Whether this is a system-generated collection."
                        badges:
                          type: array
                          description: "Result badges (e.g. shared, recent)."
                          items:
                            type: object
                  total:
                    type: integer
                    description: "Total matching results count."
                  recordMap:
                    type: object
                    description: "Associated records (blocks, collections, spaces)."
                    properties:
                      block:
                        type: object
                        description: "Block records keyed by block ID."
                        additionalProperties:
                          type: object
                      collection:
                        type: object
                        description: "Collection records keyed by collection ID."
                        additionalProperties:
                          type: object
                      space:
                        type: object
                        description: "Space records keyed by space ID."
                        additionalProperties:
                          type: object
  /api/v3/queryCollection:
    post:
      operationId: queryDatabase
      summary: Query a database (collection) with optional search and filters
      x-openweb:
        permission: read
        build:
          stable_id: notion_query_database
          tool_version: 2
          verified: true
          signals: [page-verified]
      parameters:
        - name: x-notion-space-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Workspace space ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - collection
                - collectionView
                - loader
              properties:
                collection:
                  type: object
                  description: "Target collection (database) reference."
                  required:
                    - id
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: "Collection (database) ID."
                collectionView:
                  type: object
                  description: "View to query through."
                  required:
                    - id
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: "View ID for the database."
                loader:
                  type: object
                  description: "Query configuration — type, reducers, search, filters."
                  required:
                    - type
                    - reducers
                  properties:
                    type:
                      type: string
                      enum:
                        - reducer
                      description: "Loader type (always \"reducer\")."
                    reducers:
                      type: object
                      description: "Reducer config for result grouping."
                      required:
                        - collection_group_results
                      properties:
                        collection_group_results:
                          type: object
                          description: "Group results reducer."
                          required:
                            - type
                          properties:
                            type:
                              type: string
                              enum:
                                - results
                              description: "Reducer output type."
                            limit:
                              type: integer
                              default: 50
                              description: "Max rows to return."
                    searchQuery:
                      type: string
                      description: "Optional text search within the database."
                      default: ""
                    userTimeZone:
                      type: string
                      description: "User timezone for date calculations."
                    filter:
                      type: object
                      description: "Optional filter object."
                      properties:
                        operator:
                          type: string
                          enum:
                            - and
                            - or
                          description: "Logical operator for combining filters."
                        filters:
                          type: array
                          description: "Filter conditions."
                          items:
                            type: object
            example:
              collection:
                id: 20615b89-eae6-800b-8cc4-000bcb6574a0
              collectionView:
                id: 20615b89-eae6-80a9-8c04-000cdbd80f0c
              loader:
                type: reducer
                reducers:
                  collection_group_results:
                    type: results
                    limit: 50
                searchQuery: ""
                userTimeZone: America/Los_Angeles
      responses:
        "200":
          description: Database rows with record map
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                  - recordMap
                properties:
                  result:
                    type: object
                    description: "Query result with reducer outputs."
                    required:
                      - type
                      - reducerResults
                    properties:
                      type:
                        type: string
                        description: "Result type identifier."
                      reducerResults:
                        type: object
                        description: "Reducer output keyed by reducer name."
                        required:
                          - collection_group_results
                        properties:
                          collection_group_results:
                            type: object
                            description: "Grouped query results."
                            required:
                              - blockIds
                            properties:
                              type:
                                type: string
                                description: "Result type."
                              blockIds:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                                description: "IDs of row blocks in the database."
                      sizeHint:
                        type: integer
                        description: "Estimated total row count."
                  recordMap:
                    type: object
                    description: "Associated records (blocks with row data, collection schema)."
                    required:
                      - block
                    properties:
                      block:
                        type: object
                        description: "Block records keyed by block ID."
                        additionalProperties:
                          type: object
                      collection:
                        type: object
                        description: "Collection records keyed by collection ID."
                        additionalProperties:
                          type: object
  /api/v3/loadPageChunk:
    post:
      operationId: getPage
      summary: Get a page's content — title, blocks, properties, parent info
      x-openweb:
        permission: read
        build:
          stable_id: notion_get_page
          tool_version: 2
          verified: true
          signals: [page-verified]
      parameters:
        - name: x-notion-space-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Workspace space ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - page
                - limit
                - cursor
                - chunkNumber
                - verticalColumns
              properties:
                page:
                  type: object
                  description: "Target page reference."
                  required:
                    - id
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: "Page block ID."
                limit:
                  type: integer
                  default: 100
                  description: "Max number of blocks to return per chunk."
                cursor:
                  type: object
                  description: "Pagination cursor (empty stack for first chunk)."
                  properties:
                    stack:
                      type: array
                      items:
                        type: array
                      default: []
                      description: "Cursor stack frames."
                chunkNumber:
                  type: integer
                  default: 0
                  description: "Chunk index (0 for first request)."
                verticalColumns:
                  type: boolean
                  default: false
                  description: "Include vertical column layout data."
            example:
              page:
                id: "{pageId}"
              limit: 100
              cursor:
                stack: []
              chunkNumber: 0
              verticalColumns: false
      responses:
        "200":
          description: Page content with blocks and record map
          content:
            application/json:
              schema:
                type: object
                required:
                  - recordMap
                properties:
                  recordMap:
                    type: object
                    description: "Block tree, collection schemas, and space metadata."
                    properties:
                      block:
                        type: object
                        description: "Block records keyed by block ID."
                        additionalProperties:
                          type: object
                          required: [value]
                          properties:
                            value:
                              type: object
                              description: "Block data — type, properties, content[], parent_id."
                      collection:
                        type: object
                        description: "Collection records keyed by collection ID."
                        additionalProperties:
                          type: object
                      space:
                        type: object
                        description: "Space records keyed by space ID."
                        additionalProperties:
                          type: object
                  cursor:
                    type: object
                    description: "Cursor for next chunk (empty stack means no more)."
                    required: [stack]
                    properties:
                      stack:
                        type: array
                        description: "Cursor stack frames."
                        items:
                          type: array
  /notion/pages:
    post:
      operationId: createPage
      summary: Create a new page in a workspace or under a parent page — returns page ID
      x-openweb:
        permission: write
        adapter:
          name: notion-api
          operation: createPage
        build:
          stable_id: notion_create_page
          tool_version: 2
          verified: true
          signals: [page-verified]
      parameters:
        - name: x-notion-space-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Workspace space ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: "Page title."
                parentId:
                  type: string
                  format: uuid
                  description: "Parent page ID. If omitted, creates at workspace top level (parent = space)."
            example:
              title: My New Page
      responses:
        "200":
          description: Created page details
          content:
            application/json:
              schema:
                type: object
                required:
                  - pageId
                  - title
                  - parentId
                  - parentTable
                properties:
                  pageId:
                    type: string
                    format: uuid
                    description: "ID of the newly created page."
                  title:
                    type: string
                    description: "Page title as set."
                  parentId:
                    type: string
                    format: uuid
                    description: "Parent container ID (space or page)."
                  parentTable:
                    type: string
                    enum:
                      - space
                      - block
                    description: "Parent type — \"space\" for top-level, \"block\" for nested."
  /notion/pages/{pageId}:
    delete:
      operationId: deletePage
      summary: Delete (trash) a page — moves it to trash, reversible from Notion UI
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: notion-api
          operation: deletePage
        build:
          stable_id: notion_delete_page
          tool_version: 2
          verified: true
          signals: [page-verified]
      parameters:
        - name: pageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Page block ID to delete
        - name: x-notion-space-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Workspace space ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
            example: {}
      responses:
        "200":
          description: Deleted page confirmation
          content:
            application/json:
              schema:
                type: object
                required:
                  - pageId
                  - deleted
                properties:
                  pageId:
                    type: string
                    format: uuid
                    description: "Page ID that was deleted."
                  deleted:
                    type: boolean
                    description: "Whether the deletion succeeded."
    patch:
      operationId: updatePage
      summary: Update a page's title — returns updated page info
      x-openweb:
        permission: write
        adapter:
          name: notion-api
          operation: updatePage
        build:
          stable_id: notion_update_page
          tool_version: 2
          verified: true
          signals: [page-verified]
      parameters:
        - name: pageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Page block ID to update
        - name: x-notion-space-id
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Workspace space ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: "New page title."
            example:
              title: Updated Page Title
      responses:
        "200":
          description: Updated page info
          content:
            application/json:
              schema:
                type: object
                required:
                  - pageId
                  - title
                  - updated
                properties:
                  pageId:
                    type: string
                    format: uuid
                    description: "Page ID that was updated."
                  title:
                    type: string
                    description: "New page title."
                  updated:
                    type: boolean
                    description: "Whether the update succeeded."
  /api/v3/getSpaces:
    post:
      operationId: getSpaces
      summary: Get all workspaces for the current user
      x-openweb:
        permission: read
        build:
          stable_id: notion_get_spaces
          tool_version: 2
          verified: true
          signals: [page-verified]
      parameters:
        - name: x-notion-space-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Workspace space ID (optional for this endpoint)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example: {}
      responses:
        "200":
          description: User workspaces with space details
          content:
            application/json:
              schema:
                type: object
                description: "Map of userId -> { space: { spaceId: { value: ... } } }"
                additionalProperties:
                  type: object
