openapi: 3.1.0
info:
  title: pinterest
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-01T23:48:05.685Z
    requires_auth: true
servers:
  - url: https://www.pinterest.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: csrftoken
        header: x-csrftoken
        scope: [POST, PUT, DELETE]
paths:
  /resource/BaseSearchResource/get/:
    get:
      operationId: searchPins
      summary: "Search pins by keyword — returns pin images, titles, links, board info, pinner info"
      x-openweb:
        permission: read
        build:
          stable_id: pinterest_searchPins_v1
          tool_version: 2
      parameters:
        - name: source_url
          in: query
          required: true
          schema:
            type: string
            default: /search/pins/?q=cats
          description: "Source URL path for the request context"
        - name: data
          in: query
          required: true
          schema:
            type: string
          description: 'JSON string with search options. Example: {"options":{"query":"cats","scope":"pins","page_size":25},"context":{}}'
          example: '{"options":{"query":"cats","scope":"pins","page_size":25},"context":{}}'
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
        - name: x-pinterest-appstate
          in: header
          required: true
          schema:
            type: string
            const: active
        - name: x-pinterest-pws-handler
          in: header
          required: true
          schema:
            type: string
            default: "www/search/[scope].js"
          description: "Pinterest PWS handler path"
        - name: x-pinterest-source-url
          in: header
          required: true
          schema:
            type: string
            default: /search/pins/?q=cats
          description: "Source URL for Pinterest tracking"
        - name: accept
          in: header
          required: true
          schema:
            type: string
            const: "application/json, text/javascript, */*, q=0.01"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_response:
                    type: object
                    properties:
                      status:
                        type: string
                      data:
                        type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                images:
                                  type: object
                                grid_title:
                                  type: string
                                description:
                                  type: string
                                link:
                                  type: string
                                  nullable: true
                                dominant_color:
                                  type: string
                                domain:
                                  type: string
                                pinner:
                                  type: object
                                board:
                                  type: object
                                created_at:
                                  type: string
                          bookmark:
                            type: string
                            nullable: true

  /resource/PinResource/get/:
    get:
      operationId: getPin
      summary: "Get pin details — image, title, description, link, board, pinner, comments, related pins"
      x-openweb:
        permission: read
        build:
          stable_id: pinterest_getPin_v1
          tool_version: 2
      parameters:
        - name: source_url
          in: query
          required: true
          schema:
            type: string
          description: "Source URL path, e.g. /pin/12345/"
          example: /pin/12345/
        - name: data
          in: query
          required: true
          schema:
            type: string
          description: 'JSON string with pin options. Example: {"options":{"id":"12345","field_set_key":"detailed"},"context":{}}'
          example: '{"options":{"id":"12345","field_set_key":"detailed"},"context":{}}'
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
        - name: x-pinterest-appstate
          in: header
          required: true
          schema:
            type: string
            const: active
        - name: x-pinterest-pws-handler
          in: header
          required: true
          schema:
            type: string
            default: "www/[...path].js"
          description: "Pinterest PWS handler path"
        - name: x-pinterest-source-url
          in: header
          required: true
          schema:
            type: string
            default: /pin/12345/
          description: "Source URL for Pinterest tracking"
        - name: accept
          in: header
          required: true
          schema:
            type: string
            const: "application/json, text/javascript, */*, q=0.01"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_response:
                    type: object
                    properties:
                      status:
                        type: string
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          type:
                            type: string
                          title:
                            type: string
                          description:
                            type: string
                          link:
                            type: string
                            nullable: true
                          images:
                            type: object
                          dominant_color:
                            type: string
                          pinner:
                            type: object
                          board:
                            type: object
                          comment_count:
                            type: integer
                          repin_count:
                            type: integer
                          reaction_counts:
                            type: object

  /resource/BoardResource/get/:
    get:
      operationId: getBoard
      summary: "Get board details — name, description, pin count, follower count, owner, cover images"
      x-openweb:
        permission: read
        build:
          stable_id: pinterest_getBoard_v1
          tool_version: 2
      parameters:
        - name: source_url
          in: query
          required: true
          schema:
            type: string
          description: "Source URL path, e.g. /username/board-name/"
          example: /WhoWhatWear/travel/
        - name: data
          in: query
          required: true
          schema:
            type: string
          description: 'JSON string with board options. Requires username and slug as separate fields. Example: {"options":{"username":"WhoWhatWear","slug":"travel","field_set_key":"detailed"},"context":{}}'
          example: '{"options":{"username":"WhoWhatWear","slug":"travel","field_set_key":"detailed"},"context":{}}'
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
        - name: x-pinterest-appstate
          in: header
          required: true
          schema:
            type: string
            const: active
        - name: x-pinterest-pws-handler
          in: header
          required: true
          schema:
            type: string
            default: "www/[...path].js"
          description: "Pinterest PWS handler path"
        - name: x-pinterest-source-url
          in: header
          required: true
          schema:
            type: string
            default: /
          description: "Source URL for Pinterest tracking"
        - name: accept
          in: header
          required: true
          schema:
            type: string
            const: "application/json, text/javascript, */*, q=0.01"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_response:
                    type: object
                    properties:
                      status:
                        type: string
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          description:
                            type: string
                          url:
                            type: string
                          pin_count:
                            type: integer
                          follower_count:
                            type: integer
                          owner:
                            type: object
                          image_cover_url:
                            type: string
                          privacy:
                            type: string

  /resource/UserResource/get/:
    get:
      operationId: getUserProfile
      summary: "Get user profile — username, full name, bio, follower/following counts, pin count, boards"
      x-openweb:
        permission: read
        build:
          stable_id: pinterest_getUserProfile_v1
          tool_version: 2
      parameters:
        - name: source_url
          in: query
          required: true
          schema:
            type: string
          description: "Source URL path, e.g. /username/"
          example: /pinterest/
        - name: data
          in: query
          required: true
          schema:
            type: string
          description: 'JSON string with user options. Use username OR user_id. Example: {"options":{"username":"pinterest","field_set_key":"profile"},"context":{}}'
          example: '{"options":{"username":"pinterest","field_set_key":"profile"},"context":{}}'
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
        - name: x-pinterest-appstate
          in: header
          required: true
          schema:
            type: string
            const: active
        - name: x-pinterest-pws-handler
          in: header
          required: true
          schema:
            type: string
            default: "www/[...path].js"
          description: "Pinterest PWS handler path"
        - name: x-pinterest-source-url
          in: header
          required: true
          schema:
            type: string
            default: /
          description: "Source URL for Pinterest tracking"
        - name: accept
          in: header
          required: true
          schema:
            type: string
            const: "application/json, text/javascript, */*, q=0.01"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_response:
                    type: object
                    properties:
                      status:
                        type: string
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          username:
                            type: string
                          full_name:
                            type: string
                          about:
                            type: string
                          follower_count:
                            type: integer
                          following_count:
                            type: integer
                          pin_count:
                            type: integer
                          board_count:
                            type: integer
                          image_medium_url:
                            type: string
                          domain_url:
                            type: string
                          website_url:
                            type: string

  /resource/AdvancedTypeaheadResource/get/:
    get:
      operationId: searchTypeahead
      summary: "Search typeahead suggestions — returns pin, board, and user suggestions as you type"
      x-openweb:
        permission: read
        build:
          stable_id: pinterest_searchTypeahead_v1
          tool_version: 2
      parameters:
        - name: source_url
          in: query
          required: true
          schema:
            type: string
            default: /
          description: "Source URL path"
        - name: data
          in: query
          required: true
          schema:
            type: string
          description: 'JSON string with typeahead options. Example: {"options":{"term":"cats","count":5},"context":{}}'
          example: '{"options":{"term":"cats","count":5},"context":{}}'
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
        - name: x-pinterest-appstate
          in: header
          required: true
          schema:
            type: string
            const: active
        - name: x-pinterest-pws-handler
          in: header
          required: true
          schema:
            type: string
            default: "www/index.js"
          description: "Pinterest PWS handler path"
        - name: x-pinterest-source-url
          in: header
          required: true
          schema:
            type: string
            default: /
          description: "Source URL for Pinterest tracking"
        - name: accept
          in: header
          required: true
          schema:
            type: string
            const: "application/json, text/javascript, */*, q=0.01"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_response:
                    type: object
                    properties:
                      status:
                        type: string
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                label:
                                  type: string
                                type:
                                  type: string
                                id:
                                  type: string
                                images:
                                  type: object

  /resource/RepinResource/create/:
    post:
      operationId: savePin
      summary: "Save (repin) a pin to one of your boards — requires authenticated session"
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: pinterest_savePin_v1
          tool_version: 2
      parameters:
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
        - name: x-pinterest-appstate
          in: header
          required: true
          schema:
            type: string
            const: active
        - name: x-pinterest-source-url
          in: header
          required: true
          schema:
            type: string
            default: /
          description: "Source URL for Pinterest tracking"
        - name: accept
          in: header
          required: true
          schema:
            type: string
            const: "application/json, text/javascript, */*, q=0.01"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pin_id
                - board_id
              properties:
                pin_id:
                  type: string
                  description: "ID of the pin to save. Get from searchPins or getPin"
                board_id:
                  type: string
                  description: "ID of the board to save the pin to. Get from getBoard"
                section_id:
                  type: string
                  description: "Optional board section ID to save the pin into"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_response:
                    type: object
                    properties:
                      status:
                        type: string
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          board:
                            type: object
                          pinner:
                            type: object

  /resource/SavePinResource/delete/:
    post:
      operationId: unsavePin
      summary: "Unsave (remove) a saved pin from a board — requires authenticated session"
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: pinterest_unsavePin_v1
          tool_version: 2
      parameters:
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
        - name: x-pinterest-appstate
          in: header
          required: true
          schema:
            type: string
            const: active
        - name: x-pinterest-source-url
          in: header
          required: true
          schema:
            type: string
            default: /
          description: "Source URL for Pinterest tracking"
        - name: accept
          in: header
          required: true
          schema:
            type: string
            const: "application/json, text/javascript, */*, q=0.01"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pin_id
                - board_id
              properties:
                pin_id:
                  type: string
                  description: "ID of the pin to unsave"
                board_id:
                  type: string
                  description: "ID of the board to remove the pin from"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_response:
                    type: object
                    properties:
                      status:
                        type: string

  /resource/BoardFollowResource/create/:
    post:
      operationId: followBoard
      summary: "Follow a board — requires authenticated session"
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: pinterest_followBoard_v1
          tool_version: 2
      parameters:
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
        - name: x-pinterest-appstate
          in: header
          required: true
          schema:
            type: string
            const: active
        - name: x-pinterest-source-url
          in: header
          required: true
          schema:
            type: string
            default: /
          description: "Source URL for Pinterest tracking"
        - name: accept
          in: header
          required: true
          schema:
            type: string
            const: "application/json, text/javascript, */*, q=0.01"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - board_id
              properties:
                board_id:
                  type: string
                  description: "ID of the board to follow. Get from getBoard"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_response:
                    type: object
                    properties:
                      status:
                        type: string
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          url:
                            type: string

  /resource/BoardFollowResource/delete/:
    post:
      operationId: unfollowBoard
      summary: "Unfollow a board — requires authenticated session"
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: pinterest_unfollowBoard_v1
          tool_version: 2
      parameters:
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
        - name: x-pinterest-appstate
          in: header
          required: true
          schema:
            type: string
            const: active
        - name: x-pinterest-source-url
          in: header
          required: true
          schema:
            type: string
            default: /
          description: "Source URL for Pinterest tracking"
        - name: accept
          in: header
          required: true
          schema:
            type: string
            const: "application/json, text/javascript, */*, q=0.01"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - board_id
              properties:
                board_id:
                  type: string
                  description: "ID of the board to unfollow"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_response:
                    type: object
                    properties:
                      status:
                        type: string

  /resource/UserHomefeedResource/get/:
    get:
      operationId: getHomeFeed
      summary: "Get personalized home feed — returns recommended pins based on user interests"
      x-openweb:
        permission: read
        build:
          stable_id: pinterest_getHomeFeed_v1
          tool_version: 2
      parameters:
        - name: source_url
          in: query
          required: true
          schema:
            type: string
            default: /
          description: "Source URL path"
        - name: data
          in: query
          required: true
          schema:
            type: string
          description: 'JSON string with feed options. Example: {"options":{"field_set_key":"hifi","in_nux":false,"prependPartner":false,"page_size":25},"context":{}}'
          example: '{"options":{"field_set_key":"hifi","in_nux":false,"prependPartner":false,"page_size":25},"context":{}}'
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
        - name: x-pinterest-appstate
          in: header
          required: true
          schema:
            type: string
            const: active
        - name: x-pinterest-pws-handler
          in: header
          required: true
          schema:
            type: string
            default: "www/index.js"
          description: "Pinterest PWS handler path"
        - name: x-pinterest-source-url
          in: header
          required: true
          schema:
            type: string
            default: /
          description: "Source URL for Pinterest tracking"
        - name: accept
          in: header
          required: true
          schema:
            type: string
            const: "application/json, text/javascript, */*, q=0.01"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_response:
                    type: object
                    properties:
                      status:
                        type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            type:
                              type: string
                            images:
                              type: object
                            grid_title:
                              type: string
                            description:
                              type: string
                            link:
                              type: string
                              nullable: true
                            pinner:
                              type: object
                            board:
                              type: object
                      bookmark:
                        type: string
                        nullable: true

  /resource/NewsHubResource/get/:
    get:
      operationId: getNotifications
      summary: "Get notification feed — recent activity like repins, follows, comments on your pins"
      x-openweb:
        permission: read
        build:
          stable_id: pinterest_getNotifications_v1
          tool_version: 2
      parameters:
        - name: source_url
          in: query
          required: true
          schema:
            type: string
            default: /notifications/
          description: "Source URL path"
        - name: data
          in: query
          required: true
          schema:
            type: string
          description: 'JSON string with notification options. Example: {"options":{"field_set_key":"default","page_size":25},"context":{}}'
          example: '{"options":{"field_set_key":"default","page_size":25},"context":{}}'
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
        - name: x-pinterest-appstate
          in: header
          required: true
          schema:
            type: string
            const: active
        - name: x-pinterest-pws-handler
          in: header
          required: true
          schema:
            type: string
            default: "www/notifications.js"
          description: "Pinterest PWS handler path"
        - name: x-pinterest-source-url
          in: header
          required: true
          schema:
            type: string
            default: /notifications/
          description: "Source URL for Pinterest tracking"
        - name: accept
          in: header
          required: true
          schema:
            type: string
            const: "application/json, text/javascript, */*, q=0.01"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_response:
                    type: object
                    properties:
                      status:
                        type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            type:
                              type: string
                            message:
                              type: string
                            timestamp:
                              type: string
                            actors:
                              type: array
                              items:
                                type: object
                            target:
                              type: object
                      bookmark:
                        type: string
                        nullable: true
