openapi: "3.1.0"
info:
  title: Quora
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    compiled_at: "2026-04-09T00:00:00Z"
    requires_auth: false
servers:
  - url: https://www.quora.com
    x-openweb:
      transport: page
paths:
  /search:
    get:
      operationId: searchQuestions
      summary: "Search questions by keyword — title, answer count, follower count, slug"
      x-openweb:
        permission: read
        adapter:
          name: quora
          operation: searchQuestions
        build:
          verified: true
          stable_id: quora0001
          signature_id: quora0001s
          tool_version: 1
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: "Search query — keyword or phrase (e.g. 'machine learning', 'best books')."
          example: "python programming"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: "Max results to return (max 25)."
      responses:
        "200":
          description: Search results with question summaries.
          content:
            application/json:
              schema:
                type: object
                required:
                  - questions
                  - hasMore
                properties:
                  questions:
                    type: array
                    items:
                      type: object
                      required:
                        - slug
                        - title
                      properties:
                        qid:
                          type: ['integer', 'null']
                          description: "Unique question ID (null when extracted from DOM)."
                        slug:
                          type: string
                          description: "URL slug (use as input to getQuestion/getAnswers)."
                        title:
                          type: string
                          description: "Question title (plain text)."
                        answerCount:
                          type: integer
                          description: "Number of answers."
                        followerCount:
                          type: integer
                          description: "Number of followers."
                  hasMore:
                    type: boolean
                    description: "Whether more results exist."

  /question:
    get:
      operationId: getQuestion
      summary: "Get question details — title, answer count, followers, topics, top answers preview"
      x-openweb:
        permission: read
        adapter:
          name: quora
          operation: getQuestion
        build:
          verified: true
          stable_id: quora0002
          signature_id: quora0002s
          tool_version: 1
      parameters:
        - name: slug
          in: query
          required: true
          schema:
            type: string
          description: "Question URL slug (from searchQuestions)."
          example: "What-is-JavaScript"
      responses:
        "200":
          description: Question details with top answer previews.
          content:
            application/json:
              schema:
                type: object
                required:
                  - title
                properties:
                  title:
                    type: string
                    description: "Question title."
                  answerCount:
                    type: integer
                    description: "Total number of answers."
                  followerCount:
                    type: string
                    description: "Number of followers (may include K/M suffix)."
                  topics:
                    type: array
                    items:
                      type: string
                    description: "Related topics."
                  topAnswers:
                    type: array
                    items:
                      type: object
                      required:
                        - author
                        - content
                      properties:
                        author:
                          type: string
                          description: "Answer author name."
                        credential:
                          type: string
                          description: "Author credential or tagline."
                        content:
                          type: string
                          description: "Answer preview (first ~500 chars)."
                        upvotes:
                          type: string
                          description: "Upvote count."
                    description: "Top 3 answer previews."

  /answers:
    get:
      operationId: getAnswers
      summary: "Get answers for a question — author, content, upvotes, views, timestamps (via GraphQL)"
      x-openweb:
        permission: read
        adapter:
          name: quora
          operation: getAnswers
        build:
          verified: true
          stable_id: quora0003
          signature_id: quora0003s
          tool_version: 1
      parameters:
        - name: slug
          in: query
          required: true
          schema:
            type: string
          description: "Question URL slug (from searchQuestions)."
          example: "What-is-JavaScript"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: "Max answers to return (max 20)."
      responses:
        "200":
          description: Answers for the question.
          content:
            application/json:
              schema:
                type: object
                required:
                  - slug
                  - answers
                properties:
                  slug:
                    type: string
                    description: "Question slug."
                  title:
                    type: string
                    description: "Question title."
                  answers:
                    type: array
                    items:
                      type: object
                      required:
                        - author
                        - content
                      properties:
                        author:
                          type: string
                          description: "Author name."
                        authorUrl:
                          type: string
                          description: "Author profile URL path."
                        credential:
                          type: string
                          description: "Author credential or tagline."
                        content:
                          type: string
                          description: "Full answer text."
                        upvotes:
                          type: string
                          description: "Upvote count."
                        views:
                          type: string
                          description: "View count."
                        createdAt:
                          type: string
                          description: "Answer creation timestamp (ISO 8601)."

  /profile:
    get:
      operationId: getProfile
      summary: "Get user profile — name, bio, follower count, answer count, topics"
      x-openweb:
        permission: read
        adapter:
          name: quora
          operation: getProfile
        build:
          verified: true
          stable_id: quora0004
          signature_id: quora0004s
          tool_version: 1
      parameters:
        - name: username
          in: query
          required: true
          schema:
            type: string
          description: "Profile URL slug (e.g. 'Adam-DAngelo')."
          example: "Adam-DAngelo"
      responses:
        "200":
          description: User profile.
          content:
            application/json:
              schema:
                type: object
                required:
                  - name
                properties:
                  name:
                    type: string
                    description: "Display name."
                  bio:
                    type: string
                    description: "Profile bio/tagline."
                  profileImageUrl:
                    type: string
                    description: "Profile image URL."
                  followers:
                    type: string
                    description: "Follower count (may include K/M suffix)."
                  answers:
                    type: string
                    description: "Answer count."
                  questions:
                    type: string
                    description: "Question count."
                  posts:
                    type: string
                    description: "Post count."
                  knownFor:
                    type: array
                    items:
                      type: string
                    description: "Expertise topics."
