openapi: '3.1.0'
info:
  title: Trip.com / Ctrip
  version: '1.1'
  x-openweb:
    spec_version: '2.0'
    requires_auth: false
servers:
- url: https://us.trip.com
  x-openweb:
    transport: page
    auth:
      type: cookie_session
paths:
  /restapi/soa2/27015/FlightListSearch:
    post:
      operationId: searchFlights
      summary: >-
        Search flights by route and date — itinerary list with airline, departure/arrival times,
        stops, duration, price per cabin class, booking token
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: searchFlights
        build:
          stable_id: ct0001
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - searchCriteria
              properties:
                mode:
                  type: integer
                  default: 0
                searchCriteria:
                  type: object
                  required:
                  - tripType
                  - journeyInfoTypes
                  - passengerInfoType
                  properties:
                    grade:
                      type: integer
                      default: 3
                    realGrade:
                      type: integer
                      default: 1
                    tripType:
                      type: integer
                      description: '1 = one-way, 2 = round-trip.'
                      default: 1
                    journeyNo:
                      type: integer
                      default: 1
                    passengerInfoType:
                      type: object
                      properties:
                        adultCount:
                          type: integer
                          default: 1
                        childCount:
                          type: integer
                          default: 0
                        infantCount:
                          type: integer
                          default: 0
                    journeyInfoTypes:
                      type: array
                      items:
                        type: object
                        required:
                        - departDate
                        - departCode
                        - arriveCode
                        properties:
                          journeyNo:
                            type: integer
                            default: 1
                          departDate:
                            type: string
                            description: 'Departure date (YYYY-MM-DD).'
                          departCode:
                            type: string
                            description: 'Departure city code (e.g., NYC, SHA, BJS).'
                          arriveCode:
                            type: string
                            description: 'Arrival city code (e.g., SHA, LON, TYO).'
                          departAirport:
                            type: string
                            default: ''
                          arriveAirport:
                            type: string
                            default: ''
                sortInfoType:
                  type: object
                  properties:
                    direction:
                      type: boolean
                      default: true
                    orderBy:
                      type: string
                      default: Direct
                    topList:
                      type: array
                      items:
                        type: string
                      default: []
                Head:
                  type: object
                  properties:
                    Locale:
                      type: string
                      default: en-US
                    Currency:
                      type: string
                      default: USD
                    Group:
                      type: string
                      default: Trip
                    Source:
                      type: string
                      default: ONLINE
                    Version:
                      type: string
                      default: '3'
      responses:
        '200':
          description: Flight search results with itineraries, airlines, and prices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      flightItineraryList:
                        type: array
                        items:
                          type: object
                          properties:
                            itineraryId:
                              type: string
                            flightSegments:
                              type: array
                              items:
                                type: object
                                properties:
                                  flightNo:
                                    type: string
                                  airlineName:
                                    type: string
                                  departDateTime:
                                    type: string
                                  arriveDateTime:
                                    type: string
                                  departAirport:
                                    type: string
                                  arriveAirport:
                                    type: string
                                  duration:
                                    type: integer
                                    description: Flight duration in minutes.
                                  stopCount:
                                    type: integer
                            priceList:
                              type: array
                              items:
                                type: object
                                properties:
                                  price:
                                    type: number
                                  currency:
                                    type: string
                                  cabinClass:
                                    type: string
                      token:
                        type: string
                        description: Session token for paginated or follow-up requests.
                  status:
                    type: integer
                  head:
                    type: object
                    properties:
                      retCode:
                        type: string
                      retMsg:
                        type: string
                  ResponseStatus:
                    type: object
                    nullable: true
                    properties:
                      Ack:
                        type: string
                  basicInfo:
                    type: object
                    nullable: true
  /restapi/soa2/14427/BatchGetFlightComfort:
    post:
      operationId: getFlightComfort
      summary: >-
        Get comfort ratings for flight segments — seat pitch, WiFi availability,
        entertainment system, power outlet, aircraft type
      x-openweb:
        permission: read
        adapter: false
        build:
          stable_id: ct0003
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - FlightSegmentList
              properties:
                FlightSegmentList:
                  type: array
                  items:
                    type: object
                    required:
                    - dCity
                    - aCity
                    - dDate
                    - flightNo
                    properties:
                      dCity:
                        type: string
                        description: Departure city code.
                      aCity:
                        type: string
                        description: Arrival city code.
                      dDate:
                        type: string
                        description: Departure date (YYYY-MM-DD).
                      flightNo:
                        type: string
                        description: 'Flight number (e.g., CX831).'
                Head:
                  type: object
                  properties:
                    Locale:
                      type: string
                      default: en-US
                    Currency:
                      type: string
                      default: USD
                    Group:
                      type: string
                      default: Trip
                    Source:
                      type: string
                      default: ONLINE
      responses:
        '200':
          description: Comfort data per flight segment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ResponseStatus:
                    type: object
                    properties:
                      Ack:
                        type: string
                  flightComfortList:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        flightNo:
                          type: string
                        aircraftType:
                          type: string
                        seatPitch:
                          type: string
                        hasWifi:
                          type: boolean
                        hasEntertainment:
                          type: boolean
                        hasPower:
                          type: boolean
                required:
                - flightComfortList
  /restapi/soa2/27501/getGeneralInfo:
    post:
      operationId: getGeneralInfo
      summary: >-
        Get general site info and announcements — travel tips, promotions,
        notices, saved preferences
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: getGeneralInfo
        build:
          stable_id: ct0004
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                showMore:
                  type: boolean
                  default: true
                Head:
                  type: object
                  properties:
                    Locale:
                      type: string
                      default: en-US
                    Currency:
                      type: string
                      default: USD
                    Group:
                      type: string
                      default: Trip
                    Source:
                      type: string
                      default: ONLINE
                localTime:
                  type: string
                  description: 'Local date (YYYY-MM-DD).'
      responses:
        '200':
          description: General site info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  savedTips:
                    type: boolean
                  travelTipsList:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        content:
                          type: string
                        imageUrl:
                          type: string
                        type:
                          type: string
                  promotionList:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        imageUrl:
                          type: string
                        linkUrl:
                          type: string
                  noticeList:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        content:
                          type: string
                        type:
                          type: string
                required: []
  /restapi/soa2/20400/getGsHotSearchForTripOnline:
    post:
      operationId: getHotDestinations
      summary: >-
        Get trending travel destinations — city name, district ID, type,
        travel guide URL, total count
      servers:
      - url: https://www.trip.com
        x-openweb:
          transport: page
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: getHotDestinations
        build:
          stable_id: ct0005
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lang:
                  type: string
                  default: en
                locale:
                  type: string
                  default: en-US
                currency:
                  type: string
                  default: USD
                viewDistrictId:
                  type: string
                  description: 'District to get recommendations for (e.g., "2" = Shanghai).'
                dataType:
                  type: string
                  default: destinations
                head:
                  type: object
                  properties:
                    syscode:
                      type: string
                      default: '999'
                    locale:
                      type: string
                      default: en-US
      responses:
        '200':
          description: Trending destinations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: District ID (use with getDestinationInfo).
                        code:
                          type: string
                          description: 'District code (e.g., district_120518).'
                        word:
                          type: string
                          description: Destination name.
                        type:
                          type: string
                        url:
                          type: string
                          description: Travel guide URL path.
                        iconName:
                          type: string
                  total:
                    type: integer
                required:
                - data
  /restapi/soa2/31699/searchListForWeb:
    post:
      operationId: searchTrains
      summary: >-
        Search trains by route and date — train number, departure/arrival times,
        duration, seat types with availability and prices
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: searchTrains
        build:
          stable_id: ct0006
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                departStation:
                  type: string
                  description: 'Departure station code (← getTrainStations).'
                arriveStation:
                  type: string
                  description: 'Arrival station code (← getTrainStations).'
                departDate:
                  type: string
                  description: 'Departure date (YYYY-MM-DD).'
                head:
                  type: object
                  description: Request context with locale, currency, device info.
                  properties:
                    locale:
                      type: string
                      default: en-US
                    currency:
                      type: string
                      default: USD
      responses:
        '200':
          description: Train search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      trainList:
                        type: array
                        items:
                          type: object
                          properties:
                            trainNumber:
                              type: string
                            departTime:
                              type: string
                            arriveTime:
                              type: string
                            duration:
                              type: string
                            departStation:
                              type: string
                            arriveStation:
                              type: string
                            seatList:
                              type: array
                              items:
                                type: object
                                properties:
                                  seatType:
                                    type: string
                                  price:
                                    type: number
                                  available:
                                    type: integer
                  head:
                    type: object
                    properties:
                      code:
                        type: string
                      msg:
                        type: string
                  ResponseStatus:
                    type: object
                    nullable: true
                    properties:
                      Ack:
                        type: string
  /restapi/soa2/36040/loadStationList:
    post:
      operationId: getTrainStations
      summary: >-
        Get list of train stations — station name, code, country, city name,
        for use as input to searchTrains
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: getTrainStations
        build:
          stable_id: ct0007
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                head:
                  type: object
                  description: Request context.
                  properties:
                    locale:
                      type: string
                      default: en-US
                    currency:
                      type: string
                      default: USD
      responses:
        '200':
          description: List of train stations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      stationList:
                        type: array
                        items:
                          type: object
                          properties:
                            stationName:
                              type: string
                            stationCode:
                              type: string
                            cityName:
                              type: string
                            countryName:
                              type: string
                  head:
                    type: object
                    properties:
                      code:
                        type: string
                      msg:
                        type: string
                  ResponseStatus:
                    type: object
                    nullable: true
                    properties:
                      Ack:
                        type: string
  /restapi/soa2/14427/poiSearch:
    post:
      operationId: searchPOI
      summary: >-
        Search cities, airports, and POIs by keyword — city name, IATA code,
        country, district ID, for use as autocomplete in flight/hotel/train search
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: searchPOI
        build:
          stable_id: ct0008
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: Search keyword (city or airport name).
                mode:
                  type: string
                  default: '0'
                tripType:
                  type: string
                  default: OW
                  description: 'OW = one-way, RT = round-trip.'
                Head:
                  type: object
                  properties:
                    Locale:
                      type: string
                      default: en-US
                    Currency:
                      type: string
                      default: USD
                    Group:
                      type: string
                      default: Trip
                    Source:
                      type: string
                      default: ONLINE
      responses:
        '200':
          description: Matching cities and airports.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        code:
                          type: string
                          description: City or airport IATA code.
                        type:
                          type: string
                          description: 'POI type (city, airport, etc.).'
                        countryName:
                          type: string
                        districtId:
                          type: integer
                  isRecommend:
                    type: [boolean, integer, "null"]
                  key:
                    type: string
                    nullable: true
                required:
                - results
  /restapi/soa2/23044/getDestinationPageInfo.json:
    post:
      operationId: getDestinationInfo
      summary: >-
        Get travel guide for a destination — recommended sights, hotels,
        restaurants, related districts, hot comments
      servers:
      - url: https://www.trip.com
        x-openweb:
          transport: page
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: getDestinationInfo
        build:
          stable_id: ct0009
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - districtId
              properties:
                districtId:
                  type: string
                  description: 'District/city ID (e.g., "2" = Shanghai, "248" = New York ← getHotDestinations or searchPOI).'
                moduleList:
                  type: array
                  items:
                    type: string
                  description: >-
                    Modules to load. Options: hotDistrict, classicRecommendHotel,
                    classicRecommendSight, classicRecommendRestaurant, toursAndTickets,
                    localExperienceMoments, hotComment, relateDistrict, advertisement.
                    Omit for overview.
                head:
                  type: object
                  properties:
                    syscode:
                      type: string
                      default: '999'
                    locale:
                      type: string
                      default: en-US
      responses:
        '200':
          description: Destination guide data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                  data:
                    type: object
                    nullable: true
                    properties:
                      hotDistrict:
                        type: object
                        nullable: true
                        properties:
                          title:
                            type: string
                          list:
                            type: array
                            items:
                              type: object
                              properties:
                                districtId:
                                  type: integer
                                districtName:
                                  type: string
                                imageUrl:
                                  type: string
                      classicRecommendSight:
                        type: object
                        nullable: true
                        properties:
                          title:
                            type: string
                          list:
                            type: array
                            items:
                              type: object
                              properties:
                                poiId:
                                  type: integer
                                poiName:
                                  type: string
                                rating:
                                  type: number
                                imageUrl:
                                  type: string
                                commentCount:
                                  type: integer
                      classicRecommendHotel:
                        type: object
                        nullable: true
                        properties:
                          title:
                            type: string
                          list:
                            type: array
                            items:
                              type: object
                              properties:
                                hotelId:
                                  type: integer
                                hotelName:
                                  type: string
                                rating:
                                  type: number
                                price:
                                  type: number
                                currency:
                                  type: string
                                imageUrl:
                                  type: string
                      classicRecommendRestaurant:
                        type: object
                        nullable: true
                        properties:
                          title:
                            type: string
                          list:
                            type: array
                            items:
                              type: object
                              properties:
                                poiId:
                                  type: integer
                                poiName:
                                  type: string
                                rating:
                                  type: number
                                imageUrl:
                                  type: string
                      toursAndTickets:
                        type: object
                        nullable: true
                        properties:
                          title:
                            type: string
                          list:
                            type: array
                            items:
                              type: object
                              properties:
                                productId:
                                  type: integer
                                productName:
                                  type: string
                                price:
                                  type: number
                                currency:
                                  type: string
                                imageUrl:
                                  type: string
                      hotComment:
                        type: object
                        nullable: true
                        properties:
                          title:
                            type: string
                          list:
                            type: array
                            items:
                              type: object
                              properties:
                                userName:
                                  type: string
                                content:
                                  type: string
                                rating:
                                  type: number
                                publishDate:
                                  type: string
                      relateDistrict:
                        type: object
                        nullable: true
                        properties:
                          title:
                            type: string
                          list:
                            type: array
                            items:
                              type: object
                              properties:
                                districtId:
                                  type: integer
                                districtName:
                                  type: string
                                imageUrl:
                                  type: string
  /restapi/soa2/28181/json/getByScenesCode:
    post:
      operationId: searchAttractions
      summary: >-
        Search attractions and things-to-do by city — attraction name, rating,
        price, image, category, sort options
      servers:
      - url: https://www.trip.com
        x-openweb:
          transport: page
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: searchAttractions
        build:
          stable_id: ct0010
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                baseInfo:
                  type: object
                  properties:
                    channelId:
                      type: integer
                      default: 24
                    locale:
                      type: string
                      default: en-US
                    currency:
                      type: string
                      default: USD
                sceneParams:
                  type: array
                  items:
                    type: object
                    properties:
                      sceneCode:
                        type: string
                        description: Scene code for the attractions list.
                      filterList:
                        type: array
                        items:
                          type: object
                          properties:
                            filterType:
                              type: string
                            filterValue:
                              type: string
                head:
                  type: object
                  properties:
                    syscode:
                      type: string
                      default: '999'
                    locale:
                      type: string
                      default: en-US
      responses:
        '200':
          description: Attractions and tours listings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  typename:
                    type: string
                    nullable: true
                  serverTime:
                    type: string
                    nullable: true
                  list:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        productId:
                          type: integer
                        productName:
                          type: string
                        rating:
                          type: number
                        price:
                          type: number
                        currency:
                          type: string
                        imageUrl:
                          type: string
                        category:
                          type: string
                  authUser:
                    type: object
                    nullable: true
                  claimAllButtonText:
                    type: string
                    nullable: true
                  nextAvailableTime:
                    type: string
                    nullable: true
                  disableClaimAllButton:
                    type: boolean
                    nullable: true
                  sortRuleList:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        sortType:
                          type: string
                        sortName:
                          type: string
                  resultStatus:
                    type: object
                    nullable: true
                    properties:
                      flag:
                        type: string
                      success:
                        type: boolean
                      code:
                        type: integer
                      errorCode:
                        type: string
                      errorMessage:
                        type: string
                required:
                - list
  /restapi/soa2/14427/getFlightFilters:
    post:
      operationId: getFlightFilters
      summary: >-
        Get available flight search filters — airline options, stop count,
        departure time ranges, cabin classes, price ranges
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: getFlightFilters
        build:
          stable_id: ct0011
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              properties:
                token:
                  type: string
                  description: 'Search session token (← searchFlights response).'
                Head:
                  type: object
                  properties:
                    Locale:
                      type: string
                      default: en-US
                    Currency:
                      type: string
                      default: USD
                    Group:
                      type: string
                      default: Trip
                    Source:
                      type: string
                      default: ONLINE
      responses:
        '200':
          description: Available filter options for current search.
          content:
            application/json:
              schema:
                type: object
                properties:
                  filterList:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        filterType:
                          type: string
                        filterName:
                          type: string
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              label:
                                type: string
                              value:
                                type: string
                              count:
                                type: integer
                required:
                - filterList
  /restapi/soa2/28181/json/getDetailV2:
    post:
      operationId: getAttractionDetail
      summary: >-
        Get attraction detail page — description, photos, reviews summary,
        ticket options, opening hours, location
      servers:
      - url: https://www.trip.com
        x-openweb:
          transport: page
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: getAttractionDetail
        build:
          stable_id: ct0012
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - productId
              properties:
                productId:
                  type: integer
                  description: 'Attraction product ID (← searchAttractions).'
                baseInfo:
                  type: object
                  properties:
                    channelId:
                      type: integer
                      default: 24
                    locale:
                      type: string
                      default: en-US
                    currency:
                      type: string
                      default: USD
                head:
                  type: object
                  properties:
                    syscode:
                      type: string
                      default: '999'
                    locale:
                      type: string
                      default: en-US
      responses:
        '200':
          description: Attraction detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  productName:
                    type: string
                  description:
                    type: string
                  rating:
                    type: number
                  reviewCount:
                    type: integer
                  address:
                    type: string
                  openingHours:
                    type: string
                  imageList:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                  ticketList:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        ticketName:
                          type: string
                        price:
                          type: number
                        currency:
                          type: string
                  resultStatus:
                    type: object
                    properties:
                      success:
                        type: boolean
                required:
                - description
  /restapi/soa2/36040/getTrainCalendar:
    post:
      operationId: getTrainCalendar
      summary: >-
        Get train availability calendar — daily availability status, lowest
        price per day, route info for schedule planning
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: getTrainCalendar
        build:
          stable_id: ct0013
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - departStation
              - arriveStation
              - month
              properties:
                departStation:
                  type: string
                  description: 'Departure station code (← getTrainStations).'
                arriveStation:
                  type: string
                  description: 'Arrival station code (← getTrainStations).'
                month:
                  type: string
                  description: 'Month to query (YYYY-MM).'
                head:
                  type: object
                  properties:
                    locale:
                      type: string
                      default: en-US
                    currency:
                      type: string
                      default: USD
      responses:
        '200':
          description: Monthly train availability calendar.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      calendarList:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                            available:
                              type: boolean
                            lowestPrice:
                              type: number
                              nullable: true
                  head:
                    type: object
                    properties:
                      code:
                        type: string
                      msg:
                        type: string
                required:
                - data
  /restapi/soa2/23044/getCityList:
    post:
      operationId: getCityList
      summary: >-
        Get popular cities/districts for a country — city name, district ID,
        image URL, for destination browsing and trip planning
      servers:
      - url: https://www.trip.com
        x-openweb:
          transport: page
      x-openweb:
        permission: read
        adapter:
          name: ctrip
          operation: getCityList
        build:
          stable_id: ct0014
          tool_version: 1
          verified: false
          signals: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                countryId:
                  type: string
                  description: 'Country ID to list cities for.'
                head:
                  type: object
                  properties:
                    syscode:
                      type: string
                      default: '999'
                    locale:
                      type: string
                      default: en-US
      responses:
        '200':
          description: List of cities/districts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      cityList:
                        type: array
                        items:
                          type: object
                          properties:
                            districtId:
                              type: integer
                            cityName:
                              type: string
                            countryName:
                              type: string
                            imageUrl:
                              type: string
                required:
                - data
