openapi: '3.1.0'
info:
  title: Goodreads
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-09T00:00:00Z'
    requires_auth: false
servers:
  - url: https://www.goodreads.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
paths:
  /search:
    get:
      operationId: searchBooks
      summary: Search books by title, author, or ISBN — title, author, rating, cover image
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: gr0001
          signature_id: gr0001s
          tool_version: 1
          signals:
            - extraction_detected
        extraction:
          type: page_global_data
          page_url: /search
          expression: |
            (() => {
              const rows = document.querySelectorAll('tr[itemtype="http://schema.org/Book"]');
              const items = [...rows].map(row => {
                const titleEl = row.querySelector('a.bookTitle');
                const title = (titleEl?.querySelector('span[itemprop="name"]') || titleEl)?.textContent?.trim() || '';
                const bookUrl = titleEl?.getAttribute('href') || '';
                const bookId = bookUrl.match(/\/book\/show\/(\d+)/)?.[1] || '';
                const author = row.querySelector('a.authorName span[itemprop="name"]')?.textContent?.trim() || '';
                const authorUrl = row.querySelector('a.authorName')?.getAttribute('href') || '';
                const authorId = authorUrl.match(/\/author\/show\/(\d+)/)?.[1] || '';
                const minirating = row.querySelector('.minirating')?.textContent?.trim() || '';
                const ratingMatch = minirating.match(/([\d.]+)\s*avg rating/);
                const ratingsMatch = minirating.match(/([\d,]+)\s*ratings/);
                const coverImg = row.querySelector('img.bookCover')?.src || '';
                return {
                  bookId, title, author, authorId,
                  averageRating: ratingMatch ? parseFloat(ratingMatch[1]) : null,
                  ratingsCount: ratingsMatch ? parseInt(ratingsMatch[1].replace(/,/g, ''), 10) : null,
                  coverImageUrl: coverImg || null,
                };
              });
              return { resultCount: items.length, items };
            })()
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query — book title, author name, or ISBN.
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number (1-indexed, 20 results per page).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [resultCount, items]
                properties:
                  resultCount:
                    type: integer
                    description: Number of results on this page.
                  items:
                    type: array
                    items:
                      type: object
                      required: [bookId, title, author]
                      properties:
                        bookId:
                          type: string
                          description: Numeric book ID for use with getBook.
                        title:
                          type: string
                        author:
                          type: string
                        authorId:
                          type: string
                          description: Numeric author ID for use with getAuthor.
                        averageRating:
                          type: [number, 'null']
                        ratingsCount:
                          type: [integer, 'null']
                        coverImageUrl:
                          type: [string, 'null']
  /book/show/{bookId}:
    get:
      operationId: getBook
      summary: Get book details — title, author, rating, description, genres, page count, ISBN, awards
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: gr0002
          signature_id: gr0002s
          tool_version: 1
          signals:
            - extraction_detected
        extraction:
          type: page_global_data
          page_url: /book/show/{bookId}
          expression: |
            (() => {
              const ld = document.querySelector('script[type="application/ld+json"]');
              let ldData = {};
              if (ld) { try { ldData = JSON.parse(ld.textContent); } catch {} }
              const title = document.querySelector('h1.Text__title1')?.textContent?.trim() || ldData.name || '';
              const series = document.querySelector('h3.Text__title3 a')?.textContent?.trim() || null;
              const author = document.querySelector('.ContributorLinksList .ContributorLink__name')?.textContent?.trim() || ldData.author?.[0]?.name || '';
              const authorUrl = document.querySelector('.ContributorLinksList a.ContributorLink')?.getAttribute('href') || '';
              const authorId = authorUrl.match(/\/author\/show\/(\d+)/)?.[1] || '';
              const ratingValue = parseFloat(document.querySelector('.RatingStatistics__rating')?.textContent?.trim()) || ldData.aggregateRating?.ratingValue || null;
              const ratingsText = document.querySelector('[data-testid="ratingsCount"]')?.textContent?.trim() || '';
              const reviewsText = document.querySelector('[data-testid="reviewsCount"]')?.textContent?.trim() || '';
              const ratingsCount = parseInt(ratingsText.replace(/[^\d]/g, ''), 10) || ldData.aggregateRating?.ratingCount || null;
              const reviewsCount = parseInt(reviewsText.replace(/[^\d]/g, ''), 10) || ldData.aggregateRating?.reviewCount || null;
              const descEl = document.querySelector('[data-testid="description"]');
              const description = descEl?.textContent?.trim() || null;
              const genreEls = document.querySelectorAll('[data-testid="genresList"] .Button__labelItem');
              const genres = [...genreEls].map(e => e.textContent.trim()).filter(t => t && t !== '...more');
              const pagesFormat = document.querySelector('[data-testid="pagesFormat"]')?.textContent?.trim() || '';
              const pageCount = ldData.numberOfPages || parseInt(pagesFormat) || null;
              const format = ldData.bookFormat || pagesFormat.replace(/^\d+\s*pages,?\s*/, '') || null;
              const publishDate = document.querySelector('[data-testid="publicationInfo"]')?.textContent?.trim() || null;
              const isbn = ldData.isbn || null;
              const language = ldData.inLanguage || null;
              const awards = ldData.awards || null;
              const coverImageUrl = document.querySelector('.BookPage__bookCover img, img.ResponsiveImage')?.src || ldData.image || null;
              return {
                title, series, author, authorId,
                ratingValue, ratingsCount, reviewsCount,
                description, genres, pageCount, format,
                publishDate, isbn, language, awards, coverImageUrl,
              };
            })()
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: string
          description: 'Book ID from search results or URL (e.g. 44767458-dune or just 44767458).'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [title, author]
                properties:
                  title:
                    type: string
                  series:
                    type: [string, 'null']
                    description: 'Series name and position (e.g. "Dune #1").'
                  author:
                    type: string
                  authorId:
                    type: string
                  ratingValue:
                    type: [number, 'null']
                    description: Average rating (0-5 scale).
                  ratingsCount:
                    type: [integer, 'null']
                  reviewsCount:
                    type: [integer, 'null']
                  description:
                    type: [string, 'null']
                  genres:
                    type: array
                    items:
                      type: string
                  pageCount:
                    type: [integer, 'null']
                  format:
                    type: [string, 'null']
                    description: 'Book format (e.g. Hardcover, Paperback, Kindle Edition).'
                  publishDate:
                    type: [string, 'null']
                    description: 'Publication date string (e.g. "First published June 1, 1965").'
                  isbn:
                    type: [string, 'null']
                  language:
                    type: [string, 'null']
                  awards:
                    type: [string, 'null']
                    description: Comma-separated list of awards.
                  coverImageUrl:
                    type: [string, 'null']
  /book/show/{bookId}/reviews:
    get:
      operationId: getReviews
      summary: Get reviews for a book — reviewer name, rating, review text, date, likes
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: gr0003
          signature_id: gr0003s
          tool_version: 1
          signals:
            - extraction_detected
        adapter:
          name: goodreads
          operation: getReviews
        transport: page
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: string
          description: 'Book ID (e.g. 44767458-dune or 44767458).'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [totalReviews, reviews]
                properties:
                  totalReviews:
                    type: integer
                    description: Number of reviews extracted from the page.
                  reviews:
                    type: array
                    items:
                      type: object
                      required: [name]
                      properties:
                        name:
                          type: string
                          description: Reviewer display name.
                        rating:
                          type: [integer, 'null']
                          description: Star rating (1-5).
                        text:
                          type: string
                          description: Review text (truncated to 2000 chars).
                        date:
                          type: [string, 'null']
                          description: 'Review date (e.g. "June 29, 2018").'
                        likes:
                          type: [integer, 'null']
                          description: Number of likes on the review.
  /author/show/{authorId}:
    get:
      operationId: getAuthor
      summary: Get author profile — name, bio, born/died dates, average rating, bibliography
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: gr0004
          signature_id: gr0004s
          tool_version: 1
          signals:
            - extraction_detected
        extraction:
          type: page_global_data
          page_url: /author/show/{authorId}
          expression: |
            (() => {
              const name = document.querySelector('h1.authorName span')?.textContent?.trim() || '';
              const image = document.querySelector('.authorLeftContainer img')?.src || null;
              const bioEl = document.querySelector('.aboutAuthorInfo span[id*="freeText"]');
              const bio = bioEl?.textContent?.trim() || null;
              const born = document.querySelector('[itemprop="birthDate"]')?.textContent?.trim() || null;
              const died = document.querySelector('[itemprop="deathDate"]')?.textContent?.trim() || null;
              const website = document.querySelector('a[itemprop="url"]')?.href || null;
              const genres = [...document.querySelectorAll('.dataItem a[href*="/genres/"]')].map(e => e.textContent.trim());
              const avgRating = document.querySelector('.authorContentProfile .authorRating, [itemprop="ratingValue"]')?.textContent?.trim() || '';
              const ratingValue = parseFloat(avgRating) || null;
              const bookRows = document.querySelectorAll('tr[itemtype="http://schema.org/Book"]');
              const books = [...bookRows].map(row => {
                const title = row.querySelector('.bookTitle span[itemprop="name"]')?.textContent?.trim() || '';
                const bookUrl = row.querySelector('a.bookTitle')?.getAttribute('href') || '';
                const bookId = bookUrl.match(/\/book\/show\/(\d+)/)?.[1] || '';
                const minirating = row.querySelector('.minirating')?.textContent?.trim() || '';
                const rm = minirating.match(/([\d.]+)\s*avg rating/);
                const rc = minirating.match(/([\d,]+)\s*ratings/);
                return {
                  bookId, title,
                  averageRating: rm ? parseFloat(rm[1]) : null,
                  ratingsCount: rc ? parseInt(rc[1].replace(/,/g, ''), 10) : null,
                };
              });
              return { name, image, bio, born, died, website, genres, ratingValue, booksCount: books.length, books };
            })()
      parameters:
        - name: authorId
          in: path
          required: true
          schema:
            type: string
          description: 'Author ID from search results or URL (e.g. 58.Frank_Herbert or just 58).'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [name]
                properties:
                  name:
                    type: string
                  image:
                    type: [string, 'null']
                    description: Author photo URL.
                  bio:
                    type: [string, 'null']
                    description: Author biography text.
                  born:
                    type: [string, 'null']
                    description: 'Birth date (e.g. "October 08, 1920").'
                  died:
                    type: [string, 'null']
                    description: 'Death date, if applicable.'
                  website:
                    type: [string, 'null']
                  genres:
                    type: array
                    items:
                      type: string
                  ratingValue:
                    type: [number, 'null']
                    description: Author average rating across all books.
                  booksCount:
                    type: integer
                    description: Number of books listed on the author page.
                  books:
                    type: array
                    items:
                      type: object
                      required: [bookId, title]
                      properties:
                        bookId:
                          type: string
                        title:
                          type: string
                        averageRating:
                          type: [number, 'null']
                        ratingsCount:
                          type: [integer, 'null']
