openapi: '3.1.0'
info:
  title: eBay
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-09T00:00:00Z'
    requires_auth: false
servers:
  - url: https://www.ebay.com
    x-openweb:
      transport: page
paths:
  /sch/i.html:
    get:
      operationId: searchItems
      summary: Search eBay items by keyword — title, price, condition, item ID, image
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: eb0001
          signature_id: eb0001s
          tool_version: 1
          signals:
            - dom
        extraction:
          type: page_global_data
          page_url: /sch/i.html
          expression: |
            (() => {
              const cards = document.querySelectorAll('.s-card');
              const results = [];
              for (const card of cards) {
                const link = card.querySelector('a[href*="/itm/"]');
                if (!link) continue;
                const href = link.getAttribute('href') || '';
                const hrefMatch = href.match(/\/itm\/(\d+)/);
                if (hrefMatch && hrefMatch[1] === '123456') continue;
                const itemId = card.getAttribute('data-listingid') || (hrefMatch ? hrefMatch[1] : '');
                if (!itemId) continue;
                const title = card.querySelector('.s-card__title')?.textContent?.trim() || '';
                const price = card.querySelector('.s-card__price')?.textContent?.trim() || '';
                const subtitle = card.querySelector('.s-card__subtitle')?.textContent?.trim() || '';
                const img = card.querySelector('img');
                const image = img?.getAttribute('src') || '';
                results.push({
                  itemId,
                  title: title.replace(/Opens in a new window or tab$/i, '').trim(),
                  price, condition: subtitle, image,
                  link: 'https://www.ebay.com/itm/' + itemId,
                });
              }
              return { resultCount: results.length, items: results };
            })()
      parameters:
        - name: keywords
          in: query
          required: true
          schema:
            type: string
          description: Search keywords.
          example: vintage watch
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number for pagination (1-indexed).
          example: 1
      responses:
        '200':
          description: Search results with item listings.
          content:
            application/json:
              schema:
                type: object
                required: [resultCount, items]
                properties:
                  resultCount:
                    type: integer
                    description: Number of items returned on this page.
                  items:
                    type: array
                    items:
                      type: object
                      description: An eBay item listing from search results.
                      required: [itemId, title]
                      properties:
                        itemId:
                          type: string
                          description: Numeric item ID for use with getItemDetail.
                        title:
                          type: string
                          description: Item listing title.
                        price:
                          type: string
                          description: 'Formatted price string (e.g. "$29.99").'
                        condition:
                          type: string
                          description: 'Item condition (e.g. "Pre-Owned", "Brand New").'
                        image:
                          type: string
                          description: Item thumbnail URL (may be empty due to lazy loading).
                        link:
                          type: string
                          description: Direct URL to the item page.

  /itm/{itemId}:
    get:
      operationId: getItemDetail
      summary: Get item detail — title, price, bids, condition, seller info, shipping, images
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: eb0002
          signature_id: eb0002s
          tool_version: 1
          signals:
            - ld_json
            - dom
        extraction:
          type: page_global_data
          page_url: /itm/{itemId}
          expression: |
            (() => {
              const g = (sel) => document.querySelector(sel)?.textContent?.trim() || '';
              const ldScripts = document.querySelectorAll('script[type="application/ld+json"]');
              let ldProduct = null;
              for (const s of ldScripts) {
                try { const d = JSON.parse(s.textContent); if (d['@type'] === 'Product') { ldProduct = d; break; } } catch {}
              }
              const sellerCard = document.querySelector('[data-testid="x-sellercard-atf"], .x-sellercard-atf_main');
              const sellerName = sellerCard?.querySelector('.x-sellercard-atf__info__about-seller a, .x-sellercard-atf__info a')?.textContent?.trim() || '';
              const sellerFeedback = sellerCard?.querySelector('.x-sellercard-atf__about-seller')?.textContent?.trim() || '';
              const sellerPositive = [...(sellerCard?.querySelectorAll('span') || [])].find(s => s.textContent?.includes('positive'))?.textContent?.trim() || '';
              const storeLink = sellerCard?.querySelector('a[href*="/str/"]');
              const storeSlug = storeLink ? (storeLink.getAttribute('href') || '').match(/\/str\/([^?]+)/)?.[1] || '' : '';
              if (ldProduct) {
                const offer = ldProduct.offers || {};
                return {
                  itemId, title: ldProduct.name || '',
                  price: offer.price ? offer.priceCurrency + ' ' + offer.price : '',
                  priceCurrency: offer.priceCurrency || '', priceValue: offer.price || '',
                  condition: (offer.itemCondition || '').replace('https://schema.org/', ''),
                  availability: (offer.availability || '').replace('https://schema.org/', ''),
                  image: Array.isArray(ldProduct.image) ? ldProduct.image[0] : (ldProduct.image || ''),
                  images: Array.isArray(ldProduct.image) ? ldProduct.image : [ldProduct.image].filter(Boolean),
                  seller: { name: sellerName, feedbackScore: sellerFeedback, positivePercent: sellerPositive, storeSlug },
                  shipping: g('[data-testid="x-shipping-header"] .ux-textspans'),
                  bids: g('.x-bid-count span'), returns: g('[data-testid="x-returns"] .ux-textspans--BOLD'),
                };
              }
              return {
                itemId, title: g('.x-item-title__mainTitle span') || g('h1'),
                price: g('.x-price-primary span.ux-textspans'),
                condition: g('[data-testid="x-item-condition"] .ux-textspans'),
                seller: { name: sellerName, feedbackScore: sellerFeedback, positivePercent: sellerPositive, storeSlug },
                shipping: g('[data-testid="x-shipping-header"] .ux-textspans'),
                bids: g('.x-bid-count span'), returns: g('[data-testid="x-returns"] .ux-textspans--BOLD'),
              };
            })()
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
          description: 'eBay item ID (numeric, from searchItems results).'
          example: '236736961938'
      responses:
        '200':
          description: Item detail with structured data.
          content:
            application/json:
              schema:
                type: object
                required: [itemId, title]
                properties:
                  itemId:
                    type: string
                    description: The eBay item ID.
                  title:
                    type: string
                    description: Item listing title.
                  price:
                    type: string
                    description: 'Formatted price (e.g. "USD 29.99").'
                  priceCurrency:
                    type: string
                    description: 'ISO currency code (e.g. "USD").'
                  priceValue:
                    type: string
                    description: Numeric price value as string.
                  condition:
                    type: string
                    description: 'Item condition (e.g. "NewCondition", "UsedCondition").'
                  availability:
                    type: string
                    description: 'Availability status (e.g. "InStock").'
                  image:
                    type: string
                    description: Primary item image URL.
                  images:
                    type: array
                    items:
                      type: string
                    description: All item image URLs.
                  seller:
                    type: object
                    description: Seller information extracted from the seller card.
                    required: [name]
                    properties:
                      name:
                        type: string
                        description: Seller display name.
                      feedbackScore:
                        type: string
                        description: Seller feedback score text.
                      positivePercent:
                        type: string
                        description: 'Positive feedback percentage (e.g. "99.8% positive feedback").'
                      storeSlug:
                        type: string
                        description: Seller store slug for use with getSellerProfile.
                  shipping:
                    type: string
                    description: Shipping cost or method text.
                  bids:
                    type: string
                    description: Number of bids (auction items only).
                  returns:
                    type: string
                    description: Return policy text.
                  brand:
                    type: string
                    description: Product brand name (from LD+JSON when available).
                  model:
                    type: string
                    description: Product model name (from LD+JSON when available).

  /str/{username}:
    get:
      operationId: getSellerProfile
      summary: Get seller profile — store name, positive feedback %, items sold, followers, categories
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: eb0003
          signature_id: eb0003s
          tool_version: 1
          signals:
            - dom
        extraction:
          type: page_global_data
          page_url: /str/{username}
          expression: |
            (() => {
              const notFound = document.querySelector('.page-notice--attention');
              if (notFound && notFound.textContent?.includes('not found')) {
                return { error: 'Seller not found', username };
              }
              const card = document.querySelector('.str-seller-card');
              if (!card) return { error: 'Could not load seller profile', username };
              const storeName = document.querySelector('.str-seller-card__store-name h1')?.textContent?.trim() || '';
              const feedbackLink = card.querySelector('.str-seller-card__feedback-link');
              const feedbackText = feedbackLink?.textContent?.trim() || '';
              const fullText = card.textContent?.trim() || '';
              const positiveMatch = fullText.match(/(\d+\.?\d*)%\s*positive/);
              const itemsSoldMatch = fullText.match(/(\d+\.?\d*[KMB]?)\s*items?\s*sold/i);
              const followersMatch = fullText.match(/(\d+\.?\d*[KMB]?)\s*followers?/i);
              const logo = document.querySelector('.str-header__logo--img');
              const categoryCards = document.querySelectorAll('[data-testid="card-ajax-true"]');
              const categories = [...categoryCards].slice(0, 10).map(c => c.textContent?.trim() || '').filter(Boolean);
              return {
                username, storeName,
                logoUrl: logo?.getAttribute('src') || '',
                positiveFeedback: positiveMatch ? positiveMatch[1] + '%' : feedbackText,
                itemsSold: itemsSoldMatch ? itemsSoldMatch[1] : '',
                followers: followersMatch ? followersMatch[1] : '',
                categories, storeUrl: 'https://www.ebay.com/str/' + username,
              };
            })()
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Seller store slug from item detail seller.storeSlug.
          example: freegeekportland
      responses:
        '200':
          description: Seller profile with store info.
          content:
            application/json:
              schema:
                type: object
                required: [username, storeName]
                properties:
                  username:
                    type: string
                    description: Seller store slug.
                  storeName:
                    type: string
                    description: Display name of the seller store.
                  logoUrl:
                    type: string
                    description: Store logo image URL.
                  positiveFeedback:
                    type: string
                    description: 'Positive feedback percentage (e.g. "99.8%").'
                  itemsSold:
                    type: string
                    description: 'Total items sold (e.g. "59K").'
                  followers:
                    type: string
                    description: 'Number of followers (e.g. "11K").'
                  categories:
                    type: array
                    items:
                      type: string
                    description: Store category names (up to 10).
                  storeUrl:
                    type: string
                    description: Full URL to the seller store page.
