openapi: "3.1.0"
info:
  title: eBay
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    requires_auth: false
servers:
  - url: https://www.ebay.com
    x-openweb:
      transport: page
paths:
  /sch/i.html:
    get:
      operationId: searchItems
      summary: "Search eBay items by keyword — title, price, condition, item ID, image"
      x-openweb:
        permission: read
        adapter:
          name: ebay
          operation: searchItems
      parameters:
        - name: keywords
          in: query
          required: true
          schema:
            type: string
          description: Search keywords
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: Page number for pagination (default 1)
      responses:
        "200":
          description: Search results with item listings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        itemId:
                          type: string
                        title:
                          type: string
                        price:
                          type: string
                        condition:
                          type: string
                        image:
                          type: string
                        link:
                          type: string

  /itm/{itemId}:
    get:
      operationId: getItemDetail
      summary: "Get item detail — title, price, bids, condition, seller info, shipping, images"
      x-openweb:
        permission: read
        adapter:
          name: ebay
          operation: getItemDetail
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
          description: "eBay item ID (numeric, e.g. 236736961938)"
      responses:
        "200":
          description: Item detail with structured data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  itemId:
                    type: string
                  title:
                    type: string
                  price:
                    type: string
                  priceCurrency:
                    type: string
                  priceValue:
                    type: string
                  condition:
                    type: string
                  availability:
                    type: string
                  image:
                    type: string
                  images:
                    type: array
                    items:
                      type: string
                  seller:
                    type: object
                    properties:
                      name:
                        type: string
                      feedbackScore:
                        type: string
                      positivePercent:
                        type: string
                      storeSlug:
                        type: string
                  shipping:
                    type: string
                  bids:
                    type: string
                  returns:
                    type: string

  /str/{username}:
    get:
      operationId: getSellerProfile
      summary: "Get seller profile — store name, positive feedback %, items sold, followers, categories"
      x-openweb:
        permission: read
        adapter:
          name: ebay
          operation: getSellerProfile
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: "Seller store name (slug from store URL, e.g. 'freegeekportland')"
      responses:
        "200":
          description: Seller profile with store info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                  storeName:
                    type: string
                  logoUrl:
                    type: string
                  positiveFeedback:
                    type: string
                  itemsSold:
                    type: string
                  followers:
                    type: string
                  categories:
                    type: array
                    items:
                      type: string
                  storeUrl:
                    type: string
