openapi: '3.1.0'
info:
  title: Skyscanner API
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-09T00:00:00Z'
    requires_auth: false
servers:
  - url: https://www.skyscanner.com
    x-openweb:
      transport: page
paths:
  /flights/search:
    get:
      operationId: searchFlights
      summary: 'Search flights — airline, departure/arrival times, duration, stops, price, fare policy'
      x-openweb:
        permission: read
        build:
          stable_id: sky0001
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: skyscanner
          operation: searchFlights
      parameters:
        - name: origin
          in: query
          required: true
          description: 'Origin airport IATA code (e.g. "LAX", "SFO", "LHR").'
          schema:
            type: string
          example: LAX
        - name: destination
          in: query
          required: true
          description: 'Destination airport IATA code (e.g. "JFK", "CDG", "NRT").'
          schema:
            type: string
          example: JFK
        - name: date
          in: query
          required: true
          description: Departure date (YYYY-MM-DD).
          schema:
            type: string
            format: date
          example: '2026-05-15'
        - name: adults
          in: query
          required: false
          description: Number of adult passengers.
          schema:
            type: integer
            default: 1
          example: 1
        - name: cabinClass
          in: query
          required: false
          description: Cabin class preference.
          schema:
            type: string
            enum: [economy, premiumeconomy, business, first]
            default: economy
          example: economy
        - name: directOnly
          in: query
          required: false
          description: Show only direct (non-stop) flights.
          schema:
            type: boolean
            default: false
          example: false
      responses:
        '200':
          description: Flight search results with itineraries, carriers, and pricing.
          content:
            application/json:
              schema:
                type: object
                required: [filterStats, results]
                properties:
                  filterStats:
                    type: object
                    description: Aggregate statistics for filtering and display.
                    required: [total]
                    properties:
                      total:
                        type: integer
                        description: Total number of matching itineraries.
                      duration:
                        type: object
                        description: Min/max flight duration across all results.
                        required: [min, max]
                        properties:
                          min:
                            type: integer
                            description: Minimum flight duration in minutes.
                          max:
                            type: integer
                            description: Maximum flight duration in minutes.
                      carriers:
                        type: array
                        description: Available airlines with logos.
                        items:
                          type: object
                          required: [id, name]
                          properties:
                            id:
                              type: integer
                              description: Skyscanner internal carrier ID.
                            alternateId:
                              type: string
                              description: 'IATA airline code (e.g. "DL", "AA").'
                            name:
                              type: string
                              description: Airline display name.
                            logoUrl:
                              type: string
                              description: URL to carrier logo image.
                      airports:
                        type: array
                        description: Origin and destination airports.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Airport IATA code.
                            name:
                              type: string
                              description: Airport display name.
                            city:
                              type: string
                              description: City the airport serves.
                  results:
                    type: array
                    description: Flight itineraries sorted by score.
                    items:
                      type: object
                      required: [id, price, legs]
                      properties:
                        id:
                          type: string
                          description: Itinerary ID.
                        price:
                          type: object
                          description: Pricing information.
                          required: [raw, formatted]
                          properties:
                            raw:
                              type: number
                              description: Price in USD.
                            formatted:
                              type: string
                              description: 'Formatted price (e.g. "$149").'
                        score:
                          type: number
                          description: Ranking score (0-1, higher is better).
                        tags:
                          type: array
                          description: 'Tags like "cheapest", "best", "shortest".'
                          items:
                            type: string
                        farePolicy:
                          type: object
                          description: Change and cancellation policy.
                          properties:
                            isChangeAllowed:
                              type: boolean
                              description: Whether ticket changes are permitted.
                            isCancellationAllowed:
                              type: boolean
                              description: Whether cancellation is permitted.
                        legs:
                          type: array
                          description: Flight legs (1 for one-way, 2 for round-trip).
                          items:
                            type: object
                            required: [origin, destination, departure, arrival, durationInMinutes, stopCount]
                            properties:
                              origin:
                                type: object
                                description: Departure airport.
                                required: [id, name]
                                properties:
                                  id:
                                    type: string
                                    description: Airport IATA code.
                                  name:
                                    type: string
                                    description: Airport display name.
                                  city:
                                    type: string
                                    description: City name.
                              destination:
                                type: object
                                description: Arrival airport.
                                required: [id, name]
                                properties:
                                  id:
                                    type: string
                                    description: Airport IATA code.
                                  name:
                                    type: string
                                    description: Airport display name.
                                  city:
                                    type: string
                                    description: City name.
                              departure:
                                type: string
                                description: 'Departure time (ISO 8601, e.g. "2026-05-15T15:20:00").'
                              arrival:
                                type: string
                                description: 'Arrival time (ISO 8601).'
                              durationInMinutes:
                                type: integer
                                description: Total leg duration in minutes.
                              stopCount:
                                type: integer
                                description: Number of stops (0 = direct).
                              carriers:
                                type: object
                                description: Marketing and operating carriers for this leg.
                                properties:
                                  marketing:
                                    type: array
                                    description: Marketing carriers (ticket-selling airlines).
                                    items:
                                      type: object
                                      required: [name]
                                      properties:
                                        alternateId:
                                          type: string
                                          description: Airline IATA code.
                                        name:
                                          type: string
                                          description: Airline display name.
                                        logoUrl:
                                          type: string
                                          description: URL to carrier logo image.
                              segments:
                                type: array
                                description: Individual flight segments.
                                items:
                                  type: object
                                  required: [flightNumber, departure, arrival, durationInMinutes]
                                  properties:
                                    flightNumber:
                                      type: string
                                      description: 'Flight number (e.g. "DL 425").'
                                    departure:
                                      type: string
                                      description: Segment departure time (ISO 8601).
                                    arrival:
                                      type: string
                                      description: Segment arrival time (ISO 8601).
                                    durationInMinutes:
                                      type: integer
                                      description: Segment duration in minutes.
                                    marketingCarrier:
                                      type: object
                                      description: Airline selling the ticket.
                                      required: [name]
                                      properties:
                                        name:
                                          type: string
                                          description: Airline display name.
                                        alternateId:
                                          type: string
                                          description: Airline IATA code.
                                        displayCode:
                                          type: string
                                          description: Short display code for the carrier.
                                    operatingCarrier:
                                      type: object
                                      description: Airline operating the flight (may differ from marketing carrier).
                                      required: [name]
                                      properties:
                                        name:
                                          type: string
                                          description: Airline display name.
                                        alternateId:
                                          type: string
                                          description: Airline IATA code.
                  agents:
                    type: array
                    description: Booking agents (airlines and OTAs) with ratings.
                    items:
                      type: object
                      required: [id, name]
                      properties:
                        id:
                          type: string
                          description: Agent ID.
                        name:
                          type: string
                          description: Booking agent name.
                        isCarrier:
                          type: boolean
                          description: Whether the agent is an airline (vs OTA).
                        rating:
                          type: number
                          description: Agent rating score.

  /flights/detail:
    get:
      operationId: getFlightDetail
      summary: 'Get flight detail — same as searchFlights with full segment, fare, and carrier info'
      x-openweb:
        permission: read
        build:
          stable_id: sky0002
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: skyscanner
          operation: getFlightDetail
      parameters:
        - name: origin
          in: query
          required: true
          description: Origin airport IATA code.
          schema:
            type: string
          example: SFO
        - name: destination
          in: query
          required: true
          description: Destination airport IATA code.
          schema:
            type: string
          example: LHR
        - name: date
          in: query
          required: true
          description: Departure date (YYYY-MM-DD).
          schema:
            type: string
            format: date
          example: '2026-06-01'
        - name: adults
          in: query
          required: false
          description: Number of adult passengers.
          schema:
            type: integer
            default: 1
          example: 1
        - name: cabinClass
          in: query
          required: false
          description: Cabin class preference.
          schema:
            type: string
            enum: [economy, premiumeconomy, business, first]
            default: economy
          example: economy
      responses:
        '200':
          description: Detailed flight search results with full fare and segment information.
          content:
            application/json:
              schema:
                type: object
                required: [filterStats, results]
                properties:
                  filterStats:
                    type: object
                    description: Aggregate statistics for filtering and display.
                    required: [total]
                    properties:
                      total:
                        type: integer
                        description: Total number of matching itineraries.
                  results:
                    type: array
                    description: Flight itineraries with full segment details.
                    items:
                      type: object
                      required: [id, price, legs]
                      properties:
                        id:
                          type: string
                          description: Itinerary ID.
                        price:
                          type: object
                          description: Pricing information.
                          required: [raw, formatted]
                          properties:
                            raw:
                              type: number
                              description: Price in USD.
                            formatted:
                              type: string
                              description: 'Formatted price (e.g. "$149").'
                        legs:
                          type: array
                          description: Flight legs with full segment breakdown.
                          items:
                            type: object
                            required: [departure, arrival, durationInMinutes, stopCount]
                            properties:
                              departure:
                                type: string
                                description: Departure time (ISO 8601).
                              arrival:
                                type: string
                                description: Arrival time (ISO 8601).
                              durationInMinutes:
                                type: integer
                                description: Total leg duration in minutes.
                              stopCount:
                                type: integer
                                description: Number of stops (0 = direct).
                              carriers:
                                type: object
                                description: Marketing and operating carriers for this leg.
                              segments:
                                type: array
                                description: Individual flight segments with carrier and timing.
                                items:
                                  type: object
                                  required: [flightNumber, departure, arrival, durationInMinutes]
                                  properties:
                                    flightNumber:
                                      type: string
                                      description: 'Flight number (e.g. "BA 287").'
                                    departure:
                                      type: string
                                      description: Segment departure time (ISO 8601).
                                    arrival:
                                      type: string
                                      description: Segment arrival time (ISO 8601).
                                    durationInMinutes:
                                      type: integer
                                      description: Segment duration in minutes.

  /flights/price-history:
    get:
      operationId: getPriceHistory
      summary: 'Get price history — daily cheapest price for a route over ~300 days'
      x-openweb:
        permission: read
        build:
          stable_id: sky0003
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: skyscanner
          operation: getPriceHistory
      parameters:
        - name: origin
          in: query
          required: true
          description: 'Origin airport IATA code.'
          schema:
            type: string
          example: LAX
        - name: destination
          in: query
          required: true
          description: 'Destination airport IATA code.'
          schema:
            type: string
          example: JFK
      responses:
        '200':
          description: Daily price calendar with cheapest prices and price group categories.
          content:
            application/json:
              schema:
                type: object
                required: [flights]
                properties:
                  flights:
                    type: object
                    description: Price calendar data.
                    required: [groups, days]
                    properties:
                      groups:
                        type: array
                        description: 'Price group definitions (low=$, medium=$$, high=$$$).'
                        items:
                          type: object
                          required: [id, label]
                          properties:
                            id:
                              type: string
                              description: 'Group identifier (e.g. "low", "medium", "high").'
                            label:
                              type: string
                              description: 'Human-readable label (e.g. "$", "$$", "$$$").'
                      days:
                        type: array
                        description: Daily price entries (~300 days from today).
                        items:
                          type: object
                          required: [day, group, price]
                          properties:
                            day:
                              type: string
                              description: 'Date (YYYY-MM-DD).'
                            group:
                              type: string
                              description: 'Price category: "low", "medium", or "high".'
                            price:
                              type: number
                              description: Cheapest price in USD for this date.
