openapi: 3.1.0
info:
  title: Kayak API
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-09T00:00:00Z
    requires_auth: false
servers:
  - url: https://www.kayak.com
    x-openweb:
      transport: page
paths:
  /flights/search:
    get:
      operationId: searchFlights
      summary: Search flights — airlines, times, stops, duration, price, booking links
      x-openweb:
        permission: read
        build:
          stable_id: kayak0001
          tool_version: 2
        adapter:
          name: kayak-search
          operation: searchFlights
      parameters:
        - name: origin
          in: query
          required: true
          schema:
            type: string
          description: Origin airport code (e.g. "SFO", "JFK", "LAX").
        - name: destination
          in: query
          required: true
          schema:
            type: string
          description: Destination airport code or city (e.g. "NYC", "LAX", "MIA").
        - name: departureDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Departure date (YYYY-MM-DD).
        - name: returnDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Return date for round trips (YYYY-MM-DD). Omit for one-way.
        - name: adults
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Number of adult passengers.
        - name: cabinClass
          in: query
          required: false
          schema:
            type: string
            enum:
              - economy
              - premiumeconomy
              - business
              - first
            default: economy
          description: Cabin class preference.
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - bestflight_a
              - price_a
              - duration_a
              - takeoff_a
              - landing_a
            default: bestflight_a
          description: Sort order (best flight, price, duration, takeoff time, landing time).
      responses:
        "200":
          description: Trimmed flight search results (top 20 core results, up to 5 booking options each).
          content:
            application/json:
              schema:
                type: object
                properties:
                  searchId:
                    type: string
                  status:
                    type: string
                  sortMode:
                    type: string
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        resultId:
                          type: string
                        isBest:
                          type: boolean
                        isCheapest:
                          type: boolean
                        legs:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: References a key in the top-level legs map.
                              segments:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                        bookingOptions:
                          type: array
                          description: Up to 5 cheapest booking options.
                          items:
                            type: object
                            properties:
                              providerCode:
                                type: string
                              price:
                                type: number
                                description: Per-person price.
                              totalPrice:
                                type: number
                                description: Total price including taxes/fees.
                              currency:
                                type: string
                  legs:
                    type: object
                    description: Map of leg IDs → leg details.
                    additionalProperties:
                      type: object
                      properties:
                        duration:
                          type: integer
                          description: Total leg duration in minutes.
                        departure:
                          type: string
                        arrival:
                          type: string
                        segments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                  segments:
                    type: object
                    description: Map of segment IDs → flight segment details.
                    additionalProperties:
                      type: object
                      properties:
                        airline:
                          type: string
                        flightNumber:
                          type: string
                        origin:
                          type: string
                        destination:
                          type: string
                        departure:
                          type: string
                        arrival:
                          type: string
                        duration:
                          type: integer
                          description: Segment duration in minutes.
                        equipmentTypeName:
                          type: string
                          description: Aircraft type.
                  airlines:
                    type: object
                    description: Map of airline codes → airline info.
                  airports:
                    type: object
                    description: Map of airport codes → airport info.
                required:
                  - results
  /hotels/search:
    get:
      operationId: searchHotels
      summary: Search hotels — name, price, rating, location, provider comparison
      x-openweb:
        permission: read
        build:
          stable_id: kayak0002
          tool_version: 2
        adapter:
          name: kayak-search
          operation: searchHotels
      parameters:
        - name: destination
          in: query
          required: true
          schema:
            type: string
          description: City or location (e.g. "New-York", "San-Francisco", "London"). Use dashes for spaces.
        - name: checkInDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Check-in date (YYYY-MM-DD).
        - name: checkOutDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Check-out date (YYYY-MM-DD).
        - name: guests
          in: query
          required: false
          schema:
            type: integer
            default: 2
          description: Number of guests.
        - name: rooms
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Number of rooms.
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - rank_a
              - price_a
              - distance_a
              - review_a
              - stars_a
              - stars_d
            default: rank_a
          description: Sort order.
      responses:
        "200":
          description: Trimmed hotel search results (top 20, up to 5 providers each).
          content:
            application/json:
              schema:
                type: object
                properties:
                  searchId:
                    type: string
                  status:
                    type: string
                  sortMode:
                    type: string
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        stars:
                          type: number
                        rating:
                          type:
                            - number
                            - "null"
                          description: Guest rating score (0-10).
                        ratingText:
                          type:
                            - string
                            - "null"
                          description: Rating category (e.g. "Very good", "Wonderful").
                        reviews:
                          type:
                            - integer
                            - "null"
                        location:
                          type:
                            - string
                            - "null"
                        distance:
                          type:
                            - string
                            - "null"
                          description: Distance from city center (e.g. "0.7 mi").
                        providers:
                          type: array
                          description: Up to 5 booking providers with prices.
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              providerCode:
                                type: string
                              price:
                                type: number
                                description: Nightly price.
                              totalPrice:
                                type: number
                                description: Total stay price.
                              currency:
                                type: string
                              freebies:
                                type: array
                                items:
                                  type: string
                                description: Free perks (e.g. "Free breakfast", "Free cancellation").
                        detailUrl:
                          type:
                            - string
                            - "null"
                        amenities:
                          type: array
                          items:
                            type: string
                        savingsPercent:
                          type: integer
                          description: Percentage savings vs usual price. Only present when applicable.
                required:
                  - results
