openapi: 3.1.0
info:
  title: douban
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-29T12:00:00Z
    requires_auth: false
servers:
  - url: https://m.douban.com
    x-openweb:
      transport: page
paths:
  # ── Movies ──────────────────────────────────────────────────────────

  /rexxar/api/v2/search/movie:
    get:
      operationId: searchMovies
      summary: "Search movies by keyword — returns title, rating, year, cover, genres, actors for matching films"
      x-openweb:
        permission: read
        build:
          stable_id: search_movie_001
          tool_version: 2
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: "Search keyword (e.g., movie title, actor name)"
          example: "肖申克的救赎"
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results to return (default 20, max 50)"
          example: 20
        - name: start
          in: query
          required: false
          schema:
            type: integer
          description: "Pagination offset (default 0)"
          example: 0
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /rexxar/api/v2/movie/{id}:
    get:
      operationId: getMovie
      summary: "Get movie detail — title, rating, year, genres, directors, actors, summary, trailer, photos"
      x-openweb:
        permission: read
        build:
          stable_id: movie_detail_001
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: "Douban movie subject ID (e.g., 1292052 for Shawshank Redemption)"
          example: 1292052
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /rexxar/api/v2/movie/{id}/interests:
    get:
      operationId: getMovieReviews
      summary: "Get user reviews for a movie — reviewer name, rating, comment text, date"
      x-openweb:
        permission: read
        build:
          stable_id: movie_reviews_001
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: "Douban movie subject ID"
          example: 1292052
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: "Number of reviews to return (default 10)"
          example: 10
        - name: start
          in: query
          required: false
          schema:
            type: integer
          description: "Pagination offset"
          example: 0
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /rexxar/api/v2/movie/{id}/celebrities:
    get:
      operationId: getMovieCelebrities
      summary: "Get cast and crew for a movie — directors, actors, writers with name, avatar, role"
      x-openweb:
        permission: read
        build:
          stable_id: movie_celebrities_001
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: "Douban movie subject ID"
          example: 1292052
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /movie/{id}/photos:
    get:
      operationId: getMoviePhotos
      summary: "Get movie photo gallery — stills, posters, behind the scenes"
      x-openweb:
        permission: read
        build:
          stable_id: db0004
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: douban-dom
          operation: getMoviePhotos
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Douban movie subject ID"
          example: "1292052"
        - name: type
          in: query
          required: false
          schema:
            type: string
            default: S
          description: "Photo type: S (stills), R (posters), W (wallpapers)"
      responses:
        "200":
          description: Photo gallery for the movie.
          content:
            application/json:
              schema:
                type: object

  /top250:
    get:
      operationId: getTop250
      summary: "Get Douban Top 250 movies — ranked by user ratings with pagination"
      x-openweb:
        permission: read
        build:
          stable_id: db0005
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: douban-dom
          operation: getTop250
      parameters:
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: "Pagination offset (0, 25, 50, ...). Each page returns 25 movies."
      responses:
        "200":
          description: Top 250 movies page.
          content:
            application/json:
              schema:
                type: object

  # ── Books ───────────────────────────────────────────────────────────

  /rexxar/api/v2/search/book:
    get:
      operationId: searchBooks
      summary: "Search books by keyword — returns title, rating, author, publisher, cover for matching books"
      x-openweb:
        permission: read
        build:
          stable_id: search_book_001
          tool_version: 2
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: "Search keyword (e.g., book title, author name)"
          example: "三体"
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results to return (default 20, max 50)"
          example: 20
        - name: start
          in: query
          required: false
          schema:
            type: integer
          description: "Pagination offset (default 0)"
          example: 0
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /rexxar/api/v2/book/{id}:
    get:
      operationId: getBook
      summary: "Get book detail — title, rating, author, publisher, pages, summary, table of contents"
      x-openweb:
        permission: read
        build:
          stable_id: book_detail_001
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: "Douban book subject ID (e.g., 2567698 for Three-Body Problem)"
          example: 2567698
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /rexxar/api/v2/book/{id}/interests:
    get:
      operationId: getBookReviews
      summary: "Get user reviews for a book — reviewer name, rating, comment text, date"
      x-openweb:
        permission: read
        build:
          stable_id: book_reviews_001
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: "Douban book subject ID"
          example: 2567698
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: "Number of reviews to return (default 10)"
          example: 10
        - name: start
          in: query
          required: false
          schema:
            type: integer
          description: "Pagination offset"
          example: 0
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  # ── Music (adapter-only, desktop DOM extraction) ────────────────────

  /search/music:
    get:
      operationId: searchMusic
      summary: "Search music/albums by keyword — titles, artists, ratings"
      x-openweb:
        permission: read
        build:
          stable_id: db0009
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: douban-dom
          operation: searchMusic
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: "Search keyword (e.g., \"周杰伦\", \"Beatles\")"
      responses:
        "200":
          description: Music search results.
          content:
            application/json:
              schema:
                type: object

  /music/{id}:
    get:
      operationId: getMusicDetail
      summary: "Get album detail — rating, artist, tracklist, genre, release date"
      x-openweb:
        permission: read
        build:
          stable_id: db0010
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: douban-dom
          operation: getMusicDetail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Douban music subject ID (e.g., \"1401853\" for Jay Chou's 七里香)"
          example: "1401853"
      responses:
        "200":
          description: Full album detail.
          content:
            application/json:
              schema:
                type: object

  # ── Trending / Discovery ────────────────────────────────────────────

  /rexxar/api/v2/subject/recent_hot/movie:
    get:
      operationId: getRecentHotMovies
      summary: "Get currently trending movies — title, rating, cover, year, genres for popular films"
      x-openweb:
        permission: read
        build:
          stable_id: recent_hot_movie_001
          tool_version: 2
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: "Number of movies to return (default 50)"
          example: 20
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /rexxar/api/v2/subject/recent_hot/tv:
    get:
      operationId: getRecentHotTv
      summary: "Get currently trending TV shows — title, rating, cover, year, genres for popular series"
      x-openweb:
        permission: read
        build:
          stable_id: recent_hot_tv_001
          tool_version: 2
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: "Number of TV shows to return (default 50)"
          example: 20
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /rexxar/api/v2/subject_collection/movie_showing/items:
    get:
      operationId: getNowShowingMovies
      summary: "Get movies currently in theaters — title, rating, cover, release date"
      x-openweb:
        permission: read
        build:
          stable_id: now_showing_001
          tool_version: 2
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: "Number of movies to return (default 20)"
          example: 20
        - name: start
          in: query
          required: false
          schema:
            type: integer
          description: "Pagination offset"
          example: 0
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
