openapi: "3.1.0"
info:
  title: Douban
  version: "2.0"
  x-openweb:
    spec_version: "2.0"
servers:
  - url: https://www.douban.com
    x-openweb:
      transport: page
paths:
  /internal/searchMovies:
    get:
      operationId: searchMovies
      summary: Search movies by keyword
      x-openweb:
        permission: read
        build:
          stable_id: douban0001
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: douban-dom
          operation: searchMovies
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search keyword.
          example: Inception
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset (increments of 15).
      responses:
        "200":
          description: Movie search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type:
                            - integer
                            - "null"
                        title:
                          type:
                            - string
                            - "null"
                        url:
                          type:
                            - string
                            - "null"
                        rating:
                          type:
                            - string
                            - "null"
                        ratingCount:
                          type:
                            - string
                            - "null"
                        abstract:
                          type:
                            - string
                            - "null"
                        cover:
                          type:
                            - string
                            - "null"

  /internal/getMovieDetail:
    get:
      operationId: getMovieDetail
      summary: Get movie detail — rating, cast, synopsis, genres
      x-openweb:
        permission: read
        build:
          stable_id: douban0002
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: douban-dom
          operation: getMovieDetail
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: Douban movie subject ID.
          example: 3541415
      responses:
        "200":
          description: Movie detail with rating, cast, and metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type:
                      - integer
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  year:
                    type:
                      - string
                      - "null"
                  rating:
                    type:
                      - number
                      - "null"
                  ratingCount:
                    type:
                      - integer
                      - "null"
                  genres:
                    type: array
                    items:
                      type: string
                  directors:
                    type: array
                    items:
                      type: string
                  actors:
                    type: array
                    items:
                      type: string
                  duration:
                    type:
                      - string
                      - "null"
                  datePublished:
                    type:
                      - string
                      - "null"
                  description:
                    type:
                      - string
                      - "null"
                  poster:
                    type:
                      - string
                      - "null"
                  url:
                    type:
                      - string
                      - "null"

  /internal/getMovieComments:
    get:
      operationId: getMovieComments
      summary: Get user comments and ratings for a movie
      x-openweb:
        permission: read
        build:
          stable_id: douban0003
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: douban-dom
          operation: getMovieComments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: Douban movie subject ID.
          example: 3541415
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of comments per page.
        - name: status
          in: query
          required: false
          schema:
            type: string
            default: P
            enum:
              - P
              - F
          description: "Filter: P = watched, F = want to watch."
      responses:
        "200":
          description: Movie comments list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  movieTitle:
                    type:
                      - string
                      - "null"
                  commentCount:
                    type: integer
                  comments:
                    type: array
                    items:
                      type: object
                      properties:
                        author:
                          type:
                            - string
                            - "null"
                        rating:
                          type:
                            - number
                            - "null"
                          description: "Star rating 1-5."
                        ratingLabel:
                          type:
                            - string
                            - "null"
                        time:
                          type:
                            - string
                            - "null"
                        content:
                          type:
                            - string
                            - "null"
                        votes:
                          type: integer

  /internal/getTopMovies:
    get:
      operationId: getTopMovies
      summary: Get Douban Top 250 movies
      x-openweb:
        permission: read
        build:
          stable_id: douban0004
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: douban-dom
          operation: getTopMovies
      parameters:
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset (increments of 25).
      responses:
        "200":
          description: Top 250 movies list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  start:
                    type: integer
                  count:
                    type: integer
                  movies:
                    type: array
                    items:
                      type: object
                      properties:
                        rank:
                          type: integer
                        id:
                          type:
                            - integer
                            - "null"
                        title:
                          type:
                            - string
                            - "null"
                        otherTitle:
                          type:
                            - string
                            - "null"
                        rating:
                          type: number
                        ratingCount:
                          type:
                            - integer
                            - "null"
                        quote:
                          type:
                            - string
                            - "null"
                        url:
                          type:
                            - string
                            - "null"
                        cover:
                          type:
                            - string
                            - "null"

  /internal/searchBooks:
    get:
      operationId: searchBooks
      summary: Search books by keyword
      x-openweb:
        permission: read
        build:
          stable_id: douban0005
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: douban-dom
          operation: searchBooks
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search keyword.
          example: Python
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset (increments of 15).
      responses:
        "200":
          description: Book search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type:
                            - integer
                            - "null"
                        title:
                          type:
                            - string
                            - "null"
                        url:
                          type:
                            - string
                            - "null"
                        rating:
                          type:
                            - string
                            - "null"
                        ratingCount:
                          type:
                            - string
                            - "null"
                        abstract:
                          type:
                            - string
                            - "null"
                        cover:
                          type:
                            - string
                            - "null"

  /internal/getBookDetail:
    get:
      operationId: getBookDetail
      summary: Get book detail — rating, author, publisher, summary
      x-openweb:
        permission: read
        build:
          stable_id: douban0006
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: douban-dom
          operation: getBookDetail
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: Douban book subject ID.
          example: 1084336
      responses:
        "200":
          description: Book detail with rating, author, publisher info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type:
                      - integer
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  authors:
                    type: array
                    items:
                      type: string
                  isbn:
                    type:
                      - string
                      - "null"
                  rating:
                    type:
                      - number
                      - "null"
                  ratingCount:
                    type:
                      - integer
                      - "null"
                  publisher:
                    type:
                      - string
                      - "null"
                  publishDate:
                    type:
                      - string
                      - "null"
                  pages:
                    type:
                      - string
                      - "null"
                  price:
                    type:
                      - string
                      - "null"
                  binding:
                    type:
                      - string
                      - "null"
                  translator:
                    type:
                      - string
                      - "null"
                  summary:
                    type:
                      - string
                      - "null"
                  cover:
                    type:
                      - string
                      - "null"
                  url:
                    type:
                      - string
                      - "null"

  /internal/getBookComments:
    get:
      operationId: getBookComments
      summary: Get user comments for a book
      x-openweb:
        permission: read
        build:
          stable_id: douban0007
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: douban-dom
          operation: getBookComments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: Douban book subject ID.
          example: 1084336
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset.
      responses:
        "200":
          description: Book comments list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookTitle:
                    type:
                      - string
                      - "null"
                  commentCount:
                    type: integer
                  comments:
                    type: array
                    items:
                      type: object
                      properties:
                        author:
                          type:
                            - string
                            - "null"
                        rating:
                          type:
                            - number
                            - "null"
                          description: "Star rating 1-5."
                        ratingLabel:
                          type:
                            - string
                            - "null"
                        time:
                          type:
                            - string
                            - "null"
                        content:
                          type:
                            - string
                            - "null"
                        votes:
                          type: integer
