openapi: "3.1.0"
info:
  title: Docker Hub
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    requires_auth: false
servers:
  - url: https://hub.docker.com
    x-openweb:
      transport: node
paths:
  /v2/search/repositories/:
    get:
      operationId: searchImages
      summary: "Search for container images by keyword — name, description, stars, pulls"
      x-openweb:
        permission: read
        transport: node
        build:
          stable_id: dockerhub_searchImages_v1
          tool_version: 2
        adapter:
          name: docker-hub
          operation: searchImages
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: "Search query (e.g., nginx, python, node)"
          example: nginx
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results per page (default 25, max 100)"
          example: 25
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: "Page number for pagination (starts at 1)"
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: "Total number of matching results"
                  next:
                    type:
                      - string
                      - "null"
                    description: "URL for next page of results"
                  previous:
                    type:
                      - string
                      - "null"
                    description: "URL for previous page of results"
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        repo_name:
                          type: string
                          description: "Full repository name (e.g., library/nginx or user/repo)"
                        short_description:
                          type: string
                          description: "Brief description of the image"
                        star_count:
                          type: integer
                          description: "Number of stars"
                        pull_count:
                          type: integer
                          description: "Number of pulls/downloads"
                        repo_owner:
                          type:
                            - string
                            - "null"
                          description: "Owner username or null for official images"
                        is_automated:
                          type: boolean
                          description: "Whether the build is automated"
                        is_official:
                          type: boolean
                          description: "Whether this is an official Docker image"
                      required: [repo_name, short_description, star_count, pull_count, is_official]
                required: [count, results]

  /v2/repositories/{namespace}/{name}/:
    get:
      operationId: getImage
      summary: "Get image details — full description, stars, pulls, last updated"
      x-openweb:
        permission: read
        transport: node
        build:
          stable_id: dockerhub_getImage_v1
          tool_version: 2
        adapter:
          name: docker-hub
          operation: getImage
      parameters:
        - name: image
          in: query
          required: false
          schema:
            type: string
          description: "Image reference (e.g., 'python' for official, 'bitnami/python' for user). Alternative to namespace+name."
          example: python
        - name: namespace
          in: path
          required: false
          schema:
            type: string
          description: "Image namespace (use 'library' for official images, or the username). Not needed if 'image' is provided."
          example: library
        - name: name
          in: path
          required: false
          schema:
            type: string
          description: "Image name (e.g., nginx, python, node). Not needed if 'image' is provided."
          example: nginx
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: "Repository name"
                  namespace:
                    type: string
                    description: "Repository namespace"
                  description:
                    type:
                      - string
                      - "null"
                    description: "Short description"
                  full_description_preview:
                    type:
                      - string
                      - "null"
                    description: "First 500 characters of the full description"
                  star_count:
                    type: integer
                    description: "Number of stars"
                  pull_count:
                    type: integer
                    description: "Number of pulls/downloads"
                  last_updated:
                    type: string
                    description: "ISO 8601 timestamp of last update"
                  date_registered:
                    type: string
                    description: "ISO 8601 timestamp of registration"
                  is_private:
                    type: boolean
                    description: "Whether the repository is private"
                  is_official:
                    type: boolean
                    description: "Whether this is an official Docker image"
                  repository_type:
                    type: string
                    description: "Type of repository (e.g., image)"
                  categories:
                    type: array
                    items:
                      type: string
                    description: "Category names"
                required: [name, namespace, star_count, pull_count, last_updated]

  /v2/repositories/{namespace}/{name}/tags/:
    get:
      operationId: getTags
      summary: "List tags/versions for an image — tag name, size, last updated, digest"
      x-openweb:
        permission: read
        transport: node
        build:
          stable_id: dockerhub_getTags_v1
          tool_version: 2
        adapter:
          name: docker-hub
          operation: getTags
      parameters:
        - name: image
          in: query
          required: false
          schema:
            type: string
          description: "Image reference (e.g., 'python' for official, 'bitnami/python' for user). Alternative to namespace+name."
          example: python
        - name: namespace
          in: path
          required: false
          schema:
            type: string
          description: "Image namespace (use 'library' for official images, or the username). Not needed if 'image' is provided."
          example: library
        - name: name
          in: path
          required: false
          schema:
            type: string
          description: "Image name (e.g., nginx, python, node). Not needed if 'image' is provided."
          example: nginx
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
          description: "Number of tags per page (default 10, max 100)"
          example: 25
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: "Page number for pagination (starts at 1)"
          example: 1
        - name: ordering
          in: query
          required: false
          schema:
            type: string
            enum: [last_updated, "-last_updated", name, "-name"]
          description: "Sort order for tags (prefix with - for descending)"
          example: "-last_updated"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: "Total number of tags"
                  next:
                    type:
                      - string
                      - "null"
                    description: "URL for next page of results"
                  previous:
                    type:
                      - string
                      - "null"
                    description: "URL for previous page of results"
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: "Tag name (e.g., latest, 1.25, alpine)"
                        size:
                          type:
                            - string
                            - "null"
                          description: "Human-readable compressed size (e.g., 43.8 MB)"
                        size_bytes:
                          type:
                            - integer
                            - "null"
                          description: "Compressed size in bytes"
                        last_updated:
                          type: string
                          description: "ISO 8601 timestamp of last update"
                        tag_status:
                          type: string
                          description: "Tag status (e.g., active, stale)"
                        tag_last_pushed:
                          type:
                            - string
                            - "null"
                          description: "ISO 8601 timestamp of last push"
                        digest:
                          type: string
                          description: "Image digest (sha256)"
                        architectures:
                          type: array
                          items:
                            type: string
                          description: "Available platforms (e.g., linux/amd64, linux/arm64)"
                        platform_count:
                          type: integer
                          description: "Number of platform variants"
                      required: [name, last_updated]
                required: [count, results]
