openapi: 3.1.0
info:
  title: reddit
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-29T06:39:38.584Z
    requires_auth: false
servers:
  - url: https://www.reddit.com
    x-openweb:
      transport: node
paths:
  /r/{subreddit}.json:
    get:
      operationId: getSubredditPosts
      summary: >-
        Get subreddit posts — title, author, score, comment count, URL,
        created timestamp, thumbnail, selftext, flair, awards
      x-openweb:
        permission: read
        build:
          stable_id: 9534943fee0ebe7a
          tool_version: 2
      parameters:
        - name: subreddit
          in: path
          required: true
          schema:
            type: string
          description: Subreddit name without r/ prefix (e.g. "programming", "technology")
          example: programming
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - hot
              - new
              - top
              - rising
          description: Sort order for posts
          example: hot
        - name: t
          in: query
          schema:
            type: string
            enum:
              - hour
              - day
              - week
              - month
              - year
              - all
          description: Time filter (only used with sort=top)
          example: day
        - name: limit
          in: query
          schema:
            type: integer
          description: Number of posts to return (max 100)
          example: 25
        - name: after
          in: query
          schema:
            type: string
          description: Pagination cursor — fullname of the last item (e.g. "t3_1s5ja3a")
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      after:
                        type: string
                        nullable: true
                      dist:
                        type: integer
                      modhash:
                        type: string
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            kind:
                              type: string
                            data:
                              type: object

  /r/popular.json:
    get:
      operationId: getPopularPosts
      summary: >-
        Get popular posts across all subreddits — title, author, score,
        comment count, subreddit, URL, created timestamp
      x-openweb:
        permission: read
        build:
          stable_id: a134943fee0ebe7b
          tool_version: 2
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
          description: Number of posts to return (max 100)
          example: 25
        - name: after
          in: query
          schema:
            type: string
          description: Pagination cursor — fullname of the last item
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      after:
                        type: string
                        nullable: true
                      dist:
                        type: integer
                      modhash:
                        type: string
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            kind:
                              type: string
                            data:
                              type: object

  /search.json:
    get:
      operationId: searchPosts
      summary: >-
        Search posts by keyword — title, author, score, comment count,
        subreddit, URL, selftext snippet, created timestamp
      x-openweb:
        permission: read
        build:
          stable_id: 2c3d7a7c71f0c7ea
          tool_version: 2
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query
          example: typescript
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - relevance
              - hot
              - top
              - new
              - comments
          description: Sort order for search results
          example: relevance
        - name: t
          in: query
          schema:
            type: string
            enum:
              - hour
              - day
              - week
              - month
              - year
              - all
          description: Time filter
          example: all
        - name: limit
          in: query
          schema:
            type: integer
          description: Number of results to return (max 100)
          example: 25
        - name: after
          in: query
          schema:
            type: string
          description: Pagination cursor
        - name: type
          in: query
          schema:
            type: string
            enum:
              - link
              - sr
              - user
          description: "Filter by type: link (posts), sr (subreddits), user (users)"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      after:
                        type: string
                        nullable: true
                      dist:
                        type: integer
                      facets:
                        type: object
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            kind:
                              type: string
                            data:
                              type: object

  /r/{subreddit}/comments/{post_id}.json:
    get:
      operationId: getPostComments
      summary: >-
        Get post with comments — post title, selftext, author, score,
        comment tree with author, body, score, replies, created timestamp
      x-openweb:
        permission: read
        build:
          stable_id: 361929b38dce67b4
          tool_version: 2
      parameters:
        - name: subreddit
          in: path
          required: true
          schema:
            type: string
          description: Subreddit name without r/ prefix
          example: programming
        - name: post_id
          in: path
          required: true
          schema:
            type: string
          description: Post ID (base-36 alphanumeric, e.g. "1s5ja3a")
          example: 1s5ja3a
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - confidence
              - top
              - new
              - controversial
              - old
              - qa
          description: Comment sort order
          example: confidence
        - name: limit
          in: query
          schema:
            type: integer
          description: Number of top-level comments to return
          example: 50
      responses:
        "200":
          description: Success. Returns array of two Listings — [0] is the post, [1] is the comment tree.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    kind:
                      type: string
                    data:
                      type: object
                      properties:
                        after:
                          type: string
                          nullable: true
                        dist:
                          type: integer
                          nullable: true
                        children:
                          type: array
                          items:
                            type: object
                            properties:
                              kind:
                                type: string
                              data:
                                type: object

  /user/{username}/about.json:
    get:
      operationId: getUserProfile
      summary: >-
        Get user profile — display name, karma (link + comment), account
        created date, description, avatar URL, is_gold, verified
      x-openweb:
        permission: read
        build:
          stable_id: b234567890abcdef
          tool_version: 2
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Reddit username (without u/ prefix)
          example: spez
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                      id:
                        type: string
                      verified:
                        type: boolean
                      is_gold:
                        type: boolean
                      is_mod:
                        type: boolean
                      is_employee:
                        type: boolean
                      link_karma:
                        type: integer
                      comment_karma:
                        type: integer
                      total_karma:
                        type: integer
                      created:
                        type: number
                      created_utc:
                        type: number
                      icon_img:
                        type: string
                      has_verified_email:
                        type: boolean
                      subreddit:
                        type: object

  /user/{username}.json:
    get:
      operationId: getUserPosts
      summary: >-
        Get user's recent posts and comments — title, body, score, subreddit,
        created timestamp, type (post or comment)
      x-openweb:
        permission: read
        build:
          stable_id: c345678901abcdef
          tool_version: 2
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Reddit username (without u/ prefix)
          example: spez
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - new
              - hot
              - top
          description: Sort order
          example: new
        - name: limit
          in: query
          schema:
            type: integer
          description: Number of items to return (max 100)
          example: 25
        - name: after
          in: query
          schema:
            type: string
          description: Pagination cursor
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      after:
                        type: string
                        nullable: true
                      dist:
                        type: integer
                      modhash:
                        type: string
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            kind:
                              type: string
                            data:
                              type: object

  /r/{subreddit}/about.json:
    get:
      operationId: getSubredditAbout
      summary: >-
        Get subreddit metadata — display name, title, description, subscriber
        count, active users, created date, rules
      x-openweb:
        permission: read
        build:
          stable_id: rd0006
          tool_version: 1
      parameters:
        - name: subreddit
          in: path
          required: true
          schema:
            type: string
          description: Subreddit name (without r/ prefix)
          example: programming
      responses:
        "200":
          description: Subreddit metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      display_name:
                        type: string
                      display_name_prefixed:
                        type: string
                      title:
                        type: string
                      public_description:
                        type: string
                      description:
                        type: string
                      subscribers:
                        type: integer
                      accounts_active:
                        type: integer
                        nullable: true
                      created:
                        type: number
                      created_utc:
                        type: number
                      icon_img:
                        type: string
                      community_icon:
                        type: string
                      header_img:
                        type: string
                        nullable: true
                      quarantine:
                        type: boolean
                      over18:
                        type: boolean
                      subreddit_type:
                        type: string

  /api/vote:
    post:
      operationId: vote
      summary: Vote on a post or comment (upvote, downvote, or unvote)
      x-openweb:
        permission: write
        build:
          stable_id: rd0002
          tool_version: 1
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - dir
              properties:
                id:
                  type: string
                  description: Fullname of the thing to vote on (e.g. "t3_abc123").
                dir:
                  type: integer
                  description: "Vote direction: 1 = upvote, 0 = unvote, -1 = downvote."
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /api/save:
    post:
      operationId: savePost
      summary: Save (bookmark) a post or comment
      x-openweb:
        permission: write
        build:
          stable_id: rd0010
          tool_version: 1
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: Fullname of the thing to save (e.g. "t3_abc123").
                category:
                  type: string
                  description: Optional save category (Reddit Gold feature).
      responses:
        "200":
          description: Success (empty JSON object).
          content:
            application/json:
              schema:
                type: object

  /api/v1/me:
    get:
      operationId: getMe
      summary: Get authenticated user profile via OAuth
      servers:
        - url: https://oauth.reddit.com
      x-openweb:
        permission: read
        build:
          stable_id: rd0003
          tool_version: 1
      parameters: []
      responses:
        "200":
          description: Authenticated user profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  id:
                    type: string
                  is_employee:
                    type: boolean
                  verified:
                    type: boolean
                  is_gold:
                    type: boolean
                  is_mod:
                    type: boolean
                  link_karma:
                    type: integer
                  comment_karma:
                    type: integer
                  total_karma:
                    type: integer
                  created:
                    type: number
                  created_utc:
                    type: number
                  icon_img:
                    type: string
                  has_verified_email:
                    type: boolean
                  features:
                    type: object
