openapi: 3.1.0
info:
  title: reddit
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T17:49:18.076Z
    requires_auth: true
servers:
  - url: https://www.reddit.com
    x-openweb:
      transport: node
      auth:
        type: localStorage_jwt
        key: chat:access-token
        path: token
        inject:
          header: Authorization
          prefix: "Bearer "
paths:
  /search/:
    get:
      operationId: search
      summary: Search Reddit posts and comments
      x-openweb:
        permission: read
        build:
          stable_id: 2c3d7a7c71f0c7ea
          tool_version: 2
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: javascript
        - name: type
          in: query
          required: true
          schema:
            type: string
          example: link
      responses:
        "200":
          description: Success.
          content:
            text/html; charset=utf-8:
              schema:
                type: object
  /svc/shreddit/community-more-posts/best/:
    get:
      operationId: getSubredditPosts
      summary: Get subreddit posts (paginated)
      x-openweb:
        permission: read
        build:
          stable_id: f2da01a48a7efd05
          tool_version: 2
      parameters:
        - name: adDistance
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: ad_posts_served
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: after
          in: query
          required: true
          schema:
            type: string
          example: dDNfMXMyaDhsdA==
        - name: feedLength
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: name
          in: query
          required: true
          schema:
            type: string
          example: programming
        - name: navigationSessionId
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: t
          in: query
          required: true
          schema:
            type: string
          example: DAY
      responses:
        "200":
          description: Success.
          content:
            text/vnd.reddit.partial+html; charset=utf-8:
              schema:
                type: object
  /svc/shreddit/graphql:
    post:
      operationId: graphqlQuery
      summary: Execute a Reddit GraphQL query
      x-openweb:
        permission: write
        build:
          stable_id: 7b3159bbed6cc9c8
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      exposeExperiment:
                        type: object
                        properties:
                          ok:
                            type: boolean
                          errors:
                            type: "null"
                        required:
                          - ok
                          - errors
                      enrollInGamification:
                        type: object
                        properties:
                          ok:
                            type: boolean
                          status:
                            type: string
                            enum:
                              - ENROLLED
                          errors:
                            type: "null"
                        required:
                          - ok
                          - status
                          - errors
                      createCaptchaToken:
                        type: object
                        properties:
                          ok:
                            type: boolean
                        required:
                          - ok
                      redditorInfoByName:
                        type: object
                        properties:
                          __typename:
                            type: string
                            enum:
                              - Redditor
                          trophyCase:
                            type: object
                            properties:
                              totalUnlocked:
                                type: integer
                              trophiesBySubredditId:
                                type: "null"
                            required:
                              - totalUnlocked
                              - trophiesBySubredditId
                        required:
                          - __typename
                          - trophyCase
                    required: []
                  errors:
                    type: array
                    items:
                      type: object
                  operation:
                    type: string
                    enum:
                      - CreateCaptchaToken
                      - EnrollInStreaks
                      - ExposeVariant
                      - UserCommunityAchievements
                required:
                  - data
                  - errors
                  - operation
