openapi: 3.1.0
info:
  title: reddit
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T06:02:07.999Z
    requires_auth: false
servers:
  - url: https://www.reddit.com
    x-openweb:
      transport: node
paths:
  /.json:
    get:
      operationId: getHomeFeed
      summary: Get Reddit homepage feed (popular posts across all subreddits)
      x-openweb:
        permission: read
        build:
          stable_id: 36630a20a9babfb5
          tool_version: 2
      parameters:
        - name: limit
          in: query
          required: false
          description: Number of posts to return (max 100)
          schema:
            type: integer
        - name: after
          in: query
          required: false
          description: Fullname of post for pagination (e.g. t3_abc123)
          schema:
            type: string
        - name: before
          in: query
          required: false
          description: Fullname of post for reverse pagination
          schema:
            type: string
      responses:
        "200":
          description: A listing of posts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      after:
                        type: string
                      dist:
                        type: integer
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            kind:
                              type: string
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                title:
                                  type: string
                                selftext:
                                  type: string
                                author:
                                  type: string
                                subreddit:
                                  type: string
                                score:
                                  type: integer
                                num_comments:
                                  type: integer
                                created_utc:
                                  type: number
                                permalink:
                                  type: string
                                url:
                                  type: string
                                thumbnail:
                                  type: string
                                is_self:
                                  type: boolean
                                over_18:
                                  type: boolean
                                domain:
                                  type: string
                                upvote_ratio:
                                  type: number

  /r/{subreddit}.json:
    get:
      operationId: getSubredditPosts
      summary: Get posts from a subreddit (default sort is hot)
      x-openweb:
        permission: read
        build:
          stable_id: 7a1b2c3d4e5f6789
          tool_version: 2
      parameters:
        - name: subreddit
          in: path
          required: true
          description: Subreddit name (e.g. technology, programming)
          schema:
            type: string
          exampleValue: technology
        - name: limit
          in: query
          required: false
          description: Number of posts to return (max 100)
          schema:
            type: integer
        - name: after
          in: query
          required: false
          description: Fullname of post for pagination
          schema:
            type: string
        - name: before
          in: query
          required: false
          description: Fullname of post for reverse pagination
          schema:
            type: string
      responses:
        "200":
          description: A listing of subreddit posts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      after:
                        type: string
                      dist:
                        type: integer
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            kind:
                              type: string
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                title:
                                  type: string
                                selftext:
                                  type: string
                                author:
                                  type: string
                                subreddit:
                                  type: string
                                score:
                                  type: integer
                                num_comments:
                                  type: integer
                                created_utc:
                                  type: number
                                permalink:
                                  type: string
                                url:
                                  type: string
                                thumbnail:
                                  type: string
                                is_self:
                                  type: boolean
                                over_18:
                                  type: boolean
                                domain:
                                  type: string
                                upvote_ratio:
                                  type: number

  /r/{subreddit}/{sort}.json:
    get:
      operationId: getSubredditSorted
      summary: Get sorted posts from a subreddit (hot, new, top, rising)
      x-openweb:
        permission: read
        build:
          stable_id: 8b2c3d4e5f6a7890
          tool_version: 2
      parameters:
        - name: subreddit
          in: path
          required: true
          description: Subreddit name
          schema:
            type: string
          exampleValue: technology
        - name: sort
          in: path
          required: true
          description: Sort order
          schema:
            type: string
            enum:
              - hot
              - new
              - top
              - rising
          exampleValue: top
        - name: t
          in: query
          required: false
          description: Time period for top sort (hour, day, week, month, year, all)
          schema:
            type: string
            enum:
              - hour
              - day
              - week
              - month
              - year
              - all
        - name: limit
          in: query
          required: false
          description: Number of posts to return (max 100)
          schema:
            type: integer
        - name: after
          in: query
          required: false
          description: Fullname of post for pagination
          schema:
            type: string
      responses:
        "200":
          description: A sorted listing of subreddit posts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      after:
                        type: string
                      dist:
                        type: integer
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            kind:
                              type: string
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                title:
                                  type: string
                                selftext:
                                  type: string
                                author:
                                  type: string
                                subreddit:
                                  type: string
                                score:
                                  type: integer
                                num_comments:
                                  type: integer
                                created_utc:
                                  type: number
                                permalink:
                                  type: string
                                url:
                                  type: string
                                is_self:
                                  type: boolean
                                over_18:
                                  type: boolean
                                domain:
                                  type: string
                                upvote_ratio:
                                  type: number

  /r/{subreddit}/about.json:
    get:
      operationId: getSubredditAbout
      summary: Get subreddit metadata (description, subscribers, rules)
      x-openweb:
        permission: read
        build:
          stable_id: 9c3d4e5f6a7b8901
          tool_version: 2
      parameters:
        - name: subreddit
          in: path
          required: true
          description: Subreddit name
          schema:
            type: string
          exampleValue: technology
      responses:
        "200":
          description: Subreddit metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      display_name:
                        type: string
                      title:
                        type: string
                      public_description:
                        type: string
                      description:
                        type: string
                      subscribers:
                        type: integer
                      active_user_count:
                        type: integer
                      created_utc:
                        type: number
                      over18:
                        type: boolean
                      icon_img:
                        type: string
                      banner_img:
                        type: string
                      subreddit_type:
                        type: string
                      header_title:
                        type: string
                      url:
                        type: string
                      name:
                        type: string
                      id:
                        type: string
                      community_icon:
                        type: string

  /search.json:
    get:
      operationId: searchPosts
      summary: Search Reddit posts by keyword
      x-openweb:
        permission: read
        build:
          stable_id: ad4e5f6a7b8c9012
          tool_version: 2
      parameters:
        - name: q
          in: query
          required: true
          description: Search query
          schema:
            type: string
          exampleValue: typescript
        - name: type
          in: query
          required: false
          description: Filter by type (link, sr, user)
          schema:
            type: string
            enum:
              - link
              - sr
              - user
        - name: sort
          in: query
          required: false
          description: Sort results
          schema:
            type: string
            enum:
              - relevance
              - hot
              - top
              - new
              - comments
        - name: t
          in: query
          required: false
          description: Time period filter
          schema:
            type: string
            enum:
              - hour
              - day
              - week
              - month
              - year
              - all
        - name: limit
          in: query
          required: false
          description: Number of results (max 100)
          schema:
            type: integer
        - name: after
          in: query
          required: false
          description: Fullname for pagination
          schema:
            type: string
      responses:
        "200":
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      after:
                        type: string
                      dist:
                        type: integer
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            kind:
                              type: string
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                title:
                                  type: string
                                selftext:
                                  type: string
                                author:
                                  type: string
                                subreddit:
                                  type: string
                                score:
                                  type: integer
                                num_comments:
                                  type: integer
                                created_utc:
                                  type: number
                                permalink:
                                  type: string
                                url:
                                  type: string
                                is_self:
                                  type: boolean
                                over_18:
                                  type: boolean
                                domain:
                                  type: string
                                upvote_ratio:
                                  type: number

  /user/{username}/about.json:
    get:
      operationId: getUserAbout
      summary: Get user profile information
      x-openweb:
        permission: read
        build:
          stable_id: be5f6a7b8c9d0123
          tool_version: 2
      parameters:
        - name: username
          in: path
          required: true
          description: Reddit username
          schema:
            type: string
          exampleValue: spez
      responses:
        "200":
          description: User profile data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                      id:
                        type: string
                      icon_img:
                        type: string
                      link_karma:
                        type: integer
                      comment_karma:
                        type: integer
                      total_karma:
                        type: integer
                      created_utc:
                        type: number
                      is_gold:
                        type: boolean
                      is_mod:
                        type: boolean
                      verified:
                        type: boolean
                      has_verified_email:
                        type: boolean
                      subreddit:
                        type: object
                        properties:
                          display_name:
                            type: string
                          title:
                            type: string
                          public_description:
                            type: string
                          subscribers:
                            type: integer

  /user/{username}/submitted.json:
    get:
      operationId: getUserSubmitted
      summary: Get posts submitted by a user
      x-openweb:
        permission: read
        build:
          stable_id: cf6a7b8c9d0e1234
          tool_version: 2
      parameters:
        - name: username
          in: path
          required: true
          description: Reddit username
          schema:
            type: string
          exampleValue: spez
        - name: sort
          in: query
          required: false
          description: Sort order
          schema:
            type: string
            enum:
              - hot
              - new
              - top
              - controversial
        - name: t
          in: query
          required: false
          description: Time period for top/controversial
          schema:
            type: string
            enum:
              - hour
              - day
              - week
              - month
              - year
              - all
        - name: limit
          in: query
          required: false
          description: Number of posts (max 100)
          schema:
            type: integer
        - name: after
          in: query
          required: false
          description: Fullname for pagination
          schema:
            type: string
      responses:
        "200":
          description: Listing of user's submitted posts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      after:
                        type: string
                      dist:
                        type: integer
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            kind:
                              type: string
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                title:
                                  type: string
                                selftext:
                                  type: string
                                author:
                                  type: string
                                subreddit:
                                  type: string
                                score:
                                  type: integer
                                num_comments:
                                  type: integer
                                created_utc:
                                  type: number
                                permalink:
                                  type: string
                                url:
                                  type: string
                                is_self:
                                  type: boolean
                                over_18:
                                  type: boolean
                                domain:
                                  type: string
                                upvote_ratio:
                                  type: number

  /user/{username}/comments.json:
    get:
      operationId: getUserComments
      summary: Get comments made by a user
      x-openweb:
        permission: read
        build:
          stable_id: d07b8c9d0e1f2345
          tool_version: 2
      parameters:
        - name: username
          in: path
          required: true
          description: Reddit username
          schema:
            type: string
          exampleValue: spez
        - name: sort
          in: query
          required: false
          description: Sort order
          schema:
            type: string
            enum:
              - hot
              - new
              - top
              - controversial
        - name: t
          in: query
          required: false
          description: Time period for top/controversial
          schema:
            type: string
            enum:
              - hour
              - day
              - week
              - month
              - year
              - all
        - name: limit
          in: query
          required: false
          description: Number of comments (max 100)
          schema:
            type: integer
        - name: after
          in: query
          required: false
          description: Fullname for pagination
          schema:
            type: string
      responses:
        "200":
          description: Listing of user's comments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind:
                    type: string
                  data:
                    type: object
                    properties:
                      after:
                        type: string
                      dist:
                        type: integer
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            kind:
                              type: string
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                body:
                                  type: string
                                body_html:
                                  type: string
                                author:
                                  type: string
                                subreddit:
                                  type: string
                                score:
                                  type: integer
                                ups:
                                  type: integer
                                created_utc:
                                  type: number
                                permalink:
                                  type: string
                                link_title:
                                  type: string
                                link_permalink:
                                  type: string
