openapi: 3.1.0
info:
  title: xueqiu
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-01T23:45:12.455Z
    requires_auth: true
servers:
  - url: https://xueqiu.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
      auth_check:
        - path: error_code
          equals: "60201"
paths:
  /query/v1/search/web/stock.json:
    get:
      operationId: searchStocks
      summary: "Search stocks by keyword — code, name, exchange, current price, industry, percentage change"
      x-openweb:
        permission: read
        adapter:
          name: xueqiu
          operation: searchStocks
        build:
          stable_id: afa699cb57a04a9f
          tool_version: 2
          verified: true
          signals:
            - node-verified
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: "Search keyword (stock name, ticker, or company name)"
          example: 茅台
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results to return (default 10)"
          example: 10
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Total number of matching results
                  list:
                    type: array
                    description: Array of matching stock results
                    items:
                      type: object
                      description: Stock search result
                      properties:
                        code:
                          type: string
                          description: "Stock symbol with exchange prefix (e.g. SH600519)"
                        name:
                          type: string
                          description: Stock name
                        current:
                          type: string
                          description: Current price as string
                        exchange:
                          type: string
                          description: "Exchange code (e.g. SH, SZ, NYSE)"
                        percentage:
                          type: number
                          description: Price change percentage
                        indName:
                          type: string
                          description: Industry sector name
                        stockId:
                          type: integer
                          description: Internal stock identifier
                        subType:
                          type: string
                          description: Stock sub-type classification
                        market_status:
                          type: integer
                          description: "Market trading status code"
                      required:
                        - code
                        - name
                        - current
                        - exchange
                        - percentage
                  maxPage:
                    type: integer
                    description: Total number of pages available
                  page:
                    type: integer
                    description: Current page number
                  size:
                    type: integer
                    description: Number of results per page
                required:
                  - count
                  - list
                  - maxPage
                  - page
  /v5/stock/realtime/quotec.json:
    get:
      operationId: getStockQuote
      summary: "Get real-time stock quote — current price, percent change, volume, market cap, open, high, low, turnover rate"
      x-openweb:
        permission: read
        adapter:
          name: xueqiu
          operation: getStockQuote
        build:
          stable_id: 569882a05450bce5
          tool_version: 2
          verified: true
          signals:
            - node-verified
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: "Stock symbol(s), comma-separated for batch (e.g. SH600519,AAPL)"
          example: SH600519
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of stock quote data
                    items:
                      type: object
                      description: Real-time quote for a single stock
                      properties:
                        symbol:
                          type: string
                          description: Stock symbol
                        current:
                          type: number
                          description: Current trading price
                        percent:
                          type: number
                          description: Price change percentage from previous close
                        chg:
                          type: number
                          description: Absolute price change from previous close
                        timestamp:
                          type: integer
                          description: Quote timestamp in milliseconds
                        volume:
                          type: integer
                          description: Trading volume (shares)
                        amount:
                          type: number
                          description: Trading amount (currency value)
                        market_capital:
                          type: integer
                          description: Total market capitalization
                        float_market_capital:
                          anyOf:
                            - type: integer
                            - type: "null"
                          description: Float market capitalization (null if unavailable)
                        turnover_rate:
                          type: number
                          description: Turnover rate as percentage
                        amplitude:
                          type: number
                          description: "Price amplitude: (high - low) / last_close"
                        open:
                          type: number
                          description: Opening price
                        last_close:
                          type: number
                          description: Previous trading day close price
                        high:
                          type: number
                          description: Highest price of the day
                        low:
                          type: number
                          description: Lowest price of the day
                        avg_price:
                          type: number
                          description: Volume-weighted average price
                        is_trade:
                          type: boolean
                          description: Whether the stock is currently trading
                        current_year_percent:
                          type: number
                          description: Year-to-date price change percentage
                      required:
                        - symbol
                        - current
                        - percent
                        - chg
                        - timestamp
                        - volume
                        - amount
                        - market_capital
                        - open
                        - last_close
                        - high
                        - low
                  error_code:
                    type: integer
                    description: "API error code (0 = success)"
                  error_description:
                    type: "null"
                    description: Error description (null on success)
                required:
                  - data
                  - error_code
      servers:
        - url: https://stock.xueqiu.com
  /v5/stock/realtime/pankou.json:
    get:
      operationId: getOrderBook
      summary: "Get order book (pankou) — bid/ask prices and volumes at 5 levels"
      x-openweb:
        permission: read
        adapter:
          name: xueqiu
          operation: getOrderBook
        build:
          stable_id: 4c8b5652775743f8
          tool_version: 2
          verified: true
          signals:
            - node-verified
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: "Stock symbol (e.g. SH600519)"
          example: SH600519
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Order book depth data
                    properties:
                      symbol:
                        type: string
                        description: Stock symbol
                      timestamp:
                        type: integer
                        description: Order book snapshot timestamp in milliseconds
                      current:
                        type: number
                        description: Current trading price
                      bp1:
                        type: number
                        description: Best bid price (level 1)
                      bc1:
                        type: integer
                        description: Bid volume at level 1 (lots)
                      bp2:
                        type: number
                        description: Bid price level 2
                      bc2:
                        type: integer
                        description: Bid volume at level 2
                      bp3:
                        type: number
                        description: Bid price level 3
                      bc3:
                        type: integer
                        description: Bid volume at level 3
                      bp4:
                        type: number
                        description: Bid price level 4
                      bc4:
                        type: integer
                        description: Bid volume at level 4
                      bp5:
                        type: number
                        description: Bid price level 5
                      bc5:
                        type: integer
                        description: Bid volume at level 5
                      sp1:
                        type: number
                        description: Best ask price (level 1)
                      sc1:
                        type: integer
                        description: Ask volume at level 1 (lots)
                      sp2:
                        type: number
                        description: Ask price level 2
                      sc2:
                        type: integer
                        description: Ask volume at level 2
                      sp3:
                        type: number
                        description: Ask price level 3
                      sc3:
                        type: integer
                        description: Ask volume at level 3
                      sp4:
                        type: number
                        description: Ask price level 4
                      sc4:
                        type: integer
                        description: Ask volume at level 4
                      sp5:
                        type: number
                        description: Ask price level 5
                      sc5:
                        type: integer
                        description: Ask volume at level 5
                    required:
                      - symbol
                      - timestamp
                      - current
                      - bp1
                      - bc1
                      - sp1
                      - sc1
                  error_code:
                    type: integer
                    description: "API error code (0 = success)"
                required:
                  - data
                  - error_code
      servers:
        - url: https://stock.xueqiu.com
  /hot_event/list.json:
    get:
      operationId: getHotEvents
      summary: "Get hot market events — trending topics with tags, heat score, discussion count, content summary"
      x-openweb:
        permission: read
        transport: page
        adapter:
          name: xueqiu
          operation: getHotEvents
        build:
          tool_version: 2
          verified: false
          signals:
            - requires-login
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: "Number of events to return (default 10)"
          example: 10
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Total number of hot events
                  page:
                    type: integer
                    description: Current page number
                  list:
                    type: array
                    description: Array of trending market events
                    items:
                      type: object
                      description: Hot market event
                      properties:
                        id:
                          type: integer
                          description: Event identifier
                        tag:
                          type: string
                          description: Event topic tag
                        pic:
                          type: string
                          format: uri
                          description: Event thumbnail image URL
                        hot:
                          type: integer
                          description: Heat score indicating popularity
                        status_count:
                          type: integer
                          description: Number of related discussion posts
                        content:
                          type: string
                          description: Event content summary
                      required:
                        - id
                        - tag
                        - hot
                        - status_count
                        - content
                required:
                  - count
                  - list
  /statuses/hot/listV2.json:
    get:
      operationId: getTimeline
      summary: "Get hot discussion timeline — posts with author, title, description, engagement counts, timestamps"
      x-openweb:
        permission: read
        transport: page
        adapter:
          name: xueqiu
          operation: getTimeline
        build:
          stable_id: 59966686f2749634
          tool_version: 2
          verified: true
          signals:
            - page-verified
      parameters:
        - name: since_id
          in: query
          required: false
          schema:
            type: integer
          description: "Cursor for forward pagination (default -1)"
          example: -1
        - name: max_id
          in: query
          required: false
          schema:
            type: integer
          description: "Cursor for backward pagination (default -1)"
          example: -1
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: "Number of posts to return (default 15)"
          example: 15
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  next_max_id:
                    type: integer
                    description: Cursor value for fetching the next page
                  items:
                    type: array
                    description: Array of timeline posts
                    items:
                      type: object
                      description: Timeline post entry
                      properties:
                        id:
                          type: integer
                          description: Timeline entry identifier
                        original_status:
                          type: object
                          description: Original post content and metadata
                          properties:
                            id:
                              type: integer
                              description: Post identifier
                            user_id:
                              type: integer
                              description: Author user identifier
                            title:
                              type: string
                              description: Post title
                            description:
                              type: string
                              description: Post body text (may contain HTML)
                            created_at:
                              type: integer
                              description: Creation timestamp in milliseconds
                            retweet_count:
                              type: integer
                              description: Number of reposts
                            fav_count:
                              type: integer
                              description: Number of likes
                            user:
                              type: object
                              description: Post author profile
                              properties:
                                id:
                                  type: integer
                                  description: User identifier
                                screen_name:
                                  type: string
                                  description: Display name
                                followers_count:
                                  type: integer
                                  description: Number of followers
                                verified:
                                  type: boolean
                                  description: Whether the user is verified
                              required:
                                - id
                                - screen_name
                          required:
                            - id
                            - title
                            - description
                            - created_at
                            - user
                      required:
                        - id
                required:
                  - next_max_id
                  - items
  /v5/stock/chart/kline.json:
    get:
      operationId: getStockKline
      summary: "Get K-line (candlestick) chart data — timestamp, open, high, low, close, volume, change percent, turnover rate"
      x-openweb:
        permission: read
        transport: page
        adapter:
          name: xueqiu
          operation: getStockKline
        build:
          stable_id: a7c3e1f0b2d49856
          tool_version: 2
          verified: true
          signals:
            - page-verified
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: "Stock symbol (e.g. SH600519, SZ000858)"
          example: SH600519
        - name: begin
          in: query
          required: true
          schema:
            type: integer
          description: "Start timestamp in milliseconds (e.g. 1712505600000)"
          example: 1712505600000
        - name: period
          in: query
          required: false
          schema:
            type: string
            default: day
            enum: [day, week, month, quarter, year, "120m", "60m", "30m", "15m", "5m", "1m"]
          description: "K-line period (default day)"
          example: day
        - name: type
          in: query
          required: false
          schema:
            type: string
            default: before
            enum: [before, after, normal]
          description: "Pagination direction relative to begin timestamp (default before)"
          example: before
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: -30
          description: "Number of data points, negative for before direction (default -30)"
          example: -30
        - name: indicator
          in: query
          required: false
          schema:
            type: string
            default: kline
          description: "Data indicators to include (default kline)"
          example: kline
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: K-line chart data
                    properties:
                      symbol:
                        type: string
                        description: Stock symbol
                      column:
                        type: array
                        description: "Column names for item arrays (e.g. timestamp, volume, open, high, low, close, chg, percent, turnoverrate)"
                        items:
                          type: string
                      item:
                        type: array
                        description: Array of OHLCV data rows, each row matches column order
                        items:
                          type: array
                          description: Single candlestick data row
                          items:
                            type: number
                    required:
                      - symbol
                      - column
                      - item
                  error_code:
                    type: integer
                    description: "API error code (0 = success)"
                  error_description:
                    type: string
                    description: Error description
                required:
                  - data
                  - error_code
      servers:
        - url: https://stock.xueqiu.com
  /v5/stock/finance/cn/indicator.json:
    get:
      operationId: getStockFinancials
      summary: "Get financial indicators — ROE, EPS, revenue, net profit, gross margin, debt ratio per reporting period"
      x-openweb:
        permission: read
        transport: page
        adapter:
          name: xueqiu
          operation: getStockFinancials
        build:
          stable_id: b4d2f6e1c3a58970
          tool_version: 2
          verified: true
          signals:
            - page-verified
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: "Stock symbol (e.g. SH600519)"
          example: SH600519
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [Q4, Q1, Q2, Q3, all]
          description: "Report period filter — Q4 for annual, Q1-Q3 for quarterly, all for all periods (default Q4)"
          example: Q4
        - name: is_detail
          in: query
          required: false
          schema:
            type: boolean
          description: "Include detailed breakdown (default true)"
          example: true
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: "Number of reporting periods to return (default 5)"
          example: 5
        - name: timestamp
          in: query
          required: false
          schema:
            type: string
          description: "Timestamp cursor for pagination (empty string for latest)"
          example: ""
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Financial indicator data
                    properties:
                      symbol:
                        type: string
                        description: Stock symbol
                      currency:
                        type: string
                        description: "Reporting currency (e.g. CNY)"
                      list:
                        type: array
                        description: Array of financial reporting periods
                        items:
                          type: object
                          description: Financial indicators for one reporting period
                          properties:
                            report_date:
                              type: integer
                              description: Report date timestamp in milliseconds
                            report_name:
                              type: string
                              description: "Report period label (e.g. 2024年报)"
                            avg_roe:
                              type: array
                              description: "Average return on equity [value, yoy_change]"
                              items:
                                anyOf:
                                  - type: number
                                  - type: "null"
                            np_per_share:
                              type: array
                              description: "Net profit per share [value, yoy_change]"
                              items:
                                anyOf:
                                  - type: number
                                  - type: "null"
                            basic_eps:
                              type: array
                              description: "Basic earnings per share [value, yoy_change]"
                              items:
                                anyOf:
                                  - type: number
                                  - type: "null"
                            total_revenue:
                              type: array
                              description: "Total revenue [value, yoy_change]"
                              items:
                                anyOf:
                                  - type: number
                                  - type: "null"
                            net_profit_atsopc:
                              type: array
                              description: "Net profit attributable to shareholders [value, yoy_change]"
                              items:
                                anyOf:
                                  - type: number
                                  - type: "null"
                            gross_selling_rate:
                              type: array
                              description: "Gross profit margin [value, yoy_change]"
                              items:
                                anyOf:
                                  - type: number
                                  - type: "null"
                            net_selling_rate:
                              type: array
                              description: "Net profit margin [value, yoy_change]"
                              items:
                                anyOf:
                                  - type: number
                                  - type: "null"
                            asset_liab_ratio:
                              type: array
                              description: "Asset-liability ratio [value, yoy_change]"
                              items:
                                anyOf:
                                  - type: number
                                  - type: "null"
                            operate_cash_flow_ps:
                              type: array
                              description: "Operating cash flow per share [value, yoy_change]"
                              items:
                                anyOf:
                                  - type: number
                                  - type: "null"
                          required:
                            - report_date
                            - report_name
                    required:
                      - symbol
                      - list
                  error_code:
                    type: integer
                    description: "API error code (0 = success)"
                  error_description:
                    type: string
                    description: Error description
                required:
                  - data
                  - error_code
      servers:
        - url: https://stock.xueqiu.com
  /statuses/stock_timeline.json:
    get:
      operationId: getStockComments
      summary: "Get user comments and discussions about a stock — post title, text, author, reply count, retweet count, timestamps"
      x-openweb:
        permission: read
        transport: page
        adapter:
          name: xueqiu
          operation: getStockComments
        build:
          stable_id: c5e3a7d1f4b68092
          tool_version: 2
          verified: false
          signals:
            - requires-login
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: "Stock symbol (e.g. SH600519)"
          example: SH600519
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: "Number of posts to return (default 10)"
          example: 10
        - name: source
          in: query
          required: false
          schema:
            type: string
            enum: [all, user, news, notice, trans]
          description: "Filter by source type — all, user posts, news, notices, transactions (default all)"
          example: all
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [time, reply, relevance]
          description: "Sort order (default time)"
          example: time
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: "Page number for pagination (default 1)"
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Total number of matching posts
                  list:
                    type: array
                    description: Array of discussion posts
                    items:
                      type: object
                      description: User discussion post about the stock
                      properties:
                        id:
                          type: integer
                          description: Post identifier
                        user_id:
                          type: integer
                          description: Author user identifier
                        title:
                          type: string
                          description: Post title
                        description:
                          type: string
                          description: Post body text (may contain HTML)
                        created_at:
                          type: integer
                          description: Creation timestamp in milliseconds
                        reply_count:
                          type: integer
                          description: Number of replies
                        retweet_count:
                          type: integer
                          description: Number of reposts
                        fav_count:
                          type: integer
                          description: Number of likes
                        user:
                          type: object
                          description: Post author profile
                          properties:
                            id:
                              type: integer
                              description: User identifier
                            screen_name:
                              type: string
                              description: Display name
                            followers_count:
                              type: integer
                              description: Number of followers
                            verified:
                              type: boolean
                              description: Whether the user is verified
                          required:
                            - id
                            - screen_name
                      required:
                        - id
                        - description
                        - created_at
                        - user
                  maxPage:
                    type: integer
                    description: Total number of pages available
                  page:
                    type: integer
                    description: Current page number
                required:
                  - count
                  - list
  /v5/stock/portfolio/stock/list.json:
    get:
      operationId: getWatchlist
      summary: "Get user's stock watchlist — symbols, names, current prices, change percent, market cap"
      x-openweb:
        permission: read
        transport: page
        adapter:
          name: xueqiu
          operation: getWatchlist
        build:
          stable_id: d6f4b8e2a5c79103
          tool_version: 2
          verified: true
          signals:
            - page-verified
      parameters:
        - name: pid
          in: query
          required: true
          schema:
            type: integer
          description: "Portfolio ID (-1 for default/all watchlist)"
          example: -1
        - name: category
          in: query
          required: false
          schema:
            type: integer
          description: "Category filter (1 for all stocks, default 1)"
          example: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: "Number of stocks to return (default 100)"
          example: 100
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Watchlist portfolio data
                    properties:
                      pid:
                        type: integer
                        description: Portfolio identifier
                      category:
                        type: integer
                        description: Portfolio category
                      stocks:
                        type: array
                        description: Array of watched stocks
                        items:
                          type: object
                          description: Stock in user's watchlist
                          properties:
                            symbol:
                              type: string
                              description: Stock symbol
                            name:
                              type: string
                              description: Stock name
                            current:
                              type: number
                              description: Current trading price
                            percent:
                              type: number
                              description: Price change percentage
                            chg:
                              type: number
                              description: Absolute price change
                            market_capital:
                              type: integer
                              description: Total market capitalization
                          required:
                            - symbol
                            - name
                            - current
                            - percent
                  error_code:
                    type: integer
                    description: "API error code (0 = success)"
                  error_description:
                    type: string
                    description: Error description
                required:
                  - data
                  - error_code
      servers:
        - url: https://stock.xueqiu.com
  /stock/industry/stockList.json:
    get:
      operationId: getIndustryStocks
      summary: "Get stocks in same industry — symbol, name, price, change%, volume, PE ratio, market cap"
      x-openweb:
        permission: read
        transport: page
        adapter:
          name: xueqiu
          operation: getIndustryStocks
        build:
          stable_id: 532260faa3e5268e
          tool_version: 2
          verified: false
          signals:
            - requires-login
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: "Stock symbol to find industry peers for (e.g. SH600519)"
          example: SH600519
        - name: type
          in: query
          required: false
          schema:
            type: integer
          description: "Industry type (default 1)"
          example: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results (default 30)"
          example: 30
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  stockname:
                    type: string
                    description: Queried stock name
                  platename:
                    type: string
                    description: Industry plate/sector name
                  industryname:
                    type: string
                    description: Industry classification name
                  exchange:
                    type: string
                    description: Exchange code
                  code:
                    type: string
                    description: Queried stock symbol
                  industrystocks:
                    type: array
                    description: Array of stocks in the same industry
                    items:
                      type: object
                      description: Industry peer stock
                      properties:
                        symbol:
                          type: string
                          description: Stock symbol
                        code:
                          type: string
                          description: Stock code
                        name:
                          type: string
                          description: Stock name
                        exchange:
                          type: string
                          description: Exchange code
                        current:
                          type: string
                          description: Current price as string
                        percentage:
                          type: string
                          description: Price change percentage as string
                        change:
                          type: string
                          description: Absolute price change as string
                        volume:
                          type: string
                          description: Trading volume as string
                        pe_ttm:
                          type: string
                          description: Trailing twelve months P/E ratio as string
                        marketCapital:
                          type: string
                          description: Market capitalization as string
                      required:
                        - symbol
                        - code
                        - name
                        - exchange
                        - current
                        - percentage
                        - change
                required:
                  - platename
                  - industrystocks
