openapi: 3.1.0
info:
  title: xueqiu
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-01T23:45:12.455Z
    requires_auth: true
servers:
  - url: https://xueqiu.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
paths:
  /query/v1/search/web/stock.json:
    get:
      operationId: searchStocks
      summary: "Search stocks by keyword — code, name, exchange, current price, industry, percentage change"
      x-openweb:
        permission: read
        build:
          stable_id: afa699cb57a04a9f
          tool_version: 2
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: "Search keyword (stock name, ticker, or company name)"
          example: 茅台
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results to return (default 10)"
          example: 10
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  list:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                        current:
                          type: string
                        exchange:
                          type: string
                        percentage:
                          type: number
                        indName:
                          type: string
                        stockId:
                          type: integer
                        subType:
                          type: string
                        market_status:
                          type: integer
                      required:
                        - code
                        - name
                        - current
                        - exchange
                        - percentage
                        - stockId
                  maxPage:
                    type: integer
                  page:
                    type: integer
                  size:
                    type: integer
                required:
                  - count
                  - list
                  - maxPage
                  - page
                  - size
  /v5/stock/realtime/quotec.json:
    get:
      operationId: getStockQuote
      summary: "Get real-time stock quote — current price, percent change, volume, market cap, open, high, low, turnover rate"
      x-openweb:
        permission: read
        build:
          stable_id: 569882a05450bce5
          tool_version: 2
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: "Stock symbol(s), comma-separated for batch (e.g. SH600519,AAPL)"
          example: SH600519
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                        current:
                          type: number
                        percent:
                          type: number
                        chg:
                          type: number
                        timestamp:
                          type: integer
                        volume:
                          type: integer
                        amount:
                          type: number
                        market_capital:
                          type: integer
                        float_market_capital:
                          anyOf:
                            - type: integer
                            - type: "null"
                        turnover_rate:
                          type: number
                        amplitude:
                          type: number
                        open:
                          type: number
                        last_close:
                          type: number
                        high:
                          type: number
                        low:
                          type: number
                        avg_price:
                          type: number
                        is_trade:
                          type: boolean
                        current_year_percent:
                          type: number
                      required:
                        - symbol
                        - current
                        - percent
                        - chg
                        - timestamp
                        - volume
                        - amount
                        - market_capital
                        - open
                        - last_close
                        - high
                        - low
                  error_code:
                    type: integer
                  error_description:
                    type: "null"
                required:
                  - data
                  - error_code
      servers:
        - url: https://stock.xueqiu.com
  /v5/stock/realtime/pankou.json:
    get:
      operationId: getOrderBook
      summary: "Get order book (pankou) — bid/ask prices and volumes at 5 levels"
      x-openweb:
        permission: read
        build:
          stable_id: 4c8b5652775743f8
          tool_version: 2
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
          description: "Stock symbol (e.g. SH600519)"
          example: SH600519
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      symbol:
                        type: string
                      timestamp:
                        type: integer
                      current:
                        type: number
                      bp1:
                        type: number
                      bc1:
                        type: integer
                      bp2:
                        type: number
                      bc2:
                        type: integer
                      bp3:
                        type: number
                      bc3:
                        type: integer
                      bp4:
                        type: number
                      bc4:
                        type: integer
                      bp5:
                        type: number
                      bc5:
                        type: integer
                      sp1:
                        type: number
                      sc1:
                        type: integer
                      sp2:
                        type: number
                      sc2:
                        type: integer
                      sp3:
                        type: number
                      sc3:
                        type: integer
                      sp4:
                        type: number
                      sc4:
                        type: integer
                      sp5:
                        type: number
                      sc5:
                        type: integer
                    required:
                      - symbol
                      - timestamp
                      - current
                      - bp1
                      - bc1
                      - sp1
                      - sc1
                  error_code:
                    type: integer
                required:
                  - data
                  - error_code
      servers:
        - url: https://stock.xueqiu.com
  /hot_event/list.json:
    get:
      operationId: getHotEvents
      summary: "Get hot market events — trending topics with tags, heat score, discussion count, content summary"
      x-openweb:
        permission: read
        build:
          stable_id: d3683c54af1381a1
          tool_version: 2
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
          description: "Number of events to return (default 10)"
          example: 10
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  page:
                    type: integer
                  list:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        tag:
                          type: string
                        pic:
                          type: string
                          format: uri
                        hot:
                          type: integer
                        status_count:
                          type: integer
                        content:
                          type: string
                      required:
                        - id
                        - tag
                        - hot
                        - status_count
                        - content
                required:
                  - count
                  - list
  /statuses/hot/listV2.json:
    get:
      operationId: getTimeline
      summary: "Get hot discussion timeline — posts with author, title, description, engagement counts, timestamps"
      x-openweb:
        permission: read
        transport: page
        build:
          stable_id: 59966686f2749634
          tool_version: 2
      parameters:
        - name: since_id
          in: query
          required: false
          schema:
            type: integer
          description: "Cursor for forward pagination (default -1)"
          example: -1
        - name: max_id
          in: query
          required: false
          schema:
            type: integer
          description: "Cursor for backward pagination (default -1)"
          example: -1
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: "Number of posts to return (default 15)"
          example: 15
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  next_max_id:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        original_status:
                          type: object
                          properties:
                            id:
                              type: integer
                            user_id:
                              type: integer
                            title:
                              type: string
                            description:
                              type: string
                            created_at:
                              type: integer
                            retweet_count:
                              type: integer
                            fav_count:
                              type: integer
                            user:
                              type: object
                              properties:
                                id:
                                  type: integer
                                screen_name:
                                  type: string
                                followers_count:
                                  type: integer
                                verified:
                                  type: boolean
                              required:
                                - id
                                - screen_name
                          required:
                            - id
                            - title
                            - description
                            - created_at
                            - user
                      required:
                        - id
                        - original_status
                required:
                  - next_max_id
                  - items
  /stock/industry/stockList.json:
    get:
      operationId: getIndustryStocks
      summary: "Get stocks in same industry — symbol, name, price, change%, volume, PE ratio, market cap"
      x-openweb:
        permission: read
        build:
          stable_id: 532260faa3e5268e
          tool_version: 2
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: "Stock symbol to find industry peers for (e.g. SH600519)"
          example: SH600519
        - name: type
          in: query
          required: false
          schema:
            type: integer
          description: "Industry type (default 1)"
          example: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results (default 30)"
          example: 30
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  stockname:
                    type: string
                  platename:
                    type: string
                  industryname:
                    type: string
                  exchange:
                    type: string
                  code:
                    type: string
                  industrystocks:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                        code:
                          type: string
                        name:
                          type: string
                        exchange:
                          type: string
                        current:
                          type: string
                        percentage:
                          type: string
                        change:
                          type: string
                        volume:
                          type: string
                        pe_ttm:
                          type: string
                        marketCapital:
                          type: string
                      required:
                        - symbol
                        - code
                        - name
                        - exchange
                        - current
                        - percentage
                        - change
                required:
                  - platename
                  - industrystocks
