openapi: '3.1.0'
info:
  title: Target
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: false
servers:
  - url: https://redsky.target.com
    x-openweb:
      transport: node
  - url: https://carts.target.com
    x-openweb:
      transport: page
      page_plan:
        entry_url: https://www.target.com/cart
        wait_until: domcontentloaded
        warm: true
paths:
  /redsky_aggregations/v1/web/plp_search_v2:
    get:
      operationId: searchProducts
      summary: Search Target products by keyword — returns product listings with price, rating, images
      x-openweb:
        permission: read
        build:
          stable_id: tgt0001
          tool_version: 1
          verified: true
          signals:
            - status-match
      parameters:
        - name: keyword
          in: query
          required: true
          schema:
            type: string
          description: Search keyword (e.g. "headphones", "laptop").
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: 24
          description: Number of results per page (max 24).
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset.
        - name: key
          in: query
          required: true
          schema:
            type: string
            default: 9f36aeafbe60771e321a7cc95a78140772ab3e96
          description: API key (static, embedded in frontend).
        - name: channel
          in: query
          required: true
          schema:
            type: string
            default: WEB
          description: Channel identifier.
        - name: pricing_store_id
          in: query
          required: false
          schema:
            type: string
            default: '2281'
          description: Store ID for local pricing.
        - name: visitor_id
          in: query
          required: false
          schema:
            type: string
            default: '0000000000000000000000000000000000'
          description: Visitor tracking ID (optional, any value works).
        - name: default_purchasability_filter
          in: query
          required: false
          schema:
            type: string
            default: 'true'
          description: Filter to purchasable items only.
        - name: include_sponsored
          in: query
          required: false
          schema:
            type: string
            default: 'true'
          description: Include sponsored products in results.
        - name: new_search
          in: query
          required: false
          schema:
            type: string
            default: 'true'
          description: New search session flag.
        - name: spellcheck
          in: query
          required: false
          schema:
            type: string
            default: 'true'
          description: Enable spellcheck suggestions.
        - name: platform
          in: query
          required: false
          schema:
            type: string
            default: desktop
          description: Client platform (desktop or mobile).
        - name: page
          in: query
          required: false
          schema:
            type: string
            default: '/s/search'
          description: Page path context (e.g. "/s/headphones").
      responses:
        '206':
          description: Search results with product listings, facets, and metadata (206 Partial Content).
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - search
                    properties:
                      search:
                        type: object
                        required:
                          - search_response
                          - products
                        properties:
                          search_response:
                            type: object
                            required:
                              - metadata
                            properties:
                              metadata:
                                type: object
                                required:
                                  - total_results
                                  - keyword
                                properties:
                                  count:
                                    type: integer
                                  current_page:
                                    type: integer
                                  keyword:
                                    type: string
                                  offset:
                                    type: integer
                                  sort_by:
                                    type: string
                                  total_pages:
                                    type: integer
                                  total_results:
                                    type: integer
                              facet_list:
                                type: array
                                items:
                                  type: object
                              sort_options:
                                type: array
                                items:
                                  type: object
                                  required: [name, value]
                                  properties:
                                    name:
                                      type: string
                                    value:
                                      type: string
                          products:
                            type: array
                            items:
                              type: object
                              required:
                                - tcin
                              properties:
                                tcin:
                                  type: string
                                  description: Target item ID.
                                item:
                                  type: object
                                  required:
                                    - product_description
                                  properties:
                                    product_description:
                                      type: object
                                      required:
                                        - title
                                      properties:
                                        title:
                                          type: string
                                        bullet_descriptions:
                                          type: array
                                          items:
                                            type: string
                                    enrichment:
                                      type: object
                                      required:
                                        - buy_url
                                      properties:
                                        buy_url:
                                          type: string
                                        images:
                                          type: object
                                          required:
                                            - primary_image_url
                                          properties:
                                            primary_image_url:
                                              type: string
                                price:
                                  type: object
                                  required:
                                    - formatted_current_price
                                  properties:
                                    current_retail:
                                      type: number
                                    formatted_current_price:
                                      type: string
                                    formatted_current_price_type:
                                      type: string
                                    reg_retail:
                                      type: number
                                    save_dollar:
                                      type: number
                                    save_percent:
                                      type: number
                                ratings_and_reviews:
                                  type: object
                                  required:
                                    - statistics
                                  properties:
                                    statistics:
                                      type: object
                                      required:
                                        - rating
                                      properties:
                                        rating:
                                          type: object
                                          properties:
                                            average:
                                              type: number
                                            count:
                                              type: integer

  /redsky_aggregations/v1/web/pdp_client_v1:
    get:
      operationId: getProductDetail
      summary: Get full product detail by TCIN — description, price, ratings, images, variants
      x-openweb:
        permission: read
        build:
          stable_id: tgt0002
          tool_version: 1
          verified: true
          signals:
            - status-match
      parameters:
        - name: tcin
          in: query
          required: true
          schema:
            type: string
          description: Target item ID (e.g. "92750139").
        - name: key
          in: query
          required: true
          schema:
            type: string
            default: 9f36aeafbe60771e321a7cc95a78140772ab3e96
          description: API key.
        - name: store_id
          in: query
          required: false
          schema:
            type: string
            default: '2281'
          description: Store ID for pricing context.
        - name: pricing_store_id
          in: query
          required: false
          schema:
            type: string
            default: '2281'
          description: Store ID for pricing.
        - name: has_pricing_store_id
          in: query
          required: false
          schema:
            type: string
            default: 'true'
          description: Flag indicating pricing store ID is provided.
        - name: channel
          in: query
          required: true
          schema:
            type: string
            default: WEB
        - name: visitor_id
          in: query
          required: false
          schema:
            type: string
            default: '0000000000000000000000000000000000'
          description: Visitor tracking ID (optional).
        - name: page
          in: query
          required: false
          schema:
            type: string
          description: Page path context (e.g. "/p/A-92750139").
      responses:
        '200':
          description: Full product details including description, price, ratings, images, and variants.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - product
                    properties:
                      product:
                        type: object
                        required:
                          - tcin
                        properties:
                          tcin:
                            type: string
                          item:
                            type: object
                            required:
                              - product_description
                            properties:
                              product_description:
                                type: object
                                required:
                                  - title
                                properties:
                                  title:
                                    type: string
                                  downstream_description:
                                    type: string
                                  bullet_descriptions:
                                    type: array
                                    items:
                                      type: string
                              enrichment:
                                type: object
                                required:
                                  - buy_url
                                properties:
                                  buy_url:
                                    type: string
                                  images:
                                    type: object
                                    required:
                                      - primary_image_url
                                    properties:
                                      primary_image_url:
                                        type: string
                                      alternate_image_urls:
                                        type: array
                                        items:
                                          type: string
                                  brand_info:
                                    type: object
                                    required:
                                      - brand_name
                                    properties:
                                      brand_name:
                                        type: string
                          price:
                            type: object
                            required:
                              - formatted_current_price
                            properties:
                              formatted_current_price:
                                type: string
                              formatted_current_price_type:
                                type: string
                              current_retail_min:
                                type: number
                              reg_retail_max:
                                type: number
                              price_handle:
                                type: string
                          ratings_and_reviews:
                            type: object
                            required:
                              - statistics
                            properties:
                              statistics:
                                type: object
                                required:
                                  - rating
                                properties:
                                  rating:
                                    type: object
                                    properties:
                                      average:
                                        type: number
                                      count:
                                        type: integer
                                      distribution:
                                        type: object
                                        properties:
                                          rating1:
                                            type: integer
                                          rating2:
                                            type: integer
                                          rating3:
                                            type: integer
                                          rating4:
                                            type: integer
                                          rating5:
                                            type: integer
                          children:
                            type: array
                            description: Product variants (colors, sizes).
                            items:
                              type: object
                              required:
                                - tcin
                              properties:
                                tcin:
                                  type: string
                                item:
                                  type: object
                                  required:
                                    - product_description
                                  properties:
                                    product_description:
                                      type: object
                                      required:
                                        - title
                                      properties:
                                        title:
                                          type: string
                                    enrichment:
                                      type: object
                                      properties:
                                        images:
                                          type: object
                                          required:
                                            - primary_image_url
                                          properties:
                                            primary_image_url:
                                              type: string
                                price:
                                  type: object
                                  required:
                                    - formatted_current_price
                                  properties:
                                    formatted_current_price:
                                      type: string

  /redsky_aggregations/v1/web/fiats_v1:
    get:
      operationId: getStoreAvailability
      summary: Get store availability for a product — stock levels, pickup times, nearby stores
      x-openweb:
        permission: read
        build:
          stable_id: tgt0003
          tool_version: 1
          verified: true
          signals:
            - status-match
      parameters:
        - name: tcin
          in: query
          required: true
          schema:
            type: string
          description: Target item ID (e.g. "91938794").
        - name: nearby
          in: query
          required: true
          schema:
            type: string
          description: Zip code for nearby store lookup (e.g. "95125").
        - name: radius
          in: query
          required: false
          schema:
            type: string
            default: '50'
          description: Search radius in miles.
        - name: limit
          in: query
          required: false
          schema:
            type: string
            default: '20'
          description: Max number of stores to return.
        - name: include_only_available_stores
          in: query
          required: false
          schema:
            type: string
            default: 'false'
          description: Filter to only in-stock stores.
        - name: requested_quantity
          in: query
          required: false
          schema:
            type: string
            default: '1'
        - name: key
          in: query
          required: true
          schema:
            type: string
            default: 9f36aeafbe60771e321a7cc95a78140772ab3e96
          description: API key.
        - name: visitor_id
          in: query
          required: false
          schema:
            type: string
            default: '0000000000000000000000000000000000'
          description: Visitor tracking ID (optional).
        - name: channel
          in: query
          required: true
          schema:
            type: string
            default: WEB
      responses:
        '200':
          description: Store availability with stock levels, pickup options, and store details.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - fulfillment_fiats
                    properties:
                      fulfillment_fiats:
                        type: object
                        required:
                          - product_id
                          - locations
                        properties:
                          product_id:
                            type: string
                          locations:
                            type: array
                            items:
                              type: object
                              required:
                                - location_id
                              properties:
                                location_id:
                                  type: string
                                location_available_to_promise_quantity:
                                  type: integer
                                  description: Number of units in stock.
                                distance:
                                  type: number
                                  description: Distance in miles from the requested zip.
                                order_pickup:
                                  type: object
                                  required:
                                    - availability_status
                                  properties:
                                    pickup_date:
                                      type: string
                                    guest_pick_sla:
                                      type: integer
                                      description: Pickup SLA in minutes.
                                    availability_status:
                                      type: string
                                      description: IN_STOCK, OUT_OF_STOCK, etc.
                                in_store_only:
                                  type: object
                                  required:
                                    - availability_status
                                  properties:
                                    availability_status:
                                      type: string
                                curbside:
                                  type: object
                                  required:
                                    - availability_status
                                  properties:
                                    pickup_date:
                                      type: string
                                    availability_status:
                                      type: string
                                store:
                                  type: object
                                  required:
                                    - store_id
                                    - location_name
                                  properties:
                                    store_id:
                                      type: string
                                    location_name:
                                      type: string
                                    mailing_address:
                                      type: object
                                      properties:
                                        address_line1:
                                          type: string
                                        city:
                                          type: string
                                        state:
                                          type: string
                                        postal_code:
                                          type: string

  /web_checkouts/v1/cart_items:
    post:
      operationId: addToCart
      servers:
        - url: https://carts.target.com
          x-openweb:
            transport: page
            page_plan:
              entry_url: https://www.target.com/cart
              wait_until: domcontentloaded
              warm: true
      summary: Add a product to the shopping cart by TCIN — returns cart_id, quantity, pricing, fulfillment
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: tgt0004
          tool_version: 1
          verified: false
          signals:
            - status-match
      parameters:
        - name: field_groups
          in: query
          required: true
          schema:
            type: string
            default: CART,CART_ITEMS,SUMMARY
          description: Response field groups to include.
        - name: key
          in: query
          required: true
          schema:
            type: string
            default: 9f36aeafbe60771e321a7cc95a78140772ab3e96
          description: API key (static, embedded in frontend).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cart_item
              properties:
                cart_item:
                  type: object
                  required:
                    - tcin
                  properties:
                    item_channel_id:
                      type: string
                      default: '10'
                    tcin:
                      type: string
                      description: Target item ID (e.g. "91252434").
                    quantity:
                      type: integer
                      default: 1
                      description: Number of units to add.
                fulfillment:
                  type: object
                  properties:
                    type:
                      type: string
                      default: PICKUP
                      description: Fulfillment type (PICKUP or SHIP).
                    location_id:
                      type: integer
                      default: 2281
                      description: Store ID for pickup fulfillment.
                    ship_method:
                      type: string
                      default: STORE_PICKUP
                      description: Shipping method (STORE_PICKUP, STANDARD, CURBSIDE).
                cart_type:
                  type: string
                  default: REGULAR
                channel_id:
                  type: string
                  default: '10'
                shopping_context:
                  type: string
                  default: DIGITAL
      responses:
        '201':
          description: Item added to cart — returns cart summary with item details and pricing.
          content:
            application/json:
              schema:
                type: object
                required:
                  - cart_id
                  - cart_item_id
                  - tcin
                properties:
                  cart_id:
                    type: string
                    description: Unique cart identifier.
                  total_cart_item_quantity:
                    type: integer
                    description: Total number of items in cart.
                  cart_item_id:
                    type: string
                    description: Unique ID for the added cart line.
                  tcin:
                    type: string
                    description: Target item ID.
                  quantity:
                    type: integer
                  unit_price:
                    type: number
                    description: Unit price in dollars.
                  list_price:
                    type: number
                  current_price:
                    type: number
                  fulfillment:
                    type: object
                    required:
                      - type
                    properties:
                      type:
                        type: string
                      location_id:
                        type: string
                      ship_method:
                        type: string
                      estimated_arrival_start_date:
                        type: string
                      estimated_arrival_end_date:
                        type: string
                      guest_pick_sla:
                        type: integer
                        description: Pickup SLA in minutes.

  /web_checkouts/v1/cart_items/{cart_item_id}:
    delete:
      operationId: removeFromCart
      servers:
        - url: https://carts.target.com
          x-openweb:
            transport: page
            page_plan:
              entry_url: https://www.target.com/cart
              wait_until: domcontentloaded
              warm: true
      summary: Remove item from cart by cart_item_id — reverses addToCart
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: tgt0005
          tool_version: 1
          verified: false
          signals:
            - status-match
      parameters:
        - name: cart_item_id
          in: path
          required: true
          schema:
            type: string
          description: Cart line item ID returned by addToCart (e.g. "a1b2c3d4").
        - name: field_groups
          in: query
          required: true
          schema:
            type: string
            default: CART,CART_ITEMS,SUMMARY
          description: Response field groups to include.
        - name: key
          in: query
          required: true
          schema:
            type: string
            default: 9f36aeafbe60771e321a7cc95a78140772ab3e96
          description: API key (static, embedded in frontend).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Item removed from cart — returns updated cart summary.
          content:
            application/json:
              schema:
                type: object
                required:
                  - cart_id
                properties:
                  cart_id:
                    type: string
                    description: Cart identifier.
                  cart_state:
                    type: string
                    description: Cart state (e.g. PENDING, EMPTY).
                  summary:
                    type: object
                    description: Cart totals after removal.
                    properties:
                      items_quantity:
                        type: integer
                      grand_total:
                        type: number
