openapi: "3.1.0"
info:
  title: Reuters
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    compiled_at: "2026-04-01T23:00:00.000Z"
    requires_auth: false
servers:
  - url: https://www.reuters.com
    x-openweb:
      transport: page
paths:
  /pf/api/v3/content/fetch/articles-by-search-v2:
    get:
      operationId: searchArticles
      summary: "Search articles by keyword — title, description, canonical_url, published_time, word_count, authors, thumbnail"
      x-openweb:
        permission: read
        build:
          stable_id: reuters_searchArticles_v1
          tool_version: 2
        adapter:
          name: reuters-api
          operation: searchArticles
      parameters:
        - name: keyword
          in: query
          required: true
          description: "Search keyword or phrase"
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: "Pagination offset (default 0)"
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          required: false
          description: "Number of results to return (default 10, max 20)"
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          size:
                            type: integer
                          total_size:
                            type: integer
                      articles:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            description:
                              type: string
                            canonical_url:
                              type: string
                            published_time:
                              type: string
                            updated_time:
                              type: string
                            word_count:
                              type: integer
                            read_minutes:
                              type: integer
                            authors:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  topic_url:
                                    type: string
                            thumbnail:
                              type: object
                              properties:
                                url:
                                  type: string
                                caption:
                                  type: string
                                alt_text:
                                  type: string

  /pf/api/v3/content/fetch/articles-by-section-alias-or-id-v1:
    get:
      operationId: getTopicArticles
      summary: "Get articles by topic/section — title, description, canonical_url, published_time, word_count, authors, thumbnail"
      x-openweb:
        permission: read
        build:
          stable_id: reuters_getTopicArticles_v1
          tool_version: 2
        adapter:
          name: reuters-api
          operation: getTopicArticles
      parameters:
        - name: section_id
          in: query
          required: true
          description: "Section path (e.g., /world/, /business/, /technology/, /markets/, /science/)"
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: "Pagination offset (default 0)"
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          required: false
          description: "Number of articles (default 10, max 20)"
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Topic article list
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          size:
                            type: integer
                          total_size:
                            type: integer
                      articles:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            description:
                              type: string
                            canonical_url:
                              type: string
                            published_time:
                              type: string
                            word_count:
                              type: integer
                            read_minutes:
                              type: integer
                            authors:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  topic_url:
                                    type: string
                            thumbnail:
                              type: object
                              properties:
                                url:
                                  type: string
                                caption:
                                  type: string
                                alt_text:
                                  type: string
