openapi: "3.1.0"
info:
  title: Reuters
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    compiled_at: "2026-04-01T23:00:00.000Z"
    requires_auth: false
servers:
  - url: https://www.reuters.com
    x-openweb:
      transport: page
paths:
  /pf/api/v3/content/fetch/articles-by-search-v2:
    get:
      operationId: searchArticles
      summary: "Search articles by keyword — returns title, description, canonical URL, published date, section, thumbnail"
      x-openweb:
        permission: read
        build:
          stable_id: reuters_searchArticles_v1
          tool_version: 2
        adapter:
          name: reuters-api
          operation: searchArticles
      parameters:
        - name: keyword
          in: query
          required: true
          description: "Search keyword or phrase"
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: "Pagination offset (default 0)"
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          required: false
          description: "Number of results to return (default 10, max 20)"
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      articles:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            description:
                              type: string
                            canonical_url:
                              type: string
                            published_time:
                              type: string
                            updated_time:
                              type: string
                            authors:
                              type: array
                              items:
                                type: object
                            thumbnail:
                              type: object

  /pf/api/v3/content/fetch/articles-by-section-alias-or-id-v1:
    get:
      operationId: getTopicArticles
      summary: "Get articles by topic/section — returns article list for a section like /world/, /business/, /technology/, /markets/"
      x-openweb:
        permission: read
        build:
          stable_id: reuters_getTopicArticles_v1
          tool_version: 2
        adapter:
          name: reuters-api
          operation: getTopicArticles
      parameters:
        - name: section_id
          in: query
          required: true
          description: "Section path (e.g., /world/, /business/, /technology/, /markets/, /science/)"
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: "Pagination offset (default 0)"
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          required: false
          description: "Number of articles (default 10, max 20)"
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Topic article list
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      articles:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            description:
                              type: string
                            canonical_url:
                              type: string
                            published_time:
                              type: string
                            authors:
                              type: array
                              items:
                                type: object
                            thumbnail:
                              type: object

  /pf/api/v3/content/fetch/quote-by-rics-v2:
    get:
      operationId: getMarketQuotes
      summary: "Get market quotes by RIC codes — returns price, percent change, name for indices, currencies, commodities"
      x-openweb:
        permission: read
        build:
          stable_id: reuters_getMarketQuotes_v1
          tool_version: 2
        adapter:
          name: reuters-api
          operation: getMarketQuotes
      parameters:
        - name: rics
          in: query
          required: true
          description: "Comma-separated RIC codes (e.g., .SPX,.DJI,.IXIC for US indices; EUR=,GBP= for currencies; CLc1,GCv1 for commodities)"
          schema:
            type: string
      responses:
        "200":
          description: Market quotes
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      markets:
                        type: array
                        items:
                          type: object
                          properties:
                            ric:
                              type: string
                            name:
                              type: string
                            last:
                              type: number
                            pctChange:
                              type: number
                            currency:
                              type: string
                            ricType:
                              type: string
