openapi: '3.1.0'
info:
  title: Twitch API
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-01T00:00:00Z'
    requires_auth: false
servers:
  - url: https://gql.twitch.tv
    x-openweb:
      transport: node
paths:
  /gql~searchChannels:
    post:
      operationId: searchChannels
      summary: Search channels and streams by keyword — returns channel names, follower counts, descriptions, broadcast titles
      x-openweb:
        permission: read
        actual_path: /gql
        unwrap: data
        wrap: variables
        build:
          verified: true
          stable_id: tw0001
          signature_id: tw0001s
          tool_version: 2
      parameters:
        - name: Client-Id
          in: header
          required: true
          schema:
            type: string
            const: kimne78kx3ncx6brgo4mv6wki5h1ko
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            const: text/plain;charset=UTF-8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                operationName:
                  type: string
                  const: SearchResultsPage_SearchResults
                query:
                  type: string
                  description: Search keyword (e.g. "valorant", "minecraft", a streamer name).
                platform:
                  type: string
                  default: web
                options:
                  type: object
                  default:
                    targets: null
                    shouldSkipDiscoveryControl: false
                requestID:
                  type: string
                  default: ''
                extensions:
                  type: object
                  const:
                    persistedQuery:
                      version: 1
                      sha256Hash: a7c600111acc4d1b294eafa364600556227939e2ff88505faa73035b57a83b22
      responses:
        '200':
          description: Search results with matching channels.
          content:
            application/json:
              schema:
                type: object
                properties:
                  searchFor:
                    type: object
                    properties:
                      channels:
                        type: object
                        properties:
                          cursor:
                            type: [string, 'null']
                          edges:
                            type: array
                            items:
                              type: object
                              properties:
                                item:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    login:
                                      type: string
                                    displayName:
                                      type: string
                                    description:
                                      type: [string, 'null']
                                    profileImageURL:
                                      type: string
                                    followers:
                                      type: object
                                      properties:
                                        totalCount:
                                          type: integer
                                    broadcastSettings:
                                      type: object
                                      properties:
                                        title:
                                          type: [string, 'null']

  /gql~getChannel:
    post:
      operationId: getChannel
      summary: Get channel profile — description, follower count, social links, partner/affiliate status, next schedule segment
      x-openweb:
        permission: read
        actual_path: /gql
        unwrap: data
        wrap: variables
        build:
          verified: true
          stable_id: tw0002
          signature_id: tw0002s
          tool_version: 2
      parameters:
        - name: Client-Id
          in: header
          required: true
          schema:
            type: string
            const: kimne78kx3ncx6brgo4mv6wki5h1ko
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            const: text/plain;charset=UTF-8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelLogin
              properties:
                operationName:
                  type: string
                  const: ChannelRoot_AboutPanel
                channelLogin:
                  type: string
                  description: Channel login name (e.g. "shroud", "pokimane").
                skipSchedule:
                  type: boolean
                  default: false
                extensions:
                  type: object
                  const:
                    persistedQuery:
                      version: 1
                      sha256Hash: 3b9cd4edd28e8e6f7ba6152a56157bc2b1c1a8f6e81d70808ad1b85250e5288f
      responses:
        '200':
          description: Channel profile information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: [object, 'null']
                    properties:
                      id:
                        type: string
                      displayName:
                        type: string
                      description:
                        type: string
                      profileImageURL:
                        type: string
                      primaryColorHex:
                        type: string
                      followers:
                        type: object
                        properties:
                          totalCount:
                            type: integer
                      roles:
                        type: object
                        properties:
                          isPartner:
                            type: boolean
                          isAffiliate:
                            type: boolean
                      channel:
                        type: object
                        properties:
                          socialMedias:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                title:
                                  type: string
                                url:
                                  type: string
                          schedule:
                            type: [object, 'null']
                            properties:
                              nextSegment:
                                type: [object, 'null']
                                properties:
                                  startAt:
                                    type: string
                                  title:
                                    type: [string, 'null']
                                  hasReminder:
                                    type: boolean

  /gql~getStream:
    post:
      operationId: getStream
      summary: Get current stream status — live/offline, game name, stream type, last broadcast title
      x-openweb:
        permission: read
        actual_path: /gql
        unwrap: data
        wrap: variables
        build:
          verified: true
          stable_id: tw0003
          signature_id: tw0003s
          tool_version: 2
      parameters:
        - name: Client-Id
          in: header
          required: true
          schema:
            type: string
            const: kimne78kx3ncx6brgo4mv6wki5h1ko
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            const: text/plain;charset=UTF-8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelLogin
              properties:
                operationName:
                  type: string
                  const: StreamMetadata
                channelLogin:
                  type: string
                  description: Channel login name (e.g. "shroud", "xqc").
                extensions:
                  type: object
                  const:
                    persistedQuery:
                      version: 1
                      sha256Hash: ad022ca32220d5523d03a23cbcb5beaa1e0999889c1f8f78f9f2520dafb5cae6
      responses:
        '200':
          description: Stream status (null user means channel not found, null stream means offline).
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: [object, 'null']
                    properties:
                      id:
                        type: string
                      profileImageURL:
                        type: string
                      primaryColorHex:
                        type: string
                      roles:
                        type: object
                        properties:
                          isPartner:
                            type: boolean
                      lastBroadcast:
                        type: [object, 'null']
                        properties:
                          title:
                            type: [string, 'null']
                      stream:
                        type: [object, 'null']
                        properties:
                          id:
                            type: string
                          type:
                            type: string
                          createdAt:
                            type: string
                          game:
                            type: [object, 'null']
                            properties:
                              id:
                                type: string
                              slug:
                                type: string
                              name:
                                type: string

  /gql~getTopGames:
    post:
      operationId: getTopGames
      summary: Browse top categories/games by viewer count — game names, viewer/broadcaster counts, tags
      x-openweb:
        permission: read
        actual_path: /gql
        unwrap: data
        wrap: variables
        build:
          verified: true
          stable_id: tw0004
          signature_id: tw0004s
          tool_version: 2
      parameters:
        - name: Client-Id
          in: header
          required: true
          schema:
            type: string
            const: kimne78kx3ncx6brgo4mv6wki5h1ko
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            const: text/plain;charset=UTF-8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                operationName:
                  type: string
                  const: BrowsePage_AllDirectories
                limit:
                  type: integer
                  default: 30
                  description: Number of categories to return (default 30).
                options:
                  type: object
                  default:
                    recommendationsContext:
                      platform: web
                    requestID: ''
                    sort: VIEWER_COUNT
                    tags: []
                extensions:
                  type: object
                  const:
                    persistedQuery:
                      version: 1
                      sha256Hash: 2f67f71ba89f3c0ed26a141ec00da1defecb2303595f5cda4298169549783d9e
      responses:
        '200':
          description: Top categories/games.
          content:
            application/json:
              schema:
                type: object
                properties:
                  directoriesWithTags:
                    type: object
                    properties:
                      edges:
                        type: array
                        items:
                          type: object
                          properties:
                            node:
                              type: object
                              properties:
                                id:
                                  type: string
                                slug:
                                  type: string
                                displayName:
                                  type: string
                                viewersCount:
                                  type: integer
                                broadcastersCount:
                                  type: integer
                                avatarURL:
                                  type: string
                                tags:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      localizedName:
                                        type: string
