openapi: '3.1.0'
info:
  title: Twitch API
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-01T00:00:00Z'
    requires_auth: false
servers:
  - url: https://www.twitch.tv
    x-openweb:
      transport: page
paths:
  /search:
    get:
      operationId: searchChannels
      summary: Search channels and streams by keyword — returns channel names, follower counts, descriptions, broadcast titles
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: tw0001
          signature_id: tw0001s
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: twitch-graphql
          operation: searchChannels
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search keyword (e.g. "valorant", "minecraft", a streamer name).
      responses:
        '200':
          description: Search results with matching channels.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cursor:
                    type: [string, 'null']
                  channels:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        login:
                          type: string
                        displayName:
                          type: string
                        description:
                          type: [string, 'null']
                        profileImageURL:
                          type: string
                        followers:
                          type: integer
                        broadcastTitle:
                          type: [string, 'null']
  /channel/{channelLogin}:
    get:
      operationId: getChannel
      summary: Get channel profile — description, follower count, social links, partner/affiliate status, next schedule segment
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: tw0002
          signature_id: tw0002s
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: twitch-graphql
          operation: getChannel
      parameters:
        - name: channelLogin
          in: path
          required: true
          schema:
            type: string
          description: Channel login name (e.g. "shroud", "pokimane").
      responses:
        '200':
          description: Channel profile information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  displayName:
                    type: string
                  description:
                    type: string
                  profileImageURL:
                    type: string
                  primaryColorHex:
                    type: string
                  followers:
                    type: integer
                  isPartner:
                    type: boolean
                  isAffiliate:
                    type: boolean
                  socialMedias:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        title:
                          type: string
                        url:
                          type: string
                  nextScheduleSegment:
                    type: [object, 'null']
                    properties:
                      startAt:
                        type: string
                      title:
                        type: [string, 'null']
                      hasReminder:
                        type: boolean
  /channel/{channelLogin}/stream:
    get:
      operationId: getStream
      summary: Get current stream status — live/offline, game name, stream type, last broadcast title
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: tw0003
          signature_id: tw0003s
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: twitch-graphql
          operation: getStream
      parameters:
        - name: channelLogin
          in: path
          required: true
          schema:
            type: string
          description: Channel login name (e.g. "shroud", "xqc").
      responses:
        '200':
          description: Stream status (null stream means offline).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  profileImageURL:
                    type: string
                  primaryColorHex:
                    type: string
                  isPartner:
                    type: boolean
                  lastBroadcastTitle:
                    type: [string, 'null']
                  stream:
                    type: [object, 'null']
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      createdAt:
                        type: string
                      game:
                        type: [object, 'null']
                        properties:
                          id:
                            type: string
                          slug:
                            type: string
                          name:
                            type: string
  /directory/all:
    get:
      operationId: getTopGames
      summary: Browse top categories/games by viewer count — game names, viewer/broadcaster counts, tags
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: tw0004
          signature_id: tw0004s
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: twitch-graphql
          operation: getTopGames
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 30
          description: Number of categories to return (default 30).
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [VIEWER_COUNT, RELEVANCE]
            default: VIEWER_COUNT
          description: Sort order (VIEWER_COUNT or RELEVANCE).
      responses:
        '200':
          description: Top categories/games.
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        slug:
                          type: string
                        displayName:
                          type: string
                        viewersCount:
                          type: integer
                        broadcastersCount:
                          type: integer
                        avatarURL:
                          type: string
                        tags:
                          type: array
                          items:
                            type: string
