openapi: '3.1.0'
info:
  title: Twitch API
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-01T00:00:00Z'
    requires_auth: false
servers:
  - url: https://gql.twitch.tv
    x-openweb:
      transport: node
paths:
  /gql~searchChannels:
    post:
      operationId: searchChannels
      summary: Search channels and streams by keyword — returns channel names, follower counts, descriptions, broadcast titles
      x-openweb:
        permission: read
        actual_path: /gql
        unwrap: data
        wrap: variables
        build:
          verified: true
          stable_id: tw0001
          signature_id: tw0001s
          tool_version: 2
      parameters:
        - name: Client-Id
          in: header
          required: true
          schema:
            type: string
            const: kimne78kx3ncx6brgo4mv6wki5h1ko
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            const: text/plain;charset=UTF-8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                operationName:
                  type: string
                  const: SearchResultsPage_SearchResults
                query:
                  type: string
                  description: Search keyword (e.g. "valorant", "minecraft", a streamer name).
                platform:
                  type: string
                  default: web
                options:
                  type: object
                  default:
                    targets: null
                    shouldSkipDiscoveryControl: false
                requestID:
                  type: string
                  default: ''
                extensions:
                  type: object
                  const:
                    persistedQuery:
                      version: 1
                      sha256Hash: a7c600111acc4d1b294eafa364600556227939e2ff88505faa73035b57a83b22
      responses:
        '200':
          description: Search results with matching channels.
          content:
            application/json:
              schema:
                type: object
                required:
                  - searchFor
                properties:
                  searchFor:
                    type: object
                    description: Top-level search results container.
                    required:
                      - channels
                    properties:
                      channels:
                        type: object
                        description: Paginated channel search results.
                        required:
                          - edges
                        properties:
                          cursor:
                            type: [string, 'null']
                            description: Pagination cursor for fetching more results.
                          edges:
                            type: array
                            description: List of matching channel edges.
                            items:
                              type: object
                              description: A single search result edge containing a channel.
                              required:
                                - item
                              properties:
                                item:
                                  type: object
                                  description: The matched channel.
                                  required:
                                    - id
                                    - login
                                    - displayName
                                  properties:
                                    id:
                                      type: string
                                      description: Unique channel ID.
                                    login:
                                      type: string
                                      description: Channel login name (used as input to other ops).
                                    displayName:
                                      type: string
                                      description: Human-readable channel display name.
                                    description:
                                      type: [string, 'null']
                                      description: Channel bio/description text.
                                    profileImageURL:
                                      type: string
                                      description: URL of the channel profile image.
                                    followers:
                                      type: object
                                      description: Follower count container.
                                      required:
                                        - totalCount
                                      properties:
                                        totalCount:
                                          type: integer
                                          description: Total number of followers.
                                    broadcastSettings:
                                      type: object
                                      description: Current broadcast settings.
                                      properties:
                                        title:
                                          type: [string, 'null']
                                          description: Current or last broadcast title.

  /gql~getChannel:
    post:
      operationId: getChannel
      summary: Get channel profile — description, follower count, social links, partner/affiliate status, next schedule segment
      x-openweb:
        permission: read
        actual_path: /gql
        unwrap: data
        wrap: variables
        build:
          verified: true
          stable_id: tw0002
          signature_id: tw0002s
          tool_version: 2
      parameters:
        - name: Client-Id
          in: header
          required: true
          schema:
            type: string
            const: kimne78kx3ncx6brgo4mv6wki5h1ko
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            const: text/plain;charset=UTF-8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelLogin
              properties:
                operationName:
                  type: string
                  const: ChannelRoot_AboutPanel
                channelLogin:
                  type: string
                  description: Channel login name (e.g. "shroud", "pokimane").
                skipSchedule:
                  type: boolean
                  default: false
                extensions:
                  type: object
                  const:
                    persistedQuery:
                      version: 1
                      sha256Hash: 3b9cd4edd28e8e6f7ba6152a56157bc2b1c1a8f6e81d70808ad1b85250e5288f
      responses:
        '200':
          description: Channel profile information.
          content:
            application/json:
              schema:
                type: object
                required:
                  - user
                properties:
                  user:
                    type: [object, 'null']
                    description: Channel profile (null if channel not found).
                    required:
                      - id
                      - displayName
                      - followers
                    properties:
                      id:
                        type: string
                        description: Unique channel ID.
                      displayName:
                        type: string
                        description: Human-readable channel display name.
                      description:
                        type: string
                        description: Channel bio/description text.
                      profileImageURL:
                        type: string
                        description: URL of the channel profile image.
                      primaryColorHex:
                        type: string
                        description: Channel brand color as hex (e.g. "9147FF").
                      followers:
                        type: object
                        description: Follower count container.
                        required:
                          - totalCount
                        properties:
                          totalCount:
                            type: integer
                            description: Total number of followers.
                      roles:
                        type: object
                        description: Channel partnership/affiliate status.
                        properties:
                          isPartner:
                            type: boolean
                            description: Whether the channel is a Twitch Partner.
                          isAffiliate:
                            type: boolean
                            description: Whether the channel is a Twitch Affiliate.
                      channel:
                        type: object
                        description: Channel metadata including social links and schedule.
                        properties:
                          socialMedias:
                            type: array
                            description: List of linked social media accounts.
                            items:
                              type: object
                              description: A linked social media account.
                              required:
                                - name
                                - title
                                - url
                              properties:
                                name:
                                  type: string
                                  description: Platform identifier (e.g. "twitter", "youtube").
                                title:
                                  type: string
                                  description: Display title for the social link.
                                url:
                                  type: string
                                  description: URL of the social media profile.
                          schedule:
                            type: [object, 'null']
                            description: Stream schedule (null if no schedule set).
                            properties:
                              nextSegment:
                                type: [object, 'null']
                                description: Next scheduled stream segment (null if none upcoming).
                                properties:
                                  startAt:
                                    type: string
                                    description: ISO 8601 start time of the next scheduled stream.
                                  title:
                                    type: [string, 'null']
                                    description: Title of the scheduled segment.
                                  hasReminder:
                                    type: boolean
                                    description: Whether the viewer has set a reminder.

  /gql~getStream:
    post:
      operationId: getStream
      summary: Get current stream status — live/offline, game name, stream type, last broadcast title
      x-openweb:
        permission: read
        actual_path: /gql
        unwrap: data
        wrap: variables
        build:
          verified: true
          stable_id: tw0003
          signature_id: tw0003s
          tool_version: 2
      parameters:
        - name: Client-Id
          in: header
          required: true
          schema:
            type: string
            const: kimne78kx3ncx6brgo4mv6wki5h1ko
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            const: text/plain;charset=UTF-8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelLogin
              properties:
                operationName:
                  type: string
                  const: StreamMetadata
                channelLogin:
                  type: string
                  description: Channel login name (e.g. "shroud", "xqc").
                extensions:
                  type: object
                  const:
                    persistedQuery:
                      version: 1
                      sha256Hash: ad022ca32220d5523d03a23cbcb5beaa1e0999889c1f8f78f9f2520dafb5cae6
      responses:
        '200':
          description: Stream status (null user means channel not found, null stream means offline).
          content:
            application/json:
              schema:
                type: object
                required:
                  - user
                properties:
                  user:
                    type: [object, 'null']
                    description: Channel with stream status (null if channel not found).
                    required:
                      - id
                    properties:
                      id:
                        type: string
                        description: Unique channel ID.
                      profileImageURL:
                        type: string
                        description: URL of the channel profile image.
                      primaryColorHex:
                        type: string
                        description: Channel brand color as hex (e.g. "9147FF").
                      roles:
                        type: object
                        description: Channel partnership/affiliate status.
                        properties:
                          isPartner:
                            type: boolean
                            description: Whether the channel is a Twitch Partner.
                      lastBroadcast:
                        type: [object, 'null']
                        description: Most recent broadcast info (null if never streamed).
                        properties:
                          title:
                            type: [string, 'null']
                            description: Title of the last broadcast.
                      stream:
                        type: [object, 'null']
                        description: Current live stream (null if offline).
                        properties:
                          id:
                            type: string
                            description: Unique stream session ID.
                          type:
                            type: string
                            description: Stream type (e.g. "live").
                          createdAt:
                            type: string
                            description: ISO 8601 timestamp when the stream started.
                          game:
                            type: [object, 'null']
                            description: Game/category being streamed (null if uncategorized).
                            properties:
                              id:
                                type: string
                                description: Unique game/category ID.
                              slug:
                                type: string
                                description: URL-friendly game slug.
                              name:
                                type: string
                                description: Display name of the game/category.

  /gql~getTopGames:
    post:
      operationId: getTopGames
      summary: Browse top categories/games by viewer count — game names, viewer/broadcaster counts, tags
      x-openweb:
        permission: read
        actual_path: /gql
        unwrap: data
        wrap: variables
        build:
          verified: true
          stable_id: tw0004
          signature_id: tw0004s
          tool_version: 2
      parameters:
        - name: Client-Id
          in: header
          required: true
          schema:
            type: string
            const: kimne78kx3ncx6brgo4mv6wki5h1ko
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            const: text/plain;charset=UTF-8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                operationName:
                  type: string
                  const: BrowsePage_AllDirectories
                limit:
                  type: integer
                  default: 30
                  description: Number of categories to return (default 30).
                options:
                  type: object
                  default:
                    recommendationsContext:
                      platform: web
                    requestID: ''
                    sort: VIEWER_COUNT
                    tags: []
                extensions:
                  type: object
                  const:
                    persistedQuery:
                      version: 1
                      sha256Hash: 2f67f71ba89f3c0ed26a141ec00da1defecb2303595f5cda4298169549783d9e
      responses:
        '200':
          description: Top categories/games.
          content:
            application/json:
              schema:
                type: object
                required:
                  - directoriesWithTags
                properties:
                  directoriesWithTags:
                    type: object
                    description: Paginated top categories/games container.
                    required:
                      - edges
                    properties:
                      edges:
                        type: array
                        description: List of category edges sorted by viewer count.
                        items:
                          type: object
                          description: A single category/game edge.
                          required:
                            - node
                          properties:
                            node:
                              type: object
                              description: The game/category entry.
                              required:
                                - id
                                - displayName
                                - viewersCount
                              properties:
                                id:
                                  type: string
                                  description: Unique game/category ID.
                                slug:
                                  type: string
                                  description: URL-friendly game slug.
                                displayName:
                                  type: string
                                  description: Display name of the game/category.
                                viewersCount:
                                  type: integer
                                  description: Current total viewer count across all streams.
                                broadcastersCount:
                                  type: integer
                                  description: Number of channels currently streaming this category.
                                avatarURL:
                                  type: string
                                  description: URL of the category box art image.
                                tags:
                                  type: array
                                  description: Tags applied to this category.
                                  items:
                                    type: object
                                    description: A category tag.
                                    required:
                                      - localizedName
                                    properties:
                                      localizedName:
                                        type: string
                                        description: Localized display name of the tag.

  /gql~getTopStreams:
    post:
      operationId: getTopStreams
      summary: Get currently most-watched live streams — streamer names, viewer counts, game names, stream titles
      x-openweb:
        permission: read
        actual_path: /gql
        unwrap: data
        wrap: variables
        graphql_query: |-
          query($limit: Int) {
            streams(first: $limit) {
              edges {
                node {
                  id
                  viewersCount
                  broadcaster {
                    id
                    displayName
                    login
                    broadcastSettings {
                      title
                    }
                  }
                  game {
                    id
                    name
                  }
                  type
                }
              }
            }
          }
        build:
          verified: false
          stable_id: tw0005
          signature_id: tw0005s
          tool_version: 2
      parameters:
        - name: Client-Id
          in: header
          required: true
          schema:
            type: string
            const: kimne78kx3ncx6brgo4mv6wki5h1ko
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            const: text/plain;charset=UTF-8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: integer
                  default: 25
                  description: Number of streams to return (default 25).
      responses:
        '200':
          description: Top live streams sorted by viewer count.
          content:
            application/json:
              schema:
                type: object
                required:
                  - streams
                properties:
                  streams:
                    type: object
                    description: Paginated top streams container.
                    required:
                      - edges
                    properties:
                      edges:
                        type: array
                        description: List of stream edges sorted by viewer count.
                        items:
                          type: object
                          description: A single live stream edge.
                          required:
                            - node
                          properties:
                            node:
                              type: object
                              description: The live stream entry.
                              required:
                                - id
                                - viewersCount
                                - broadcaster
                                - type
                              properties:
                                id:
                                  type: string
                                  description: Unique stream session ID.
                                viewersCount:
                                  type: integer
                                  description: Current number of viewers watching this stream.
                                broadcaster:
                                  type: object
                                  description: The channel broadcasting this stream.
                                  required:
                                    - id
                                    - displayName
                                    - login
                                  properties:
                                    id:
                                      type: string
                                      description: Unique channel ID.
                                    displayName:
                                      type: string
                                      description: Human-readable channel display name.
                                    login:
                                      type: string
                                      description: Channel login name (used as input to other ops).
                                    broadcastSettings:
                                      type: object
                                      description: Current broadcast settings.
                                      properties:
                                        title:
                                          type: string
                                          description: Current stream title.
                                game:
                                  type: [object, 'null']
                                  description: Game/category being streamed (null if uncategorized).
                                  required:
                                    - id
                                    - name
                                  properties:
                                    id:
                                      type: string
                                      description: Unique game/category ID.
                                    name:
                                      type: string
                                      description: Display name of the game/category.
                                type:
                                  type: string
                                  description: Stream type (e.g. "live").

  /gql~getClips:
    post:
      operationId: getClips
      summary: Get popular clips for a channel — clip titles, view counts, durations, game names
      x-openweb:
        permission: read
        actual_path: /gql
        unwrap: data
        wrap: variables
        build:
          verified: false
          stable_id: tw0006
          signature_id: tw0006s
          tool_version: 2
      parameters:
        - name: Client-Id
          in: header
          required: true
          schema:
            type: string
            const: kimne78kx3ncx6brgo4mv6wki5h1ko
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            const: text/plain;charset=UTF-8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - login
              properties:
                operationName:
                  type: string
                  const: ClipsCards__User
                login:
                  type: string
                  description: Channel login name (e.g. "shroud", "pokimane").
                limit:
                  type: integer
                  default: 20
                  description: Number of clips to return (default 20).
                criteria:
                  type: object
                  default:
                    filter: LAST_WEEK
                  properties:
                    filter:
                      type: string
                      description: 'Time filter: LAST_DAY, LAST_WEEK, LAST_MONTH, or ALL_TIME.'
                      default: LAST_WEEK
                cursor:
                  type: [string, 'null']
                  default: null
                  description: Pagination cursor from previous response.
                extensions:
                  type: object
                  const:
                    persistedQuery:
                      version: 1
                      sha256Hash: 90c33f5e6465122fba8f9371e2a97076f9ed06c6fed3788d002ab9eba8f91d88
      responses:
        '200':
          description: Clips for the specified channel.
          content:
            application/json:
              schema:
                type: object
                required:
                  - user
                properties:
                  user:
                    type: [object, 'null']
                    description: Channel with clips (null if channel not found).
                    required:
                      - clips
                    properties:
                      clips:
                        type: object
                        description: Paginated clips container.
                        required:
                          - edges
                        properties:
                          edges:
                            type: array
                            description: List of clip edges.
                            items:
                              type: object
                              description: A single clip edge with pagination cursor.
                              required:
                                - node
                              properties:
                                cursor:
                                  type: [string, 'null']
                                  description: Pagination cursor for this edge.
                                node:
                                  type: object
                                  description: The clip entry.
                                  required:
                                    - id
                                    - slug
                                    - title
                                    - viewCount
                                    - durationSeconds
                                  properties:
                                    id:
                                      type: string
                                      description: Unique clip ID.
                                    slug:
                                      type: string
                                      description: URL-friendly clip slug (used in twitch.tv/clip/{slug}).
                                    title:
                                      type: string
                                      description: Clip title set by the creator.
                                    viewCount:
                                      type: integer
                                      description: Total number of views.
                                    createdAt:
                                      type: string
                                      description: ISO 8601 timestamp when the clip was created.
                                    durationSeconds:
                                      type: number
                                      description: Clip duration in seconds.
                                    thumbnailURL:
                                      type: string
                                      description: URL of the clip thumbnail image.
                                    broadcaster:
                                      type: object
                                      description: The channel this clip is from.
                                      required:
                                        - login
                                        - displayName
                                      properties:
                                        login:
                                          type: string
                                          description: Channel login name.
                                        displayName:
                                          type: string
                                          description: Human-readable channel display name.
                                    game:
                                      type: [object, 'null']
                                      description: Game/category being played in the clip (null if uncategorized).
                                      required:
                                        - name
                                      properties:
                                        name:
                                          type: string
                                          description: Display name of the game/category.

  /gql~getVideos:
    post:
      operationId: getVideos
      summary: Get past broadcasts and VODs for a channel — video titles, view counts, durations, broadcast types
      x-openweb:
        permission: read
        actual_path: /gql
        unwrap: data
        wrap: variables
        build:
          verified: false
          stable_id: tw0007
          signature_id: tw0007s
          tool_version: 2
      parameters:
        - name: Client-Id
          in: header
          required: true
          schema:
            type: string
            const: kimne78kx3ncx6brgo4mv6wki5h1ko
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            const: text/plain;charset=UTF-8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelOwnerLogin
              properties:
                operationName:
                  type: string
                  const: FilterableVideoTower_Videos
                channelOwnerLogin:
                  type: string
                  description: Channel login name (e.g. "shroud", "pokimane").
                limit:
                  type: integer
                  default: 30
                  description: Number of videos to return (default 30).
                broadcastType:
                  type: [string, 'null']
                  default: null
                  description: 'Filter by type: ARCHIVE (past broadcasts), HIGHLIGHT, UPLOAD, or null (all).'
                videoSort:
                  type: string
                  default: TIME
                  description: 'Sort order: TIME (most recent) or VIEWS (most viewed).'
                cursor:
                  type: [string, 'null']
                  default: null
                  description: Pagination cursor from previous response.
                extensions:
                  type: object
                  const:
                    persistedQuery:
                      version: 1
                      sha256Hash: 67004f7881e65c297936f32c75246470629557a393788fb5a69d6d9a25a8fd5f
      responses:
        '200':
          description: Videos for the specified channel.
          content:
            application/json:
              schema:
                type: object
                required:
                  - user
                properties:
                  user:
                    type: [object, 'null']
                    description: Channel with videos (null if channel not found).
                    required:
                      - videos
                    properties:
                      videos:
                        type: object
                        description: Paginated videos container.
                        required:
                          - edges
                        properties:
                          edges:
                            type: array
                            description: List of video edges.
                            items:
                              type: object
                              description: A single video edge with pagination cursor.
                              required:
                                - node
                              properties:
                                cursor:
                                  type: string
                                  description: Pagination cursor for this edge.
                                node:
                                  type: object
                                  description: The video entry.
                                  required:
                                    - id
                                    - title
                                    - viewCount
                                    - lengthSeconds
                                  properties:
                                    id:
                                      type: string
                                      description: Unique video ID.
                                    title:
                                      type: string
                                      description: Video title.
                                    viewCount:
                                      type: integer
                                      description: Total number of views.
                                    createdAt:
                                      type: string
                                      description: ISO 8601 timestamp when the video was created.
                                    lengthSeconds:
                                      type: integer
                                      description: Video duration in seconds.
                                    broadcastType:
                                      type: string
                                      description: 'Video type: ARCHIVE (past broadcast), HIGHLIGHT, or UPLOAD.'
                                    previewThumbnailURL:
                                      type: string
                                      description: URL of the video thumbnail image.
                                    owner:
                                      type: object
                                      description: The channel that owns this video.
                                      required:
                                        - login
                                        - displayName
                                      properties:
                                        login:
                                          type: string
                                          description: Channel login name.
                                        displayName:
                                          type: string
                                          description: Human-readable channel display name.
                                    game:
                                      type: [object, 'null']
                                      description: Game/category being played in the video (null if uncategorized).
                                      required:
                                        - name
                                      properties:
                                        name:
                                          type: string
                                          description: Display name of the game/category.
