openapi: '3.1.0'
info:
  title: Home Depot
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: false
servers:
  - url: https://www.homedepot.com
    x-openweb:
      transport: page
paths:
  /s/{keyword}:
    get:
      operationId: searchProducts
      summary: Search products by keyword — name, brand, price, rating, reviews, images
      x-openweb:
        permission: read
        build:
          stable_id: hd0001
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: homedepot-web
          operation: searchProducts
      parameters:
        - name: keyword
          in: path
          required: true
          schema:
            type: string
          description: Search keyword (e.g. "cordless drill", "patio furniture").
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 24
          description: Number of results per page (max 48).
        - name: startIndex
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Offset for pagination.
      responses:
        '200':
          description: Product search results.
          content:
            application/json:
              schema:
                type: object
                required:
                  - totalProducts
                  - keyword
                  - products
                properties:
                  totalProducts:
                    type: integer
                  keyword:
                    type: string
                  startIndex:
                    type: integer
                  pageSize:
                    type: integer
                  products:
                    type: array
                    items:
                      type: object
                      required:
                        - itemId
                        - name
                      properties:
                        itemId:
                          type: string
                          description: Product item ID (use with getProductDetail).
                        name:
                          type: string
                        brand:
                          type: string
                        modelNumber:
                          type: string
                        url:
                          type: string
                        price:
                          type:
                            - number
                            - 'null'
                        priceDisplay:
                          type: string
                        rating:
                          type:
                            - number
                            - 'null'
                        reviewCount:
                          type: integer
                        image:
                          type: string
                        availability:
                          type: string
                        badges:
                          type: array
                          items:
                            type: string
                        sponsored:
                          type: boolean
  /p/{slug}/{itemId}:
    get:
      operationId: getProductDetail
      summary: Get product details — description, specs, price, rating, images, fulfillment
      x-openweb:
        permission: read
        build:
          stable_id: hd0002
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: homedepot-web
          operation: getProductDetail
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
          description: Product item ID (e.g. "314138390"). Get from searchProducts results.
        - name: slug
          in: path
          required: false
          schema:
            type: string
            default: detail
          description: Product URL slug (ignored by adapter, any value works).
        - name: storeId
          in: query
          required: false
          schema:
            type: string
          description: Store ID for local pricing/availability.
        - name: zipCode
          in: query
          required: false
          schema:
            type: string
          description: ZIP code for delivery estimates.
      responses:
        '200':
          description: Full product details.
          content:
            application/json:
              schema:
                type: object
                required:
                  - itemId
                  - name
                properties:
                  itemId:
                    type: string
                  name:
                    type: string
                  brand:
                    type: string
                  modelNumber:
                    type: string
                  productType:
                    type: string
                  url:
                    type: string
                  description:
                    type: string
                  highlights:
                    type: array
                    items:
                      type: string
                  price:
                    type:
                      - number
                      - 'null'
                  priceDisplay:
                    type: string
                  rating:
                    type:
                      - number
                      - 'null'
                  reviewCount:
                    type: integer
                  images:
                    type: array
                    items:
                      type: string
                  specifications:
                    type: array
                    items:
                      type: object
                      properties:
                        group:
                          type: string
                        name:
                          type: string
                        value:
                          type: string
                  breadcrumbs:
                    type: array
                    items:
                      type: string
                  availability:
                    type: string
  /l/search/{zipCode}:
    get:
      operationId: getStoreLocator
      summary: Find nearby Home Depot stores by ZIP code — name, address, phone, hours
      x-openweb:
        permission: read
        build:
          stable_id: hd0003
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: homedepot-web
          operation: getStoreLocator
      parameters:
        - name: zipCode
          in: path
          required: true
          schema:
            type: string
          description: ZIP code to search near (e.g. "10001", "90210").
      responses:
        '200':
          description: Nearby store locations.
          content:
            application/json:
              schema:
                type: object
                required:
                  - zipCode
                  - count
                  - stores
                properties:
                  zipCode:
                    type: string
                  count:
                    type: integer
                  stores:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        address:
                          type: string
                        phone:
                          type: string
                        distance:
                          type: string
                        hours:
                          type: string
                        url:
                          type: string
