openapi: '3.1.0'
info:
  title: Home Depot
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: false
servers:
  - url: https://www.homedepot.com
    x-openweb:
      transport: page
paths:
  /s/{keyword}:
    get:
      operationId: searchProducts
      summary: Search products by keyword — name, brand, price, rating, reviews, images
      x-openweb:
        permission: read
        build:
          stable_id: hd0001
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: homedepot-web
          operation: searchProducts
      parameters:
        - name: keyword
          in: path
          required: true
          schema:
            type: string
          description: Search keyword (e.g. "cordless drill", "patio furniture").
      responses:
        '200':
          description: Product search results.
          content:
            application/json:
              schema:
                type: object
                required:
                  - totalProducts
                  - keyword
                  - products
                properties:
                  totalProducts:
                    type: integer
                  keyword:
                    type: string
                  products:
                    type: array
                    items:
                      type: object
                      required:
                        - itemId
                        - name
                      properties:
                        itemId:
                          type: string
                          description: Product item ID (use with getProductDetail).
                        name:
                          type: string
                        brand:
                          type: string
                        modelNumber:
                          type: string
                        url:
                          type: string
                        price:
                          type:
                            - number
                            - 'null'
                        priceDisplay:
                          type: string
                        rating:
                          type:
                            - number
                            - 'null'
                        reviewCount:
                          type: integer
                        image:
                          type: string
                        availability:
                          type: string
                        badges:
                          type: array
                          items:
                            type: string
                        sponsored:
                          type: boolean
  /p/{slug}/{itemId}:
    get:
      operationId: getProductDetail
      summary: Get product details — description, specs, price, rating, images, fulfillment
      x-openweb:
        permission: read
        build:
          stable_id: hd0002
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: homedepot-web
          operation: getProductDetail
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
          description: Product item ID (e.g. "306283873"). Get from searchProducts results.
        - name: slug
          in: path
          required: false
          schema:
            type: string
            default: detail
          description: Product URL slug (ignored by adapter, any value works).
        - name: storeId
          in: query
          required: false
          schema:
            type: string
          description: Store ID for local pricing/availability.
        - name: zipCode
          in: query
          required: false
          schema:
            type: string
          description: ZIP code for delivery estimates.
      responses:
        '200':
          description: Full product details.
          content:
            application/json:
              schema:
                type: object
                required:
                  - itemId
                  - name
                properties:
                  itemId:
                    type: string
                  name:
                    type: string
                  brand:
                    type: string
                  modelNumber:
                    type: string
                  productType:
                    type: string
                  url:
                    type: string
                  description:
                    type: string
                  highlights:
                    type: array
                    items:
                      type: string
                  price:
                    type:
                      - number
                      - 'null'
                  priceDisplay:
                    type: string
                  rating:
                    type:
                      - number
                      - 'null'
                  reviewCount:
                    type: integer
                  images:
                    type: array
                    items:
                      type: string
                  specifications:
                    type: array
                    items:
                      type: object
                      properties:
                        group:
                          type: string
                        name:
                          type: string
                        value:
                          type: string
                  breadcrumbs:
                    type: array
                    items:
                      type: string
                  availability:
                    type: string
  /p/{slug}/{itemId}/reviews:
    get:
      operationId: getProductReviews
      summary: Get customer reviews for a product — rating, text, photos, badges
      x-openweb:
        permission: read
        build:
          stable_id: hd0003
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: homedepot-web
          operation: getProductReviews
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
          description: Product item ID (e.g. "306283873"). Get from searchProducts results.
        - name: slug
          in: path
          required: false
          schema:
            type: string
            default: detail
          description: Product URL slug (ignored by adapter, any value works).
      responses:
        '200':
          description: Customer reviews for the product.
          content:
            application/json:
              schema:
                type: object
                required:
                  - itemId
                  - totalReviews
                  - reviews
                properties:
                  itemId:
                    type: string
                  totalReviews:
                    type: integer
                  reviews:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - rating
                        - text
                      properties:
                        id:
                          type: string
                        rating:
                          type: integer
                          minimum: 1
                          maximum: 5
                        title:
                          type:
                            - string
                            - 'null'
                        text:
                          type: string
                        author:
                          type: string
                        date:
                          type: string
                        isRecommended:
                          type:
                            - boolean
                            - 'null'
                        isSyndicated:
                          type: boolean
                        helpfulVotes:
                          type: integer
                        unhelpfulVotes:
                          type: integer
                        photos:
                          type: array
                          items:
                            type: string
                        badges:
                          type: array
                          items:
                            type: string
                        location:
                          type:
                            - string
                            - 'null'
  /p/{slug}/{itemId}/pricing:
    get:
      operationId: getProductPricing
      summary: Get detailed pricing — current, original, promotions, unit price, clearance
      x-openweb:
        permission: read
        build:
          stable_id: hd0004
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: homedepot-web
          operation: getProductPricing
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
          description: Product item ID (e.g. "306283873"). Get from searchProducts results.
        - name: slug
          in: path
          required: false
          schema:
            type: string
            default: detail
          description: Product URL slug (ignored by adapter, any value works).
      responses:
        '200':
          description: Detailed pricing information for the product.
          content:
            application/json:
              schema:
                type: object
                required:
                  - itemId
                  - name
                properties:
                  itemId:
                    type: string
                  name:
                    type: string
                  price:
                    type:
                      - number
                      - 'null'
                  originalPrice:
                    type:
                      - number
                      - 'null'
                  unitOfMeasure:
                    type:
                      - string
                      - 'null'
                  mapAboveOriginalPrice:
                    type:
                      - boolean
                      - 'null'
                  clearance:
                    type:
                      - boolean
                      - 'null'
                  specialBuy:
                    type:
                      - boolean
                      - 'null'
                  promotion:
                    type:
                      - object
                      - 'null'
                    properties:
                      type:
                        type: string
                      description:
                        type: string
                      dollarOff:
                        type:
                          - number
                          - 'null'
                      percentageOff:
                        type:
                          - number
                          - 'null'
                      startDate:
                        type:
                          - string
                          - 'null'
                      endDate:
                        type:
                          - string
                          - 'null'
                  unitPricing:
                    type:
                      - object
                      - 'null'
                    properties:
                      value:
                        type: number
                      unitOfMeasure:
                        type: string
                  bulkPricing:
                    type:
                      - object
                      - 'null'
                  conditionalPromotions:
                    type:
                      - array
                      - 'null'
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        subType:
                          type: string
                        description:
                          type: string
                        startDate:
                          type:
                            - string
                            - 'null'
                        endDate:
                          type:
                            - string
                            - 'null'
  /p/{slug}/{itemId}/availability:
    get:
      operationId: getStoreAvailability
      summary: Check store pickup and delivery availability for a product
      x-openweb:
        permission: read
        build:
          stable_id: hd0005
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: homedepot-web
          operation: getStoreAvailability
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
          description: Product item ID (e.g. "306283873"). Get from searchProducts results.
        - name: slug
          in: path
          required: false
          schema:
            type: string
            default: detail
          description: Product URL slug (ignored by adapter, any value works).
      responses:
        '200':
          description: Store availability and fulfillment options.
          content:
            application/json:
              schema:
                type: object
                required:
                  - itemId
                  - fulfillmentOptions
                properties:
                  itemId:
                    type: string
                  name:
                    type: string
                  availabilityType:
                    type: string
                  discontinued:
                    type: boolean
                  buyable:
                    type: boolean
                  fulfillmentOptions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: '"pickup" or "delivery"'
                        fulfillable:
                          type: boolean
                        services:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: '"bopis", "express delivery", "sth" (ship-to-home)'
                              deliveryTimeline:
                                type:
                                  - string
                                  - 'null'
                              startDate:
                                type:
                                  - string
                                  - 'null'
                              endDate:
                                type:
                                  - string
                                  - 'null'
                              deliveryCharge:
                                type:
                                  - number
                                  - 'null'
                              hasFreeShipping:
                                type: boolean
                              storeId:
                                type:
                                  - string
                                  - 'null'
                              storeName:
                                type:
                                  - string
                                  - 'null'
                              storePhone:
                                type:
                                  - string
                                  - 'null'
                              inStock:
                                type: boolean
                              quantity:
                                type: integer
                              isLimitedQuantity:
                                type: boolean
                              curbsidePickup:
                                type: boolean
