openapi: 3.1.0
info:
  title: bilibili
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T18:18:59.791Z
    requires_auth: true
servers:
  - url: https://api.bilibili.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
paths:
  /x/player/online/total:
    get:
      operationId: getVideoOnlineCount
      summary: Get online viewer count for a video
      x-openweb:
        permission: read
        build:
          stable_id: 0b273b448a0dfeff
          tool_version: 2
      parameters:
        - name: aid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: bvid
          in: query
          required: true
          schema:
            type: string
          example: BV1bscPz1EQW
        - name: cid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: ts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      total:
                        type: string
                        enum:
                          - "6"
                      count:
                        type: string
                        enum:
                          - "5"
                      show_switch:
                        type: object
                        properties:
                          total:
                            type: boolean
                          count:
                            type: boolean
                        required:
                          - total
                          - count
                      abtest:
                        type: object
                        properties:
                          group:
                            type: string
                            enum:
                              - b
                        required:
                          - group
                    required:
                      - total
                      - count
                      - show_switch
                      - abtest
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/player/wbi/v2:
    get:
      operationId: getPlayerInfo
      summary: Get video player info
      x-openweb:
        permission: read
        build:
          stable_id: a7cd04249f0707e2
          tool_version: 2
      parameters:
        - name: aid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: cid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: dm_cover_img_str
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: dm_img_inter
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"ds":[]'
            - '"wh":[4801'
            - 5392
            - 93]
            - '"of":[297'
            - 594
            - 297]}
        - name: dm_img_list
          in: query
          required: true
          schema:
            type: string
          example: "[]"
        - name: dm_img_str
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: isGaiaAvoided
          in: query
          required: true
          schema:
            type: string
          example: "false"
        - name: w_rid
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: web_location
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: wts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      aid:
                        type: integer
                      bvid:
                        type: string
                        enum:
                          - BV1bscPz1EQW
                      allow_bp:
                        type: boolean
                      no_share:
                        type: boolean
                      cid:
                        type: integer
                      max_limit:
                        type: integer
                      page_no:
                        type: integer
                      has_next:
                        type: boolean
                      ip_info:
                        type: object
                        properties:
                          ip:
                            type: string
                            enum:
                              - 174.109.106.155
                          zone_ip:
                            type: string
                            enum:
                              - " 10.163.198.19"
                          zone_id:
                            type: integer
                          country:
                            type: string
                            enum:
                              - 美国
                          province:
                            type: string
                            enum:
                              - 北卡罗来纳州
                          city:
                            type: string
                            enum:
                              - 德罕
                        required:
                          - ip
                          - zone_ip
                          - zone_id
                          - country
                          - province
                          - city
                      login_mid:
                        type: integer
                      login_mid_hash:
                        type: string
                        enum:
                          - c71b7858
                      is_owner:
                        type: boolean
                      name:
                        type: string
                        enum:
                          - imoonkey
                      permission:
                        type: string
                        enum:
                          - 10000,1001
                      level_info:
                        type: object
                        properties:
                          current_level:
                            type: integer
                          current_min:
                            type: integer
                          current_exp:
                            type: integer
                          next_exp:
                            type: integer
                          level_up:
                            type: integer
                        required:
                          - current_level
                          - current_min
                          - current_exp
                          - next_exp
                          - level_up
                      vip:
                        type: object
                        properties:
                          type:
                            type: integer
                          status:
                            type: integer
                          due_date:
                            type: integer
                          vip_pay_type:
                            type: integer
                          theme_type:
                            type: integer
                          label:
                            type: object
                            properties:
                              path:
                                type: string
                                enum:
                                  - ""
                              text:
                                type: string
                                enum:
                                  - ""
                              label_theme:
                                type: string
                                enum:
                                  - ""
                              text_color:
                                type: string
                                enum:
                                  - ""
                              bg_style:
                                type: integer
                              bg_color:
                                type: string
                                enum:
                                  - ""
                              border_color:
                                type: string
                                enum:
                                  - ""
                              use_img_label:
                                type: boolean
                              img_label_uri_hans:
                                type: string
                                enum:
                                  - ""
                              img_label_uri_hant:
                                type: string
                                enum:
                                  - ""
                              img_label_uri_hans_static:
                                type: string
                                format: uri
                              img_label_uri_hant_static:
                                type: string
                                format: uri
                              label_id:
                                type: integer
                              label_goto:
                                type: "null"
                            required:
                              - path
                              - text
                              - label_theme
                              - text_color
                              - bg_style
                              - bg_color
                              - border_color
                              - use_img_label
                              - img_label_uri_hans
                              - img_label_uri_hant
                              - img_label_uri_hans_static
                              - img_label_uri_hant_static
                              - label_id
                              - label_goto
                          avatar_subscript:
                            type: integer
                          nickname_color:
                            type: string
                            enum:
                              - ""
                          role:
                            type: integer
                          avatar_subscript_url:
                            type: string
                            enum:
                              - ""
                          tv_vip_status:
                            type: integer
                          tv_vip_pay_type:
                            type: integer
                          tv_due_date:
                            type: integer
                          avatar_icon:
                            type: object
                            properties:
                              icon_resource:
                                type: object
                                properties: {}
                                required: []
                            required:
                              - icon_resource
                          ott_info:
                            type: object
                            properties:
                              vip_type:
                                type: integer
                              pay_type:
                                type: integer
                              pay_channel_id:
                                type: string
                                enum:
                                  - ""
                              status:
                                type: integer
                              overdue_time:
                                type: integer
                            required:
                              - vip_type
                              - pay_type
                              - pay_channel_id
                              - status
                              - overdue_time
                          super_vip:
                            type: object
                            properties:
                              is_super_vip:
                                type: boolean
                            required:
                              - is_super_vip
                        required:
                          - type
                          - status
                          - due_date
                          - vip_pay_type
                          - theme_type
                          - label
                          - avatar_subscript
                          - nickname_color
                          - role
                          - avatar_subscript_url
                          - tv_vip_status
                          - tv_vip_pay_type
                          - tv_due_date
                          - avatar_icon
                          - ott_info
                          - super_vip
                      answer_status:
                        type: integer
                      block_time:
                        type: integer
                      role:
                        type: string
                        enum:
                          - "0"
                      last_play_time:
                        type: integer
                      last_play_cid:
                        type: integer
                      now_time:
                        type: integer
                      online_count:
                        type: integer
                      need_login_subtitle:
                        type: boolean
                      subtitle:
                        type: object
                        properties:
                          allow_submit:
                            type: boolean
                          lan:
                            type: string
                            enum:
                              - ""
                          lan_doc:
                            type: string
                            enum:
                              - ""
                          subtitles:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                lan:
                                  type: string
                                  enum:
                                    - ai-zh
                                lan_doc:
                                  type: string
                                  enum:
                                    - 中文
                                is_lock:
                                  type: boolean
                                subtitle_url:
                                  type: string
                                  enum:
                                    - //aisubtitle.hdslb.com/bfs/ai_subtitle/prod/1160362254739523591956330782d1243b850762a236aefc15e84fb50e?auth_key=1774721583-78f86adc4d6f436eacfc4e1e4fcc8bc6-0-eb4f76ee7038a13f194d93c53d1175b1
                                subtitle_url_v2:
                                  type: string
                                  format: email
                                type:
                                  type: integer
                                id_str:
                                  type: string
                                  enum:
                                    - "1949697890012515328"
                                ai_type:
                                  type: integer
                                ai_status:
                                  type: integer
                              required:
                                - id
                                - lan
                                - lan_doc
                                - is_lock
                                - subtitle_url
                                - subtitle_url_v2
                                - type
                                - id_str
                                - ai_type
                                - ai_status
                          subtitle_position:
                            type: "null"
                          font_size_type:
                            type: integer
                        required:
                          - allow_submit
                          - lan
                          - lan_doc
                          - subtitles
                          - subtitle_position
                          - font_size_type
                      view_points:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: integer
                            from:
                              type: integer
                            to:
                              type: integer
                            content:
                              type: string
                              enum:
                                - 健康生活类
                                - 出行交通类
                                - 智能家居类
                                - 智能穿戴类
                                - 机器人类
                                - 电脑PC类
                                - 电视大屏类
                                - 耳机音响类
                            imgUrl:
                              type: string
                              format: uri
                            logoUrl:
                              type: string
                              enum:
                                - ""
                            team_type:
                              type: string
                              enum:
                                - ""
                            team_name:
                              type: string
                              enum:
                                - ""
                          required:
                            - type
                            - from
                            - to
                            - content
                            - imgUrl
                            - logoUrl
                            - team_type
                            - team_name
                      preview_toast:
                        type: string
                        enum:
                          - 为创作付费，购买观看完整视频|购买观看
                      options:
                        type: object
                        properties:
                          is_360:
                            type: boolean
                          without_vip:
                            type: boolean
                        required:
                          - is_360
                          - without_vip
                      guide_attention:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: integer
                            from:
                              type: integer
                            to:
                              type: integer
                            pos_x:
                              type: number
                            pos_y:
                              type: integer
                          required:
                            - type
                            - from
                            - to
                            - pos_x
                            - pos_y
                      jump_card:
                        type: array
                        items:
                          type: object
                      operation_card:
                        type: array
                        items:
                          type: object
                      online_switch:
                        type: object
                        properties:
                          enable_gray_dash_playback:
                            type: string
                            enum:
                              - "500"
                          new_broadcast:
                            type: string
                            enum:
                              - "1"
                          realtime_dm:
                            type: string
                            enum:
                              - "1"
                          subtitle_submit_switch:
                            type: string
                            enum:
                              - "1"
                        required:
                          - enable_gray_dash_playback
                          - new_broadcast
                          - realtime_dm
                          - subtitle_submit_switch
                      fawkes:
                        type: object
                        properties:
                          config_version:
                            type: integer
                          ff_version:
                            type: integer
                        required:
                          - config_version
                          - ff_version
                      show_switch:
                        type: object
                        properties:
                          long_progress:
                            type: boolean
                        required:
                          - long_progress
                      bgm_info:
                        type: "null"
                      toast_block:
                        type: boolean
                      is_upower_exclusive:
                        type: boolean
                      is_upower_play:
                        type: boolean
                      is_ugc_pay_preview:
                        type: boolean
                      elec_high_level:
                        type: object
                        properties:
                          privilege_type:
                            type: integer
                          title:
                            type: string
                            enum:
                              - ""
                          sub_title:
                            type: string
                            enum:
                              - ""
                          show_button:
                            type: boolean
                          button_text:
                            type: string
                            enum:
                              - ""
                          jump_url:
                            type: string
                            enum:
                              - ""
                          intro:
                            type: string
                            enum:
                              - ""
                          new:
                            type: boolean
                          question_text:
                            type: string
                            enum:
                              - ""
                          qa_title:
                            type: string
                            enum:
                              - ""
                        required:
                          - privilege_type
                          - title
                          - sub_title
                          - show_button
                          - button_text
                          - jump_url
                          - intro
                          - new
                          - question_text
                          - qa_title
                      disable_show_up_info:
                        type: boolean
                      is_upower_exclusive_with_qa:
                        type: boolean
                      arc_aigc:
                        type: "null"
                      self_visible:
                        type: "null"
                    required:
                      - aid
                      - bvid
                      - allow_bp
                      - no_share
                      - cid
                      - max_limit
                      - page_no
                      - has_next
                      - ip_info
                      - login_mid
                      - login_mid_hash
                      - is_owner
                      - name
                      - permission
                      - level_info
                      - vip
                      - answer_status
                      - block_time
                      - role
                      - last_play_time
                      - last_play_cid
                      - now_time
                      - online_count
                      - need_login_subtitle
                      - subtitle
                      - view_points
                      - preview_toast
                      - options
                      - guide_attention
                      - jump_card
                      - operation_card
                      - online_switch
                      - fawkes
                      - show_switch
                      - bgm_info
                      - toast_block
                      - is_upower_exclusive
                      - is_upower_play
                      - is_ugc_pay_preview
                      - elec_high_level
                      - disable_show_up_info
                      - is_upower_exclusive_with_qa
                      - arc_aigc
                      - self_visible
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/v2/dm/wbi/web/seg.so:
    get:
      operationId: getDanmaku
      summary: Get danmaku (bullet comments) for a video segment
      x-openweb:
        permission: read
        build:
          stable_id: 0d42dba1c2f62a2b
          tool_version: 2
      parameters:
        - name: oid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: pe
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: pid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: ps
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: pull_mode
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: segment_index
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: type
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_rid
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: web_location
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: wts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/octet-stream:
              schema:
                type: object
  /x/v2/dm/web/view:
    get:
      operationId: getDanmakuMeta
      summary: Get danmaku metadata
      x-openweb:
        permission: read
        build:
          stable_id: c4ccd296975cdff2
          tool_version: 2
      parameters:
        - name: context_ext
          in: query
          required: true
          schema:
            type: string
          example: '{"video_type":1}'
        - name: cur_production_type
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: duration
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: oid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: pid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: type
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/octet-stream:
              schema:
                type: object
  /x/web-interface/archive/like:
    post:
      operationId: likeVideo
      summary: Like or unlike a video
      x-openweb:
        permission: write
        build:
          stable_id: f5882047ebdafa4b
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                required:
                  - code
                  - message
                  - ttl
  /x/web-interface/archive/relation:
    get:
      operationId: getVideoRelation
      summary: Get user relation to a video (liked, coined, favorited)
      x-openweb:
        permission: read
        build:
          stable_id: d365eae5626eee9d
          tool_version: 2
      parameters:
        - name: aid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: bvid
          in: query
          required: true
          schema:
            type: string
          example: BV1bscPz1EQW
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      attention:
                        type: boolean
                      favorite:
                        type: boolean
                      season_fav:
                        type: boolean
                      like:
                        type: boolean
                      dislike:
                        type: boolean
                      coin:
                        type: integer
                    required:
                      - attention
                      - favorite
                      - season_fav
                      - like
                      - dislike
                      - coin
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/history/continuation:
    get:
      operationId: getWatchHistory
      summary: Get watch history continuation
      x-openweb:
        permission: read
        build:
          stable_id: 9705cb1490f71d7f
          tool_version: 2
      parameters:
        - name: his_exp
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: web_location
          in: query
          required: true
          schema:
            type: number
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: "null"
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/nav:
    get:
      operationId: getNav
      summary: Get navigation and current user info
      x-openweb:
        permission: read
        build:
          stable_id: af4d0f36febb3e08
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      isLogin:
                        type: boolean
                      email_verified:
                        type: integer
                      face:
                        type: string
                        format: uri
                      face_nft:
                        type: integer
                      face_nft_type:
                        type: integer
                      level_info:
                        type: object
                        properties:
                          current_level:
                            type: integer
                          current_min:
                            type: integer
                          current_exp:
                            type: integer
                          next_exp:
                            type: integer
                        required:
                          - current_level
                          - current_min
                          - current_exp
                          - next_exp
                      mid:
                        type: integer
                      mobile_verified:
                        type: integer
                      money:
                        type: integer
                      moral:
                        type: integer
                      official:
                        type: object
                        properties:
                          role:
                            type: integer
                          title:
                            type: string
                            enum:
                              - ""
                          desc:
                            type: string
                            enum:
                              - ""
                          type:
                            type: integer
                        required:
                          - role
                          - title
                          - desc
                          - type
                      officialVerify:
                        type: object
                        properties:
                          type:
                            type: integer
                          desc:
                            type: string
                            enum:
                              - ""
                        required:
                          - type
                          - desc
                      pendant:
                        type: object
                        properties:
                          pid:
                            type: integer
                          name:
                            type: string
                            enum:
                              - ""
                          image:
                            type: string
                            enum:
                              - ""
                          expire:
                            type: integer
                          image_enhance:
                            type: string
                            enum:
                              - ""
                          image_enhance_frame:
                            type: string
                            enum:
                              - ""
                          n_pid:
                            type: integer
                        required:
                          - pid
                          - name
                          - image
                          - expire
                          - image_enhance
                          - image_enhance_frame
                          - n_pid
                      scores:
                        type: integer
                      uname:
                        type: string
                        enum:
                          - imoonkey
                      vipDueDate:
                        type: integer
                      vipStatus:
                        type: integer
                      vipType:
                        type: integer
                      vip_pay_type:
                        type: integer
                      vip_theme_type:
                        type: integer
                      vip_label:
                        type: object
                        properties:
                          path:
                            type: string
                            enum:
                              - ""
                          text:
                            type: string
                            enum:
                              - ""
                          label_theme:
                            type: string
                            enum:
                              - ""
                          text_color:
                            type: string
                            enum:
                              - ""
                          bg_style:
                            type: integer
                          bg_color:
                            type: string
                            enum:
                              - ""
                          border_color:
                            type: string
                            enum:
                              - ""
                          use_img_label:
                            type: boolean
                          img_label_uri_hans:
                            type: string
                            enum:
                              - ""
                          img_label_uri_hant:
                            type: string
                            enum:
                              - ""
                          img_label_uri_hans_static:
                            type: string
                            format: uri
                          img_label_uri_hant_static:
                            type: string
                            format: uri
                          label_id:
                            type: integer
                          label_goto:
                            type: "null"
                        required:
                          - path
                          - text
                          - label_theme
                          - text_color
                          - bg_style
                          - bg_color
                          - border_color
                          - use_img_label
                          - img_label_uri_hans
                          - img_label_uri_hant
                          - img_label_uri_hans_static
                          - img_label_uri_hant_static
                          - label_id
                          - label_goto
                      vip_avatar_subscript:
                        type: integer
                      vip_nickname_color:
                        type: string
                        enum:
                          - ""
                      vip:
                        type: object
                        properties:
                          type:
                            type: integer
                          status:
                            type: integer
                          due_date:
                            type: integer
                          vip_pay_type:
                            type: integer
                          theme_type:
                            type: integer
                          label:
                            type: object
                            properties:
                              path:
                                type: string
                                enum:
                                  - ""
                              text:
                                type: string
                                enum:
                                  - ""
                              label_theme:
                                type: string
                                enum:
                                  - ""
                              text_color:
                                type: string
                                enum:
                                  - ""
                              bg_style:
                                type: integer
                              bg_color:
                                type: string
                                enum:
                                  - ""
                              border_color:
                                type: string
                                enum:
                                  - ""
                              use_img_label:
                                type: boolean
                              img_label_uri_hans:
                                type: string
                                enum:
                                  - ""
                              img_label_uri_hant:
                                type: string
                                enum:
                                  - ""
                              img_label_uri_hans_static:
                                type: string
                                format: uri
                              img_label_uri_hant_static:
                                type: string
                                format: uri
                              label_id:
                                type: integer
                              label_goto:
                                type: "null"
                            required:
                              - path
                              - text
                              - label_theme
                              - text_color
                              - bg_style
                              - bg_color
                              - border_color
                              - use_img_label
                              - img_label_uri_hans
                              - img_label_uri_hant
                              - img_label_uri_hans_static
                              - img_label_uri_hant_static
                              - label_id
                              - label_goto
                          avatar_subscript:
                            type: integer
                          nickname_color:
                            type: string
                            enum:
                              - ""
                          role:
                            type: integer
                          avatar_subscript_url:
                            type: string
                            enum:
                              - ""
                          tv_vip_status:
                            type: integer
                          tv_vip_pay_type:
                            type: integer
                          tv_due_date:
                            type: integer
                          avatar_icon:
                            type: object
                            properties:
                              icon_resource:
                                type: object
                                properties: {}
                                required: []
                            required:
                              - icon_resource
                          ott_info:
                            type: object
                            properties:
                              vip_type:
                                type: integer
                              pay_type:
                                type: integer
                              pay_channel_id:
                                type: string
                                enum:
                                  - ""
                              status:
                                type: integer
                              overdue_time:
                                type: integer
                            required:
                              - vip_type
                              - pay_type
                              - pay_channel_id
                              - status
                              - overdue_time
                          super_vip:
                            type: object
                            properties:
                              is_super_vip:
                                type: boolean
                            required:
                              - is_super_vip
                        required:
                          - type
                          - status
                          - due_date
                          - vip_pay_type
                          - theme_type
                          - label
                          - avatar_subscript
                          - nickname_color
                          - role
                          - avatar_subscript_url
                          - tv_vip_status
                          - tv_vip_pay_type
                          - tv_due_date
                          - avatar_icon
                          - ott_info
                          - super_vip
                      wallet:
                        type: object
                        properties:
                          mid:
                            type: integer
                          bcoin_balance:
                            type: integer
                          coupon_balance:
                            type: integer
                          coupon_due_time:
                            type: integer
                        required:
                          - mid
                          - bcoin_balance
                          - coupon_balance
                          - coupon_due_time
                      has_shop:
                        type: boolean
                      shop_url:
                        type: string
                        enum:
                          - ""
                      answer_status:
                        type: integer
                      is_senior_member:
                        type: integer
                      wbi_img:
                        type: object
                        properties:
                          img_url:
                            type: string
                            format: uri
                          sub_url:
                            type: string
                            format: uri
                        required:
                          - img_url
                          - sub_url
                      is_jury:
                        type: boolean
                      name_render:
                        type: "null"
                      legal_region:
                        type: string
                        enum:
                          - US
                      ip_region:
                        type: string
                        enum:
                          - US
                    required:
                      - isLogin
                      - email_verified
                      - face
                      - face_nft
                      - face_nft_type
                      - level_info
                      - mid
                      - mobile_verified
                      - money
                      - moral
                      - official
                      - officialVerify
                      - pendant
                      - scores
                      - uname
                      - vipDueDate
                      - vipStatus
                      - vipType
                      - vip_pay_type
                      - vip_theme_type
                      - vip_label
                      - vip_avatar_subscript
                      - vip_nickname_color
                      - vip
                      - wallet
                      - has_shop
                      - shop_url
                      - answer_status
                      - is_senior_member
                      - wbi_img
                      - is_jury
                      - name_render
                      - legal_region
                      - ip_region
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/popular:
    get:
      operationId: getPopularVideos
      summary: Get popular video list
      x-openweb:
        permission: read
        build:
          stable_id: d596672b97554c08
          tool_version: 2
      parameters:
        - name: pn
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: ps
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_rid
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: web_location
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: wts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            aid:
                              type: integer
                            videos:
                              type: integer
                            tid:
                              type: integer
                            tname:
                              type: string
                            copyright:
                              type: integer
                            pic:
                              type: string
                              format: uri
                            title:
                              type: string
                            pubdate:
                              type: integer
                            ctime:
                              type: integer
                            desc:
                              type: string
                            state:
                              type: integer
                            duration:
                              type: integer
                            rights:
                              type: object
                              properties:
                                bp:
                                  type: integer
                                elec:
                                  type: integer
                                download:
                                  type: integer
                                movie:
                                  type: integer
                                pay:
                                  type: integer
                                hd5:
                                  type: integer
                                no_reprint:
                                  type: integer
                                autoplay:
                                  type: integer
                                ugc_pay:
                                  type: integer
                                is_cooperation:
                                  type: integer
                                ugc_pay_preview:
                                  type: integer
                                no_background:
                                  type: integer
                                arc_pay:
                                  type: integer
                                pay_free_watch:
                                  type: integer
                              required:
                                - bp
                                - elec
                                - download
                                - movie
                                - pay
                                - hd5
                                - no_reprint
                                - autoplay
                                - ugc_pay
                                - is_cooperation
                                - ugc_pay_preview
                                - no_background
                                - arc_pay
                                - pay_free_watch
                            owner:
                              type: object
                              properties:
                                mid:
                                  type: integer
                                name:
                                  type: string
                                face:
                                  type: string
                                  format: uri
                              required:
                                - mid
                                - name
                                - face
                            stat:
                              type: object
                              properties:
                                aid:
                                  type: integer
                                view:
                                  type: integer
                                danmaku:
                                  type: integer
                                reply:
                                  type: integer
                                favorite:
                                  type: integer
                                coin:
                                  type: integer
                                share:
                                  type: integer
                                now_rank:
                                  type: integer
                                his_rank:
                                  type: integer
                                like:
                                  type: integer
                                dislike:
                                  type: integer
                                vt:
                                  type: integer
                                vv:
                                  type: integer
                                fav_g:
                                  type: integer
                                like_g:
                                  type: integer
                              required:
                                - aid
                                - view
                                - danmaku
                                - reply
                                - favorite
                                - coin
                                - share
                                - now_rank
                                - his_rank
                                - like
                                - dislike
                                - vt
                                - vv
                                - fav_g
                                - like_g
                            dynamic:
                              type: string
                              enum:
                                - ""
                                - 今年最有意义的一期
                                - |-
                                  城！市！大！富！翁！03
                                  超刺激的6小时极限赚钱挑战！
                                  全新地图！点赞30w，出发下一期！！
                                - 影视飓风的人，在做什么梦？
                                - 特朗普说炸就炸，中东格局彻底乱了。海湾王爷们的土豪发展神话，被伊朗炸得粉碎。霍尔木兹一封，全球制造业集体打冷颤，美国打的这场糊涂仗，究竟改变了多少这个世界运行了五十多年的底层逻辑？本期节目我们就来聊聊，改变世界的美以伊战争。
                                - 苹果也杀疯了？2026 iPhone 后台能力大调：iOS26内存压力大增？
                            cid:
                              type: integer
                            dimension:
                              type: object
                              properties:
                                width:
                                  type: integer
                                height:
                                  type: integer
                                rotate:
                                  type: integer
                              required:
                                - width
                                - height
                                - rotate
                            short_link_v2:
                              type: string
                              format: uri
                            first_frame:
                              type: string
                              format: uri
                            pub_location:
                              type: string
                              enum:
                                - 上海
                                - 北京
                                - 广东
                                - 新疆
                                - 江苏
                                - 浙江
                                - 湖南
                                - 福建
                            cover43:
                              type: string
                              format: uri
                            tidv2:
                              type: integer
                            tnamev2:
                              type: string
                            pid_v2:
                              type: integer
                            pid_name_v2:
                              type: string
                            bvid:
                              type: string
                            season_type:
                              type: integer
                            is_ogv:
                              type: boolean
                            ogv_info:
                              type: "null"
                            enable_vt:
                              type: integer
                            ai_rcmd:
                              type: "null"
                            rcmd_reason:
                              type: object
                              properties:
                                content:
                                  type: string
                                  enum:
                                    - ""
                                    - 13万点赞
                                    - 百万播放
                                corner_mark:
                                  type: integer
                              required:
                                - content
                                - corner_mark
                            mission_id:
                              type: integer
                            season_id:
                              type: integer
                            up_from_v2:
                              type: integer
                          required:
                            - aid
                            - videos
                            - tid
                            - tname
                            - copyright
                            - pic
                            - title
                            - pubdate
                            - ctime
                            - desc
                            - state
                            - duration
                            - rights
                            - owner
                            - stat
                            - dynamic
                            - cid
                            - dimension
                            - short_link_v2
                            - first_frame
                            - pub_location
                            - cover43
                            - tidv2
                            - tnamev2
                            - pid_v2
                            - pid_name_v2
                            - bvid
                            - season_type
                            - is_ogv
                            - ogv_info
                            - enable_vt
                            - ai_rcmd
                            - rcmd_reason
                      no_more:
                        type: boolean
                    required:
                      - list
                      - no_more
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/relation:
    get:
      operationId: getUserRelation
      summary: Get relationship to another user
      x-openweb:
        permission: read
        build:
          stable_id: d66635401316613c
          tool_version: 2
      parameters:
        - name: mid
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      relation:
                        type: object
                        properties:
                          mid:
                            type: integer
                          attribute:
                            type: integer
                          mtime:
                            type: integer
                          tag:
                            type: "null"
                          special:
                            type: integer
                        required:
                          - mid
                          - attribute
                          - mtime
                          - tag
                          - special
                      be_relation:
                        type: object
                        properties:
                          mid:
                            type: integer
                          attribute:
                            type: integer
                          mtime:
                            type: integer
                          tag:
                            type: "null"
                          special:
                            type: integer
                        required:
                          - mid
                          - attribute
                          - mtime
                          - tag
                          - special
                    required:
                      - relation
                      - be_relation
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/suggest:
    get:
      operationId: searchSuggest
      summary: Get search suggestions
      x-openweb:
        permission: read
        build:
          stable_id: 085e39ed0757b6b1
          tool_version: 2
      parameters:
        - name: highlight
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: spmid
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: term
          in: query
          required: true
          schema:
            type: string
          example: 编程教程
        - name: web_location
          in: query
          required: true
          schema:
            type: number
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      exp_str:
                        type: string
                        enum:
                          - 59900104_62185102_63152100_63491105
                      code:
                        type: integer
                      result:
                        type: object
                        properties:
                          tag:
                            type: array
                            items:
                              type: object
                              properties:
                                value:
                                  type: string
                                term:
                                  type: string
                                ref:
                                  type: integer
                                name:
                                  type: string
                                spid:
                                  type: integer
                                type:
                                  type: string
                                  enum:
                                    - ""
                              required:
                                - value
                                - term
                                - ref
                                - name
                                - spid
                                - type
                        required:
                          - tag
                      stoken:
                        type: string
                        enum:
                          - "6757839668998341251"
                          - "972861131521509113"
                      total_count:
                        type: integer
                    required:
                      - exp_str
                      - code
                      - result
                      - stoken
                      - total_count
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/view/cards:
    get:
      operationId: getVideoCards
      summary: Get video recommendation cards
      x-openweb:
        permission: read
        build:
          stable_id: fc034bc408f9133c
          tool_version: 2
      parameters:
        - name: aid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: bvid
          in: query
          required: true
          schema:
            type: string
          example: BV1bscPz1EQW
        - name: cid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: platform
          in: query
          required: true
          schema:
            type: string
          example: web
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      contract:
                        type: object
                        properties:
                          is_display:
                            type: boolean
                          is_interact_display:
                            type: boolean
                          is_follow_display:
                            type: boolean
                          title:
                            type: string
                            enum:
                              - ""
                          subtitle:
                            type: string
                            enum:
                              - ""
                        required:
                          - is_display
                          - is_interact_display
                          - is_follow_display
                          - title
                          - subtitle
                    required:
                      - contract
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/wbi/search/default:
    get:
      operationId: getSearchDefault
      summary: Get default search term
      x-openweb:
        permission: read
        build:
          stable_id: 515e9f52a392bd49
          tool_version: 2
      parameters:
        - name: w_rid
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: web_location
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: wts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      seid:
                        type: string
                        enum:
                          - "11301299839949545456"
                          - "15745584415182293649"
                          - "4337562746950937350"
                          - "6334046697234978679"
                          - "8795865196976699334"
                          - "9340538974998976388"
                      id:
                        type: integer
                      type:
                        type: integer
                      show_name:
                        type: string
                        enum:
                          - 大生意人
                          - 惊天魔盗团3
                      name:
                        type: string
                        enum:
                          - 大生意人
                          - 惊天魔盗团3
                      goto_type:
                        type: integer
                      goto_value:
                        type: string
                        enum:
                          - ""
                      url:
                        type: string
                        format: uri
                    required:
                      - seid
                      - id
                      - type
                      - show_name
                      - name
                      - goto_type
                      - goto_value
                      - url
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/wbi/view/detail:
    get:
      operationId: getVideoDetail
      summary: Get video detail info
      x-openweb:
        permission: read
        build:
          stable_id: 1510ef9fc14429b7
          tool_version: 2
      parameters:
        - name: aid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: dm_cover_img_str
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: dm_img_inter
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"ds":[{"t":2'
            - '"c":"YnB4LXBsYXllci12aWRlby1pbnB1dGJhci13cm"'
            - '"p":[2430'
            - 100
            - 2115]
            - '"s":[345'
            - 1711
            - 2298]}
            - '{"t":2'
            - '"c":"YnB4LXBsYXllci1kbS1idG4tc2VuZCBidWkgYnVpLWJ1dHRvbg"'
            - '"p":[3186'
            - 62
            - 1642]
            - '"s":[133'
            - 383
            - 386]}]
            - '"wh":[4576'
            - 5317
            - 18]
            - '"of":[50'
            - 100
            - 50]}
        - name: dm_img_list
          in: query
          required: true
          schema:
            type: string
          example: "[]"
        - name: dm_img_str
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: isGaiaAvoided
          in: query
          required: true
          schema:
            type: string
          example: "false"
        - name: need_view
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_rid
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: web_location
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: wts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      View:
                        type: object
                        properties:
                          bvid:
                            type: string
                            enum:
                              - BV1bscPz1EQW
                          aid:
                            type: integer
                          videos:
                            type: integer
                          tid:
                            type: integer
                          tid_v2:
                            type: integer
                          tname:
                            type: string
                            enum:
                              - ""
                          tname_v2:
                            type: string
                            enum:
                              - ""
                          copyright:
                            type: integer
                          pic:
                            type: string
                            format: uri
                          title:
                            type: string
                            enum:
                              - 【CES 2026🐎年度科技】75件年度必看科技精品🚀今年是追觅的狂欢？
                          pubdate:
                            type: integer
                          ctime:
                            type: integer
                          desc:
                            type: string
                            enum:
                              - |-
                                机器人类
                                00:28 波士顿动力&现代Atlas
                                01:04 LG CLOiD家庭机器人
                                01:38 Sharpa North
                                02:14 Realbotix男性拟人机器人David
                                02:43 众擎 T800
                                03:15 智元 AGIBOT
                                03:46 Sweekar一款会长大AI宠物
                                04:07 Tuya Aura陪伴宠物的机器人
                                 
                                电视大屏类
                                04:25 三星R95 H Mirco LED 130英寸电视
                                05:25 LG W6系列 全世界最薄的OLED电视
                                05:49 海信116 UXS 四色RGB Mini -LED
                                06:32 TCL X11L-SQD Mini LED技术方案
                                07:19 追觅Aura Mini LED V3000
                                 
                                电脑PC类
                                07:53 联想Legion Pro Rollable
                                08:26 联想ThinkPad Rollable XD
                                08:57 联想ThinkBook Plus Gen 7 Auto Twist
                                09:31 华硕ExpertBook Ultra
                                10:00 戴尔XPS系列
                                10:29 联想 Yoga Pro 9i Aura 
                                10:47 MSI 尊爵Prestige系列
                                11:11 惠普EliteBoard G1a
                                11:36 华硕 ROG Zephyrus Duo
                                12:04 CyboPal ONE 
                                12:39 清闲libernovo omni
                                 
                                智能家居类
                                13:06 石头科技G-Rover
                                13:27 追觅 Cyber X 扫地机器人
                                13:52 MOVA Pilot 70扫地机器人的飞行载具
                                14:05 MOVA Rover Master泳池机器人
                                14:20 HOVERAir AQUA水上跟拍无人机
                                15:01追觅 APEX Series割草机器人
                                15:17 华宝新能Solar Mars Bot光储机器人
                                15:41 Reolink AI Box安防摄像头
                                16:16 Lockin V7 MAX隔空充电的AI智能锁
                                16:37 Aqara Smart Lock U400 UWB 智能门锁
                                17:03 ROG NeoCoreWi-Fi 8 Demo路由器
                                 
                                健康生活类
                                17:26 iPolish会变色的智能美甲
                                17:53 欧莱雅LED光能面膜
                                18:20 Seattle Ultrasonics C-200超声波菜刀
                                18:50 LumiSleep脑电睡眠仪
                                19:17 Kcool GlydeAI智能理发器
                                19:50 追觅Halo概念机
                                20:13 BreakReal R1 AI 调酒机
                                20:44 Withings Body Scan 2体重秤
                                21:22 Allergen Alert过敏原检测设备
                                21:47 Ceragem Balance AI-AI皮肤分析
                                22:06 Project AVA“全息AI伴侣”。
                                 
                                耳机音响类
                                22:22 带屏幕的时尚耳机
                                22:45 TDM Neo是耳机，也可以是音响
                                23:09 Neurable × HyperX 脑波追踪游戏耳机
                                23:46 韶音 OpenFit Pro开放式降噪滤机
                                24:09 Subtle Computing Voicebuds准确拾音的耳机
                                24:35雷蛇Project Motoko
                                25:05 Lollipop Star会唱歌的棒棒糖
                                 
                                智能穿戴类
                                25:28 雷鸟 X3 Pro Project eSIM
                                26:02 ROG XREAL R1 AR游戏眼镜
                                26:29 Play for dream 仅重100克的MR眼镜
                                26:54 Povec C1 电致变色太阳镜
                                27:13 Lumen头上的导盲犬"盲人眼镜
                                27:39 Vocci RingVocciAI记录戒指
                                28:05 Luna Band 一款没有屏幕的手环
                                 
                                出行交通类
                                28:29 追觅NEBULA NEXT 01
                                28:57Tensor RoboCar L4级自动驾驶汽车
                                29:37 NAVEE WaveFly 5X 地效水上飞行器
                          desc_v2:
                            type: array
                            items:
                              type: object
                              properties:
                                raw_text:
                                  type: string
                                  enum:
                                    - |-
                                      机器人类
                                      00:28 波士顿动力&现代Atlas
                                      01:04 LG CLOiD家庭机器人
                                      01:38 Sharpa North
                                      02:14 Realbotix男性拟人机器人David
                                      02:43 众擎 T800
                                      03:15 智元 AGIBOT
                                      03:46 Sweekar一款会长大AI宠物
                                      04:07 Tuya Aura陪伴宠物的机器人
                                       
                                      电视大屏类
                                      04:25 三星R95 H Mirco LED 130英寸电视
                                      05:25 LG W6系列 全世界最薄的OLED电视
                                      05:49 海信116 UXS 四色RGB Mini -LED
                                      06:32 TCL X11L-SQD Mini LED技术方案
                                      07:19 追觅Aura Mini LED V3000
                                       
                                      电脑PC类
                                      07:53 联想Legion Pro Rollable
                                      08:26 联想ThinkPad Rollable XD
                                      08:57 联想ThinkBook Plus Gen 7 Auto Twist
                                      09:31 华硕ExpertBook Ultra
                                      10:00 戴尔XPS系列
                                      10:29 联想 Yoga Pro 9i Aura 
                                      10:47 MSI 尊爵Prestige系列
                                      11:11 惠普EliteBoard G1a
                                      11:36 华硕 ROG Zephyrus Duo
                                      12:04 CyboPal ONE 
                                      12:39 清闲libernovo omni
                                       
                                      智能家居类
                                      13:06 石头科技G-Rover
                                      13:27 追觅 Cyber X 扫地机器人
                                      13:52 MOVA Pilot 70扫地机器人的飞行载具
                                      14:05 MOVA Rover Master泳池机器人
                                      14:20 HOVERAir AQUA水上跟拍无人机
                                      15:01追觅 APEX Series割草机器人
                                      15:17 华宝新能Solar Mars Bot光储机器人
                                      15:41 Reolink AI Box安防摄像头
                                      16:16 Lockin V7 MAX隔空充电的AI智能锁
                                      16:37 Aqara Smart Lock U400 UWB 智能门锁
                                      17:03 ROG NeoCoreWi-Fi 8 Demo路由器
                                       
                                      健康生活类
                                      17:26 iPolish会变色的智能美甲
                                      17:53 欧莱雅LED光能面膜
                                      18:20 Seattle Ultrasonics C-200超声波菜刀
                                      18:50 LumiSleep脑电睡眠仪
                                      19:17 Kcool GlydeAI智能理发器
                                      19:50 追觅Halo概念机
                                      20:13 BreakReal R1 AI 调酒机
                                      20:44 Withings Body Scan 2体重秤
                                      21:22 Allergen Alert过敏原检测设备
                                      21:47 Ceragem Balance AI-AI皮肤分析
                                      22:06 Project AVA“全息AI伴侣”。
                                       
                                      耳机音响类
                                      22:22 带屏幕的时尚耳机
                                      22:45 TDM Neo是耳机，也可以是音响
                                      23:09 Neurable × HyperX 脑波追踪游戏耳机
                                      23:46 韶音 OpenFit Pro开放式降噪滤机
                                      24:09 Subtle Computing Voicebuds准确拾音的耳机
                                      24:35雷蛇Project Motoko
                                      25:05 Lollipop Star会唱歌的棒棒糖
                                       
                                      智能穿戴类
                                      25:28 雷鸟 X3 Pro Project eSIM
                                      26:02 ROG XREAL R1 AR游戏眼镜
                                      26:29 Play for dream 仅重100克的MR眼镜
                                      26:54 Povec C1 电致变色太阳镜
                                      27:13 Lumen头上的导盲犬"盲人眼镜
                                      27:39 Vocci RingVocciAI记录戒指
                                      28:05 Luna Band 一款没有屏幕的手环
                                       
                                      出行交通类
                                      28:29 追觅NEBULA NEXT 01
                                      28:57Tensor RoboCar L4级自动驾驶汽车
                                      29:37 NAVEE WaveFly 5X 地效水上飞行器
                                type:
                                  type: integer
                                biz_id:
                                  type: integer
                              required:
                                - raw_text
                                - type
                                - biz_id
                          state:
                            type: integer
                          duration:
                            type: integer
                          mission_id:
                            type: integer
                          rights:
                            type: object
                            properties:
                              bp:
                                type: integer
                              elec:
                                type: integer
                              download:
                                type: integer
                              movie:
                                type: integer
                              pay:
                                type: integer
                              hd5:
                                type: integer
                              no_reprint:
                                type: integer
                              autoplay:
                                type: integer
                              ugc_pay:
                                type: integer
                              is_cooperation:
                                type: integer
                              ugc_pay_preview:
                                type: integer
                              no_background:
                                type: integer
                              clean_mode:
                                type: integer
                              is_stein_gate:
                                type: integer
                              is_360:
                                type: integer
                              no_share:
                                type: integer
                              arc_pay:
                                type: integer
                              free_watch:
                                type: integer
                            required:
                              - bp
                              - elec
                              - download
                              - movie
                              - pay
                              - hd5
                              - no_reprint
                              - autoplay
                              - ugc_pay
                              - is_cooperation
                              - ugc_pay_preview
                              - no_background
                              - clean_mode
                              - is_stein_gate
                              - is_360
                              - no_share
                              - arc_pay
                              - free_watch
                          owner:
                            type: object
                            properties:
                              mid:
                                type: integer
                              name:
                                type: string
                                enum:
                                  - 科技新观察-jeremie
                              face:
                                type: string
                                format: uri
                            required:
                              - mid
                              - name
                              - face
                          stat:
                            type: object
                            properties:
                              aid:
                                type: integer
                              view:
                                type: integer
                              danmaku:
                                type: integer
                              reply:
                                type: integer
                              favorite:
                                type: integer
                              coin:
                                type: integer
                              share:
                                type: integer
                              now_rank:
                                type: integer
                              his_rank:
                                type: integer
                              like:
                                type: integer
                              dislike:
                                type: integer
                              evaluation:
                                type: string
                                enum:
                                  - ""
                              vt:
                                type: integer
                            required:
                              - aid
                              - view
                              - danmaku
                              - reply
                              - favorite
                              - coin
                              - share
                              - now_rank
                              - his_rank
                              - like
                              - dislike
                              - evaluation
                              - vt
                          argue_info:
                            type: object
                            properties:
                              argue_msg:
                                type: string
                                enum:
                                  - ""
                              argue_type:
                                type: integer
                              argue_link:
                                type: string
                                enum:
                                  - ""
                            required:
                              - argue_msg
                              - argue_type
                              - argue_link
                          dynamic:
                            type: string
                            enum:
                              - ""
                          cid:
                            type: integer
                          dimension:
                            type: object
                            properties:
                              width:
                                type: integer
                              height:
                                type: integer
                              rotate:
                                type: integer
                            required:
                              - width
                              - height
                              - rotate
                          premiere:
                            type: "null"
                          teenage_mode:
                            type: integer
                          is_chargeable_season:
                            type: boolean
                          is_story:
                            type: boolean
                          is_upower_exclusive:
                            type: boolean
                          is_upower_play:
                            type: boolean
                          is_upower_preview:
                            type: boolean
                          enable_vt:
                            type: integer
                          vt_display:
                            type: string
                            enum:
                              - ""
                          is_upower_exclusive_with_qa:
                            type: boolean
                          no_cache:
                            type: boolean
                          pages:
                            type: array
                            items:
                              type: object
                              properties:
                                cid:
                                  type: integer
                                page:
                                  type: integer
                                from:
                                  type: string
                                  enum:
                                    - vupload
                                part:
                                  type: string
                                  enum:
                                    - 【CES 2026🐎年度科技】75件年度必看科技精品🚀全在这里了！
                                duration:
                                  type: integer
                                vid:
                                  type: string
                                  enum:
                                    - ""
                                weblink:
                                  type: string
                                  enum:
                                    - ""
                                dimension:
                                  type: object
                                  properties:
                                    width:
                                      type: integer
                                    height:
                                      type: integer
                                    rotate:
                                      type: integer
                                  required:
                                    - width
                                    - height
                                    - rotate
                                first_frame:
                                  type: string
                                  format: uri
                                ctime:
                                  type: integer
                              required:
                                - cid
                                - page
                                - from
                                - part
                                - duration
                                - vid
                                - weblink
                                - dimension
                                - first_frame
                                - ctime
                          subtitle:
                            type: object
                            properties:
                              allow_submit:
                                type: boolean
                              list:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    lan:
                                      type: string
                                      enum:
                                        - ai-zh
                                    lan_doc:
                                      type: string
                                      enum:
                                        - 中文
                                    is_lock:
                                      type: boolean
                                    subtitle_url:
                                      type: string
                                      enum:
                                        - ""
                                    type:
                                      type: integer
                                    id_str:
                                      type: string
[...]
