openapi: 3.1.0
info:
  title: bilibili
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T07:37:36.309Z
    requires_auth: false
servers:
  - url: https://api.bilibili.com
    x-openweb:
      transport: node
paths:
  /x/web-interface/popular:
    get:
      operationId: getPopularVideos
      summary: Get popular/trending videos (paginated)
      x-openweb:
        permission: read
        build:
          stable_id: fb6e2e485d17f57f
          tool_version: 2
      parameters:
        - name: pn
          in: query
          required: false
          schema:
            type: integer
          description: Page number (starts at 1)
          example: 1
        - name: ps
          in: query
          required: false
          schema:
            type: integer
          description: Page size (default 20)
          example: 20
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            aid:
                              type: integer
                            bvid:
                              type: string
                            title:
                              type: string
                            pic:
                              type: string
                              format: uri
                            desc:
                              type: string
                            duration:
                              type: integer
                            pubdate:
                              type: integer
                            ctime:
                              type: integer
                            tid:
                              type: integer
                            tname:
                              type: string
                            cid:
                              type: integer
                            owner:
                              type: object
                              properties:
                                mid:
                                  type: integer
                                name:
                                  type: string
                                face:
                                  type: string
                                  format: uri
                            stat:
                              type: object
                              properties:
                                aid:
                                  type: integer
                                view:
                                  type: integer
                                danmaku:
                                  type: integer
                                reply:
                                  type: integer
                                favorite:
                                  type: integer
                                coin:
                                  type: integer
                                share:
                                  type: integer
                                like:
                                  type: integer
                            rcmd_reason:
                              type: object
                              properties:
                                content:
                                  type: string
                      no_more:
                        type: boolean
  /x/web-interface/ranking/v2:
    get:
      operationId: getRanking
      summary: Get video ranking by category
      x-openweb:
        permission: read
        adapter:
          name: bilibili-web
          operation: getRanking
        build:
          stable_id: 169934b21bee2f69
          tool_version: 2
      parameters:
        - name: rid
          in: query
          required: false
          schema:
            type: integer
          description: Region ID (0=all, 1=animation, 3=music, 4=game, etc.)
          example: 0
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: Ranking type
          example: all
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      note:
                        type: string
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            aid:
                              type: integer
                            bvid:
                              type: string
                            title:
                              type: string
                            pic:
                              type: string
                              format: uri
                            desc:
                              type: string
                            duration:
                              type: integer
                            pubdate:
                              type: integer
                            tid:
                              type: integer
                            tname:
                              type: string
                            cid:
                              type: integer
                            score:
                              type: integer
                            owner:
                              type: object
                              properties:
                                mid:
                                  type: integer
                                name:
                                  type: string
                                face:
                                  type: string
                                  format: uri
                            stat:
                              type: object
                              properties:
                                aid:
                                  type: integer
                                view:
                                  type: integer
                                danmaku:
                                  type: integer
                                reply:
                                  type: integer
                                favorite:
                                  type: integer
                                coin:
                                  type: integer
                                share:
                                  type: integer
                                like:
                                  type: integer
                            others:
                              type: array
                              items:
                                type: object
                                properties:
                                  aid:
                                    type: integer
                                  bvid:
                                    type: string
                                  title:
                                    type: string
                                  pic:
                                    type: string
                                    format: uri
                                  score:
                                    type: integer
  /x/space/wbi/acc/info:
    get:
      operationId: getUserInfo
      summary: Get user profile information by mid
      x-openweb:
        permission: read
        adapter:
          name: bilibili-web
          operation: getUserInfo
        build:
          stable_id: 37f1c6b07250d027
          tool_version: 2
      parameters:
        - name: mid
          in: query
          required: true
          schema:
            type: integer
          description: User ID
          example: 546195
        - name: platform
          in: query
          required: false
          schema:
            type: string
          example: web
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      mid:
                        type: integer
                      name:
                        type: string
                      sex:
                        type: string
                      face:
                        type: string
                        format: uri
                      sign:
                        type: string
                      rank:
                        type: integer
                      level:
                        type: integer
                      official:
                        type: object
                        properties:
                          role:
                            type: integer
                          title:
                            type: string
                          desc:
                            type: string
                          type:
                            type: integer
                      vip:
                        type: object
                        properties:
                          type:
                            type: integer
                          status:
                            type: integer
                      live_room:
                        type: object
                        properties:
                          roomStatus:
                            type: integer
                          liveStatus:
                            type: integer
                          url:
                            type: string
                          title:
                            type: string
                          cover:
                            type: string
                          roomid:
                            type: integer
  /x/relation/stat:
    get:
      operationId: getUserFollowStats
      summary: Get user follow/follower counts
      x-openweb:
        permission: read
        build:
          stable_id: 25938f152c3c23d3
          tool_version: 2
      parameters:
        - name: vmid
          in: query
          required: true
          schema:
            type: integer
          description: User ID
          example: 546195
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      mid:
                        type: integer
                      following:
                        type: integer
                      follower:
                        type: integer
                      whisper:
                        type: integer
                      black:
                        type: integer
  /x/space/upstat:
    get:
      operationId: getUploaderStats
      summary: Get uploader view/article/like counts
      x-openweb:
        permission: read
        build:
          stable_id: ea54b686cec73f56
          tool_version: 2
      parameters:
        - name: mid
          in: query
          required: true
          schema:
            type: integer
          description: User ID
          example: 546195
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      archive:
                        type: object
                        properties:
                          view:
                            type: integer
                      article:
                        type: object
                        properties:
                          view:
                            type: integer
                      likes:
                        type: integer
  /x/space/wbi/arc/search:
    get:
      operationId: getUserVideos
      summary: Get a user's uploaded videos
      x-openweb:
        permission: read
        adapter:
          name: bilibili-web
          operation: getUserVideos
        build:
          stable_id: d15da5e5f17afc8a
          tool_version: 2
      parameters:
        - name: mid
          in: query
          required: true
          schema:
            type: integer
          description: User ID
          example: 546195
        - name: pn
          in: query
          required: false
          schema:
            type: integer
          description: Page number
          example: 1
        - name: ps
          in: query
          required: false
          schema:
            type: integer
          description: Page size
          example: 25
        - name: order
          in: query
          required: false
          schema:
            type: string
          description: Sort order (pubdate or click)
          example: pubdate
        - name: tid
          in: query
          required: false
          schema:
            type: integer
          description: Category filter (0=all)
          example: 0
        - name: keyword
          in: query
          required: false
          schema:
            type: string
          description: Search within user's videos
          example: ""
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: object
                        properties:
                          vlist:
                            type: array
                            items:
                              type: object
                              properties:
                                aid:
                                  type: integer
                                bvid:
                                  type: string
                                title:
                                  type: string
                                pic:
                                  type: string
                                description:
                                  type: string
                                length:
                                  type: string
                                created:
                                  type: integer
                                play:
                                  type: integer
                                comment:
                                  type: integer
                                video_review:
                                  type: integer
                      page:
                        type: object
                        properties:
                          pn:
                            type: integer
                          ps:
                            type: integer
                          count:
                            type: integer
  /x/v2/reply/wbi/main:
    get:
      operationId: getVideoComments
      summary: Get comments for a video
      x-openweb:
        permission: read
        adapter:
          name: bilibili-web
          operation: getVideoComments
        build:
          stable_id: 0fe3c94a979ddf7d
          tool_version: 2
      parameters:
        - name: oid
          in: query
          required: true
          schema:
            type: integer
          description: Video AID (avid)
          example: 170001
        - name: type
          in: query
          required: true
          schema:
            type: integer
          description: Content type (1=video)
          example: 1
        - name: mode
          in: query
          required: false
          schema:
            type: integer
          description: Sort mode (2=by time, 3=by likes)
          example: 3
        - name: pagination_str
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor (JSON string)
          example: '{"offset":""}'
        - name: plat
          in: query
          required: false
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      cursor:
                        type: object
                        properties:
                          is_begin:
                            type: boolean
                          is_end:
                            type: boolean
                          prev:
                            type: integer
                          next:
                            type: integer
                          all_count:
                            type: integer
                          pagination_reply:
                            type: object
                            properties:
                              next_offset:
                                type: string
                      replies:
                        type: array
                        items:
                          type: object
                          properties:
                            rpid:
                              type: integer
                            oid:
                              type: integer
                            mid:
                              type: integer
                            ctime:
                              type: integer
                            like:
                              type: integer
                            rcount:
                              type: integer
                            content:
                              type: object
                              properties:
                                message:
                                  type: string
                            member:
                              type: object
                              properties:
                                mid:
                                  type: string
                                uname:
                                  type: string
                                avatar:
                                  type: string
                                  format: uri
                                level_info:
                                  type: object
                                  properties:
                                    current_level:
                                      type: integer
  /x/web-interface/archive/related:
    get:
      operationId: getRelatedVideos
      summary: Get related/recommended videos for a video
      x-openweb:
        permission: read
        build:
          stable_id: 7490cca7b9d772b5
          tool_version: 2
      parameters:
        - name: bvid
          in: query
          required: true
          schema:
            type: string
          description: Video BV ID
          example: BV1xx411c7mD
        - name: aid
          in: query
          required: false
          schema:
            type: string
          description: Video AV ID (alternative to bvid)
          example: ""
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        aid:
                          type: integer
                        bvid:
                          type: string
                        title:
                          type: string
                        pic:
                          type: string
                          format: uri
                        desc:
                          type: string
                        duration:
                          type: integer
                        pubdate:
                          type: integer
                        owner:
                          type: object
                          properties:
                            mid:
                              type: integer
                            name:
                              type: string
                            face:
                              type: string
                              format: uri
                        stat:
                          type: object
                          properties:
                            view:
                              type: integer
                            danmaku:
                              type: integer
                            reply:
                              type: integer
                            like:
                              type: integer
  /x/player/online/total:
    get:
      operationId: getVideoOnlineCount
      summary: Get number of users currently watching a video
      x-openweb:
        permission: read
        build:
          stable_id: aa48b40a33b316d4
          tool_version: 2
      parameters:
        - name: bvid
          in: query
          required: true
          schema:
            type: string
          description: Video BV ID
          example: BV1xx411c7mD
        - name: cid
          in: query
          required: true
          schema:
            type: integer
          description: Video part CID
          example: 62131
        - name: aid
          in: query
          required: false
          schema:
            type: integer
          description: Video AV ID
          example: 2
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: string
                      count:
                        type: string
                      show_switch:
                        type: object
                        properties:
                          total:
                            type: boolean
                          count:
                            type: boolean
  /x/web-interface/nav:
    get:
      operationId: getNavInfo
      summary: Get current user navigation info (login status, profile)
      x-openweb:
        permission: read
        build:
          stable_id: 8a19527a3b57dedc
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      isLogin:
                        type: boolean
                      mid:
                        type: integer
                      face:
                        type: string
                        format: uri
                      level_info:
                        type: object
                        properties:
                          current_level:
                            type: integer
                      money:
                        type: integer
                      uname_certified:
                        type: boolean
                      vipStatus:
                        type: integer
