openapi: 3.1.0
info:
  title: bilibili
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-29T06:42:56.596Z
    requires_auth: true
servers:
  - url: https://api.bilibili.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
paths:
  /x/space/wbi/acc/info:
    get:
      operationId: getUserProfile
      summary: Get user profile — username, avatar, bio, level, VIP status, official verification, follower count
      x-openweb:
        transport: page
        permission: read
        build:
          stable_id: 170fb3af9da86fd4
          tool_version: 2
        adapter:
          name: bilibili-web
          operation: getUserProfile
      parameters:
        - name: mid
          in: query
          required: true
          description: "User numeric ID"
          schema:
            type: integer
          example: 1695320
        - name: platform
          in: query
          required: false
          schema:
            type: string
            default: web
          example: web
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      mid:
                        type: integer
                      name:
                        type: string
                        description: Username.
                      sex:
                        type: string
                        description: "Gender: 男 (male), 女 (female), 保密 (private)."
                        enum:
                          - 男
                          - 女
                          - 保密
                      face:
                        type: string
                        format: uri
                      face_nft:
                        type: integer
                      face_nft_type:
                        type: integer
                      sign:
                        type: string
                        description: User bio/signature.
                      rank:
                        type: integer
                      level:
                        type: integer
                      jointime:
                        type: integer
                      moral:
                        type: integer
                      silence:
                        type: integer
                      control:
                        type: integer
                      coins:
                        type: integer
                      fans_badge:
                        type: boolean
                      fans_medal:
                        type: object
                        properties:
                          show:
                            type: boolean
                          wear:
                            type: boolean
                          medal:
                            type: "null"
                          detail:
                            type: "null"
                        required:
                          - show
                          - wear
                          - medal
                          - detail
                      official:
                        type: object
                        properties:
                          role:
                            type: integer
                          title:
                            type: string
                            enum:
                              - ""
                          desc:
                            type: string
                            enum:
                              - ""
                          type:
                            type: integer
                        required:
                          - role
                          - title
                          - desc
                          - type
                      vip:
                        type: object
                        properties:
                          type:
                            type: integer
                          status:
                            type: integer
                          due_date:
                            type: integer
                          vip_pay_type:
                            type: integer
                          theme_type:
                            type: integer
                          label:
                            type: object
                            properties:
                              path:
                                type: string
                                enum:
                                  - ""
                                  - http://i0.hdslb.com/bfs/vip/label_annual.png
                              text:
                                type: string
                                enum:
                                  - ""
                                  - 十年大会员
                              label_theme:
                                type: string
                                enum:
                                  - ""
                                  - ten_annual_vip
                              text_color:
                                type: string
                                enum:
                                  - ""
                                  - "#FFFFFF"
                              bg_style:
                                type: integer
                              bg_color:
                                type: string
                                enum:
                                  - ""
                                  - "#FB7299"
                              border_color:
                                type: string
                                enum:
                                  - ""
                              use_img_label:
                                type: boolean
                              img_label_uri_hans:
                                type: string
                                enum:
                                  - ""
                              img_label_uri_hant:
                                type: string
                                enum:
                                  - ""
                              img_label_uri_hans_static:
                                type: string
                                format: uri
                              img_label_uri_hant_static:
                                type: string
                                format: uri
                              label_id:
                                type: integer
                              label_goto:
                                anyOf:
                                  - type: "null"
                                  - type: object
                                    properties:
                                      mobile:
                                        type: string
                                        format: uri
                                      pc_web:
                                        type: string
                                        format: uri
                                    required:
                                      - mobile
                                      - pc_web
                            required:
                              - path
                              - text
                              - label_theme
                              - text_color
                              - bg_style
                              - bg_color
                              - border_color
                              - use_img_label
                              - img_label_uri_hans
                              - img_label_uri_hant
                              - img_label_uri_hans_static
                              - img_label_uri_hant_static
                              - label_id
                              - label_goto
                          avatar_subscript:
                            type: integer
                          nickname_color:
                            type: string
                            enum:
                              - ""
                              - "#FB7299"
                          role:
                            type: integer
                          avatar_subscript_url:
                            type: string
                            enum:
                              - ""
                          tv_vip_status:
                            type: integer
                          tv_vip_pay_type:
                            type: integer
                          tv_due_date:
                            type: integer
                          avatar_icon:
                            type: object
                            properties:
                              icon_resource:
                                type: object
                                properties: {}
                                required: []
                              icon_type:
                                type: integer
                            required:
                              - icon_resource
                          ott_info:
                            type: object
                            properties:
                              vip_type:
                                type: integer
                              pay_type:
                                type: integer
                              pay_channel_id:
                                type: string
                                enum:
                                  - ""
                              status:
                                type: integer
                              overdue_time:
                                type: integer
                            required:
                              - vip_type
                              - pay_type
                              - pay_channel_id
                              - status
                              - overdue_time
                          super_vip:
                            type: object
                            properties:
                              is_super_vip:
                                type: boolean
                            required:
                              - is_super_vip
                        required:
                          - type
                          - status
                          - due_date
                          - vip_pay_type
                          - theme_type
                          - label
                          - avatar_subscript
                          - nickname_color
                          - role
                          - avatar_subscript_url
                          - tv_vip_status
                          - tv_vip_pay_type
                          - tv_due_date
                          - avatar_icon
                          - ott_info
                          - super_vip
                      pendant:
                        type: object
                        properties:
                          pid:
                            type: integer
                          name:
                            type: string
                            enum:
                              - ""
                          image:
                            type: string
                            enum:
                              - ""
                          expire:
                            type: integer
                          image_enhance:
                            type: string
                            enum:
                              - ""
                          image_enhance_frame:
                            type: string
                            enum:
                              - ""
                          n_pid:
                            type: integer
                        required:
                          - pid
                          - name
                          - image
                          - expire
                          - image_enhance
                          - image_enhance_frame
                          - n_pid
                      nameplate:
                        type: object
                        properties:
                          nid:
                            type: integer
                          name:
                            type: string
                            enum:
                              - ""
                          image:
                            type: string
                            enum:
                              - ""
                          image_small:
                            type: string
                            enum:
                              - ""
                          level:
                            type: string
                            enum:
                              - ""
                          condition:
                            type: string
                            enum:
                              - ""
                        required:
                          - nid
                          - name
                          - image
                          - image_small
                          - level
                          - condition
                      user_honour_info:
                        type: object
                        properties:
                          mid:
                            type: integer
                          colour:
                            type: "null"
                          tags:
                            type: array
                            items:
                              type: object
                              properties:
                                mid:
                                  type: integer
                                  description: User ID.
                                tag:
                                  type: string
                                  description: Honour tag text.
                                link:
                                  type: string
                                  description: Link URL.
                          is_latest_100honour:
                            type: integer
                        required:
                          - mid
                          - colour
                          - tags
                          - is_latest_100honour
                      is_followed:
                        type: boolean
                      top_photo:
                        type: string
                        enum:
                          - bfs/space/cb1c3ef50e22b6096fde67febe863494caefebad.png
                      sys_notice:
                        type: object
                        properties: {}
                        required: []
                      live_room:
                        anyOf:
                          - type: "null"
                          - type: object
                            properties:
                              roomStatus:
                                type: integer
                              liveStatus:
                                type: integer
                              url:
                                type: string
                                format: uri
                              title:
                                type: string
                                enum:
                                  - bishi的直播间
                              cover:
                                type: string
                                format: uri
                              roomid:
                                type: integer
                              roundStatus:
                                type: integer
                              broadcast_type:
                                type: integer
                              watched_show:
                                type: object
                                properties:
                                  switch:
                                    type: boolean
                                  num:
                                    type: integer
                                  text_small:
                                    type: string
                                    enum:
                                      - "2"
                                  text_large:
                                    type: string
                                    enum:
                                      - 2人看过
                                  icon:
                                    type: string
                                    format: uri
                                  icon_location:
                                    type: string
                                    enum:
                                      - ""
                                  icon_web:
                                    type: string
                                    format: uri
                                required:
                                  - switch
                                  - num
                                  - text_small
                                  - text_large
                                  - icon
                                  - icon_location
                                  - icon_web
                            required:
                              - roomStatus
                              - liveStatus
                              - url
                              - title
                              - cover
                              - roomid
                              - roundStatus
                              - broadcast_type
                              - watched_show
                      birthday:
                        type: string
                        enum:
                          - ""
                          - 01-01
                      school:
                        type: object
                        properties:
                          name:
                            type: string
                            enum:
                              - ""
                        required:
                          - name
                      profession:
                        type: object
                        properties:
                          name:
                            type: string
                            enum:
                              - ""
                          department:
                            type: string
                            enum:
                              - ""
                          title:
                            type: string
                            enum:
                              - ""
                          is_show:
                            type: integer
                        required:
                          - name
                          - department
                          - title
                          - is_show
                      tags:
                        type: "null"
                      series:
                        type: object
                        properties:
                          user_upgrade_status:
                            type: integer
                          show_upgrade_window:
                            type: boolean
                        required:
                          - user_upgrade_status
                          - show_upgrade_window
                      is_senior_member:
                        type: integer
                      mcn_info:
                        type: "null"
                      gaia_res_type:
                        type: integer
                      gaia_data:
                        type: "null"
                      is_risk:
                        type: boolean
                      elec:
                        type: object
                        properties:
                          show_info:
                            type: object
                            properties:
                              show:
                                type: boolean
                              state:
                                type: integer
                              title:
                                type: string
                                enum:
                                  - ""
                              icon:
                                type: string
                                enum:
                                  - ""
                              jump_url:
                                type: string
                                enum:
                                  - ?oid=1
                                  - ?oid=1695320
                              total:
                                type: integer
                              list:
                                type: "null"
                              upower_count_show:
                                type: boolean
                              long_title:
                                type: string
                                enum:
                                  - ""
                              jump_url_web:
                                type: string
                                enum:
                                  - ""
                            required:
                              - show
                              - state
                              - title
                              - icon
                              - jump_url
                              - total
                              - list
                              - upower_count_show
                              - long_title
                              - jump_url_web
                        required:
                          - show_info
                      contract:
                        type: object
                        properties:
                          is_display:
                            type: boolean
                          is_follow_display:
                            type: boolean
                        required:
                          - is_display
                          - is_follow_display
                      certificate_show:
                        type: boolean
                      name_render:
                        type: "null"
                      top_photo_v2:
                        type: object
                        properties:
                          sid:
                            type: integer
                          l_img:
                            type: string
                            format: uri
                          l_200h_img:
                            type: string
                            format: uri
                        required:
                          - sid
                          - l_img
                          - l_200h_img
                      theme:
                        type: "null"
                      attestation:
                        type: object
                        properties:
                          type:
                            type: integer
                          common_info:
                            type: object
                            properties:
                              title:
                                type: string
                                enum:
                                  - ""
                              prefix:
                                type: string
                                enum:
                                  - ""
                              prefix_title:
                                type: string
                                enum:
                                  - ""
                            required:
                              - title
                              - prefix
                              - prefix_title
                          splice_info:
                            type: object
                            properties:
                              title:
                                type: string
                                enum:
                                  - ""
                            required:
                              - title
                          icon:
                            type: string
                            enum:
                              - ""
                          desc:
                            type: string
                            enum:
                              - ""
                        required:
                          - type
                          - common_info
                          - splice_info
                          - icon
                          - desc
                    required:
                      - mid
                      - name
                      - sex
                      - face
                      - sign
                      - rank
                      - level
                      - official
                      - vip
                      - is_followed
                      - birthday
                      - school
                      - tags
                      - live_room
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/space/wbi/arc/search:
    get:
      operationId: searchUserVideos
      summary: Search user's uploaded videos — video title, play count, publish date, duration, sorted by various criteria
      x-openweb:
        transport: page
        permission: read
        build:
          stable_id: 26060cd98cecd9d3
          tool_version: 2
        adapter:
          name: bilibili-web
          operation: searchUserVideos
      parameters:
        - name: index
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: mid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: order
          in: query
          required: false
          schema:
            type: string
          example: pubdate
        - name: order_avoided
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: platform
          in: query
          required: false
          schema:
            type: string
          example: web
        - name: pn
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: ps
          in: query
          required: false
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      list:
                        type: object
                        properties:
                          slist:
                            anyOf:
                              - type: "null"
                              - type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: Series/collection name.
                                    count:
                                      type: integer
                                      description: Number of videos in series.
                                  required:
                                    - name
                                    - count
                          tlist:
                            type: "null"
                          vlist:
                            type: array
                            items:
                              type: object
                              properties:
                                comment:
                                  type: integer
                                typeid:
                                  type: integer
                                play:
                                  type: integer
                                pic:
                                  type: string
                                  format: uri
                                subtitle:
                                  type: string
                                  enum:
                                    - ""
                                description:
                                  type: string
                                  enum:
                                    - "CRUCIS FATAL FAKE : Fate Stay Night的同人格斗游戏. MV制作 : yaomenghua 天下格斗之同人堂"
                                    - 没有听过这首歌的话会是人参的一大遗憾呢..(望天
                                copyright:
                                  type: string
                                  enum:
                                    - "2"
                                title:
                                  type: string
                                  enum:
                                    - 【FATE相关】CRUCIS FATAL FAKE MV 《Faker》
                                    - 【天哥版】最春哥
                                review:
                                  type: integer
                                author:
                                  type: string
                                  enum:
                                    - bishi
                                mid:
                                  type: integer
                                created:
                                  type: integer
                                length:
                                  type: string
                                  enum:
                                    - 01:38
                                    - 09:43
                                video_review:
                                  type: integer
                                aid:
                                  type: integer
                                bvid:
                                  type: string
                                  enum:
                                    - BV1xx411c7Ug
                                    - BV1xx411c7mi
                                hide_click:
                                  type: boolean
                                is_pay:
                                  type: integer
                                is_union_video:
                                  type: integer
                                is_steins_gate:
                                  type: integer
                                is_live_playback:
                                  type: integer
                                is_lesson_video:
                                  type: integer
                                is_lesson_finished:
                                  type: integer
                                lesson_update_info:
                                  type: string
                                  enum:
                                    - ""
                                jump_url:
                                  type: string
                                  enum:
                                    - ""
                                meta:
                                  type: "null"
                                is_avoided:
                                  type: integer
                                season_id:
                                  type: integer
                                attribute:
                                  type: integer
                                is_charging_arc:
                                  type: boolean
                                elec_arc_type:
                                  type: integer
                                elec_arc_badge:
                                  type: string
                                  enum:
                                    - ""
                                vt:
                                  type: integer
                                enable_vt:
                                  type: integer
                                vt_display:
                                  type: string
                                  enum:
                                    - ""
                                playback_position:
                                  type: integer
                                is_self_view:
                                  type: boolean
                                view_self_type:
                                  type: integer
                              required:
                                - comment
                                - typeid
                                - play
                                - pic
                                - subtitle
                                - description
                                - copyright
                                - title
                                - review
                                - author
                                - mid
                                - created
                                - length
                                - video_review
                                - aid
                                - bvid
                                - hide_click
                                - is_pay
                                - is_union_video
                                - is_steins_gate
                                - is_live_playback
                                - is_lesson_video
                                - is_lesson_finished
                                - lesson_update_info
                                - jump_url
                                - meta
                                - is_avoided
                                - season_id
                                - attribute
                                - is_charging_arc
                                - elec_arc_type
                                - elec_arc_badge
                                - vt
                                - enable_vt
                                - vt_display
                                - playback_position
                                - is_self_view
                                - view_self_type
                        required:
                          - slist
                          - tlist
                          - vlist
                      page:
                        type: object
                        properties:
                          pn:
                            type: integer
                          ps:
                            type: integer
                          count:
                            type: integer
                        required:
                          - pn
                          - ps
                          - count
                      is_risk:
                        type: boolean
                      gaia_res_type:
                        type: integer
                      gaia_data:
                        type: "null"
                      episodic_button:
                        type: object
                        properties:
                          text:
                            type: string
                            enum:
                              - 播放全部
                          uri:
                            type: string
                            enum:
                              - //www.bilibili.com/medialist/play/1?from=space
                        required:
                          - text
                          - uri
                    required:
                      - list
                      - page
                      - is_risk
                      - gaia_res_type
                      - gaia_data
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/v2/reply/wbi/main:
    get:
      operationId: getVideoComments
      summary: Get video comments with replies — comment text, author, like count, reply count, publish time, nested replies
      x-openweb:
        transport: page
        permission: read
        build:
          stable_id: dafe03a6c263f556
          tool_version: 2
        adapter:
          name: bilibili-web
          operation: getVideoComments
      parameters:
        - name: oid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: bvid
          in: query
          required: true
          description: "Video BV ID. Required for page-based comment loading with WBI signing."
          schema:
            type: string
          example: BV1HPNgzFEoq
        - name: type
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
        - name: mode
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: pagination_str
          in: query
          required: false
          schema:
            type: string
            default: '{"offset":""}'
          example: '{"offset":""}'
        - name: plat
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
        - name: seek_rpid
          in: query
          required: false
          schema:
            type: string
          example: ""
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      cursor:
                        type: object
                        properties:
                          is_begin:
                            type: boolean
                          prev:
                            type: integer
                          next:
                            type: integer
                          is_end:
                            type: boolean
                          pagination_reply:
                            type: object
                            properties:
                              next_offset:
                                type: string
                                enum:
                                  - CAESEDE4MTczNjA2MjY0OTY0NTQiAggB
                                  - CAESEDE4MTczNjA2NDQzOTAyOTciAggB
                                  - CAESEDE4MTczNjA2NjE1OTk4NDgiAggB
                            required:
                              - next_offset
                          session_id:
                            type: string
                            enum:
                              - "1817360626496454"
                              - "1817360644390297"
                              - "1817360661599848"
                          mode:
                            type: integer
                          mode_text:
                            type: string
                            enum:
                              - ""
                          all_count:
                            type: integer
                          support_mode:
                            type: array
                            items:
                              type: integer
                          name:
                            type: string
                            enum:
                              - 热门评论
                        required:
                          - is_begin
                          - prev
                          - next
                          - is_end
                          - pagination_reply
                          - session_id
                          - mode
                          - mode_text
                          - all_count
                          - support_mode
                          - name
                      replies:
                        type: array
                        items:
                          type: object
                          properties:
                            rpid:
                              type: integer
                            oid:
                              type: integer
                            type:
                              type: integer
                            mid:
                              type: integer
                            root:
                              type: integer
                            parent:
                              type: integer
                            dialog:
                              type: integer
                            count:
                              type: integer
                            rcount:
                              type: integer
                            state:
                              type: integer
                            fansgrade:
                              type: integer
                            attr:
                              type: integer
                            ctime:
                              type: integer
                            mid_str:
                              type: string
                            oid_str:
                              type: string
                              enum:
                                - "116299829087282"
                                - "116302731546116"
                            rpid_str:
                              type: string
                            root_str:
                              type: string
                              enum:
                                - "0"
                            parent_str:
                              type: string
                              enum:
                                - "0"
                            dialog_str:
                              type: string
                              enum:
                                - "0"
                            like:
                              type: integer
                            action:
                              type: integer
                            member:
                              type: object
                              properties:
                                mid:
                                  type: string
                                uname:
                                  type: string
                                handle:
                                  type: string
                                  enum:
                                    - ""
                                sex:
                                  type: string
                                  enum:
                                    - 保密
                                    - 女
                                    - 男
                                sign:
                                  type: string
                                avatar:
                                  type: string
                                  format: uri
                                rank:
                                  type: string
                                  enum:
                                    - "10000"
                                face_nft_new:
                                  type: integer
                                is_senior_member:
                                  type: integer
                                senior:
                                  type: object
                                  properties:
                                    status:
                                      type: integer
                                  required: []
                                level_info:
                                  type: object
                                  properties:
                                    current_level:
                                      type: integer
                                    current_min:
                                      type: integer
                                    current_exp:
                                      type: integer
                                    next_exp:
                                      type: integer
                                  required:
                                    - current_level
                                    - current_min
                                    - current_exp
                                    - next_exp
                                pendant:
                                  type: object
                                  properties:
                                    pid:
                                      type: integer
                                    name:
                                      type: string
                                      enum:
                                        - ""
                                        - 碧蓝航线
                                        - 阿萨Aza
                                        - 雾山五行收藏集
                                    image:
                                      type: string
                                      enum:
                                        - ""
                                        - https://i0.hdslb.com/bfs/garb/item/ac1a05092de4901df77a211f4e546b9ee6d819c1.png
                                        - https://i2.hdslb.com/bfs/face/2508daec59b2aaada2784f26f9c1c28069f28e43.png
                                        - https://i2.hdslb.com/bfs/garb/item/25d56dbedd89a8d664c9d33e77dda187c1e5be95.png
                                    expire:
                                      type: integer
                                    image_enhance:
                                      type: string
                                      enum:
                                        - ""
                                        - https://i0.hdslb.com/bfs/garb/item/ac1a05092de4901df77a211f4e546b9ee6d819c1.png
                                        - https://i2.hdslb.com/bfs/face/2508daec59b2aaada2784f26f9c1c28069f28e43.png
                                        - https://i2.hdslb.com/bfs/garb/item/25d56dbedd89a8d664c9d33e77dda187c1e5be95.png
                                    image_enhance_frame:
                                      type: string
                                      enum:
                                        - ""
                                    n_pid:
                                      type: integer
                                  required:
                                    - pid
                                    - name
                                    - image
                                    - expire
                                    - image_enhance
                                    - image_enhance_frame
                                    - n_pid
                                nameplate:
                                  type: object
                                  properties:
                                    nid:
                                      type: integer
                                    name:
                                      type: string
                                      enum:
                                        - ""
                                        - 有爱大佬
                                        - 有爱楷模
                                        - 有爱萌新
                                        - 见习偶像
                                        - 青铜殿堂
                                    image:
                                      type: string
                                      enum:
                                        - ""
                                        - https://i0.hdslb.com/bfs/face/5a90f715451325c642a6ac39e01195cb6d075734.png
                                        - https://i0.hdslb.com/bfs/face/e93dd9edfa7b9e18bf46fd8d71862327a2350923.png
                                        - https://i1.hdslb.com/bfs/face/51ca16136e570938450bca360f28761ceb609f33.png
                                        - https://i1.hdslb.com/bfs/face/5a90f715451325c642a6ac39e01195cb6d075734.png
                                        - https://i1.hdslb.com/bfs/face/a10ee6b613e0d68d2dfdac8bbf71b94824e10408.png
                                        - https://i2.hdslb.com/bfs/face/2879cd5fb8518f7c6da75887994c1b2a7fe670bd.png
                                        - https://i2.hdslb.com/bfs/face/5a90f715451325c642a6ac39e01195cb6d075734.png
                                        - https://i2.hdslb.com/bfs/face/a10ee6b613e0d68d2dfdac8bbf71b94824e10408.png
                                        - https://i2.hdslb.com/bfs/face/e93dd9edfa7b9e18bf46fd8d71862327a2350923.png
                                    image_small:
                                      type: string
                                      enum:
                                        - ""
                                        - https://i0.hdslb.com/bfs/face/275b468b043ec246737ab8580a2075bee0b1263b.png
                                        - https://i0.hdslb.com/bfs/face/54f4c31ab9b1f1fa2c29dbbc967f66535699337e.png
                                        - https://i0.hdslb.com/bfs/face/9abfa4769357f85937782c2dbc40fafda4f57217.png
                                        - https://i1.hdslb.com/bfs/face/54f4c31ab9b1f1fa2c29dbbc967f66535699337e.png
                                        - https://i1.hdslb.com/bfs/face/5bfc1b4fb3f4b411495dddb0b2127ad80f6fbcac.png
                                        - https://i2.hdslb.com/bfs/face/275b468b043ec246737ab8580a2075bee0b1263b.png
                                        - https://i2.hdslb.com/bfs/face/5bfc1b4fb3f4b411495dddb0b2127ad80f6fbcac.png
                                        - https://i2.hdslb.com/bfs/face/6707c120e00a3445933308fd9b7bd9fad99e9ec4.png
                                        - https://i2.hdslb.com/bfs/face/9abfa4769357f85937782c2dbc40fafda4f57217.png
                                    level:
                                      type: string
                                      enum:
                                        - ""
                                        - 普通勋章
                                    condition:
                                      type: string
                                      enum:
                                        - ""
                                        - 单个自制视频总播放数>=1万，数据次日更新
                                        - 当前持有粉丝勋章最高等级>=10级
                                        - 当前持有粉丝勋章最高等级>=15级
                                        - 当前持有粉丝勋章最高等级>=5级
                                        - 所有自制视频总播放数>=10万，数据次日更新
                                  required:
                                    - nid
                                    - name
                                    - image
                                    - image_small
                                    - level
                                    - condition
                                official_verify:
                                  type: object
                                  properties:
                                    type:
                                      type: integer
                                    desc:
                                      type: string
                                      enum:
                                        - ""
                                  required:
                                    - type
                                    - desc
                                vip:
                                  type: object
                                  properties:
                                    vipType:
                                      type: integer
                                    vipDueDate:
                                      type: integer
                                    dueRemark:
                                      type: string
                                      enum:
                                        - ""
                                    accessStatus:
                                      type: integer
                                    vipStatus:
                                      type: integer
                                    vipStatusWarn:
                                      type: string
                                      enum:
                                        - ""
                                    themeType:
                                      type: integer
                                    label:
                                      type: object
                                      properties:
                                        path:
                                          type: string
                                          enum:
                                            - ""
                                            - http://i0.hdslb.com/bfs/vip/label_annual.png
                                            - http://i0.hdslb.com/bfs/vip/label_vip.png
                                        text:
                                          type: string
                                          enum:
                                            - ""
                                            - 大会员
                                            - 年度大会员
                                        label_theme:
                                          type: string
                                          enum:
                                            - ""
                                            - annual_vip
                                            - vip
                                        text_color:
                                          type: string
                                          enum:
                                            - ""
                                            - "#FFFFFF"
                                        bg_style:
                                          type: integer
                                        bg_color:
                                          type: string
                                          enum:
                                            - ""
                                            - "#FB7299"
                                        border_color:
                                          type: string
                                          enum:
                                            - ""
                                        use_img_label:
                                          type: boolean
                                        img_label_uri_hans:
                                          type: string
                                          enum:
                                            - ""
                                            - https://i0.hdslb.com/bfs/activity-plat/static/20220608/e369244d0b14644f5e1a06431e22a4d5/0DFy9BHgwE.gif
                                        img_label_uri_hant:
                                          type: string
                                          enum:
                                            - ""
                                        img_label_uri_hans_static:
                                          type: string
                                          format: uri
                                        img_label_uri_hant_static:
                                          type: string
                                          format: uri
                                        label_id:
                                          type: integer
                                        label_goto:
                                          anyOf:
                                            - type: object
                                              properties:
                                                mobile:
                                                  type: string
                                                  format: uri
                                                pc_web:
                                                  type: string
                                                  format: uri
                                              required:
                                                - mobile
                                                - pc_web
                                            - type: "null"
                                      required:
                                        - path
                                        - text
                                        - label_theme
                                        - text_color
                                        - bg_style
                                        - bg_color
                                        - border_color
                                        - use_img_label
                                        - img_label_uri_hans
                                        - img_label_uri_hant
                                        - img_label_uri_hans_static
                                        - img_label_uri_hant_static
                                        - label_id
                                        - label_goto
                                    avatar_subscript:
                                      type: integer
                                    nickname_color:
                                      type: string
                                      enum:
                                        - ""
                                        - "#FB7299"
                                  required:
                                    - vipType
                                    - vipDueDate
                                    - dueRemark
                                    - accessStatus
                                    - vipStatus
                                    - vipStatusWarn
                                    - themeType
                                    - label
                                    - avatar_subscript
                                    - nickname_color
                                fans_detail:
                                  anyOf:
                                    - type: "null"
                                    - type: object
                                      properties:
                                        uid:
                                          type: integer
                                        medal_id:
                                          type: integer
                                        medal_name:
                                          type: string
                                          enum:
                                            - 嫂宝
                                            - 雨刮器
                                        score:
                                          type: integer
                                        level:
                                          type: integer
                                        intimacy:
                                          type: integer
                                        master_status:
                                          type: integer
                                        is_receive:
                                          type: integer
                                        medal_color:
                                          type: integer
                                        medal_color_end:
                                          type: integer
                                        medal_color_border:
                                          type: integer
                                        medal_color_name:
                                          type: integer
                                        medal_color_level:
                                          type: integer
                                        guard_level:
                                          type: integer
                                        guard_icon:
                                          type: string
                                          enum:
                                            - ""
                                        honor_icon:
                                          type: string
                                          enum:
                                            - ""
                                        medal_level_bg_color:
                                          type: integer
                                        first_icon:
                                          type: string
                                          format: uri
                                      required:
                                        - uid
                                        - medal_id
                                        - medal_name
                                        - score
                                        - level
                                        - intimacy
                                        - master_status
                                        - is_receive
                                        - medal_color
                                        - medal_color_end
                                        - medal_color_border
                                        - medal_color_name
                                        - medal_color_level
                                        - guard_level
                                        - guard_icon
                                        - honor_icon
                                        - medal_level_bg_color
                                user_sailing:
                                  type: object
                                  properties:
                                    pendant:
                                      anyOf:
                                        - type: "null"
                                        - type: object
                                          properties:
                                            id:
                                              type: integer
                                            name:
                                              type: string
                                              enum:
                                                - 大航海_舰长
                                                - 碧蓝航线
                                                - 阿萨Aza
                                                - 雾山五行收藏集
                                            image:
                                              type: string
                                              format: uri
                                            jump_url:
                                              type: string
                                              enum:
                                                - ""
                                            type:
                                              type: string
                                              enum:
                                                - sailing
                                                - suit
                                                - vip
                                            image_enhance:
                                              type: string
                                              format: uri
                                            image_enhance_frame:
                                              type: string
                                              enum:
                                                - ""
                                          required:
                                            - id
                                            - name
                                            - image
                                            - jump_url
                                            - type
                                            - image_enhance
                                            - image_enhance_frame
                                    cardbg:
                                      anyOf:
                                        - type: "null"
                                        - type: object
                                          properties:
                                            id:
                                              type: integer
                                            name:
                                              type: string
                                              enum:
                                                - 2024拜年纪勋章
                                                - BLG 信念干杯勋章
                                                - 大会员专属身份评论背景
                                                - 大航海_舰长
                                                - 妄想小兔收藏家勋章
                                                - 永雏塔菲叮咚集勋章
                                                - 阿萨Aza
                                                - 雾山五行勋章
                                            image:
                                              type: string
                                              format: uri
                                            jump_url:
                                              type: string
                                              format: uri
                                            fan:
                                              type: object
                                              properties:
                                                is_fan:
                                                  type: integer
                                                number:
                                                  type: integer
                                                color:
                                                  type: string
                                                  enum:
                                                    - ""
                                                    - "#44ae9f"
                                                    - "#BFC8D2"
                                                    - "#E5B261"
                                                name:
                                                  type: string
                                                  enum:
                                                    - ""
                                                    - 阿萨Aza
                                                num_desc:
                                                  type: string
                                                  enum:
                                                    - ""
                                                    - "000001"
                                                    - "000312"
                                                    - "000419"
                                                    - "003279"
                                                    - "005687"
                                                    - "010094"
                                                num_prefix:
                                                  type: string
                                                  enum:
                                                    - ""
                                                    - CD.
                                                    - NO.
                                                color_format:
                                                  anyOf:
                                                    - type: object
                                                      properties:
                                                        start_point:
                                                          type: string
                                                          enum:
                                                            - 0,0
                                                        end_point:
                                                          type: string
                                                          enum:
                                                            - 0,100
                                                            - 100,100
                                                        colors:
                                                          type: array
                                                          items:
                                                            type: string
                                                            enum:
                                                              - "#44ae9fFF"
                                                              - "#A2A7B0FF"
                                                              - "#B8C7D0FF"
                                                              - "#E19B2EFF"
                                                              - "#E29D2FFF"
                                                              - "#FDC773FF"
                                                        gradients:
                                                          type: array
                                                          items:
                                                            type: integer
                                                      required:
                                                        - start_point
                                                        - end_point
                                                        - colors
                                                        - gradients
                                                    - type: "null"
                                              required:
                                                - is_fan
                                                - number
                                                - color
                                                - name
                                                - num_desc
                                                - num_prefix
                                                - color_format
                                            type:
                                              type: string
                                              enum:
                                                - collect_card
                                                - sailing
                                                - suit
                                            image_group:
                                              anyOf:
                                                - type: "null"
                                                - type: object
                                                  properties:
                                                    type:
                                                      type: integer
                                                    effect_visual:
                                                      type: object
                                                      properties:
                                                        medal_image:
                                                          type: string
                                                          format: uri
                                                        color_theme:
                                                          type: string
                                                          enum:
                                                            - "#BAB3D4"
                                                      required:
                                                        - medal_image
                                                        - color_theme
                                                  required:
                                                    - type
                                                    - effect_visual
                                          required:
                                            - id
                                            - name
                                            - image
                                            - jump_url
                                            - fan
                                            - type
                                            - image_group
                                    cardbg_with_focus:
                                      anyOf:
                                        - type: "null"
                                        - type: object
                                          properties:
                                            id:
                                              type: integer
                                            name:
                                              type: string
                                              enum:
                                                - 大航海_舰长_关注
                                            image:
                                              type: string
                                              format: uri
                                            jump_url:
                                              type: string
                                              format: uri
                                            fan:
                                              type: object
                                              properties:
                                                is_fan:
                                                  type: integer
                                                number:
                                                  type: integer
                                                color:
                                                  type: string
                                                  enum:
                                                    - ""
                                                name:
                                                  type: string
                                                  enum:
                                                    - ""
                                                num_desc:
                                                  type: string
                                                  enum:
                                                    - ""
                                                num_prefix:
                                                  type: string
                                                  enum:
                                                    - ""
                                                color_format:
                                                  type: "null"
                                              required:
                                                - is_fan
                                                - number
                                                - color
                                                - name
                                                - num_desc
                                                - num_prefix
                                                - color_format
                                            type:
                                              type: string
                                              enum:
                                                - sailing
                                            image_group:
                                              type: "null"
                                          required:
                                            - id
                                            - name
                                            - image
                                            - jump_url
                                            - fan
                                            - type
                                            - image_group
                                  required:
                                    - pendant
                                    - cardbg
                                    - cardbg_with_focus
                                user_sailing_v2:
                                  type: object
                                  properties:
                                    pendant:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        name:
                                          type: string
                                          enum:
                                            - 大航海_舰长
                                            - 碧蓝航线
                                            - 阿萨Aza
                                            - 雾山五行收藏集
                                        image:
                                          type: string
                                          format: uri
                                        type:
                                          type: string
                                          enum:
                                            - sailing
                                            - suit
                                            - vip
                                        image_enhance:
                                          type: string
                                          format: uri
                                      required:
                                        - id
                                        - name
                                        - image
                                        - type
                                        - image_enhance
                                    card_bg:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        name:
                                          type: string
                                          enum:
                                            - 2024拜年纪勋章
                                            - BLG 信念干杯勋章
                                            - 大会员专属身份评论背景
                                            - 大航海_舰长
                                            - 妄想小兔收藏家勋章
                                            - 永雏塔菲叮咚集勋章
                                            - 阿萨Aza
                                            - 雾山五行勋章
                                        image:
                                          type: string
                                          format: uri
                                        jump_url:
                                          type: string
                                          format: uri
                                        fan:
                                          type: object
                                          properties:
                                            is_fan:
                                              type: integer
                                            number:
                                              type: integer
                                            color:
                                              type: string
                                              enum:
                                                - "#44ae9f"
                                                - "#BFC8D2"
                                                - "#E5B261"
                                            name:
                                              type: string
                                              enum:
                                                - 阿萨Aza
                                            num_desc:
                                              type: string
                                              enum:
                                                - "000001"
                                                - "000312"
                                                - "000419"
                                                - "003279"
                                                - "005687"
                                                - "010094"
                                            num_prefix:
                                              type: string
                                              enum:
                                                - CD.
                                                - NO.
                                            color_format:
                                              type: object
                                              properties:
                                                start_point:
                                                  type: string
                                                  enum:
                                                    - 0,0
                                                end_point:
                                                  type: string
                                                  enum:
                                                    - 0,100
                                                    - 100,100
                                                colors:
                                                  type: array
                                                  items:
                                                    type: string
                                                    enum:
                                                      - "#44ae9fFF"
                                                      - "#A2A7B0FF"
                                                      - "#B8C7D0FF"
                                                      - "#E19B2EFF"
                                                      - "#E29D2FFF"
                                                      - "#FDC773FF"
                                                gradients:
                                                  type: array
                                                  items:
                                                    type: integer
                                              required:
                                                - start_point
                                                - end_point
                                                - colors
                                                - gradients
                                          required: []
                                        type:
                                          type: string
                                          enum:
                                            - collect_card
                                            - sailing
                                            - suit
                                        image_group:
                                          type: object
                                          properties:
                                            type:
                                              type: integer
                                            effect_visual:
                                              type: object
                                              properties:
                                                medal_image:
                                                  type: string
                                                  format: uri
                                                color_theme:
                                                  type: string
                                                  enum:
                                                    - "#BAB3D4"
                                              required:
                                                - medal_image
                                                - color_theme
                                          required:
                                            - type
                                            - effect_visual
                                      required:
                                        - id
                                        - name
                                        - image
                                        - jump_url
                                        - fan
                                        - type
                                    card_bg_with_focus:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        name:
                                          type: string
                                          enum:
                                            - 大航海_舰长_关注
                                        image:
                                          type: string
                                          format: uri
                                        jump_url:
                                          type: string
                                          format: uri
                                        fan:
                                          type: object
                                          properties: {}
                                          required: []
                                        type:
                                          type: string
                                          enum:
                                            - sailing
                                      required:
                                        - id
                                        - name
                                        - image
                                        - jump_url
                                        - fan
                                        - type
                                  required: []
                                is_contractor:
                                  type: boolean
                                contract_desc:
                                  type: string
                                  enum:
                                    - ""
                                nft_interaction:
                                  anyOf:
                                    - type: "null"
                                    - type: object
                                      properties:
                                        region:
                                          type: object
                                          properties:
                                            type:
                                              type: integer
                                            icon:
                                              type: string
                                              format: uri
                                            show_status:
                                              type: integer
                                          required:
                                            - type
                                            - icon
                                            - show_status
                                      required:
                                        - region
                                avatar_item:
                                  type: object
                                  description: Avatar decoration layers (frames, pendants, NFT badges).
                                  properties:
                                    container_size:
                                      type: object
                                      properties:
                                        width:
                                          type: number
                                        height:
                                          type: number
                                      required:
                                        - width
                                        - height
                                    fallback_layers:
                                      type: object
                                      properties:
                                        layers:
                                          type: array
                                          items:
                                            type: object
                                        is_critical_group:
                                          type: boolean
                                      required:
                                        - layers
                                        - is_critical_group
                                    mid:
                                      type: string
                                  required:
                                    - container_size
                                    - fallback_layers
                                    - mid
                              required:
                                - mid
                                - uname
                                - handle
                                - sex
                                - sign
                                - avatar
                                - rank
                                - face_nft_new
                                - is_senior_member
                                - senior
                                - level_info
                                - pendant
                                - nameplate
                                - official_verify
                                - vip
                                - fans_detail
                                - user_sailing
                                - user_sailing_v2
                                - is_contractor
                                - contract_desc
                                - nft_interaction
                                - avatar_item
                            content:
                              type: object
                              properties:
                                message:
                                  type: string
                                members:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      mid:
                                        type: string
                                        enum:
                                          - "3546774830581761"
                                      uname:
                                        type: string
                                        enum:
                                          - 冫水要开心
                                      handle:
                                        type: string
                                        enum:
                                          - ""
                                      sex:
                                        type: string
                                        enum:
                                          - 保密
                                      sign:
                                        type: string
                                        enum:
                                          - infp-t?
                                      avatar:
                                        type: string
                                        format: uri
                                      rank:
                                        type: string
                                        enum:
                                          - "10000"
                                      face_nft_new:
                                        type: integer
                                      is_senior_member:
                                        type: integer
                                      senior:
                                        type: object
                                        properties: {}
                                        required: []
                                      level_info:
                                        type: object
                                        properties:
                                          current_level:
                                            type: integer
                                          current_min:
                                            type: integer
                                          current_exp:
                                            type: integer
                                          next_exp:
                                            type: integer
                                        required:
                                          - current_level
                                          - current_min
                                          - current_exp
                                          - next_exp
                                      pendant:
                                        type: object
                                        properties:
                                          pid:
                                            type: integer
                                          name:
                                            type: string
                                            enum:
                                              - ""
                                          image:
                                            type: string
                                            enum:
                                              - ""
                                          expire:
                                            type: integer
                                          image_enhance:
                                            type: string
                                            enum:
                                              - ""
                                          image_enhance_frame:
                                            type: string
                                            enum:
                                              - ""
                                          n_pid:
                                            type: integer
                                        required:
                                          - pid
                                          - name
                                          - image
                                          - expire
                                          - image_enhance
                                          - image_enhance_frame
                                          - n_pid
                                      nameplate:
                                        type: object
                                        properties:
                                          nid:
                                            type: integer
                                          name:
                                            type: string
                                            enum:
                                              - ""
                                          image:
                                            type: string
                                            enum:
                                              - ""
                                          image_small:
                                            type: string
                                            enum:
                                              - ""
                                          level:
                                            type: string
                                            enum:
                                              - ""
                                          condition:
                                            type: string
                                            enum:
                                              - ""
                                        required:
                                          - nid
                                          - name
                                          - image
                                          - image_small
                                          - level
                                          - condition
                                      official_verify:
                                        type: object
                                        properties:
                                          type:
                                            type: integer
                                          desc:
                                            type: string
                                            enum:
                                              - ""
                                        required:
                                          - type
                                          - desc
                                      vip:
                                        type: object
                                        properties:
                                          vipType:
                                            type: integer
                                          vipDueDate:
                                            type: integer
                                          dueRemark:
                                            type: string
                                            enum:
                                              - ""
                                          accessStatus:
                                            type: integer
                                          vipStatus:
                                            type: integer
                                          vipStatusWarn:
[...]
