openapi: 3.1.0
info:
  title: bilibili
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T18:18:59.791Z
    requires_auth: true
servers:
  - url: https://api.bilibili.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: CURRENT_QUALITY
        header: content-length
paths:
  /x/activity_components/eva_operation/list:
    get:
      operationId: getXActivityComponentsEvaOperationList
      summary: Get x activity components eva operation list
      x-openweb:
        permission: read
        build:
          stable_id: 124b5d7fae686df1
          tool_version: 2
      parameters:
        - name: source_id
          in: query
          required: true
          schema:
            type: string
          example: 29ERAmwloghvx7600
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - "0"
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            source_id:
                              type: string
                              enum:
                                - 29ERAmwloghvx7600
                            object_id:
                              type: string
                              format: uri
                            object_type:
                              type: integer
                            properties:
                              type: "null"
                            state:
                              type: integer
                            children:
                              type: array
                              items:
                                type: object
                            order_id:
                              type: integer
                            ctime:
                              type: integer
                            mtime:
                              type: integer
                            author:
                              type: string
                              enum:
                                - ""
                            object:
                              type: "null"
                          required:
                            - id
                            - source_id
                            - object_id
                            - object_type
                            - properties
                            - state
                            - children
                            - order_id
                            - ctime
                            - mtime
                            - author
                            - object
                      page:
                        type: object
                        properties:
                          num:
                            type: integer
                          ps:
                            type: integer
                          total:
                            type: integer
                        required:
                          - num
                          - ps
                          - total
                    required:
                      - list
                      - page
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/activity/subject/info:
    get:
      operationId: getXActivitySubjectInfo
      summary: Get x activity subject info
      x-openweb:
        permission: read
        build:
          stable_id: 1bef1af50cb17233
          tool_version: 2
      parameters:
        - name: bvid
          in: query
          required: true
          schema:
            type: string
          example: BV1bscPz1EQW
        - name: sid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: web_location
          in: query
          required: true
          schema:
            type: number
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - "0"
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      oid:
                        type: integer
                      type:
                        type: integer
                      state:
                        type: integer
                      stime:
                        type: integer
                      etime:
                        type: integer
                      ctime:
                        type: integer
                      mtime:
                        type: integer
                      name:
                        type: string
                        enum:
                          - 科技猎手·2025科技年终盘点
                      act_url:
                        type: string
                        format: uri
                      lstime:
                        type: integer
                      letime:
                        type: integer
                      cover:
                        type: string
                        format: uri
                      dic:
                        type: string
                        enum:
                          - 科技力一站式集齐！
                      h5_cover:
                        type: string
                        format: uri
                      android_url:
                        type: string
                        format: uri
                      ios_url:
                        type: string
                        format: uri
                      child_sids:
                        type: string
                        enum:
                          - ""
                      calendar:
                        type: string
                        enum:
                          - ""
                      lid:
                        type: integer
                    required:
                      - id
                      - oid
                      - type
                      - state
                      - stime
                      - etime
                      - ctime
                      - mtime
                      - name
                      - act_url
                      - lstime
                      - letime
                      - cover
                      - dic
                      - h5_cover
                      - android_url
                      - ios_url
                      - child_sids
                      - calendar
                      - lid
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/click-interface/click/now:
    get:
      operationId: getXClickInterfaceClickNow
      summary: Get x click-interface click now
      x-openweb:
        permission: read
        build:
          stable_id: 94117578a6a31fc1
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - "0"
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      now:
                        type: integer
                    required:
                      - now
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/click-interface/click/web/h5:
    post:
      operationId: createXClickInterfaceClickH5
      summary: Create x click-interface click h5
      x-openweb:
        permission: write
        build:
          stable_id: 5388b167e6d22796
          tool_version: 2
      parameters:
        - name: w_aid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_ftime
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_part
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_rid
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: w_stime
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_type
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: web_location
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: wts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - "0"
                  ttl:
                    type: integer
                required:
                  - code
                  - message
                  - ttl
  /x/click-interface/web/heartbeat:
    post:
      operationId: createXClickInterfaceHeartbeat
      summary: Create x click-interface heartbeat
      x-openweb:
        permission: write
        build:
          stable_id: 077e0edc505045cb
          tool_version: 2
      parameters:
        - name: w_aid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_dt
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_last_play_progress_time
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_mid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_played_time
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_real_played_time
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_realtime
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_rid
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: w_start_ts
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_video_duration
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: web_location
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: wts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
  /x/internal/gaia-gateway/ExClimbCongLing:
    post:
      operationId: createXGaiaGatewayExclimbcongling
      summary: Create x gaia-gateway exclimbcongling
      x-openweb:
        permission: write
        build:
          stable_id: 6f898457d7d72edf
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - "0"
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties: {}
                    required: []
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/internal/gaia-gateway/ExClimbWuzhi:
    post:
      operationId: createXGaiaGatewayExclimbwuzhi
      summary: Create x gaia-gateway exclimbwuzhi
      x-openweb:
        permission: write
        build:
          stable_id: 3694b445f0e27576
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - "0"
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties: {}
                    required: []
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/internal/gaia-gateway/ExGetAxe:
    get:
      operationId: getXGaiaGatewayExgetaxe
      summary: Get x gaia-gateway exgetaxe
      x-openweb:
        permission: read
        build:
          stable_id: e61307c603dacb30
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - "0"
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                        enum:
                          - v1
                      public_key:
                        type: string
                        enum:
                          - |-
                            -----BEGIN rsa public key-----
                            MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA1SomDTbicibEZdRNTFIf
                            G0MZI9Vm+VLvXvoS6YGtHkMexd+O8ImALMxiMkydZ0h5XPPfiUXGiyfWawVW1Q6Q
                            L8E9HV8tXgI82zMc/2ZnAyAp5dACWfcsqF1lH4hh63W424c9EJ/Ryqk4ZFss+vDr
                            n33+FN1LOyJtg8nPqCt9DN9PFaRvJTEXT0Bt2ZQTiSznHPIpalgHUNsg1OPV3ou9
                            5ahf5CpRl89QeIptrbObEqsmRqC0rDwsMUhY1NnvPKGYnCqOWl006q6OBP77qHa9
                            HRLZS0EuCEuLUnKRQq2vbbpqKrgIQln+HjMy4oIjV7Bdv9e6SJSxwausegaCQ+pt
                            Izy6O41iIQSISCRf+2iywvKGxvi3Jhhc39GxvhBPl9W3QF4knJmWHHbqAb94mDNE
                            T0GzjbU6c3j7FJcC2JjK7PeC44+VSyiY7N+9Dc0ulw7OIoigPl+R6zyWEPCdKems
                            9Cd8vn/njM+o7BRaBzyqJSYSOjQQiQHJYzcMRhhue/2W1wSx2S9Ry/zNvpP/Qapw
                            4Z6IlDt+wL9omIwcFMndUruAaRKQEDgDRKZHspUIRkXhCiaV4MwUH1rF6EFq8BRc
                            IsoS5O0o8ew5mzW81q2I1Mkvx2wDRyX9+zlVBMkKAvv3xMzU5l7sUM1eP3tw3mhg
                            6D6utwZfuFFb7Zj1oGJq4VMCAwEAAQ==
                            -----END rsa public key-----
                      deadline:
                        type: integer
                    required:
                      - version
                      - public_key
                      - deadline
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/kv-frontend/namespace/data:
    get:
      operationId: getXKvFrontendNamespaceData
      summary: Get x kv-frontend namespace data
      x-openweb:
        permission: read
        build:
          stable_id: 6e3b3ec4fb1bdc13
          tool_version: 2
      parameters:
        - name: appKey
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: nscode
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: unlimit
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: versionId
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - Not Modified
                required:
                  - code
                  - message
  /x/note/is_forbid:
    get:
      operationId: getXNoteIsForbid
      summary: Get x note is forbid
      x-openweb:
        permission: read
        build:
          stable_id: d8c93d743d2bca7f
          tool_version: 2
      parameters:
        - name: aid
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - "0"
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      forbid_note_entrance:
                        type: boolean
                    required:
                      - forbid_note_entrance
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/note/list/archive:
    get:
      operationId: getXNoteListArchive
      summary: Get x note list archive
      x-openweb:
        permission: read
        build:
          stable_id: 6105e28d839f8254
          tool_version: 2
      parameters:
        - name: csrf
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: oid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: oid_type
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - "0"
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      noteIds:
                        type: "null"
                    required:
                      - noteIds
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/note/publish/list/archive:
    get:
      operationId: getXNotePublishListArchive
      summary: Get x note publish list archive
      x-openweb:
        permission: read
        build:
          stable_id: fdbc567010d5e299
          tool_version: 2
      parameters:
        - name: csrf
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: oid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: oid_type
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: pn
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: ps
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: uper_mid
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - "0"
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      list:
                        type: "null"
                      page:
                        type: "null"
                      show_public_note:
                        type: boolean
                      message:
                        type: string
                        enum:
                          - 还没有人发布笔记哦，快去发布一篇吧～
                    required:
                      - list
                      - page
                      - show_public_note
                      - message
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/player/online/total:
    get:
      operationId: getXPlayerOnlineTotal
      summary: Get x player online total
      x-openweb:
        permission: read
        build:
          stable_id: 0b273b448a0dfeff
          tool_version: 2
      parameters:
        - name: aid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: bvid
          in: query
          required: true
          schema:
            type: string
          example: BV1bscPz1EQW
        - name: cid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: ts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      total:
                        type: string
                        enum:
                          - "6"
                      count:
                        type: string
                        enum:
                          - "5"
                      show_switch:
                        type: object
                        properties:
                          total:
                            type: boolean
                          count:
                            type: boolean
                        required:
                          - total
                          - count
                      abtest:
                        type: object
                        properties:
                          group:
                            type: string
                            enum:
                              - b
                        required:
                          - group
                    required:
                      - total
                      - count
                      - show_switch
                      - abtest
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/player/wbi/v2:
    get:
      operationId: getXPlayerWbi
      summary: Get x player wbi
      x-openweb:
        permission: read
        build:
          stable_id: a7cd04249f0707e2
          tool_version: 2
      parameters:
        - name: aid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: cid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: dm_cover_img_str
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: dm_img_inter
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"ds":[]'
            - '"wh":[4801'
            - 5392
            - 93]
            - '"of":[297'
            - 594
            - 297]}
        - name: dm_img_list
          in: query
          required: true
          schema:
            type: string
          example: "[]"
        - name: dm_img_str
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: isGaiaAvoided
          in: query
          required: true
          schema:
            type: string
          example: "false"
        - name: w_rid
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: web_location
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: wts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      aid:
                        type: integer
                      bvid:
                        type: string
                        enum:
                          - BV1bscPz1EQW
                      allow_bp:
                        type: boolean
                      no_share:
                        type: boolean
                      cid:
                        type: integer
                      max_limit:
                        type: integer
                      page_no:
                        type: integer
                      has_next:
                        type: boolean
                      ip_info:
                        type: object
                        properties:
                          ip:
                            type: string
                            enum:
                              - 174.109.106.155
                          zone_ip:
                            type: string
                            enum:
                              - " 10.163.198.19"
                          zone_id:
                            type: integer
                          country:
                            type: string
                            enum:
                              - 美国
                          province:
                            type: string
                            enum:
                              - 北卡罗来纳州
                          city:
                            type: string
                            enum:
                              - 德罕
                        required:
                          - ip
                          - zone_ip
                          - zone_id
                          - country
                          - province
                          - city
                      login_mid:
                        type: integer
                      login_mid_hash:
                        type: string
                        enum:
                          - c71b7858
                      is_owner:
                        type: boolean
                      name:
                        type: string
                        enum:
                          - imoonkey
                      permission:
                        type: string
                        enum:
                          - 10000,1001
                      level_info:
                        type: object
                        properties:
                          current_level:
                            type: integer
                          current_min:
                            type: integer
                          current_exp:
                            type: integer
                          next_exp:
                            type: integer
                          level_up:
                            type: integer
                        required:
                          - current_level
                          - current_min
                          - current_exp
                          - next_exp
                          - level_up
                      vip:
                        type: object
                        properties:
                          type:
                            type: integer
                          status:
                            type: integer
                          due_date:
                            type: integer
                          vip_pay_type:
                            type: integer
                          theme_type:
                            type: integer
                          label:
                            type: object
                            properties:
                              path:
                                type: string
                                enum:
                                  - ""
                              text:
                                type: string
                                enum:
                                  - ""
                              label_theme:
                                type: string
                                enum:
                                  - ""
                              text_color:
                                type: string
                                enum:
                                  - ""
                              bg_style:
                                type: integer
                              bg_color:
                                type: string
                                enum:
                                  - ""
                              border_color:
                                type: string
                                enum:
                                  - ""
                              use_img_label:
                                type: boolean
                              img_label_uri_hans:
                                type: string
                                enum:
                                  - ""
                              img_label_uri_hant:
                                type: string
                                enum:
                                  - ""
                              img_label_uri_hans_static:
                                type: string
                                format: uri
                              img_label_uri_hant_static:
                                type: string
                                format: uri
                              label_id:
                                type: integer
                              label_goto:
                                type: "null"
                            required:
                              - path
                              - text
                              - label_theme
                              - text_color
                              - bg_style
                              - bg_color
                              - border_color
                              - use_img_label
                              - img_label_uri_hans
                              - img_label_uri_hant
                              - img_label_uri_hans_static
                              - img_label_uri_hant_static
                              - label_id
                              - label_goto
                          avatar_subscript:
                            type: integer
                          nickname_color:
                            type: string
                            enum:
                              - ""
                          role:
                            type: integer
                          avatar_subscript_url:
                            type: string
                            enum:
                              - ""
                          tv_vip_status:
                            type: integer
                          tv_vip_pay_type:
                            type: integer
                          tv_due_date:
                            type: integer
                          avatar_icon:
                            type: object
                            properties:
                              icon_resource:
                                type: object
                                properties: {}
                                required: []
                            required:
                              - icon_resource
                          ott_info:
                            type: object
                            properties:
                              vip_type:
                                type: integer
                              pay_type:
                                type: integer
                              pay_channel_id:
                                type: string
                                enum:
                                  - ""
                              status:
                                type: integer
                              overdue_time:
                                type: integer
                            required:
                              - vip_type
                              - pay_type
                              - pay_channel_id
                              - status
                              - overdue_time
                          super_vip:
                            type: object
                            properties:
                              is_super_vip:
                                type: boolean
                            required:
                              - is_super_vip
                        required:
                          - type
                          - status
                          - due_date
                          - vip_pay_type
                          - theme_type
                          - label
                          - avatar_subscript
                          - nickname_color
                          - role
                          - avatar_subscript_url
                          - tv_vip_status
                          - tv_vip_pay_type
                          - tv_due_date
                          - avatar_icon
                          - ott_info
                          - super_vip
                      answer_status:
                        type: integer
                      block_time:
                        type: integer
                      role:
                        type: string
                        enum:
                          - "0"
                      last_play_time:
                        type: integer
                      last_play_cid:
                        type: integer
                      now_time:
                        type: integer
                      online_count:
                        type: integer
                      need_login_subtitle:
                        type: boolean
                      subtitle:
                        type: object
                        properties:
                          allow_submit:
                            type: boolean
                          lan:
                            type: string
                            enum:
                              - ""
                          lan_doc:
                            type: string
                            enum:
                              - ""
                          subtitles:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                lan:
                                  type: string
                                  enum:
                                    - ai-zh
                                lan_doc:
                                  type: string
                                  enum:
                                    - 中文
                                is_lock:
                                  type: boolean
                                subtitle_url:
                                  type: string
                                  enum:
                                    - //aisubtitle.hdslb.com/bfs/ai_subtitle/prod/1160362254739523591956330782d1243b850762a236aefc15e84fb50e?auth_key=1774721583-78f86adc4d6f436eacfc4e1e4fcc8bc6-0-eb4f76ee7038a13f194d93c53d1175b1
                                subtitle_url_v2:
                                  type: string
                                  format: email
                                type:
                                  type: integer
                                id_str:
                                  type: string
                                  enum:
                                    - "1949697890012515328"
                                ai_type:
                                  type: integer
                                ai_status:
                                  type: integer
                              required:
                                - id
                                - lan
                                - lan_doc
                                - is_lock
                                - subtitle_url
                                - subtitle_url_v2
                                - type
                                - id_str
                                - ai_type
                                - ai_status
                          subtitle_position:
                            type: "null"
                          font_size_type:
                            type: integer
                        required:
                          - allow_submit
                          - lan
                          - lan_doc
                          - subtitles
                          - subtitle_position
                          - font_size_type
                      view_points:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: integer
                            from:
                              type: integer
                            to:
                              type: integer
                            content:
                              type: string
                              enum:
                                - 健康生活类
                                - 出行交通类
                                - 智能家居类
                                - 智能穿戴类
                                - 机器人类
                                - 电脑PC类
                                - 电视大屏类
                                - 耳机音响类
                            imgUrl:
                              type: string
                              format: uri
                            logoUrl:
                              type: string
                              enum:
                                - ""
                            team_type:
                              type: string
                              enum:
                                - ""
                            team_name:
                              type: string
                              enum:
                                - ""
                          required:
                            - type
                            - from
                            - to
                            - content
                            - imgUrl
                            - logoUrl
                            - team_type
                            - team_name
                      preview_toast:
                        type: string
                        enum:
                          - 为创作付费，购买观看完整视频|购买观看
                      options:
                        type: object
                        properties:
                          is_360:
                            type: boolean
                          without_vip:
                            type: boolean
                        required:
                          - is_360
                          - without_vip
                      guide_attention:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: integer
                            from:
                              type: integer
                            to:
                              type: integer
                            pos_x:
                              type: number
                            pos_y:
                              type: integer
                          required:
                            - type
                            - from
                            - to
                            - pos_x
                            - pos_y
                      jump_card:
                        type: array
                        items:
                          type: object
                      operation_card:
                        type: array
                        items:
                          type: object
                      online_switch:
                        type: object
                        properties:
                          enable_gray_dash_playback:
                            type: string
                            enum:
                              - "500"
                          new_broadcast:
                            type: string
                            enum:
                              - "1"
                          realtime_dm:
                            type: string
                            enum:
                              - "1"
                          subtitle_submit_switch:
                            type: string
                            enum:
                              - "1"
                        required:
                          - enable_gray_dash_playback
                          - new_broadcast
                          - realtime_dm
                          - subtitle_submit_switch
                      fawkes:
                        type: object
                        properties:
                          config_version:
                            type: integer
                          ff_version:
                            type: integer
                        required:
                          - config_version
                          - ff_version
                      show_switch:
                        type: object
                        properties:
                          long_progress:
                            type: boolean
                        required:
                          - long_progress
                      bgm_info:
                        type: "null"
                      toast_block:
                        type: boolean
                      is_upower_exclusive:
                        type: boolean
                      is_upower_play:
                        type: boolean
                      is_ugc_pay_preview:
                        type: boolean
                      elec_high_level:
                        type: object
                        properties:
                          privilege_type:
                            type: integer
                          title:
                            type: string
                            enum:
                              - ""
                          sub_title:
                            type: string
                            enum:
                              - ""
                          show_button:
                            type: boolean
                          button_text:
                            type: string
                            enum:
                              - ""
                          jump_url:
                            type: string
                            enum:
                              - ""
                          intro:
                            type: string
                            enum:
                              - ""
                          new:
                            type: boolean
                          question_text:
                            type: string
                            enum:
                              - ""
                          qa_title:
                            type: string
                            enum:
                              - ""
                        required:
                          - privilege_type
                          - title
                          - sub_title
                          - show_button
                          - button_text
                          - jump_url
                          - intro
                          - new
                          - question_text
                          - qa_title
                      disable_show_up_info:
                        type: boolean
                      is_upower_exclusive_with_qa:
                        type: boolean
                      arc_aigc:
                        type: "null"
                      self_visible:
                        type: "null"
                    required:
                      - aid
                      - bvid
                      - allow_bp
                      - no_share
                      - cid
                      - max_limit
                      - page_no
                      - has_next
                      - ip_info
                      - login_mid
                      - login_mid_hash
                      - is_owner
                      - name
                      - permission
                      - level_info
                      - vip
                      - answer_status
                      - block_time
                      - role
                      - last_play_time
                      - last_play_cid
                      - now_time
                      - online_count
                      - need_login_subtitle
                      - subtitle
                      - view_points
                      - preview_toast
                      - options
                      - guide_attention
                      - jump_card
                      - operation_card
                      - online_switch
                      - fawkes
                      - show_switch
                      - bgm_info
                      - toast_block
                      - is_upower_exclusive
                      - is_upower_play
                      - is_ugc_pay_preview
                      - elec_high_level
                      - disable_show_up_info
                      - is_upower_exclusive_with_qa
                      - arc_aigc
                      - self_visible
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/v2/dm/wbi/web/seg.so:
    get:
      operationId: getXDmWbiSeg.so
      summary: Get x dm wbi seg.so
      x-openweb:
        permission: read
        build:
          stable_id: 0d42dba1c2f62a2b
          tool_version: 2
      parameters:
        - name: oid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: pe
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: pid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: ps
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: pull_mode
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: segment_index
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: type
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_rid
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: web_location
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: wts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/octet-stream:
              schema:
                type: object
  /x/v2/dm/web/view:
    get:
      operationId: getXDmView
      summary: Get x dm view
      x-openweb:
        permission: read
        build:
          stable_id: c4ccd296975cdff2
          tool_version: 2
      parameters:
        - name: context_ext
          in: query
          required: true
          schema:
            type: string
          example: '{"video_type":1}'
        - name: cur_production_type
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: duration
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: oid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: pid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: type
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/octet-stream:
              schema:
                type: object
  /x/vip/ads/materials:
    get:
      operationId: listXVipAdsMaterials
      summary: List x vip ads materials
      x-openweb:
        permission: read
        build:
          stable_id: 36aa25370b07ee05
          tool_version: 2
      parameters:
        - name: buvid
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: platform
          in: query
          required: true
          schema:
            type: string
          example: pc
        - name: position
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
          example:
            - 52
            - 53
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - "0"
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                      list_v2:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            position:
                              type: integer
                            track_params:
                              type: object
                              properties:
                                exp_group_tag:
                                  type: string
                                  enum:
                                    - def
                                exp_tag:
                                  type: string
                                  enum:
                                    - def
                                material_type:
                                  type: string
                                  enum:
                                    - "3"
                                position_id:
                                  type: string
                                  enum:
                                    - "52"
                                request_id:
                                  type: string
                                  enum:
                                    - 135f8b50487ebae632012ff32669c81a
                                    - 443777f0e4ee301c59eeb7232669c81a
                                    - 5c2ea46336ebefb845093bd79369c81a
                                    - 74492264b637307f39318fa78269c81a
                                    - 7619d56dab53d83902ace55beb69c81a
                                    - 7ca6d3ccd523de832ff75146ac69c81a
                                tips_id:
                                  type: string
                                  enum:
                                    - "18629"
                                tips_repeat_key:
                                  type: string
                                  enum:
                                    - 18629:52:1774721566:1695320
                                    - 18629:52:1774721572:1695320
                                    - 18629:52:1774721578:1695320
                                    - 18629:52:1774721585:1695320
                                    - 18629:52:1774721592:1695320
                                    - 18629:52:1774721597:1695320
                                unit_id:
                                  type: string
                                  enum:
                                    - "7538"
                                vip_status:
                                  type: string
                                  enum:
                                    - "0"
                                vip_type:
                                  type: string
                                  enum:
                                    - "0"
                              required:
                                - exp_group_tag
                                - exp_tag
                                - material_type
                                - position_id
                                - request_id
                                - tips_id
                                - tips_repeat_key
                                - unit_id
                                - vip_status
                                - vip_type
                            theme:
                              type: string
                              enum:
                                - TOP_GUIDE_VIP_ENTRANCE
                            title_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    enum:
                                      - top_guide:display_style
                                      - top_vip_entrance_describe_title
                                      - top_vip_entrance_icon_title
                                      - top_vip_entrance_title
                                  text:
                                    type: string
                                    enum:
                                      - icon_with_text
                                      - 海量热播内容免费看
                                      - 首月15元
                                  click_target:
                                    type: object
                                    properties:
                                      jump_type:
                                        type: integer
                                    required:
                                      - jump_type
                                required:
                                  - code
                                  - click_target
                            image_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    enum:
                                      - top_vip_entrance_icon
                                  click_target:
                                    type: object
                                    properties:
                                      jump_type:
                                        type: integer
                                    required:
                                      - jump_type
                                required:
                                  - code
                                  - click_target
                            button_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    enum:
                                      - top_vip_entrance_button_superscript_title
                                      - top_vip_entrance_button_title
                                  text:
                                    type: string
                                    enum:
                                      - 成为大会员
                                      - 限时特惠
                                  click_target:
                                    type: object
                                    properties:
                                      jump_type:
                                        type: integer
                                    required:
                                      - jump_type
                                required:
                                  - code
                                  - text
                                  - click_target
                            click_target:
                              type: object
                              properties:
                                jump_type:
                                  type: integer
                              required:
                                - jump_type
                            extra_params:
                              type: object
                              properties:
                                is_rta:
                                  type: string
                                  enum:
                                    - "0"
                              required:
                                - is_rta
                            weight:
                              type: integer
                          required:
                            - id
                            - position
                            - track_params
                            - theme
                            - title_list
                            - image_list
                            - button_list
                            - click_target
                            - extra_params
                            - weight
                      vip_login_coupon:
                        type: object
                        properties:
                          login_layer:
                            type: "null"
                          exp:
                            type: boolean
                          report:
                            type: object
                            properties: {}
                            required: []
                        required:
                          - login_layer
                          - exp
                          - report
                    required:
                      - list
                      - list_v2
                      - vip_login_coupon
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/archive/like:
    post:
      operationId: createXWebInterfaceArchiveLike
      summary: Create x web-interface archive like
      x-openweb:
        permission: write
        build:
          stable_id: f5882047ebdafa4b
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                required:
                  - code
                  - message
                  - ttl
  /x/web-interface/archive/relation:
    get:
      operationId: getXWebInterfaceArchiveRelation
      summary: Get x web-interface archive relation
      x-openweb:
        permission: read
        build:
          stable_id: d365eae5626eee9d
          tool_version: 2
      parameters:
        - name: aid
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: bvid
          in: query
          required: true
          schema:
            type: string
          example: BV1bscPz1EQW
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      attention:
                        type: boolean
                      favorite:
                        type: boolean
                      season_fav:
                        type: boolean
                      like:
                        type: boolean
                      dislike:
                        type: boolean
                      coin:
                        type: integer
                    required:
                      - attention
                      - favorite
                      - season_fav
                      - like
                      - dislike
                      - coin
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/broadcast/servers:
    get:
      operationId: listXWebInterfaceBroadcastServers
      summary: List x web-interface broadcast servers
      x-openweb:
        permission: read
        build:
          stable_id: 3a33e0dc0f08b3a6
          tool_version: 2
      parameters:
        - name: platform
          in: query
          required: true
          schema:
            type: string
          example: web
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      domain:
                        type: string
                        enum:
                          - broadcast.chat.bilibili.com
                      tcp_port:
                        type: integer
                      ws_port:
                        type: integer
                      wss_port:
                        type: integer
                      heartbeat:
                        type: integer
                      nodes:
                        type: array
                        items:
                          type: string
                          enum:
                            - broadcast.chat.bilibili.com
                      backoff:
                        type: object
                        properties:
                          max_delay:
                            type: integer
                          base_delay:
                            type: integer
                          factor:
                            type: number
                          jitter:
                            type: number
                        required:
                          - max_delay
                          - base_delay
                          - factor
                          - jitter
                      heartbeat_max:
                        type: integer
                      wss_port_v2:
                        type: integer
                    required:
                      - domain
                      - tcp_port
                      - ws_port
                      - wss_port
                      - heartbeat
                      - nodes
                      - backoff
                      - heartbeat_max
                      - wss_port_v2
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/dynamic/entrance:
    get:
      operationId: getXWebInterfaceDynamicEntrance
      summary: Get x web-interface dynamic entrance
      x-openweb:
        permission: read
        build:
          stable_id: 3ee9cee91b9901a0
          tool_version: 2
      parameters:
        - name: alltype_offset
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: article_offset
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: video_offset
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: web_location
          in: query
          required: true
          schema:
            type: number
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      entrance:
                        type: object
                        properties:
                          icon:
                            type: string
                            format: uri
                          mid:
                            type: integer
                          type:
                            type: string
                            enum:
                              - dyn
                        required:
                          - icon
                          - mid
                          - type
                      update_info:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                              - count
                          item:
                            type: object
                            properties:
                              count:
                                type: integer
                            required:
                              - count
                        required:
                          - type
                          - item
                      dyn_basic_infos:
                        type: array
                        items:
                          type: object
                          properties:
                            dyn_id:
                              type: string
                            dyn_type:
                              type: integer
                          required:
                            - dyn_id
                            - dyn_type
                    required:
                      - entrance
                      - update_info
                      - dyn_basic_infos
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/history/continuation:
    get:
      operationId: getXWebInterfaceHistoryContinuation
      summary: Get x web-interface history continuation
      x-openweb:
        permission: read
        build:
          stable_id: 9705cb1490f71d7f
          tool_version: 2
      parameters:
        - name: his_exp
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: web_location
          in: query
          required: true
          schema:
            type: number
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: "null"
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/nav:
    get:
      operationId: getXWebInterfaceNav
      summary: Get x web-interface nav
      x-openweb:
        permission: read
        build:
          stable_id: af4d0f36febb3e08
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      isLogin:
                        type: boolean
                      email_verified:
                        type: integer
                      face:
                        type: string
                        format: uri
                      face_nft:
                        type: integer
                      face_nft_type:
                        type: integer
                      level_info:
                        type: object
                        properties:
                          current_level:
                            type: integer
                          current_min:
                            type: integer
                          current_exp:
                            type: integer
                          next_exp:
                            type: integer
                        required:
                          - current_level
                          - current_min
                          - current_exp
                          - next_exp
                      mid:
                        type: integer
                      mobile_verified:
                        type: integer
                      money:
                        type: integer
                      moral:
                        type: integer
                      official:
                        type: object
                        properties:
                          role:
                            type: integer
                          title:
                            type: string
                            enum:
                              - ""
                          desc:
                            type: string
                            enum:
                              - ""
                          type:
                            type: integer
                        required:
                          - role
                          - title
                          - desc
                          - type
                      officialVerify:
                        type: object
                        properties:
                          type:
                            type: integer
                          desc:
                            type: string
                            enum:
                              - ""
                        required:
                          - type
                          - desc
                      pendant:
                        type: object
                        properties:
                          pid:
                            type: integer
                          name:
                            type: string
                            enum:
                              - ""
                          image:
                            type: string
                            enum:
                              - ""
                          expire:
                            type: integer
                          image_enhance:
                            type: string
                            enum:
                              - ""
                          image_enhance_frame:
                            type: string
                            enum:
                              - ""
                          n_pid:
                            type: integer
                        required:
                          - pid
                          - name
                          - image
                          - expire
                          - image_enhance
                          - image_enhance_frame
                          - n_pid
                      scores:
                        type: integer
                      uname:
                        type: string
                        enum:
                          - imoonkey
                      vipDueDate:
                        type: integer
                      vipStatus:
                        type: integer
                      vipType:
                        type: integer
                      vip_pay_type:
                        type: integer
                      vip_theme_type:
                        type: integer
                      vip_label:
                        type: object
                        properties:
                          path:
                            type: string
                            enum:
                              - ""
                          text:
                            type: string
                            enum:
                              - ""
                          label_theme:
                            type: string
                            enum:
                              - ""
                          text_color:
                            type: string
                            enum:
                              - ""
                          bg_style:
                            type: integer
                          bg_color:
                            type: string
                            enum:
                              - ""
                          border_color:
                            type: string
                            enum:
                              - ""
                          use_img_label:
                            type: boolean
                          img_label_uri_hans:
                            type: string
                            enum:
                              - ""
                          img_label_uri_hant:
                            type: string
                            enum:
                              - ""
                          img_label_uri_hans_static:
                            type: string
                            format: uri
                          img_label_uri_hant_static:
                            type: string
                            format: uri
                          label_id:
                            type: integer
                          label_goto:
                            type: "null"
                        required:
                          - path
                          - text
                          - label_theme
                          - text_color
                          - bg_style
                          - bg_color
                          - border_color
                          - use_img_label
                          - img_label_uri_hans
                          - img_label_uri_hant
                          - img_label_uri_hans_static
                          - img_label_uri_hant_static
                          - label_id
                          - label_goto
                      vip_avatar_subscript:
                        type: integer
                      vip_nickname_color:
                        type: string
                        enum:
                          - ""
                      vip:
                        type: object
                        properties:
                          type:
                            type: integer
                          status:
                            type: integer
                          due_date:
                            type: integer
                          vip_pay_type:
                            type: integer
                          theme_type:
                            type: integer
                          label:
                            type: object
                            properties:
                              path:
                                type: string
                                enum:
                                  - ""
                              text:
                                type: string
                                enum:
                                  - ""
                              label_theme:
                                type: string
                                enum:
                                  - ""
                              text_color:
                                type: string
                                enum:
                                  - ""
                              bg_style:
                                type: integer
                              bg_color:
                                type: string
                                enum:
                                  - ""
                              border_color:
                                type: string
                                enum:
                                  - ""
                              use_img_label:
                                type: boolean
                              img_label_uri_hans:
                                type: string
                                enum:
                                  - ""
                              img_label_uri_hant:
                                type: string
                                enum:
                                  - ""
                              img_label_uri_hans_static:
                                type: string
                                format: uri
                              img_label_uri_hant_static:
                                type: string
                                format: uri
                              label_id:
                                type: integer
                              label_goto:
                                type: "null"
                            required:
                              - path
                              - text
                              - label_theme
                              - text_color
                              - bg_style
                              - bg_color
                              - border_color
                              - use_img_label
                              - img_label_uri_hans
                              - img_label_uri_hant
                              - img_label_uri_hans_static
                              - img_label_uri_hant_static
                              - label_id
                              - label_goto
                          avatar_subscript:
                            type: integer
                          nickname_color:
                            type: string
                            enum:
                              - ""
                          role:
                            type: integer
                          avatar_subscript_url:
                            type: string
                            enum:
                              - ""
                          tv_vip_status:
                            type: integer
                          tv_vip_pay_type:
                            type: integer
                          tv_due_date:
                            type: integer
                          avatar_icon:
                            type: object
                            properties:
                              icon_resource:
                                type: object
                                properties: {}
                                required: []
                            required:
                              - icon_resource
                          ott_info:
                            type: object
                            properties:
                              vip_type:
                                type: integer
                              pay_type:
                                type: integer
                              pay_channel_id:
                                type: string
                                enum:
                                  - ""
                              status:
                                type: integer
                              overdue_time:
                                type: integer
                            required:
                              - vip_type
                              - pay_type
                              - pay_channel_id
                              - status
                              - overdue_time
                          super_vip:
                            type: object
                            properties:
                              is_super_vip:
                                type: boolean
                            required:
                              - is_super_vip
                        required:
                          - type
                          - status
                          - due_date
                          - vip_pay_type
                          - theme_type
                          - label
                          - avatar_subscript
                          - nickname_color
                          - role
                          - avatar_subscript_url
                          - tv_vip_status
                          - tv_vip_pay_type
                          - tv_due_date
                          - avatar_icon
                          - ott_info
                          - super_vip
                      wallet:
                        type: object
                        properties:
                          mid:
                            type: integer
                          bcoin_balance:
                            type: integer
                          coupon_balance:
                            type: integer
                          coupon_due_time:
                            type: integer
                        required:
                          - mid
                          - bcoin_balance
                          - coupon_balance
                          - coupon_due_time
                      has_shop:
                        type: boolean
                      shop_url:
                        type: string
                        enum:
                          - ""
                      answer_status:
                        type: integer
                      is_senior_member:
                        type: integer
                      wbi_img:
                        type: object
                        properties:
                          img_url:
                            type: string
                            format: uri
                          sub_url:
                            type: string
                            format: uri
                        required:
                          - img_url
                          - sub_url
                      is_jury:
                        type: boolean
                      name_render:
                        type: "null"
                      legal_region:
                        type: string
                        enum:
                          - US
                      ip_region:
                        type: string
                        enum:
                          - US
                    required:
                      - isLogin
                      - email_verified
                      - face
                      - face_nft
                      - face_nft_type
                      - level_info
                      - mid
                      - mobile_verified
                      - money
                      - moral
                      - official
                      - officialVerify
                      - pendant
                      - scores
                      - uname
                      - vipDueDate
                      - vipStatus
                      - vipType
                      - vip_pay_type
                      - vip_theme_type
                      - vip_label
                      - vip_avatar_subscript
                      - vip_nickname_color
                      - vip
                      - wallet
                      - has_shop
                      - shop_url
                      - answer_status
                      - is_senior_member
                      - wbi_img
                      - is_jury
                      - name_render
                      - legal_region
                      - ip_region
                required:
                  - code
                  - message
                  - ttl
                  - data
  /x/web-interface/popular:
    get:
      operationId: getXWebInterfacePopular
      summary: Get x web-interface popular
      x-openweb:
        permission: read
        build:
          stable_id: d596672b97554c08
          tool_version: 2
      parameters:
        - name: pn
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: ps
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: w_rid
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: web_location
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: wts
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  ttl:
                    type: integer
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            aid:
                              type: integer
                            videos:
                              type: integer
                            tid:
                              type: integer
                            tname:
                              type: string
                            copyright:
                              type: integer
                            pic:
                              type: string
                              format: uri
                            title:
                              type: string
                            pubdate:
                              type: integer
                            ctime:
                              type: integer
                            desc:
                              type: string
                            state:
                              type: integer
                            duration:
                              type: integer
                            rights:
                              type: object
                              properties:
                                bp:
                                  type: integer
                                elec:
                                  type: integer
                                download:
                                  type: integer
                                movie:
                                  type: integer
                                pay:
                                  type: integer
                                hd5:
                                  type: integer
                                no_reprint:
                                  type: integer
                                autoplay:
                                  type: integer
                                ugc_pay:
                                  type: integer
                                is_cooperation:
                                  type: integer
                                ugc_pay_preview:
                                  type: integer
                                no_background:
                                  type: integer
                                arc_pay:
                                  type: integer
                                pay_free_watch:
                                  type: integer
                              required:
                                - bp
                                - elec
                                - download
                                - movie
                                - pay
                                - hd5
                                - no_reprint
                                - autoplay
                                - ugc_pay
                                - is_cooperation
                                - ugc_pay_preview
                                - no_background
                                - arc_pay
                                - pay_free_watch
                            owner:
                              type: object
                              properties:
                                mid:
                                  type: integer
                                name:
                                  type: string
                                face:
                                  type: string
                                  format: uri
                              required:
                                - mid
                                - name
                                - face
                            stat:
                              type: object
                              properties:
                                aid:
                                  type: integer
                                view:
                                  type: integer
                                danmaku:
                                  type: integer
                                reply:
                                  type: integer
                                favorite:
                                  type: integer
                                coin:
                                  type: integer
                                share:
                                  type: integer
                                now_rank:
                                  type: integer
                                his_rank:
                                  type: integer
                                like:
                                  type: integer
                                dislike:
                                  type: integer
                                vt:
                                  type: integer
                                vv:
                                  type: integer
                                fav_g:
                                  type: integer
                                like_g:
                                  type: integer
                              required:
                                - aid
                                - view
                                - danmaku
                                - reply
                                - favorite
                                - coin
                                - share
                                - now_rank
                                - his_rank
                                - like
                                - dislike
                                - vt
                                - vv
                                - fav_g
                                - like_g
                            dynamic:
                              type: string
                              enum:
                                - ""
                                - 今年最有意义的一期
                                - |-
                                  城！市！大！富！翁！03
                                  超刺激的6小时极限赚钱挑战！
                                  全新地图！点赞30w，出发下一期！！
                                - 影视飓风的人，在做什么梦？
                                - 特朗普说炸就炸，中东格局彻底乱了。海湾王爷们的土豪发展神话，被伊朗炸得粉碎。霍尔木兹一封，全球制造业集体打冷颤，美国打的这场糊涂仗，究竟改变了多少这个世界运行了五十多年的底层逻辑？本期节目我们就来聊聊，改变世界的美以伊战争。
                                - 苹果也杀疯了？2026 iPhone 后台能力大调：iOS26内存压力大增？
                            cid:
                              type: integer
                            dimension:
                              type: object
                              properties:
                                width:
                                  type: integer
                                height:
                                  type: integer
                                rotate:
                                  type: integer
                              required:
                                - width
                                - height
                                - rotate
                            short_link_v2:
                              type: string
                              format: uri
                            first_frame:
                              type: string
                              format: uri
                            pub_location:
                              type: string
                              enum:
                                - 上海
                                - 北京
[...]
