openapi: '3.1.0'
info:
  title: Steam Store
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-03-24T00:00:00Z'
    requires_auth: false
servers:
  - url: https://store.steampowered.com
    x-openweb:
      transport: node
  - url: https://api.steampowered.com
paths:
  /api/appdetails:
    get:
      operationId: getAppDetails
      summary: Get full game details — name, price, short description, genres, platforms, developers, metacritic score, release date
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: steam
          operation: getAppDetails
        build:
          verified: true
          stable_id: stm0001
          signature_id: stm0001s
          tool_version: 1
      parameters:
        - name: appids
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated Steam app IDs (e.g. "730" or "730,1245620").
        - name: cc
          in: query
          required: false
          schema:
            type: string
            default: US
          description: Country code for pricing (e.g. "US", "GB", "DE").
        - name: l
          in: query
          required: false
          schema:
            type: string
            default: english
          description: Language for descriptions (e.g. "english", "spanish").
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  required: [success]
                  properties:
                    success:
                      type: boolean
                    data:
                      type: object
                      required: [name, steam_appid]
                      properties:
                        type:
                          type: string
                        name:
                          type: string
                        steam_appid:
                          type: integer
                        is_free:
                          type: boolean
                        short_description:
                          type: string
                        header_image:
                          type: string
                        developers:
                          type: array
                          items:
                            type: string
                        publishers:
                          type: array
                          items:
                            type: string
                        price_overview:
                          oneOf:
                            - type: object
                              required: [currency, final]
                              properties:
                                currency:
                                  type: string
                                initial:
                                  type: integer
                                final:
                                  type: integer
                                discount_percent:
                                  type: integer
                                final_formatted:
                                  type: string
                            - type: 'null'
                        platforms:
                          type: object
                          required: [windows, mac, linux]
                          properties:
                            windows:
                              type: boolean
                            mac:
                              type: boolean
                            linux:
                              type: boolean
                        categories:
                          type: array
                          items:
                            type: object
                            required: [id, description]
                            properties:
                              id:
                                type: integer
                              description:
                                type: string
                        genres:
                          type: array
                          items:
                            type: object
                            required: [id, description]
                            properties:
                              id:
                                type: string
                              description:
                                type: string
                        release_date:
                          type: object
                          required: [coming_soon, date]
                          properties:
                            coming_soon:
                              type: boolean
                            date:
                              type: string
                        metacritic:
                          oneOf:
                            - type: object
                              required: [score, url]
                              properties:
                                score:
                                  type: integer
                                url:
                                  type: string
                            - type: 'null'
                        recommendations:
                          oneOf:
                            - type: object
                              required: [total]
                              properties:
                                total:
                                  type: integer
                            - type: 'null'

  /api/storesearch/:
    get:
      operationId: searchGames
      summary: Search Steam store by keyword — returns matching apps with id, name, price, metascore, platforms
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: steam
          operation: searchGames
        build:
          verified: true
          stable_id: stm0002
          signature_id: stm0002s
          tool_version: 1
      parameters:
        - name: term
          in: query
          required: true
          schema:
            type: string
          description: Search query (e.g. "elden ring").
        - name: l
          in: query
          required: false
          schema:
            type: string
            default: english
          description: Language.
        - name: cc
          in: query
          required: false
          schema:
            type: string
            default: US
          description: Country code for pricing.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [total, items]
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      required: [id, name]
                      properties:
                        type:
                          type: string
                        name:
                          type: string
                        id:
                          type: integer
                        price:
                          type: object
                          required: [currency, final]
                          properties:
                            currency:
                              type: string
                            initial:
                              type: integer
                            final:
                              type: integer
                        tiny_image:
                          type: string
                        metascore:
                          type: string
                        platforms:
                          type: object
                          required: [windows, mac, linux]
                          properties:
                            windows:
                              type: boolean
                            mac:
                              type: boolean
                            linux:
                              type: boolean

  /appreviews/{appid}:
    get:
      operationId: getAppReviews
      summary: Get user reviews for a game — review text, voted_up, votes_up, author playtime, review score summary
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: steam
          operation: getAppReviews
        build:
          verified: true
          stable_id: stm0003
          signature_id: stm0003s
          tool_version: 1
      parameters:
        - name: appid
          in: path
          required: true
          schema:
            type: integer
          description: Steam app ID (e.g. 730).
        - name: json
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Set to 1 for JSON response (auto-injected by adapter).
        - name: num_per_page
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of reviews per page.
        - name: filter
          in: query
          required: false
          schema:
            type: string
            default: recent
          description: Filter type (recent, updated, all).
        - name: language
          in: query
          required: false
          schema:
            type: string
            default: english
          description: Language filter.
        - name: review_type
          in: query
          required: false
          schema:
            type: string
            default: all
          description: Review type (positive, negative, all).
        - name: purchase_type
          in: query
          required: false
          schema:
            type: string
            default: all
          description: Purchase type (steam, non_steam_purchase, all).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [query_summary, reviews]
                properties:
                  success:
                    type: integer
                  query_summary:
                    type: object
                    required: [num_reviews]
                    properties:
                      num_reviews:
                        type: integer
                      review_score:
                        type: integer
                      review_score_desc:
                        type: string
                      total_positive:
                        type: integer
                      total_negative:
                        type: integer
                      total_reviews:
                        type: integer
                  reviews:
                    type: array
                    items:
                      type: object
                      required: [recommendationid, review, voted_up]
                      properties:
                        recommendationid:
                          type: string
                        author:
                          type: object
                          required: [steamid]
                          properties:
                            steamid:
                              type: string
                            num_games_owned:
                              type: integer
                            num_reviews:
                              type: integer
                            playtime_forever:
                              type: integer
                        language:
                          type: string
                        review:
                          type: string
                        voted_up:
                          type: boolean
                        votes_up:
                          type: integer
                        votes_funny:
                          type: integer
                        timestamp_created:
                          type: integer
                        timestamp_updated:
                          type: integer

  /api/featured/:
    get:
      operationId: getFeatured
      summary: Get featured/promoted games — id, name, discount_percent, final_price, platform availability per OS
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: steam
          operation: getFeatured
        build:
          verified: true
          stable_id: stm0004
          signature_id: stm0004s
          tool_version: 1
      parameters:
        - name: cc
          in: query
          required: false
          schema:
            type: string
            default: US
          description: Country code for pricing.
        - name: l
          in: query
          required: false
          schema:
            type: string
            default: english
          description: Language.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [featured_win, featured_mac, featured_linux]
                properties:
                  large_capsules:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: integer
                        name:
                          type: string
                        discounted:
                          type: boolean
                        discount_percent:
                          type: integer
                        original_price:
                          oneOf:
                            - type: integer
                            - type: 'null'
                        final_price:
                          oneOf:
                            - type: integer
                            - type: 'null'
                        currency:
                          type: string
                        windows_available:
                          type: boolean
                        mac_available:
                          type: boolean
                        linux_available:
                          type: boolean
                        streamingvideo_available:
                          type: boolean
                        discount_expiration:
                          type: integer
                        header_image:
                          type: string
                        large_capsule_image:
                          type: string
                        small_capsule_image:
                          type: string
                  featured_win:
                    type: array
                    items:
                      type: object
                      required: [id, name]
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        discounted:
                          type: boolean
                        discount_percent:
                          type: integer
                        original_price:
                          oneOf:
                            - type: integer
                            - type: 'null'
                        final_price:
                          oneOf:
                            - type: integer
                            - type: 'null'
                        currency:
                          type: string
                        windows_available:
                          type: boolean
                        mac_available:
                          type: boolean
                        linux_available:
                          type: boolean
                        streamingvideo_available:
                          type: boolean
                        header_image:
                          type: string
                  featured_mac:
                    type: array
                    items:
                      type: object
                      required: [id, name]
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        discounted:
                          type: boolean
                        discount_percent:
                          type: integer
                        original_price:
                          oneOf:
                            - type: integer
                            - type: 'null'
                        final_price:
                          oneOf:
                            - type: integer
                            - type: 'null'
                        currency:
                          type: string
                        windows_available:
                          type: boolean
                        mac_available:
                          type: boolean
                        linux_available:
                          type: boolean
                        streamingvideo_available:
                          type: boolean
                        header_image:
                          type: string
                  featured_linux:
                    type: array
                    items:
                      type: object
                      required: [id, name]
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        discounted:
                          type: boolean
                        discount_percent:
                          type: integer
                        original_price:
                          oneOf:
                            - type: integer
                            - type: 'null'
                        final_price:
                          oneOf:
                            - type: integer
                            - type: 'null'
                        currency:
                          type: string
                        windows_available:
                          type: boolean
                        mac_available:
                          type: boolean
                        linux_available:
                          type: boolean
                        streamingvideo_available:
                          type: boolean
                        header_image:
                          type: string
                  layout:
                    type: string
                  status:
                    type: integer

  /api/featuredcategories/:
    get:
      operationId: getFeaturedCategories
      summary: Get featured categories — specials, top sellers, new releases, coming soon with id, name, price, discount
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: steam
          operation: getFeaturedCategories
        build:
          verified: true
          stable_id: stm0005
          signature_id: stm0005s
          tool_version: 1
      parameters:
        - name: cc
          in: query
          required: false
          schema:
            type: string
            default: US
          description: Country code for pricing.
        - name: l
          in: query
          required: false
          schema:
            type: string
            default: english
          description: Language.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [specials, coming_soon, top_sellers, new_releases]
                properties:
                  specials:
                    type: object
                    required: [name, items]
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      items:
                        type: array
                        items:
                          type: object
                          required: [id, name]
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            discounted:
                              type: boolean
                            discount_percent:
                              type: integer
                            original_price:
                              oneOf:
                                - type: integer
                                - type: 'null'
                            final_price:
                              oneOf:
                                - type: integer
                                - type: 'null'
                            currency:
                              type: string
                            windows_available:
                              type: boolean
                            mac_available:
                              type: boolean
                            linux_available:
                              type: boolean
                            streamingvideo_available:
                              type: boolean
                            controller_support:
                              type: string
                            header_image:
                              type: string
                  coming_soon:
                    type: object
                    required: [name, items]
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      items:
                        type: array
                        items:
                          type: object
                          required: [id, name]
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            discounted:
                              type: boolean
                            discount_percent:
                              type: integer
                            original_price:
                              oneOf:
                                - type: integer
                                - type: 'null'
                            final_price:
                              oneOf:
                                - type: integer
                                - type: 'null'
                            currency:
                              type: string
                            windows_available:
                              type: boolean
                            mac_available:
                              type: boolean
                            linux_available:
                              type: boolean
                            streamingvideo_available:
                              type: boolean
                            controller_support:
                              type: string
                            header_image:
                              type: string
                  top_sellers:
                    type: object
                    required: [name, items]
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      items:
                        type: array
                        items:
                          type: object
                          required: [id, name]
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            discounted:
                              type: boolean
                            discount_percent:
                              type: integer
                            original_price:
                              oneOf:
                                - type: integer
                                - type: 'null'
                            final_price:
                              oneOf:
                                - type: integer
                                - type: 'null'
                            currency:
                              type: string
                            windows_available:
                              type: boolean
                            mac_available:
                              type: boolean
                            linux_available:
                              type: boolean
                            streamingvideo_available:
                              type: boolean
                            controller_support:
                              type: string
                            header_image:
                              type: string
                  new_releases:
                    type: object
                    required: [name, items]
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      items:
                        type: array
                        items:
                          type: object
                          required: [id, name]
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            discounted:
                              type: boolean
                            discount_percent:
                              type: integer
                            original_price:
                              oneOf:
                                - type: integer
                                - type: 'null'
                            final_price:
                              oneOf:
                                - type: integer
                                - type: 'null'
                            currency:
                              type: string
                            windows_available:
                              type: boolean
                            mac_available:
                              type: boolean
                            linux_available:
                              type: boolean
                            streamingvideo_available:
                              type: boolean
                            controller_support:
                              type: string
                            header_image:
                              type: string
                  status:
                    type: integer

  /api/packagedetails:
    get:
      operationId: getPackageDetails
      summary: Get package/bundle details — name, included apps, price, discount, platform support
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: steam
          operation: getPackageDetails
        build:
          verified: true
          stable_id: stm0006
          signature_id: stm0006s
          tool_version: 1
      parameters:
        - name: packageids
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated package IDs (e.g. "354231").
        - name: cc
          in: query
          required: false
          schema:
            type: string
            default: US
          description: Country code for pricing.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  required: [success]
                  properties:
                    success:
                      type: boolean
                    data:
                      type: object
                      required: [name, apps]
                      properties:
                        name:
                          type: string
                        page_image:
                          type: string
                        apps:
                          type: array
                          items:
                            type: object
                            required: [id, name]
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                        price:
                          type: object
                          required: [currency, final]
                          properties:
                            currency:
                              type: string
                            initial:
                              type: integer
                            final:
                              type: integer
                            discount_percent:
                              type: integer
                        platforms:
                          type: object
                          required: [windows, mac, linux]
                          properties:
                            windows:
                              type: boolean
                            mac:
                              type: boolean
                            linux:
                              type: boolean

  /ISteamNews/GetNewsForApp/v2/:
    get:
      operationId: getAppNews
      summary: "Get news articles for a game — title, author, contents, date, url, feedname, tags"
      servers:
        - url: https://api.steampowered.com
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: steam
          operation: getAppNews
        build:
          verified: true
          stable_id: stm0007
          signature_id: stm0007s
          tool_version: 1
      parameters:
        - name: appid
          in: query
          required: true
          schema:
            type: integer
          description: Steam app ID (e.g. 730).
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of news items to return.
        - name: maxlength
          in: query
          required: false
          schema:
            type: integer
            default: 300
          description: Max length of each news item body (0 for full).
        - name: feeds
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated feed names to filter (e.g. "steam_community_announcements").
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [appnews]
                properties:
                  appnews:
                    type: object
                    required: [appid, newsitems]
                    properties:
                      appid:
                        type: integer
                      newsitems:
                        type: array
                        items:
                          type: object
                          required: [gid, title, url]
                          properties:
                            gid:
                              type: string
                            title:
                              type: string
                            url:
                              type: string
                            author:
                              type: string
                            contents:
                              type: string
                            date:
                              type: integer
                            feedname:
                              type: string
                            tags:
                              type: array
                              items:
                                type: string

  /ISteamUserStats/GetNumberOfCurrentPlayers/v1/:
    get:
      operationId: getCurrentPlayers
      summary: Get current online player count for a game — player_count, result status
      servers:
        - url: https://api.steampowered.com
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: steam
          operation: getCurrentPlayers
        build:
          verified: true
          stable_id: stm0008
          signature_id: stm0008s
          tool_version: 1
      parameters:
        - name: appid
          in: query
          required: true
          schema:
            type: integer
          description: Steam app ID (e.g. 730).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [response]
                properties:
                  response:
                    type: object
                    required: [player_count, result]
                    properties:
                      player_count:
                        type: integer
                      result:
                        type: integer

  /ISteamUserStats/GetGlobalAchievementPercentagesForApp/v2/:
    get:
      operationId: getGlobalAchievements
      summary: Get global achievement unlock percentages — achievement name, percent unlocked per achievement
      servers:
        - url: https://api.steampowered.com
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: steam
          operation: getGlobalAchievements
        build:
          verified: true
          stable_id: stm0009
          signature_id: stm0009s
          tool_version: 1
      parameters:
        - name: gameid
          in: query
          required: true
          schema:
            type: integer
          description: Steam app ID (e.g. 730).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [achievementpercentages]
                properties:
                  achievementpercentages:
                    type: object
                    required: [achievements]
                    properties:
                      achievements:
                        type: array
                        items:
                          type: object
                          required: [name, percent]
                          properties:
                            name:
                              type: string
                            percent:
                              oneOf:
                                - type: number
                                - type: string

  /api/dlcforapp/:
    get:
      operationId: getDlcForApp
      summary: Get DLC listing for a game — dlc id, name, price, platforms, release date, header image
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: steam
          operation: getDlcForApp
        build:
          verified: false
          stable_id: stm0011
          signature_id: stm0011s
          tool_version: 1
      parameters:
        - name: appid
          in: query
          required: true
          schema:
            type: integer
          description: Steam app ID of the base game (e.g. 1245620).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [appid, name, dlc]
                properties:
                  status:
                    type: integer
                  appid:
                    type: string
                  name:
                    type: string
                  dlc:
                    type: array
                    items:
                      type: object
                      required: [id, name]
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        header_image:
                          type: string
                        price_overview:
                          oneOf:
                            - type: object
                              required: [currency, final]
                              properties:
                                currency:
                                  type: string
                                initial:
                                  type: integer
                                final:
                                  type: integer
                                discount_percent:
                                  type: integer
                            - type: 'null'
                        platforms:
                          type: object
                          required: [windows, mac, linux]
                          properties:
                            windows:
                              type: boolean
                            mac:
                              type: boolean
                            linux:
                              type: boolean
                        release_date:
                          type: object
                          required: [steam]
                          properties:
                            steam:
                              oneOf:
                                - type: string
                                - type: 'null'

  /tagdata/populartags/english:
    get:
      operationId: getPopularTags
      summary: Get all Steam store tags — tagid and name for each tag, sorted by popularity
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: steam
          operation: getPopularTags
        build:
          verified: false
          stable_id: stm0012
          signature_id: stm0012s
          tool_version: 1
      parameters: []
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [tagid, name]
                  properties:
                    tagid:
                      type: integer
                    name:
                      type: string
