openapi: '3.1.0'
info:
  title: Amazon
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: false
servers:
  - url: https://www.amazon.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
paths:
  /s:
    get:
      operationId: searchProducts
      summary: Search Amazon products by keyword
      x-openweb:
        permission: read
        build:
          stable_id: amz0001
          tool_version: 1
          verified: true
          signals:
            - html-dom
        extraction:
          type: page_global_data
          expression: |
            (() => {
              const results = document.querySelectorAll('[data-component-type="s-search-result"]');
              const items = [];
              for (const el of results) {
                const asin = el.getAttribute('data-asin');
                if (!asin) continue;
                const titleEl = el.querySelector('[data-cy="title-recipe"] h2 span')
                  || el.querySelector('h2 a span');
                const priceWhole = el.querySelector('.a-price .a-price-whole');
                const priceFraction = el.querySelector('.a-price .a-price-fraction');
                const ratingEl = el.querySelector('.a-icon-alt');
                const reviewCountEl = el.querySelector('[data-csa-c-func-deps="aui-da-a-popover"] + span span');
                const imageEl = el.querySelector('img.s-image');
                const linkEl = el.querySelector('h2 a');
                items.push({
                  asin,
                  title: titleEl?.textContent?.trim() || null,
                  price: priceWhole ? '$' + priceWhole.textContent.replace('.','').trim() + '.' + (priceFraction?.textContent?.trim() || '00') : null,
                  rating: ratingEl?.textContent?.trim() || null,
                  reviewCount: reviewCountEl?.textContent?.trim() || null,
                  imageUrl: imageEl?.src || null,
                  url: linkEl?.href || null,
                });
              }
              return { resultCount: items.length, items };
            })()
      parameters:
        - name: k
          in: query
          required: true
          schema:
            type: string
          description: Search keyword
      responses:
        '200':
          description: Search results with product listings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        asin:
                          type: string
                        title:
                          type: string
                        price:
                          type: string
                        rating:
                          type: string
                        reviewCount:
                          type: string
                        imageUrl:
                          type: string
                        url:
                          type:
                            - string
                            - 'null'
  /dp/{asin}:
    get:
      operationId: getProductDetail
      summary: Get Amazon product detail page
      x-openweb:
        permission: read
        build:
          stable_id: amz0002
          tool_version: 1
          verified: true
          signals:
            - html-dom
        extraction:
          type: page_global_data
          expression: |
            (() => {
              return {
                title: document.querySelector('#productTitle')?.textContent?.trim() || null,
                price: document.querySelector('.a-price .a-offscreen')?.textContent?.trim() || null,
                rating: document.querySelector('#acrPopover .a-icon-alt')?.textContent?.trim() || null,
                reviewCount: document.querySelector('#acrCustomerReviewText')?.textContent?.trim() || null,
                brand: document.querySelector('#bylineInfo')?.textContent?.trim() || null,
                availability: document.querySelector('#availability span')?.textContent?.trim() || null,
                description: document.querySelector('#productDescription p')?.textContent?.trim() || null,
                features: Array.from(document.querySelectorAll('#feature-bullets li span')).map(s => s.textContent?.trim()).filter(Boolean),
                imageUrl: document.querySelector('#landingImage')?.src || null,
              };
            })()
      parameters:
        - name: asin
          in: path
          required: true
          schema:
            type: string
          description: Amazon Standard Identification Number (e.g. B0DQSJ4QHB)
      responses:
        '200':
          description: Full product details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  price:
                    type: string
                  rating:
                    type: string
                  reviewCount:
                    type: string
                  brand:
                    type: string
                  availability:
                    type: string
                  description:
                    type: string
                  features:
                    type: array
                    items:
                      type: string
                  imageUrl:
                    type: string
  /product-reviews/{asin}:
    get:
      operationId: getProductReviews
      summary: Get Amazon product reviews
      x-openweb:
        permission: read
        build:
          stable_id: amz0003
          tool_version: 1
          verified: true
          signals:
            - html-dom
        extraction:
          type: page_global_data
          expression: |
            (() => {
              const reviews = document.querySelectorAll('[data-hook="review"]');
              const items = [];
              for (const r of reviews) {
                items.push({
                  author: r.querySelector('.a-profile-name')?.textContent?.trim() || null,
                  rating: r.querySelector('[data-hook="review-star-rating"] .a-icon-alt')?.textContent?.trim()
                       || r.querySelector('.review-rating .a-icon-alt')?.textContent?.trim() || null,
                  title: r.querySelector('[data-hook="review-title"] span:last-child')?.textContent?.trim()
                      || r.querySelector('[data-hook="review-title"]')?.textContent?.trim() || null,
                  date: r.querySelector('[data-hook="review-date"]')?.textContent?.trim() || null,
                  body: r.querySelector('[data-hook="review-body"] span')?.textContent?.trim() || null,
                  verified: r.querySelector('[data-hook="avp-badge"]')?.textContent?.trim() || null,
                  helpful: r.querySelector('[data-hook="helpful-vote-statement"]')?.textContent?.trim() || null,
                });
              }
              return {
                overallRating: document.querySelector('[data-hook="rating-out-of-text"]')?.textContent?.trim() || null,
                totalReviews: document.querySelector('[data-hook="total-review-count"]')?.textContent?.trim() || null,
                reviewCount: items.length,
                reviews: items,
              };
            })()
      parameters:
        - name: asin
          in: path
          required: true
          schema:
            type: string
          description: Amazon Standard Identification Number (e.g. B0DQSJ4QHB)
      responses:
        '200':
          description: Product reviews with ratings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  overallRating:
                    type: string
                  totalReviews:
                    type: string
                  reviewCount:
                    type: integer
                  reviews:
                    type: array
                    items:
                      type: object
                      properties:
                        author:
                          type: string
                        rating:
                          type: string
                        title:
                          type: string
                        date:
                          type: string
                        body:
                          type: string
                        verified:
                          type: string
                        helpful:
                          type:
                            - string
                            - 'null'
  /internal/productQA/{asin}:
    get:
      operationId: getProductQA
      summary: Get suggested Q&A questions from an Amazon product page
      x-openweb:
        permission: read
        build:
          stable_id: amz0004
          tool_version: 1
          verified: false
          signals:
            - html-dom
        extraction:
          type: page_global_data
          expression: |
            (() => {
              const container = document.querySelector('#dpx-nice-widget-container');
              const pills = container
                ? Array.from(container.querySelectorAll('.small-widget-pill'))
                    .map(p => p.textContent?.trim())
                    .filter(t => t && t !== 'Ask something else')
                : [];
              const heading = container?.querySelector('h3 label')?.textContent?.trim() || null;
              return {
                asin: location.pathname.match(/\\/dp\\/([A-Z0-9]+)/)?.[1] || null,
                heading,
                questionCount: pills.length,
                questions: pills,
              };
            })()
      parameters:
        - name: asin
          in: path
          required: true
          schema:
            type: string
          description: Amazon Standard Identification Number (e.g. B09B8V1LZ3)
      responses:
        '200':
          description: Suggested Q&A questions from the product page Rufus AI widget.
          content:
            application/json:
              schema:
                type: object
                properties:
                  asin:
                    type: string
                  heading:
                    type:
                      - string
                      - 'null'
                  questionCount:
                    type: integer
                  questions:
                    type: array
                    items:
                      type: string
  /deals:
    get:
      operationId: getDeals
      summary: Get current Amazon deals and discounts
      x-openweb:
        permission: read
        build:
          stable_id: amz0005
          tool_version: 1
          verified: false
          signals:
            - html-dom
        extraction:
          type: page_global_data
          expression: |
            (() => {
              const cards = document.querySelectorAll('.dcl-product');
              const items = [];
              for (const card of cards) {
                const link = card.querySelector('a[href*="/dp/"]');
                if (!link) continue;
                const asinMatch = link.href.match(/\/dp\/([A-Z0-9]+)/);
                const img = card.querySelector('img');
                const discountEl = card.querySelector('.dcl-badge span.a-size-mini');
                const priceEl = card.querySelector('.dcl-product-price-new .a-offscreen');
                const oldPriceEl = card.querySelector('.dcl-product-old-price-section .a-offscreen')
                  || card.querySelector('.dcl-product-old-price-section .a-text-price');
                const timerEl = card.querySelector('[data-component="badge-countdown-timer"]');
                items.push({
                  asin: asinMatch?.[1] || null,
                  title: img?.alt || null,
                  imageUrl: img?.src || null,
                  discount: discountEl?.textContent?.trim() || null,
                  price: priceEl?.textContent?.trim() || null,
                  originalPrice: oldPriceEl?.textContent?.trim() || null,
                  endsIn: timerEl?.textContent?.trim() || null,
                  url: link.href || null,
                });
              }
              return { dealCount: items.length, items };
            })()
      responses:
        '200':
          description: Current deals and discounted products.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dealCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        asin:
                          type: string
                        title:
                          type: string
                        imageUrl:
                          type: string
                        discount:
                          type: string
                        price:
                          type: string
                        originalPrice:
                          type:
                            - string
                            - 'null'
                        endsIn:
                          type:
                            - string
                            - 'null'
                        url:
                          type: string
  /internal/addToCart:
    post:
      operationId: addToCart
      summary: Add a product to Amazon shopping cart
      x-openweb:
        permission: write
        build:
          stable_id: amz0006
          tool_version: 1
          verified: false
          signals:
            - adapter-verified
        adapter:
          name: amazon-cart
          operation: addToCart
      parameters:
        - name: asin
          in: query
          required: true
          schema:
            type: string
          description: Amazon Standard Identification Number (e.g. B0DQSJ4QHB)
        - name: quantity
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Quantity to add (default 1).
      responses:
        '200':
          description: Cart update result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  asin:
                    type: string
                  cartItemCount:
                    type:
                      - integer
                      - 'null'
