openapi: "3.1.0"
info:
  title: Amazon
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    compiled_at: "2026-04-01T16:53:30.021Z"
    requires_auth: false
servers:
  - url: https://www.amazon.com
    x-openweb:
      transport: page
paths:
  /s:
    get:
      operationId: searchProducts
      summary: "Search Amazon products by keyword — title, price, rating, image, ASIN"
      x-openweb:
        permission: read
        build:
          stable_id: amz_searchProducts_v1
          tool_version: 2
        adapter:
          name: amazon
          operation: searchProducts
      parameters:
        - name: k
          in: query
          required: true
          schema:
            type: string
          description: Search keyword
          example: "laptop"
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: Page number for pagination (default 1)
          example: 1
      responses:
        "200":
          description: Search results with product listings.
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  resultCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      required:
                        - asin
                        - title
                      properties:
                        asin:
                          type: string
                        title:
                          type: string
                        price:
                          type: string
                        rating:
                          type: string
                        link:
                          type: string
                        image:
                          type: string

  /dp/{asin}:
    get:
      operationId: getProductDetail
      summary: "Get product detail — name, price, brand, description, rating, review count, images, features"
      x-openweb:
        permission: read
        build:
          stable_id: amz_getProductDetail_v1
          tool_version: 2
        adapter:
          name: amazon
          operation: getProductDetail
      parameters:
        - name: asin
          in: path
          required: true
          schema:
            type: string
          description: "Amazon Standard Identification Number (10-char alphanumeric, e.g. B00MVWGQX0)"
          example: "B00MVWGQX0"
      responses:
        "200":
          description: Product detail with structured data.
          content:
            application/json:
              schema:
                type: object
                required:
                  - name
                properties:
                  name:
                    type: string
                  price:
                    type: string
                  brand:
                    type: string
                  rating:
                    type: string
                  reviewCount:
                    type: string
                  image:
                    type: string
                  description:
                    type: string
                  features:
                    type: array
                    items:
                      type: string

  /product-reviews/{asin}:
    get:
      operationId: getProductReviews
      summary: "Get product reviews — rating, title, body, author, date"
      x-openweb:
        permission: read
        build:
          stable_id: amz_getProductReviews_v1
          tool_version: 2
        adapter:
          name: amazon
          operation: getProductReviews
      parameters:
        - name: asin
          in: path
          required: true
          schema:
            type: string
          description: "Amazon Standard Identification Number (10-char alphanumeric)"
          example: "B00MVWGQX0"
      responses:
        "200":
          description: Product reviews list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  overallRating:
                    type: string
                  totalReviews:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      required:
                        - rating
                        - title
                        - body
                      properties:
                        rating:
                          type: string
                        title:
                          type: string
                        body:
                          type: string
                        author:
                          type: string
                        date:
                          type: string

  /d2b/api/v1/products/search:
    get:
      operationId: searchDeals
      summary: "Search Amazon deals — ASIN, title, price, deal badge, deal percent claimed, images"
      x-openweb:
        permission: read
        build:
          stable_id: 5278f2b31e94d60b
          tool_version: 2
        adapter:
          name: amazon
          operation: searchDeals
      parameters:
        - name: startIndex
          in: query
          required: true
          schema:
            type: integer
          description: Starting index for pagination (1-based)
          example: 1
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
          description: Number of deal products to return
          example: 20
        - name: filters
          in: query
          required: false
          schema:
            type: string
          description: "JSON-encoded filter object with includedDepartments, excludedTags, etc."
        - name: calculateRefinements
          in: query
          required: false
          schema:
            type: string
          description: Whether to calculate filter refinements
          example: "false"
        - name: rankingContext
          in: query
          required: false
          schema:
            type: string
          description: "JSON-encoded ranking context"
      responses:
        "200":
          description: Deal products with pricing and badge info.
          content:
            application/json:
              schema:
                type: object
                required:
                  - products
                properties:
                  nextIndex:
                    type: integer
                  startIndex:
                    type: integer
                  products:
                    type: array
                    items:
                      type: object
                      required:
                        - asin
                        - title
                      properties:
                        asin:
                          type: string
                        title:
                          type: string
                        link:
                          type: string
                        image:
                          type: object
                          properties:
                            altText:
                              type: string
                            hiRes:
                              type: object
                              properties:
                                baseUrl:
                                  type: string
                                extension:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            lowRes:
                              type: object
                              properties:
                                baseUrl:
                                  type: string
                                extension:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                        price:
                          type: object
                          properties:
                            priceToPay:
                              type: object
                              properties:
                                label:
                                  type: string
                                price:
                                  type: string
                                strikethrough:
                                  type: boolean
                            basisPrice:
                              type: object
                              properties:
                                label:
                                  type: string
                                price:
                                  type: string
                                strikethrough:
                                  type: boolean
                        dealBadge:
                          type: object
                          properties:
                            label:
                              type: object
                              properties:
                                content:
                                  type: object
                                color:
                                  type: string
                                backgroundColor:
                                  type: string
                            messaging:
                              type: object
                              properties:
                                content:
                                  type: object
                                color:
                                  type: string
                                backgroundColor:
                                  type: string
                        dealDetails:
                          type: object
                          properties:
                            state:
                              type: string
                            type:
                              type: string
                            id:
                              type: string
                  refinements:
                    type:
                      - array
                      - "null"

  /gp/bestsellers/:
    get:
      operationId: getBestSellers
      summary: "Get Amazon best sellers — title, price, rating, rank, image"
      x-openweb:
        permission: read
        build:
          stable_id: amz_getBestSellers_v1
          tool_version: 2
        adapter:
          name: amazon
          operation: getBestSellers
      parameters: []
      responses:
        "200":
          description: Best seller product listings.
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required:
                        - rank
                        - title
                      properties:
                        rank:
                          type: integer
                        title:
                          type: string
                        price:
                          type: string
                        rating:
                          type: string
                        link:
                          type: string
                        image:
                          type: string

  /cart/add:
    post:
      operationId: addToCart
      summary: "Add a product to the shopping cart by ASIN — returns cart count, confirmation, subtotal"
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: amz_addToCart_v1
          tool_version: 2
        adapter:
          name: amazon
          operation: addToCart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - asin
              properties:
                asin:
                  type: string
                  description: "Amazon Standard Identification Number (10-char alphanumeric, e.g. B00MVWGQX0)"
                  example: "B00MVWGQX0"
                quantity:
                  type: integer
                  description: "Number of items to add (default 1)"
                  default: 1
      responses:
        "200":
          description: Add-to-cart confirmation.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                  cartCount:
                    type: integer
                  message:
                    type: string
                  item:
                    type: object
                    properties:
                      title:
                        type: string
                      price:
                        type: string
                  subtotal:
                    type: string

  /cart/remove:
    post:
      operationId: removeFromCart
      summary: "Remove a product from the shopping cart by ASIN — returns updated cart count, subtotal"
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: amz_removeFromCart_v1
          tool_version: 2
        adapter:
          name: amazon
          operation: removeFromCart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - asin
              properties:
                asin:
                  type: string
                  description: "Amazon Standard Identification Number of the item to remove (10-char alphanumeric, e.g. B00MVWGQX0)"
                  example: "B00MVWGQX0"
      responses:
        "200":
          description: Remove-from-cart confirmation.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                  cartCount:
                    type: integer
                  message:
                    type: string
                  removedItem:
                    type: object
                    properties:
                      title:
                        type: string
                  subtotal:
                    type: string

  /gp/cart/view.html:
    get:
      operationId: getCart
      summary: "View current cart contents — items, quantities, prices, subtotal"
      x-openweb:
        permission: read
        build:
          stable_id: amz_getCart_v1
          tool_version: 2
        adapter:
          name: amazon
          operation: getCart
      parameters: []
      responses:
        "200":
          description: Cart contents.
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  cartCount:
                    type: integer
                  subtotal:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      required:
                        - asin
                        - title
                      properties:
                        asin:
                          type: string
                        title:
                          type: string
                        price:
                          type: string
                        quantity:
                          type: integer
                        image:
                          type: string
