openapi: '3.1.0'
info:
  title: Discord API
  version: '9'
  x-openweb:
    spec_version: '2.0'
servers:
  - url: https://discord.com
    x-openweb:
      transport: page
      auth:
        type: webpack_module_walk
        chunk_global: webpackChunkdiscord_app
        module_test: getToken
        call: getToken
        inject:
          header: Authorization
paths:
  /api/v10/gateway:
    get:
      operationId: get_gateway
      summary: Get the WebSocket gateway URL
      servers:
        - url: https://discord.com/public-api
      x-openweb:
        permission: read
        transport: node
        requires_auth: false
        build:
          stable_id: discord_gateway
          tool_version: 2
          verified: true
          signals:
            - status-match
      responses:
        '200':
          description: Gateway URL for WebSocket connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                required:
                  - url
  /api/v9/invites/{invite_code}:
    get:
      operationId: get_invite
      summary: Get server info via invite code
      servers:
        - url: https://discord.com/public-api
      x-openweb:
        permission: read
        transport: node
        requires_auth: false
        build:
          stable_id: discord_invite
          tool_version: 2
          verified: true
          signals:
            - status-match
      parameters:
        - name: invite_code
          in: path
          required: true
          schema:
            type: string
          description: The invite code or vanity URL
        - name: with_counts
          in: query
          schema:
            type: boolean
            default: true
          description: Include approximate member counts
        - name: with_expiration
          in: query
          schema:
            type: boolean
            default: true
          description: Include expiration info
      responses:
        '200':
          description: Invite object with guild and channel info
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: integer
                  code:
                    type: string
                  expires_at:
                    type:
                      - string
                      - 'null'
                  guild:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      description:
                        type:
                          - string
                          - 'null'
                      icon:
                        type:
                          - string
                          - 'null'
                      banner:
                        type:
                          - string
                          - 'null'
                      features:
                        type: array
                        items:
                          type: string
                      verification_level:
                        type: integer
                      vanity_url_code:
                        type:
                          - string
                          - 'null'
                      nsfw_level:
                        type: integer
                      premium_subscription_count:
                        type: integer
                    required:
                      - id
                      - name
                  channel:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: integer
                      name:
                        type: string
                    required:
                      - id
                      - type
                      - name
                  approximate_member_count:
                    type: integer
                  approximate_presence_count:
                    type: integer
                required:
                  - type
                  - code
                  - guild
                  - channel
  /api/v9/users/@me:
    get:
      operationId: get_me
      summary: Get the current user
      x-openweb:
        permission: read
        build:
          stable_id: discord0001
          tool_version: 1
          verified: true
          signals:
            - status-match
      responses:
        '200':
          description: Current user object
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  username:
                    type: string
                  discriminator:
                    type: string
                  avatar:
                    type:
                      - string
                      - 'null'
                  email:
                    type: string
                required:
                  - id
                  - username
  /api/v9/users/@me/guilds:
    get:
      operationId: get_guilds
      summary: List guilds the user belongs to
      x-openweb:
        permission: read
        build:
          stable_id: discord0002
          tool_version: 1
          verified: true
          signals:
            - status-match
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 200
          description: Max number of guilds to return (1-200)
      responses:
        '200':
          description: Array of guild objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    icon:
                      type: string
                    owner:
                      type: boolean
                  required:
                    - id
                    - name
  /api/v9/channels/{channel_id}/messages:
    get:
      operationId: get_channel_messages
      summary: Get messages from a channel
      x-openweb:
        permission: read
        build:
          stable_id: discord0003
          tool_version: 1
          verified: true
          signals:
            - status-match
      parameters:
        - name: channel_id
          in: path
          required: true
          schema:
            type: string
          description: The channel ID to fetch messages from
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
          description: Max number of messages to return (1-100)
      responses:
        '200':
          description: Array of message objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    content:
                      type: string
                    author:
                      type: object
                    timestamp:
                      type: string
                  required:
                    - id
                    - content
                    - author
                    - timestamp
