openapi: 3.1.0
info:
  title: discord
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-29T04:25:45.868Z
    requires_auth: true
servers:
  - url: https://discord.com
    x-openweb:
      transport: page
      auth:
        type: webpack_module_walk
        chunk_global: webpackChunkdiscord_app
        module_test: getToken
        call: getToken
        inject:
          header: Authorization
paths:
  /api/v9/channels/{channelId}:
    get:
      operationId: getChannelInfo
      summary: "Get channel details — name, type, topic, guild ID, position, permission overwrites, rate limit"
      x-openweb:
        permission: read
        build:
          stable_id: c680f0f6f388df44
          tool_version: 2
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: "Discord channel snowflake ID"
          example: "1280234300012494862"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: integer
                  guild_id:
                    type: string
                  name:
                    type: string
                  topic:
                    type:
                      - string
                      - "null"
                  position:
                    type: integer
                  last_message_id:
                    type: string
                  flags:
                    type: integer
                  parent_id:
                    type:
                      - string
                      - "null"
                  rate_limit_per_user:
                    type: integer
                  nsfw:
                    type: boolean
                  permission_overwrites:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: integer
                        allow:
                          type: string
                        deny:
                          type: string
                  icon_emoji:
                    type:
                      - object
                      - "null"
                  theme_color:
                    type:
                      - integer
                      - "null"
  /api/v9/channels/{channelId}/messages:
    get:
      operationId: getChannelMessages
      summary: "Get messages in a channel — content, author, attachments, embeds, reactions, timestamps"
      x-openweb:
        permission: read
        build:
          stable_id: d4c95404d9be792f
          tool_version: 2
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: "Discord channel snowflake ID"
          example: "1280234300012494862"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: "Number of messages to return (1-100, default 50)"
          example: 50
        - name: before
          in: query
          required: false
          schema:
            type: string
          description: "Get messages before this message snowflake ID (for pagination)"
        - name: after
          in: query
          required: false
          schema:
            type: string
          description: "Get messages after this message snowflake ID"
        - name: around
          in: query
          required: false
          schema:
            type: string
          description: "Get messages around this message snowflake ID"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: integer
                    channel_id:
                      type: string
                    content:
                      type: string
                    author:
                      type: object
                      properties:
                        id:
                          type: string
                        username:
                          type: string
                        discriminator:
                          type: string
                        global_name:
                          type:
                            - string
                            - "null"
                        avatar:
                          type:
                            - string
                            - "null"
                        public_flags:
                          type: integer
                        banner:
                          type:
                            - string
                            - "null"
                        accent_color:
                          type:
                            - integer
                            - "null"
                        banner_color:
                          type:
                            - string
                            - "null"
                    timestamp:
                      type: string
                    edited_timestamp:
                      type:
                        - string
                        - "null"
                    flags:
                      type: integer
                    pinned:
                      type: boolean
                    mention_everyone:
                      type: boolean
                    tts:
                      type: boolean
                    mentions:
                      type: array
                      items:
                        type: object
                    mention_roles:
                      type: array
                      items:
                        type: string
                    attachments:
                      type: array
                      items:
                        type: object
                    embeds:
                      type: array
                      items:
                        type: object
                    components:
                      type: array
                      items:
                        type: object
                    reactions:
                      type: array
                      items:
                        type: object
  /api/v9/users/@me/entitlements:
    get:
      operationId: getMyEntitlements
      summary: "Get current user's entitlements — Nitro subscriptions, boosts, premium features"
      x-openweb:
        permission: read
        build:
          stable_id: 05b926f7a81ef9ef
          tool_version: 2
      parameters:
        - name: entitlement_type
          in: query
          required: false
          schema:
            type: integer
          description: "Filter by entitlement type"
          example: 1
        - name: exclude_ended
          in: query
          required: false
          schema:
            type: string
          description: "Exclude expired entitlements"
          example: "true"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    sku_id:
                      type: string
                    application_id:
                      type: string
                    user_id:
                      type: string
                    type:
                      type: integer
                    deleted:
                      type: boolean
                    starts_at:
                      type:
                        - string
                        - "null"
                    ends_at:
                      type:
                        - string
                        - "null"
                    guild_id:
                      type:
                        - string
                        - "null"
                    subscription_id:
                      type:
                        - string
                        - "null"
  /api/v9/users/@me/scheduled-events:
    get:
      operationId: getMyScheduledEvents
      summary: "Get current user's scheduled events across guilds"
      x-openweb:
        permission: read
        build:
          stable_id: 7994b7c3e1e5ea5d
          tool_version: 2
      parameters:
        - name: guild_ids
          in: query
          required: false
          schema:
            type: string
          description: "Comma-separated guild snowflake IDs to filter events"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    guild_id:
                      type: string
                    channel_id:
                      type:
                        - string
                        - "null"
                    creator_id:
                      type: string
                    name:
                      type: string
                    description:
                      type:
                        - string
                        - "null"
                    scheduled_start_time:
                      type: string
                    scheduled_end_time:
                      type:
                        - string
                        - "null"
                    privacy_level:
                      type: integer
                    status:
                      type: integer
                    entity_type:
                      type: integer
                    entity_id:
                      type:
                        - string
                        - "null"
                    user_count:
                      type: integer
