openapi: 3.1.0
info:
  title: discord
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T18:55:31.748Z
    requires_auth: true
servers:
  - url: https://discord.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: browser_timezone
        header: x-discord-timezone
paths:
  /api/v9/{param}:
    get:
      operationId: get
      summary: Get
      x-openweb:
        permission: read
        build:
          stable_id: 8a9f326c5def27b8
          tool_version: 2
      parameters:
        - name: param
          in: path
          required: true
          schema:
            type: string
          example: experiments
        - name: locale
          in: query
          required: false
          schema:
            type: string
          example: en-US
        - name: platform
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: with_guild_experiments
          in: query
          required: false
          schema:
            type: string
          example: "true"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignments:
                    type: array
                    items:
                      type: array
                      items:
                        anyOf:
                          - type: integer
                          - type: "null"
                  guild_experiments:
                    type: array
                    items:
                      type: array
                      items:
                        anyOf:
                          - type: integer
                          - type: string
                            enum:
                              - 2022-01_guild_role_subscription_trials
                              - 2022-11_creator_monetization_onboarding_waitlist
                          - type: array
                            items:
                              anyOf:
                                - type: array
                                  items:
                                    type: array
                                    items:
                                      type: array
                                      items:
                                        anyOf:
                                          - type: integer
                                          - type: array
                                            items:
                                              anyOf:
                                                - type: object
                                                  properties:
                                                    s:
                                                      type: integer
                                                    e:
                                                      type: integer
                                                  required:
                                                    - s
                                                    - e
                                                - type: array
                                                  items:
                                                    anyOf:
                                                      - type: integer
                                                      - type: object
                                                        properties:
                                                          s:
                                                            type: integer
                                                          e:
                                                            type: integer
                                                        required:
                                                          - s
                                                          - e
                                                      - type: array
                                                        items:
                                                          anyOf:
                                                            - type: integer
                                                            - type: array
                                                            - type: string
                                                              enum:
                                                                - COMMUNITY
                                                                - PARTNERED
                                                                - VOICE_IN_THREADS
                                                - type: integer
                                - type: object
                                  properties:
                                    b:
                                      type: integer
                                    k:
                                      type: array
                                      items:
                                        type: string
                                  required:
                                    - b
                                    - k
                          - type: "null"
                required:
                  - assignments
                  - guild_experiments
        "401":
          description: Authentication required.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                      - "401: Unauthorized"
                  code:
                    type: integer
                required:
                  - message
                  - code
    post:
      operationId: create
      summary: Create
      x-openweb:
        permission: write
        build:
          stable_id: 6e61a55814bf1d47
          tool_version: 2
      parameters:
        - name: param
          in: path
          required: true
          schema:
            type: string
          example: science
      responses:
        "204":
          description: Success.
          content:
            "":
              schema:
                type: object
  /api/v9/auth/conditional/start:
    post:
      operationId: createAuthConditionalStart
      summary: Create auth conditional start
      x-openweb:
        permission: write
        build:
          stable_id: 869fd21c4986ccd2
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge:
                    type: string
                    enum:
                      - '{"publicKey":{"challenge":"4BSR9N1Tj_rVqAzUDapItO_9kBSxLKhuhPsg5jWvTM4","timeout":300000,"rpId":"discord.com","allowCredentials":[],"userVerification":"required","extensions":{"uvm":true}},"mediation":"conditional"}'
                  ticket:
                    type: string
                    format: uuid
                required:
                  - challenge
                  - ticket
  /api/v9/auth/location-metadata:
    get:
      operationId: getAuthLocationMetadata
      summary: Get auth location-metadata
      x-openweb:
        permission: read
        build:
          stable_id: 21958ffa3cbb953f
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  consent_required:
                    type: boolean
                  country_code:
                    type: string
                    enum:
                      - US
                  promotional_email_opt_in:
                    type: object
                    properties:
                      required:
                        type: boolean
                      pre_checked:
                        type: boolean
                    required:
                      - required
                      - pre_checked
                required:
                  - consent_required
                  - country_code
                  - promotional_email_opt_in
  /assets/8cd44e13e08a252f.module.wasm:
    get:
      operationId: getAssets8cd44e13e08a252f.module.wasm
      summary: Get assets 8cd44e13e08a252f.module.wasm
      x-openweb:
        permission: read
        build:
          stable_id: 0a245902aacbfbf2
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/wasm:
              schema:
                type: object
  /cdn-cgi/challenge-platform/h/g/jsd/oneshot/{id}/0.36707159097325237:1774424211:9_pSV23kWGmNtldQToc5YDBzJFUfKD8QS_h75YB-Zx0/{id}:
    post:
      operationId: createCdnCgiChallengePlatformHGJsdOneshot0.36707159097325237:1774424211:9Psv23kwgmntldqtoc5ydbzjfufkd8qsH75ybZx0
      summary: Create cdn-cgi challenge-platform h g jsd oneshot
        0.36707159097325237:1774424211:9 psv23kwgmntldqtoc5ydbzjfufkd8qs
        h75yb-zx0
      x-openweb:
        permission: write
        build:
          stable_id: a6d06f0f95fedf3a
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 9e38d0501980e62d
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: 9e38d0501980e62d
      responses:
        "200":
          description: Success.
          content:
            text/plain; charset=utf-8:
              schema:
                type: object
  /channels/@me:
    get:
      operationId: getChannels@me
      summary: Get channels @me
      x-openweb:
        permission: read
        build:
          stable_id: ed798c4271fde137
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            text/html:
              schema:
                type: object
