openapi: 3.1.0
info:
  title: discord
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-31T15:22:35.791Z
    requires_auth: true
servers:
  - url: https://discord.com
    x-openweb:
      transport: page
      auth:
        type: webpack_module_walk
        chunk_global: webpackChunkdiscord_app
        module_test: getToken
        call: getToken
        app_path: /channels/@me
        inject:
          header: Authorization
paths:
  /api/v9/users/@me:
    get:
      operationId: getCurrentUser
      summary: "Get current user profile — username, avatar, email, Nitro status, flags"
      x-openweb:
        permission: read
        build:
          stable_id: a1b2c3d4e5f6a7b8
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  username:
                    type: string
                  global_name:
                    type:
                      - string
                      - "null"
                  avatar:
                    type:
                      - string
                      - "null"
                  discriminator:
                    type: string
                  public_flags:
                    type: integer
                  flags:
                    type: integer
                  banner:
                    type:
                      - string
                      - "null"
                  accent_color:
                    type:
                      - integer
                      - "null"
                  mfa_enabled:
                    type: boolean
                  locale:
                    type: string
                  premium_type:
                    type: integer
                  email:
                    type: string
                  verified:
                    type: boolean
                  bio:
                    type: string
  /api/v9/users/@me/guilds:
    get:
      operationId: listGuilds
      summary: "List current user's guilds — name, icon, owner status, permissions, features"
      x-openweb:
        permission: read
        build:
          stable_id: b2c3d4e5f6a7b8c9
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    icon:
                      type:
                        - string
                        - "null"
                    banner:
                      type:
                        - string
                        - "null"
                    owner:
                      type: boolean
                    permissions:
                      type: string
                    features:
                      type: array
                      items:
                        type: string
  /api/v9/users/@me/channels:
    get:
      operationId: getDirectMessages
      summary: "List DM channels — recipients, last message ID, channel type, flags"
      x-openweb:
        permission: read
        build:
          stable_id: c3d4e5f6a7b8c9d0
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: integer
                    last_message_id:
                      type:
                        - string
                        - "null"
                    flags:
                      type: integer
                    recipients:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          username:
                            type: string
                          global_name:
                            type:
                              - string
                              - "null"
                          avatar:
                            type:
                              - string
                              - "null"
  /api/v9/guilds/{guildId}:
    get:
      operationId: getGuildInfo
      summary: "Get guild details — name, icon, description, owner, member count, roles, features, premium tier"
      x-openweb:
        permission: read
        build:
          stable_id: d4e5f6a7b8c9d0e1
          tool_version: 2
      parameters:
        - name: guildId
          in: path
          required: true
          schema:
            type: string
          description: "Discord guild (server) snowflake ID"
          example: "1280234300012494859"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  icon:
                    type:
                      - string
                      - "null"
                  description:
                    type:
                      - string
                      - "null"
                  owner_id:
                    type: string
                  region:
                    type: string
                  afk_timeout:
                    type: integer
                  verification_level:
                    type: integer
                  max_members:
                    type: integer
                  premium_tier:
                    type: integer
                  premium_subscription_count:
                    type: integer
                  preferred_locale:
                    type: string
                  nsfw:
                    type: boolean
                  nsfw_level:
                    type: integer
                  features:
                    type: array
                    items:
                      type: string
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        permissions:
                          type: string
                        position:
                          type: integer
                        color:
                          type: integer
                        hoist:
                          type: boolean
                        mentionable:
                          type: boolean
                  emojis:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        animated:
                          type: boolean
                        available:
                          type: boolean
                  stickers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        type:
                          type: integer
                        format_type:
                          type: integer
  /api/v9/guilds/{guildId}/channels:
    get:
      operationId: listGuildChannels
      summary: "List channels in a guild — name, type, position, topic, permission overwrites"
      x-openweb:
        permission: read
        build:
          stable_id: e5f6a7b8c9d0e1f2
          tool_version: 2
      parameters:
        - name: guildId
          in: path
          required: true
          schema:
            type: string
          description: "Discord guild (server) snowflake ID"
          example: "1280234300012494859"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: integer
                    name:
                      type: string
                    guild_id:
                      type: string
                    position:
                      type: integer
                    parent_id:
                      type:
                        - string
                        - "null"
                    topic:
                      type:
                        - string
                        - "null"
                    nsfw:
                      type: boolean
                    rate_limit_per_user:
                      type: integer
                    flags:
                      type: integer
                    permission_overwrites:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          type:
                            type: integer
                          allow:
                            type: string
                          deny:
                            type: string
                    last_message_id:
                      type:
                        - string
                        - "null"
  /api/v9/guilds/{guildId}/roles:
    get:
      operationId: getGuildRoles
      summary: "List roles in a guild — name, permissions, color, position, hoisted, mentionable"
      x-openweb:
        permission: read
        build:
          stable_id: f6a7b8c9d0e1f2a3
          tool_version: 2
      parameters:
        - name: guildId
          in: path
          required: true
          schema:
            type: string
          description: "Discord guild (server) snowflake ID"
          example: "1280234300012494859"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    description:
                      type:
                        - string
                        - "null"
                    permissions:
                      type: string
                    position:
                      type: integer
                    color:
                      type: integer
                    hoist:
                      type: boolean
                    managed:
                      type: boolean
                    mentionable:
                      type: boolean
                    flags:
                      type: integer
  /api/v9/guilds/{guildId}/messages/search:
    get:
      operationId: searchMessages
      summary: "Search messages in a guild — matches with context, total results count"
      x-openweb:
        permission: read
        build:
          stable_id: a7b8c9d0e1f2a3b4
          tool_version: 2
      parameters:
        - name: guildId
          in: path
          required: true
          schema:
            type: string
          description: "Discord guild (server) snowflake ID"
          example: "1280234300012494859"
        - name: content
          in: query
          required: true
          schema:
            type: string
          description: "Search query text"
          example: "hello"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_results:
                    type: integer
                  messages:
                    type: array
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          content:
                            type: string
                          author:
                            type: object
                            properties:
                              id:
                                type: string
                              username:
                                type: string
                              global_name:
                                type:
                                  - string
                                  - "null"
                              avatar:
                                type:
                                  - string
                                  - "null"
                          channel_id:
                            type: string
                          timestamp:
                            type: string
                          hit:
                            type: boolean
  /api/v9/channels/{channelId}:
    get:
      operationId: getChannelInfo
      summary: "Get channel details — name, type, topic, guild ID, position, permission overwrites, rate limit"
      x-openweb:
        permission: read
        build:
          stable_id: c680f0f6f388df44
          tool_version: 2
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: "Discord channel snowflake ID"
          example: "1280234300012494862"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: integer
                  guild_id:
                    type: string
                  name:
                    type: string
                  topic:
                    type:
                      - string
                      - "null"
                  position:
                    type: integer
                  last_message_id:
                    type: string
                  flags:
                    type: integer
                  parent_id:
                    type:
                      - string
                      - "null"
                  rate_limit_per_user:
                    type: integer
                  nsfw:
                    type: boolean
                  permission_overwrites:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: integer
                        allow:
                          type: string
                        deny:
                          type: string
  /api/v9/channels/{channelId}/messages:
    post:
      operationId: sendMessage
      summary: "Send a message to a channel — returns the created message with ID, content, author, timestamp"
      x-openweb:
        permission: write
        build:
          stable_id: e1a2b3c4d5e6f708
          tool_version: 2
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: "Discord channel snowflake ID"
          example: "1280234300012494862"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  description: "Message content (up to 2000 characters)"
                  example: "Hello from OpenWeb!"
                tts:
                  type: boolean
                  description: "Whether this is a text-to-speech message"
                nonce:
                  type: string
                  description: "Nonce for message deduplication"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: integer
                  channel_id:
                    type: string
                  content:
                    type: string
                  author:
                    type: object
                    properties:
                      id:
                        type: string
                      username:
                        type: string
                      discriminator:
                        type: string
                      global_name:
                        type:
                          - string
                          - "null"
                      avatar:
                        type:
                          - string
                          - "null"
                      public_flags:
                        type: integer
                  timestamp:
                    type: string
                  edited_timestamp:
                    type:
                      - string
                      - "null"
                  flags:
                    type: integer
                  pinned:
                    type: boolean
                  mention_everyone:
                    type: boolean
                  tts:
                    type: boolean
                  mentions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        username:
                          type: string
                  mention_roles:
                    type: array
                    items:
                      type: string
                  attachments:
                    type: array
                    items:
                      type: object
                  embeds:
                    type: array
                    items:
                      type: object
                  components:
                    type: array
                    items:
                      type: object
    get:
      operationId: getChannelMessages
      summary: "Get messages in a channel — content, author, attachments, embeds, reactions, timestamps"
      x-openweb:
        permission: read
        build:
          stable_id: d4c95404d9be792f
          tool_version: 2
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: "Discord channel snowflake ID"
          example: "1280234300012494862"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: "Number of messages to return (1-100, default 50)"
          example: 50
        - name: before
          in: query
          required: false
          schema:
            type: string
          description: "Get messages before this message snowflake ID (for pagination)"
        - name: after
          in: query
          required: false
          schema:
            type: string
          description: "Get messages after this message snowflake ID"
        - name: around
          in: query
          required: false
          schema:
            type: string
          description: "Get messages around this message snowflake ID"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: integer
                    channel_id:
                      type: string
                    content:
                      type: string
                    author:
                      type: object
                      properties:
                        id:
                          type: string
                        username:
                          type: string
                        discriminator:
                          type: string
                        global_name:
                          type:
                            - string
                            - "null"
                        avatar:
                          type:
                            - string
                            - "null"
                        public_flags:
                          type: integer
                    timestamp:
                      type: string
                    edited_timestamp:
                      type:
                        - string
                        - "null"
                    flags:
                      type: integer
                    pinned:
                      type: boolean
                    mention_everyone:
                      type: boolean
                    tts:
                      type: boolean
                    mentions:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          username:
                            type: string
                    mention_roles:
                      type: array
                      items:
                        type: string
                    attachments:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          filename:
                            type: string
                          url:
                            type: string
                          size:
                            type: integer
                          content_type:
                            type: string
                    embeds:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          title:
                            type: string
                          url:
                            type: string
                          description:
                            type: string
                    components:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: integer
                    reactions:
                      type: array
                      items:
                        type: object
                        properties:
                          emoji:
                            type: object
                            properties:
                              id:
                                type:
                                  - string
                                  - "null"
                              name:
                                type: string
                          count:
                            type: integer
                          me:
                            type: boolean
  /api/v9/channels/{channelId}/pins:
    get:
      operationId: getPinnedMessages
      summary: "Get pinned messages in a channel — same fields as channel messages"
      x-openweb:
        permission: read
        build:
          stable_id: b8c9d0e1f2a3b4c5
          tool_version: 2
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: "Discord channel snowflake ID"
          example: "1280234300012494862"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: integer
                    channel_id:
                      type: string
                    content:
                      type: string
                    author:
                      type: object
                      properties:
                        id:
                          type: string
                        username:
                          type: string
                        discriminator:
                          type: string
                        global_name:
                          type:
                            - string
                            - "null"
                        avatar:
                          type:
                            - string
                            - "null"
                        public_flags:
                          type: integer
                    timestamp:
                      type: string
                    edited_timestamp:
                      type:
                        - string
                        - "null"
                    flags:
                      type: integer
                    pinned:
                      type: boolean
                    mention_everyone:
                      type: boolean
                    tts:
                      type: boolean
                    mentions:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          username:
                            type: string
                    mention_roles:
                      type: array
                      items:
                        type: string
                    attachments:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          filename:
                            type: string
                          url:
                            type: string
                          size:
                            type: integer
                          content_type:
                            type: string
                    embeds:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          title:
                            type: string
                          url:
                            type: string
                          description:
                            type: string
                    components:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: integer
                    reactions:
                      type: array
                      items:
                        type: object
                        properties:
                          emoji:
                            type: object
                            properties:
                              id:
                                type:
                                  - string
                                  - "null"
                              name:
                                type: string
                          count:
                            type: integer
                          me:
                            type: boolean
  /api/v9/channels/{channelId}/messages/{messageId}/reactions/{emoji}/@me:
    put:
      operationId: addReaction
      summary: "Add an emoji reaction to a message — returns 204 on success"
      x-openweb:
        permission: write
        build:
          stable_id: f2b3c4d5e6f70819
          tool_version: 2
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: "Discord channel snowflake ID"
          example: "1280234300012494862"
        - name: messageId
          in: path
          required: true
          schema:
            type: string
          description: "Discord message snowflake ID"
          example: "1280234300012494900"
        - name: emoji
          in: path
          required: true
          schema:
            type: string
          description: "URL-encoded emoji — Unicode (e.g. %F0%9F%91%8D) or custom (name:id)"
          example: "%F0%9F%91%8D"
      responses:
        "204":
          description: Success (no content).
