openapi: '3.1.0'
info:
  title: Google Maps Internal API
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
servers:
  - url: https://www.google.com
    x-openweb:
      transport: page
paths:
  /internal/searchPlaces:
    get:
      operationId: searchPlaces
      summary: Search places by query — returns names, addresses, ratings, types, coordinates
      x-openweb:
        permission: read
        build:
          stable_id: gm0001
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: google-maps-api
          operation: searchPlaces
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search query (e.g. "coffee shops in San Francisco", "restaurants near Times Square").
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Maximum number of results to return.
      responses:
        '200':
          description: Search results with place listings.
          content:
            application/json:
              schema:
                type: object
                required:
                  - places
                properties:
                  query:
                    type: string
                  places:
                    type: array
                    items:
                      type: object
                      properties:
                        placeId:
                          type: string
                          description: Google Maps place ID (hex format, use with getPlaceDetails).
                        name:
                          type: string
                        address:
                          type: string
                        rating:
                          type:
                            - number
                            - 'null'
                        reviewCount:
                          type:
                            - integer
                            - 'null'
                        priceLevel:
                          type:
                            - string
                            - 'null'
                          description: Price range (e.g. "$10–20").
                        types:
                          type: array
                          items:
                            type: string
                          description: Place categories (e.g. "coffee_shop", "restaurant").
                        lat:
                          type: number
                        lng:
                          type: number
  /internal/getPlaceDetails:
    get:
      operationId: getPlaceDetails
      summary: Get place details — name, address, rating, reviews, hours, website, phone, description
      x-openweb:
        permission: read
        build:
          stable_id: gm0002
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: google-maps-api
          operation: getPlaceDetails
      parameters:
        - name: placeId
          in: query
          required: true
          schema:
            type: string
          description: Place ID from searchPlaces (hex format "0x...:0x...").
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Place name (helps Maps resolve the place).
      responses:
        '200':
          description: Full place details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  placeId:
                    type: string
                  address:
                    type: string
                  lat:
                    type: number
                  lng:
                    type: number
                  rating:
                    type:
                      - number
                      - 'null'
                  reviewCount:
                    type:
                      - integer
                      - 'null'
                  priceLevel:
                    type:
                      - string
                      - 'null'
                  website:
                    type:
                      - string
                      - 'null'
                  phone:
                    type:
                      - string
                      - 'null'
                  placeType:
                    type:
                      - string
                      - 'null'
                  description:
                    type:
                      - string
                      - 'null'
                  hours:
                    type:
                      - string
                      - 'null'
                    description: Current open/close status text.
                  reviews:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                        authorUrl:
                          type:
                            - string
                            - 'null'
  /internal/getDirections:
    get:
      operationId: getDirections
      summary: Get driving directions between two locations — routes, distances, durations
      x-openweb:
        permission: read
        build:
          stable_id: gm0003
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: google-maps-api
          operation: getDirections
      parameters:
        - name: origin
          in: query
          required: true
          schema:
            type: string
          description: Starting location (address or place name).
        - name: destination
          in: query
          required: true
          schema:
            type: string
          description: Ending location (address or place name).
      responses:
        '200':
          description: Directions with route options.
          content:
            application/json:
              schema:
                type: object
                required:
                  - routes
                properties:
                  origin:
                    type: string
                  destination:
                    type: string
                  routes:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Route name (e.g. "I-5 S").
                        distanceMeters:
                          type: integer
                        distanceText:
                          type: string
                          description: Human-readable distance (e.g. "383 miles").
                        durationSeconds:
                          type: integer
                        durationText:
                          type: string
                          description: Human-readable duration (e.g. "5 hr 53 min").
                        summary:
                          type:
                            - string
                            - 'null'
                          description: Route summary text.
  /internal/getPlaceReviews:
    get:
      operationId: getPlaceReviews
      summary: Get place reviews — author names, ratings, text, relative time
      x-openweb:
        permission: read
        build:
          stable_id: gm0004
          tool_version: 1
          verified: false
          signals:
            - adapter-verified
        adapter:
          name: google-maps-api
          operation: getPlaceReviews
      parameters:
        - name: placeId
          in: query
          required: true
          schema:
            type: string
          description: Place ID from searchPlaces (hex format "0x...:0x...").
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Place name (helps Maps resolve the place).
      responses:
        '200':
          description: Place reviews with author details.
          content:
            application/json:
              schema:
                type: object
                required:
                  - reviews
                properties:
                  placeName:
                    type:
                      - string
                      - 'null'
                  placeId:
                    type: string
                  rating:
                    type:
                      - number
                      - 'null'
                    description: Overall place rating.
                  reviewCount:
                    type:
                      - integer
                      - 'null'
                  reviews:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                        authorName:
                          type:
                            - string
                            - 'null'
                        authorUrl:
                          type:
                            - string
                            - 'null'
                        rating:
                          type:
                            - number
                            - 'null'
                          description: Individual review star rating.
                        relativeTime:
                          type:
                            - string
                            - 'null'
                          description: When the review was posted (e.g. "2 months ago").
  /internal/getPlacePhotos:
    get:
      operationId: getPlacePhotos
      summary: Get place photo URLs — images with dimensions and captions
      x-openweb:
        permission: read
        build:
          stable_id: gm0005
          tool_version: 1
          verified: false
          signals:
            - adapter-verified
        adapter:
          name: google-maps-api
          operation: getPlacePhotos
      parameters:
        - name: placeId
          in: query
          required: true
          schema:
            type: string
          description: Place ID from searchPlaces (hex format "0x...:0x...").
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Place name (helps Maps resolve the place).
      responses:
        '200':
          description: Place photos with URLs.
          content:
            application/json:
              schema:
                type: object
                required:
                  - photos
                properties:
                  placeName:
                    type:
                      - string
                      - 'null'
                  placeId:
                    type: string
                  photos:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          description: Direct photo URL.
                        width:
                          type:
                            - integer
                            - 'null'
                        height:
                          type:
                            - integer
                            - 'null'
                        caption:
                          type:
                            - string
                            - 'null'
  /internal/nearbySearch:
    get:
      operationId: nearbySearch
      summary: Search places by category near a location — restaurants, hotels, etc.
      x-openweb:
        permission: read
        build:
          stable_id: gm0006
          tool_version: 1
          verified: false
          signals:
            - adapter-verified
        adapter:
          name: google-maps-api
          operation: nearbySearch
      parameters:
        - name: category
          in: query
          required: true
          schema:
            type: string
          description: Place category (e.g. "restaurants", "hotels", "gas stations", "pharmacies").
        - name: location
          in: query
          required: true
          schema:
            type: string
          description: Location to search near (e.g. "Times Square", "downtown Seattle").
      responses:
        '200':
          description: Nearby places matching the category.
          content:
            application/json:
              schema:
                type: object
                required:
                  - places
                properties:
                  category:
                    type: string
                  location:
                    type: string
                  places:
                    type: array
                    items:
                      type: object
                      properties:
                        placeId:
                          type: string
                        name:
                          type: string
                        address:
                          type: string
                        rating:
                          type:
                            - number
                            - 'null'
                        reviewCount:
                          type:
                            - integer
                            - 'null'
                        priceLevel:
                          type:
                            - string
                            - 'null'
                        types:
                          type: array
                          items:
                            type: string
                        lat:
                          type: number
                        lng:
                          type: number
  /internal/getAutocompleteSuggestions:
    get:
      operationId: getAutocompleteSuggestions
      summary: Get autocomplete suggestions for a partial search query
      x-openweb:
        permission: read
        build:
          stable_id: gm0007
          tool_version: 1
          verified: false
          signals:
            - adapter-verified
        adapter:
          name: google-maps-api
          operation: getAutocompleteSuggestions
      parameters:
        - name: input
          in: query
          required: true
          schema:
            type: string
          description: Partial search text (e.g. "Statue of Lib", "coffee near dow").
      responses:
        '200':
          description: Autocomplete suggestions.
          content:
            application/json:
              schema:
                type: object
                required:
                  - suggestions
                properties:
                  input:
                    type: string
                  suggestions:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                          description: Suggested completion text.
                        placeId:
                          type:
                            - string
                            - 'null'
                          description: Place ID if the suggestion is a specific place.
                        description:
                          type:
                            - string
                            - 'null'
                          description: Additional context about the suggestion.
