openapi: '3.1.0'
info:
  title: Google Maps Internal API
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
servers:
- url: https://www.google.com
  x-openweb:
    transport: page
    auth:
      type: cookie_session
paths:
  /internal/searchPlaces:
    get:
      operationId: searchPlaces
      summary: Search places by query — returns names, addresses, ratings, types, coordinates
      x-openweb:
        permission: read
        build:
          stable_id: gm0001
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: searchPlaces
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Search query (e.g. "coffee shops in San Francisco", "restaurants near Times Square").
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
        description: Maximum number of results to return.
      responses:
        '200':
          description: Search results with place listings.
          content:
            application/json:
              schema:
                type: object
                required:
                - places
                properties:
                  query:
                    type: string
                  places:
                    type: array
                    items:
                      type: object
                      properties:
                        placeId:
                          type: string
                          description: Google Maps place ID (hex format, use with getPlaceDetails).
                        name:
                          type: string
                        address:
                          type: string
                        rating:
                          type:
                          - number
                          - 'null'
                        reviewCount:
                          type:
                          - integer
                          - 'null'
                        priceLevel:
                          type:
                          - string
                          - 'null'
                          description: Price range (e.g. "$10–20").
                        types:
                          type: array
                          items:
                            type: string
                          description: Place categories (e.g. "coffee_shop", "restaurant").
                        lat:
                          type: number
                        lng:
                          type: number
  /internal/getPlaceDetails:
    get:
      operationId: getPlaceDetails
      summary: Get place details — name, address, rating, reviews, hours, website, phone, description
      x-openweb:
        permission: read
        build:
          stable_id: gm0002
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: getPlaceDetails
      parameters:
      - name: placeId
        in: query
        required: true
        schema:
          type: string
        description: Place ID from searchPlaces (hex format "0x...:0x...").
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Place name (helps Maps resolve the place).
      responses:
        '200':
          description: Full place details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  placeId:
                    type: string
                  address:
                    type: string
                  lat:
                    type: number
                  lng:
                    type: number
                  rating:
                    type:
                    - number
                    - 'null'
                  reviewCount:
                    type:
                    - integer
                    - 'null'
                  priceLevel:
                    type:
                    - string
                    - 'null'
                  website:
                    type:
                    - string
                    - 'null'
                  phone:
                    type:
                    - string
                    - 'null'
                  placeType:
                    type:
                    - string
                    - 'null'
                  description:
                    type:
                    - string
                    - 'null'
                  hours:
                    type:
                    - string
                    - 'null'
                    description: Current open/close status text.
                  reviews:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                          description: Review text content.
                        authorUrl:
                          type:
                          - string
                          - 'null'
                          description: Link to reviewer's Google profile.
                        rating:
                          type:
                          - number
                          - 'null'
                          description: Individual review star rating (1-5).
                required:
                - name
                - reviews
  /internal/getDirections:
    get:
      operationId: getDirections
      summary: Get driving directions between two locations — routes, distances, durations
      x-openweb:
        permission: read
        build:
          stable_id: gm0003
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: getDirections
      parameters:
      - name: origin
        in: query
        required: true
        schema:
          type: string
        description: Starting location (address or place name).
      - name: destination
        in: query
        required: true
        schema:
          type: string
        description: Ending location (address or place name).
      responses:
        '200':
          description: Directions with route options.
          content:
            application/json:
              schema:
                type: object
                required:
                - routes
                properties:
                  origin:
                    type: string
                  destination:
                    type: string
                  routes:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Route name (e.g. "I-5 S").
                        distanceText:
                          type: string
                          description: Human-readable distance (e.g. "383 miles").
                        durationText:
                          type: string
                          description: Human-readable duration (e.g. "5 hr 53 min").
                        summary:
                          type:
                          - string
                          - 'null'
                          description: Route summary text.
  /internal/getPlaceReviews:
    get:
      operationId: getPlaceReviews
      summary: Get place reviews — author names, ratings, text, relative time
      x-openweb:
        permission: read
        build:
          stable_id: gm0004
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: getPlaceReviews
      parameters:
      - name: placeId
        in: query
        required: true
        schema:
          type: string
        description: Place ID from searchPlaces (hex format "0x...:0x...").
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Place name (helps Maps resolve the place).
      responses:
        '200':
          description: Place reviews with author details.
          content:
            application/json:
              schema:
                type: object
                required:
                - reviews
                properties:
                  placeName:
                    type:
                    - string
                    - 'null'
                  placeId:
                    type: string
                  rating:
                    type:
                    - number
                    - 'null'
                    description: Overall place rating.
                  reviewCount:
                    type:
                    - integer
                    - 'null'
                  reviews:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                        authorUrl:
                          type:
                          - string
                          - 'null'
                        rating:
                          type:
                          - number
                          - 'null'
                          description: Individual review star rating (1-5).
  /internal/getPlacePhotos:
    get:
      operationId: getPlacePhotos
      summary: Get place photo URLs — images with dimensions and captions
      x-openweb:
        permission: read
        build:
          stable_id: gm0005
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: getPlacePhotos
      parameters:
      - name: placeId
        in: query
        required: true
        schema:
          type: string
        description: Place ID from searchPlaces (hex format "0x...:0x...").
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Place name (helps Maps resolve the place).
      responses:
        '200':
          description: Place photos with URLs.
          content:
            application/json:
              schema:
                type: object
                required:
                - photos
                properties:
                  placeName:
                    type:
                    - string
                    - 'null'
                  placeId:
                    type: string
                  photos:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          description: Direct photo URL.
                        width:
                          type:
                          - integer
                          - 'null'
                        height:
                          type:
                          - integer
                          - 'null'
                        caption:
                          type:
                          - string
                          - 'null'
  /internal/nearbySearch:
    get:
      operationId: nearbySearch
      summary: Search places by category near a location — names, addresses, ratings, coordinates
      x-openweb:
        permission: read
        build:
          stable_id: gm0006
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: nearbySearch
      parameters:
      - name: category
        in: query
        required: true
        schema:
          type: string
        description: Place category (e.g. "restaurants", "hotels", "gas stations", "pharmacies").
      - name: location
        in: query
        required: true
        schema:
          type: string
        description: Location to search near (e.g. "Times Square", "downtown Seattle").
      responses:
        '200':
          description: Nearby places matching the category.
          content:
            application/json:
              schema:
                type: object
                required:
                - places
                properties:
                  category:
                    type: string
                  location:
                    type: string
                  places:
                    type: array
                    items:
                      type: object
                      properties:
                        placeId:
                          type: string
                        name:
                          type: string
                        address:
                          type: string
                        rating:
                          type:
                          - number
                          - 'null'
                        reviewCount:
                          type:
                          - integer
                          - 'null'
                        priceLevel:
                          type:
                          - string
                          - 'null'
                        types:
                          type: array
                          items:
                            type: string
                        lat:
                          type: number
                        lng:
                          type: number
  /internal/getAutocompleteSuggestions:
    get:
      operationId: getAutocompleteSuggestions
      summary: Get autocomplete suggestions — suggestion text, placeId, description
      x-openweb:
        permission: read
        build:
          stable_id: gm0007
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: getAutocompleteSuggestions
      parameters:
      - name: input
        in: query
        required: true
        schema:
          type: string
        description: Partial search text (e.g. "Statue of Lib", "coffee near dow").
      responses:
        '200':
          description: Autocomplete suggestions.
          content:
            application/json:
              schema:
                type: object
                required:
                - suggestions
                properties:
                  input:
                    type: string
                  suggestions:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                          description: Suggested completion text.
                        placeId:
                          type:
                          - string
                          - 'null'
                          description: Place ID if the suggestion is a specific place.
                        description:
                          type:
                          - string
                          - 'null'
                          description: Additional context about the suggestion.
  /internal/getTransitDirections:
    get:
      operationId: getTransitDirections
      summary: Get transit directions between two locations — routes, durations, public transport options
      x-openweb:
        permission: read
        build:
          stable_id: gm0008
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: getTransitDirections
      parameters:
      - name: origin
        in: query
        required: true
        schema:
          type: string
        description: Starting location (address or place name).
      - name: destination
        in: query
        required: true
        schema:
          type: string
        description: Ending location (address or place name).
      responses:
        '200':
          description: Transit directions with route options.
          content:
            application/json:
              schema:
                type: object
                required:
                - routes
                properties:
                  origin:
                    type: string
                  destination:
                    type: string
                  routes:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Route name or transit line.
                        distanceText:
                          type: string
                        durationText:
                          type: string
                          description: Human-readable duration (e.g. "45 min").
                        summary:
                          type:
                          - string
                          - 'null'
  /internal/getWalkingDirections:
    get:
      operationId: getWalkingDirections
      summary: Get walking directions between two locations — routes, distances, durations
      x-openweb:
        permission: read
        build:
          stable_id: gm0009
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: getWalkingDirections
      parameters:
      - name: origin
        in: query
        required: true
        schema:
          type: string
        description: Starting location (address or place name).
      - name: destination
        in: query
        required: true
        schema:
          type: string
        description: Ending location (address or place name).
      responses:
        '200':
          description: Walking directions with route options.
          content:
            application/json:
              schema:
                type: object
                required:
                - routes
                properties:
                  origin:
                    type: string
                  destination:
                    type: string
                  routes:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Route name.
                        distanceText:
                          type: string
                        durationText:
                          type: string
                          description: Human-readable duration (e.g. "25 min").
                        summary:
                          type:
                          - string
                          - 'null'
  /internal/getBicyclingDirections:
    get:
      operationId: getBicyclingDirections
      summary: Get bicycling directions between two locations — routes, distances, durations
      x-openweb:
        permission: read
        build:
          stable_id: gm0010
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: getBicyclingDirections
      parameters:
      - name: origin
        in: query
        required: true
        schema:
          type: string
        description: Starting location (address or place name).
      - name: destination
        in: query
        required: true
        schema:
          type: string
        description: Ending location (address or place name).
      responses:
        '200':
          description: Bicycling directions with route options.
          content:
            application/json:
              schema:
                type: object
                required:
                - routes
                properties:
                  origin:
                    type: string
                  destination:
                    type: string
                  routes:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Route name.
                        distanceText:
                          type: string
                        durationText:
                          type: string
                          description: Human-readable duration.
                        summary:
                          type:
                          - string
                          - 'null'
  /internal/getPlaceHours:
    get:
      operationId: getPlaceHours
      summary: Get place operating hours — weekly schedule, current open/closed status
      x-openweb:
        permission: read
        build:
          stable_id: gm0011
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: getPlaceHours
      parameters:
      - name: placeId
        in: query
        required: true
        schema:
          type: string
        description: Place ID from searchPlaces (hex format "0x...:0x...").
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Place name (helps Maps resolve the place).
      responses:
        '200':
          description: Place operating hours with weekly schedule.
          content:
            application/json:
              schema:
                type: object
                required:
                - placeId
                properties:
                  placeName:
                    type:
                    - string
                    - 'null'
                  placeId:
                    type: string
                  status:
                    type:
                    - string
                    - 'null'
                    description: Current open/closed status (e.g. "Open", "Closes at 10 PM").
                  schedule:
                    type: array
                    items:
                      type: object
                      properties:
                        day:
                          type: string
                          description: Day of the week.
                        hours:
                          type: string
                          description: Operating hours for that day (e.g. "9 AM–10 PM", "Closed").
  /internal/geocode:
    get:
      operationId: geocode
      summary: Convert address to coordinates — lat, lng, placeId from address string
      x-openweb:
        permission: read
        build:
          stable_id: gm0012
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: geocode
      parameters:
      - name: address
        in: query
        required: true
        schema:
          type: string
        description: Address or place name to geocode (e.g. "1600 Amphitheatre Parkway, Mountain View, CA").
      responses:
        '200':
          description: Geocoded location with coordinates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                    description: Input address string.
                  lat:
                    type:
                    - number
                    - 'null'
                  lng:
                    type:
                    - number
                    - 'null'
                  placeId:
                    type:
                    - string
                    - 'null'
                    description: Google Maps place ID for the resolved location.
                  formattedAddress:
                    type:
                    - string
                    - 'null'
                    description: Formatted address returned by Maps.
                  name:
                    type:
                    - string
                    - 'null'
                    description: Place name if the address resolves to a named place.
                required:
                - name
  /internal/reverseGeocode:
    get:
      operationId: reverseGeocode
      summary: Convert coordinates to address — address, place name from lat/lng
      x-openweb:
        permission: read
        build:
          stable_id: gm0013
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: reverseGeocode
      parameters:
      - name: lat
        in: query
        required: true
        schema:
          type: number
        description: Latitude coordinate.
      - name: lng
        in: query
        required: true
        schema:
          type: number
        description: Longitude coordinate.
      responses:
        '200':
          description: Reverse-geocoded location with address.
          content:
            application/json:
              schema:
                type: object
                properties:
                  lat:
                    type: number
                  lng:
                    type: number
                  address:
                    type:
                    - string
                    - 'null'
                    description: Resolved street address.
                  name:
                    type:
                    - string
                    - 'null'
                    description: Place or area name at the coordinates.
                  placeId:
                    type:
                    - string
                    - 'null'
                    description: Google Maps place ID if resolved.
                required:
                - name
  /internal/getPlaceAbout:
    get:
      operationId: getPlaceAbout
      summary: Get place about info — description, category, rating, website, phone, address
      x-openweb:
        permission: read
        build:
          stable_id: gm0014
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: google-maps-api
          operation: getPlaceAbout
      parameters:
      - name: placeId
        in: query
        required: true
        schema:
          type: string
        description: Place ID from searchPlaces (hex format "0x...:0x...").
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Place name (helps Maps resolve the place).
      responses:
        '200':
          description: Place about information.
          content:
            application/json:
              schema:
                type: object
                required:
                - placeId
                properties:
                  placeName:
                    type:
                    - string
                    - 'null'
                  placeId:
                    type: string
                  description:
                    type:
                    - string
                    - 'null'
                    description: Place description or editorial summary.
                  category:
                    type:
                    - string
                    - 'null'
                    description: Primary place category (e.g. "Coffee shop", "Restaurant").
                  address:
                    type:
                    - string
                    - 'null'
                  priceLevel:
                    type:
                    - string
                    - 'null'
                  rating:
                    type:
                    - number
                    - 'null'
                  reviewCount:
                    type:
                    - integer
                    - 'null'
                  website:
                    type:
                    - string
                    - 'null'
                  phone:
                    type:
                    - string
                    - 'null'
