openapi: 3.1.0
info:
  title: yelp
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-06T01:00:00.000Z
    requires_auth: false
servers:
  - url: https://www.yelp.com
    x-openweb:
      transport: node
paths:
  /search_suggest/v2/prefetch:
    get:
      operationId: autocompleteBusinesses
      summary: Autocomplete businesses and categories by prefix and location
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: 63a017c451fa4a34
          signature_id: 056612ff7b984329
          tool_version: 1
          signals:
            - status-match
      parameters:
        - name: loc
          in: query
          required: true
          schema:
            type: string
          description: Location to search near (e.g. "San Francisco", "New York").
          example: "San Francisco, CA"
        - name: prefix
          in: query
          required: true
          schema:
            type: string
          description: Search prefix text (e.g. "piz" for pizza, "coff" for coffee).
          example: piz
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                  - response
                properties:
                  unique_request_id:
                    type: string
                    description: Unique identifier for this autocomplete request
                  response:
                    type: array
                    description: Autocomplete response groups keyed by prefix
                    items:
                      type: object
                      required:
                        - prefix
                        - suggestions
                      properties:
                        prefix:
                          type: string
                          description: The prefix that generated these suggestions
                        suggestions:
                          type: array
                          description: List of autocomplete suggestions
                          items:
                            type: object
                            required:
                              - title
                              - type
                            properties:
                              title:
                                type: string
                                description: Display title of the suggestion
                              query:
                                type: string
                                description: Search query to use when selecting this suggestion
                              subtitle:
                                type:
                                  - string
                                  - "null"
                                description: Secondary text (e.g. category or location context)
                              type:
                                type: string
                                description: Suggestion type (e.g. "term", "business", "category")
                  should_not_cache:
                    type: boolean
                    description: Whether the client should skip caching this response
  /search/businesses:
    get:
      operationId: searchBusinesses
      summary: Search for businesses by keyword and location
      x-openweb:
        permission: read
        build:
          verified: true
          signals:
            - adapter-verified
        extraction:
          type: page_global_data
          page_url: /search
          expression: |
            (() => {
              // --- Parse SSR JSON for structured data ---
              const scripts = Array.from(document.querySelectorAll('script[type="application/json"]'));
              const large = scripts.find(s => (s.textContent?.length || 0) > 50000);
              let ssrData = null;
              if (large) {
                let text = large.textContent || '';
                if (text.startsWith('<!--')) text = text.slice(4);
                if (text.endsWith('-->')) text = text.slice(0, -3);
                try { ssrData = JSON.parse(text.trim()); } catch {}
              }

              const lp = ssrData?.legacyProps;
              const spp = lp?.searchAppProps?.searchPageProps;
              const ssrItems = spp?.mainContentComponentsListProps || [];
              const ctx = spp?.searchContext || lp?.searchContext || {};

              // Build a map of bizId -> SSR data (ads have full data, organic has partial)
              const ssrMap = {};
              for (const item of ssrItems) {
                if (!item.bizId) continue;
                const b = item.searchResultBusiness;
                ssrMap[item.bizId] = {
                  bizId: item.bizId,
                  name: b?.name || null,
                  alias: b?.alias || null,
                  rating: b?.rating ?? null,
                  reviewCount: b?.reviewCount ?? null,
                  priceRange: b?.priceRange || null,
                  phone: b?.phone || null,
                  categories: b?.categories ? b.categories.map(c => c.title) : null,
                  neighborhoods: b?.neighborhoods || null,
                  address: b?.formattedAddress || null,
                  isAd: item.isAd ?? b?.isAd ?? false,
                  ranking: item.ranking ?? null,
                  businessUrl: item.businessUrl || (b?.alias ? '/biz/' + b.alias : null),
                  snippet: item.snippet?.text
                    ?.replace(/\[\[HIGHLIGHT\]\]/g, '')
                    ?.replace(/\[\[ENDHIGHLIGHT\]\]/g, '')
                    || null,
                };
              }

              // --- DOM extraction for fields missing from SSR ---
              const cards = document.querySelectorAll('[data-testid="serp-ia-card"]');
              const domResults = Array.from(cards).map((card, idx) => {
                // Business name: find link with visible text
                const allLinks = Array.from(card.querySelectorAll('a'));
                const nameLink = allLinks.find(a => {
                  const href = a.getAttribute('href') || '';
                  const text = a.textContent?.trim() || '';
                  return (href.includes('/biz/') || href.includes('/adredir')) && text.length > 1 && text.length < 100;
                });
                const name = nameLink?.textContent?.trim() || null;

                // Alias from href
                const href = nameLink?.getAttribute('href') || '';
                let alias = null;
                const bizMatch = href.match(/\/biz\/([^?&]+)/);
                if (bizMatch) alias = bizMatch[1];
                // For adredir, extract from redirect_url
                if (!alias && href.includes('/adredir')) {
                  const redirectMatch = href.match(/redirect_url=.*?\/biz\/([^?&%]+)/);
                  if (redirectMatch) alias = decodeURIComponent(redirectMatch[1]);
                }

                const isAd = href.includes('/adredir');

                // Rating
                const ratingEl = card.querySelector('[aria-label*="star rating"]');
                const ratingLabel = ratingEl?.getAttribute('aria-label') || '';
                const ratingMatch = ratingLabel.match(/([\d.]+)\s*star/);
                const rating = ratingMatch ? parseFloat(ratingMatch[1]) : null;

                // Review count
                const allText = card.innerText || '';
                const reviewMatch = allText.match(/\((\d[\d,]*)\s+reviews?\)/);
                const reviewCount = reviewMatch ? parseInt(reviewMatch[1].replace(/,/g, '')) : null;

                // Price range (match 1-4 dollar signs)
                const priceMatch = allText.match(/(?:^|\n|\s)(\$\$?\$?\$?)(?:\n|$|Closed|Open)/m);
                const priceRange = priceMatch ? priceMatch[1] : null;

                // Categories
                const catEl = card.querySelector('[data-testid="serp-ia-categories"]');
                const categories = catEl
                  ? Array.from(catEl.querySelectorAll('a')).map(c => c.textContent?.trim()).filter(Boolean)
                  : [];

                // Neighborhood — text before price/hours
                const lines = allText.split('\n').map(l => l.trim()).filter(Boolean);
                const ratingLineIdx = lines.findIndex(l => /^\d.*star/.test(l) || /^\(\d/.test(l));
                let neighborhood = null;
                if (ratingLineIdx >= 0) {
                  // neighborhood is typically right after the review count line
                  for (let i = ratingLineIdx + 1; i < lines.length; i++) {
                    const line = lines[i];
                    if (/^[A-Z][a-zA-Z\s-]+$/.test(line) && !line.includes('Closed') && !line.includes('Open') && line.length < 40) {
                      neighborhood = line;
                      break;
                    }
                  }
                }

                // Snippet
                const snippetMatch = allText.match(/"([^"]{20,})"/);
                const snippet = snippetMatch ? snippetMatch[1].replace(/\.{3}$/, '…') : null;

                return { name, alias, rating, reviewCount, priceRange, categories, neighborhood, isAd, snippet, ranking: idx + 1 };
              });

              // --- Merge SSR + DOM: prefer SSR data, fill gaps from DOM ---
              const ssrBizIds = Object.keys(ssrMap);
              const businesses = [];

              // Use SSR ordering (includes ranking info) with DOM supplementation
              for (let i = 0; i < Math.max(ssrBizIds.length, domResults.length); i++) {
                const dom = domResults[i];
                if (!dom) continue;

                // Try to match SSR item by alias or by position
                let ssr = null;
                if (dom.alias) {
                  ssr = Object.values(ssrMap).find(s => s.alias === dom.alias);
                }
                if (!ssr && dom.name) {
                  ssr = Object.values(ssrMap).find(s => s.name === dom.name);
                }

                businesses.push({
                  name: ssr?.name || dom.name,
                  alias: ssr?.alias || dom.alias,
                  url: ssr?.alias ? '/biz/' + ssr.alias : (dom.alias ? '/biz/' + dom.alias : null),
                  rating: ssr?.rating ?? dom.rating,
                  reviewCount: ssr?.reviewCount ?? dom.reviewCount,
                  priceRange: ssr?.priceRange || dom.priceRange || null,
                  phone: ssr?.phone || null,
                  categories: ssr?.categories || (dom.categories.length ? dom.categories : []),
                  neighborhoods: ssr?.neighborhoods || (dom.neighborhood ? [dom.neighborhood] : []),
                  address: ssr?.address || null,
                  isAd: ssr?.isAd ?? dom.isAd,
                  snippet: ssr?.snippet || dom.snippet || null,
                });
              }

              return {
                businesses,
                totalResults: ctx.totalResults || null,
                resultsPerPage: ctx.resultsPerPage || null,
                startResult: ctx.startResult ?? null,
              };
            })()
      parameters:
        - name: find_desc
          in: query
          required: true
          schema:
            type: string
          description: Search term (e.g. "pizza", "restaurants", "plumber").
          example: pizza
        - name: find_loc
          in: query
          required: true
          schema:
            type: string
          description: Location to search in (e.g. "San Francisco, CA", "New York, NY").
          example: "San Francisco, CA"
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset (results per page is 10).
          example: 0
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                  - businesses
                properties:
                  businesses:
                    type: array
                    description: List of matching businesses
                    items:
                      type: object
                      required:
                        - name
                      properties:
                        bizId:
                          type:
                            - string
                            - "null"
                          description: Unique business identifier
                        name:
                          type: string
                          description: Business display name
                        alias:
                          type:
                            - string
                            - "null"
                          description: URL-safe business alias (e.g. "joes-pizza-san-francisco")
                        url:
                          type:
                            - string
                            - "null"
                          description: Business page URL on Yelp
                        rating:
                          type:
                            - number
                            - "null"
                          description: Average star rating (1.0–5.0)
                        reviewCount:
                          type:
                            - integer
                            - "null"
                          description: Total number of reviews
                        priceRange:
                          type:
                            - string
                            - "null"
                          description: Price level indicator (e.g. "$", "$$", "$$$")
                        phone:
                          type:
                            - string
                            - "null"
                          description: Business phone number
                        categories:
                          type: array
                          description: Business category labels (e.g. "Pizza", "Italian")
                          items:
                            type: string
                        neighborhoods:
                          type: array
                          description: Neighborhood names where the business is located
                          items:
                            type: string
                        address:
                          type:
                            - string
                            - "null"
                          description: Street address of the business
                        isAd:
                          type: boolean
                          description: Whether this result is a sponsored/ad listing
                        snippet:
                          type:
                            - string
                            - "null"
                          description: Review snippet or highlight text
                  totalResults:
                    type:
                      - integer
                      - "null"
                    description: Total number of matching businesses
                  resultsPerPage:
                    type:
                      - integer
                      - "null"
                    description: Number of results returned per page
                  startResult:
                    type:
                      - integer
                      - "null"
                    description: Offset index of the first result in this page
