openapi: '3.1.0'
info:
  title: Telegram Web
  version: '2.1'
  x-openweb:
    spec_version: '2.0'
servers:
  - url: https://web.telegram.org
    x-openweb:
      transport: page
paths:
  /internal/chats:
    get:
      operationId: getChats
      summary: List user's chats — id, title, type, membersCount, lastMessageDate
      x-openweb:
        permission: read
        build:
          stable_id: tg0001
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: telegram-protocol
          operation: getChats
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
          description: Max number of chats to return
      responses:
        '200':
          description: Array of chat objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    type:
                      type: string
                      enum: [chatTypePrivate, chatTypeBasicGroup, chatTypeSuperGroup, chatTypeChannel]
                    membersCount:
                      type: integer
                    lastMessageDate:
                      type: integer
                      description: Unix timestamp of the last message
                  required:
                    - id
                    - title
                    - type

  /internal/messages:
    get:
      operationId: getMessages
      summary: Get messages from a chat — id, text, senderName, date, isOutgoing
      x-openweb:
        permission: read
        build:
          stable_id: tg0002
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: telegram-protocol
          operation: getMessages
      parameters:
        - name: chatId
          in: query
          required: true
          schema:
            type: string
          description: Chat ID (e.g. -1001625429257)
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
          description: Max messages to return
        - name: offsetId
          in: query
          schema:
            type: integer
          description: Message ID to start pagination from (exclusive, returns older messages)
      responses:
        '200':
          description: Array of message objects sorted by date descending
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    chatId:
                      type: string
                    date:
                      type: integer
                      description: Unix timestamp
                    text:
                      type: string
                    senderId:
                      type: string
                    senderName:
                      type: string
                    isOutgoing:
                      type: boolean
                  required:
                    - id
                    - chatId
                    - date

  /internal/search:
    get:
      operationId: searchMessages
      summary: Search messages by keyword — id, text, chatTitle, senderName, date
      x-openweb:
        permission: read
        build:
          stable_id: tg0003
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: telegram-protocol
          operation: searchMessages
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search query string
        - name: chatId
          in: query
          schema:
            type: string
          description: Optional chat ID to search within (omit for global search)
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
          description: Max results to return
      responses:
        '200':
          description: Array of matching messages with chat context
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    chatId:
                      type: string
                    chatTitle:
                      type: string
                    date:
                      type: integer
                    text:
                      type: string
                    senderId:
                      type: string
                    senderName:
                      type: string
                  required:
                    - id
                    - chatId
                    - date
                    - text

  /internal/user:
    get:
      operationId: getUserInfo
      summary: Get user profile by ID — firstName, username, status, isPremium, phoneNumber
      x-openweb:
        permission: read
        build:
          stable_id: tg0004
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: telegram-protocol
          operation: getUserInfo
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
          description: User ID to look up
      responses:
        '200':
          description: User profile object (null if not found)
          content:
            application/json:
              schema:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  username:
                    type: string
                  phoneNumber:
                    type: string
                  type:
                    type: string
                  status:
                    type: string
                  isPremium:
                    type: boolean
                required:
                  - id

  /internal/me:
    get:
      operationId: getMe
      summary: Get current user — id, firstName, username, isPremium
      x-openweb:
        permission: read
        build:
          stable_id: tg0005
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: telegram-protocol
          operation: getMe
      responses:
        '200':
          description: Current user object
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  username:
                    type: string
                  phoneNumber:
                    type: string
                  isPremium:
                    type: boolean


  /internal/messages/send:
    post:
      operationId: sendMessage
      summary: Send a text message to a chat — returns success, chatId, text
      x-openweb:
        permission: write
        build:
          stable_id: tg0006
          tool_version: 2
          verified: false
          signals:
            - adapter-manual
        adapter:
          name: telegram-protocol
          operation: sendMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chatId:
                  type: string
                  description: Target chat ID
                text:
                  type: string
                  description: Message text to send
              required:
                - chatId
                - text
      responses:
        '200':
          description: Send confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  chatId:
                    type: string
                  text:
                    type: string
