openapi: 3.1.0
info:
  title: apple-podcasts
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-01T23:02:37.299Z
    requires_auth: true
servers:
  - url: https://podcasts.apple.com
    x-openweb:
      transport: page
paths:
  /v1/catalog/us/search/groups:
    get:
      operationId: searchPodcasts
      summary: "Search podcasts by keyword — returns podcast titles, authors, artwork, ratings, episode counts"
      x-openweb:
        permission: read
        build:
          stable_id: ap0001
          tool_version: 2
        adapter:
          name: apple-podcasts-api
          operation: searchPodcasts
      parameters:
        - name: term
          in: query
          required: true
          description: Search query string
          schema:
            type: string
          example: technology
        - name: l
          in: query
          required: false
          description: Locale code
          schema:
            type: string
          example: en-US
        - name: extend
          in: query
          required: false
          description: Additional fields to include (editorialArtwork, feedUrl)
          schema:
            type: array
            items:
              type: string
          example:
            - editorialArtwork
            - feedUrl
      responses:
        "200":
          description: Search results grouped by type (top, podcasts, episodes).
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: object
                    properties:
                      top:
                        type: object
                        properties:
                          name:
                            type: string
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                attributes:
                                  type: object
                      podcasts:
                        type: object
                      podcast-episodes:
                        type: object
  /v1/catalog/us/podcasts/{id}:
    get:
      operationId: getPodcast
      summary: "Get podcast details — title, author, description, artwork, feed URL, episode list, ratings"
      x-openweb:
        permission: read
        build:
          stable_id: ap0002
          tool_version: 2
        adapter:
          name: apple-podcasts-api
          operation: getPodcast
      parameters:
        - name: id
          in: path
          required: true
          description: Apple Podcasts numeric ID
          schema:
            type: string
          example: "917918570"
        - name: extend
          in: query
          required: false
          description: "Additional fields: editorialArtwork, feedUrl, userRating, availableEpisodeCount"
          schema:
            type: array
            items:
              type: string
          example:
            - editorialArtwork
            - feedUrl
            - userRating
        - name: include
          in: query
          required: false
          description: "Related resources: episodes, channel"
          schema:
            type: array
            items:
              type: string
          example:
            - episodes
        - name: l
          in: query
          required: false
          description: Locale code
          schema:
            type: string
          example: en-US
        - name: limit[episodes]
          in: query
          required: false
          description: Max episodes to include (default 20)
          schema:
            type: integer
          example: 20
      responses:
        "200":
          description: Podcast detail with optional related resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                            artistName:
                              type: string
                            description:
                              type: object
                            artwork:
                              type: object
                            genreNames:
                              type: array
                              items:
                                type: string
                            feedUrl:
                              type: string
                              format: uri
                        relationships:
                          type: object
                  included:
                    type: array
                    items:
                      type: object
  /v1/catalog/us/search/suggestions:
    get:
      operationId: getSearchSuggestions
      summary: "Get search autocomplete suggestions — podcast titles, episode titles matching prefix"
      x-openweb:
        permission: read
        build:
          stable_id: ap0003
          tool_version: 2
        adapter:
          name: apple-podcasts-api
          operation: getSearchSuggestions
      parameters:
        - name: term
          in: query
          required: true
          description: Partial search query for autocomplete
          schema:
            type: string
          example: tech
        - name: l
          in: query
          required: false
          description: Locale code
          schema:
            type: string
          example: en-US
      responses:
        "200":
          description: Search suggestions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: object
                    properties:
                      suggestions:
                        type: array
                        items:
                          type: object
  /v1/editorial/us/groupings:
    get:
      operationId: getTopCharts
      summary: "Get editorial groupings (top charts) — featured podcasts, top shows, new releases"
      x-openweb:
        permission: read
        build:
          stable_id: ap0004
          tool_version: 2
        adapter:
          name: apple-podcasts-api
          operation: getTopCharts
      parameters:
        - name: name
          in: query
          required: false
          description: "Grouping name (search-landing for main charts)"
          schema:
            type: string
          example: search-landing
        - name: l
          in: query
          required: false
          description: Locale code
          schema:
            type: string
          example: en-US
      responses:
        "200":
          description: Editorial groupings with curated podcast lists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                        relationships:
                          type: object
