openapi: '3.1.0'
info:
  title: Redfin
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: false
servers:
- url: https://www.redfin.com
  x-openweb:
    transport: node
paths:
  /city/{regionId}/{state}/{city}:
    get:
      operationId: searchHomes
      summary: Search home listings by city — address, price, beds, baths, sqft, location
      x-openweb:
        permission: read
        build:
          stable_id: rf0001
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: redfin
          operation: searchHomes
      parameters:
      - name: regionId
        in: path
        required: true
        schema:
          type: string
        description: Redfin region ID (e.g. "16163" for Seattle).
      - name: state
        in: path
        required: true
        schema:
          type: string
        description: Two-letter state code (e.g. "WA").
      - name: city
        in: path
        required: true
        schema:
          type: string
        description: City name (e.g. "Seattle").
      responses:
        '200':
          description: Home listings extracted from the Redfin search page.
          content:
            application/json:
              schema:
                type: object
                required:
                - resultCount
                - listings
                properties:
                  resultCount:
                    type: integer
                  listings:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        streetAddress:
                          type: string
                        zip:
                          type: string
                        rooms:
                          type:
                          - integer
                          - 'null'
                        sqft:
                          type:
                          - integer
                          - 'null'
                        price:
                          type:
                          - number
                          - 'null'
                          description: Listing price in USD.
                        propertyType:
                          type: string
  /{state}/{city}/{address}/home/{propertyId}:
    get:
      operationId: getPropertyDetails
      summary: Get full property details — description, beds, baths, sqft, price, year built, amenities
      x-openweb:
        permission: read
        build:
          stable_id: rf0002
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: redfin
          operation: getPropertyDetails
      parameters:
      - name: state
        in: path
        required: true
        schema:
          type: string
        description: Two-letter state code (e.g. "WA").
      - name: city
        in: path
        required: true
        schema:
          type: string
        description: City name (e.g. "Seattle").
      - name: address
        in: path
        required: true
        schema:
          type: string
        description: URL-formatted address (e.g. "3412-NW-56th-St-98107").
      - name: propertyId
        in: path
        required: true
        schema:
          type: string
        description: Redfin property ID (e.g. "200910046").
      responses:
        '200':
          description: Property details extracted from the listing page.
          content:
            application/json:
              schema:
                type: object
                required:
                - name
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  url:
                    type: string
                  datePosted:
                    type: string
                  streetAddress:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  zip:
                    type: string
                  latitude:
                    type:
                    - number
                    - 'null'
                  longitude:
                    type:
                    - number
                    - 'null'
                  bedrooms:
                    type:
                    - integer
                    - 'null'
                  bathrooms:
                    type:
                    - number
                    - 'null'
                  sqft:
                    type:
                    - integer
                    - 'null'
                  yearBuilt:
                    type:
                    - integer
                    - 'null'
                  propertyType:
                    type: string
                  price:
                    type:
                    - number
                    - 'null'
                  currency:
                    type: string
                  availability:
                    type: string
                  amenities:
                    type: array
                    items:
                      type: string
                  imageCount:
                    type: integer
                  primaryImage:
                    type: string
  /city/{regionId}/{state}/{city}/housing-market:
    get:
      operationId: getMarketData
      summary: Get housing market data — median price, homes sold, days on market, competitiveness
      x-openweb:
        permission: read
        build:
          stable_id: rf0003
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: redfin
          operation: getMarketData
      parameters:
      - name: regionId
        in: path
        required: true
        schema:
          type: string
        description: Redfin region ID (e.g. "16163" for Seattle).
      - name: state
        in: path
        required: true
        schema:
          type: string
        description: Two-letter state code (e.g. "WA").
      - name: city
        in: path
        required: true
        schema:
          type: string
        description: City name (e.g. "Seattle").
      responses:
        '200':
          description: Housing market data for the specified area.
          content:
            application/json:
              schema:
                type: object
                properties:
                  location:
                    type: string
                  medianSalePrice:
                    type:
                    - string
                    - 'null'
                  homesSold:
                    type:
                    - integer
                    - 'null'
                  medianDaysOnMarket:
                    type:
                    - integer
                    - 'null'
                  yoyChange:
                    type:
                    - object
                    - 'null'
                    properties:
                      direction:
                        type: string
                      percent:
                        type: number
                  saleToListPercent:
                    type:
                    - number
                    - 'null'
                  competitiveness:
                    type:
                    - string
                    - 'null'
                required:
                - location
