openapi: '3.1.0'
info:
  title: Redfin
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: false
servers:
  - url: https://www.redfin.com
    x-openweb:
      transport: page
paths:
  /city/{regionId}/{state}/{city}:
    get:
      operationId: searchHomes
      summary: Extract home listings from an open Redfin search page — address, price, beds, baths, sqft, URL
      x-openweb:
        permission: read
        build:
          stable_id: rf0001
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: redfin-dom
          operation: searchHomes
      parameters:
        - name: regionId
          in: path
          required: true
          schema:
            type: string
          description: Redfin region ID (e.g. "16163" for Seattle). The search page must already be open.
        - name: state
          in: path
          required: true
          schema:
            type: string
          description: Two-letter state code (e.g. "WA").
        - name: city
          in: path
          required: true
          schema:
            type: string
          description: City name (e.g. "Seattle").
      responses:
        '200':
          description: Home listings extracted from the Redfin search page.
          content:
            application/json:
              schema:
                type: object
                required:
                  - resultCount
                  - listings
                properties:
                  resultCount:
                    type: integer
                    description: Number of listings extracted from the page.
                  description:
                    type: string
                    description: Page meta description with search summary.
                  listings:
                    type: array
                    items:
                      type: object
                      required:
                        - name
                        - url
                        - price
                      properties:
                        name:
                          type: string
                          description: Full address of the property.
                        url:
                          type: string
                          description: Redfin URL for the property detail page.
                        streetAddress:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        zip:
                          type: string
                        latitude:
                          type: number
                        longitude:
                          type: number
                        rooms:
                          type: integer
                          description: Number of rooms.
                        sqft:
                          type: integer
                          description: Floor area in square feet.
                        price:
                          type: number
                          description: Listing price in USD.
                        currency:
                          type: string
                        propertyType:
                          type: string
                          description: Schema.org type (SingleFamilyResidence, Accommodation, etc.).
  /{state}/{city}/{address}/home/{propertyId}:
    get:
      operationId: getPropertyDetails
      summary: Extract property details from an open Redfin listing page — description, beds, baths, sqft, price, year built, amenities, images
      x-openweb:
        permission: read
        build:
          stable_id: rf0002
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: redfin-dom
          operation: getPropertyDetails
      parameters:
        - name: state
          in: path
          required: true
          schema:
            type: string
          description: Two-letter state code (e.g. "WA").
        - name: city
          in: path
          required: true
          schema:
            type: string
          description: City name (e.g. "Seattle").
        - name: address
          in: path
          required: true
          schema:
            type: string
          description: URL-formatted address (e.g. "3412-NW-56th-St-98107").
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
          description: Redfin property ID (e.g. "200910046"). The property page must already be open.
      responses:
        '200':
          description: Property details extracted from the Redfin listing page.
          content:
            application/json:
              schema:
                type: object
                required:
                  - name
                  - price
                properties:
                  name:
                    type: string
                    description: Property address (short form).
                  description:
                    type: string
                    description: Full listing description.
                  url:
                    type: string
                  datePosted:
                    type: string
                    description: ISO timestamp when the listing was posted.
                  streetAddress:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  zip:
                    type: string
                  latitude:
                    type: number
                  longitude:
                    type: number
                  bedrooms:
                    type: integer
                  bathrooms:
                    type: integer
                  sqft:
                    type: integer
                    description: Floor area in square feet.
                  yearBuilt:
                    type: integer
                  propertyType:
                    type: string
                    description: Property category (Townhouse, House, Condo, etc.).
                  price:
                    type: number
                    description: Listing price in USD.
                  currency:
                    type: string
                  availability:
                    type: string
                  amenities:
                    type: array
                    items:
                      type: string
                    description: Property amenity features.
                  imageCount:
                    type: integer
                    description: Number of listing photos.
                  primaryImage:
                    type: string
                    description: URL of the primary listing photo.
  /{state}/{city}/{address}/home/{propertyId}/estimate:
    get:
      operationId: getRedfinEstimate
      summary: Extract the Redfin Estimate (automated valuation) from an open property detail page
      x-openweb:
        permission: read
        build:
          stable_id: rf0003
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: redfin-dom
          operation: getRedfinEstimate
      parameters:
        - name: state
          in: path
          required: true
          schema:
            type: string
          description: Two-letter state code (e.g. "WA").
        - name: city
          in: path
          required: true
          schema:
            type: string
          description: City name (e.g. "Seattle").
        - name: address
          in: path
          required: true
          schema:
            type: string
          description: URL-formatted address (e.g. "3412-NW-56th-St-98107").
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
          description: Redfin property ID (e.g. "200910046"). The property page must already be open.
      responses:
        '200':
          description: Redfin Estimate data extracted from the property detail page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                    description: Property address from the estimate section.
                  estimatePrice:
                    type: string
                    description: The Redfin Estimate price (e.g. "$850,024").
                  comparableCount:
                    type: integer
                    description: Number of comparable sales used.
                  comparablePriceRange:
                    type: string
                    description: Price range of comparable sales (e.g. "$735K to $1.1M").
                  comparables:
                    type: array
                    items:
                      type: object
                      properties:
                        soldPrice:
                          type: string
                          description: Price the comparable sold for.
                        beds:
                          type: integer
                        baths:
                          type: number
                        sqft:
                          type: integer
                        address:
                          type:
                            - string
                            - 'null'
                    description: Nearby comparable sales used for the estimate.
                  message:
                    type: string
                    description: Present when estimate is unavailable.
