openapi: "3.1.0"
info:
  title: Bluesky API
  version: "1.0"
  x-openweb:
    spec_version: "2.0"
    compiled_at: "2026-04-01T22:50:00.000Z"
    requires_auth: false
servers:
- url: https://public.api.bsky.app
  x-openweb:
    transport: node
paths:
  /xrpc/app.bsky.actor.getProfile:
    get:
      operationId: getProfile
      summary: "Get user profile — display name, handle, bio, avatar, follower/following counts, post count"
      x-openweb:
        permission: read
        adapter:
          name: bluesky-public
          operation: getProfile
        build:
          stable_id: bsky_getProfile_v2
          tool_version: 2
      parameters:
      - name: actor
        in: query
        required: true
        schema:
          type: string
        description: "User handle (e.g. 'bsky.app') or DID"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  did:
                    type: string
                  handle:
                    type: string
                  displayName:
                    type: string
                  description:
                    type: string
                  avatar:
                    type: string
                  banner:
                    type: string
                  followersCount:
                    type: integer
                  followsCount:
                    type: integer
                  postsCount:
                    type: integer
                  createdAt:
                    type: string
                  associated:
                    type: object
                  labels:
                    type: array
                    items:
                      type: object
                  verification:
                    type: object
                  indexedAt:
                    type: string
                  pinnedPost:
                    type: object
                    nullable: true
                required:
                - did
                - handle

  /xrpc/app.bsky.feed.getPostThread:
    get:
      operationId: getPostThread
      summary: "Get post with reply thread — post content, author, embed, like/repost/reply counts, parent and reply chain"
      x-openweb:
        permission: read
        adapter:
          name: bluesky-public
          operation: getPostThread
        build:
          stable_id: bsky_getPostThread_v2
          tool_version: 2
      parameters:
      - name: uri
        in: query
        required: true
        schema:
          type: string
        description: "AT URI of the post (e.g. 'at://did:plc:.../app.bsky.feed.post/...'). Get from getAuthorFeed or getFeed response."
      - name: depth
        in: query
        required: false
        schema:
          type: integer
          default: 6
        description: "Reply thread depth (default 6, max 1000)"
      - name: parentHeight
        in: query
        required: false
        schema:
          type: integer
          default: 80
        description: "Parent thread height"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - thread
                properties:
                  thread:
                    type: object
                    required:
                    - post
                    properties:
                      post:
                        type: object
                        required:
                        - uri
                        - cid
                        - author
                        - record
                        properties:
                          uri:
                            type: string
                          cid:
                            type: string
                          author:
                            type: object
                          record:
                            type: object
                          embed:
                            type: object
                            nullable: true
                          likeCount:
                            type: integer
                          repostCount:
                            type: integer
                          replyCount:
                            type: integer
                          quoteCount:
                            type: integer
                          bookmarkCount:
                            type: integer
                          indexedAt:
                            type: string
                          labels:
                            type: array
                            items:
                              type: object
                      replies:
                        type: array
                        items:
                          type: object

  /xrpc/app.bsky.feed.getFeed:
    get:
      operationId: getFeed
      summary: "Get a custom feed — posts from a feed generator (e.g. 'Discover', 'What's Hot'), with full post data, author info, embeds"
      x-openweb:
        permission: read
        adapter:
          name: bluesky-public
          operation: getFeed
        build:
          stable_id: bsky_getFeed_v2
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
      - name: feed
        in: query
        required: true
        schema:
          type: string
        description: "AT URI of the feed generator (e.g. 'at://did:plc:z72i7hdynmk6r22z27h6tvur/app.bsky.feed.generator/whats-hot')"
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: "Number of items (max 100)"
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: "Pagination cursor from previous response"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - feed
                properties:
                  feed:
                    type: array
                    items:
                      type: object
                      required:
                      - post
                      properties:
                        post:
                          type: object
                          required:
                          - uri
                          - cid
                          - author
                          - record
                          properties:
                            uri:
                              type: string
                            cid:
                              type: string
                            author:
                              type: object
                            record:
                              type: object
                            embed:
                              type: object
                              nullable: true
                            likeCount:
                              type: integer
                            repostCount:
                              type: integer
                            replyCount:
                              type: integer
                            quoteCount:
                              type: integer
                            bookmarkCount:
                              type: integer
                            indexedAt:
                              type: string
                            labels:
                              type: array
                              items:
                                type: object
                  cursor:
                    type: string

  /xrpc/app.bsky.feed.searchPosts:
    get:
      operationId: searchPosts
      summary: "Search posts by keyword — returns matching posts with author, content, embeds, engagement counts. Requires auth."
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: read
        build:
          stable_id: bsky_searchPosts_v2
          tool_version: 2
        adapter:
          name: bluesky-pds
          operation: searchPosts
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: "Search query string"
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: "Number of results (max 100)"
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: "Pagination cursor"
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum: [top, latest]
        description: "Sort order"
      - name: author
        in: query
        required: false
        schema:
          type: string
        description: "Filter by author handle or DID"
      - name: lang
        in: query
        required: false
        schema:
          type: string
        description: "Filter by language (BCP-47 code)"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - posts
                properties:
                  posts:
                    type: array
                    items:
                      type: object
                      required:
                      - uri
                      - cid
                      - author
                      - record
                      properties:
                        uri:
                          type: string
                        cid:
                          type: string
                        author:
                          type: object
                        record:
                          type: object
                        embed:
                          type: object
                          nullable: true
                        likeCount:
                          type: integer
                        repostCount:
                          type: integer
                        replyCount:
                          type: integer
                        quoteCount:
                          type: integer
                        bookmarkCount:
                          type: integer
                        indexedAt:
                          type: string
                        labels:
                          type: array
                          items:
                            type: object
                  cursor:
                    type: string
                  hitsTotal:
                    type: integer

  /xrpc/app.bsky.feed.getAuthorFeed:
    get:
      operationId: getAuthorFeed
      summary: "Get a user's posts — full post data with embeds, engagement counts, reply/repost indicators"
      x-openweb:
        permission: read
        adapter:
          name: bluesky-public
          operation: getAuthorFeed
        build:
          stable_id: bsky_getAuthorFeed_v2
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
      - name: actor
        in: query
        required: true
        schema:
          type: string
        description: "User handle or DID"
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: "Number of items (max 100)"
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: "Pagination cursor"
      - name: filter
        in: query
        required: false
        schema:
          type: string
          enum: [posts_with_replies, posts_no_replies, posts_with_media, posts_and_author_threads]
        description: "Filter feed content type"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - feed
                properties:
                  feed:
                    type: array
                    items:
                      type: object
                      required:
                      - post
                      properties:
                        post:
                          type: object
                          required:
                          - uri
                          - cid
                          - author
                          - record
                          properties:
                            uri:
                              type: string
                            cid:
                              type: string
                            author:
                              type: object
                            record:
                              type: object
                            embed:
                              type: object
                              nullable: true
                            likeCount:
                              type: integer
                            repostCount:
                              type: integer
                            replyCount:
                              type: integer
                            quoteCount:
                              type: integer
                            bookmarkCount:
                              type: integer
                            indexedAt:
                              type: string
                            labels:
                              type: array
                              items:
                                type: object
                  cursor:
                    type: string

  /xrpc/app.bsky.actor.searchActors:
    get:
      operationId: searchActors
      summary: "Search users by keyword — returns profiles with handle, display name, bio, avatar, follower counts"
      x-openweb:
        permission: read
        adapter:
          name: bluesky-public
          operation: searchActors
        build:
          stable_id: bsky_searchActors_v2
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: "Search query"
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: "Number of results (max 100)"
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: "Pagination cursor"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - actors
                properties:
                  actors:
                    type: array
                    items:
                      type: object
                      required:
                      - did
                      - handle
                      properties:
                        did:
                          type: string
                        handle:
                          type: string
                        displayName:
                          type: string
                        description:
                          type: string
                        avatar:
                          type: string
                        followersCount:
                          type: integer
                        followsCount:
                          type: integer
                        postsCount:
                          type: integer
                  cursor:
                    type: string

  /xrpc/app.bsky.graph.getFollowers:
    get:
      operationId: getFollowers
      summary: "Get user's followers — profiles of accounts following the specified user"
      x-openweb:
        permission: read
        adapter:
          name: bluesky-public
          operation: getFollowers
        build:
          stable_id: bsky_getFollowers_v2
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
      - name: actor
        in: query
        required: true
        schema:
          type: string
        description: "User handle or DID"
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: "Number of results (max 100)"
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: "Pagination cursor"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - subject
                - followers
                properties:
                  subject:
                    type: object
                    required:
                    - did
                    - handle
                    properties:
                      did:
                        type: string
                      handle:
                        type: string
                      displayName:
                        type: string
                      description:
                        type: string
                      avatar:
                        type: string
                  followers:
                    type: array
                    items:
                      type: object
                      required:
                      - did
                      - handle
                      properties:
                        did:
                          type: string
                        handle:
                          type: string
                        displayName:
                          type: string
                        description:
                          type: string
                          nullable: true
                        avatar:
                          type: string
                        createdAt:
                          type: string
                        indexedAt:
                          type: string
                  cursor:
                    type: string

  /xrpc/app.bsky.graph.getFollows:
    get:
      operationId: getFollows
      summary: "Get accounts a user follows — profiles of followed accounts"
      x-openweb:
        permission: read
        adapter:
          name: bluesky-public
          operation: getFollows
        build:
          stable_id: bsky_getFollows_v2
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
      - name: actor
        in: query
        required: true
        schema:
          type: string
        description: "User handle or DID"
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: "Number of results (max 100)"
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: "Pagination cursor"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - subject
                - follows
                properties:
                  subject:
                    type: object
                    required:
                    - did
                    - handle
                    properties:
                      did:
                        type: string
                      handle:
                        type: string
                      displayName:
                        type: string
                      description:
                        type: string
                      avatar:
                        type: string
                  follows:
                    type: array
                    items:
                      type: object
                      required:
                      - did
                      - handle
                      properties:
                        did:
                          type: string
                        handle:
                          type: string
                        displayName:
                          type: string
                        description:
                          type: string
                          nullable: true
                        avatar:
                          type: string
                        createdAt:
                          type: string
                        indexedAt:
                          type: string
                  cursor:
                    type: string

  /xrpc/app.bsky.feed.getPosts:
    get:
      operationId: getPosts
      summary: "Batch fetch posts by AT URI — full post data for up to 25 posts"
      x-openweb:
        permission: read
        adapter:
          name: bluesky-public
          operation: getPosts
        build:
          stable_id: bsky_getPosts_v2
          tool_version: 2
      parameters:
      - name: uris
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: "AT URIs of posts to fetch (max 25). Get from getFeed or getAuthorFeed."
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - posts
                properties:
                  posts:
                    type: array
                    items:
                      type: object
                      required:
                      - uri
                      - cid
                      - author
                      - record
                      properties:
                        uri:
                          type: string
                        cid:
                          type: string
                        author:
                          type: object
                        record:
                          type: object
                        embed:
                          type: object
                          nullable: true
                        likeCount:
                          type: integer
                        repostCount:
                          type: integer
                        replyCount:
                          type: integer
                        quoteCount:
                          type: integer
                        bookmarkCount:
                          type: integer
                        indexedAt:
                          type: string
                        labels:
                          type: array
                          items:
                            type: object

  /pds/createPost:
    post:
      operationId: createPost
      summary: "Create a new post — returns AT URI and CID of the created record"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: createPost
        build:
          stable_id: bsky_createPost_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - text
              properties:
                text:
                  type: string
                  description: "Post text (max 300 characters)"
                replyTo:
                  type: object
                  description: "Reply target. Get uri/cid from getPostThread or getAuthorFeed."
                  required: [uri, cid]
                  properties:
                    uri:
                      type: string
                      description: "AT URI of the parent post"
                    cid:
                      type: string
                      description: "CID of the parent post"
                    rootUri:
                      type: string
                      description: "AT URI of thread root post. Defaults to parent if omitted."
                    rootCid:
                      type: string
                      description: "CID of thread root post. Defaults to parent if omitted."
                langs:
                  type: array
                  items:
                    type: string
                  description: "BCP-47 language tags (e.g. ['en'])"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - uri
                - cid
                properties:
                  uri:
                    type: string
                    description: "AT URI of the created post"
                  cid:
                    type: string
                    description: "CID of the created record"

  /pds/deletePost:
    post:
      operationId: deletePost
      summary: "Delete a post — removes it permanently (reverse of createPost)"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: deletePost
        build:
          stable_id: bsky_deletePost_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - uri
              properties:
                uri:
                  type: string
                  description: "AT URI of the post to delete (e.g. at://did:plc:.../app.bsky.feed.post/...)"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean

  /pds/likePost:
    post:
      operationId: likePost
      summary: "Like a post — creates a like record, returns its AT URI"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: likePost
        build:
          stable_id: bsky_likePost_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - uri
              - cid
              properties:
                uri:
                  type: string
                  description: "AT URI of the post to like. Get from getAuthorFeed or getFeed."
                cid:
                  type: string
                  description: "CID of the post to like"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - uri
                - cid
                properties:
                  uri:
                    type: string
                    description: "AT URI of the created like record"
                  cid:
                    type: string

  /pds/unlikePost:
    post:
      operationId: unlikePost
      summary: "Unlike a post — deletes the like record (reverse of likePost)"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: unlikePost
        build:
          stable_id: bsky_unlikePost_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - uri
              properties:
                uri:
                  type: string
                  description: "AT URI of the like record to delete. Get from post viewer.like field."
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean

  /pds/repost:
    post:
      operationId: repost
      summary: "Repost a post — creates a repost record, returns its AT URI"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: repost
        build:
          stable_id: bsky_repost_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - uri
              - cid
              properties:
                uri:
                  type: string
                  description: "AT URI of the post to repost. Get from getAuthorFeed or getFeed."
                cid:
                  type: string
                  description: "CID of the post to repost"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  uri:
                    type: string
                    description: "AT URI of the created repost record"
                  cid:
                    type: string

  /pds/unrepost:
    post:
      operationId: unrepost
      summary: "Remove a repost — deletes the repost record (reverse of repost)"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: unrepost
        build:
          stable_id: bsky_unrepost_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - uri
              properties:
                uri:
                  type: string
                  description: "AT URI of the repost record to delete. Get from post viewer.repost field."
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /pds/follow:
    post:
      operationId: follow
      summary: "Follow a user — creates a follow record, returns its AT URI"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: follow
        build:
          stable_id: bsky_follow_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - subject
              properties:
                subject:
                  type: string
                  description: "DID of the user to follow. Get from getProfile response."
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  uri:
                    type: string
                    description: "AT URI of the created follow record"
                  cid:
                    type: string

  /pds/unfollow:
    post:
      operationId: unfollow
      summary: "Unfollow a user — deletes the follow record (reverse of follow)"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: unfollow
        build:
          stable_id: bsky_unfollow_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - uri
              properties:
                uri:
                  type: string
                  description: "AT URI of the follow record to delete. Get from profile viewer.following field."
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /pds/blockUser:
    post:
      operationId: blockUser
      summary: "Block a user — creates a block record, prevents interaction"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: blockUser
        build:
          stable_id: bsky_blockUser_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - subject
              properties:
                subject:
                  type: string
                  description: "DID of the user to block. Get from getProfile response."
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  uri:
                    type: string
                    description: "AT URI of the created block record"
                  cid:
                    type: string

  /pds/unblockUser:
    post:
      operationId: unblockUser
      summary: "Unblock a user — deletes the block record (reverse of blockUser)"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: unblockUser
        build:
          stable_id: bsky_unblockUser_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - uri
              properties:
                uri:
                  type: string
                  description: "AT URI of the block record to delete. Get from profile viewer.blocking field."
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /pds/muteUser:
    post:
      operationId: muteUser
      summary: "Mute a user — hides their posts from your feeds"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: muteUser
        build:
          stable_id: bsky_muteUser_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - actor
              properties:
                actor:
                  type: string
                  description: "Handle or DID of the user to mute"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /pds/unmuteUser:
    post:
      operationId: unmuteUser
      summary: "Unmute a user — restores their posts in your feeds (reverse of muteUser)"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: bluesky-pds
          operation: unmuteUser
        build:
          stable_id: bsky_unmuteUser_v1
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - actor
              properties:
                actor:
                  type: string
                  description: "Handle or DID of the user to unmute"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /pds/getNotifications:
    get:
      operationId: getNotifications
      summary: "Get notifications — likes, reposts, follows, mentions, replies, quotes"
      servers:
      - url: https://bsky.app
        x-openweb:
          transport: page
          auth:
            type: localStorage_jwt
            key: BSKY_STORAGE
            path: session.currentAccount.accessJwt
            inject:
              header: Authorization
              prefix: "Bearer "
      x-openweb:
        permission: read
        adapter:
          name: bluesky-pds
          operation: getNotifications
        build:
          stable_id: bsky_getNotifications_v1
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: "Number of notifications (max 100)"
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: "Pagination cursor from previous response"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      type: object
                      properties:
                        uri:
                          type: string
                        cid:
                          type: string
                        author:
                          type: object
                        reason:
                          type: string
                          description: "Notification type: like, repost, follow, mention, reply, quote"
                        record:
                          type: object
                        isRead:
                          type: boolean
                        indexedAt:
                          type: string
                  cursor:
                    type: string
                  seenAt:
                    type: string
                required:
                - notifications
