openapi: "3.1.0"
info:
  title: Bluesky API
  version: "1.0"
  x-openweb:
    spec_version: "2.0"
    compiled_at: "2026-04-01T22:50:00.000Z"
    requires_auth: false
servers:
  - url: https://public.api.bsky.app
    x-openweb:
      transport: node
paths:
  /xrpc/app.bsky.actor.getProfile:
    get:
      operationId: getProfile
      summary: "Get user profile — display name, handle, bio, avatar, follower/following counts, post count"
      x-openweb:
        permission: read
        build:
          stable_id: bsky_getProfile_v2
          tool_version: 2
      parameters:
        - name: actor
          in: query
          required: true
          schema:
            type: string
          description: "User handle (e.g. 'bsky.app') or DID"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  did:
                    type: string
                  handle:
                    type: string
                  displayName:
                    type: string
                  description:
                    type: string
                  avatar:
                    type: string
                  banner:
                    type: string
                  followersCount:
                    type: integer
                  followsCount:
                    type: integer
                  postsCount:
                    type: integer
                  createdAt:
                    type: string

  /xrpc/app.bsky.feed.getPostThread:
    get:
      operationId: getPostThread
      summary: "Get post with reply thread — post content, author, embed, like/repost/reply counts, parent and reply chain"
      x-openweb:
        permission: read
        build:
          stable_id: bsky_getPostThread_v2
          tool_version: 2
      parameters:
        - name: uri
          in: query
          required: true
          schema:
            type: string
          description: "AT URI of the post (e.g. 'at://did:plc:.../app.bsky.feed.post/...'). Get from getAuthorFeed or getFeed response."
        - name: depth
          in: query
          required: false
          schema:
            type: integer
            default: 6
          description: "Reply thread depth (default 6, max 1000)"
        - name: parentHeight
          in: query
          required: false
          schema:
            type: integer
            default: 80
          description: "Parent thread height"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  thread:
                    type: object
                    properties:
                      post:
                        type: object
                      replies:
                        type: array
                        items:
                          type: object

  /xrpc/app.bsky.feed.getFeed:
    get:
      operationId: getFeed
      summary: "Get a custom feed — posts from a feed generator (e.g. 'Discover', 'What's Hot'), with full post data, author info, embeds"
      x-openweb:
        permission: read
        build:
          stable_id: bsky_getFeed_v2
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
        - name: feed
          in: query
          required: true
          schema:
            type: string
          description: "AT URI of the feed generator (e.g. 'at://did:plc:z72i7hdynmk6r22z27h6tvur/app.bsky.feed.generator/whats-hot')"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
          description: "Number of items (max 100)"
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: "Pagination cursor from previous response"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  feed:
                    type: array
                    items:
                      type: object
                      properties:
                        post:
                          type: object
                  cursor:
                    type: string

  /xrpc/app.bsky.feed.searchPosts:
    get:
      operationId: searchPosts
      summary: "Search posts by keyword — returns matching posts with author, content, embeds, engagement counts. Requires auth."
      x-openweb:
        permission: read
        build:
          stable_id: bsky_searchPosts_v2
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: "Search query string"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
          description: "Number of results (max 100)"
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: "Pagination cursor"
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [top, latest]
          description: "Sort order"
        - name: author
          in: query
          required: false
          schema:
            type: string
          description: "Filter by author handle or DID"
        - name: lang
          in: query
          required: false
          schema:
            type: string
          description: "Filter by language (BCP-47 code)"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      type: object
                  cursor:
                    type: string
                  hitsTotal:
                    type: integer

  /xrpc/app.bsky.feed.getAuthorFeed:
    get:
      operationId: getAuthorFeed
      summary: "Get a user's posts — full post data with embeds, engagement counts, reply/repost indicators"
      x-openweb:
        permission: read
        build:
          stable_id: bsky_getAuthorFeed_v2
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
        - name: actor
          in: query
          required: true
          schema:
            type: string
          description: "User handle or DID"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
          description: "Number of items (max 100)"
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: "Pagination cursor"
        - name: filter
          in: query
          required: false
          schema:
            type: string
            enum: [posts_with_replies, posts_no_replies, posts_with_media, posts_and_author_threads]
          description: "Filter feed content type"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  feed:
                    type: array
                    items:
                      type: object
                      properties:
                        post:
                          type: object
                  cursor:
                    type: string

  /xrpc/app.bsky.actor.searchActors:
    get:
      operationId: searchActors
      summary: "Search users by keyword — returns profiles with handle, display name, bio, avatar, follower counts"
      x-openweb:
        permission: read
        build:
          stable_id: bsky_searchActors_v2
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: "Search query"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
          description: "Number of results (max 100)"
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: "Pagination cursor"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  actors:
                    type: array
                    items:
                      type: object
                      properties:
                        did:
                          type: string
                        handle:
                          type: string
                        displayName:
                          type: string
                        description:
                          type: string
                        avatar:
                          type: string
                        followersCount:
                          type: integer
                        followsCount:
                          type: integer
                        postsCount:
                          type: integer
                  cursor:
                    type: string

  /xrpc/app.bsky.graph.getFollowers:
    get:
      operationId: getFollowers
      summary: "Get user's followers — profiles of accounts following the specified user"
      x-openweb:
        permission: read
        build:
          stable_id: bsky_getFollowers_v2
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
        - name: actor
          in: query
          required: true
          schema:
            type: string
          description: "User handle or DID"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
          description: "Number of results (max 100)"
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: "Pagination cursor"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  subject:
                    type: object
                  followers:
                    type: array
                    items:
                      type: object
                  cursor:
                    type: string

  /xrpc/app.bsky.graph.getFollows:
    get:
      operationId: getFollows
      summary: "Get accounts a user follows — profiles of followed accounts"
      x-openweb:
        permission: read
        build:
          stable_id: bsky_getFollows_v2
          tool_version: 2
        pagination:
          type: cursor
          response_field: cursor
          request_param: cursor
      parameters:
        - name: actor
          in: query
          required: true
          schema:
            type: string
          description: "User handle or DID"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
          description: "Number of results (max 100)"
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: "Pagination cursor"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  subject:
                    type: object
                  follows:
                    type: array
                    items:
                      type: object
                  cursor:
                    type: string

  /xrpc/app.bsky.feed.getPosts:
    get:
      operationId: getPosts
      summary: "Batch fetch posts by AT URI — full post data for up to 25 posts"
      x-openweb:
        permission: read
        build:
          stable_id: bsky_getPosts_v2
          tool_version: 2
      parameters:
        - name: uris
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          description: "AT URIs of posts to fetch (max 25). Get from getFeed or getAuthorFeed."
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      type: object
