openapi: '3.1.0'
info:
  title: NPR
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: false
servers:
  - url: https://7s4f1grybg-dsn.algolia.net
    x-openweb:
      transport: node
paths:
  /1/indexes/nprorg-cds:
    get:
      operationId: searchArticles
      summary: Search NPR articles by keyword — returns title, summary, author, date, image, audio info
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: npr
          operation: searchArticles
        build:
          stable_id: npr0001
          tool_version: 1
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search query (keyword or phrase).
          example: climate change
        - name: x-algolia-api-key
          in: query
          required: true
          schema:
            type: string
            default: f2f5be631a4287148759373ff4ab5227
          description: Algolia API key (public, embedded in NPR site).
        - name: x-algolia-application-id
          in: query
          required: true
          schema:
            type: string
            default: 7S4F1GRYBG
          description: Algolia application ID.
        - name: filters
          in: query
          required: false
          schema:
            type: string
            default: 'type:story'
          description: 'Algolia filter expression. Default filters to stories only. Use "type:story AND topics:\"Health\"" to filter by topic.'
          example: 'type:story AND topics:"Health"'
        - name: hitsPerPage
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: Number of results per page (max 50).
          example: 10
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Zero-indexed page number for pagination.
          example: 0
      responses:
        '200':
          description: Paginated search results with articles and Algolia metadata.
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        objectID:
                          type: string
                          description: Unique article ID (e.g. "nx-s1-5777587"). Use with getArticle.
                        title:
                          type: string
                          description: Article headline.
                        bodyText:
                          type: string
                          description: Article summary/teaser text.
                        url:
                          type: string
                          description: Relative URL path on npr.org.
                        canonicalUrl:
                          type: string
                          format: uri
                          description: Full canonical URL.
                        displayDate:
                          type: object
                          description: Publication date in human and machine formats.
                          properties:
                            longDate:
                              type: string
                              description: Human-readable date (e.g. "April 09, 2026").
                            dateTime:
                              type: string
                              format: date-time
                              description: ISO 8601 date-time.
                          required: [longDate, dateTime]
                        bylines:
                          type: array
                          items:
                            type:
                              - string
                              - 'null'
                          description: Author names.
                        topics:
                          type: array
                          items:
                            type: string
                          description: Topic tags (Health, Politics, World, etc.).
                        image:
                          type:
                            - object
                            - 'null'
                          description: Lead image for the article, or null if unavailable.
                          properties:
                            url:
                              type: string
                              format: uri
                              description: Image URL.
                            caption:
                              type: string
                              description: Image caption text.
                            credit:
                              type: string
                              description: Photographer or source credit.
                        hasAudio:
                          type: boolean
                          description: Whether the article has an audio version.
                        type:
                          type: string
                          description: Content type (story, etc.).
                      required: [objectID, title, type]

  /1/indexes/nprorg-cds/{objectID}:
    get:
      operationId: getArticle
      summary: Get full NPR article — title, full body text, author, date, topics, image
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: npr
          operation: getArticle
        build:
          stable_id: npr0002
          tool_version: 1
      parameters:
        - name: objectID
          in: path
          required: true
          schema:
            type: string
          description: Article ID from search results objectID field (e.g. "nx-s1-5777587").
          example: nx-s1-5777587
        - name: x-algolia-api-key
          in: query
          required: true
          schema:
            type: string
            default: f2f5be631a4287148759373ff4ab5227
          description: Algolia API key (public, embedded in NPR site).
        - name: x-algolia-application-id
          in: query
          required: true
          schema:
            type: string
            default: 7S4F1GRYBG
          description: Algolia application ID.
      responses:
        '200':
          description: Full article object with complete body text.
          content:
            application/json:
              schema:
                type: object
                properties:
                  objectID:
                    type: string
                    description: Unique article ID.
                  title:
                    type: string
                    description: Article headline.
                  bodyText:
                    type: string
                    description: Full article body as plain text.
                  url:
                    type: string
                    description: Relative URL path on npr.org.
                  canonicalUrl:
                    type: string
                    format: uri
                    description: Full canonical URL.
                  displayDate:
                    type: object
                    description: Publication date in human and machine formats.
                    properties:
                      longDate:
                        type: string
                        description: Human-readable date.
                      dateTime:
                        type: string
                        format: date-time
                        description: ISO 8601 date-time.
                    required: [longDate, dateTime]
                  bylines:
                    type: array
                    items:
                      type: string
                    description: Author names.
                  topics:
                    type: array
                    items:
                      type: string
                    description: Topic tags.
                  shows:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    description: Associated NPR shows.
                  image:
                    type:
                      - object
                      - 'null'
                    description: Lead image for the article, or null if unavailable.
                    properties:
                      url:
                        type: string
                        format: uri
                      caption:
                        type: string
                        description: Image caption text.
                      credit:
                        type: string
                        description: Photographer or source credit.
                    required: [url]
                  hasAudio:
                    type: boolean
                    description: Whether the article has an audio version.
                  slug:
                    type: object
                    description: Section/category the article belongs to.
                    properties:
                      title:
                        type: string
                        description: Section name (e.g. "Health").
                      url:
                        type: string
                        format: uri
                        description: Section URL.
                    required: [title]
                  type:
                    type: string
                    description: Content type.
                required: [objectID, title, type]

  /1/indexes/nprorg-cds?top:
    get:
      operationId: getTopStories
      summary: Get latest NPR top stories — returns title, summary, author, date, topic for front-page headlines
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: npr
          operation: getTopStories
        actual_path: /1/indexes/nprorg-cds
        build:
          stable_id: npr0003
          tool_version: 1
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: string
            default: ''
          description: Optional keyword to narrow top stories.
        - name: x-algolia-api-key
          in: query
          required: true
          schema:
            type: string
            default: f2f5be631a4287148759373ff4ab5227
          description: Algolia API key (public, embedded in NPR site).
        - name: x-algolia-application-id
          in: query
          required: true
          schema:
            type: string
            default: 7S4F1GRYBG
          description: Algolia application ID.
        - name: filters
          in: query
          required: true
          schema:
            type: string
            default: 'type:story AND topics:"Home Page Top Stories"'
          description: Filter for top stories. Defaults to homepage stories.
          example: 'type:story AND topics:"Home Page Top Stories"'
        - name: hitsPerPage
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: Number of stories to return (max 50).
          example: 10
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Zero-indexed page number.
          example: 0
      responses:
        '200':
          description: Paginated top stories with articles and Algolia metadata.
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        objectID:
                          type: string
                          description: Unique article ID. Use with getArticle for full text.
                        title:
                          type: string
                          description: Article headline.
                        bodyText:
                          type: string
                          description: Article summary/teaser text.
                        url:
                          type: string
                          description: Relative URL path on npr.org.
                        canonicalUrl:
                          type: string
                          format: uri
                          description: Full canonical URL.
                        displayDate:
                          type: object
                          description: Publication date in human and machine formats.
                          properties:
                            longDate:
                              type: string
                              description: Human-readable date (e.g. "April 09, 2026").
                            dateTime:
                              type: string
                              format: date-time
                              description: ISO 8601 date-time.
                          required: [longDate, dateTime]
                        bylines:
                          type: array
                          items:
                            type:
                              - string
                              - 'null'
                          description: Author names (may contain null for wire stories).
                        topics:
                          type: array
                          items:
                            type: string
                          description: Topic tags (Health, Politics, World, etc.).
                        image:
                          type:
                            - object
                            - 'null'
                          description: Lead image for the article, or null if unavailable.
                          properties:
                            url:
                              type: string
                              format: uri
                              description: Image URL.
                            caption:
                              type: string
                              description: Image caption text.
                            credit:
                              type: string
                              description: Photographer or source credit.
                        hasAudio:
                          type: boolean
                          description: Whether the article has an audio version.
                        type:
                          type: string
                          description: Content type (story, etc.).
                      required: [objectID, title, type]
