openapi: 3.1.0
info:
  title: zillow
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-06T02:38:30.184Z
    requires_auth: false
    extraction_signals:
      - type: ssr_next_data
        selector: script#__NEXT_DATA__
        estimatedSize: 418347
servers:
  - url: https://www.zillow.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
paths:
  /async-create-search-page-state:
    put:
      operationId: searchProperties
      summary: >-
        Search properties for sale — address, price, beds, baths, sqft,
        zestimate, lat/lng, photos, days on Zillow
      x-openweb:
        permission: read
        build:
          stable_id: 0ff38e575b19dcfb
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                searchQueryState:
                  type: object
                  description: Search parameters
                  properties:
                    pagination:
                      type: object
                      description: Pagination state (empty for first page)
                    isMapVisible:
                      type: boolean
                    mapBounds:
                      type: object
                      description: Geographic bounding box for search area
                      properties:
                        north:
                          type: number
                          description: North latitude boundary
                        south:
                          type: number
                          description: South latitude boundary
                        east:
                          type: number
                          description: East longitude boundary
                        west:
                          type: number
                          description: West longitude boundary
                      required:
                        - north
                        - south
                        - east
                        - west
                    filterState:
                      type: object
                      description: Search filters
                      properties:
                        sortSelection:
                          type: object
                          properties:
                            value:
                              type: string
                              description: "Sort order: globalrelevanceex, days, pricea, priced"
                        isAllHomes:
                          type: object
                          properties:
                            value:
                              type: boolean
                        price:
                          type: object
                          description: Price range filter
                          properties:
                            min:
                              type: integer
                            max:
                              type: integer
                        beds:
                          type: object
                          description: Minimum bedrooms filter
                          properties:
                            min:
                              type: integer
                    isListVisible:
                      type: boolean
                    regionSelection:
                      type: array
                      description: Region identifiers (from autocomplete or known region IDs)
                      items:
                        type: object
                        properties:
                          regionId:
                            type: integer
                            description: "Zillow region ID (e.g., 20330=San Francisco, 12447=Los Angeles, 16037=Seattle)"
                          regionType:
                            type: integer
                            description: "Region type (6=city)"
                        required:
                          - regionId
                          - regionType
                    category:
                      type: string
                      description: "Search category (cat1=for sale, cat2=for rent)"
                  required:
                    - mapBounds
                    - regionSelection
                    - category
                wants:
                  type: object
                  description: Response sections to include
                  properties:
                    cat1:
                      type: array
                      items:
                        type: string
                        enum:
                          - listResults
                          - mapResults
                  required:
                    - cat1
                requestId:
                  type: integer
                  description: Request counter
                isDebugRequest:
                  type: boolean
              required:
                - searchQueryState
                - wants
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      isLoggedIn:
                        type: boolean
                  regionState:
                    type: object
                    properties:
                      regionInfo:
                        type: array
                        items:
                          type: object
                          properties:
                            regionId:
                              type: integer
                            regionType:
                              type: integer
                            regionName:
                              type: string
                            displayName:
                              type: string
                            isPointRegion:
                              type: boolean
                      regionBounds:
                        type: object
                        properties:
                          north:
                            type: number
                          south:
                            type: number
                          east:
                            type: number
                          west:
                            type: number
                  cat1:
                    type: object
                    properties:
                      searchResults:
                        type: object
                        properties:
                          listResults:
                            type: array
                            items:
                              type: object
                              properties:
                                zpid:
                                  type: string
                                  description: Zillow property ID
                                detailUrl:
                                  type: string
                                  format: uri
                                  description: Property detail page URL
                                statusType:
                                  type: string
                                  description: "Listing status (FOR_SALE, RECENTLY_SOLD, etc.)"
                                statusText:
                                  type: string
                                price:
                                  type: string
                                  description: Formatted price string
                                unformattedPrice:
                                  type: integer
                                  description: Price in cents-free integer (e.g., 1395000)
                                address:
                                  type: string
                                  description: Full address
                                addressStreet:
                                  type: string
                                addressCity:
                                  type: string
                                addressState:
                                  type: string
                                addressZipcode:
                                  type: string
                                beds:
                                  type: integer
                                baths:
                                  type: integer
                                area:
                                  type: integer
                                  description: Living area in sqft
                                latLong:
                                  type: object
                                  properties:
                                    latitude:
                                      type: number
                                    longitude:
                                      type: number
                                imgSrc:
                                  type: string
                                  format: uri
                                  description: Primary listing photo URL
                                zestimate:
                                  type: integer
                                  description: Zillow estimated value
                                hdpData:
                                  type: object
                                  properties:
                                    homeInfo:
                                      type: object
                                      properties:
                                        zpid:
                                          type: integer
                                        streetAddress:
                                          type: string
                                        zipcode:
                                          type: string
                                        city:
                                          type: string
                                        state:
                                          type: string
                                        price:
                                          type: integer
                                        bathrooms:
                                          type: integer
                                        bedrooms:
                                          type: integer
                                        livingArea:
                                          type: integer
                                        homeType:
                                          type: string
                                          description: "SINGLE_FAMILY, CONDO, MULTI_FAMILY, TOWNHOUSE, etc."
                                        homeStatus:
                                          type: string
                                        daysOnZillow:
                                          type: integer
                                        zestimate:
                                          type: integer
                                        rentZestimate:
                                          type: integer
                                        taxAssessedValue:
                                          type: integer
                                        lotAreaValue:
                                          type: number
                                        lotAreaUnit:
                                          type: string
                                has3DModel:
                                  type: boolean
                                hasVideo:
                                  type: boolean
                                isFeaturedListing:
                                  type: boolean
                              required:
                                - zpid
                                - detailUrl
                                - price
                                - unformattedPrice
                                - address
                                - beds
                                - baths
                                - area
                                - latLong
                          mapResults:
                            type: array
                            items:
                              type: object
                              properties:
                                zpid:
                                  type: string
                                statusType:
                                  type: string
                                price:
                                  type: string
                                address:
                                  type: string
                                beds:
                                  type: integer
                                baths:
                                  type: integer
                                area:
                                  type: integer
                                latLong:
                                  type: object
                                  properties:
                                    latitude:
                                      type: number
                                    longitude:
                                      type: number
                  requestId:
                    type: integer
  /homedetails/{slug}/{zpid}:
    get:
      operationId: getPropertyDetail
      summary: >-
        Get full property details — address, price, beds, baths, sqft, photos,
        description, Zestimate, tax history, days on Zillow
      x-openweb:
        permission: read
        build:
          stable_id: zw_detail_v1
          tool_version: 1
        adapter:
          name: zillow-detail
          operation: getPropertyDetail
      parameters:
        - name: zpid
          in: path
          required: true
          schema:
            type: string
          description: Zillow Property ID (numeric string, e.g. "2077416986")
        - name: slug
          in: path
          required: true
          schema:
            type: string
            default: _
          description: URL slug (e.g. "123-Main-St-Seattle-WA-98101"). Use "_" if unknown.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: [object, "null"]
                properties:
                  zpid:
                    type: [integer, "null"]
                    description: Zillow property ID
                  address:
                    type: [object, "null"]
                    properties:
                      streetAddress:
                        type: [string, "null"]
                      city:
                        type: [string, "null"]
                      state:
                        type: [string, "null"]
                      zipcode:
                        type: [string, "null"]
                  price:
                    type: [integer, "null"]
                    description: Current listing or last sold price
                  bedrooms:
                    type: [integer, "null"]
                  bathrooms:
                    type: [number, "null"]
                  livingArea:
                    type: [integer, "null"]
                    description: Living area in sqft
                  livingAreaUnits:
                    type: [string, "null"]
                  lotSize:
                    type: [number, "null"]
                    description: Lot size
                  homeType:
                    type: [string, "null"]
                    description: "SINGLE_FAMILY, CONDO, TOWNHOUSE, MULTI_FAMILY, etc."
                  homeStatus:
                    type: [string, "null"]
                    description: "FOR_SALE, RECENTLY_SOLD, etc."
                  yearBuilt:
                    type: [integer, "null"]
                  description:
                    type: [string, "null"]
                    description: Property listing description
                  zestimate:
                    type: [integer, "null"]
                    description: Zillow estimated home value
                  rentZestimate:
                    type: [integer, "null"]
                    description: Zillow estimated rental value
                  taxAssessedValue:
                    type: [integer, "null"]
                  daysOnZillow:
                    type: [integer, "null"]
                  pageViewCount:
                    type: [integer, "null"]
                  favoriteCount:
                    type: [integer, "null"]
                  photos:
                    type: [array, "null"]
                    items:
                      type: [object, string, "null"]
                    description: Up to 10 photo URLs or mixed-source objects
                  url:
                    type: [string, "null"]
                    description: Canonical Zillow property URL
  /zestimate/{slug}/{zpid}:
    get:
      operationId: getZestimate
      summary: >-
        Get Zillow's home value estimate (Zestimate) — current value, rent
        estimate, confidence range, tax assessment, recent history
      x-openweb:
        permission: read
        build:
          stable_id: zw_zestimate_v1
          tool_version: 1
        adapter:
          name: zillow-detail
          operation: getZestimate
      parameters:
        - name: zpid
          in: path
          required: true
          schema:
            type: string
          description: Zillow Property ID (numeric string)
        - name: slug
          in: path
          required: true
          schema:
            type: string
            default: _
          description: URL slug. Use "_" if unknown.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: [object, "null"]
                properties:
                  zpid:
                    type: [integer, "null"]
                  address:
                    type: [object, "null"]
                    properties:
                      streetAddress:
                        type: [string, "null"]
                      city:
                        type: [string, "null"]
                      state:
                        type: [string, "null"]
                      zipcode:
                        type: [string, "null"]
                  zestimate:
                    type: [integer, "null"]
                    description: Current Zestimate value in dollars
                  rentZestimate:
                    type: [integer, "null"]
                    description: Estimated monthly rent
                  zestimateLowPercent:
                    type: [number, "null"]
                    description: Low-end confidence percentage
                  zestimateHighPercent:
                    type: [number, "null"]
                    description: High-end confidence percentage
                  taxAssessedValue:
                    type: [integer, "null"]
                  taxAssessedYear:
                    type: [integer, "null"]
                  price:
                    type: [integer, "null"]
                    description: Current listing price for comparison
                  homeType:
                    type: [string, "null"]
                  livingArea:
                    type: [integer, "null"]
                  bedrooms:
                    type: [integer, "null"]
                  bathrooms:
                    type: [number, "null"]
                  zestimateHistory:
                    type: [array, "null"]
                    description: Up to 12 recent Zestimate data points
                    items:
                      type: object
                      properties:
                        date:
                          type: [string, "null"]
                        value:
                          type: [number, "null"]
  /neighborhood/{slug}/{zpid}:
    get:
      operationId: getNeighborhood
      summary: >-
        Get neighborhood data — schools, walk/transit/bike scores, nearby homes
      x-openweb:
        permission: read
        build:
          stable_id: zw_neighborhood_v1
          tool_version: 1
        adapter:
          name: zillow-detail
          operation: getNeighborhood
      parameters:
        - name: zpid
          in: path
          required: true
          schema:
            type: string
          description: Zillow Property ID (numeric string)
        - name: slug
          in: path
          required: true
          schema:
            type: string
            default: _
          description: URL slug. Use "_" if unknown.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: [object, "null"]
                properties:
                  zpid:
                    type: [integer, "null"]
                  address:
                    type: [object, "null"]
                    properties:
                      streetAddress:
                        type: [string, "null"]
                      city:
                        type: [string, "null"]
                      state:
                        type: [string, "null"]
                      zipcode:
                        type: [string, "null"]
                  walkScore:
                    type: [integer, "null"]
                    description: Walk Score (0-100)
                  transitScore:
                    type: [integer, "null"]
                    description: Transit Score (0-100)
                  bikeScore:
                    type: [integer, "null"]
                    description: Bike Score (0-100)
                  schools:
                    type: [array, "null"]
                    description: Nearby schools with ratings
                    items:
                      type: object
                      properties:
                        name:
                          type: [string, "null"]
                        rating:
                          type: [integer, "null"]
                          description: GreatSchools rating (1-10)
                        level:
                          type: [string, "null"]
                          description: "elementary, middle, high"
                        type:
                          type: [string, "null"]
                          description: "public, private, charter"
                        distance:
                          type: [number, "null"]
                          description: Distance in miles
                        link:
                          type: [string, "null"]
                  nearbyHomes:
                    type: [array, "null"]
                    description: Comparable nearby properties
                    items:
                      type: object
                      properties:
                        zpid:
                          type: [integer, "null"]
                        address:
                          type: [string, "null"]
                        price:
                          type: [integer, "null"]
                        bedrooms:
                          type: [integer, "null"]
                        bathrooms:
                          type: [number, "null"]
                        livingArea:
                          type: [integer, "null"]
                        homeType:
                          type: [string, "null"]
