openapi: 3.1.0
info:
  title: zillow
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-06T02:38:30.184Z
    requires_auth: false
    extraction_signals:
      - type: ssr_next_data
        selector: script#__NEXT_DATA__
        estimatedSize: 418347
servers:
  - url: https://www.zillow.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
paths:
  /async-create-search-page-state:
    put:
      operationId: searchProperties
      summary: >-
        Search properties for sale — address, price, beds, baths, sqft,
        zestimate, lat/lng, photos, days on Zillow
      x-openweb:
        permission: read
        build:
          stable_id: 0ff38e575b19dcfb
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                searchQueryState:
                  type: object
                  description: Search parameters
                  properties:
                    pagination:
                      type: object
                      description: Pagination state (empty for first page)
                    isMapVisible:
                      type: boolean
                    mapBounds:
                      type: object
                      description: Geographic bounding box for search area
                      properties:
                        north:
                          type: number
                          description: North latitude boundary
                        south:
                          type: number
                          description: South latitude boundary
                        east:
                          type: number
                          description: East longitude boundary
                        west:
                          type: number
                          description: West longitude boundary
                      required:
                        - north
                        - south
                        - east
                        - west
                    filterState:
                      type: object
                      description: Search filters
                      properties:
                        sortSelection:
                          type: object
                          properties:
                            value:
                              type: string
                              description: "Sort order: globalrelevanceex, days, pricea, priced"
                        isAllHomes:
                          type: object
                          properties:
                            value:
                              type: boolean
                        price:
                          type: object
                          description: Price range filter
                          properties:
                            min:
                              type: integer
                            max:
                              type: integer
                        beds:
                          type: object
                          description: Minimum bedrooms filter
                          properties:
                            min:
                              type: integer
                    isListVisible:
                      type: boolean
                    regionSelection:
                      type: array
                      description: Region identifiers (from autocomplete or known region IDs)
                      items:
                        type: object
                        properties:
                          regionId:
                            type: integer
                            description: "Zillow region ID (e.g., 20330=San Francisco, 12447=Los Angeles, 16037=Seattle)"
                          regionType:
                            type: integer
                            description: "Region type (6=city)"
                        required:
                          - regionId
                          - regionType
                    category:
                      type: string
                      description: "Search category (cat1=for sale, cat2=for rent)"
                  required:
                    - mapBounds
                    - regionSelection
                    - category
                wants:
                  type: object
                  description: Response sections to include
                  properties:
                    cat1:
                      type: array
                      items:
                        type: string
                        enum:
                          - listResults
                          - mapResults
                  required:
                    - cat1
                requestId:
                  type: integer
                  description: Request counter
                isDebugRequest:
                  type: boolean
              required:
                - searchQueryState
                - wants
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      isLoggedIn:
                        type: boolean
                  regionState:
                    type: object
                    properties:
                      regionInfo:
                        type: array
                        items:
                          type: object
                          properties:
                            regionId:
                              type: integer
                            regionType:
                              type: integer
                            regionName:
                              type: string
                            displayName:
                              type: string
                            isPointRegion:
                              type: boolean
                      regionBounds:
                        type: object
                        properties:
                          north:
                            type: number
                          south:
                            type: number
                          east:
                            type: number
                          west:
                            type: number
                  cat1:
                    type: object
                    properties:
                      searchResults:
                        type: object
                        properties:
                          listResults:
                            type: array
                            items:
                              type: object
                              properties:
                                zpid:
                                  type: string
                                  description: Zillow property ID
                                detailUrl:
                                  type: string
                                  format: uri
                                  description: Property detail page URL
                                statusType:
                                  type: string
                                  description: "Listing status (FOR_SALE, RECENTLY_SOLD, etc.)"
                                statusText:
                                  type: string
                                price:
                                  type: string
                                  description: Formatted price string
                                unformattedPrice:
                                  type: integer
                                  description: Price in cents-free integer (e.g., 1395000)
                                address:
                                  type: string
                                  description: Full address
                                addressStreet:
                                  type: string
                                addressCity:
                                  type: string
                                addressState:
                                  type: string
                                addressZipcode:
                                  type: string
                                beds:
                                  type: integer
                                baths:
                                  type: integer
                                area:
                                  type: integer
                                  description: Living area in sqft
                                latLong:
                                  type: object
                                  properties:
                                    latitude:
                                      type: number
                                    longitude:
                                      type: number
                                imgSrc:
                                  type: string
                                  format: uri
                                  description: Primary listing photo URL
                                zestimate:
                                  type: integer
                                  description: Zillow estimated value
                                hdpData:
                                  type: object
                                  properties:
                                    homeInfo:
                                      type: object
                                      properties:
                                        zpid:
                                          type: integer
                                        streetAddress:
                                          type: string
                                        zipcode:
                                          type: string
                                        city:
                                          type: string
                                        state:
                                          type: string
                                        price:
                                          type: integer
                                        bathrooms:
                                          type: integer
                                        bedrooms:
                                          type: integer
                                        livingArea:
                                          type: integer
                                        homeType:
                                          type: string
                                          description: "SINGLE_FAMILY, CONDO, MULTI_FAMILY, TOWNHOUSE, etc."
                                        homeStatus:
                                          type: string
                                        daysOnZillow:
                                          type: integer
                                        zestimate:
                                          type: integer
                                        rentZestimate:
                                          type: integer
                                        taxAssessedValue:
                                          type: integer
                                        lotAreaValue:
                                          type: number
                                        lotAreaUnit:
                                          type: string
                                has3DModel:
                                  type: boolean
                                hasVideo:
                                  type: boolean
                                isFeaturedListing:
                                  type: boolean
                              required:
                                - zpid
                                - detailUrl
                                - price
                                - unformattedPrice
                                - address
                                - beds
                                - baths
                                - area
                                - latLong
                          mapResults:
                            type: array
                            items:
                              type: object
                              properties:
                                zpid:
                                  type: string
                                statusType:
                                  type: string
                                price:
                                  type: string
                                address:
                                  type: string
                                beds:
                                  type: integer
                                baths:
                                  type: integer
                                area:
                                  type: integer
                                latLong:
                                  type: object
                                  properties:
                                    latitude:
                                      type: number
                                    longitude:
                                      type: number
                  requestId:
                    type: integer
