openapi: '3.1.0'
info:
  title: Uber API
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: true
servers:
  - url: https://www.ubereats.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
paths:
  /_p/api/getSearchFeedV1:
    post:
      operationId: searchRestaurants
      summary: Search Uber Eats restaurants by keyword — names, ratings, images, delivery times
      x-openweb:
        permission: read
        unwrap: data
        build:
          stable_id: ub0001
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
      parameters:
        - name: x-csrf-token
          in: header
          required: true
          schema:
            type: string
            const: 'x'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userQuery
              properties:
                userQuery:
                  type: string
                  description: Search keyword (e.g. "pizza", "sushi", "thai").
                date:
                  type: string
                  default: ''
                startTime:
                  type: integer
                  default: 0
                endTime:
                  type: integer
                  default: 0
                sortAndFilters:
                  type: array
                  default: []
                vertical:
                  type: string
                  default: ''
                searchSource:
                  type: string
                  default: ''
                displayType:
                  type: string
                  default: SEARCH_RESULTS
                searchType:
                  type: string
                  default: ''
                keyName:
                  type: string
                  default: ''
                cacheKey:
                  type: string
                  default: ''
                recaptchaToken:
                  type: string
                  default: ''
      responses:
        '200':
          description: Search results feed (after data unwrap).
          content:
            application/json:
              schema:
                type: object
                properties:
                  feedItems:
                    type: array
                    description: Feed items — filter by type REGULAR_STORE for restaurants.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: Item type (e.g. "REGULAR_STORE").
                        store:
                          type: object
                          properties:
                            storeUuid:
                              type: string
                            title:
                              type: object
                              properties:
                                text:
                                  type: string
                                  description: Restaurant name.
                            rating:
                              type:
                                - object
                                - 'null'
                              properties:
                                text:
                                  type: string
                                  description: Rating value (e.g. "4.5").
                                accessibilityText:
                                  type: string
                            image:
                              type: object
                              properties:
                                items:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                            meta:
                              type: array
                              items:
                                type: object
                                properties:
                                  text:
                                    type: string
                                  badgeType:
                                    type: string
                                    description: Badge type (e.g. ETD for delivery time, MembershipBenefit for delivery fee).
                            actionUrl:
                              type:
                                - string
                                - 'null'
                  subtitle:
                    type:
                      - string
                      - 'null'
                    description: Human-readable total results string.

  /_p/api/getPastOrdersV1:
    post:
      operationId: getEatsOrderHistory
      summary: Get Uber Eats past orders — stores, items, prices, timestamps
      x-openweb:
        permission: read
        unwrap: data
        build:
          stable_id: ub0003
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
      parameters:
        - name: x-csrf-token
          in: header
          required: true
          schema:
            type: string
            const: 'x'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lastWorkflowUUID:
                  type: string
                  default: ''
                  description: Pagination cursor from previous response (empty for first page).
      responses:
        '200':
          description: Past Eats orders (after data unwrap).
          content:
            application/json:
              schema:
                type: object
                properties:
                  ordersMap:
                    type: object
                    description: Map of order UUID to order details.
                    additionalProperties:
                      type: object
                      properties:
                        baseEaterOrder:
                          type: object
                          properties:
                            uuid:
                              type: string
                            completedAt:
                              type:
                                - string
                                - 'null'
                            isCancelled:
                              type: boolean
                            isCompleted:
                              type: boolean
                            shoppingCart:
                              type: object
                              properties:
                                items:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type: string
                                      price:
                                        type: number
                                        description: Price in cents.
                                      quantity:
                                        type: integer
                        storeInfo:
                          type: object
                          properties:
                            title:
                              type: string
                              description: Restaurant name.
                            uuid:
                              type: string
                        fareInfo:
                          type: object
                          properties:
                            totalPrice:
                              type:
                                - number
                                - 'null'
                              description: Total in cents.
                  orderUuids:
                    type: array
                    items:
                      type: string
                    description: Ordered list of UUIDs — use to look up ordersMap.
                  paginationData:
                    type:
                      - object
                      - 'null'
                    properties:
                      nextCursor:
                        type: string
                  meta:
                    type:
                      - object
                      - 'null'
                    properties:
                      hasMore:
                        type: boolean

  /_p/api/getStoreV1:
    post:
      operationId: getRestaurantMenu
      summary: Get Uber Eats restaurant menu — categories, items, prices, images, availability
      x-openweb:
        permission: read
        unwrap: data
      parameters:
        - name: x-csrf-token
          in: header
          required: true
          schema:
            type: string
            const: 'x'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - storeUuid
              properties:
                storeUuid:
                  type: string
                  description: Full UUID of the restaurant (from searchRestaurants storeUuid field).
      responses:
        '200':
          description: Restaurant info and full menu (after data unwrap).
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Restaurant name.
                  uuid:
                    type: string
                  slug:
                    type: string
                  rating:
                    type: object
                    properties:
                      ratingValue:
                        type: number
                      reviewCount:
                        type: string
                  currencyCode:
                    type: string
                    description: Currency code (e.g. "USD").
                  isOpen:
                    type: boolean
                  etaRange:
                    type: object
                    description: Delivery time estimate.
                  location:
                    type: object
                    properties:
                      address:
                        type: string
                        description: Full street address.
                      latitude:
                        type: number
                      longitude:
                        type: number
                  hours:
                    type: array
                    description: Operating hours by day.
                  sections:
                    type: array
                    description: Menu time sections (e.g. Dinner, Lunch). Each has subsectionUuids.
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        uuid:
                          type: string
                        subsectionUuids:
                          type: array
                          items:
                            type: string
                  catalogSectionsMap:
                    type: object
                    description: "Map of section UUID to menu categories array. Each category has standardItemsPayload.catalogItems."
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: "Layout type (HORIZONTAL_GRID, VERTICAL_GRID)."
                          catalogSectionUUID:
                            type: string
                          payload:
                            type: object
                            properties:
                              standardItemsPayload:
                                type: object
                                properties:
                                  title:
                                    type: object
                                    properties:
                                      text:
                                        type: string
                                        description: Category name (e.g. "Featured items", "Burgers").
                                  catalogItems:
                                    type: array
                                    description: Menu items in this category.
                                    items:
                                      type: object
                                      properties:
                                        uuid:
                                          type: string
                                          description: Item UUID — use for item detail or cart operations.
                                        title:
                                          type: string
                                          description: Item name.
                                        price:
                                          type: integer
                                          description: Price in cents.
                                        imageUrl:
                                          type:
                                            - string
                                            - 'null'
                                        isSoldOut:
                                          type: boolean
                                        hasCustomizations:
                                          type: boolean
                                          description: Whether item requires customization choices.
                                        isAvailable:
                                          type: boolean
                                        subsectionUuid:
                                          type: string
                                        sectionUuid:
                                          type: string

  /internal/addToCart:
    post:
      operationId: addToCart
      summary: Add an item to Uber Eats cart — requires store UUID and item UUID from getRestaurantMenu
      x-openweb:
        permission: write
        adapter:
          name: uber-eats
          operation: addToCart
        transport: page
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - storeUuid
                - itemUuid
              properties:
                storeUuid:
                  type: string
                  description: Full UUID of the restaurant.
                itemUuid:
                  type: string
                  description: Item UUID from getRestaurantMenu catalogItems.
                quantity:
                  type: integer
                  default: 1
                  description: Number of items to add.
      responses:
        '200':
          description: Cart state after adding item.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  storeUuid:
                    type: string
                  itemUuid:
                    type: string
                  quantity:
                    type: integer
