openapi: '3.1.0'
info:
  title: Expedia API
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-01T00:00:00Z'
    requires_auth: false
servers:
  - url: https://www.expedia.com
    x-openweb:
      transport: page
paths:
  /hotels/search:
    get:
      operationId: searchHotels
      summary: 'Search hotels — name, price per night, star rating, location, amenities, review score'
      x-openweb:
        permission: read
        build:
          stable_id: exp0001
          tool_version: 2
        adapter:
          name: expedia-graphql
          operation: searchHotels
      parameters:
        - name: destination
          in: query
          required: true
          schema:
            type: string
          description: City or region name (e.g. "New York", "San Francisco", "London").
        - name: checkInDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Check-in date (YYYY-MM-DD).
        - name: checkOutDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Check-out date (YYYY-MM-DD).
        - name: adults
          in: query
          required: false
          schema:
            type: integer
            default: 2
          description: Number of adults per room.
        - name: rooms
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Number of rooms.
        - name: regionId
          in: query
          required: false
          schema:
            type: string
          description: Expedia region ID for precise location targeting (obtained from prior search).
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [RECOMMENDED, PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, DISTANCE, GUEST_RATING, STAR_RATING]
            default: RECOMMENDED
          description: Sort order for results.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset (number of results to skip).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
          description: Number of results to return (max ~100).
      responses:
        '200':
          description: Hotel search results with listings, pagination, and summary.
          content:
            application/json:
              schema:
                type: object
                properties:
                  propertySearchListings:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Property ID (use with getHotelDetail).
                        headingSection:
                          type: object
                          properties:
                            heading:
                              type: string
                              description: Hotel name.
                            messages:
                              type: array
                              items:
                                type: object
                                properties:
                                  text:
                                    type: string
                                    description: Location/neighborhood.
                        priceSection:
                          type: object
                          description: Pricing with display messages and per-night rate.
                        mediaSection:
                          type: object
                          description: Hotel photos gallery.
                  pagination:
                    type: object
                    properties:
                      subSets:
                        type: object
                        properties:
                          nextSubSet:
                            type: object
                            properties:
                              size:
                                type: integer
                              startingIndex:
                                type: integer
                  summary:
                    type: object
                    properties:
                      matchedPropertiesSize:
                        type: integer
                        description: Total number of matching hotels.
                      resultsHeading:
                        type: string

  /hotels/{propertyId}:
    get:
      operationId: getHotelDetail
      summary: 'Get hotel detail — amenities, location, policies, FAQs, nearby points of interest'
      x-openweb:
        permission: read
        build:
          stable_id: exp0002
          tool_version: 2
        adapter:
          name: expedia-graphql
          operation: getHotelDetail
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
          description: 'Property ID from searchHotels (e.g. "27924").'
        - name: checkInDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Check-in date (YYYY-MM-DD). Defaults to near-future date.
        - name: checkOutDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Check-out date (YYYY-MM-DD).
        - name: adults
          in: query
          required: false
          schema:
            type: integer
            default: 2
          description: Number of adults.
        - name: regionId
          in: query
          required: false
          schema:
            type: string
          description: Region ID from prior search for contextual pricing.
      responses:
        '200':
          description: Full hotel detail including amenities, policies, and location.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  summary:
                    type: object
                    properties:
                      amenities:
                        type: object
                        description: Top amenities (pet-friendly, WiFi, pool, etc.).
                      location:
                        type: object
                        description: Nearby POIs, what's around, distances.
                      overview:
                        type: object
                        description: VIP messaging, star rating.
                  propertyContentSectionGroups:
                    type: object
                    description: Policies, about this property, important info sections.
                  frequentlyAskedQuestions:
                    type: object
                    description: FAQs about the property.

  /hotels/{propertyId}/prices:
    get:
      operationId: getHotelPrices
      summary: 'Get hotel prices — daily rate calendar with per-day nightly rates and availability'
      x-openweb:
        permission: read
        build:
          stable_id: exp0005
          tool_version: 2
        adapter:
          name: expedia-graphql
          operation: getHotelPrices
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
          description: 'Property ID from searchHotels (e.g. "27924").'
        - name: checkInDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Check-in date (YYYY-MM-DD).
        - name: checkOutDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Check-out date (YYYY-MM-DD).
        - name: adults
          in: query
          required: false
          schema:
            type: integer
            default: 2
          description: Number of adults per room.
        - name: rooms
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Number of rooms.
      responses:
        '200':
          description: Daily rate calendar with per-day pricing and availability.
          content:
            application/json:
              schema:
                type: object
                properties:
                  configuration:
                    type: object
                    description: Calendar configuration (date range, constraints).
                  days:
                    type: array
                    description: Per-day pricing entries across ~240 days.
                    items:
                      type: object
                      properties:
                        date:
                          type: object
                          properties:
                            day:
                              type: integer
                            month:
                              type: integer
                            year:
                              type: integer
                        displayPrice:
                          type: string
                          description: 'Formatted nightly rate (e.g. "$616").'
                        available:
                          type: boolean
                          nullable: true
                          description: Whether the date is available for check-in.
                        checkinValidity:
                          type: object
                          nullable: true
                          description: Check-in validity constraints for this date.
                        checkoutValidity:
                          type: object
                          nullable: true
                          description: Check-out validity constraints for this date.
                  disclaimer:
                    type: object
                    nullable: true
                    description: Pricing disclaimer text.
                  validationMessage:
                    type: string
                    nullable: true
                    description: Validation message for date selection (e.g. max stay length).

  /hotels/{propertyId}/reviews:
    get:
      operationId: getHotelReviews
      summary: 'Get hotel reviews — guest ratings, review text, reviewer info, overall score breakdown'
      x-openweb:
        permission: read
        build:
          stable_id: exp0006
          tool_version: 2
        adapter:
          name: expedia-graphql
          operation: getHotelReviews
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
          description: 'Property ID from searchHotels (e.g. "27924").'
      responses:
        '200':
          description: Guest reviews and rating summary for the hotel.
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: object
                    properties:
                      overallScoreWithDescriptionA11y:
                        type: object
                        description: Overall score with accessibility text.
                      totalCount:
                        type: object
                        description: Total review count with raw value.
                      cleanliness:
                        type: string
                        description: Cleanliness rating.
                      serviceAndStaff:
                        type: string
                        description: Service and staff rating.
                      hotelCondition:
                        type: string
                        description: Hotel condition rating.
                      roomComfort:
                        type: string
                        description: Room comfort rating.
                  reviews:
                    type: array
                    description: Individual guest reviews.
                    items:
                      type: object
                      properties:
                        contentDirectFeedbackPromptId:
                          type: string
                          nullable: true
                        id:
                          type: string
                          description: Review ID.
                        superlative:
                          type: string
                          description: 'Rating label (e.g. "Excellent", "Good").'
                        locale:
                          type: string
                        title:
                          type: string
                          description: Review title.
                        brandType:
                          type: string
                        reviewScoreWithDescription:
                          type: object
                          description: Score with label and accessibility text.
                        text:
                          type: string
                          description: Full review text.
                        submissionTime:
                          type: object
                          description: Review submission date.
                        themes:
                          type: array
                          nullable: true
                          description: Tagged review themes (location, cleanliness, etc.).
                          items:
                            type: object
                        reviewAuthorAttribution:
                          type: object
                          description: Reviewer info (name, location).
                        photographsByGuest:
                          type: array
                          nullable: true
                          description: Guest-uploaded photos.
                          items:
                            type: object

  /flights/search:
    get:
      operationId: searchFlights
      summary: 'Search flights — airline, departure/arrival times, duration, stops, price per person'
      x-openweb:
        permission: read
        build:
          stable_id: exp0003
          tool_version: 2
        adapter:
          name: expedia-graphql
          operation: searchFlights
      parameters:
        - name: origin
          in: query
          required: true
          schema:
            type: string
          description: 'Origin airport/city (e.g. "New York (NYC-All Airports)", "San Francisco (SFO)").'
        - name: destination
          in: query
          required: true
          schema:
            type: string
          description: 'Destination airport/city (e.g. "Los Angeles (LAX-Los Angeles Intl.)").'
        - name: departureDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Departure date (YYYY-MM-DD).
        - name: returnDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Return date for round trips (YYYY-MM-DD). Omit for one-way.
        - name: adults
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Number of adult passengers.
        - name: cabinClass
          in: query
          required: false
          schema:
            type: string
            enum: [COACH, PREMIUM_COACH, BUSINESS, FIRST]
            default: COACH
          description: Cabin class preference.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
          description: Number of results to return.
      responses:
        '200':
          description: Flight search results with listings and pricing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  listingResult:
                    type: object
                    properties:
                      listings:
                        type: array
                        items:
                          type: object
                          properties:
                            __typename:
                              type: string
                              description: Listing type (FlightsHeaderListing or FlightsStandardOffer).
                            heading:
                              type: string
                              nullable: true
                              description: Section heading (for header listings).
                            journeys:
                              type: array
                              nullable: true
                              description: Flight journey legs with details and fares.
                              items:
                                type: object
                            flightsShoppingOfferContent:
                              type: object
                              nullable: true
                              description: Offer content with departure/arrival times, stops, route.
                            priceDisplay:
                              type: object
                              nullable: true
                              description: Price rows with per-person fare.
                            badgesList:
                              type: object
                              nullable: true
                              description: Promotion or feature badges.
                      moreListingsAvailable:
                        type: boolean
                        nullable: true
                  pageTitle:
                    type: object
                    description: Search context with date and route labels.
                  cheapestListingInfo:
                    type: object
                    description: Cheapest available fare summary with price string.

  /flights/detail:
    get:
      operationId: getFlightDetail
      summary: 'Get flight detail — same as searchFlights with all fare/segment info in response'
      x-openweb:
        permission: read
        build:
          stable_id: exp0004
          tool_version: 2
        adapter:
          name: expedia-graphql
          operation: getFlightDetail
      parameters:
        - name: origin
          in: query
          required: true
          schema:
            type: string
          description: 'Origin airport/city.'
        - name: destination
          in: query
          required: true
          schema:
            type: string
          description: 'Destination airport/city.'
        - name: departureDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Departure date (YYYY-MM-DD).
        - name: returnDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Return date (YYYY-MM-DD).
        - name: adults
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: cabinClass
          in: query
          required: false
          schema:
            type: string
            enum: [COACH, PREMIUM_COACH, BUSINESS, FIRST]
            default: COACH
      responses:
        '200':
          description: Detailed flight search results with full fare and segment information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  listingResult:
                    type: object
                    properties:
                      listings:
                        type: array
                        items:
                          type: object
                          properties:
                            __typename:
                              type: string
                              description: Listing type (FlightsHeaderListing or FlightsStandardOffer).
                            journeys:
                              type: array
                              nullable: true
                              description: Flight journey legs with details and fares.
                              items:
                                type: object
                            flightsShoppingOfferContent:
                              type: object
                              nullable: true
                              description: Offer content with departure/arrival times, stops, route.
                            priceDisplay:
                              type: object
                              nullable: true
                              description: Price rows with per-person fare.
                      moreListingsAvailable:
                        type: boolean
                        nullable: true
                    description: Flight listings with full fare details.
                  pageTitle:
                    type: object
                    description: Search context with date and route labels.
