openapi: '3.1.0'
info:
  title: Wikipedia
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: false
servers:
  - url: https://en.wikipedia.org
paths:
  /w/api.php:
    get:
      operationId: searchArticles
      summary: Search Wikipedia articles by keyword
      x-openweb:
        transport: node
        permission: read
        build:
          stable_id: wp0001
          tool_version: 1
          verified: true
          signals:
            - status-match
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            const: query
          description: API action.
        - name: list
          in: query
          required: true
          schema:
            type: string
            const: search
          description: Query list type.
        - name: srsearch
          in: query
          required: true
          schema:
            type: string
          description: Search query.
        - name: srlimit
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: Maximum number of results.
        - name: sroffset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Offset for pagination.
        - name: format
          in: query
          required: true
          schema:
            type: string
            const: json
          description: Response format.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [batchcomplete, query]
                properties:
                  batchcomplete:
                    type: string
                  query:
                    type: object
                    required: [searchinfo, search]
                    properties:
                      searchinfo:
                        type: object
                        required: [totalhits]
                        properties:
                          totalhits:
                            type: integer
                      search:
                        type: array
                        items:
                          type: object
                          required: [ns, title, pageid, size, wordcount, snippet, timestamp]
                          properties:
                            ns:
                              type: integer
                            title:
                              type: string
                            pageid:
                              type: integer
                            size:
                              type: integer
                            wordcount:
                              type: integer
                            snippet:
                              type: string
                            timestamp:
                              type: string
  /api/rest_v1/page/summary/{title}:
    get:
      operationId: getPageSummary
      summary: Get a summary of a Wikipedia page by title
      x-openweb:
        transport: node
        permission: read
        build:
          stable_id: wp0002
          tool_version: 1
          verified: true
          signals:
            - status-match
      parameters:
        - name: title
          in: path
          required: true
          schema:
            type: string
          description: Page title (underscores for spaces).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [type, title, pageid, lang, dir, revision, tid, extract]
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  displaytitle:
                    type: string
                  namespace:
                    type: object
                  wikibase_item:
                    type: string
                  titles:
                    type: object
                  pageid:
                    type: integer
                  thumbnail:
                    type: object
                  originalimage:
                    type: object
                  lang:
                    type: string
                  dir:
                    type: string
                  revision:
                    type: string
                  tid:
                    type: string
                  description:
                    type: string
                  description_source:
                    type: string
                  content_urls:
                    type: object
                  extract:
                    type: string
                  extract_html:
                    type: string
  /w/rest.php/v1/page/{title}:
    get:
      operationId: getPageSource
      summary: Get the full wikitext source and metadata of a Wikipedia article
      x-openweb:
        transport: node
        permission: read
        build:
          stable_id: wp0003
          tool_version: 1
          verified: false
          signals: []
      parameters:
        - name: title
          in: path
          required: true
          schema:
            type: string
          description: Page title (underscores for spaces).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [id, key, title, latest, content_model, license, source]
                properties:
                  id:
                    type: integer
                  key:
                    type: string
                  title:
                    type: string
                  latest:
                    type: object
                    properties:
                      id:
                        type: integer
                      timestamp:
                        type: string
                  content_model:
                    type: string
                  license:
                    type: object
                    properties:
                      url:
                        type: string
                      title:
                        type: string
                  source:
                    type: string
                    description: Full article wikitext source.
  /api/rest_v1/page/media-list/{title}:
    get:
      operationId: getPageMediaList
      summary: Get all images and media files for a Wikipedia page
      x-openweb:
        transport: node
        permission: read
        build:
          stable_id: wp0004
          tool_version: 1
          verified: false
          signals: []
      parameters:
        - name: title
          in: path
          required: true
          schema:
            type: string
          description: Page title (underscores for spaces).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [revision, tid, items]
                properties:
                  revision:
                    type: string
                  tid:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      required: [title, type, section_id]
                      properties:
                        title:
                          type: string
                          description: File title (e.g. File:Example.jpg).
                        leadImage:
                          type: boolean
                        section_id:
                          type: integer
                        type:
                          type: string
                          description: Media type (image, audio, video).
                        showInGallery:
                          type: boolean
                        caption:
                          type: object
                          properties:
                            html:
                              type: string
                            text:
                              type: string
                        srcset:
                          type: array
                          items:
                            type: object
                            properties:
                              src:
                                type: string
                              scale:
                                type: string
  /api/rest_v1/page/random/summary:
    get:
      operationId: getRandomArticle
      summary: Get a summary of a random Wikipedia article
      x-openweb:
        transport: node
        permission: read
        build:
          stable_id: wp0005
          tool_version: 1
          verified: false
          signals: []
      parameters: []
      responses:
        '200':
          description: Success. Same schema as getPageSummary.
          content:
            application/json:
              schema:
                type: object
                required: [type, title, pageid, lang, dir, revision, tid, extract]
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  displaytitle:
                    type: string
                  namespace:
                    type: object
                  wikibase_item:
                    type: string
                  titles:
                    type: object
                  pageid:
                    type: integer
                  thumbnail:
                    type: object
                  originalimage:
                    type: object
                  lang:
                    type: string
                  dir:
                    type: string
                  revision:
                    type: string
                  tid:
                    type: string
                  description:
                    type: string
                  content_urls:
                    type: object
                  extract:
                    type: string
                  extract_html:
                    type: string
  /w/rest.php/v1/page/{title}/history:
    get:
      operationId: getPageRevisions
      summary: Get the revision history of a Wikipedia page
      x-openweb:
        transport: node
        permission: read
        build:
          stable_id: wp0006
          tool_version: 1
          verified: false
          signals: []
      parameters:
        - name: title
          in: path
          required: true
          schema:
            type: string
          description: Page title (underscores for spaces).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Maximum number of revisions to return.
        - name: older_than
          in: query
          required: false
          schema:
            type: integer
          description: Revision ID to paginate from (returns revisions older than this).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [revisions]
                properties:
                  revisions:
                    type: array
                    items:
                      type: object
                      required: [id, timestamp, size, comment, user]
                      properties:
                        id:
                          type: integer
                        timestamp:
                          type: string
                        minor:
                          type: boolean
                        size:
                          type: integer
                        comment:
                          type: string
                        user:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                        delta:
                          type: integer
                  latest:
                    type: string
                  older:
                    type: string
