openapi: '3.1.0'
info:
  title: DoorDash API
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: true
servers:
  - url: https://www.doordash.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
paths:
  /internal/searchRestaurants:
    get:
      operationId: searchRestaurants
      summary: Search restaurants by keyword — returns names, categories, images, store IDs
      x-openweb:
        permission: read
        build:
          stable_id: dd0001
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: doordash-graphql
          operation: searchRestaurants
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search keyword (e.g. "pizza", "sushi", "thai").
      responses:
        '200':
          description: List of matching restaurants.
          content:
            application/json:
              schema:
                type: object
                required:
                  - restaurants
                  - count
                properties:
                  count:
                    type: integer
                    description: Total number of results returned.
                  restaurants:
                    type: array
                    items:
                      type: object
                      required:
                        - name
                      properties:
                        name:
                          type: string
                          description: Restaurant name.
                        categories:
                          type:
                            - string
                            - 'null'
                          description: Comma-separated cuisine/category tags (null for non-store results).
                        imageUrl:
                          type: string
                          description: Cover image URL.
                        storeId:
                          type: string
                          description: DoorDash store ID (use with getRestaurantMenu).
                        resultType:
                          type: string
                          description: Result type (STORE, ITEM, etc.).
  /internal/getRestaurantMenu:
    get:
      operationId: getRestaurantMenu
      summary: Get restaurant details and full menu — header info, categories, items with prices
      x-openweb:
        permission: read
        build:
          stable_id: dd0002
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: doordash-graphql
          operation: getRestaurantMenu
      parameters:
        - name: storeId
          in: query
          required: true
          schema:
            type: string
          description: DoorDash store ID (from searchRestaurants).
        - name: menuId
          in: query
          required: false
          schema:
            type: string
          description: Specific menu ID. Omit for default menu.
        - name: fulfillmentType
          in: query
          required: false
          schema:
            type: string
            default: Delivery
            enum:
              - Delivery
              - Pickup
          description: Delivery or Pickup.
      responses:
        '200':
          description: Store details and menu.
          content:
            application/json:
              schema:
                type: object
                required:
                  - storeHeader
                  - menuBook
                  - itemLists
                properties:
                  storeHeader:
                    type: object
                    required:
                      - id
                      - name
                    properties:
                      id:
                        type: string
                        description: DoorDash store ID.
                      name:
                        type: string
                        description: Restaurant name.
                      description:
                        type: string
                        description: Restaurant description.
                      priceRange:
                        type: integer
                        description: Price tier (1–4).
                      address:
                        type: object
                        required:
                          - displayAddress
                        properties:
                          displayAddress:
                            type: string
                            description: Full display address.
                          city:
                            type: string
                          state:
                            type: string
                      ratings:
                        type: object
                        required:
                          - averageRating
                          - numRatingsDisplayString
                        properties:
                          averageRating:
                            type: number
                            description: Average star rating (e.g. 4.7).
                          numRatingsDisplayString:
                            type: string
                            description: Display string for rating count (e.g. "1,200+ ratings").
                      status:
                        type: object
                        properties:
                          delivery:
                            type: object
                            required:
                              - isAvailable
                            properties:
                              isAvailable:
                                type: boolean
                                description: Whether delivery is currently available.
                              minutes:
                                type: string
                                description: Estimated delivery time (e.g. "25-35").
                  menuBook:
                    type: object
                    required:
                      - name
                      - menuCategories
                    properties:
                      name:
                        type: string
                        description: Menu name (e.g. "Dinner", "All Day").
                      menuCategories:
                        type: array
                        items:
                          type: object
                          required:
                            - id
                            - name
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                              description: Category name (e.g. "Popular Items", "Appetizers").
                            numItems:
                              type: integer
                              description: Number of items in this category.
                  itemLists:
                    type: array
                    items:
                      type: object
                      required:
                        - name
                        - items
                      properties:
                        name:
                          type: string
                          description: Menu category name.
                        items:
                          type: array
                          items:
                            type: object
                            required:
                              - id
                              - name
                              - displayPrice
                            properties:
                              id:
                                type: string
                                description: Menu item ID (use with addToCart).
                              name:
                                type: string
                                description: Item name.
                              description:
                                type: string
                                description: Item description.
                              displayPrice:
                                type: string
                                description: Formatted price (e.g. "$12.99").
                              imageUrl:
                                type: string
                                description: Item image URL.
  /internal/getOrderHistory:
    get:
      operationId: getOrderHistory
      summary: Get order history with details — store, items, totals, timestamps
      x-openweb:
        permission: read
        build:
          stable_id: dd0003
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: doordash-graphql
          operation: getOrderHistory
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: Number of orders to return (max 20).
        - name: includeCancelled
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include cancelled orders.
      responses:
        '200':
          description: Order history.
          content:
            application/json:
              schema:
                type: object
                required:
                  - orders
                properties:
                  orders:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - createdAt
                        - store
                        - orders
                        - grandTotal
                      properties:
                        id:
                          type: string
                          description: Order ID.
                        orderUuid:
                          type: string
                          description: Order UUID.
                        createdAt:
                          type: string
                          description: Order creation timestamp.
                        fulfilledAt:
                          type: string
                          description: Order fulfillment timestamp.
                        isPickup:
                          type: boolean
                          description: Whether this was a pickup order.
                        store:
                          type: object
                          required:
                            - id
                            - name
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                              description: Store name.
                        orders:
                          type: array
                          items:
                            type: object
                            required:
                              - items
                            properties:
                              items:
                                type: array
                                items:
                                  type: object
                                  required:
                                    - name
                                    - quantity
                                  properties:
                                    name:
                                      type: string
                                      description: Item name.
                                    quantity:
                                      type: integer
                                    originalItemPrice:
                                      type: number
                                      description: Original item price in dollars.
                        grandTotal:
                          type: object
                          required:
                            - displayString
                            - unitAmount
                            - currency
                          properties:
                            displayString:
                              type: string
                              description: Formatted total (e.g. "$24.99").
                            unitAmount:
                              type: integer
                              description: Total in smallest currency unit (cents).
                            currency:
                              type: string
                              description: Currency code (e.g. "USD").
  /internal/addToCart:
    post:
      operationId: addToCart
      summary: Add a menu item to DoorDash cart — requires item ID from getRestaurantMenu
      x-openweb:
        permission: write
        build:
          stable_id: dd0004
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: doordash-graphql
          operation: addToCart
      parameters:
        - name: storeId
          in: query
          required: true
          schema:
            type: string
          description: DoorDash store ID (from searchRestaurants or getRestaurantMenu).
        - name: itemId
          in: query
          required: true
          schema:
            type: string
          description: Menu item ID (from getRestaurantMenu items[].id).
        - name: quantity
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Quantity to add (default 1).
        - name: specialInstructions
          in: query
          required: false
          schema:
            type: string
          description: Special instructions for the item (e.g. "no onions").
      responses:
        '200':
          description: Cart update result.
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - cartId
                properties:
                  success:
                    type: boolean
                    description: Whether the item was added successfully.
                  cartId:
                    type: string
                    description: Cart UUID.
                  subtotal:
                    type: integer
                    description: Cart subtotal in cents.
                  currencyCode:
                    type: string
                    description: Currency code (e.g. "USD").
                  restaurant:
                    type: object
                    required:
                      - id
                      - name
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                  items:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - name
                        - quantity
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        quantity:
                          type: integer
                        price:
                          type: string
                          description: Formatted price string.
