openapi: '3.1.0'
info:
  title: DoorDash API
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: true
servers:
  - url: https://www.doordash.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
paths:
  /graphql/autocompleteFacetFeed:
    post:
      operationId: searchRestaurants
      summary: Search restaurants by keyword — returns names, categories, images, store IDs
      x-openweb:
        permission: read
        unwrap: data
        wrap: variables
        graphql_query: |-
          query autocompleteFacetFeed($query: String!) {
            autocompleteFacetFeed(query: $query) {
              body {
                id
                body {
                  id
                  name
                  text { title subtitle accessory description }
                  images { main { uri } }
                  custom
                  component { id category }
                }
              }
              page { next { name data } }
            }
          }
        build:
          stable_id: dd0001
          tool_version: 2
          verified: true
      parameters:
        - name: operation
          in: query
          required: true
          schema:
            type: string
            const: autocompleteFacetFeed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                operationName:
                  type: string
                  const: autocompleteFacetFeed
                query:
                  type: string
                  description: Search keyword (e.g. "pizza", "sushi", "thai").
      responses:
        '200':
          description: Search results with matching restaurants.
          content:
            application/json:
              schema:
                type: object
                properties:
                  autocompleteFacetFeed:
                    type: object
                    properties:
                      body:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: [string, 'null']
                            body:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: [string, 'null']
                                  text:
                                    type: object
                                    properties:
                                      title:
                                        type: [string, 'null']
                                        description: Restaurant name.
                                      subtitle:
                                        type: [string, 'null']
                                      accessory:
                                        type: [string, 'null']
                                      description:
                                        type: [string, 'null']
                                        description: Cuisine/category tags.
                                  images:
                                    type: [object, 'null']
                                    properties:
                                      main:
                                        type: [object, 'null']
                                        properties:
                                          uri:
                                            type: string
                                            description: Cover image URL.
                                  custom:
                                    type: [string, 'null']
                                    description: JSON string with store_id and result_type.
                                  component:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      category:
                                        type: string
                      page:
                        type: object
                        properties:
                          next:
                            type: [object, 'null']
                            properties:
                              name:
                                type: [string, 'null']
                              data:
                                type: [string, 'null']

  /graphql/storepageFeed:
    post:
      operationId: getRestaurantMenu
      summary: Get restaurant details and full menu — header info, categories, items with prices
      x-openweb:
        permission: read
        unwrap: data
        wrap: variables
        build:
          stable_id: dd0002
          tool_version: 2
          verified: true
      parameters:
        - name: operation
          in: query
          required: true
          schema:
            type: string
            const: storepageFeed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - storeId
              properties:
                operationName:
                  type: string
                  const: storepageFeed
                query:
                  type: string
                  const: |-
                    query storepageFeed($storeId: ID!, $menuId: ID, $fulfillmentType: FulfillmentType) {
                      storepageFeed(storeId: $storeId, menuId: $menuId, fulfillmentType: $fulfillmentType) {
                        storeHeader {
                          id name description priceRange priceRangeDisplayString
                          offersDelivery offersPickup isDashpassPartner
                          coverImgUrl coverSquareImgUrl
                          address { lat lng city state street displayAddress }
                          ratings { numRatings numRatingsDisplayString averageRating isNewlyAdded }
                          status {
                            delivery { isAvailable minutes displayUnavailableStatus }
                            pickup { isAvailable minutes displayUnavailableStatus }
                          }
                          deliveryFeeLayout { title subtitle }
                          businessTags { name link }
                        }
                        menuBook {
                          id name displayOpenHours
                          menuCategories { id name numItems }
                        }
                        itemLists {
                          id name description
                          items {
                            id name description displayPrice imageUrl
                            dietaryTagsList { type abbreviatedTagDisplayString }
                            dynamicLabelDisplayString calloutDisplayString ratingDisplayString
                          }
                        }
                        reviewPreview {
                          consumerReviewData {
                            avgRating numRatings numRatingsDisplayString numReviews
                          }
                        }
                      }
                    }
                storeId:
                  type: string
                  description: DoorDash store ID (from searchRestaurants).
                menuId:
                  type: string
                  description: Specific menu ID. Omit for default menu.
                fulfillmentType:
                  type: string
                  default: Delivery
                  enum:
                    - Delivery
                    - Pickup
                  description: Delivery or Pickup.
      responses:
        '200':
          description: Store details and menu.
          content:
            application/json:
              schema:
                type: object
                properties:
                  storepageFeed:
                    type: object
                    required:
                      - storeHeader
                      - menuBook
                      - itemLists
                    properties:
                      storeHeader:
                        type: object
                        required:
                          - id
                          - name
                        properties:
                          id:
                            type: string
                            description: DoorDash store ID.
                          name:
                            type: string
                            description: Restaurant name.
                          description:
                            type: string
                          priceRange:
                            type: integer
                            description: Price tier (1–4).
                          priceRangeDisplayString:
                            type: string
                          offersDelivery:
                            type: boolean
                          offersPickup:
                            type: boolean
                          isDashpassPartner:
                            type: boolean
                          coverImgUrl:
                            type: string
                          coverSquareImgUrl:
                            type: string
                          address:
                            type: object
                            properties:
                              lat:
                                type: string
                              lng:
                                type: string
                              city:
                                type: string
                              state:
                                type: string
                              street:
                                type: string
                              displayAddress:
                                type: string
                                description: Full display address.
                          ratings:
                            type: object
                            properties:
                              numRatings:
                                type: integer
                              numRatingsDisplayString:
                                type: string
                                description: Display string for rating count.
                              averageRating:
                                type: number
                                description: Average star rating (e.g. 4.7).
                              isNewlyAdded:
                                type: boolean
                          status:
                            type: object
                            properties:
                              delivery:
                                type: object
                                properties:
                                  isAvailable:
                                    type: boolean
                                  minutes:
                                    type: string
                                    description: Estimated delivery time (e.g. "25-35").
                                  displayUnavailableStatus:
                                    type: [string, 'null']
                              pickup:
                                type: object
                                properties:
                                  isAvailable:
                                    type: boolean
                                  minutes:
                                    type: string
                                  displayUnavailableStatus:
                                    type: [string, 'null']
                          deliveryFeeLayout:
                            type: object
                            properties:
                              title:
                                type: string
                              subtitle:
                                type: string
                          businessTags:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                link:
                                  type: string
                      menuBook:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                            description: Menu name (e.g. "Dinner", "All Day").
                          displayOpenHours:
                            type: string
                          menuCategories:
                            type: array
                            items:
                              type: object
                              required:
                                - id
                                - name
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                  description: Category name (e.g. "Popular Items", "Appetizers").
                                numItems:
                                  type: integer
                      itemLists:
                        type: array
                        items:
                          type: object
                          required:
                            - name
                            - items
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                              description: Menu category name.
                            description:
                              type: string
                            items:
                              type: array
                              items:
                                type: object
                                required:
                                  - id
                                  - name
                                  - displayPrice
                                properties:
                                  id:
                                    type: string
                                    description: Menu item ID (use with addToCart).
                                  name:
                                    type: string
                                  description:
                                    type: string
                                  displayPrice:
                                    type: string
                                    description: Formatted price (e.g. "$12.99").
                                  imageUrl:
                                    type: string
                                  dietaryTagsList:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        abbreviatedTagDisplayString:
                                          type: string
                                  dynamicLabelDisplayString:
                                    type: [string, 'null']
                                  calloutDisplayString:
                                    type: [string, 'null']
                                  ratingDisplayString:
                                    type: [string, 'null']
                      reviewPreview:
                        type: object
                        properties:
                          consumerReviewData:
                            type: object
                            properties:
                              avgRating:
                                type: number
                              numRatings:
                                type: integer
                              numRatingsDisplayString:
                                type: string
                              numReviews:
                                type: integer

  /graphql/getConsumerOrdersWithDetails:
    post:
      operationId: getOrderHistory
      summary: Get order history with details — store, items, totals, timestamps
      x-openweb:
        permission: read
        unwrap: data
        wrap: variables
        build:
          stable_id: dd0003
          tool_version: 2
          verified: true
      parameters:
        - name: operation
          in: query
          required: true
          schema:
            type: string
            const: getConsumerOrdersWithDetails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                operationName:
                  type: string
                  const: getConsumerOrdersWithDetails
                query:
                  type: string
                  const: |-
                    query getConsumerOrdersWithDetails($offset: Int!, $limit: Int!, $includeCancelled: Boolean) {
                      getConsumerOrdersWithDetails(offset: $offset, limit: $limit, includeCancelled: $includeCancelled) {
                        id orderUuid createdAt submittedAt cancelledAt fulfilledAt
                        isPickup fulfillmentType
                        store { id name business { id name } }
                        orders {
                          id
                          items { id name quantity originalItemPrice }
                        }
                        grandTotal { unitAmount currency decimalPlaces displayString }
                        deliveryAddress { id formattedAddress }
                      }
                    }
                offset:
                  type: integer
                  default: 0
                  description: Pagination offset.
                limit:
                  type: integer
                  default: 10
                  description: Number of orders to return (max 20).
                includeCancelled:
                  type: boolean
                  default: true
                  description: Include cancelled orders.
      responses:
        '200':
          description: Order history.
          content:
            application/json:
              schema:
                type: object
                properties:
                  getConsumerOrdersWithDetails:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - createdAt
                        - store
                        - orders
                        - grandTotal
                      properties:
                        id:
                          type: string
                          description: Order ID.
                        orderUuid:
                          type: string
                        createdAt:
                          type: string
                          description: Order creation timestamp.
                        submittedAt:
                          type: [string, 'null']
                        cancelledAt:
                          type: [string, 'null']
                        fulfilledAt:
                          type: [string, 'null']
                        isPickup:
                          type: boolean
                        fulfillmentType:
                          type: string
                        store:
                          type: object
                          required:
                            - id
                            - name
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            business:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                        orders:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              items:
                                type: array
                                items:
                                  type: object
                                  required:
                                    - name
                                    - quantity
                                  properties:
                                    id:
                                      type: string
                                    name:
                                      type: string
                                    quantity:
                                      type: integer
                                    originalItemPrice:
                                      type: number
                        grandTotal:
                          type: object
                          required:
                            - displayString
                            - unitAmount
                            - currency
                          properties:
                            unitAmount:
                              type: integer
                              description: Total in smallest currency unit (cents).
                            currency:
                              type: string
                            decimalPlaces:
                              type: integer
                            displayString:
                              type: string
                              description: Formatted total (e.g. "$24.99").
                        deliveryAddress:
                          type: [object, 'null']
                          properties:
                            id:
                              type: string
                            formattedAddress:
                              type: [string, 'null']

  /graphql/addCartItem:
    post:
      operationId: addToCart
      summary: Add a menu item to DoorDash cart — returns cart ID, subtotal, item list
      x-openweb:
        permission: write
        unwrap: data
        wrap: variables
        build:
          stable_id: dd0004
          tool_version: 2
          verified: true
      parameters:
        - name: operation
          in: query
          required: true
          schema:
            type: string
            const: addCartItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addCartItemInput
                - fulfillmentContext
              properties:
                operationName:
                  type: string
                  const: addCartItem
                query:
                  type: string
                  const: |-
                    mutation addCartItem($addCartItemInput: AddCartItemInput!, $fulfillmentContext: FulfillmentContextInput!, $cartContext: CartContextInput, $returnCartFromOrderService: Boolean) {
                      addCartItemV2(
                        addCartItemInput: $addCartItemInput
                        fulfillmentContext: $fulfillmentContext
                        cartContext: $cartContext
                        returnCartFromOrderService: $returnCartFromOrderService
                      ) {
                        id
                        subtotal
                        currencyCode
                        fulfillmentType
                        restaurant { id name slug }
                        orders {
                          id
                          orderItems {
                            id
                            quantity
                            singlePrice
                            priceDisplayString
                            item { id name imageUrl price }
                          }
                        }
                      }
                    }
                addCartItemInput:
                  type: object
                  required:
                    - storeId
                    - itemId
                  properties:
                    storeId:
                      type: string
                      description: DoorDash store ID (from searchRestaurants or getRestaurantMenu).
                    itemId:
                      type: string
                      description: Menu item ID (from getRestaurantMenu items[].id).
                    quantity:
                      type: integer
                      default: 1
                      description: Quantity to add.
                    specialInstructions:
                      type: string
                      default: ''
                      description: Special instructions (e.g. "no onions").
                    substitutionPreference:
                      type: string
                      default: substitute
                    cartId:
                      type: string
                      default: ''
                    isBundle:
                      type: boolean
                      default: false
                    bundleType:
                      type: string
                      default: BUNDLE_TYPE_UNSPECIFIED
                fulfillmentContext:
                  type: object
                  default:
                    shouldUpdateFulfillment: false
                    fulfillmentType: Delivery
                cartContext:
                  type: object
                  default:
                    isBundle: false
                returnCartFromOrderService:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Cart update result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  addCartItemV2:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Cart UUID.
                      subtotal:
                        type: integer
                        description: Cart subtotal in cents.
                      currencyCode:
                        type: string
                      fulfillmentType:
                        type: string
                      restaurant:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          slug:
                            type: string
                      orders:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            orderItems:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  quantity:
                                    type: integer
                                  singlePrice:
                                    type: integer
                                  priceDisplayString:
                                    type: string
                                  item:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      name:
                                        type: string
                                      imageUrl:
                                        type: string
                                      price:
                                        type: integer

  /graphql/removeCartItem:
    post:
      operationId: removeFromCart
      summary: Remove an item from DoorDash cart — returns updated cart with remaining items
      x-openweb:
        permission: write
        safety: caution
        unwrap: data
        wrap: variables
        build:
          stable_id: dd0005
          tool_version: 2
          verified: true
      parameters:
        - name: operation
          in: query
          required: true
          schema:
            type: string
            const: removeCartItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - removeCartItemInput
              properties:
                operationName:
                  type: string
                  const: removeCartItem
                query:
                  type: string
                  const: |-
                    mutation removeCartItem($removeCartItemInput: RemoveCartItemInput!) {
                      removeCartItemV2(removeCartItemInput: $removeCartItemInput) {
                        id
                        subtotal
                        currencyCode
                        fulfillmentType
                        restaurant { id name slug }
                        orders {
                          id
                          orderItems {
                            id
                            quantity
                            singlePrice
                            priceDisplayString
                            item { id name imageUrl price }
                          }
                        }
                      }
                    }
                removeCartItemInput:
                  type: object
                  required:
                    - orderCartId
                    - orderItemId
                  properties:
                    orderCartId:
                      type: string
                      description: Cart UUID (from addToCart response id).
                    orderItemId:
                      type: string
                      description: Order item ID to remove (from addToCart response orders[].orderItems[].id).
      responses:
        '200':
          description: Updated cart after removal.
          content:
            application/json:
              schema:
                type: object
                properties:
                  removeCartItemV2:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Cart UUID.
                      subtotal:
                        type: integer
                        description: Cart subtotal in cents.
                      currencyCode:
                        type: string
                      fulfillmentType:
                        type: string
                      restaurant:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          slug:
                            type: string
                      orders:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            orderItems:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  quantity:
                                    type: integer
                                  singlePrice:
                                    type: integer
                                  priceDisplayString:
                                    type: string
                                  item:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      name:
                                        type: string
                                      imageUrl:
                                        type: string
                                      price:
                                        type: integer
