openapi: 3.1.0
info:
  title: weibo
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T18:11:44.960Z
    requires_auth: true
servers:
  - url: https://weibo.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
paths:
  /2/remind/push_count.json:
    get:
      operationId: getUnreadCount
      summary: Get unread notification count
      x-openweb:
        permission: read
        build:
          stable_id: f25f79602d2878c2
          tool_version: 2
      parameters:
        - name: callback
          in: query
          required: true
          schema:
            type: string
          example: __jp0
        - name: exclude_attitude
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: source
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: trim_null
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: with_chat_group
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: with_chat_group_notice
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: with_dm_group
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: with_dm_unread
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: with_reminding
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: with_settings
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
      servers:
        - url: https://rm.api.weibo.com
  /ajax_Indexband/getIndexBand:
    get:
      operationId: getIndexBand
      summary: Get index banner/band info
      x-openweb:
        permission: read
        build:
          stable_id: c165386a715cd44a
          tool_version: 2
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - "100000"
                  data:
                    type: object
                    properties:
                      list:
                        anyOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                word_scheme:
                                  type: string
                                  enum:
                                    - "#太原火灾已致1死25伤#"
                                    - "#徐良演唱会时薪4000#"
                                    - "#男摄影师用白丝裸足引流卖女童视频#"
                                    - "#疑似陈牧驰前妻回应#"
                                    - "#美国最强导弹击落了美国最强战机#"
                                    - "#金价急速飙涨#"
                                    - "#陈牧驰陈冰结婚生子#"
                                    - 太原火灾
                                    - 徐良方致歉声明
                                    - 消毒
                                query:
                                  type: string
                                  enum:
                                    - 太原火灾
                                    - 太原火灾已致1死25伤
                                    - 徐良方致歉声明
                                    - 徐良演唱会时薪4000
                                    - 消毒
                                    - 男摄影师用白丝裸足引流卖女童视频
                                    - 疑似陈牧驰前妻回应
                                    - 美国最强导弹击落了美国最强战机
                                    - 金价急速飙涨
                                    - 陈牧驰陈冰结婚生子
                                word:
                                  type: string
                                  enum:
                                    - 太原火灾
                                    - 太原火灾已致1死25伤
                                    - 徐良方致歉声明
                                    - 徐良演唱会时薪4000
                                    - 消毒
                                    - 男摄影师用白丝裸足引流卖女童视频
                                    - 疑似陈牧驰前妻回应
                                    - 美国最强导弹击落了美国最强战机
                                    - 金价急速飙涨
                                    - 陈牧驰陈冰结婚生子
                                description:
                                  anyOf:
                                    - type: string
                                      enum:
                                        - 00:57登顶
                                        - 19:00登顶
                                        - 20:58登顶
                                        - 22:12登顶
                                        - 22:55登顶
                                        - 昨晚霸榜
                                        - 财经圈
                                    - type: integer
                                final_pos:
                                  type: integer
                                flag:
                                  type: integer
                                topic_flag:
                                  type: integer
                                note:
                                  type: string
                                  enum:
                                    - 太原火灾
                                    - 太原火灾已致1死25伤
                                    - 徐良方致歉声明
                                    - 徐良演唱会时薪4000
                                    - 消毒
                                    - 男摄影师用白丝裸足引流卖女童视频
                                    - 疑似陈牧驰前妻回应
                                    - 美国最强导弹击落了美国最强战机
                                    - 金价急速飙涨
                                    - 陈牧驰陈冰结婚生子
                                show_idx:
                                  type: integer
                                text_icon_content:
                                  type: string
                                  enum:
                                    - ""
                                emoticon_url:
                                  type: string
                                  enum:
                                    - ""
                                view_word:
                                  type: string
                                  enum:
                                    - 太原火灾
                                    - 太原火灾已致1死25伤
                                    - 徐良方致歉声明
                                    - 徐良演唱会时薪4000
                                    - 消毒
                                    - 男摄影师用白丝裸足引流卖女童视频
                                    - 疑似陈牧驰前妻回应
                                    - 美国最强导弹击落了美国最强战机
                                    - 金价急速飙涨
                                    - 陈牧驰陈冰结婚生子
                                search_url:
                                  type: string
                                  enum:
                                    - /weibo?q=%23%E5%A4%AA%E5%8E%9F%E7%81%AB%E7%81%BE%E5%B7%B2%E8%87%B41%E6%AD%BB25%E4%BC%A4%23&t=547&band_rank=1&Refer=top
                                    - /weibo?q=%23%E5%BE%90%E8%89%AF%E6%BC%94%E5%94%B1%E4%BC%9A%E6%97%B6%E8%96%AA4000%23&t=547&band_rank=8&Refer=top
                                    - /weibo?q=%23%E7%94%B7%E6%91%84%E5%BD%B1%E5%B8%88%E7%94%A8%E7%99%BD%E4%B8%9D%E8%A3%B8%E8%B6%B3%E5%BC%95%E6%B5%81%E5%8D%96%E5%A5%B3%E7%AB%A5%E8%A7%86%E9%A2%91%23&t=547&band_rank=9&Refer=top
                                    - /weibo?q=%23%E7%96%91%E4%BC%BC%E9%99%88%E7%89%A7%E9%A9%B0%E5%89%8D%E5%A6%BB%E5%9B%9E%E5%BA%94%23&t=547&band_rank=10&Refer=top
                                    - /weibo?q=%23%E7%BE%8E%E5%9B%BD%E6%9C%80%E5%BC%BA%E5%AF%BC%E5%BC%B9%E5%87%BB%E8%90%BD%E4%BA%86%E7%BE%8E%E5%9B%BD%E6%9C%80%E5%BC%BA%E6%88%98%E6%9C%BA%23&t=547&band_rank=6&Refer=top
                                    - /weibo?q=%23%E9%87%91%E4%BB%B7%E6%80%A5%E9%80%9F%E9%A3%99%E6%B6%A8%23&t=547&band_rank=3&Refer=top
                                    - /weibo?q=%23%E9%99%88%E7%89%A7%E9%A9%B0%E9%99%88%E5%86%B0%E7%BB%93%E5%A9%9A%E7%94%9F%E5%AD%90%23&t=547&band_rank=4&Refer=top
                                    - /weibo?q=%E5%A4%AA%E5%8E%9F%E7%81%AB%E7%81%BE&t=547&band_rank=2&Refer=top
                                    - /weibo?q=%E5%BE%90%E8%89%AF%E6%96%B9%E8%87%B4%E6%AD%89%E5%A3%B0%E6%98%8E&t=547&band_rank=5&Refer=top
                                    - /weibo?q=%E6%B6%88%E6%AF%92&t=547&band_rank=7&Refer=top
                                suda_data:
                                  type: string
                                  enum:
                                    - key=tblog_search_weibo&value=seqid:1774721139830014175137|type:0|t:0|pos:1-0|q:|ext:cate:112,click:ad_recommend_index
                                url2_click:
                                  type: string
                                  enum:
                                    - ""
                                url2_show:
                                  type: string
                                  enum:
                                    - ""
                                url_click:
                                  type: string
                                  enum:
                                    - ""
                                url_show:
                                  type: string
                                  enum:
                                    - ""
                                icon_desc:
                                  type: string
                                  enum:
                                    - 新
                                    - 热
                                icon_desc_color:
                                  type: string
                                  enum:
                                    - "#ff3852"
                                    - "#ff9406"
                                icon:
                                  type: string
                                  format: uri
                                icon_width:
                                  type: integer
                                icon_height:
                                  type: integer
                                small_icon_desc_color:
                                  type: string
                                  enum:
                                    - "#ff3852"
                                    - "#ff9406"
                                small_icon_desc:
                                  type: string
                                  enum:
                                    - 新
                                    - 热
                                icon_info:
                                  type: string
                                  enum:
                                    - <i class="icon-txt icon-txt-len-1"  style="background-color:#ff3852;">新</i>
                                    - <i class="icon-txt icon-txt-len-1"  style="background-color:#ff9406;">热</i>
                                small_icon_info:
                                  type: string
                                  enum:
                                    - <i class="icon-txt"  style="background-color:#ff3852;">新</i>
                                    - <i class="icon-txt"  style="background-color:#ff9406;">热</i>
                              required:
                                - word_scheme
                                - query
                                - word
                                - description
                                - final_pos
                                - flag
                                - topic_flag
                                - note
                                - show_idx
                                - text_icon_content
                                - emoticon_url
                                - view_word
                                - search_url
                                - suda_data
                                - url2_click
                                - url2_show
                                - url_click
                                - url_show
                          - type: "null"
                    required:
                      - list
                required:
                  - code
                  - data
      servers:
        - url: https://s.weibo.com
  /ajax/feed/allGroups:
    get:
      operationId: getFeedGroups
      summary: Get feed groups for the user
      x-openweb:
        permission: read
        build:
          stable_id: f26878ae471f55c0
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
  /ajax/feed/unreadfriendstimeline:
    get:
      operationId: getUnreadFriendsFeed
      summary: Get unread friends feed count
      x-openweb:
        permission: read
        build:
          stable_id: 28fb8e5368053820
          tool_version: 2
      parameters:
        - name: count
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: list_id
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: refresh
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: since_id
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  statuses:
                    type: array
                    items:
                      type: object
                      properties:
                        visible:
                          type: object
                          properties:
                            type:
                              type: integer
                            list_id:
                              type: integer
                          required:
                            - type
                            - list_id
                        created_at:
                          type: string
                        id:
                          anyOf:
                            - type: integer
                            - type: string
                              enum:
                                - "5280669458762728"
                                - "5281150300062284"
                        idstr:
                          type: string
                        mid:
                          type: string
                        mblogid:
                          type: string
                        user:
                          type: object
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            pc_new:
                              type: integer
                            screen_name:
                              type: string
                            profile_image_url:
                              type: string
                              format: uri
                            profile_url:
                              type: string
                            verified:
                              type: boolean
                            verified_type:
                              type: integer
                            verified_type_ext:
                              type: integer
                            status_total_counter:
                              type: object
                              properties:
                                total_cnt_format:
                                  type: string
                                comment_cnt:
                                  type: string
                                repost_cnt:
                                  type: string
                                like_cnt:
                                  type: string
                                total_cnt:
                                  type: string
                              required:
                                - total_cnt_format
                                - comment_cnt
                                - repost_cnt
                                - like_cnt
                                - total_cnt
                            avatar_large:
                              type: string
                              format: uri
                            avatar_hd:
                              type: string
                              format: uri
                            follow_me:
                              type: boolean
                            following:
                              type: boolean
                            mbrank:
                              type: integer
                            mbtype:
                              type: integer
                            v_plus:
                              type: integer
                            user_ability:
                              type: integer
                            planet_video:
                              type: boolean
                            icon_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - icon
                                      - vip
                                  data:
                                    type: object
                                    properties:
                                      mbrank:
                                        type: integer
                                      mbtype:
                                        type: integer
                                      svip:
                                        type: integer
                                      vvip:
                                        type: integer
                                      value:
                                        type: string
                                        enum:
                                          - "1"
                                      icon_img:
                                        type: string
                                        format: uri
                                      title:
                                        type: string
                                        enum:
                                          - 树苗
                                      url:
                                        type: string
                                        format: uri
                                    required: []
                                required:
                                  - type
                                  - data
                            is_special_attention:
                              type: boolean
                            domain:
                              type: string
                              enum:
                                - ""
                                - tmacloveschina
                            weihao:
                              type: string
                              enum:
                                - ""
                          required:
                            - id
                            - idstr
                            - pc_new
                            - screen_name
                            - profile_image_url
                            - profile_url
                            - verified
                            - verified_type
                            - avatar_large
                            - avatar_hd
                            - follow_me
                            - following
                            - mbrank
                            - mbtype
                            - v_plus
                            - user_ability
                            - planet_video
                            - icon_list
                            - is_special_attention
                        can_edit:
                          type: boolean
                        textLength:
                          type: integer
                        annotations:
                          type: array
                          items:
                            anyOf:
                              - type: object
                                properties:
                                  shooting:
                                    type: integer
                                  client_mblogid:
                                    type: string
                                    enum:
                                      - e6dd7a75-1a2b-4d43-807e-40df66d3f764
                                      - iPhone-1DB90F49-DDDF-4E6B-BC37-9AD0385A8A6D
                                      - iPhone-40944106-D3CB-4290-B3DC-73CA05EC9BCA
                                      - iPhone-50AC8CAF-5534-4885-B32F-63FE0524DB4F
                                      - iPhone-51D322D3-39FF-46AD-A42B-BC0F3FE65BDD
                                      - iPhone-60D68D53-92B5-4F26-B380-F738E9F73C56
                                      - iPhone-8B9A2D9B-017A-49FE-B5D5-FEC64DE06DCD
                                      - iPhone-BCDF96AE-ADFC-4B84-AD7B-109F1123D463
                                  source_text:
                                    type: string
                                    enum:
                                      - ""
                                  phone_id:
                                    type: string
                                    enum:
                                      - ""
                                      - "-1"
                                      - "7730"
                                  mapi_request:
                                    type: boolean
                                  photo_sub_type:
                                    type: string
                                    enum:
                                      - ""
                                      - "0"
                                      - 0,0
                                      - 0,0,0,0,0,0
                                  ann_ext:
                                    type: string
                                    enum:
                                      - ann_ext:search|t:1|q:#华为王云鹤离职#|ismaincomposer:1|creator_source:bottomsendweibo
                                required: []
                              - type: array
                                items:
                                  type: object
                        source:
                          type: string
                          enum:
                            - ""
                            - <a target="_blank" href="https://t.sina.com.cn" rel="nofollow">微博视频号</a>
                            - AI博主
                            - Mac客户端
                            - iPhone 12
                            - iPhone 17 Pro
                            - iPhone 17 Pro Max
                            - 微博网页版
                            - 微博视频号
                            - 读物博主
                        favorited:
                          type: boolean
                        rid:
                          type: string
                        cardid:
                          type: string
                        is_controlled_by_server:
                          type: integer
                        pic_ids:
                          type: array
                          items:
                            type: string
                        pic_num:
                          type: integer
                        is_paid:
                          type: boolean
                        pic_bg_new:
                          type: string
                          format: uri
                        mblog_vip_type:
                          type: integer
                        number_display_strategy:
                          type: object
                          properties:
                            apply_scenario_flag:
                              type: integer
                            display_text_min_number:
                              type: integer
                            display_text:
                              type: string
                              enum:
                                - 100万+
                          required:
                            - apply_scenario_flag
                            - display_text_min_number
                            - display_text
                        reposts_count:
                          type: integer
                        comments_count:
                          type: integer
                        attitudes_count:
                          type: integer
                        attitudes_status:
                          type: integer
                        isLongText:
                          type: boolean
                        mlevel:
                          type: integer
                        content_auth:
                          type: integer
                        is_show_bulletin:
                          type: integer
                        comment_manage_info:
                          type: object
                          properties:
                            comment_permission_type:
                              type: integer
                            approval_comment_type:
                              type: integer
                            comment_sort_type:
                              type: integer
                          required:
                            - comment_permission_type
                            - approval_comment_type
                            - comment_sort_type
                        share_repost_type:
                          type: integer
                        tag_struct:
                          type: array
                          items:
                            type: object
                            properties:
                              tag_name:
                                type: string
                                enum:
                                  - AI技术专家TOP10
                                  - AI领域博主TOP50
                                  - 情感观点博主TOP50
                                  - 经济学家TOP50
                                  - 航空航天ETF sz159227
                                  - 财经知识博主TOP50
                                  - 运动员TOP200
                                  - 香港同城
                              oid:
                                type: string
                                enum:
                                  - 1022:23044100658008681000000000000
                                  - 1022:230677sz159227
                                  - 1022:v_plus_darwin1060
                                  - 1022:v_plus_darwin130
                                  - 1022:v_plus_darwin150
                                  - 1022:v_plus_darwin153
                                  - 1022:v_plus_darwin184
                                  - 1022:v_plus_darwin9
                              tag_type:
                                type: integer
                              tag_hidden:
                                type: integer
                              tag_scheme:
                                type: string
                                enum:
                                  - https://stock.weibo.cn/page/tag?oid=1022:230677sz159227&channel=wbxbq
                                  - https://v6.bang.weibo.com/newczv/1004?sub_field_id=9&date=20260316&period_type=week&show_from=feed&uid=2157238653
                                  - https://v6.bang.weibo.com/newczv/1016?sub_field_id=184&date=20260316&period_type=week&show_from=feed&uid=1402400261
                                  - https://v6.bang.weibo.com/newczv/1016?sub_field_id=184&date=20260316&period_type=week&show_from=feed&uid=1706699904
                                  - https://v6.bang.weibo.com/newczv/1028?sub_field_id=130&date=20260316&period_type=week&show_from=feed&uid=1763831941
                                  - https://v6.bang.weibo.com/newczv/1050?sub_field_id=150&date=20260316&period_type=week&show_from=feed&uid=5339148412
                                  - https://v6.bang.weibo.com/newczv/1050?sub_field_id=153&date=20260316&period_type=week&show_from=feed&uid=1401803035
                                  - https://v6.bang.weibo.com/newczv/1060?sub_field_id=0&date=20260316&period_type=week&show_from=feed&uid=1871474290
                                  - sinaweibo://cardlist?containerid=2310360030_8008681000000000000&needlocation=1&extparam=city_channel
                              url_type_pic:
                                type: string
                                format: uri
                              bd_object_type:
                                type: string
                                enum:
                                  - city
                                  - stock
                                  - v_plus_darwin
                              desc:
                                type: string
                                enum:
                                  - ""
                                  - +0.40%
                              w_h_ratio:
                                type: number
                              actionlog:
                                type: object
                                properties:
                                  act_code:
                                    type: integer
                                  oid:
                                    type: string
                                    enum:
                                      - 1022:23044100658008681000000000000
                                      - 1022:230677sz159227
                                      - 1022:v_plus_darwin1060
                                      - 1022:v_plus_darwin130
                                      - 1022:v_plus_darwin150
                                      - 1022:v_plus_darwin153
                                      - 1022:v_plus_darwin184
                                      - 1022:v_plus_darwin9
                                  uicode:
                                    anyOf:
                                      - type: "null"
                                      - type: string
                                        enum:
                                          - ""
                                  luicode:
                                    anyOf:
                                      - type: "null"
                                      - type: string
                                        enum:
                                          - ""
                                  fid:
                                    anyOf:
                                      - type: "null"
                                      - type: string
                                        enum:
                                          - ""
                                  ext:
                                    type: string
                                    enum:
                                      - "|tag_type:city"
                                      - "|tag_type:stock"
                                      - "|tag_type:v_plus_darwin"
                                  mark:
                                    type: string
                                    enum:
                                      - 3_reallog_mark_ad:8|3_1774721133142213879908000033745826
                                      - 8_reallog_mark_ad:8|8_1774721133142213879908000033737379
                                required:
                                  - act_code
                                  - oid
                                  - uicode
                                  - luicode
                                  - fid
                                  - ext
                              origin_object_type:
                                type: string
                                enum:
                                  - v_plus_darwin
                              ori_tag_hidden:
                                type: integer
                            required:
                              - tag_name
                              - oid
                              - tag_type
                              - tag_hidden
                              - tag_scheme
                              - url_type_pic
                              - bd_object_type
                              - actionlog
                        mblogtype:
                          type: integer
                        showFeedRepost:
                          type: boolean
                        showFeedComment:
                          type: boolean
                        pictureViewerSign:
                          type: boolean
                        showPictureViewer:
                          type: boolean
                        rcList:
                          type: array
                          items:
                            type: object
                        can_remark:
                          type: boolean
                        analysis_extra:
                          type: string
                        readtimetype:
                          type: string
                          enum:
                            - adMblog
                            - mblog
                        mixed_count:
                          type: integer
                        is_show_mixed:
                          type: boolean
                        mblog_feed_back_menus_format:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                              actionlog:
                                type: object
                                properties:
                                  operation_type:
                                    type: string
                                  act_code:
                                    type: integer
                                  act_type:
                                    type: integer
                                  mid:
                                    type: string
                                    enum:
                                      - "5280434347054174"
                                      - "5281474880474223"
                                      - "5281544027243894"
                                      - "5281565162079864"
                                      - "5281614003177524"
                                  id:
                                    type: string
                                    enum:
                                      - "1706699904"
                                      - "5280434347054174"
                                      - "5281474880474223"
                                      - "5281544027243894"
                                      - "5281565162079864"
                                      - "5281614003177524"
                                  source:
                                    type: string
                                    enum:
                                      - like_reduce
                                  materiel_type:
                                    type: integer
                                  unLike_type:
                                    type: integer
                                  spr:
                                    type: string
                                    enum:
                                      - "uicode:|fid:|lfid:|luicode:|fromlog:"
                                  unLikeExt:
                                    type: string
                                    enum:
                                      - '{"sendToAd":1}'
                                  sub_materiel_type:
                                    type: integer
                                required: []
                            required:
                              - name
                              - type
                        isAd:
                          anyOf:
                            - type: boolean
                            - type: integer
                        isSinglePayAudio:
                          type: boolean
                        isMarkdown:
                          type: boolean
                        text:
                          type: string
                        text_raw:
                          type: string
                        region_name:
                          type: string
                        edit_count:
                          type: integer
                        promotion:
                          type: object
                          properties:
                            promotion_objective:
                              type: integer
                            tail_incentives:
                              type: integer
                            audit_status:
                              type: integer
                            cust_id:
                              type: string
                              enum:
                                - "5669461176"
                                - "7322031033"
                            is_bao:
                              type: integer
                            brand_audit_status:
                              type: integer
                            ts_data:
                              type: object
                              properties:
                                dynamic_creative_render:
                                  type: object
                                  properties:
                                    is_dynamic_creative:
                                      type: boolean
                                  required:
                                    - is_dynamic_creative
                                template_mid_new:
                                  type: string
                                  enum:
                                    - "0"
                                ts_render_flag:
                                  type: boolean
                                tsid_unique_id:
                                  type: string
                                  enum:
                                    - "2688103000042592180"
                                    - "2688117000042625150"
                                tsid_style_type:
                                  type: string
                                  enum:
                                    - 0-3-0-2
                                    - 0-4-0-1
                                component_scores:
                                  type: string
                                  enum:
                                    - ""
                                tsid_data:
                                  type: object
                                  properties:
                                    object:
                                      type: string
                                      enum:
                                        - "0"
                                    pic:
                                      type: string
                                      enum:
                                        - "0"
                                    card_title:
                                      type: string
                                      enum:
                                        - "0"
                                    body:
                                      type: string
                                      enum:
                                        - "2603103000030731526"
                                        - "2603117000030634401"
                                    video:
                                      type: string
                                      enum:
                                        - "2602103000030731527"
                                        - "2602117000030634402"
                                    feature:
                                      type: string
                                      enum:
                                        - "0"
                                  required:
                                    - object
                                    - pic
                                    - card_title
                                    - body
                                    - video
                                    - feature
                              required:
                                - dynamic_creative_render
                                - template_mid_new
                                - ts_render_flag
                                - tsid_unique_id
                                - tsid_style_type
                                - component_scores
                                - tsid_data
                            structs:
                              type: array
                              items:
                                type: object
                                properties:
                                  scheme:
                                    type: string
                                    enum:
                                      - ""
                                  name:
                                    type: string
                                    enum:
                                      - ""
                                required:
                                  - scheme
                                  - name
                            object_id:
                              type: string
                              enum:
                                - "5280669458762728"
                                - "5281150300062284"
                            native_ad_bridge_info:
                              type: object
                              properties:
                                nick:
                                  type: string
                                  enum:
                                    - ""
                                bridge_uid:
                                  type: string
                                  enum:
                                    - ""
                              required:
                                - nick
                                - bridge_uid
                            uid:
                              type: string
                              enum:
                                - "1918530507"
                            ad_tag:
                              type: string
                              enum:
                                - "2"
                            monitor_log:
                              type: object
                              properties:
                                adid:
                                  type: string
                                  enum:
                                    - "33737379"
                                    - "33745826"
                              required:
                                - adid
                            creative_render:
                              type: object
                              properties:
                                is_use_publish_uid:
                                  type: integer
                              required:
                                - is_use_publish_uid
                            type_mask:
                              type: string
                              enum:
                                - ""
                            creative_version:
                              type: integer
                            recommend:
                              type: string
                              enum:
                                - 推荐
                            native_matched_ad:
                              type: integer
                            is_owner_fans:
                              type: integer
                            is_cooperate_creative:
                              type: boolean
                            is_brand_effect:
                              type: boolean
                            tsid_render:
                              type: object
                              properties:
                                scene_flag:
                                  type: integer
                              required:
                                - scene_flag
                            is_dynamic_creative:
                              type: boolean
                            sync_monitor:
                              type: boolean
                            follow_target:
                              type: integer
                            audit_status_fuyi:
                              type: integer
                            optimization_objective:
                              type: integer
                            adtype:
                              type: string
                              enum:
                                - "1"
                            type:
                              type: string
                              enum:
                                - ad
                            native_senior:
                              type: integer
                            is_retarget_freesale:
                              type: boolean
                            mark:
                              type: string
                              enum:
                                - 3_reallog_mark_ad:8|3_1774721133142213879908000033745826
                                - 8_reallog_mark_ad:8|8_1774721133142213879908000033737379
                          required:
                            - promotion_objective
                            - tail_incentives
                            - audit_status
                            - cust_id
                            - is_bao
                            - brand_audit_status
                            - ts_data
                            - structs
                            - object_id
                            - native_ad_bridge_info
                            - uid
                            - ad_tag
                            - monitor_log
                            - creative_render
                            - type_mask
                            - creative_version
                            - recommend
                            - native_matched_ad
                            - is_owner_fans
                            - is_cooperate_creative
                            - is_brand_effect
                            - tsid_render
                            - is_dynamic_creative
                            - sync_monitor
                            - follow_target
                            - audit_status_fuyi
                            - optimization_objective
                            - adtype
                            - type
                            - native_senior
                            - is_retarget_freesale
                            - mark
                        buttons:
                          type: array
                          items:
                            type: object
                            properties:
                              pic:
                                type: string
                                format: uri
                              actionlog:
                                type: object
                                properties:
                                  oid:
                                    type: string
                                    enum:
                                      - "5280434347054174"
                                      - "5280669458762728"
                                      - "5281150300062284"
                                      - "5281488352578228"
                                      - "5281530641388473"
                                  uicode:
                                    type: string
                                    enum:
                                      - "10000100"
                                  act_code:
                                    type: string
                                    enum:
                                      - "92"
                                required:
                                  - oid
                              params:
                                type: object
                                properties:
                                  uid:
                                    type: integer
                                  is_delay_show:
                                    type: integer
                                  extparams:
                                    type: object
                                    properties:
                                      followcardid:
                                        type: string
                                        enum:
                                          - 0000011019_n200
                                          - 0000011019_n201
                                    required:
                                      - followcardid
                                required:
                                  - uid
                              name:
                                type: string
                                enum:
                                  - 关注
                                  - 加关注
                              type:
                                type: string
                                enum:
                                  - follow
                            required:
                              - pic
                              - actionlog
                              - params
                              - name
                              - type
                        mark:
                          type: string
                          enum:
                            - 3_reallog_mark_ad:8|3_1774721133142213879908000033745826
                            - 8_reallog_mark_ad:8|8_1774721133142213879908000033737379
                        content_auth_info:
                          type: object
                          properties:
                            content_auth_title_color:
                              type: string
                              enum:
                                - "#939393"
                            content_auth_scheme:
                              type: string
                              enum:
                                - ""
                            actionlog:
                              type: object
                              properties:
                                source:
                                  type: string
                                  enum:
                                    - ad
                                act_type:
                                  type: integer
                                code:
                                  type: string
                                  enum:
                                    - "30000003"
                                mid:
                                  type: string
                                  enum:
                                    - "5280669458762728"
                                    - "5281150300062284"
                                mark:
                                  type: string
                                  enum:
                                    - 3_reallog_mark_ad:8|3_1774721133142213879908000033745826
                                    - 8_reallog_mark_ad:8|8_1774721133142213879908000033737379
                              required:
                                - source
                                - act_type
                                - code
                                - mid
                                - mark
                            content_auth_border_color:
                              type: string
                              enum:
                                - "#BEBEBE"
                            content_auth_title:
                              type: string
                              enum:
                                - 推荐
                          required:
                            - content_auth_title_color
                            - content_auth_scheme
                            - actionlog
                            - content_auth_border_color
                            - content_auth_title
                        screen_name_suffix_new_sence:
                          type: integer
                        topic_struct:
                          type: array
                          items:
                            type: object
                            properties:
                              topic_url:
                                type: string
                              topic_title:
                                type: string
                              actionlog:
                                type: object
                                properties:
                                  lfid:
                                    type: string
                                    enum:
                                      - ""
                                  code:
                                    type: string
                                    enum:
                                      - "21000004"
                                  ad_send_monitor:
                                    type: integer
                                  oid:
                                    type: string
                                  luicode:
                                    type: string
                                    enum:
                                      - ""
                                  uuid:
                                    anyOf:
                                      - type: string
                                        enum:
                                          - "4212867392896274"
                                          - "4213239943592300"
                                          - "4714825493250261"
                                          - "4847299175121121"
                                          - "5187251608223766"
                                      - type: integer
                                  cardid:
                                    type: string
                                    enum:
                                      - ""
                                  lcardid:
                                    type: string
                                    enum:
                                      - ""
                                  act_type:
                                    type: integer
                                  source:
                                    type: string
                                    enum:
                                      - ad
                                  act_code:
                                    type: integer
                                  fid:
                                    type: string
                                    enum:
                                      - ""
                                  uicode:
                                    type: string
                                    enum:
                                      - ""
                                  ext:
                                    type: string
                                  mark:
                                    type: string
                                    enum:
                                      - 3_reallog_mark_ad:8|3_1774721133142213879908000033745826
                                      - 8_reallog_mark_ad:8|8_1774721133142213879908000033737379
                                required:
                                  - lfid
                                  - oid
                                  - luicode
                                  - uuid
                                  - cardid
                                  - lcardid
                                  - act_type
                                  - act_code
                                  - fid
                                  - uicode
                                  - ext
                              title:
                                type: string
                                enum:
                                  - ""
                            required:
                              - topic_url
                              - topic_title
                              - actionlog
                              - title
                        url_struct:
                          type: array
                          items:
                            type: object
                            properties:
                              page_id:
                                type: string
                              object_type:
                                type: string
                                enum:
                                  - ""
                                  - webpage
                              short_url:
                                type: string
                              url_type_pic:
                                type: string
                                format: uri
                              url_type:
                                anyOf:
                                  - type: integer
                                  - type: string
                                    enum:
                                      - ""
                              storage_type:
                                type: string
                                enum:
                                  - ""
                                  - oss
                                  - unistore
                              result:
                                type: boolean
                              origin_object_type:
                                type: string
                                enum:
                                  - ""
                                  - topic
                                  - video
                              need_save_obj:
                                type: integer
                              actionlog:
                                type: object
                                properties:
                                  lfid:
                                    type: string
                                    enum:
                                      - ""
                                  mid:
                                    type: string
                                    enum:
                                      - "5280669458762728"
                                      - "5281150300062284"
                                  ad_send_monitor:
                                    type: integer
                                  oid:
                                    type: string
                                  act_type:
                                    type: integer
                                  uuid:
                                    anyOf:
                                      - type: string
                                        enum:
                                          - ""
                                          - "4792229724946547"
                                          - "5280334190215521"
                                          - "5281149303128328"
                                      - type: integer
                                  code:
                                    type: string
                                    enum:
                                      - "14000014"
                                      - "21000004"
                                  mark:
                                    type: string
                                    enum:
                                      - 3_reallog_mark_ad:8|3_1774721133142213879908000033745826
                                      - 8_reallog_mark_ad:8|8_1774721133142213879908000033737379
                                  luicode:
                                    type: string
                                    enum:
                                      - ""
                                  uid:
                                    type: string
                                    enum:
                                      - "6986626018"
                                      - "7818486455"
                                  ext:
                                    type: string
                                  source:
                                    type: string
                                    enum:
                                      - ad
                                  cardid:
                                    type: string
                                    enum:
                                      - ""
                                  act_code:
                                    type: integer
                                  lcardid:
                                    type: string
                                    enum:
                                      - ""
                                  uicode:
                                    type: string
                                    enum:
                                      - ""
                                  fid:
                                    type: string
                                    enum:
                                      - ""
                                required:
                                  - lfid
                                  - oid
                                  - act_type
                                  - uuid
                                  - luicode
                                  - ext
                                  - cardid
                                  - act_code
                                  - lcardid
                              ori_url:
                                type: string
                              url_title:
                                type: string
                              hide:
                                type: integer
                              ttl:
                                type: integer
                              long_url:
                                type: string
                              h5_target_url:
                                type: string
                                format: uri
                              log:
                                type: string
                                enum:
                                  - su=AXIAdmZT&mark=&mid=5281494708786125
                                  - su=AXIAkMHX&mark=&mid=5281499630799162
                                  - su=AXIAtVOS&mark=&mid=5281443536178502
                                  - su=AXcJjFky&mark=&mid=5275570061705687
                              position:
                                type: integer
                            required:
                              - short_url
                              - url_type_pic
                              - url_type
                              - storage_type
                              - result
                              - need_save_obj
                              - actionlog
                              - ori_url
                              - url_title
                              - hide
                              - long_url
                        mblog_menus_new:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                  - mblog_menus_follow
                                  - mblog_menus_hide_status
                                  - mblog_menus_no_interst
                                  - mblog_menus_remark
                                  - mblog_menus_report
                                  - mblog_menus_shield
                              pic:
                                type: string
                                format: uri
                              actionlog:
                                type: object
                                properties:
                                  unLike_type:
                                    type: integer
                                  code:
                                    type: string
                                    enum:
                                      - "50000003"
                                      - "50000033"
                                      - "50000113"
                                  source:
                                    type: string
                                    enum:
                                      - ad_reduce
                                      - like_reduce
                                  act_code:
                                    anyOf:
                                      - type: string
                                        enum:
                                          - "1472"
                                          - "1475"
                                          - "4671"
                                      - type: integer
                                  materiel_type:
                                    type: integer
                                  act_type:
                                    type: integer
                                  mid:
                                    type: string
                                    enum:
                                      - "5280434347054174"
                                      - "5280669458762728"
                                      - "5281150300062284"
                                      - "5281488352578228"
                                      - "5281530641388473"
                                  mark:
                                    type: string
                                    enum:
                                      - 3_reallog_mark_ad:8|3_1774721133142213879908000033745826
                                      - 8_reallog_mark_ad:8|8_1774721133142213879908000033737379
                                  report_type:
                                    type: integer
                                  id:
                                    anyOf:
                                      - type: string
                                      - type: integer
                                  spr:
                                    type: string
                                    enum:
                                      - "uicode:|fid:|lfid:|luicode:|fromlog:"
                                  sub_materiel_type:
                                    type: integer
                                required:
                                  - source
                                  - act_code
                                  - act_type
                                  - mid
                              name:
                                type: string
                              params:
                                type: object
                                properties:
                                  scheme:
                                    type: string
                                    format: uri
                                required:
                                  - scheme
                              weight:
                                type: integer
                              state_config:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - mblog_menus_follow
                                        - mblog_menus_unfollow
                                    name:
                                      type: string
                                      enum:
                                        - 关注 i陆三金
                                        - 关注 梁赛
                                        - 关注 睡前读书
                                        - 取消关注 i陆三金
                                        - 取消关注 梁赛
                                        - 取消关注 睡前读书
                                    params:
                                      type: object
                                      properties:
                                        cardid:
                                          type: string
                                          enum:
                                            - "0000010050"
                                      required:
                                        - cardid
                                  required:
                                    - type
                                    - name
                              mblog_menu_new_style:
                                type: integer
                              description:
                                type: string
                                enum:
                                  - 屏蔽这条微博、关键词或博主
                                  - 投诉反馈不良微博内容
                            required:
                              - type
                        extra_button_info:
                          type: object
                          properties:
                            extra_button_type:
                              type: integer
                            extra_button_image:
                              type: string
                              format: uri
                            actionlog:
                              type: object
                              properties:
                                code:
                                  type: string
                                  enum:
                                    - "50000043"
                                source:
                                  type: string
                                  enum:
                                    - ad_reduce
                                mid:
                                  type: string
                                  enum:
                                    - "5280669458762728"
                                    - "5281150300062284"
                                ext:
                                  type: string
                                  enum:
                                    - button:hidden
                                oid:
                                  type: string
                                  enum:
                                    - "5280669458762728"
                                    - "5281150300062284"
                                act_type:
                                  type: integer
                                act_code:
                                  type: integer
                                mark:
                                  type: string
                                  enum:
                                    - 3_reallog_mark_ad:8|3_1774721133142213879908000033745826
                                    - 8_reallog_mark_ad:8|8_1774721133142213879908000033737379
                              required:
                                - code
                                - source
                                - mid
                                - ext
                                - oid
                                - act_type
                                - act_code
                                - mark
                            extra_button_highlight_image:
                              type: string
                              format: uri
                          required:
                            - extra_button_type
                            - extra_button_image
                            - actionlog
                            - extra_button_highlight_image
                        page_info:
                          type: object
                          properties:
                            object_type:
                              type: string
                              enum:
                                - video
                                - webpage
                            pic_info:
                              type: object
                              properties:
                                pic_small:
                                  type: object
                                  properties:
                                    url:
                                      type: string
                                      format: uri
                                    width:
                                      type: string
                                      enum:
                                        - "540"
                                        - "654"
                                        - "852"
                                    height:
                                      type: string
                                      enum:
                                        - "1052"
                                        - "368"
                                        - "480"
                                        - "960"
                                  required:
                                    - url
                                    - width
                                    - height
                                pic_big:
                                  type: object
                                  properties:
                                    url:
                                      type: string
                                      format: uri
                                    width:
                                      type: string
                                      enum:
                                        - "540"
                                        - "654"
                                        - "852"
                                    height:
                                      type: string
                                      enum:
                                        - "1052"
                                        - "368"
                                        - "480"
                                        - "960"
                                  required:
                                    - url
                                    - width
                                    - height
                                pic_middle:
                                  type: object
                                  properties:
                                    url:
                                      type: string
                                      format: uri
                                    width:
                                      type: string
                                      enum:
                                        - "540"
                                        - "654"
                                        - "852"
                                    height:
                                      type: string
                                      enum:
                                        - "1052"
                                        - "368"
                                        - "480"
                                        - "960"
                                  required:
                                    - url
                                    - width
                                    - height
                              required:
                                - pic_small
                                - pic_big
                                - pic_middle
                            ad_click_actionlog:
                              type: object
                              properties:
                                code:
                                  type: string
                                  enum:
                                    - "11202002"
                                act_type:
                                  type: integer
                                source:
                                  type: string
                                  enum:
                                    - ad
                                act_code:
                                  type: integer
                                ext:
                                  type: string
                                  enum:
                                    - contribution:0|source:ad|from:1|author_mid:5280669458762728|st_video:1|ua:iPhone13%2C2__weibo__13.0.0__iphone__os16.0|authorid:2157238653|objectid:1034%3A5280334061961312|object_duration:69.196|detail:native|is_album:0|video_orientation:vertical|mid:5280669458762728|sceneid:feed|is_ad_count:1|analysis_card:page_info|ad_log_ext_source:ad|is_ad_weibo:3_reallog_mark_ad%3A8%7C3_1774721133142213879908000033745826|short_video:0|rootuid:2157238653|uuid:5280334190215521|miduid:2157238653|uid:1918530507|is_contribution:0|rootmid:5280669458762728|isfan:0
                                    - contribution:0|source:ad|from:1|author_mid:5281150300062284|st_video:0|ua:iPhone13%2C2__weibo__13.0.0__iphone__os16.0|authorid:1763831941|objectid:1034%3A5281148889137170|object_duration:1460.071|is_ad_count:1|analysis_card:page_info|isfan:0|detail:native|is_album:1|video_orientation:horizontal|mid:5281150300062284|sceneid:feed|t_name:%E5%8A%B3%E5%8A%A8%E4%BA%BA%E6%B0%91%E7%9A%84%E5%B0%8F%E6%99%BA%E6%85%A7|t_id:4836908749226122|ad_log_ext_source:ad|is_ad_weibo:8_reallog_mark_ad%3A8%7C8_1774721133142213879908000033737379|short_video:1|rootuid:1763831941|uuid:5281149303128328|miduid:1763831941|uid:1918530507|is_contribution:0|rootmid:5281150300062284|type:2
                                mid:
                                  type: string
                                  enum:
                                    - "5280669458762728"
                                    - "5281150300062284"
                                ad_send_monitor:
                                  type: integer
                                mark:
                                  type: string
                                  enum:
                                    - 3_reallog_mark_ad:8|3_1774721133142213879908000033745826
                                    - 8_reallog_mark_ad:8|8_1774721133142213879908000033737379
                              required:
                                - code
                                - act_type
                                - source
                                - act_code
                                - ext
                                - mid
                                - ad_send_monitor
                                - mark
                            object_id:
                              type: string
                              enum:
                                - 1034:5280334061961312
                                - 1034:5281147882766415
                                - 1034:5281148889137170
                                - 1034:5281396886011960
                                - 1034:5281399171645480
                                - 1034:5281412832493573
                                - 1034:5281597524475946
                                - 3000000491:dc4afe14af2e41d8c84faf77a3b6f065
                            author_id:
                              type: string
                              enum:
                                - "1304881564"
                                - "1644114654"
                                - "1763831941"
                                - "2157238653"
                                - "2656274875"
                                - "3505975850"
                                - "5867737487"
                            actionlog:
                              type: object
                              properties:
                                mid:
                                  type: string
                                  enum:
                                    - "5280669458762728"
                                    - "5281150300062284"
                                    - "5281398811529519"
                                    - "5281399261367469"
                                    - "5281414401755224"
                                    - "5281421872597226"
                                    - "5281597834399256"
                                ad_send_monitor:
                                  type: integer
                                oid:
                                  type: string
                                  enum:
                                    - 1034:5281147882766415
                                    - 1034:5281396886011960
                                    - 1034:5281399171645480
                                    - 1034:5281412832493573
                                    - 1034:5281597524475946
                                    - "2304445280334061961312"
                                    - "2304445281148889137170"
                                    - 3000000491:dc4afe14af2e41d8c84faf77a3b6f065
                                uuid:
                                  anyOf:
                                    - type: string
                                      enum:
                                        - "5280334190215521"
                                        - "5281149303128328"
                                    - type: integer
                                lcardid:
                                  type: string
                                  enum:
                                    - ""
                                act_type:
                                  type: integer
                                source:
                                  type: string
                                  enum:
                                    - ad
                                    - video
                                act_code:
                                  type: integer
                                code:
                                  type: string
                                  enum:
                                    - "80000001"
                                ad_log_ext:
                                  type: string
                                  enum:
                                    - '{"optimization_objective":86001002,"data_ext":{"bid_type":4},"render_ab_value":{"wb_ad_render_v2_ai_comment_guide":{"is_ai_guide":false}},"creative_render":{"is_use_publish_uid":0},"type_mask":"","cand_type":"783_006","is_follow":false,"cid_short_mark":"1774721133142213879908","is_cooperate_creative":false,"alchemy_ab_value":{"wb_ad_render_singlepage_bottom_new_style":{"enable_new_bottom_bar_style":true},"wb_ad_render_new_icon_color_update":{"enable":true}},"adid":"33737379","sync_monitor":false,"is_retarget_freesale":false,"component_strategy":0,"is_brand_effect":false,"tsid_render":{"scene_flag":2},"ts_data":{"tsid_style_type":"0-3-0-2","dynamic_creative_render":{"is_dynamic_creative":false},"tsid_unique_id":"2688103000042592180","ts_render_flag":false,"template_mid_new":"0","tsid_data":{"pic":"0","feature":"0","video":"2602103000030731527","object":"0","body":"2603103000030731526","card_title":"0"},"component_scores":""},"cust_id":"7322031033","monitor_log":{"adid":"33737379"},"unique_id":"17747211331422138799","is_liked_mid":0,"promotion_objective":88030002}'
                                    - '{"optimization_objective":86002001,"data_ext":{"bid_type":4},"render_ab_value":{"wb_ad_render_v2_ai_comment_guide":{"is_ai_guide":false}},"creative_render":{"is_use_publish_uid":0},"type_mask":"","cand_type":"783_006","is_follow":false,"cid_short_mark":"1774721133142213879903","is_cooperate_creative":false,"alchemy_ab_value":{"wb_ad_render_singlepage_bottom_new_style":{"enable_new_bottom_bar_style":true},"wb_ad_render_new_icon_color_update":{"enable":true}},"adid":"33745826","sync_monitor":false,"is_retarget_freesale":false,"component_strategy":0,"is_brand_effect":false,"tsid_render":{"scene_flag":2},"ts_data":{"tsid_style_type":"0-4-0-1","dynamic_creative_render":{"is_dynamic_creative":false},"tsid_unique_id":"2688117000042625150","ts_render_flag":false,"template_mid_new":"0","tsid_data":{"pic":"0","feature":"0","video":"2602117000030634402","object":"0","body":"2603117000030634401","card_title":"0"},"component_scores":""},"cust_id":"5669461176","monitor_log":{"adid":"33745826"},"unique_id":"17747211331422138799","is_liked_mid":0,"promotion_objective":88030002}'
                                ext:
                                  type: string
                                  enum:
                                    - contribution:0|source:ad|from:1|author_mid:5280669458762728|st_video:1|ua:iPhone13%2C2__weibo__13.0.0__iphone__os16.0|authorid:2157238653|objectid:1034%3A5280334061961312|object_duration:69.196|detail:native|is_album:0|video_orientation:vertical|mid:5280669458762728|sceneid:feed|is_ad_count:1|analysis_card:page_info|ad_log_ext_source:ad|is_ad_weibo:3_reallog_mark_ad%3A8%7C3_1774721133142213879908000033745826|short_video:0|rootuid:2157238653|uuid:5280334190215521|miduid:2157238653|uid:1918530507|is_contribution:0|rootmid:5280669458762728|isfan:0
                                    - contribution:0|source:ad|from:1|author_mid:5281150300062284|st_video:0|ua:iPhone13%2C2__weibo__13.0.0__iphone__os16.0|authorid:1763831941|objectid:1034%3A5281148889137170|object_duration:1460.071|is_ad_count:1|analysis_card:page_info|isfan:0|detail:native|is_album:1|video_orientation:horizontal|mid:5281150300062284|sceneid:feed|t_name:%E5%8A%B3%E5%8A%A8%E4%BA%BA%E6%B0%91%E7%9A%84%E5%B0%8F%E6%99%BA%E6%85%A7|t_id:4836908749226122|ad_log_ext_source:ad|is_ad_weibo:8_reallog_mark_ad%3A8%7C8_1774721133142213879908000033737379|short_video:1|rootuid:1763831941|uuid:5281149303128328|miduid:1763831941|uid:1918530507|is_contribution:0|rootmid:5281150300062284|type:2
                                    - mid:5281494708786125|rid:18_n262_8_2023019850863849092_0_0_1|short_url:http://t.cn/AXIAdmZT|long_url:https://photos.caixin.com/2026-03-28/102428625.html?originReferrer=caixinweibo|comment_id:|miduid:1663937380|rootmid:5281494708786125|rootuid:1663937380|authorid:|uuid:5281494716645704|is_ad_weibo:0|oid:3000000491:dc4afe14af2e41d8c84faf77a3b6f065
                                    - uid:1918530507|mid:5281399261367469|objectid:1034%3A5281399171645480|from:1|object_duration:16.068|miduid:3505975850|rootuid:3505975850|rootmid:5281399261367469|authorid:3505975850|video_orientation:vertical|third_vid:|is_album:0|is_contribution:0|video_tags:|isfan:1|ua:Mozilla/5.0 (Macintosh%3B Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 WeiboPro/1.0.0|sceneid:feed|uuid:5281399182983202|detail:native|contribution:0|short_video:0|st_video:1|author_mid:5281399261367469|cluster_type_status:|is_ad_weibo:0|analysis_card:page_info
                                    - uid:1918530507|mid:5281414401755224|objectid:1034%3A5281412832493573|from:1|object_duration:40.472|miduid:1604159432|rootuid:1604159432|rootmid:5281414401755224|authorid:1644114654|video_orientation:horizontal|third_vid:|is_album:0|is_contribution:0|video_tags:|isfan:1|ua:Mozilla/5.0 (Macintosh%3B Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 WeiboPro/1.0.0|sceneid:feed|uuid:5281412839375176|detail:native|contribution:0|short_video:0|st_video:1|author_mid:5281412920902180|cluster_type_status:|is_ad_weibo:0|analysis_card:page_info
                                    - uid:1918530507|mid:5281421872597226|objectid:1034%3A5281147882766415|from:1|object_duration:116.866|miduid:1639498782|rootuid:1639498782|rootmid:5281421872597226|authorid:2656274875|video_orientation:horizontal|third_vid:|is_album:1|is_contribution:0|video_tags:|isfan:1|ua:Mozilla/5.0 (Macintosh%3B Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 WeiboPro/1.0.0|sceneid:feed|uuid:5281148011020469|detail:native|contribution:0|short_video:0|st_video:1|author_mid:5281148327691250|cluster_type_status:|is_ad_weibo:0|type:52_4|analysis_card:page_info
                                    - uid:1918530507|mid:5281565162079864|objectid:1034%3A5281396886011960|from:1|object_duration:279.242|miduid:1871474290|rootuid:1304881564|rootmid:5281398811529519|authorid:1304881564|video_orientation:horizontal|third_vid:|is_album:1|is_contribution:0|video_tags:|isfan:0|ua:Mozilla/5.0 (Macintosh%3B Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 WeiboPro/1.0.0|sceneid:feed|uuid:5281397106540583|detail:native|contribution:0|short_video:1|st_video:0|author_mid:5281398811529519|cluster_type_status:|is_ad_weibo:0|container_mid:5281565162079864|analysis_card:page_info
                                    - uid:1918530507|mid:5281597834399256|objectid:1034%3A5281597524475946|from:1|object_duration:433.5|miduid:5867737487|rootuid:5867737487|rootmid:5281597834399256|authorid:5867737487|video_orientation:vertical|third_vid:|is_album:0|is_contribution:0|video_tags:|isfan:1|ua:Mozilla/5.0 (Macintosh%3B Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 WeiboPro/1.0.0|sceneid:feed|uuid:5281597619437746|detail:native|contribution:0|short_video:0|st_video:1|author_mid:5281597834399256|cluster_type_status:|is_ad_weibo:0|analysis_card:page_info
                                mark:
                                  type: string
                                  enum:
                                    - 3_reallog_mark_ad:8|3_1774721133142213879908000033745826
                                    - 8_reallog_mark_ad:8|8_1774721133142213879908000033737379
                                fid:
                                  type: string
                                  enum:
                                    - ""
                                cardid:
                                  type: string
                                  enum:
                                    - ""
                                uicode:
                                  type: string
                                  enum:
                                    - ""
                                luicode:
                                  type: string
                                  enum:
                                    - ""
                                lfid:
                                  type: string
                                  enum:
                                    - ""
                              required:
                                - oid
                                - uuid
                                - lcardid
                                - act_type
                                - act_code
                                - ext
                            type_icon:
                              type: string
                              enum:
                                - ""
                            authorid:
                              type: string
                              enum:
                                - "1304881564"
                                - "1644114654"
                                - "1763831941"
                                - "2157238653"
                                - "2656274875"
                                - "3505975850"
                                - "5867737487"
                            page_id:
                              type: string
                              enum:
                                - 1001213000000491:dc4afe14af2e41d8c84faf77a3b6f065
                                - "2304445280334061961312"
                                - "2304445281147882766415"
                                - "2304445281148889137170"
                                - "2304445281396886011960"
                                - "2304445281399171645480"
                                - "2304445281412832493573"
                                - "2304445281597524475946"
                            page_url:
                              type: string
                              enum:
                                - sinaweibo://browser?url=https%3A%2F%2Fphotos.caixin.com%2F2026-03-28%2F102428625.html%3ForiginReferrer%3Dcaixinweibo&sinainternalbrowser=topnav&share_menu=1
                                - sinaweibo://infopage?containerid=2304445281147882766415&containerid=2304445281147882766415&url_type=39&object_type=video&pos=2
                                - sinaweibo://infopage?containerid=2304445281396886011960&containerid=2304445281396886011960&url_type=39&object_type=video&pos=2
                                - sinaweibo://infopage?containerid=2304445281399171645480&containerid=2304445281399171645480&url_type=39&object_type=video&pos=2
                                - sinaweibo://infopage?containerid=2304445281412832493573&containerid=2304445281412832493573&url_type=39&object_type=video&pos=2
                                - sinaweibo://infopage?containerid=2304445281597524475946&containerid=2304445281597524475946&url_type=39&object_type=video&pos=2
                                - sinaweibo://infopage?schemewhitelist=%7B%22scheme%22%3A%5B%22.*%22%5D%2C%22itunes%22%3A%5B%22.*%22%5D%7D&allowRedirect=1&object_type=video&containerid=2304445280334061961312&url_type=39&mark_id=3_reallog_mark_ad%3A8%7C3_1774721133142213879908000033745826&mark=3_reallog_mark_ad%3A8%7C3_1774721133142213879908000033745826&pos=2&disable_interception=1&disable_sinaurl=1
                                - sinaweibo://infopage?schemewhitelist=%7B%22scheme%22%3A%5B%22.*%22%5D%2C%22itunes%22%3A%5B%22.*%22%5D%7D&allowRedirect=1&object_type=video&containerid=2304445281148889137170&url_type=39&mark_id=8_reallog_mark_ad%3A8%7C8_1774721133142213879908000033737379&mark=8_reallog_mark_ad%3A8%7C8_1774721133142213879908000033737379&pos=2&disable_interception=1&disable_sinaurl=1
                            oid:
                              type: string
                              enum:
                                - "1304881564"
                                - "1644114654"
                                - "1763831941"
                                - "2157238653"
                                - "2656274875"
                                - "3505975850"
                                - "5867737487"
                            type:
                              anyOf:
                                - type: string
                                  enum:
                                    - "11"
                                - type: integer
                            content2:
                              type: string
                              enum:
                                - 2026年3月28日早上7点，苏州殡仪馆，张雪峰追悼会暨遗体告别仪式举行，凌晨起，已有数千至上万名来自全国各地的...
                                - 【#鲁比奥驳斥泽连斯基涉顿巴斯说法#：谎言 他被告知的是安保在战争结束后生效】#鲁比奥称泽连斯基涉顿巴斯说法是谎言#3月27日，鲁比奥驳斥泽连斯基涉顿巴斯说法，称那是谎言。鲁比奥说，“我看到他说了那番话，很遗憾他会这么说，因为他知道那不是事实”。他还说，泽连斯基被告知的事情显而易
                                - 【一个冷知识！#土壤的土腥味从何而来#[上课了]】在广东鼎湖山，科考队员捧起一把黄壤，闻到了一股“土腥味”。这正是土壤活着的证明，独特的味道来自无数微生物的次生代谢活动。土壤是怎样形成的？岩石在风蚀、水蚀与温度变化的共同作用下，化作细碎颗粒，迁移低洼处形成沉积层。在土壤动物和细菌
                                - 张雪峰经典名场面：7分钟解读34所985高校。
                                - |-
                                  春天，请好好活：抑郁、焦虑、压力情绪自救，听听安定医院精神科医生怎么说。

                                  精神科医生系列一共2集，本集为第2集，
                                  第1集：https://weibo.com/1763831941/5278622330126695

                                  #全嘻嘻##全嘻嘻的睡前聊天##微博超有用视频大赛#
                                - |-
                                  网友在车上录的，将近5分钟都没看到队伍尽头。没多少名人能有这排面。张雪峰为这个社会做的，大家心里都记着。一路走好，张雪峰老师。

                                   #送别张雪峰##张雪峰追悼会现场#
                                - 耶耶：这个嘴筒子是非捏不可吗
                                - |-
                                  诶呦！@楊瀚森-Hans 这个小伙子不错哦！打法有点约基奇的影子👀

                                  #NBA# ｜#麦迪# ｜#杨瀚森[超话]#
                            page_pic:
                              type: string
                              format: uri
                            origin_object_type:
                              type: string
                              enum:
                                - video
                            act_status:
                              type: integer
                            warn:
                              type: string
                              enum:
                                - ""
                            disable_video_shrink:
                              type: boolean
                            short_url:
                              type: string
                              format: uri
                            page_title:
                              type: string
                              enum:
                                - 全嘻嘻微博的微博视频
                                - 全是狗狗啊的微博视频
                                - 央视新闻的微博视频
                                - 张雪峰追悼会苏州殡仪馆举行 万人长队送别
                                - 新京报的微博视频
[...]
