openapi: 3.1.0
info:
  title: Weibo API
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-29T06:26:04.728Z
    requires_auth: true
servers:
  - url: https://weibo.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: XSRF-TOKEN
        header: x-xsrf-token
paths:
  /ajax/feed/friendstimeline:
    get:
      operationId: getFriendsFeed
      summary: Get home feed (friends timeline) — post text, images, reposts, likes, comments count, author info
      x-openweb:
        permission: read
        build:
          stable_id: a3645dc7d9c37028
          tool_version: 2
      parameters:
        - name: list_id
          in: query
          required: true
          schema:
            type: string
          example: my_follow_all
          description: Feed group ID (my_follow_all for all followed users)
        - name: refresh
          in: query
          required: false
          schema:
            type: integer
          example: 4
        - name: since_id
          in: query
          required: false
          schema:
            type: integer
          example: 0
          description: Cursor for pagination (use 0 for first page)
        - name: count
          in: query
          required: false
          schema:
            type: integer
          example: 25
          description: Number of posts to return (max 25)
      responses:
        "200":
          description: Home feed posts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuses:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        idstr:
                          type: string
                        mid:
                          type: string
                          description: Post ID (used for detail/comment queries).
                        mblogid:
                          type: string
                        created_at:
                          type: string
                          description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                        text:
                          type: string
                          description: Post content (HTML).
                        text_raw:
                          type: string
                          description: Post content (plain text).
                        source:
                          type: string
                          description: Client source (e.g. '微博网页版').
                        user:
                          type: object
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            screen_name:
                              type: string
                              description: Display name.
                            profile_image_url:
                              type: string
                            profile_url:
                              type: string
                            verified:
                              type: boolean
                            verified_type:
                              type: integer
                              description: Verification type (0=personal, 1=enterprise, etc.).
                            verified_reason:
                              type: string
                            description:
                              type: string
                              description: User bio.
                            location:
                              type: string
                            gender:
                              type: string
                              description: Gender (m/f).
                            followers_count:
                              type: integer
                            followers_count_str:
                              type: string
                            friends_count:
                              type: integer
                              description: Following count.
                            statuses_count:
                              type: integer
                              description: Total posts count.
                            avatar_large:
                              type: string
                            avatar_hd:
                              type: string
                            mbrank:
                              type: integer
                              description: VIP rank.
                        reposts_count:
                          type: integer
                        comments_count:
                          type: integer
                        attitudes_count:
                          type: integer
                          description: Likes count.
                        isLongText:
                          type: boolean
                        pic_ids:
                          type: array
                          items:
                            type: string
                        pic_num:
                          type: integer
                        pic_infos:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              thumbnail:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              bmiddle:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              large:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              original:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              pic_id:
                                type: string
                              photo_tag:
                                type: integer
                              type:
                                type: string
                                description: Image type (pic/gif/livephoto).
                        retweeted_status:
                          type: object
                          description: "Reposted/quoted post (cycle-broken: does not nest further)."
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            mid:
                              type: string
                            mblogid:
                              type: string
                            created_at:
                              type: string
                            text:
                              type: string
                              description: Post content (HTML).
                            text_raw:
                              type: string
                              description: Post content (plain text).
                            source:
                              type: string
                            user:
                              type: object
                              properties:
                                id:
                                  type: integer
                                idstr:
                                  type: string
                                screen_name:
                                  type: string
                                  description: Display name.
                                profile_image_url:
                                  type: string
                                verified:
                                  type: boolean
                                avatar_hd:
                                  type: string
                            reposts_count:
                              type: integer
                            comments_count:
                              type: integer
                            attitudes_count:
                              type: integer
                              description: Likes count.
                            pic_ids:
                              type: array
                              items:
                                type: string
                            pic_num:
                              type: integer
                  since_id:
                    type:
                      - string
                      - integer
                  max_id:
                    type:
                      - string
                      - integer
  /ajax/feed/hottimeline:
    get:
      operationId: getHotFeed
      summary: Get hot/trending feed — popular posts with text, images, engagement counts, author info
      x-openweb:
        permission: read
        build:
          stable_id: 7d7bf2fbf50c4d9f
          tool_version: 2
      parameters:
        - name: group_id
          in: query
          required: true
          schema:
            type: integer
          example: 102803
          description: Group ID for hot feed (102803 = default hot)
        - name: containerid
          in: query
          required: true
          schema:
            type: integer
          example: 102803
          description: Container ID (same as group_id)
        - name: since_id
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: max_id
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: count
          in: query
          required: false
          schema:
            type: integer
          example: 10
        - name: refresh
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: extparam
          in: query
          required: true
          schema:
            type: string
          example: discover|new_feed
          description: Feed type parameter (discover|new_feed = discovery feed)
      responses:
        "200":
          description: Hot timeline posts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  statuses:
                    type: array
                    description: List of hot posts.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        idstr:
                          type: string
                        mid:
                          type: string
                          description: Post ID (used for detail/comment queries).
                        mblogid:
                          type: string
                        created_at:
                          type: string
                          description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                        text:
                          type: string
                          description: Post content (HTML).
                        text_raw:
                          type: string
                          description: Post content (plain text).
                        source:
                          type: string
                          description: Client source (e.g. '微博网页版').
                        user:
                          type: object
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            screen_name:
                              type: string
                              description: Display name.
                            profile_image_url:
                              type: string
                            profile_url:
                              type: string
                            verified:
                              type: boolean
                            verified_type:
                              type: integer
                              description: Verification type (0=personal, 1=enterprise, etc.).
                            verified_reason:
                              type: string
                            description:
                              type: string
                              description: User bio.
                            location:
                              type: string
                            gender:
                              type: string
                              description: Gender (m/f).
                            followers_count:
                              type: integer
                            followers_count_str:
                              type: string
                            friends_count:
                              type: integer
                              description: Following count.
                            statuses_count:
                              type: integer
                              description: Total posts count.
                            avatar_large:
                              type: string
                            avatar_hd:
                              type: string
                            mbrank:
                              type: integer
                              description: VIP rank.
                        reposts_count:
                          type: integer
                        comments_count:
                          type: integer
                        attitudes_count:
                          type: integer
                          description: Likes count.
                        isLongText:
                          type: boolean
                        pic_ids:
                          type: array
                          items:
                            type: string
                        pic_num:
                          type: integer
                        pic_infos:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              thumbnail:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              bmiddle:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              large:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              original:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              pic_id:
                                type: string
                              photo_tag:
                                type: integer
                              type:
                                type: string
                                description: Image type (pic/gif/livephoto).
                        retweeted_status:
                          type: object
                          description: "Reposted/quoted post (cycle-broken: does not nest further)."
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            mid:
                              type: string
                            mblogid:
                              type: string
                            created_at:
                              type: string
                            text:
                              type: string
                              description: Post content (HTML).
                            text_raw:
                              type: string
                              description: Post content (plain text).
                            source:
                              type: string
                            user:
                              type: object
                              properties:
                                id:
                                  type: integer
                                idstr:
                                  type: string
                                screen_name:
                                  type: string
                                  description: Display name.
                                profile_image_url:
                                  type: string
                                verified:
                                  type: boolean
                                avatar_hd:
                                  type: string
                            reposts_count:
                              type: integer
                            comments_count:
                              type: integer
                            attitudes_count:
                              type: integer
                              description: Likes count.
                            pic_ids:
                              type: array
                              items:
                                type: string
                            pic_num:
                              type: integer
                  total_number:
                    type: integer
                  since_id:
                    type:
                      - string
                      - integer
                  max_id:
                    type:
                      - string
                      - integer
  /ajax/side/hotSearch:
    get:
      operationId: getHotSearch
      summary: Get hot search / trending topics — top 50 with rank, heat, category labels
      x-openweb:
        permission: read
        build:
          stable_id: c2d3e4f5a6b78901
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Hot search ranking.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      hotgov:
                        type: object
                        description: Government-promoted top topic.
                        properties:
                          name:
                            type: string
                          word:
                            type: string
                          mid:
                            type: string
                          url:
                            type: string
                      realtime:
                        type: array
                        description: Top 50 trending topics.
                        items:
                          type: object
                          properties:
                            word:
                              type: string
                              description: Topic keyword.
                            note:
                              type: string
                              description: Display text.
                            num:
                              type: integer
                              description: Heat score.
                            rank:
                              type: integer
                            icon_desc:
                              type: string
                              description: Label (新/热/沸/爆).
                            word_scheme:
                              type: string
                              description: Hashtag format.
  /ajax/profile/info:
    get:
      operationId: getUserProfile
      summary: Get user profile — screen name, avatar, bio, followers/following counts, verification
      x-openweb:
        permission: read
        build:
          stable_id: 254bd0dfa3f12586
          tool_version: 2
      parameters:
        - name: uid
          in: query
          required: true
          schema:
            type: integer
          example: 1918530507
          description: User ID (numeric)
        - name: scene
          in: query
          required: false
          schema:
            type: string
          example: profile
      responses:
        "200":
          description: User profile.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          screen_name:
                            type: string
                            description: Display name.
                          profile_image_url:
                            type: string
                          profile_url:
                            type: string
                          verified:
                            type: boolean
                          verified_type:
                            type: integer
                            description: Verification type (0=personal, 1=enterprise, etc.).
                          verified_reason:
                            type: string
                          description:
                            type: string
                            description: User bio.
                          location:
                            type: string
                          gender:
                            type: string
                            description: Gender (m/f).
                          followers_count:
                            type: integer
                          followers_count_str:
                            type: string
                          friends_count:
                            type: integer
                            description: Following count.
                          statuses_count:
                            type: integer
                            description: Total posts count.
                          avatar_large:
                            type: string
                          avatar_hd:
                            type: string
                          mbrank:
                            type: integer
                            description: VIP rank.
                      tabList:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            tabKey:
                              type: string
                              description: Tab identifier (e.g. 'weibo', 'album', 'fav').
                            title:
                              type: string
                              description: Tab display name.
  /ajax/profile/detail:
    get:
      operationId: getUserDetail
      summary: Get user detail — birthday, gender, location, creation date, sunshine credit
      x-openweb:
        permission: read
        build:
          stable_id: f5a6b7c8d9e01234
          tool_version: 2
      parameters:
        - name: uid
          in: query
          required: true
          schema:
            type: integer
          example: 1918530507
          description: User ID (numeric)
      responses:
        "200":
          description: User detail.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      ip_location:
                        type: string
                      created_at:
                        type: string
                      birthday:
                        type: string
                      sunshine_credit:
                        type: object
                        properties:
                          level:
                            type: string
                            description: Credit level label (e.g. '信用极好').
                      education:
                        type: object
                        properties:
                          school:
                            type: string
                            description: School name.
                      company:
                        type: string
  /ajax/statuses/mymblog:
    get:
      operationId: getUserStatuses
      summary: Get user's posts — paginated list with text, images, engagement counts
      x-openweb:
        permission: read
        build:
          stable_id: 5cbe6a8939f65367
          tool_version: 2
      parameters:
        - name: uid
          in: query
          required: true
          schema:
            type: integer
          example: 1918530507
          description: User ID (numeric)
        - name: page
          in: query
          required: false
          schema:
            type: integer
          example: 1
          description: Page number (starts at 1)
        - name: feature
          in: query
          required: false
          schema:
            type: integer
          example: 0
          description: Filter type (0=all, 1=original, 2=pictures, 3=video, 4=music)
        - name: since_id
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor.
      responses:
        "200":
          description: User timeline.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      since_id:
                        type: string
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            mid:
                              type: string
                              description: Post ID (used for detail/comment queries).
                            mblogid:
                              type: string
                            created_at:
                              type: string
                              description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                            text:
                              type: string
                              description: Post content (HTML).
                            text_raw:
                              type: string
                              description: Post content (plain text).
                            source:
                              type: string
                              description: Client source (e.g. '微博网页版').
                            user:
                              type: object
                              properties:
                                id:
                                  type: integer
                                idstr:
                                  type: string
                                screen_name:
                                  type: string
                                  description: Display name.
                                profile_image_url:
                                  type: string
                                profile_url:
                                  type: string
                                verified:
                                  type: boolean
                                verified_type:
                                  type: integer
                                  description: Verification type (0=personal, 1=enterprise, etc.).
                                verified_reason:
                                  type: string
                                description:
                                  type: string
                                  description: User bio.
                                location:
                                  type: string
                                gender:
                                  type: string
                                  description: Gender (m/f).
                                followers_count:
                                  type: integer
                                followers_count_str:
                                  type: string
                                friends_count:
                                  type: integer
                                  description: Following count.
                                statuses_count:
                                  type: integer
                                  description: Total posts count.
                                avatar_large:
                                  type: string
                                avatar_hd:
                                  type: string
                                mbrank:
                                  type: integer
                                  description: VIP rank.
                            reposts_count:
                              type: integer
                            comments_count:
                              type: integer
                            attitudes_count:
                              type: integer
                              description: Likes count.
                            isLongText:
                              type: boolean
                            pic_ids:
                              type: array
                              items:
                                type: string
                            pic_num:
                              type: integer
                            pic_infos:
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  thumbnail:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  bmiddle:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  large:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  original:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  pic_id:
                                    type: string
                                  photo_tag:
                                    type: integer
                                  type:
                                    type: string
                                    description: Image type (pic/gif/livephoto).
                            retweeted_status:
                              type: object
                              description: "Reposted/quoted post (cycle-broken: does not nest further)."
                              properties:
                                id:
                                  type: integer
                                idstr:
                                  type: string
                                mid:
                                  type: string
                                mblogid:
                                  type: string
                                created_at:
                                  type: string
                                text:
                                  type: string
                                  description: Post content (HTML).
                                text_raw:
                                  type: string
                                  description: Post content (plain text).
                                source:
                                  type: string
                                user:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    idstr:
                                      type: string
                                    screen_name:
                                      type: string
                                      description: Display name.
                                    profile_image_url:
                                      type: string
                                    verified:
                                      type: boolean
                                    avatar_hd:
                                      type: string
                                reposts_count:
                                  type: integer
                                comments_count:
                                  type: integer
                                attitudes_count:
                                  type: integer
                                  description: Likes count.
                                pic_ids:
                                  type: array
                                  items:
                                    type: string
                                pic_num:
                                  type: integer
                      total:
                        type: integer
  /ajax/statuses/show:
    get:
      operationId: getPost
      summary: Get post detail — full text, images, video, engagement counts, author info
      x-openweb:
        permission: read
        build:
          stable_id: 2defa3b7e0a39a48
          tool_version: 2
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          example: Qyj0ifs0m
          description: Post ID (alphanumeric, e.g. 'Qyj0ifs0m')
        - name: isGetLongText
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include full long text content.
        - name: locale
          in: query
          required: false
          schema:
            type: string
          example: zh-CN
      responses:
        "200":
          description: Post detail (WeiboPost with optional longText).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  idstr:
                    type: string
                  mid:
                    type: string
                    description: Post ID (used for detail/comment queries).
                  mblogid:
                    type: string
                  created_at:
                    type: string
                    description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                  text:
                    type: string
                    description: Post content (HTML).
                  text_raw:
                    type: string
                    description: Post content (plain text).
                  source:
                    type: string
                    description: Client source (e.g. '微博网页版').
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      screen_name:
                        type: string
                        description: Display name.
                      profile_image_url:
                        type: string
                      profile_url:
                        type: string
                      verified:
                        type: boolean
                      verified_type:
                        type: integer
                        description: Verification type (0=personal, 1=enterprise, etc.).
                      verified_reason:
                        type: string
                      description:
                        type: string
                        description: User bio.
                      location:
                        type: string
                      gender:
                        type: string
                        description: Gender (m/f).
                      followers_count:
                        type: integer
                      followers_count_str:
                        type: string
                      friends_count:
                        type: integer
                        description: Following count.
                      statuses_count:
                        type: integer
                        description: Total posts count.
                      avatar_large:
                        type: string
                      avatar_hd:
                        type: string
                      mbrank:
                        type: integer
                        description: VIP rank.
                  reposts_count:
                    type: integer
                  comments_count:
                    type: integer
                  attitudes_count:
                    type: integer
                    description: Likes count.
                  isLongText:
                    type: boolean
                  pic_ids:
                    type: array
                    items:
                      type: string
                  pic_num:
                    type: integer
                  pic_infos:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        thumbnail:
                          type: object
                          properties:
                            url:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                        bmiddle:
                          type: object
                          properties:
                            url:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                        large:
                          type: object
                          properties:
                            url:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                        original:
                          type: object
                          properties:
                            url:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                        pic_id:
                          type: string
                        photo_tag:
                          type: integer
                        type:
                          type: string
                          description: Image type (pic/gif/livephoto).
                  retweeted_status:
                    type: object
                    description: "Reposted/quoted post (cycle-broken: does not nest further)."
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      mid:
                        type: string
                      mblogid:
                        type: string
                      created_at:
                        type: string
                      text:
                        type: string
                        description: Post content (HTML).
                      text_raw:
                        type: string
                        description: Post content (plain text).
                      source:
                        type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          screen_name:
                            type: string
                            description: Display name.
                          profile_image_url:
                            type: string
                          verified:
                            type: boolean
                          avatar_hd:
                            type: string
                      reposts_count:
                        type: integer
                      comments_count:
                        type: integer
                      attitudes_count:
                        type: integer
                        description: Likes count.
                      pic_ids:
                        type: array
                        items:
                          type: string
                      pic_num:
                        type: integer
  /ajax/statuses/longtext:
    get:
      operationId: getLongtext
      summary: Get long text content for a post that was truncated
      x-openweb:
        permission: read
        build:
          stable_id: a6b7c8d9e0f12345
          tool_version: 2
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          example: Qyj0ifs0m
          description: Post ID (alphanumeric)
      responses:
        "200":
          description: Long text content.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      longTextContent:
                        type: string
                        description: Full post text (HTML entities).
                      longTextContent_raw:
                        type: string
                        description: Full post text (plain).
                      url_struct:
                        type: array
                        items:
                          type: object
                          properties:
                            url_title:
                              type: string
                              description: Display title of the link.
                            ori_url:
                              type: string
                              description: Original full URL.
                            short_url:
                              type: string
                              description: Shortened t.cn URL.
                            url_type:
                              type: integer
                              description: Link type code.
                      isMarkdown:
                        type: boolean
  /ajax/statuses/buildComments:
    get:
      operationId: listComments
      summary: List comments on a post — comment text, author, likes, reply count
      x-openweb:
        permission: read
        build:
          stable_id: 14ad70308e4408e0
          tool_version: 2
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: Post ID (numeric mid, e.g. '5281762063682574').
        - name: is_reload
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Reload flag (required by API, default 1).
        - name: count
          in: query
          required: false
          schema:
            type: integer
          example: 20
          description: Number of comments per page.
        - name: max_id
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor from previous response.
        - name: flow
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Sort order (0=hot, 1=time).
        - name: is_show_bulletin
          in: query
          required: false
          schema:
            type: integer
          example: 2
        - name: is_mix
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: fetch_level
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: locale
          in: query
          required: false
          schema:
            type: string
          example: zh-CN
      responses:
        "200":
          description: Comments list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type:
                            - string
                            - integer
                        mid:
                          type: string
                        created_at:
                          type: string
                        text:
                          type: string
                          description: Comment HTML content.
                        source:
                          type: string
                        user:
                          type: object
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            screen_name:
                              type: string
                              description: Display name.
                            profile_image_url:
                              type: string
                            profile_url:
                              type: string
                            verified:
                              type: boolean
                            verified_type:
                              type: integer
                              description: Verification type (0=personal, 1=enterprise, etc.).
                            verified_reason:
                              type: string
                            description:
                              type: string
                              description: User bio.
                            location:
                              type: string
                            gender:
                              type: string
                              description: Gender (m/f).
                            followers_count:
                              type: integer
                            followers_count_str:
                              type: string
                            friends_count:
                              type: integer
                              description: Following count.
                            statuses_count:
                              type: integer
                              description: Total posts count.
                            avatar_large:
                              type: string
                            avatar_hd:
                              type: string
                            mbrank:
                              type: integer
                              description: VIP rank.
                        like_count:
                          type: integer
                        reply_count:
                          type: integer
                  total_number:
                    type: integer
                  max_id:
                    type:
                      - string
                      - integer
  /ajax/statuses/repostTimeline:
    get:
      operationId: listReposts
      summary: List reposts/shares of a post — repost text, author, timestamp
      x-openweb:
        permission: read
        build:
          stable_id: b7c8d9e0f1a23456
          tool_version: 2
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: Post numeric ID
        - name: page
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: count
          in: query
          required: false
          schema:
            type: integer
          example: 10
      responses:
        "200":
          description: Reposts list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                properties:
                  ok:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        idstr:
                          type: string
                        mid:
                          type: string
                          description: Post ID (used for detail/comment queries).
                        mblogid:
                          type: string
                        created_at:
                          type: string
                          description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                        text:
                          type: string
                          description: Post content (HTML).
                        text_raw:
                          type: string
                          description: Post content (plain text).
                        source:
                          type: string
                          description: Client source (e.g. '微博网页版').
                        user:
                          type: object
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            screen_name:
                              type: string
                              description: Display name.
                            profile_image_url:
                              type: string
                            profile_url:
                              type: string
                            verified:
                              type: boolean
                            verified_type:
                              type: integer
                              description: Verification type (0=personal, 1=enterprise, etc.).
                            verified_reason:
                              type: string
                            description:
                              type: string
                              description: User bio.
                            location:
                              type: string
                            gender:
                              type: string
                              description: Gender (m/f).
                            followers_count:
                              type: integer
                            followers_count_str:
                              type: string
                            friends_count:
                              type: integer
                              description: Following count.
                            statuses_count:
                              type: integer
                              description: Total posts count.
                            avatar_large:
                              type: string
                            avatar_hd:
                              type: string
                            mbrank:
                              type: integer
                              description: VIP rank.
                        reposts_count:
                          type: integer
                        comments_count:
                          type: integer
                        attitudes_count:
                          type: integer
                          description: Likes count.
                        isLongText:
                          type: boolean
                        pic_ids:
                          type: array
                          items:
                            type: string
                        pic_num:
                          type: integer
                        pic_infos:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              thumbnail:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              bmiddle:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              large:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              original:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              pic_id:
                                type: string
                              photo_tag:
                                type: integer
                              type:
                                type: string
                                description: Image type (pic/gif/livephoto).
                        retweeted_status:
                          type: object
                          description: "Reposted/quoted post (cycle-broken: does not nest further)."
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            mid:
                              type: string
                            mblogid:
                              type: string
                            created_at:
                              type: string
                            text:
                              type: string
                              description: Post content (HTML).
                            text_raw:
                              type: string
                              description: Post content (plain text).
                            source:
                              type: string
                            user:
                              type: object
                              properties:
                                id:
                                  type: integer
                                idstr:
                                  type: string
                                screen_name:
                                  type: string
                                  description: Display name.
                                profile_image_url:
                                  type: string
                                verified:
                                  type: boolean
                                avatar_hd:
                                  type: string
                            reposts_count:
                              type: integer
                            comments_count:
                              type: integer
                            attitudes_count:
                              type: integer
                              description: Likes count.
                            pic_ids:
                              type: array
                              items:
                                type: string
                            pic_num:
                              type: integer
                  total_number:
                    type: integer
                  max_page:
                    type: integer
                  next_cursor:
                    type: integer
  /ajax/statuses/setLike:
    post:
      operationId: likePost
      summary: Like a post — reversible via cancelLike
      x-openweb:
        permission: write
        safety: safe
        build:
          stable_id: d7daf592e0dd3220
          tool_version: 2
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: Post ID (mid) to like.
      responses:
        "200":
          description: Like result with attitude info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  id:
                    type: integer
                    description: Attitude record ID.
                  attitude:
                    type: string
                    description: Attitude type (e.g. 'heart').
                  status:
                    type: object
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      mid:
                        type: string
                        description: Post ID (used for detail/comment queries).
                      mblogid:
                        type: string
                      created_at:
                        type: string
                        description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                      text:
                        type: string
                        description: Post content (HTML).
                      text_raw:
                        type: string
                        description: Post content (plain text).
                      source:
                        type: string
                        description: Client source (e.g. '微博网页版').
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          screen_name:
                            type: string
                            description: Display name.
                          profile_image_url:
                            type: string
                          profile_url:
                            type: string
                          verified:
                            type: boolean
                          verified_type:
                            type: integer
                            description: Verification type (0=personal, 1=enterprise, etc.).
                          verified_reason:
                            type: string
                          description:
                            type: string
                            description: User bio.
                          location:
                            type: string
                          gender:
                            type: string
                            description: Gender (m/f).
                          followers_count:
                            type: integer
                          followers_count_str:
                            type: string
                          friends_count:
                            type: integer
                            description: Following count.
                          statuses_count:
                            type: integer
                            description: Total posts count.
                          avatar_large:
                            type: string
                          avatar_hd:
                            type: string
                          mbrank:
                            type: integer
                            description: VIP rank.
                      reposts_count:
                        type: integer
                      comments_count:
                        type: integer
                      attitudes_count:
                        type: integer
                        description: Likes count.
                      isLongText:
                        type: boolean
                      pic_ids:
                        type: array
                        items:
                          type: string
                      pic_num:
                        type: integer
                      pic_infos:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            thumbnail:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            bmiddle:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            large:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            original:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            pic_id:
                              type: string
                            photo_tag:
                              type: integer
                            type:
                              type: string
                              description: Image type (pic/gif/livephoto).
                      retweeted_status:
                        type: object
                        description: "Reposted/quoted post (cycle-broken: does not nest further)."
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          mid:
                            type: string
                          mblogid:
                            type: string
                          created_at:
                            type: string
                          text:
                            type: string
                            description: Post content (HTML).
                          text_raw:
                            type: string
                            description: Post content (plain text).
                          source:
                            type: string
                          user:
                            type: object
                            properties:
                              id:
                                type: integer
                              idstr:
                                type: string
                              screen_name:
                                type: string
                                description: Display name.
                              profile_image_url:
                                type: string
                              verified:
                                type: boolean
                              avatar_hd:
                                type: string
                          reposts_count:
                            type: integer
                          comments_count:
                            type: integer
                          attitudes_count:
                            type: integer
                            description: Likes count.
                          pic_ids:
                            type: array
                            items:
                              type: string
                          pic_num:
                            type: integer
  /ajax/statuses/repost:
    post:
      operationId: repost
      summary: Repost/retweet a post — creates a new post quoting the original
      x-openweb:
        permission: write
        safety: safe
        build:
          stable_id: weibo0012
          tool_version: 1
        adapter:
          name: weibo-web
          operation: repost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: Post ID (mid) to repost.
                reason:
                  type: string
                  default: 转发微博
                  description: Repost comment text (default '转发微博').
      responses:
        "200":
          description: Reposted post data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  statuses:
                    type: object
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      mid:
                        type: string
                        description: Post ID (used for detail/comment queries).
                      mblogid:
                        type: string
                      created_at:
                        type: string
                        description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                      text:
                        type: string
                        description: Post content (HTML).
                      text_raw:
                        type: string
                        description: Post content (plain text).
                      source:
                        type: string
                        description: Client source (e.g. '微博网页版').
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          screen_name:
                            type: string
                            description: Display name.
                          profile_image_url:
                            type: string
                          profile_url:
                            type: string
                          verified:
                            type: boolean
                          verified_type:
                            type: integer
                            description: Verification type (0=personal, 1=enterprise, etc.).
                          verified_reason:
                            type: string
                          description:
                            type: string
                            description: User bio.
                          location:
                            type: string
                          gender:
                            type: string
                            description: Gender (m/f).
                          followers_count:
                            type: integer
                          followers_count_str:
                            type: string
                          friends_count:
                            type: integer
                            description: Following count.
                          statuses_count:
                            type: integer
                            description: Total posts count.
                          avatar_large:
                            type: string
                          avatar_hd:
                            type: string
                          mbrank:
                            type: integer
                            description: VIP rank.
                      reposts_count:
                        type: integer
                      comments_count:
                        type: integer
                      attitudes_count:
                        type: integer
                        description: Likes count.
                      isLongText:
                        type: boolean
                      pic_ids:
                        type: array
                        items:
                          type: string
                      pic_num:
                        type: integer
                      pic_infos:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            thumbnail:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            bmiddle:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            large:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            original:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            pic_id:
                              type: string
                            photo_tag:
                              type: integer
                            type:
                              type: string
                              description: Image type (pic/gif/livephoto).
                      retweeted_status:
                        type: object
                        description: "Reposted/quoted post (cycle-broken: does not nest further)."
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          mid:
                            type: string
                          mblogid:
                            type: string
                          created_at:
                            type: string
                          text:
                            type: string
                            description: Post content (HTML).
                          text_raw:
                            type: string
                            description: Post content (plain text).
                          source:
                            type: string
                          user:
                            type: object
                            properties:
                              id:
                                type: integer
                              idstr:
                                type: string
                              screen_name:
                                type: string
                                description: Display name.
                              profile_image_url:
                                type: string
                              verified:
                                type: boolean
                              avatar_hd:
                                type: string
                          reposts_count:
                            type: integer
                          comments_count:
                            type: integer
                          attitudes_count:
                            type: integer
                            description: Likes count.
                          pic_ids:
                            type: array
                            items:
                              type: string
                          pic_num:
                            type: integer
  /ajax/friendships/create:
    post:
      operationId: followUser
      summary: Follow a user — reversible via unfollow
      x-openweb:
        permission: write
        safety: safe
        build:
          stable_id: weibo0013
          tool_version: 1
        adapter:
          name: weibo-web
          operation: followUser
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - friend_uid
              properties:
                friend_uid:
                  type: string
                  description: User ID (numeric) to follow.
      responses:
        "200":
          description: Followed user profile data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      screen_name:
                        type: string
                        description: Display name.
                      profile_image_url:
                        type: string
                      profile_url:
                        type: string
                      verified:
                        type: boolean
                      verified_type:
                        type: integer
                        description: Verification type (0=personal, 1=enterprise, etc.).
                      verified_reason:
                        type: string
                      description:
                        type: string
                        description: User bio.
                      location:
                        type: string
                      gender:
                        type: string
                        description: Gender (m/f).
                      followers_count:
                        type: integer
                      followers_count_str:
                        type: string
                      friends_count:
                        type: integer
                        description: Following count.
                      statuses_count:
                        type: integer
                        description: Total posts count.
                      avatar_large:
                        type: string
                      avatar_hd:
                        type: string
                      mbrank:
                        type: integer
                        description: VIP rank.
  /ajax/statuses/createFavorites:
    post:
      operationId: bookmarkPost
      summary: Bookmark/favorite a post — reversible via destoryFavorites
      x-openweb:
        permission: write
        safety: safe
        build:
          stable_id: weibo0014
          tool_version: 1
        adapter:
          name: weibo-web
          operation: bookmarkPost
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: Post ID (mid) to bookmark.
      responses:
        "200":
          description: Bookmarked post with tags and timestamp.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  status:
                    type: object
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      mid:
                        type: string
                        description: Post ID (used for detail/comment queries).
                      mblogid:
                        type: string
                      created_at:
                        type: string
                        description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                      text:
                        type: string
                        description: Post content (HTML).
                      text_raw:
                        type: string
                        description: Post content (plain text).
                      source:
                        type: string
                        description: Client source (e.g. '微博网页版').
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          screen_name:
                            type: string
                            description: Display name.
                          profile_image_url:
                            type: string
                          profile_url:
                            type: string
                          verified:
                            type: boolean
                          verified_type:
                            type: integer
                            description: Verification type (0=personal, 1=enterprise, etc.).
                          verified_reason:
                            type: string
                          description:
                            type: string
                            description: User bio.
                          location:
                            type: string
                          gender:
                            type: string
                            description: Gender (m/f).
                          followers_count:
                            type: integer
                          followers_count_str:
                            type: string
                          friends_count:
                            type: integer
                            description: Following count.
                          statuses_count:
                            type: integer
                            description: Total posts count.
                          avatar_large:
                            type: string
                          avatar_hd:
                            type: string
                          mbrank:
                            type: integer
                            description: VIP rank.
                      reposts_count:
                        type: integer
                      comments_count:
                        type: integer
                      attitudes_count:
                        type: integer
                        description: Likes count.
                      isLongText:
                        type: boolean
                      pic_ids:
                        type: array
                        items:
                          type: string
                      pic_num:
                        type: integer
                      pic_infos:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            thumbnail:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            bmiddle:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            large:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            original:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            pic_id:
                              type: string
                            photo_tag:
                              type: integer
                            type:
                              type: string
                              description: Image type (pic/gif/livephoto).
                      retweeted_status:
                        type: object
                        description: "Reposted/quoted post (cycle-broken: does not nest further)."
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          mid:
                            type: string
                          mblogid:
                            type: string
                          created_at:
                            type: string
                          text:
                            type: string
                            description: Post content (HTML).
                          text_raw:
                            type: string
                            description: Post content (plain text).
                          source:
                            type: string
                          user:
                            type: object
                            properties:
                              id:
                                type: integer
                              idstr:
                                type: string
                              screen_name:
                                type: string
                                description: Display name.
                              profile_image_url:
                                type: string
                              verified:
                                type: boolean
                              avatar_hd:
                                type: string
                          reposts_count:
                            type: integer
                          comments_count:
                            type: integer
                          attitudes_count:
                            type: integer
                            description: Likes count.
                          pic_ids:
                            type: array
                            items:
                              type: string
                          pic_num:
                            type: integer
                  tags:
                    type: array
                    items:
                      type: string
                  favorited_time:
                    type: string
                    description: Timestamp when bookmarked.
