openapi: 3.1.0
info:
  title: weibo
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T07:19:35.759Z
    requires_auth: true
servers:
  - url: https://weibo.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: XSRF-TOKEN
        header: x-xsrf-token
paths:
  /ajax/side/hotSearch:
    get:
      operationId: getHotSearch
      summary: Get trending hot search topics
      x-openweb:
        permission: read
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      hotgovs:
                        type: array
                        items:
                          type: object
                          properties:
                            word:
                              type: string
                            name:
                              type: string
                            icon_desc:
                              type: string
                            pos:
                              type: integer
                          required:
                            - word
                      realtime:
                        type: array
                        items:
                          type: object
                          properties:
                            word:
                              type: string
                            note:
                              type: string
                            num:
                              type: integer
                            realpos:
                              type: integer
                            label_name:
                              type: string
                          required:
                            - word
                    required:
                      - realtime
                required:
                  - ok
                  - data
  /ajax/statuses/hot_band:
    get:
      operationId: getHotBand
      summary: Get hot band trending topics with categories
      x-openweb:
        permission: read
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      band_list:
                        type: array
                        items:
                          type: object
                          properties:
                            word:
                              type: string
                            note:
                              type: string
                            category:
                              type: string
                            num:
                              type: integer
                            realpos:
                              type: integer
                            label_name:
                              type: string
                          required:
                            - word
                    required:
                      - band_list
                required:
                  - ok
                  - data
  /ajax/feed/hottimeline:
    get:
      operationId: getHotTimeline
      summary: Get hot/trending timeline feed
      x-openweb:
        permission: read
      parameters:
        - name: group_id
          in: query
          required: true
          schema:
            type: integer
          example: 102803
        - name: containerid
          in: query
          required: true
          schema:
            type: integer
          example: 102803
        - name: max_id
          in: query
          required: false
          schema:
            type: integer
          example: 0
          description: Pagination cursor. Use 0 for first page.
        - name: count
          in: query
          required: false
          schema:
            type: integer
          example: 10
        - name: extparam
          in: query
          required: false
          schema:
            type: string
          example: "discover|new_feed"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  statuses:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        idstr:
                          type: string
                        text_raw:
                          type: string
                        created_at:
                          type: string
                        user:
                          type: object
                          properties:
                            id:
                              type: integer
                            screen_name:
                              type: string
                          required:
                            - id
                            - screen_name
                        reposts_count:
                          type: integer
                        comments_count:
                          type: integer
                        attitudes_count:
                          type: integer
                      required:
                        - id
                        - text_raw
                  max_id:
                    type: integer
                  since_id:
                    type: string
                required:
                  - ok
                  - statuses
  /ajax/profile/info:
    get:
      operationId: getUserProfile
      summary: Get user profile information
      x-openweb:
        permission: read
      parameters:
        - name: uid
          in: query
          required: true
          schema:
            type: integer
          example: 1699432410
          description: User ID
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          screen_name:
                            type: string
                          profile_image_url:
                            type: string
                            format: uri
                          profile_url:
                            type: string
                          verified:
                            type: boolean
                          verified_type:
                            type: integer
                          description:
                            type: string
                          followers_count:
                            type: integer
                          friends_count:
                            type: integer
                          statuses_count:
                            type: integer
                          avatar_large:
                            type: string
                            format: uri
                          avatar_hd:
                            type: string
                            format: uri
                          following:
                            type: boolean
                          follow_me:
                            type: boolean
                        required:
                          - id
                          - screen_name
                    required:
                      - user
                required:
                  - ok
                  - data
  /ajax/profile/detail:
    get:
      operationId: getUserDetail
      summary: Get user profile extended detail (bio, birthday, etc.)
      x-openweb:
        permission: read
      parameters:
        - name: uid
          in: query
          required: true
          schema:
            type: integer
          example: 1699432410
          description: User ID
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      birthday:
                        type: string
                      created_at:
                        type: string
                      description:
                        type: string
                      gender:
                        type: string
                      sunshine_credit:
                        type: object
                        properties:
                          level:
                            type: string
                      followers:
                        type: object
                        properties:
                          total_number:
                            type: integer
                    required:
                      - created_at
                required:
                  - ok
                  - data
  /ajax/statuses/mymblog:
    get:
      operationId: getUserPosts
      summary: Get posts from a specific user's timeline
      x-openweb:
        permission: read
      parameters:
        - name: uid
          in: query
          required: true
          schema:
            type: integer
          example: 1699432410
          description: User ID
        - name: page
          in: query
          required: true
          schema:
            type: integer
          example: 1
          description: Page number (starts at 1)
        - name: feature
          in: query
          required: false
          schema:
            type: integer
          example: 0
          description: Filter type (0=all, 1=original, 2=pictures, 3=video, 4=music)
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      since_id:
                        type: string
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            text_raw:
                              type: string
                            created_at:
                              type: string
                            user:
                              type: object
                              properties:
                                id:
                                  type: integer
                                screen_name:
                                  type: string
                              required:
                                - id
                                - screen_name
                            reposts_count:
                              type: integer
                            comments_count:
                              type: integer
                            attitudes_count:
                              type: integer
                            pic_ids:
                              type: array
                              items:
                                type: string
                          required:
                            - id
                            - text_raw
                    required:
                      - list
                required:
                  - ok
                  - data
  /ajax/statuses/show:
    get:
      operationId: getPostDetail
      summary: Get a specific post by ID
      x-openweb:
        permission: read
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          example: "5281459511232930"
          description: Post (status) ID
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  id:
                    type: integer
                  idstr:
                    type: string
                  text_raw:
                    type: string
                  created_at:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                      screen_name:
                        type: string
                    required:
                      - id
                      - screen_name
                  reposts_count:
                    type: integer
                  comments_count:
                    type: integer
                  attitudes_count:
                    type: integer
                  pic_ids:
                    type: array
                    items:
                      type: string
                required:
                  - ok
                  - id
                  - text_raw
  /ajax/side/search:
    get:
      operationId: getSearchSuggestions
      summary: Get search suggestions and related hot queries
      x-openweb:
        permission: read
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: 科技
          description: Search keyword
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      hotquery:
                        type: array
                        items:
                          type: object
                          properties:
                            suggestion:
                              type: string
                            count:
                              type: integer
                            topic_flag:
                              type: integer
                          required:
                            - suggestion
                    required:
                      - hotquery
                required:
                  - ok
                  - data
