openapi: 3.1.0
info:
  title: Weibo API
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-29T06:26:04.728000Z
    requires_auth: true
servers:
- url: https://weibo.com
  x-openweb:
    transport: page
    auth:
      type: cookie_session
    csrf:
      type: cookie_to_header
      cookie: XSRF-TOKEN
      header: x-xsrf-token
paths:
  /ajax/feed/friendstimeline:
    get:
      operationId: getFriendsFeed
      summary: Get home feed (friends timeline) — post text, images, reposts, likes, comments count, author info
      x-openweb:
        permission: read
        adapter:
          name: weibo-read
          operation: getFriendsFeed
        build:
          stable_id: a3645dc7d9c37028
          tool_version: 2
      parameters:
      - name: list_id
        in: query
        required: true
        schema:
          type: string
        example: my_follow_all
        description: Feed group ID (my_follow_all for all followed users)
      - name: refresh
        in: query
        required: false
        schema:
          type: integer
        example: 4
      - name: since_id
        in: query
        required: false
        schema:
          type: integer
        example: 0
        description: Cursor for pagination (use 0 for first page)
      - name: count
        in: query
        required: false
        schema:
          type: integer
        example: 25
        description: Number of posts to return (max 25)
      responses:
        "200":
          description: Home feed posts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuses:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        idstr:
                          type: string
                        mid:
                          type: string
                          description: Post ID (used for detail/comment queries).
                        mblogid:
                          type: string
                        created_at:
                          type: string
                          description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                        text:
                          type: string
                          description: Post content (HTML).
                        text_raw:
                          type: string
                          description: Post content (plain text).
                        source:
                          type: string
                          description: Client source (e.g. '微博网页版').
                        user:
                          type: object
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            screen_name:
                              type: string
                              description: Display name.
                            profile_image_url:
                              type: string
                            profile_url:
                              type: string
                            verified:
                              type: boolean
                            verified_type:
                              type: integer
                              description: Verification type (0=personal, 1=enterprise, etc.).
                            verified_reason:
                              type: string
                            description:
                              type: string
                              description: User bio.
                            location:
                              type: string
                            gender:
                              type: string
                              description: Gender (m/f).
                            followers_count:
                              type: integer
                            followers_count_str:
                              type: string
                            friends_count:
                              type: integer
                              description: Following count.
                            statuses_count:
                              type: integer
                              description: Total posts count.
                            avatar_large:
                              type: string
                            avatar_hd:
                              type: string
                            mbrank:
                              type: integer
                              description: VIP rank.
                        reposts_count:
                          type: integer
                        comments_count:
                          type: integer
                        attitudes_count:
                          type: integer
                          description: Likes count.
                        isLongText:
                          type: boolean
                        pic_ids:
                          type: array
                          items:
                            type: string
                        pic_num:
                          type: integer
                        pic_infos:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              thumbnail:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              bmiddle:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              large:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              original:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              pic_id:
                                type: string
                              photo_tag:
                                type: integer
                              type:
                                type: string
                                description: Image type (pic/gif/livephoto).
                        retweeted_status:
                          type: object
                          description: "Reposted/quoted post (cycle-broken: does not nest further)."
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            mid:
                              type: string
                            mblogid:
                              type: string
                            created_at:
                              type: string
                            text:
                              type: string
                              description: Post content (HTML).
                            text_raw:
                              type: string
                              description: Post content (plain text).
                            source:
                              type: string
                            user:
                              type: object
                              properties:
                                id:
                                  type: integer
                                idstr:
                                  type: string
                                screen_name:
                                  type: string
                                  description: Display name.
                                profile_image_url:
                                  type: string
                                verified:
                                  type: boolean
                                avatar_hd:
                                  type: string
                            reposts_count:
                              type: integer
                            comments_count:
                              type: integer
                            attitudes_count:
                              type: integer
                              description: Likes count.
                            pic_ids:
                              type: array
                              items:
                                type: string
                            pic_num:
                              type: integer
                  since_id:
                    oneOf:
                    - type: string
                    - type: integer
                  max_id:
                    oneOf:
                    - type: string
                    - type: integer
                required:
                - statuses
  /ajax/feed/hottimeline:
    get:
      operationId: getHotFeed
      summary: Get hot/trending feed — popular posts with text, images, engagement counts, author info
      x-openweb:
        permission: read
        adapter:
          name: weibo-read
          operation: getHotFeed
        build:
          stable_id: 7d7bf2fbf50c4d9f
          tool_version: 2
      parameters:
      - name: group_id
        in: query
        required: true
        schema:
          type: integer
        example: 102803
        description: Group ID for hot feed (102803 = default hot)
      - name: containerid
        in: query
        required: true
        schema:
          type: integer
        example: 102803
        description: Container ID (same as group_id)
      - name: since_id
        in: query
        required: false
        schema:
          type: integer
        example: 0
      - name: max_id
        in: query
        required: false
        schema:
          type: integer
        example: 0
      - name: count
        in: query
        required: false
        schema:
          type: integer
        example: 10
      - name: refresh
        in: query
        required: false
        schema:
          type: integer
        example: 0
      - name: extparam
        in: query
        required: true
        schema:
          type: string
        example: discover|new_feed
        description: Feed type parameter (discover|new_feed = discovery feed)
      responses:
        "200":
          description: Hot timeline posts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  statuses:
                    type: array
                    description: List of hot posts.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        idstr:
                          type: string
                        mid:
                          type: string
                          description: Post ID (used for detail/comment queries).
                        mblogid:
                          type: string
                        created_at:
                          type: string
                          description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                        text:
                          type: string
                          description: Post content (HTML).
                        text_raw:
                          type: string
                          description: Post content (plain text).
                        source:
                          type: string
                          description: Client source (e.g. '微博网页版').
                        user:
                          type: object
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            screen_name:
                              type: string
                              description: Display name.
                            profile_image_url:
                              type: string
                            profile_url:
                              type: string
                            verified:
                              type: boolean
                            verified_type:
                              type: integer
                              description: Verification type (0=personal, 1=enterprise, etc.).
                            verified_reason:
                              type: string
                            description:
                              type: string
                              description: User bio.
                            location:
                              type: string
                            gender:
                              type: string
                              description: Gender (m/f).
                            followers_count:
                              type: integer
                            followers_count_str:
                              type: string
                            friends_count:
                              type: integer
                              description: Following count.
                            statuses_count:
                              type: integer
                              description: Total posts count.
                            avatar_large:
                              type: string
                            avatar_hd:
                              type: string
                            mbrank:
                              type: integer
                              description: VIP rank.
                        reposts_count:
                          type: integer
                        comments_count:
                          type: integer
                        attitudes_count:
                          type: integer
                          description: Likes count.
                        isLongText:
                          type: boolean
                        pic_ids:
                          type: array
                          items:
                            type: string
                        pic_num:
                          type: integer
                        pic_infos:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              thumbnail:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              bmiddle:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              large:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              original:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              pic_id:
                                type: string
                              photo_tag:
                                type: integer
                              type:
                                type: string
                                description: Image type (pic/gif/livephoto).
                        retweeted_status:
                          type: object
                          description: "Reposted/quoted post (cycle-broken: does not nest further)."
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            mid:
                              type: string
                            mblogid:
                              type: string
                            created_at:
                              type: string
                            text:
                              type: string
                              description: Post content (HTML).
                            text_raw:
                              type: string
                              description: Post content (plain text).
                            source:
                              type: string
                            user:
                              type: object
                              properties:
                                id:
                                  type: integer
                                idstr:
                                  type: string
                                screen_name:
                                  type: string
                                  description: Display name.
                                profile_image_url:
                                  type: string
                                verified:
                                  type: boolean
                                avatar_hd:
                                  type: string
                            reposts_count:
                              type: integer
                            comments_count:
                              type: integer
                            attitudes_count:
                              type: integer
                              description: Likes count.
                            pic_ids:
                              type: array
                              items:
                                type: string
                            pic_num:
                              type: integer
                  total_number:
                    type: integer
                  since_id:
                    oneOf:
                    - type: string
                    - type: integer
                  max_id:
                    oneOf:
                    - type: string
                    - type: integer
                required:
                - statuses
  /ajax/side/hotSearch:
    get:
      operationId: getHotSearch
      summary: Get hot search / trending topics — top 50 with rank, heat, category labels
      x-openweb:
        permission: read
        adapter:
          name: weibo-read
          operation: getHotSearch
        build:
          stable_id: c2d3e4f5a6b78901
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Hot search ranking.
          content:
            application/json:
              schema:
                type: object
                required:
                - ok
                - data
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      hotgov:
                        type: object
                        description: Government-promoted top topic.
                        properties:
                          name:
                            type: string
                          word:
                            type: string
                          mid:
                            type: string
                          url:
                            type: string
                      realtime:
                        type: array
                        description: Top 50 trending topics.
                        items:
                          type: object
                          properties:
                            word:
                              type: string
                              description: Topic keyword.
                            note:
                              type: string
                              description: Display text.
                            num:
                              type: integer
                              description: Heat score.
                            rank:
                              type: integer
                            icon_desc:
                              type: string
                              description: Label (新/热/沸/爆).
                            word_scheme:
                              type: string
                              description: Hashtag format.
  /ajax/profile/info:
    get:
      operationId: getUserProfile
      summary: Get user profile — screen name, avatar, bio, followers/following counts, verification
      x-openweb:
        permission: read
        adapter:
          name: weibo-read
          operation: getUserProfile
        build:
          stable_id: 254bd0dfa3f12586
          tool_version: 2
      parameters:
      - name: uid
        in: query
        required: true
        schema:
          type: integer
        example: 1918530507
        description: User ID (numeric)
      - name: scene
        in: query
        required: false
        schema:
          type: string
        example: profile
      responses:
        "200":
          description: User profile.
          content:
            application/json:
              schema:
                type: object
                required:
                - ok
                - data
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          screen_name:
                            type: string
                            description: Display name.
                          profile_image_url:
                            type: string
                          profile_url:
                            type: string
                          verified:
                            type: boolean
                          verified_type:
                            type: integer
                            description: Verification type (0=personal, 1=enterprise, etc.).
                          verified_reason:
                            type: string
                          description:
                            type: string
                            description: User bio.
                          location:
                            type: string
                          gender:
                            type: string
                            description: Gender (m/f).
                          followers_count:
                            type: integer
                          followers_count_str:
                            type: string
                          friends_count:
                            type: integer
                            description: Following count.
                          statuses_count:
                            type: integer
                            description: Total posts count.
                          avatar_large:
                            type: string
                          avatar_hd:
                            type: string
                          mbrank:
                            type: integer
                            description: VIP rank.
                      tabList:
                        type: array
                        items:
                          type: object
                          properties:
                            tabKey:
                              type: string
                              description: Tab identifier (e.g. 'home', 'feed', 'album').
                            title:
                              type: string
                              description: Tab display name.
  /ajax/profile/detail:
    get:
      operationId: getUserDetail
      summary: Get user detail — birthday, gender, location, creation date, sunshine credit
      x-openweb:
        permission: read
        adapter:
          name: weibo-read
          operation: getUserDetail
        build:
          stable_id: f5a6b7c8d9e01234
          tool_version: 2
      parameters:
      - name: uid
        in: query
        required: true
        schema:
          type: integer
        example: 1918530507
        description: User ID (numeric)
      responses:
        "200":
          description: User detail.
          content:
            application/json:
              schema:
                type: object
                required:
                - ok
                - data
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      ip_location:
                        type: string
                      created_at:
                        type: string
                      birthday:
                        type: string
                      sunshine_credit:
                        type: object
                        properties:
                          level:
                            type: string
                            description: Credit level label (e.g. '信用极好').
                      education:
                        type: object
                        properties:
                          school:
                            type: string
                            description: School name.
                      company:
                        type: string
  /ajax/statuses/mymblog:
    get:
      operationId: getUserStatuses
      summary: Get user's posts — paginated list with text, images, engagement counts
      x-openweb:
        permission: read
        adapter:
          name: weibo-read
          operation: getUserStatuses
        build:
          stable_id: 5cbe6a8939f65367
          tool_version: 2
      parameters:
      - name: uid
        in: query
        required: true
        schema:
          type: integer
        example: 1918530507
        description: User ID (numeric)
      - name: page
        in: query
        required: false
        schema:
          type: integer
        example: 1
        description: Page number (starts at 1)
      - name: feature
        in: query
        required: false
        schema:
          type: integer
        example: 0
        description: Filter type (0=all, 1=original, 2=pictures, 3=video, 4=music)
      - name: since_id
        in: query
        required: false
        schema:
          type: string
        description: Pagination cursor.
      responses:
        "200":
          description: User timeline.
          content:
            application/json:
              schema:
                type: object
                required:
                - ok
                - data
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    required:
                    - list
                    properties:
                      since_id:
                        oneOf:
                        - type: string
                        - type: integer
                      list:
                        type: array
                        items:
                          type: object
                          required:
                          - id
                          - idstr
                          - mid
                          - text
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            mid:
                              type: string
                              description: Post ID (used for detail/comment queries).
                            mblogid:
                              type: string
                            created_at:
                              type: string
                              description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                            text:
                              type: string
                              description: Post content (HTML).
                            text_raw:
                              type: string
                              description: Post content (plain text).
                            source:
                              type: string
                              description: Client source (e.g. '微博网页版').
                            user:
                              type: object
                              required:
                              - id
                              - idstr
                              - screen_name
                              properties:
                                id:
                                  type: integer
                                idstr:
                                  type: string
                                screen_name:
                                  type: string
                                  description: Display name.
                                profile_image_url:
                                  type: string
                                profile_url:
                                  type: string
                                verified:
                                  type: boolean
                                verified_type:
                                  type: integer
                                  description: Verification type (0=personal, 1=enterprise, etc.).
                                verified_reason:
                                  type: string
                                description:
                                  type: string
                                  description: User bio.
                                location:
                                  type: string
                                gender:
                                  type: string
                                  description: Gender (m/f).
                                followers_count:
                                  type: integer
                                followers_count_str:
                                  type: string
                                friends_count:
                                  type: integer
                                  description: Following count.
                                statuses_count:
                                  type: integer
                                  description: Total posts count.
                                avatar_large:
                                  type: string
                                avatar_hd:
                                  type: string
                                mbrank:
                                  type: integer
                                  description: VIP rank.
                            reposts_count:
                              type: integer
                            comments_count:
                              type: integer
                            attitudes_count:
                              type: integer
                              description: Likes count.
                            isLongText:
                              type: boolean
                            pic_ids:
                              type: array
                              items:
                                type: string
                            pic_num:
                              type: integer
                            pic_infos:
                              type: object
                              additionalProperties:
                                type: object
                                required:
                                - pic_id
                                properties:
                                  thumbnail:
                                    type: object
                                    required:
                                    - url
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  bmiddle:
                                    type: object
                                    required:
                                    - url
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  large:
                                    type: object
                                    required:
                                    - url
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  original:
                                    type: object
                                    required:
                                    - url
                                    properties:
                                      url:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                  pic_id:
                                    type: string
                                  photo_tag:
                                    type: integer
                                  type:
                                    type: string
                                    description: Image type (pic/gif/livephoto).
                            retweeted_status:
                              type: object
                              description: "Reposted/quoted post (cycle-broken: does not nest further)."
                              required:
                              - id
                              - idstr
                              - mid
                              properties:
                                id:
                                  type: integer
                                idstr:
                                  type: string
                                mid:
                                  type: string
                                mblogid:
                                  type: string
                                created_at:
                                  type: string
                                text:
                                  type: string
                                  description: Post content (HTML).
                                text_raw:
                                  type: string
                                  description: Post content (plain text).
                                source:
                                  type: string
                                user:
                                  oneOf:
                                  - type: object
                                    required:
                                    - id
                                    - idstr
                                    - screen_name
                                    properties:
                                      id:
                                        type: integer
                                      idstr:
                                        type: string
                                      screen_name:
                                        type: string
                                        description: Display name.
                                      profile_image_url:
                                        type: string
                                      verified:
                                        type: boolean
                                      avatar_hd:
                                        type: string
                                  - type: 'null'
                                reposts_count:
                                  type: integer
                                comments_count:
                                  type: integer
                                attitudes_count:
                                  type: integer
                                  description: Likes count.
                                pic_ids:
                                  type: array
                                  items:
                                    type: string
                                pic_num:
                                  type: integer
                      total:
                        type: integer
  /ajax/statuses/show:
    get:
      operationId: getPost
      summary: Get post detail — full text, images, video, engagement counts, author info
      x-openweb:
        permission: read
        adapter:
          name: weibo-read
          operation: getPost
        build:
          stable_id: 2defa3b7e0a39a48
          tool_version: 2
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: Qyj0ifs0m
        description: Post ID (alphanumeric, e.g. 'Qyj0ifs0m')
      - name: isGetLongText
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Include full long text content.
      - name: locale
        in: query
        required: false
        schema:
          type: string
        example: zh-CN
      responses:
        "200":
          description: Post detail (WeiboPost with optional longText).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  idstr:
                    type: string
                  mid:
                    type: string
                    description: Post ID (used for detail/comment queries).
                  mblogid:
                    type: string
                  created_at:
                    type: string
                    description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                  text:
                    type: string
                    description: Post content (HTML).
                  text_raw:
                    type: string
                    description: Post content (plain text).
                  source:
                    type: string
                    description: Client source (e.g. '微博网页版').
                  user:
                    type: object
                    required:
                    - id
                    - idstr
                    - screen_name
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      screen_name:
                        type: string
                        description: Display name.
                      profile_image_url:
                        type: string
                      profile_url:
                        type: string
                      verified:
                        type: boolean
                      verified_type:
                        type: integer
                        description: Verification type (0=personal, 1=enterprise, etc.).
                      verified_reason:
                        type: string
                      description:
                        type: string
                        description: User bio.
                      location:
                        type: string
                      gender:
                        type: string
                        description: Gender (m/f).
                      followers_count:
                        type: integer
                      followers_count_str:
                        type: string
                      friends_count:
                        type: integer
                        description: Following count.
                      statuses_count:
                        type: integer
                        description: Total posts count.
                      avatar_large:
                        type: string
                      avatar_hd:
                        type: string
                      mbrank:
                        type: integer
                        description: VIP rank.
                  reposts_count:
                    type: integer
                  comments_count:
                    type: integer
                  attitudes_count:
                    type: integer
                    description: Likes count.
                  isLongText:
                    type: boolean
                  pic_ids:
                    type: array
                    items:
                      type: string
                  pic_num:
                    type: integer
                  pic_infos:
                    type: object
                    additionalProperties:
                      type: object
                      required:
                      - pic_id
                      properties:
                        thumbnail:
                          type: object
                          required:
                          - url
                          properties:
                            url:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                        bmiddle:
                          type: object
                          required:
                          - url
                          properties:
                            url:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                        large:
                          type: object
                          required:
                          - url
                          properties:
                            url:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                        original:
                          type: object
                          required:
                          - url
                          properties:
                            url:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                        pic_id:
                          type: string
                        photo_tag:
                          type: integer
                        type:
                          type: string
                          description: Image type (pic/gif/livephoto).
                  retweeted_status:
                    type: object
                    description: "Reposted/quoted post (cycle-broken: does not nest further). Fields may be absent when the original post was deleted."
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      mid:
                        type: string
                      mblogid:
                        type: string
                      created_at:
                        type: string
                      text:
                        type: string
                        description: Post content (HTML).
                      text_raw:
                        type: string
                        description: Post content (plain text).
                      source:
                        type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          screen_name:
                            type: string
                            description: Display name.
                          profile_image_url:
                            type: string
                          verified:
                            type: boolean
                          avatar_hd:
                            type: string
                      reposts_count:
                        type: integer
                      comments_count:
                        type: integer
                      attitudes_count:
                        type: integer
                        description: Likes count.
                      pic_ids:
                        type: array
                        items:
                          type: string
                      pic_num:
                        type: integer
                required:
                - id
                - text
  /ajax/statuses/longtext:
    get:
      operationId: getLongtext
      summary: Get long text content for a truncated post — longTextContent, longTextContent_raw, url_struct
      x-openweb:
        permission: read
        adapter:
          name: weibo-read
          operation: getLongtext
        build:
          stable_id: a6b7c8d9e0f12345
          tool_version: 2
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: Qyj0ifs0m
        description: Post ID (alphanumeric)
      responses:
        "200":
          description: Long text content.
          content:
            application/json:
              schema:
                type: object
                required:
                - ok
                - data
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    required:
                    - longTextContent
                    properties:
                      longTextContent:
                        type: string
                        description: Full post text (HTML entities).
                      longTextContent_raw:
                        type: string
                        description: Full post text (plain).
                      url_struct:
                        type: array
                        items:
                          type: object
                          required:
                          - ori_url
                          properties:
                            url_title:
                              type: string
                              description: Display title of the link.
                            ori_url:
                              type: string
                              description: Original full URL.
                            short_url:
                              type: string
                              description: Shortened t.cn URL.
                            url_type:
                              type: integer
                              description: Link type code.
                      isMarkdown:
                        type: boolean
  /ajax/statuses/repostTimeline:
    get:
      operationId: listReposts
      summary: List reposts/shares of a post — repost text, author, timestamp
      x-openweb:
        permission: read
        adapter:
          name: weibo-read
          operation: listReposts
        build:
          stable_id: b7c8d9e0f1a23456
          tool_version: 2
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
        description: Post numeric ID
      - name: page
        in: query
        required: false
        schema:
          type: integer
        example: 1
      - name: count
        in: query
        required: false
        schema:
          type: integer
        example: 10
      responses:
        "200":
          description: Reposts list.
          content:
            application/json:
              schema:
                type: object
                required:
                - ok
                - data
                properties:
                  ok:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - idstr
                      - mid
                      - text
                      properties:
                        id:
                          type: integer
                        idstr:
                          type: string
                        mid:
                          type: string
                          description: Post ID (used for detail/comment queries).
                        mblogid:
                          type: string
                        created_at:
                          type: string
                          description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                        text:
                          type: string
                          description: Post content (HTML).
                        text_raw:
                          type: string
                          description: Post content (plain text).
                        source:
                          type: string
                          description: Client source (e.g. '微博网页版').
                        user:
                          type: object
                          required:
                          - id
                          - idstr
                          - screen_name
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            screen_name:
                              type: string
                              description: Display name.
                            profile_image_url:
                              type: string
                            profile_url:
                              type: string
                            verified:
                              type: boolean
                            verified_type:
                              type: integer
                              description: Verification type (0=personal, 1=enterprise, etc.).
                            verified_reason:
                              type: string
                            description:
                              type: string
                              description: User bio.
                            location:
                              type: string
                            gender:
                              type: string
                              description: Gender (m/f).
                            followers_count:
                              type: integer
                            followers_count_str:
                              type: string
                            friends_count:
                              type: integer
                              description: Following count.
                            statuses_count:
                              type: integer
                              description: Total posts count.
                            avatar_large:
                              type: string
                            avatar_hd:
                              type: string
                            mbrank:
                              type: integer
                              description: VIP rank.
                        reposts_count:
                          type: integer
                        comments_count:
                          type: integer
                        attitudes_count:
                          type: integer
                          description: Likes count.
                        isLongText:
                          type: boolean
                        pic_ids:
                          type: array
                          items:
                            type: string
                        pic_num:
                          type: integer
                        pic_infos:
                          type: object
                          additionalProperties:
                            type: object
                            required:
                            - pic_id
                            properties:
                              thumbnail:
                                type: object
                                required:
                                - url
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              bmiddle:
                                type: object
                                required:
                                - url
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              large:
                                type: object
                                required:
                                - url
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              original:
                                type: object
                                required:
                                - url
                                properties:
                                  url:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                              pic_id:
                                type: string
                              photo_tag:
                                type: integer
                              type:
                                type: string
                                description: Image type (pic/gif/livephoto).
                        retweeted_status:
                          type: object
                          description: "Reposted/quoted post (cycle-broken: does not nest further)."
                          required:
                          - id
                          - idstr
                          - mid
                          properties:
                            id:
                              type: integer
                            idstr:
                              type: string
                            mid:
                              type: string
                            mblogid:
                              type: string
                            created_at:
                              type: string
                            text:
                              type: string
                              description: Post content (HTML).
                            text_raw:
                              type: string
                              description: Post content (plain text).
                            source:
                              type: string
                            user:
                              oneOf:
                              - type: object
                                required:
                                - id
                                - idstr
                                - screen_name
                                properties:
                                  id:
                                    type: integer
                                  idstr:
                                    type: string
                                  screen_name:
                                    type: string
                                    description: Display name.
                                  profile_image_url:
                                    type: string
                                  verified:
                                    type: boolean
                                  avatar_hd:
                                    type: string
                              - type: 'null'
                            reposts_count:
                              type: integer
                            comments_count:
                              type: integer
                            attitudes_count:
                              type: integer
                              description: Likes count.
                            pic_ids:
                              type: array
                              items:
                                type: string
                            pic_num:
                              type: integer
                  total_number:
                    type: integer
                  max_page:
                    oneOf:
                    - type: integer
                    - type: 'null'
                  next_cursor:
                    type: integer
  /ajax/statuses/setLike:
    post:
      operationId: likePost
      summary: Like a post — reversible via cancelLike
      x-openweb:
        permission: write
        safety: safe
        build:
          stable_id: d7daf592e0dd3220
          tool_version: 2
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: Post ID (mid) to like.
      responses:
        "200":
          description: Like result with attitude info.
          content:
            application/json:
              schema:
                type: object
                required:
                - ok
                - id
                properties:
                  ok:
                    type: integer
                  id:
                    type: integer
                    description: Attitude record ID.
                  attitude:
                    type: string
                    description: Attitude type (e.g. 'heart').
                  status:
                    type: object
                    required:
                    - id
                    - idstr
                    - mid
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      mid:
                        type: string
                        description: Post ID (used for detail/comment queries).
                      mblogid:
                        type: string
                      created_at:
                        type: string
                        description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                      text:
                        type: string
                        description: Post content (HTML).
                      text_raw:
                        type: string
                        description: Post content (plain text).
                      source:
                        type: string
                        description: Client source (e.g. '微博网页版').
                      user:
                        type: object
                        required:
                        - id
                        - idstr
                        - screen_name
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          screen_name:
                            type: string
                            description: Display name.
                          profile_image_url:
                            type: string
                          profile_url:
                            type: string
                          verified:
                            type: boolean
                          verified_type:
                            type: integer
                            description: Verification type (0=personal, 1=enterprise, etc.).
                          verified_reason:
                            type: string
                          description:
                            type: string
                            description: User bio.
                          location:
                            type: string
                          gender:
                            type: string
                            description: Gender (m/f).
                          followers_count:
                            type: integer
                          followers_count_str:
                            type: string
                          friends_count:
                            type: integer
                            description: Following count.
                          statuses_count:
                            type: integer
                            description: Total posts count.
                          avatar_large:
                            type: string
                          avatar_hd:
                            type: string
                          mbrank:
                            type: integer
                            description: VIP rank.
                      reposts_count:
                        type: integer
                      comments_count:
                        type: integer
                      attitudes_count:
                        type: integer
                        description: Likes count.
                      isLongText:
                        type: boolean
                      pic_ids:
                        type: array
                        items:
                          type: string
                      pic_num:
                        type: integer
                      pic_infos:
                        type: object
                        additionalProperties:
                          type: object
                          required:
                          - pic_id
                          properties:
                            thumbnail:
                              type: object
                              required:
                              - url
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            bmiddle:
                              type: object
                              required:
                              - url
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            large:
                              type: object
                              required:
                              - url
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            original:
                              type: object
                              required:
                              - url
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            pic_id:
                              type: string
                            photo_tag:
                              type: integer
                            type:
                              type: string
                              description: Image type (pic/gif/livephoto).
                      retweeted_status:
                        type: object
                        description: "Reposted/quoted post (cycle-broken: does not nest further)."
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          mid:
                            type: string
                          mblogid:
                            type: string
                          created_at:
                            type: string
                          text:
                            type: string
                            description: Post content (HTML).
                          text_raw:
                            type: string
                            description: Post content (plain text).
                          source:
                            type: string
                          user:
                            type: object
                            properties:
                              id:
                                type: integer
                              idstr:
                                type: string
                              screen_name:
                                type: string
                                description: Display name.
                              profile_image_url:
                                type: string
                              verified:
                                type: boolean
                              avatar_hd:
                                type: string
                          reposts_count:
                            type: integer
                          comments_count:
                            type: integer
                          attitudes_count:
                            type: integer
                            description: Likes count.
                          pic_ids:
                            type: array
                            items:
                              type: string
                          pic_num:
                            type: integer
  /ajax/statuses/repost:
    post:
      operationId: repost
      summary: Repost/retweet a post — creates a new post quoting the original
      x-openweb:
        permission: write
        safety: safe
        build:
          stable_id: weibo0012
          tool_version: 2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: Post ID (mid) to repost.
                reason:
                  type: string
                  default: 转发微博
                  description: Repost comment text (default '转发微博').
      responses:
        "200":
          description: Reposted post data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  statuses:
                    type: object
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      mid:
                        type: string
                        description: Post ID (used for detail/comment queries).
                      mblogid:
                        type: string
                      created_at:
                        type: string
                        description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                      text:
                        type: string
                        description: Post content (HTML).
                      text_raw:
                        type: string
                        description: Post content (plain text).
                      source:
                        type: string
                        description: Client source (e.g. '微博网页版').
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          screen_name:
                            type: string
                            description: Display name.
                          profile_image_url:
                            type: string
                          profile_url:
                            type: string
                          verified:
                            type: boolean
                          verified_type:
                            type: integer
                            description: Verification type (0=personal, 1=enterprise, etc.).
                          verified_reason:
                            type: string
                          description:
                            type: string
                            description: User bio.
                          location:
                            type: string
                          gender:
                            type: string
                            description: Gender (m/f).
                          followers_count:
                            type: integer
                          followers_count_str:
                            type: string
                          friends_count:
                            type: integer
                            description: Following count.
                          statuses_count:
                            type: integer
                            description: Total posts count.
                          avatar_large:
                            type: string
                          avatar_hd:
                            type: string
                          mbrank:
                            type: integer
                            description: VIP rank.
                      reposts_count:
                        type: integer
                      comments_count:
                        type: integer
                      attitudes_count:
                        type: integer
                        description: Likes count.
                      isLongText:
                        type: boolean
                      pic_ids:
                        type: array
                        items:
                          type: string
                      pic_num:
                        type: integer
                      pic_infos:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            thumbnail:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            bmiddle:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            large:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            original:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            pic_id:
                              type: string
                            photo_tag:
                              type: integer
                            type:
                              type: string
                              description: Image type (pic/gif/livephoto).
                      retweeted_status:
                        type: object
                        description: "Reposted/quoted post (cycle-broken: does not nest further)."
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          mid:
                            type: string
                          mblogid:
                            type: string
                          created_at:
                            type: string
                          text:
                            type: string
                            description: Post content (HTML).
                          text_raw:
                            type: string
                            description: Post content (plain text).
                          source:
                            type: string
                          user:
                            type: object
                            properties:
                              id:
                                type: integer
                              idstr:
                                type: string
                              screen_name:
                                type: string
                                description: Display name.
                              profile_image_url:
                                type: string
                              verified:
                                type: boolean
                              avatar_hd:
                                type: string
                          reposts_count:
                            type: integer
                          comments_count:
                            type: integer
                          attitudes_count:
                            type: integer
                            description: Likes count.
                          pic_ids:
                            type: array
                            items:
                              type: string
                          pic_num:
                            type: integer
  /ajax/friendships/create:
    post:
      operationId: followUser
      summary: Follow a user — reversible via unfollow
      x-openweb:
        permission: write
        safety: safe
        build:
          stable_id: weibo0013
          tool_version: 2
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - friend_uid
              properties:
                friend_uid:
                  type: string
                  description: User ID (numeric) to follow.
      responses:
        "200":
          description: Followed user profile data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      screen_name:
                        type: string
                        description: Display name.
                      profile_image_url:
                        type: string
                      profile_url:
                        type: string
                      verified:
                        type: boolean
                      verified_type:
                        type: integer
                        description: Verification type (0=personal, 1=enterprise, etc.).
                      verified_reason:
                        type: string
                      description:
                        type: string
                        description: User bio.
                      location:
                        type: string
                      gender:
                        type: string
                        description: Gender (m/f).
                      followers_count:
                        type: integer
                      followers_count_str:
                        type: string
                      friends_count:
                        type: integer
                        description: Following count.
                      statuses_count:
                        type: integer
                        description: Total posts count.
                      avatar_large:
                        type: string
                      avatar_hd:
                        type: string
                      mbrank:
                        type: integer
                        description: VIP rank.
  /ajax/statuses/createFavorites:
    post:
      operationId: bookmarkPost
      summary: Bookmark/favorite a post — reversible via destroyFavorites
      x-openweb:
        permission: write
        safety: safe
        build:
          stable_id: weibo0014
          tool_version: 2
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: Post ID (mid) to bookmark.
      responses:
        "200":
          description: Bookmarked post with tags and timestamp.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  status:
                    type: object
                    properties:
                      id:
                        type: integer
                      idstr:
                        type: string
                      mid:
                        type: string
                        description: Post ID (used for detail/comment queries).
                      mblogid:
                        type: string
                      created_at:
                        type: string
                        description: Creation timestamp (e.g. 'Fri Mar 20 00:59:20 +0800 2026').
                      text:
                        type: string
                        description: Post content (HTML).
                      text_raw:
                        type: string
                        description: Post content (plain text).
                      source:
                        type: string
                        description: Client source (e.g. '微博网页版').
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          screen_name:
                            type: string
                            description: Display name.
                          profile_image_url:
                            type: string
                          profile_url:
                            type: string
                          verified:
                            type: boolean
                          verified_type:
                            type: integer
                            description: Verification type (0=personal, 1=enterprise, etc.).
                          verified_reason:
                            type: string
                          description:
                            type: string
                            description: User bio.
                          location:
                            type: string
                          gender:
                            type: string
                            description: Gender (m/f).
                          followers_count:
                            type: integer
                          followers_count_str:
                            type: string
                          friends_count:
                            type: integer
                            description: Following count.
                          statuses_count:
                            type: integer
                            description: Total posts count.
                          avatar_large:
                            type: string
                          avatar_hd:
                            type: string
                          mbrank:
                            type: integer
                            description: VIP rank.
                      reposts_count:
                        type: integer
                      comments_count:
                        type: integer
                      attitudes_count:
                        type: integer
                        description: Likes count.
                      isLongText:
                        type: boolean
                      pic_ids:
                        type: array
                        items:
                          type: string
                      pic_num:
                        type: integer
                      pic_infos:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            thumbnail:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            bmiddle:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            large:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            original:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                            pic_id:
                              type: string
                            photo_tag:
                              type: integer
                            type:
                              type: string
                              description: Image type (pic/gif/livephoto).
                      retweeted_status:
                        type: object
                        description: "Reposted/quoted post (cycle-broken: does not nest further)."
                        properties:
                          id:
                            type: integer
                          idstr:
                            type: string
                          mid:
                            type: string
                          mblogid:
                            type: string
                          created_at:
                            type: string
                          text:
                            type: string
                            description: Post content (HTML).
                          text_raw:
                            type: string
                            description: Post content (plain text).
                          source:
                            type: string
                          user:
                            type: object
                            properties:
                              id:
                                type: integer
                              idstr:
                                type: string
                              screen_name:
                                type: string
                                description: Display name.
                              profile_image_url:
                                type: string
                              verified:
                                type: boolean
                              avatar_hd:
                                type: string
                          reposts_count:
                            type: integer
                          comments_count:
                            type: integer
                          attitudes_count:
                            type: integer
                            description: Likes count.
                          pic_ids:
                            type: array
                            items:
                              type: string
                          pic_num:
                            type: integer
                  tags:
                    type: array
                    items:
                      type: string
                  favorited_time:
                    type: string
                    description: Timestamp when bookmarked.
  /ajax/statuses/cancelLike:
    post:
      operationId: unlikePost
      summary: Unlike a post — reverses likePost (setLike)
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: weibo0015
          tool_version: 2
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: Post ID (mid) to unlike.
      responses:
        "200":
          description: Unlike result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
  /ajax/friendships/destory:
    post:
      operationId: unfollowUser
      summary: Unfollow a user — reverses followUser (friendships/create). Note upstream typo "destory".
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: weibo0016
          tool_version: 2
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - uid
              properties:
                uid:
                  type: string
                  description: User ID (numeric) to unfollow.
      responses:
        "200":
          description: Unfollowed user confirmation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
  /ajax/statuses/destoryFavorites:
    post:
      operationId: unbookmarkPost
      summary: Remove bookmark — reverses bookmarkPost (createFavorites). Note upstream typo "destory".
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: weibo0017
          tool_version: 2
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: Post ID (mid) to unbookmark.
      responses:
        "200":
          description: Unbookmark result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
