openapi: 3.1.0
info:
  title: instagram
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T18:40:46.351Z
    requires_auth: true
servers:
  - url: https://www.instagram.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: csrftoken
        header: x-csrftoken
paths:
  /logging_client_events:
    post:
      operationId: createLoggingClientEvents
      summary: Create logging client events
      x-openweb:
        permission: write
        build:
          stable_id: ba1b31f2081edb4e
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  checksum:
                    type: string
                    enum:
                      - ""
                  config:
                    type: string
                    enum:
                      - ""
                  config_owner_id:
                    type: string
                    enum:
                      - ""
                  app_data:
                    type: string
                    enum:
                      - "{}"
                  qpl_version:
                    type: string
                    enum:
                      - ""
                  client_debug_config:
                    type: string
                    enum:
                      - ""
                required:
                  - checksum
                  - config
                  - config_owner_id
                  - app_data
                  - qpl_version
                  - client_debug_config
      servers:
        - url: https://graph.instagram.com
  /:
    get:
      operationId: get
      summary: Get
      x-openweb:
        permission: read
        build:
          stable_id: a83abdd78194d2fe
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            text/html; charset="utf-8":
              schema:
                type: object
  /ajax/bootloader-endpoint/:
    get:
      operationId: getAjaxBootloaderEndpoint
      summary: Get ajax bootloader-endpoint
      x-openweb:
        permission: read
        build:
          stable_id: 04b79ed0e52d2375
          tool_version: 2
      parameters:
        - name: __a
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __ccg
          in: query
          required: true
          schema:
            type: string
          example: EXCELLENT
        - name: __comet_req
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __crn
          in: query
          required: true
          schema:
            type: string
          example: comet.igweb.PolarisProfilePostsTabRoute
        - name: __csr
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: __d
          in: query
          required: true
          schema:
            type: string
          example: www
        - name: __dyn
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: __hblp
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: __hs
          in: query
          required: true
          schema:
            type: string
          example: 20540.HYP:instagram_web_pkg.2.1...0
        - name: __hsdp
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: __hsi
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __req
          in: query
          required: true
          schema:
            type: string
          example: p
        - name: __rev
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __s
          in: query
          required: true
          schema:
            type: string
          example: x00roc:lup64r:yd9gzb
        - name: __sjsp
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: __spin_b
          in: query
          required: true
          schema:
            type: string
          example: trunk
        - name: __spin_r
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __spin_t
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __user
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: dpr
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: fb_dtsg_ag
          in: query
          required: true
          schema:
            type: string
          example: Ad1oUFOaBpAimLXJeiZnWVAlUF-b12iniq3eGdoJSd7wsJM9:17853599968089360:1774582395
        - name: jazoest
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: modules
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          example:
            - <EXAMPLE_ID>
            - <EXAMPLE_ID>
            - <REDACTED_TOKEN>
            - <EXAMPLE_ID>
            - LSSetBotResponseInfo
            - LSSetHMPSStatus
            - LSThreadsRangesQuery
            - <REDACTED_TOKEN>
        - name: nb_modules
          in: query
          required: false
          schema:
            type: string
          example: <REDACTED_TOKEN>
      responses:
        "200":
          description: Success.
          content:
            text/javascript; charset=utf-8:
              schema:
                type: object
  /ajax/bulk-route-definitions/:
    post:
      operationId: createAjaxBulkRouteDefinitions
      summary: Create ajax bulk-route-definitions
      x-openweb:
        permission: write
        build:
          stable_id: ba06d57761ced250
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            text/javascript; charset=utf-8:
              schema:
                type: object
  /ajax/bz:
    post:
      operationId: createAjaxBz
      summary: Create ajax bz
      x-openweb:
        permission: write
        build:
          stable_id: 43dc6e32bf6623d9
          tool_version: 2
      parameters:
        - name: __a
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __ccg
          in: query
          required: true
          schema:
            type: string
          example: EXCELLENT
        - name: __comet_req
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __crn
          in: query
          required: true
          schema:
            type: string
          example: comet.igweb.PolarisExploreRoute
        - name: __d
          in: query
          required: true
          schema:
            type: string
          example: www
        - name: __hs
          in: query
          required: true
          schema:
            type: string
          example: 20540.HYP:instagram_web_pkg.2.1...0
        - name: __hsi
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __req
          in: query
          required: true
          schema:
            type: string
          example: 1
        - name: __rev
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __s
          in: query
          required: true
          schema:
            type: string
          example: x00roc:lup64r:b4psmj
        - name: __spin_b
          in: query
          required: true
          schema:
            type: string
          example: trunk
        - name: __spin_r
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __spin_t
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __user
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: dpr
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: fb_dtsg
          in: query
          required: true
          schema:
            type: string
          example: NAfvTob9sfvmywSPzK8RK8Qs0MwFat4TmXSfdbrnSJ-5J9pvHROMYnw:17853599968089360:1774582395
        - name: jazoest
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: lsd
          in: query
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: ph
          in: query
          required: true
          schema:
            type: string
          example: C3
      responses:
        "200":
          description: Success.
          content:
            application/x-javascript; charset=utf-8:
              schema:
                type: object
  /ajax/qm/:
    post:
      operationId: createAjaxQm
      summary: Create ajax qm
      x-openweb:
        permission: write
        build:
          stable_id: 15f71e8fad90e5f8
          tool_version: 2
      parameters:
        - name: __a
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __comet_req
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: __user
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: jazoest
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/x-javascript; charset=utf-8:
              schema:
                type: object
  /api/graphql:
    post:
      operationId: create
      summary: Create
      x-openweb:
        permission: write
        build:
          stable_id: 9bc4b316d02b749b
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            text/javascript; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      get_slide_mailbox_for_iris_subscription:
                        type: object
                        properties:
                          iris_inactive_subscription_uq_seq_id:
                            type: string
                            enum:
                              - "5922"
                              - "5923"
                              - "5924"
                              - "5925"
                              - "5926"
                          threads_by_folder:
                            type: object
                            properties:
                              edges:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    node:
                                      type: object
                                      properties:
                                        as_ig_direct_thread:
                                          type: object
                                          properties:
                                            marked_as_unread:
                                              type: boolean
                                            last_activity_timestamp_ms:
                                              type: string
                                              enum:
                                                - "1670564915922"
                                                - "1749937508946"
                                                - "1774649192631"
                                            slide_read_receipts:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  participant_fbid:
                                                    type: string
                                                    enum:
                                                      - "101267314608064"
                                                      - "109810453752845"
                                                  watermark_timestamp_ms:
                                                    type: string
                                                    enum:
                                                      - "1670564915923"
                                                      - "1749937517956"
                                                      - "1773718727930"
                                                      - "1773718727931"
                                                required:
                                                  - participant_fbid
                                                  - watermark_timestamp_ms
                                            id:
                                              type: string
                                              enum:
                                                - "1055153722551842"
                                                - "1503042994429577"
                                                - "1604307704304010"
                                          required:
                                            - marked_as_unread
                                            - last_activity_timestamp_ms
                                            - slide_read_receipts
                                            - id
                                        id:
                                          type: string
                                          enum:
                                            - "1055153722551842"
                                            - "1503042994429577"
                                            - "1604307704304010"
                                        __typename:
                                          type: string
                                          enum:
                                            - SlideThread
                                      required:
                                        - as_ig_direct_thread
                                        - id
                                        - __typename
                                    cursor:
                                      type: string
                                  required:
                                    - node
                                    - cursor
                              page_info:
                                type: object
                                properties:
                                  end_cursor:
                                    type: string
                                    enum:
                                      - AQHSM0TbN7IQfUPdubX4lUQFGMR4NSwSGYiv4rSGPPE-XAe5alSVLgYsHy8bE_DTpmxhKndexSLNJPO0ix5vEsbBI8bpqWSRfgGjLIRIFkgXr2XULk8UkfLFwqpAs8N8Ropu
                                  has_next_page:
                                    type: boolean
                                required:
                                  - end_cursor
                                  - has_next_page
                            required:
                              - edges
                              - page_info
                          id:
                            type: string
                            enum:
                              - "109810453752845"
                        required:
                          - iris_inactive_subscription_uq_seq_id
                          - threads_by_folder
                          - id
                      ig_quick_promotion_batch_fetch_root:
                        type: array
                        items:
                          type: object
                          properties:
                            surface_nux_id:
                              type: string
                              enum:
                                - INSTAGRAM_FOR_WEB_INTERSTITIAL_QP
                                - INSTAGRAM_FOR_WEB_LOGIN_INTERSTITIAL_QP
                                - INSTAGRAM_FOR_WEB_TOOLTIP_QP
                                - INSTAGRAM_WEB_MEGAPHONE
                            eligible_promotions:
                              type: object
                              properties:
                                edges:
                                  type: array
                                  items:
                                    type: object
                              required:
                                - edges
                          required:
                            - surface_nux_id
                            - eligible_promotions
                    required: []
                  extensions:
                    type: object
                    properties:
                      server_metadata:
                        type: object
                        properties:
                          request_start_time_ms:
                            type: integer
                          time_at_flush_ms:
                            type: integer
                        required:
                          - request_start_time_ms
                          - time_at_flush_ms
                      is_final:
                        type: boolean
                    required:
                      - server_metadata
                      - is_final
                required:
                  - data
                  - extensions
  /api/graphql/:
    post:
      operationId: create_2
      summary: Create
      x-openweb:
        permission: write
        build:
          stable_id: d776a2af56118a28
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            text/javascript; charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lightspeed_web_request_for_igd:
                        type: object
                        properties:
                          payload:
                            type: string
                            enum:
                              - "{\"name\":null,\"step\":[1,[1,[4,0,1,[5,\"exec\
                                uteFirstBlockForSyncTransaction\",[19,\"1\"],[1\
                                9,\"0\"],[9],\"HCwRVpqw09umZwAAFsxcFvij7b0NEwUW\
                                mrC10ef3MQA\",[19,\"2\"],false,[19,\"0\"],false\
                                ,[19,\"1\"],[9]]],[23,[2,0],[1,[1,[5,\"truncate\
                                TablesForSyncGroup\",[19,\"1\"]]],[1,[5,\"delet\
                                eThenInsertThread\",[19,\"1774649192631\"],[19,\
                                \"1773718727930\"],\"yue sent an
                                attachment.\",[9],\"https:\\/\\/scontent-iad3-1\
                                .cdninstagram.com\\/v\\/t51.2885-19\\/412400465\
                                _3485210438397963_5334886948660529170_n.jpg?stp\
                                =dst-jpg_s100x100_tt6&_nc_cat=101&ccb=7-5&_nc_s\
                                id=bf7eb4&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfc\
                                GljLnd3dy4xMDgwLkMzIn0\\u00253D&_nc_ohc=EEPgLAU\
                                XVUoQ7kNvwGNhkpG&_nc_oc=AdpTJwjitW4_yoFGndn2Mn9\
                                g6IGAR4VWuaXB-2lkJ-3HsFH9kShYIfGeKNyc3JhitAVx_4\
                                hTaPUe3Ij5hfAXgAcf&_nc_zt=24&_nc_ht=scontent-ia\
                                d3-1.cdninstagram.com&_nc_ss=7a32e&oh=00_AfzDEb\
                                QW6yT8DJzBVYG0-2GKOdQTGhsHcYI5VgezyOiisQ&oe=69C\
                                E0CA8\",[9],[19,\"80\"],[19,\"101267314608064\"\
                                ],[19,\"0\"],[19,\"1\"],\"inbox\",\"\\/messaging\
                                \\/lightspeed\\/media_fallback\\/?entity_id=101\
                                267314608064&entity_type=10&width=100&height=10\
                                0&efg=eyJkdHciOiIifQ\\u00253D\\u00253D\",[19,\"\
                                1775111336\"],[19,\"0\"],[19,\"0\"],[19,\"0\"],\
                                [9],false,[19,\"101267314608064\"],[9],[9],[9],\
                                [9],[9],[9],[9],[9],[9],[19,\"0\"],[19,\"0\"],[\
                                9],[9],[9],[9],[19,\"611878928211423\"],[19,\"0\
                                \"],\"rita_chuii \\u00b7
                                Instagram\",[19,\"0\"],[9],[9],[9],[9],false,fa\
                                lse,false,[19,\"0\"],[9],[9],[9],[19,\"0\"],[9]\
                                ,[19,\"0\"],false,[9],[9],[9],[9],false,[9],[19,\
                                \"0\"],[9],[19,\"0\"],[9],[19,\"1604307704304010\
                                \"],[9],[19,\"-1\"],[19,\"1\"],[19,\"0\"],[9],[\
                                19,\"0\"],[9],[19,\"0\"],[9],[9],[9],[9],[9],[1\
                                9,\"2\"],[9],[9],[19,\"0\"],[19,\"1098104537528\
                                45\"],[19,\"4099\"],[19,\"0\"],[9],[19,\"1003\"\
                                ],[9],\"{\\\"eb_message_timestamp_type\\\":[{\\\
                                \"timestamp_status\\\":0}],\\\"should_see_ackno\
                                wledge_marketing_message_banner\\\":false,\\\"a\
                                ll_locales_match\\\":true,\\\"hide_aggregate_un\
                                read_snippet_message_count\\\":false,\\\"is_typ\
                                ing_indicator_disabled\\\":0,\\\"theme_fbid\\\":\
                                \\\"611878928211423\\\"}\",[19,\"0\"],[19,\"1\"\
                                ]]],[1,[5,\"addParticipantIdToGroupThread\",[19,\
                                \"101267314608064\"],[19,\"101267314608064\"],[\
                                19,\"1773718727931\"],[19,\"1773724014201\"],[1\
                                9,\"0\"],[9],false,[9],[19,\"0\"],[19,\"80\"],[\
                                9],[19,\"0\"],false,[9],[19,\"0\"]]],[1,[5,\"ad\
                                dParticipantIdToGroupThread\",[19,\"10126731460\
                                8064\"],[19,\"109810453752845\"],[19,\"0\"],[19,\
                                \"0\"],[19,\"0\"],[9],false,[9],[19,\"0\"],[19,\
                                \"80\"],[9],[19,\"0\"],false,[9],[19,\"0\"]]],[\
                                1,[5,\"clearPinnedMessages\",[19,\"101267314608\
                                064\"]]],[1,[3,1,[19,\"990799672649897982\"]],[\
                                3,2,[19,\"5050119305847464961\"]],[3,3,[19,\"72\
                                127997714367490\"]],[3,4,[19,\"4303355920\"]],[\
                                3,5,[19,\"603632718068056064\"]],[5,\"writeThre\
                                adCapabilities\",[19,\"101267314608064\"],[2,1]\
                                ,[2,2],[2,3],[2,4],[2,5]]],[1,[5,\"deleteThenIn\
                                sertIgThreadInfo\",[19,\"101267314608064\"],\"3\
                                40282366841710301244259779325281390986\",[19,\"0\
                                \"],[19,\"-1\"],[19,\"109810453752845\"],[19,\"\
                                1761100248762\"],[19,\"17841401683910041\"]]],[\
                                1,[5,\"deleteThenInsertThread\",[19,\"174993750\
                                8946\"],[19,\"1749937517956\"],\"Here's a simple
                                example of how to use the FFT function in
                                MATLAB:\\n\\n\\u0025 Generate a sample
                                signal\\nfs = 1000;  \\u0025 Sampling
                                frequency\\nt = 0:1\\/fs:1-1\\/fs;  \\u0025 Time
                                vector\\nf1 = 50;  \\u0025 Frequency of the
                                signal\\nf2 = 120;  \\u0025 Frequency of the
                                second signal component\\nx = sin(2*pi*f1*t) +
                                0.5*sin(2*pi*f2*t);  \\u0025 Signal\\n\\n\\u0025
                                Perform FFT\\nn = length(x);  \\u0025 Number of
                                samples\\nX = fft(x);  \\u0025 FFT of the
                                signal\\n\\n\\u0025 Calculate frequencies
                                corresponding to FFT components\\nfreq =
                                (0:n-1)*(fs\\/n);\\n\\n\\u0025 Plot the signal
                                and its
                                FFT\\nfigure;\\nsubplot(2,1,1);\\nplot(t,
                                x);\\nxlabel('Time
                                (s)');\\nylabel('Amplitude');\\ntitle('Time
                                Domain
                                Signal');\\n\\nsubplot(2,1,2);\\nplot(freq,
                                abs(X));\\nxlabel('Frequency
                                (Hz)');\\nylabel('Magnitude');\\ntitle('Frequen\
                                cy Domain Signal');\\n\\n\\u0025 To plot only
                                the first half of the FFT (positive
                                frequencies)\\nfigure;\\nplot(freq(1:n\\/2+1),
                                abs(X(1:n\\/2+1)));\\nxlabel('Frequency
                                (Hz)');\\nylabel('Magnitude');\\ntitle('Positive
                                Frequencies');\\n\\n\\nThis code generates a
                                signal with two frequency components, performs
                                an FFT on it, and plots the signal in both time
                                and frequency domains. The last plot shows only
                                the positive frequencies, which is often more
                                convenient for analyzing real-valued
                                signals.\",[9],\"https:\\/\\/scontent-iad6-1.xx\
                                .fbcdn.net\\/m1\\/v\\/t0.65075-6\\/An_TR5ven0O9\
                                Qqe2LrXDME7cGYBM1AuEM1pT9Z2c0np7hX4RyerxP8qRYmd\
                                RldXV-RgjCl94hAOHE71bzws6EY3tXcyifumH9jJ6Xin9gl\
                                vYsZFNYnY?stp=s870x1160&ccb=10-5&oh=00_Afy5ulOZ\
                                5pXOy_iHGoEwMBi8j2TkOe5y-KdjoikV5exqnQ&oe=69EF9\
                                D64&_nc_sid=e3bc14\",[9],[19,\"80\"],[19,\"6561\
                                75869434325\"],[19,\"0\"],[19,\"201\"],\"inbox\
                                \",\"\\/messaging\\/lightspeed\\/media_fallback\
                                \\/?entity_id=656175869434325&entity_type=10&wi\
                                dth=100&height=100&efg=eyJkdHciOiIifQ\\u00253D\
                                \\u00253D\",[19,\"1777311076\"],[19,\"0\"],[19,\
                                \"0\"],[19,\"0\"],[9],false,[19,\"6561758694343\
                                25\"],[9],[9],[9],[9],[9],[9],[9],[9],[9],[19,\
                                \"0\"],[19,\"0\"],[9],[9],[9],[9],[19,\"7788063\
                                43773351\"],[19,\"0\"],\"AI\",[19,\"0\"],\"Mess\
                                ages are generated by AI. Some may be inaccurate
                                or
                                inappropriate.\",[19,\"1\"],[9],[9],false,false\
                                ,false,[19,\"0\"],[9],[9],[9],[19,\"0\"],[9],[1\
                                9,\"0\"],false,[9],[9],[9],[9],false,[9],[19,\"0\
                                \"],[9],[19,\"0\"],[9],[19,\"1503042994429577\"\
                                ],[9],[19,\"-1\"],[19,\"1\"],[19,\"0\"],[9],[19,\
                                \"0\"],[9],[19,\"0\"],[9],[9],[9],[9],[9],[19,\
                                \"2\"],[9],[9],[19,\"0\"],[19,\"109810453752845\
                                \"],[19,\"4107\"],[19,\"0\"],[9],[19,\"1012\"],\
                                [9],\"{\\\"eb_message_timestamp_type\\\":[{\\\"\
                                timestamp_status\\\":0}],\\\"should_see_acknowl\
                                edge_marketing_message_banner\\\":false,\\\"all\
                                _locales_match\\\":true,\\\"hide_aggregate_unre\
                                ad_snippet_message_count\\\":false,\\\"is_typin\
                                g_indicator_disabled\\\":0,\\\"theme_fbid\\\":\\\
                                \"778806343773351\\\"}\",[19,\"0\"],[19,\"0\"]]\
                                ],[1,[5,\"addParticipantIdToGroupThread\",[19,\
                                \"656175869434325\"],[19,\"656175869434325\"],[\
                                19,\"0\"],[19,\"0\"],[19,\"0\"],[9],false,[9],[\
                                19,\"0\"],[19,\"80\"],[9],[19,\"0\"],false,[9],\
                                [19,\"0\"]]],[1,[5,\"addParticipantIdToGroupThr\
                                ead\",[19,\"656175869434325\"],[19,\"1098104537\
                                52845\"],[19,\"0\"],[19,\"0\"],[19,\"0\"],[9],f\
                                alse,[9],[19,\"0\"],[19,\"80\"],[9],[19,\"0\"],\
                                false,[9],[19,\"0\"]]],[1,[5,\"clearPinnedMessa\
                                ges\",[19,\"656175869434325\"]]],[1,[3,1,[19,\"\
                                1152928118900260864\"]],[3,2,[19,\"288266387338\
                                568705\"]],[3,3,[19,\"653021945968721922\"]],[3\
                                ,4,[19,\"19175482788413440\"]],[3,5,[19,\"64\"]\
                                ],[5,\"writeThreadCapabilities\",[19,\"65617586\
                                9434325\"],[2,1],[2,2],[2,3],[2,4],[2,5]]],[1,[\
                                5,\"deleteThenInsertIgThreadInfo\",[19,\"656175\
                                869434325\"],\"34028236684171030124425967806057\
                                1516553\",[19,\"0\"],[19,\"0\"],[9],[9],[19,\"1\
                                7841464488866084\"]]],[1,[5,\"deleteThenInsertM\
                                essageRequest\",[19,\"656175869434325\"],[19,\"0\
                                \"],[19,\"2\"]]],[1,[5,\"deleteThenInsertThread\
                                \",[19,\"1670564915922\"],[19,\"1670564915923\"\
                                ],\"\\u4f60\\u597d\\u89aa\\uff0c\\u9810\\u5b9a\
                                \\u86cb\\u7cd5\\u9700\\u8981\\u63d0\\u524d\\u4e\
                                00\\u500b\\u6708\\u4ee5\\u4e0a\\u54e6\",[9],\"h\
                                ttps:\\/\\/scontent-iad6-1.cdninstagram.com\\/v\
                                \\/t51.2885-19\\/70120235_453002548898410_67954\
                                1569430224896_n.jpg?stp=dst-jpg_s100x100_tt6&_n\
                                c_cat=107&ccb=7-5&_nc_sid=bf7eb4&efg=eyJ2ZW5jb2\
                                RlX3RhZyI6InByb2ZpbGVfcGljLnd3dy4xMDgwLkMzIn0\\\
                                u00253D&_nc_ohc=K8urpdYOt8IQ7kNvwHU9xsL&_nc_oc=\
                                Adr6OWAXFpPQUdBsodCSQaaVDHkvU_9zcuvEsBoDCe_4ekU\
                                agF5LpyytPCe51T-u5W-Ckm1FefKDi4igUsvBr3EJ&_nc_z\
                                t=24&_nc_ht=scontent-iad6-1.cdninstagram.com&_n\
                                c_ss=7a32e&oh=00_AfwRl36cPhILl6Lvm_83ZXMpQpR-lI\
                                uJYf0w-iXaAaVxxQ&oe=69CDE2E0\",[9],[19,\"80\"],\
                                [19,\"113198413399959\"],[19,\"0\"],[19,\"1\"],\
                                \"inbox\",\"\\/messaging\\/lightspeed\\/media_f\
                                allback\\/?entity_id=113198413399959&entity_typ\
                                e=10&width=100&height=100&efg=eyJkdHciOiIifQ\\u\
                                00253D\\u00253D\",[19,\"1775100640\"],[19,\"0\"\
                                ],[19,\"0\"],[19,\"0\"],[9],false,[19,\"1131984\
                                13399959\"],[9],[9],[9],[9],[9],[9],[9],[9],[9]\
                                ,[19,\"0\"],[19,\"0\"],[9],[9],[9],[9],[19,\"32\
                                59963564026002\"],[19,\"0\"],\"lessismorecakery
                                \\u00b7
                                Instagram\",[19,\"0\"],[9],[9],[9],[9],false,fa\
                                lse,false,[19,\"0\"],[9],[9],[9],[19,\"0\"],[9]\
                                ,[19,\"0\"],false,[9],[9],[9],[9],false,[9],[19,\
                                \"0\"],[9],[19,\"0\"],[9],[19,\"1055153722551842\
                                \"],[9],[19,\"-1\"],[19,\"1\"],[19,\"0\"],[9],[\
                                19,\"0\"],[9],[19,\"0\"],[9],[9],[9],[9],[9],[1\
                                9,\"2\"],[9],[9],[19,\"0\"],[19,\"1098104537528\
                                45\"],[19,\"4099\"],[19,\"0\"],[9],[19,\"1016\"\
                                ],[9],\"{\\\"eb_message_timestamp_type\\\":[{\\\
                                \"timestamp_status\\\":0}],\\\"should_see_ackno\
                                wledge_marketing_message_banner\\\":false,\\\"a\
                                ll_locales_match\\\":true,\\\"hide_aggregate_un\
                                read_snippet_message_count\\\":false,\\\"is_typ\
                                ing_indicator_disabled\\\":0,\\\"theme_fbid\\\":\
                                \\\"3259963564026002\\\"}\",[19,\"0\"],[19,\"0\
                                \"]]],[1,[5,\"addParticipantIdToGroupThread\",[\
                                19,\"113198413399959\"],[19,\"113198413399959\"\
                                ],[19,\"0\"],[19,\"0\"],[19,\"0\"],[9],false,[9\
                                ],[19,\"0\"],[19,\"80\"],[9],[19,\"0\"],false,[\
                                9],[19,\"0\"]]],[1,[5,\"addParticipantIdToGroup\
                                Thread\",[19,\"113198413399959\"],[19,\"1098104\
                                53752845\"],[19,\"0\"],[19,\"0\"],[19,\"0\"],[9\
                                ],false,[9],[19,\"0\"],[19,\"80\"],[9],[19,\"0\
                                \"],false,[9],[19,\"0\"]]],[1,[5,\"clearPinnedM\
                                essages\",[19,\"113198413399959\"]]],[1,[3,1,[1\
                                9,\"919126851797042206\"]],[3,2,[19,\"130264858\
                                8346369\"]],[3,3,[19,\"72057628970189824\"]],[3\
                                ,4,[19,\"4303355920\"]],[3,5,[19,\"603632718068\
                                056064\"]],[5,\"writeThreadCapabilities\",[19,\
                                \"113198413399959\"],[2,1],[2,2],[2,3],[2,4],[2\
                                ,5]]],[1,[5,\"deleteThenInsertIgThreadInfo\",[1\
                                9,\"113198413399959\"],\"3402823668417103012442\
                                59230171299638818\",[19,\"0\"],[19,\"0\"],[9],[\
                                9],[19,\"17841405544870420\"]]],[1,[5,\"deleteT\
                                henInsertMessageRequest\",[19,\"113198413399959\
                                \"],[19,\"0\"],[19,\"1\"]]],[1,[5,\"upsertSyncG\
                                roupThreadsRange\",[19,\"1\"],[19,\"0\"],[19,\"1\
                                \"],false,false,[19,\"-9223372036854775808\"]]]\
                                ,[1,[5,\"upsertInboxThreadsRange\",[19,\"1\"],[\
                                19,\"1\"],false,false,[19,\"-9223372036854775808\
                                \"]]],[1,[5,\"updateThreadsRangesV2\",\"inbox\"\
                                ,[19,\"0\"],[19,\"1\"],[19,\"-92233720368547758\
                                08\"],[19,\"1\"]]],[1,[5,\"upsertMessage\",[9],\
                                [9],[19,\"80\"],[19,\"101267314608064\"],[19,\"0\
                                \"],[19,\"1774649192631\"],[19,\"1774649192631\
                                \"],[9],\"mid.$cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",\
                                \"7443418205653380044\",[19,\"101267314608064\"\
                                ],[9],false,[19,\"0\"],[19,\"0\"],[19,\"2\"],[1\
                                9,\"2\"],false,[9],[9],[9],[9],[9],[9],[9],[9],\
                                [9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9]\
                                ,[9],[9],[9],[9],[9],false,[9],false,[9],[9],[9\
                                ],[19,\"3\"],false,[19,\"0\"],[19,\"1\"],[9],[9\
                                ],[19,\"0\"],[9],[9],\"feed_timeline\",[9],[9],\
                                [9],[9],[9],false,[9],[9],[9],[19,\"0\"],[9],[1\
                                9,\"0\"],[9],[9],[9],[19,\"0\"],[9],[9],[9],[9]\
                                ,[9],[9],[9]]],[1,[5,\"updateReadReceipt\",[19,\
                                \"1774649192631\"],[19,\"101267314608064\"],[19,\
                                \"101267314608064\"],[19,\"0\"]]],[1,[5,\"inser\
                                tXmaAttachment\",[9],[9],[19,\"0\"],false,[9],[\
                                9],[9],\"video\\/mp4\",\"https:\\/\\/scontent-i\
                                ad6-1.cdninstagram.com\\/v\\/t51.82787-15\\/656\
                                150898_17863698255609086_389128788968105760_n.j\
                                pg?stp=dst-jpg_e35_s480x360_tt6&_nc_cat=1&ccb=7\
                                -5&_nc_sid=18de74&efg=eyJlZmciOiJDTElQUy5pZ19za\
                                GltX3JlYWQuNDgweDM2MC5DMyJ9&_nc_ohc=oijcZhFTaD0\
                                Q7kNvwFYVBFd&_nc_oc=AdqjQKBhq28dD5aw2PP5YuElF4O\
                                fNWylfU-VZODGPgybm3X-eFXxP-AXNj8KURg3CVZocUSF3l\
                                SuD2L_oAMDchdi&_nc_zt=23&_nc_ht=scontent-iad6-1\
                                .cdninstagram.com&_nc_gid=DCVN-MImGj6F4sU5Twe89\
                                Q&_nc_ss=7a32e&oh=00_AfxIN_hU09ZMjzVoinMToPlN39\
                                MNYJDG1XcQm_2ImvH2Tg&oe=69CDED1D&ig_cache_key=M\
                                zg1OTcxMTQ5NTk1MzI3MjM3MA\\u00253D\\u00253D.2-c\
                                cb7-5\",\"https:\\/\\/i.instagram.com\\/api\\/v1\
                                \\/direct_v2\\/media_fallback\\/?entity_id=1796\
                                6528916020665&entity_type=13\",[19,\"1775103261\
                                000\"],\"image\\/jpeg\",[9],[19,\"480\"],[19,\"\
                                360\"],[9],[9],[9],[9],[9],[19,\"0\"],[9],[9],[\
                                9],[9],[19,\"101267314608064\"],[19,\"0\"],[19,\
                                \"7\"],\"\",[19,\"1774649192631\"],\"mid.$cAAA_\
                                xR9GK82jYpr4t2dMVWvOpSvM\",[9],\"ee.mid.$cAAA_x\
                                R9GK82jYpr4t2dMVWvOpSvM\",[19,\"4\"],[19,\"0\"]\
                                ,[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9\
                                ],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[\
                                9],[9],[9],[19,\"2\"],[9],[9],[9],[9],[9],[9],[\
                                19,\"0\"],[9],[9],[9],[9],[9],[9],[9],[9],[9],[\
                                9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],\
                                [9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],\
                                \"weirdapple666\",[9],\"https:\\/\\/scontent-ia\
                                d6-1.cdninstagram.com\\/v\\/t51.82787-19\\/6542\
                                80035_17862541968609086_392308793299333571_n.jp\
                                g?stp=cp0_dst-jpg_s50x50_tt6&_nc_cat=1&ccb=7-5&\
                                _nc_sid=bf7eb4&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2Zp\
                                bGVfcGljLnd3dy4xMDgwLkMzIn0\\u00253D&_nc_ohc=6L\
                                9FFi6ViXQQ7kNvwFs_TaS&_nc_oc=Adpoaks9Bh-r8Q4ZZP\
                                -sjRXZ7s9cQ_NBbsTzLdCw7tdKg0BcVQv-WPbjwnRy2OrvW\
                                LWRu7Eu-XMba7-CJvC3j1zX&_nc_zt=24&_nc_ht=sconte\
                                nt-iad6-1.cdninstagram.com&_nc_gid=DCVN-MImGj6F\
                                4sU5Twe89Q&_nc_ss=7a32e&oh=00_AfxhjvrmKmz8asQJ6\
                                co2G0tBaIfWMGUXUbXXWZSof6koAg&oe=69CE045C\",\"h\
                                ttps:\\/\\/i.instagram.com\\/api\\/v1\\/direct_\
                                v2\\/media_fallback\\/?entity_id=17841478272574\
                                271&entity_type=1\",[19,\"1775109212000\"],[19,\
                                \"8\"],true,[19,\"17966528916020665\"],\"generi\
                                c_share\",\"generic_share\",[9],[9],\"https:\\/\
                                \\/scontent-iad6-1.cdninstagram.com\\/v\\/t51.8\
                                2787-15\\/656150898_17863698255609086_389128788\
                                968105760_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=1&c\
                                cb=7-5&_nc_sid=18de74&efg=eyJlZmdfdGFnIjoiQ0xJU\
                                FMuYmVzdF9pbWFnZV91cmxnZW4uQzMifQ\\u00253D\\u00\
                                253D&_nc_ohc=oijcZhFTaD0Q7kNvwFYVBFd&_nc_oc=Adq\
                                jQKBhq28dD5aw2PP5YuElF4OfNWylfU-VZODGPgybm3X-eF\
                                XxP-AXNj8KURg3CVZocUSF3lSuD2L_oAMDchdi&_nc_zt=2\
                                3&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_g\
                                id=DCVN-MImGj6F4sU5Twe89Q&_nc_ss=7a32e&oh=00_Af\
                                xcEYYQBSr2S6lVhFjfKt-0-vZDJI7DQBt0Fz9gFcUHug&oe\
                                =69CDED1D\",[9],[9],[9],[9],[9],[9],[9],[19,\"0\
                                \"],\"\\ud83c\\uddef\\ud83c\\uddf5
                                \\u0647\\u0644 \\u062a\\u0637\\u0623
                                \\u0627\\u0644\\u0623\\u0631\\u0636
                                \\u0648\\u062a\\u0633\\u0627\\u0639\\u062f
                                \\u0641\\u064a
                                \\u062a\\u0648\\u0644\\u064a\\u062f
                                \\u0627\\u0644\\u0637\\u0627\\u0642\\u0629
                                \\u0641\\u064a \\u0646\\u0641\\u0633
                                \\u0627\\u0644\\u0648\\u0642\\u062a\\u061f\\n\\\
                                u0641\\u064a
                                \\u0627\\u0644\\u0623\\u0645\\u0627\\u0643\\u06\
                                46
                                \\u0627\\u0644\\u0645\\u0632\\u062f\\u062d\\u06\
                                45\\u0629 \\u0641\\u064a
                                \\u0627\\u0644\\u064a\\u0627\\u0628\\u0627\\u06\
                                46\\u060c \\u062a\\u0645
                                \\u062a\\u0631\\u0643\\u064a\\u0628
                                \\u0623\\u0631\\u0636\\u064a\\u0627\\u062a
                                \\u0630\\u0643\\u064a\\u0629
                                \\u062a\\u0642\\u0648\\u0645
                                \\u0628\\u062a\\u062d\\u0648\\u064a\\u0644
                                \\u062a\\u0623\\u062b\\u064a\\u0631
                                \\u062e\\u0637\\u0648\\u0627\\u062a
                                \\u0627\\u0644\\u0646\\u0627\\u0633
                                \\u0625\\u0644\\u0649
                                \\u0643\\u0647\\u0631\\u0628\\u0627\\u0621.
                                \\u0639\\u0646\\u062f
                                \\u0627\\u0644\\u0645\\u0634\\u064a\\u060c
                                \\u064a\\u0642\\u0648\\u0645
                                \\u0627\\u0644\\u0636\\u063a\\u0637
                                \\u0627\\u0644\\u0646\\u0627\\u062a\\u062c
                                \\u0639\\u0646
                                \\u0627\\u0644\\u062e\\u0637\\u0648\\u0627\\u06\
                                2a \\u0628\\u062a\\u0641\\u0639\\u064a\\u0644
                                \\u0646\\u0638\\u0627\\u0645
                                \\u062f\\u0627\\u062e\\u0644\\u064a
                                \\u0642\\u0627\\u062f\\u0631
                                \\u0639\\u0644\\u0649
                                \\u062a\\u062d\\u0648\\u064a\\u0644
                                \\u0647\\u0630\\u0647
                                \\u0627\\u0644\\u062d\\u0631\\u0643\\u0629
                                \\u0625\\u0644\\u0649
                                \\u0637\\u0627\\u0642\\u0629.\\n\\u0641\\u064a
                                \\u0645\\u0646\\u0627\\u0637\\u0642
                                \\u0645\\u062b\\u0644
                                \\u0634\\u064a\\u0628\\u0648\\u064a\\u0627\\u06\
                                0c \\u0627\\u0644\\u062a\\u064a
                                \\u064a\\u0645\\u0631 \\u0628\\u0647\\u0627
                                \\u0639\\u062f\\u062f
                                \\u0643\\u0628\\u064a\\u0631 \\u0645\\u0646
                                \\u0627\\u0644\\u0646\\u0627\\u0633
                                \\u064a\\u0648\\u0645\\u064a\\u064b\\u0627\\u06\
                                0c
                                \\u0627\\u0633\\u062a\\u064f\\u062e\\u062f\\u06\
                                45\\u062a \\u0647\\u0630\\u0647
                                \\u0627\\u0644\\u062a\\u0643\\u0646\\u0648\\u06\
                                44\\u0648\\u062c\\u064a\\u0627
                                \\u0628\\u0627\\u0644\\u0641\\u0639\\u0644
                                \\u0644\\u062a\\u0634\\u063a\\u064a\\u0644
                                \\u0625\\u0636\\u0627\\u0621\\u0629 LED
                                \\u0648\\u0644\\u0648\\u062d\\u0627\\u062a
                                \\u0627\\u0644\\u0645\\u0639\\u0644\\u0648\\u06\
                                45\\u0627\\u062a
                                \\u0648\\u0623\\u062c\\u0647\\u0632\\u0629
                                \\u0627\\u0644\\u0627\\u0633\\u062a\\u0634\\u06\
                                39\\u0627\\u0631.\\n\\u0641\\u0643\\u0631\\u0629
                                \\u0645\\u0628\\u062a\\u0643\\u0631\\u0629
                                \\u062a\\u0633\\u062a\\u0641\\u064a\\u062f
                                \\u0645\\u0646 \\u062d\\u0631\\u0643\\u0629
                                \\u0627\\u0644\\u0646\\u0627\\u0633
                                \\u0641\\u064a
                                \\u0627\\u0644\\u0645\\u062f\\u0646
                                \\u0644\\u0644\\u0645\\u0633\\u0627\\u0647\\u06\
                                45\\u0629 \\u0641\\u064a
                                \\u062d\\u0644\\u0648\\u0644
                                \\u0623\\u0643\\u062b\\u0631
                                \\u0627\\u0633\\u062a\\u062f\\u0627\\u0645\\u06\
                                29 \\u0641\\u064a
                                \\u0627\\u0644\\u0645\\u062f\\u0646
                                \\u0627\\u0644\\u0643\\u0628\\u0631\\u0649.\\n#\
                                Japao #Tecnologia #Inovacao #Sustentabilidade
                                #Curiosidade\",[9],[9],[9],[9],[9],[9],[9],[9],\
                                [19,\"80\"]]],[1,[5,\"insertAttachmentItem\",\"\
                                ee.mid.$cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",[19,\"0\
                                \"],[19,\"101267314608064\"],[19,\"0\"],\"mid.$\
                                cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",[9],[9],[9],[9]\
                                ,[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9\
                                ],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],false,\
                                \"full\",[9],[9],[9],[9],[9],[9],[9],[9],[9],[9\
                                ],[9],[9],[9],[9],[9],[9],[9],[9],[19,\"0\"],[9\
                                ]]],[1,[5,\"setForwardScore\",[19,\"10126731460\
                                8064\"],\"mid.$cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",\
                                [19,\"1774649192631\"],[9]]],[1,[5,\"setMessage\
                                DisplayedContentTypes\",[19,\"101267314608064\"\
                                ],\"mid.$cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",[19,\"\
                                1774649192631\"],\"\",false,false]],[1,[4,1,1,[\
                                5,\"getFirstAvailableAttachmentCTAID\"]],[5,\"i\
                                nsertAttachmentCta\",[69,[2,1],[19,\"0\"]],\"ee\
                                .mid.$cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",[19,\"0\"\
                                ],[19,\"101267314608064\"],[19,\"0\"],\"mid.$cA\
                                AA_xR9GK82jYpr4t2dMVWvOpSvM\",\"\",\"igd_web_po\
                                st_share\",[9],\"https:\\/\\/www.instagram.com\
                                \\/reel\\/DWQcyfryU4y\\/?id=3859711495953272370\
                                _78434169085\",\"instagram:\\/\\/reels_share\\/\
                                ?shortcode=DWQcyfryU4y\",[9],[9],false,[9],[19,\
                                \"3859711495953272370\"],[9]],[5,\"updateAttach\
                                mentItemCtaAtIndex\",\"ee.mid.$cAAA_xR9GK82jYpr\
                                4t2dMVWvOpSvM\",[19,\"0\"],[69,[2,1],[19,\"0\"]\
                                ],\"attachment\",\"igd_web_post_share\",[19,\"0\
                                \"]],[5,\"updateAttachmentCtaAtIndexIgnoringAut\
                                hority\",[19,\"101267314608064\"],\"mid.$cAAA_x\
                                R9GK82jYpr4t2dMVWvOpSvM\",\"ee.mid.$cAAA_xR9GK8\
                                2jYpr4t2dMVWvOpSvM\",[69,[2,1],[19,\"0\"]],\"at\
                                tachment\",\"igd_web_post_share\",[19,\"0\"]]],\
                                [1,[5,\"upsertMessage\",\"Here's a simple
                                example of how to use the FFT function in
                                MATLAB:\\n\\n\\u0025 Generate a sample
                                signal\\nfs = 1000;  \\u0025 Sampling
                                frequency\\nt = 0:1\\/fs:1-1\\/fs;  \\u0025 Time
                                vector\\nf1 = 50;  \\u0025 Frequency of the
                                signal\\nf2 = 120;  \\u0025 Frequency of the
                                second signal component\\nx = sin(2*pi*f1*t) +
                                0.5*sin(2*pi*f2*t);  \\u0025 Signal\\n\\n\\u0025
                                Perform FFT\\nn = length(x);  \\u0025 Number of
                                samples\\nX = fft(x);  \\u0025 FFT of the
                                signal\\n\\n\\u0025 Calculate frequencies
                                corresponding to FFT components\\nfreq =
                                (0:n-1)*(fs\\/n);\\n\\n\\u0025 Plot the signal
                                and its
                                FFT\\nfigure;\\nsubplot(2,1,1);\\nplot(t,
                                x);\\nxlabel('Time
                                (s)');\\nylabel('Amplitude');\\ntitle('Time
                                Domain
                                Signal');\\n\\nsubplot(2,1,2);\\nplot(freq,
                                abs(X));\\nxlabel('Frequency
                                (Hz)');\\nylabel('Magnitude');\\ntitle('Frequen\
                                cy Domain Signal');\\n\\n\\u0025 To plot only
                                the first half of the FFT (positive
                                frequencies)\\nfigure;\\nplot(freq(1:n\\/2+1),
                                abs(X(1:n\\/2+1)));\\nxlabel('Frequency
                                (Hz)');\\nylabel('Magnitude');\\ntitle('Positive
                                Frequencies');\\n\\n\\nThis code generates a
                                signal with two frequency components, performs
                                an FFT on it, and plots the signal in both time
                                and frequency domains. The last plot shows only
                                the positive frequencies, which is often more
                                convenient for analyzing real-valued
                                signals.\",[9],[19,\"80\"],[19,\"656175869434325\
                                \"],[19,\"0\"],[19,\"1749937508946\"],[19,\"174\
                                9937508946\"],[9],\"mid.$cAAI3FuSNNdidoayaUmXcG\
                                dRGbmWo\",\"7339769892212467112\",[19,\"6561758\
                                69434325\"],[9],false,[19,\"0\"],[19,\"0\"],[19,\
                                \"2\"],[19,\"2\"],false,[9],[9],[9],[9],[9],[9]\
                                ,[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9\
                                ],[9],[9],[9],[9],[9],[9],[9],false,[9],false,[\
                                9],[9],[9],[19,\"3\"],false,[19,\"0\"],[19,\"1\
                                \"],[9],[9],[19,\"0\"],[9],[9],[9],[9],[9],[9],\
                                [9],[9],false,[9],[9],[9],[19,\"0\"],[9],[19,\"0\
                                \"],[9],[9],[9],[19,\"0\"],[9],[9],[9],[9],[9],\
                                [9],[9]]],[1,[5,\"updateReadReceipt\",[19,\"174\
                                9937508946\"],[19,\"656175869434325\"],[19,\"65\
                                6175869434325\"],[19,\"0\"]]],[1,[5,\"setMessag\
                                eTextHasLinks\",[19,\"656175869434325\"],\"mid.\
                                $cAAI3FuSNNdidoayaUmXcGdRGbmWo\",[19,\"17499375\
                                08946\"],[9]]],[1,[5,\"setForwardScore\",[19,\"\
                                656175869434325\"],\"mid.$cAAI3FuSNNdidoayaUmXc\
                                GdRGbmWo\",[19,\"1749937508946\"],[9]]],[1,[5,\
                                \"setMessageDisplayedContentTypes\",[19,\"65617\
                                5869434325\"],\"mid.$cAAI3FuSNNdidoayaUmXcGdRGb\
                                mWo\",[19,\"1749937508946\"],\"Here's a simple
                                example of how to use the FFT function in
                                MATLAB:\\n\\n\\u0025 Generate a sample
                                signal\\nfs = 1000;  \\u0025 Sampling
                                frequency\\nt = 0:1\\/fs:1-1\\/fs;  \\u0025 Time
                                vector\\nf1 = 50;  \\u0025 Frequency of the
                                signal\\nf2 = 120;  \\u0025 Frequency of the
                                second signal component\\nx = sin(2*pi*f1*t) +
                                0.5*sin(2*pi*f2*t);  \\u0025 Signal\\n\\n\\u0025
                                Perform FFT\\nn = length(x);  \\u0025 Number of
                                samples\\nX = fft(x);  \\u0025 FFT of the
                                signal\\n\\n\\u0025 Calculate frequencies
                                corresponding to FFT components\\nfreq =
                                (0:n-1)*(fs\\/n);\\n\\n\\u0025 Plot the signal
                                and its
                                FFT\\nfigure;\\nsubplot(2,1,1);\\nplot(t,
                                x);\\nxlabel('Time
                                (s)');\\nylabel('Amplitude');\\ntitle('Time
                                Domain
                                Signal');\\n\\nsubplot(2,1,2);\\nplot(freq,
                                abs(X));\\nxlabel('Frequency
                                (Hz)');\\nylabel('Magnitude');\\ntitle('Frequen\
                                cy Domain Signal');\\n\\n\\u0025 To plot only
                                the first half of the FFT (positive
                                frequencies)\\nfigure;\\nplot(freq(1:n\\/2+1),
                                abs(X(1:n\\/2+1)));\\nxlabel('Frequency
                                (Hz)');\\nylabel('Magnitude');\\ntitle('Positive
                                Frequencies');\\n\\n\\nThis code generates a
                                signal with two frequency components, performs
                                an FFT on it, and plots the signal in both time
                                and frequency domains. The last plot shows only
                                the positive frequencies, which is often more
                                convenient for analyzing real-valued
                                signals.\",false,false]],[1,[5,\"setBotResponse\
                                Info\",[19,\"656175869434325\"],\"mid.$cAAI3FuS\
                                NNdidoayaUmXcGdRGbmWo\",\"4897c3f1-409c-409c-80\
                                07-810f404c68ce\",\"{\\\"ai_bot\\\":{\\\"bot_in\
                                vocation_message_id\\\":\\\"mid.$cAAI3FuSNNdido\
                                ayZpmXcGdRGbmWn\\\",\\\"bot_invocation_message_\
                                otid\\\":\\\"7339769892212467111\\\",\\\"bot_in\
                                vocation_sender_id\\\":\\\"109810453752845\\\"}}\
                                \"]],[1,[5,\"upsertMessage\",\"\\u4f60\\u597d\\\
                                u89aa\\uff0c\\u9810\\u5b9a\\u86cb\\u7cd5\\u9700\
                                \\u8981\\u63d0\\u524d\\u4e00\\u500b\\u6708\\u4e\
                                e5\\u4e0a\\u54e6\",[9],[19,\"80\"],[19,\"113198\
                                413399959\"],[19,\"0\"],[19,\"1670564915922\"],\
                                [19,\"1670564915922\"],[9],\"mid.$cAAAFKzIu65qL\
                                JrLy0mE9W2qPiBi1\",\"7006857108491081909\",[19,\
                                \"113198413399959\"],[9],false,[19,\"0\"],[19,\
                                \"0\"],[19,\"2\"],[19,\"2\"],false,[9],[9],[9],\
                                [9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9]\
                                ,[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],false,\
                                [9],false,[9],[9],[9],[19,\"3\"],false,[19,\"0\
                                \"],[19,\"1\"],[9],[9],[19,\"0\"],[9],[9],\"pen\
                                ding_inbox\",[9],[9],[9],[9],[9],false,[9],[9],\
                                [9],[19,\"0\"],[9],[19,\"0\"],[9],[9],[9],[19,\
                                \"0\"],[9],[9],[9],[9],[9],[9],[9]]],[1,[5,\"up\
                                dateReadReceipt\",[19,\"1670564915922\"],[19,\"\
                                113198413399959\"],[19,\"113198413399959\"],[19,\
                                \"0\"]]],[1,[5,\"setForwardScore\",[19,\"113198\
                                413399959\"],\"mid.$cAAAFKzIu65qLJrLy0mE9W2qPiB\
                                i1\",[19,\"1670564915922\"],[9]]],[1,[5,\"setMe\
                                ssageDisplayedContentTypes\",[19,\"113198413399\
                                959\"],\"mid.$cAAAFKzIu65qLJrLy0mE9W2qPiBi1\",[\
                                19,\"1670564915922\"],\"\\u4f60\\u597d\\u89aa\\\
                                uff0c\\u9810\\u5b9a\\u86cb\\u7cd5\\u9700\\u8981\
                                \\u63d0\\u524d\\u4e00\\u500b\\u6708\\u4ee5\\u4e\
                                0a\\u54e6\",false,false]],[1,[5,\"deleteExistin\
                                gMessageRanges\",[19,\"1604307704304010\"]]],[1\
                                ,[5,\"deleteExistingMessageRanges\",[19,\"15030\
                                42994429577\"]]],[1,[5,\"deleteExistingMessageR\
                                anges\",[19,\"1055153722551842\"]]],[1,[5,\"ins\
                                ertNewMessageRange\",[19,\"101267314608064\"],[\
                                19,\"1774649192631\"],[19,\"9999999999999\"],\"\
                                mid.$cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",\"mid.$cAA\
                                A_xR9GK82jYpr4t2dMVWvOpSvM\",[19,\"1774649192631\
                                \"],[19,\"1774649192631\"],true,false,[9]]],[1,\
                                [5,\"insertNewMessageRange\",[19,\"656175869434\
                                325\"],[19,\"1749937508946\"],[19,\"99999999999\
                                99\"],\"mid.$cAAI3FuSNNdidoayaUmXcGdRGbmWo\",\"\
                                mid.$cAAI3FuSNNdidoayaUmXcGdRGbmWo\",[19,\"1749\
                                937508946\"],[19,\"1749937508946\"],true,false,\
                                [9]]],[1,[5,\"insertNewMessageRange\",[19,\"113\
                                198413399959\"],[19,\"1670564915922\"],[19,\"99\
                                99999999999\"],\"mid.$cAAAFKzIu65qLJrLy0mE9W2qP\
                                iBi1\",\"mid.$cAAAFKzIu65qLJrLy0mE9W2qPiBi1\",[\
                                19,\"1670564915922\"],[19,\"1670564915922\"],tr\
                                ue,false,[9]]],[1,[5,\"upsertFolderSeenTimestamp\
                                \",[19,\"0\"],[19,\"1773718738410\"]]],[1,[5,\"\
                                setHMPSStatus\",[19,\"109810453752845\"],[19,\"0\
                                \"],[19,\"1774722903056\"]]],[1,[5,\"upsertSequ\
                                enceId\",[19,\"5926\"],[9],[19,\"1\"]]],[1,[5,\
                                \"verifyContactRowExists\",[19,\"101267314608064\
                                \"],[19,\"1\"],\"https:\\/\\/scontent-iad3-1.cd\
                                ninstagram.com\\/v\\/t51.2885-19\\/412400465_34\
                                85210438397963_5334886948660529170_n.jpg?stp=ds\
                                t-jpg_s100x100_tt6&_nc_cat=101&ccb=7-5&_nc_sid=\
                                bf7eb4&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGlj\
                                Lnd3dy4xMDgwLkMzIn0\\u00253D&_nc_ohc=EEPgLAUXVU\
                                oQ7kNvwGNhkpG&_nc_oc=AdpTJwjitW4_yoFGndn2Mn9g6I\
                                GAR4VWuaXB-2lkJ-3HsFH9kShYIfGeKNyc3JhitAVx_4hTa\
                                PUe3Ij5hfAXgAcf&_nc_zt=24&_nc_ht=scontent-iad3-\
                                1.cdninstagram.com&_nc_ss=7a32e&oh=00_AfzDEbQW6\
                                yT8DJzBVYG0-2GKOdQTGhsHcYI5VgezyOiisQ&oe=69CE0C\
                                A8\",\"yue\",[19,\"1\"],\"\\/messaging\\/lights\
                                peed\\/media_fallback\\/?entity_id=101267314608\
                                064&entity_type=1&width=100&height=100&efg=eyJk\
                                dHciOiIifQ\\u00253D\\u00253D\",[19,\"1775111336\
                                \"],[19,\"1775111336\"],\"yue\",false,false,[19,\
                                \"0\"],true,false,[19,\"60\"],[19,\"175636415\"\
                                ],[19,\"35888059532706304\"],[19,\"0\"],[19,\"0\
                                \"],[19,\"2\"],\"rita_chuii\",[9],[9]]],[1,[5,\
                                \"verifyContactRowExists\",[19,\"109810453752845\
                                \"],[19,\"1\"],\"https:\\/\\/scontent-iad6-1.xx\
                                .fbcdn.net\\/v\\/t1.30497-1\\/84628273_17615983\
                                0277856_972693363922829312_n.jpg?stp=c379.0.129\
                                0.1290a_dst-jpg_s200x200_tt6&_nc_cat=1&ccb=1-7&\
                                _nc_sid=7565cd&_nc_ohc=NyOlW9FwyRUQ7kNvwF11O2h&\
                                _nc_oc=AdqlD1QdKXxhpFcflfVS5X_XRqjRXnQ8NQgkuokQ\
                                kosjrF8z0DCOOSigheAQjTK_siV_6XkgLPUbcsrH2KyGoGI\
                                1&_nc_zt=24&_nc_ht=scontent-iad6-1.xx&_nc_ss=7a\
                                30f&oh=00_AfyDaDSbKDHF1sUZ-8E0QS6mS4PY8l7oCGjrj\
                                wWWSzwzyA&oe=69EF9A19\",\"imoonkey_\",[19,\"1\"\
                                ],\"\\/messaging\\/lightspeed\\/media_fallback\
                                \\/?entity_id=109810453752845&entity_type=1&wid\
                                th=100&height=100&efg=eyJkdHciOiIifQ\\u00253D\\\
                                u00253D\",[19,\"1777310233\"],[19,\"1777310233\
                                \"],\"imoonkey_\",false,false,[19,\"0\"],true,t\
                                rue,[19,\"60\"],[19,\"175636415\"],[19,\"358880\
                                59532706304\"],[19,\"0\"],[19,\"0\"],[19,\"2\"],\
                                \"imoonkey_\",[9],[9]]],[1,[5,\"verifyContactRo\
                                wExists\",[19,\"656175869434325\"],[19,\"1\"],\
                                \"https:\\/\\/scontent-iad6-1.xx.fbcdn.net\\/m1\
                                \\/v\\/t0.65075-6\\/An_TR5ven0O9Qqe2LrXDME7cGYB\
                                M1AuEM1pT9Z2c0np7hX4RyerxP8qRYmdRldXV-RgjCl94hA\
                                OHE71bzws6EY3tXcyifumH9jJ6Xin9glvYsZFNYnY?stp=s\
                                870x1160&ccb=10-5&oh=00_Afy5ulOZ5pXOy_iHGoEwMBi\
                                8j2TkOe5y-KdjoikV5exqnQ&oe=69EF9D64&_nc_sid=e3b\
                                c14\",\"Meta
                                AI\",[19,\"1\"],\"\\/messaging\\/lightspeed\\/m\
                                edia_fallback\\/?entity_id=656175869434325&enti\
                                ty_type=1&width=100&height=100&efg=eyJkdHciOiIi\
                                fQ\\u00253D\\u00253D\",[19,\"1777311076\"],[19,\
                                \"1777311076\"],\"Meta
                                AI\",false,false,[19,\"0\"],true,false,[19,\"60\
                                \"],[19,\"41943059\"],[19,\"107945722290110464\
                                \"],[19,\"0\"],[19,\"0\"],[19,\"2\"],\"meta.ai\
                                \",[9],[9]]],[1,[5,\"verifyContactRowExists\",[\
                                19,\"113198413399959\"],[19,\"1\"],\"https:\\/\
                                \\/scontent-iad6-1.cdninstagram.com\\/v\\/t51.2\
                                885-19\\/70120235_453002548898410_6795415694302\
                                24896_n.jpg?stp=dst-jpg_s100x100_tt6&_nc_cat=10\
                                7&ccb=7-5&_nc_sid=bf7eb4&efg=eyJ2ZW5jb2RlX3RhZy\
                                I6InByb2ZpbGVfcGljLnd3dy4xMDgwLkMzIn0\\u00253D&\
                                _nc_ohc=K8urpdYOt8IQ7kNvwHU9xsL&_nc_oc=Adr6OWAX\
                                FpPQUdBsodCSQaaVDHkvU_9zcuvEsBoDCe_4ekUagF5Lpyy\
                                tPCe51T-u5W-Ckm1FefKDi4igUsvBr3EJ&_nc_zt=24&_nc\
                                _ht=scontent-iad6-1.cdninstagram.com&_nc_ss=7a3\
                                2e&oh=00_AfwRl36cPhILl6Lvm_83ZXMpQpR-lIuJYf0w-i\
                                XaAaVxxQ&oe=69CDE2E0\",\"LESS IS MORE
                                CAKERY\",[19,\"1\"],\"\\/messaging\\/lightspeed\
                                \\/media_fallback\\/?entity_id=113198413399959&\
                                entity_type=1&width=100&height=100&efg=eyJkdHci\
                                OiIifQ\\u00253D\\u00253D\",[19,\"1775100640\"],\
                                [19,\"1775100640\"],\"LESS IS MORE
                                CAKERY\",false,false,[19,\"0\"],true,false,[19,\
                                \"60\"],[19,\"175636415\"],[19,\"35888059532706\
                                304\"],[19,\"0\"],[19,\"0\"],[19,\"1\"],\"lessi\
                                smorecakery\",[9],[9]]],[1,[5,\"threadsRangesQu\
                                ery\",[19,\"-1\"],true,false,[19,\"0\"],[9],[9]\
                                ,[19,\"9999999999999\"],[19,\"0\"],false]],[1,[\
                                5,\"issueThreadCapabilitySyncTask\",[19,\"36000\
                                00\"],true]],[1,[5,\"setRegionHint\",[19,\"1\"],\
                                \"EAG\"]]]]],[1,[5,\"executeFinallyBlockForSync\
                                Transaction\",true,[19,\"1\"],[19,\"0\"]]]]}"
                              - "{\"name\":null,\"step\":[1,[1,[4,0,1,[5,\"exec\
                                uteFirstBlockForSyncTransaction\",[19,\"1\"],[1\
                                9,\"0\"],[9],\"HCwRVrCC0tumZwAAFspcFtzKxR0TBRaa\
                                sLXR5_cxAA\",[19,\"2\"],false,[19,\"0\"],false,\
                                [19,\"1\"],[9]]],[23,[2,0],[1,[1,[5,\"truncateT\
                                ablesForSyncGroup\",[19,\"1\"]]],[1,[5,\"delete\
                                ThenInsertThread\",[19,\"1774649192631\"],[19,\
                                \"1773718727930\"],\"yue sent an
                                attachment.\",[9],\"https:\\/\\/scontent-iad3-1\
                                .cdninstagram.com\\/v\\/t51.2885-19\\/412400465\
                                _3485210438397963_5334886948660529170_n.jpg?stp\
                                =dst-jpg_s100x100_tt6&_nc_cat=101&ccb=7-5&_nc_s\
                                id=bf7eb4&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfc\
                                GljLnd3dy4xMDgwLkMzIn0\\u00253D&_nc_ohc=EEPgLAU\
                                XVUoQ7kNvwGNhkpG&_nc_oc=AdpTJwjitW4_yoFGndn2Mn9\
                                g6IGAR4VWuaXB-2lkJ-3HsFH9kShYIfGeKNyc3JhitAVx_4\
                                hTaPUe3Ij5hfAXgAcf&_nc_zt=24&_nc_ht=scontent-ia\
                                d3-1.cdninstagram.com&_nc_ss=7a32e&oh=00_AfzDEb\
                                QW6yT8DJzBVYG0-2GKOdQTGhsHcYI5VgezyOiisQ&oe=69C\
                                E0CA8\",[9],[19,\"80\"],[19,\"101267314608064\"\
                                ],[19,\"0\"],[19,\"1\"],\"inbox\",\"\\/messaging\
                                \\/lightspeed\\/media_fallback\\/?entity_id=101\
                                267314608064&entity_type=10&width=100&height=10\
                                0&efg=eyJkdHciOiIifQ\\u00253D\\u00253D\",[19,\"\
                                1775111336\"],[19,\"0\"],[19,\"0\"],[19,\"0\"],\
                                [9],false,[19,\"101267314608064\"],[9],[9],[9],\
                                [9],[9],[9],[9],[9],[9],[19,\"0\"],[19,\"0\"],[\
                                9],[9],[9],[9],[19,\"611878928211423\"],[19,\"0\
                                \"],\"rita_chuii \\u00b7
                                Instagram\",[19,\"0\"],[9],[9],[9],[9],false,fa\
                                lse,false,[19,\"0\"],[9],[9],[9],[19,\"0\"],[9]\
                                ,[19,\"0\"],false,[9],[9],[9],[9],false,[9],[19,\
                                \"0\"],[9],[19,\"0\"],[9],[19,\"1604307704304010\
                                \"],[9],[19,\"-1\"],[19,\"1\"],[19,\"0\"],[9],[\
                                19,\"0\"],[9],[19,\"0\"],[9],[9],[9],[9],[9],[1\
                                9,\"2\"],[9],[9],[19,\"0\"],[19,\"1098104537528\
                                45\"],[19,\"4099\"],[19,\"0\"],[9],[19,\"1003\"\
                                ],[9],\"{\\\"eb_message_timestamp_type\\\":[{\\\
                                \"timestamp_status\\\":0}],\\\"should_see_ackno\
                                wledge_marketing_message_banner\\\":false,\\\"a\
                                ll_locales_match\\\":true,\\\"hide_aggregate_un\
                                read_snippet_message_count\\\":false,\\\"is_typ\
                                ing_indicator_disabled\\\":0,\\\"theme_fbid\\\":\
                                \\\"611878928211423\\\"}\",[19,\"0\"],[19,\"1\"\
                                ]]],[1,[5,\"addParticipantIdToGroupThread\",[19,\
                                \"101267314608064\"],[19,\"101267314608064\"],[\
                                19,\"1773718727931\"],[19,\"1773724014201\"],[1\
                                9,\"0\"],[9],false,[9],[19,\"0\"],[19,\"80\"],[\
                                9],[19,\"0\"],false,[9],[19,\"0\"]]],[1,[5,\"ad\
                                dParticipantIdToGroupThread\",[19,\"10126731460\
                                8064\"],[19,\"109810453752845\"],[19,\"0\"],[19,\
                                \"0\"],[19,\"0\"],[9],false,[9],[19,\"0\"],[19,\
                                \"80\"],[9],[19,\"0\"],false,[9],[19,\"0\"]]],[\
                                1,[5,\"clearPinnedMessages\",[19,\"101267314608\
                                064\"]]],[1,[3,1,[19,\"990799672649897982\"]],[\
                                3,2,[19,\"5050119305847464961\"]],[3,3,[19,\"72\
                                127997714367490\"]],[3,4,[19,\"4303355920\"]],[\
                                3,5,[19,\"603632718068056064\"]],[5,\"writeThre\
                                adCapabilities\",[19,\"101267314608064\"],[2,1]\
                                ,[2,2],[2,3],[2,4],[2,5]]],[1,[5,\"deleteThenIn\
                                sertIgThreadInfo\",[19,\"101267314608064\"],\"3\
                                40282366841710301244259779325281390986\",[19,\"0\
                                \"],[19,\"-1\"],[19,\"109810453752845\"],[19,\"\
                                1761100248762\"],[19,\"17841401683910041\"]]],[\
                                1,[5,\"deleteThenInsertThread\",[19,\"174993750\
                                8946\"],[19,\"1749937517956\"],\"Here's a simple
                                example of how to use the FFT function in
                                MATLAB:\\n\\n\\u0025 Generate a sample
                                signal\\nfs = 1000;  \\u0025 Sampling
                                frequency\\nt = 0:1\\/fs:1-1\\/fs;  \\u0025 Time
                                vector\\nf1 = 50;  \\u0025 Frequency of the
                                signal\\nf2 = 120;  \\u0025 Frequency of the
                                second signal component\\nx = sin(2*pi*f1*t) +
                                0.5*sin(2*pi*f2*t);  \\u0025 Signal\\n\\n\\u0025
                                Perform FFT\\nn = length(x);  \\u0025 Number of
                                samples\\nX = fft(x);  \\u0025 FFT of the
                                signal\\n\\n\\u0025 Calculate frequencies
                                corresponding to FFT components\\nfreq =
                                (0:n-1)*(fs\\/n);\\n\\n\\u0025 Plot the signal
                                and its
                                FFT\\nfigure;\\nsubplot(2,1,1);\\nplot(t,
                                x);\\nxlabel('Time
                                (s)');\\nylabel('Amplitude');\\ntitle('Time
                                Domain
                                Signal');\\n\\nsubplot(2,1,2);\\nplot(freq,
                                abs(X));\\nxlabel('Frequency
                                (Hz)');\\nylabel('Magnitude');\\ntitle('Frequen\
                                cy Domain Signal');\\n\\n\\u0025 To plot only
                                the first half of the FFT (positive
                                frequencies)\\nfigure;\\nplot(freq(1:n\\/2+1),
                                abs(X(1:n\\/2+1)));\\nxlabel('Frequency
                                (Hz)');\\nylabel('Magnitude');\\ntitle('Positive
                                Frequencies');\\n\\n\\nThis code generates a
                                signal with two frequency components, performs
                                an FFT on it, and plots the signal in both time
                                and frequency domains. The last plot shows only
                                the positive frequencies, which is often more
                                convenient for analyzing real-valued
                                signals.\",[9],\"https:\\/\\/scontent-iad6-1.xx\
                                .fbcdn.net\\/m1\\/v\\/t0.65075-6\\/An_TR5ven0O9\
                                Qqe2LrXDME7cGYBM1AuEM1pT9Z2c0np7hX4RyerxP8qRYmd\
                                RldXV-RgjCl94hAOHE71bzws6EY3tXcyifumH9jJ6Xin9gl\
                                vYsZFNYnY?stp=s870x1160&ccb=10-5&oh=00_Afy5ulOZ\
                                5pXOy_iHGoEwMBi8j2TkOe5y-KdjoikV5exqnQ&oe=69EF9\
                                D64&_nc_sid=e3bc14\",[9],[19,\"80\"],[19,\"6561\
                                75869434325\"],[19,\"0\"],[19,\"201\"],\"inbox\
                                \",\"\\/messaging\\/lightspeed\\/media_fallback\
                                \\/?entity_id=656175869434325&entity_type=10&wi\
                                dth=100&height=100&efg=eyJkdHciOiIifQ\\u00253D\
                                \\u00253D\",[19,\"1777311076\"],[19,\"0\"],[19,\
                                \"0\"],[19,\"0\"],[9],false,[19,\"6561758694343\
                                25\"],[9],[9],[9],[9],[9],[9],[9],[9],[9],[19,\
                                \"0\"],[19,\"0\"],[9],[9],[9],[9],[19,\"7788063\
                                43773351\"],[19,\"0\"],\"AI\",[19,\"0\"],\"Mess\
                                ages are generated by AI. Some may be inaccurate
                                or
                                inappropriate.\",[19,\"1\"],[9],[9],false,false\
                                ,false,[19,\"0\"],[9],[9],[9],[19,\"0\"],[9],[1\
                                9,\"0\"],false,[9],[9],[9],[9],false,[9],[19,\"0\
                                \"],[9],[19,\"0\"],[9],[19,\"1503042994429577\"\
                                ],[9],[19,\"-1\"],[19,\"1\"],[19,\"0\"],[9],[19,\
                                \"0\"],[9],[19,\"0\"],[9],[9],[9],[9],[9],[19,\
                                \"2\"],[9],[9],[19,\"0\"],[19,\"109810453752845\
                                \"],[19,\"4107\"],[19,\"0\"],[9],[19,\"1012\"],\
                                [9],\"{\\\"eb_message_timestamp_type\\\":[{\\\"\
                                timestamp_status\\\":0}],\\\"should_see_acknowl\
                                edge_marketing_message_banner\\\":false,\\\"all\
                                _locales_match\\\":true,\\\"hide_aggregate_unre\
                                ad_snippet_message_count\\\":false,\\\"is_typin\
                                g_indicator_disabled\\\":0,\\\"theme_fbid\\\":\\\
                                \"778806343773351\\\"}\",[19,\"0\"],[19,\"0\"]]\
                                ],[1,[5,\"addParticipantIdToGroupThread\",[19,\
                                \"656175869434325\"],[19,\"656175869434325\"],[\
                                19,\"0\"],[19,\"0\"],[19,\"0\"],[9],false,[9],[\
                                19,\"0\"],[19,\"80\"],[9],[19,\"0\"],false,[9],\
                                [19,\"0\"]]],[1,[5,\"addParticipantIdToGroupThr\
                                ead\",[19,\"656175869434325\"],[19,\"1098104537\
                                52845\"],[19,\"0\"],[19,\"0\"],[19,\"0\"],[9],f\
                                alse,[9],[19,\"0\"],[19,\"80\"],[9],[19,\"0\"],\
                                false,[9],[19,\"0\"]]],[1,[5,\"clearPinnedMessa\
                                ges\",[19,\"656175869434325\"]]],[1,[3,1,[19,\"\
                                1152928118900260864\"]],[3,2,[19,\"288266387338\
                                568705\"]],[3,3,[19,\"653021945968721922\"]],[3\
                                ,4,[19,\"19175482788413440\"]],[3,5,[19,\"64\"]\
                                ],[5,\"writeThreadCapabilities\",[19,\"65617586\
                                9434325\"],[2,1],[2,2],[2,3],[2,4],[2,5]]],[1,[\
                                5,\"deleteThenInsertIgThreadInfo\",[19,\"656175\
                                869434325\"],\"34028236684171030124425967806057\
                                1516553\",[19,\"0\"],[19,\"0\"],[9],[9],[19,\"1\
                                7841464488866084\"]]],[1,[5,\"deleteThenInsertM\
                                essageRequest\",[19,\"656175869434325\"],[19,\"0\
                                \"],[19,\"2\"]]],[1,[5,\"deleteThenInsertThread\
                                \",[19,\"1670564915922\"],[19,\"1670564915923\"\
                                ],\"\\u4f60\\u597d\\u89aa\\uff0c\\u9810\\u5b9a\
                                \\u86cb\\u7cd5\\u9700\\u8981\\u63d0\\u524d\\u4e\
                                00\\u500b\\u6708\\u4ee5\\u4e0a\\u54e6\",[9],\"h\
                                ttps:\\/\\/scontent-iad6-1.cdninstagram.com\\/v\
                                \\/t51.2885-19\\/70120235_453002548898410_67954\
                                1569430224896_n.jpg?stp=dst-jpg_s100x100_tt6&_n\
                                c_cat=107&ccb=7-5&_nc_sid=bf7eb4&efg=eyJ2ZW5jb2\
                                RlX3RhZyI6InByb2ZpbGVfcGljLnd3dy4xMDgwLkMzIn0\\\
                                u00253D&_nc_ohc=K8urpdYOt8IQ7kNvwHU9xsL&_nc_oc=\
                                Adr6OWAXFpPQUdBsodCSQaaVDHkvU_9zcuvEsBoDCe_4ekU\
                                agF5LpyytPCe51T-u5W-Ckm1FefKDi4igUsvBr3EJ&_nc_z\
                                t=24&_nc_ht=scontent-iad6-1.cdninstagram.com&_n\
                                c_ss=7a32e&oh=00_AfwRl36cPhILl6Lvm_83ZXMpQpR-lI\
                                uJYf0w-iXaAaVxxQ&oe=69CDE2E0\",[9],[19,\"80\"],\
                                [19,\"113198413399959\"],[19,\"0\"],[19,\"1\"],\
                                \"inbox\",\"\\/messaging\\/lightspeed\\/media_f\
                                allback\\/?entity_id=113198413399959&entity_typ\
                                e=10&width=100&height=100&efg=eyJkdHciOiIifQ\\u\
                                00253D\\u00253D\",[19,\"1775100640\"],[19,\"0\"\
                                ],[19,\"0\"],[19,\"0\"],[9],false,[19,\"1131984\
                                13399959\"],[9],[9],[9],[9],[9],[9],[9],[9],[9]\
                                ,[19,\"0\"],[19,\"0\"],[9],[9],[9],[9],[19,\"32\
                                59963564026002\"],[19,\"0\"],\"lessismorecakery
                                \\u00b7
                                Instagram\",[19,\"0\"],[9],[9],[9],[9],false,fa\
                                lse,false,[19,\"0\"],[9],[9],[9],[19,\"0\"],[9]\
                                ,[19,\"0\"],false,[9],[9],[9],[9],false,[9],[19,\
                                \"0\"],[9],[19,\"0\"],[9],[19,\"1055153722551842\
                                \"],[9],[19,\"-1\"],[19,\"1\"],[19,\"0\"],[9],[\
                                19,\"0\"],[9],[19,\"0\"],[9],[9],[9],[9],[9],[1\
                                9,\"2\"],[9],[9],[19,\"0\"],[19,\"1098104537528\
                                45\"],[19,\"4099\"],[19,\"0\"],[9],[19,\"1016\"\
                                ],[9],\"{\\\"eb_message_timestamp_type\\\":[{\\\
                                \"timestamp_status\\\":0}],\\\"should_see_ackno\
                                wledge_marketing_message_banner\\\":false,\\\"a\
                                ll_locales_match\\\":true,\\\"hide_aggregate_un\
                                read_snippet_message_count\\\":false,\\\"is_typ\
                                ing_indicator_disabled\\\":0,\\\"theme_fbid\\\":\
                                \\\"3259963564026002\\\"}\",[19,\"0\"],[19,\"0\
                                \"]]],[1,[5,\"addParticipantIdToGroupThread\",[\
                                19,\"113198413399959\"],[19,\"113198413399959\"\
                                ],[19,\"0\"],[19,\"0\"],[19,\"0\"],[9],false,[9\
                                ],[19,\"0\"],[19,\"80\"],[9],[19,\"0\"],false,[\
                                9],[19,\"0\"]]],[1,[5,\"addParticipantIdToGroup\
                                Thread\",[19,\"113198413399959\"],[19,\"1098104\
                                53752845\"],[19,\"0\"],[19,\"0\"],[19,\"0\"],[9\
                                ],false,[9],[19,\"0\"],[19,\"80\"],[9],[19,\"0\
                                \"],false,[9],[19,\"0\"]]],[1,[5,\"clearPinnedM\
                                essages\",[19,\"113198413399959\"]]],[1,[3,1,[1\
                                9,\"919126851797042206\"]],[3,2,[19,\"130264858\
                                8346369\"]],[3,3,[19,\"72057628970189824\"]],[3\
                                ,4,[19,\"4303355920\"]],[3,5,[19,\"603632718068\
                                056064\"]],[5,\"writeThreadCapabilities\",[19,\
                                \"113198413399959\"],[2,1],[2,2],[2,3],[2,4],[2\
                                ,5]]],[1,[5,\"deleteThenInsertIgThreadInfo\",[1\
                                9,\"113198413399959\"],\"3402823668417103012442\
                                59230171299638818\",[19,\"0\"],[19,\"0\"],[9],[\
                                9],[19,\"17841405544870420\"]]],[1,[5,\"deleteT\
                                henInsertMessageRequest\",[19,\"113198413399959\
                                \"],[19,\"0\"],[19,\"1\"]]],[1,[5,\"upsertSyncG\
                                roupThreadsRange\",[19,\"1\"],[19,\"0\"],[19,\"1\
                                \"],false,false,[19,\"-9223372036854775808\"]]]\
                                ,[1,[5,\"upsertInboxThreadsRange\",[19,\"1\"],[\
                                19,\"1\"],false,false,[19,\"-9223372036854775808\
                                \"]]],[1,[5,\"updateThreadsRangesV2\",\"inbox\"\
                                ,[19,\"0\"],[19,\"1\"],[19,\"-92233720368547758\
                                08\"],[19,\"1\"]]],[1,[5,\"upsertMessage\",[9],\
                                [9],[19,\"80\"],[19,\"101267314608064\"],[19,\"0\
                                \"],[19,\"1774649192631\"],[19,\"1774649192631\
                                \"],[9],\"mid.$cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",\
                                \"7443418205653380044\",[19,\"101267314608064\"\
                                ],[9],false,[19,\"0\"],[19,\"0\"],[19,\"2\"],[1\
                                9,\"2\"],false,[9],[9],[9],[9],[9],[9],[9],[9],\
                                [9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9]\
                                ,[9],[9],[9],[9],[9],false,[9],false,[9],[9],[9\
                                ],[19,\"3\"],false,[19,\"0\"],[19,\"1\"],[9],[9\
                                ],[19,\"0\"],[9],[9],\"feed_timeline\",[9],[9],\
                                [9],[9],[9],false,[9],[9],[9],[19,\"0\"],[9],[1\
                                9,\"0\"],[9],[9],[9],[19,\"0\"],[9],[9],[9],[9]\
                                ,[9],[9],[9]]],[1,[5,\"updateReadReceipt\",[19,\
                                \"1774649192631\"],[19,\"101267314608064\"],[19,\
                                \"101267314608064\"],[19,\"0\"]]],[1,[5,\"inser\
                                tXmaAttachment\",[9],[9],[19,\"0\"],false,[9],[\
                                9],[9],\"video\\/mp4\",\"https:\\/\\/scontent-i\
                                ad6-1.cdninstagram.com\\/v\\/t51.82787-15\\/656\
                                150898_17863698255609086_389128788968105760_n.j\
                                pg?stp=dst-jpg_e35_s480x360_tt6&_nc_cat=1&ccb=7\
                                -5&_nc_sid=18de74&efg=eyJlZmciOiJDTElQUy5pZ19za\
                                GltX3JlYWQuNDgweDM2MC5DMyJ9&_nc_ohc=oijcZhFTaD0\
                                Q7kNvwFYVBFd&_nc_oc=AdqjQKBhq28dD5aw2PP5YuElF4O\
                                fNWylfU-VZODGPgybm3X-eFXxP-AXNj8KURg3CVZocUSF3l\
                                SuD2L_oAMDchdi&_nc_zt=23&_nc_ht=scontent-iad6-1\
                                .cdninstagram.com&_nc_gid=Hk8ANmH16R6I3nIbIJ5TZ\
                                w&_nc_ss=7a32e&oh=00_AfwSF41r6dUc-89OBd6f_nuZUP\
                                YStGFbxVXSu7ot5C4PeA&oe=69CDED1D&ig_cache_key=M\
                                zg1OTcxMTQ5NTk1MzI3MjM3MA\\u00253D\\u00253D.2-c\
                                cb7-5\",\"https:\\/\\/i.instagram.com\\/api\\/v1\
                                \\/direct_v2\\/media_fallback\\/?entity_id=1796\
                                6528916020665&entity_type=13\",[19,\"1775103261\
                                000\"],\"image\\/jpeg\",[9],[19,\"480\"],[19,\"\
                                360\"],[9],[9],[9],[9],[9],[19,\"0\"],[9],[9],[\
                                9],[9],[19,\"101267314608064\"],[19,\"0\"],[19,\
                                \"7\"],\"\",[19,\"1774649192631\"],\"mid.$cAAA_\
                                xR9GK82jYpr4t2dMVWvOpSvM\",[9],\"ee.mid.$cAAA_x\
                                R9GK82jYpr4t2dMVWvOpSvM\",[19,\"4\"],[19,\"0\"]\
                                ,[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9\
                                ],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[\
                                9],[9],[9],[19,\"2\"],[9],[9],[9],[9],[9],[9],[\
                                19,\"0\"],[9],[9],[9],[9],[9],[9],[9],[9],[9],[\
                                9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],\
                                [9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],\
                                \"weirdapple666\",[9],\"https:\\/\\/scontent-ia\
                                d6-1.cdninstagram.com\\/v\\/t51.82787-19\\/6542\
                                80035_17862541968609086_392308793299333571_n.jp\
                                g?stp=cp0_dst-jpg_s50x50_tt6&_nc_cat=1&ccb=7-5&\
                                _nc_sid=bf7eb4&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2Zp\
                                bGVfcGljLnd3dy4xMDgwLkMzIn0\\u00253D&_nc_ohc=6L\
                                9FFi6ViXQQ7kNvwFs_TaS&_nc_oc=Adpoaks9Bh-r8Q4ZZP\
                                -sjRXZ7s9cQ_NBbsTzLdCw7tdKg0BcVQv-WPbjwnRy2OrvW\
                                LWRu7Eu-XMba7-CJvC3j1zX&_nc_zt=24&_nc_ht=sconte\
                                nt-iad6-1.cdninstagram.com&_nc_gid=Hk8ANmH16R6I\
                                3nIbIJ5TZw&_nc_ss=7a32e&oh=00_Afw3LuPs_0QM6l9n0\
                                YPfE74xQq-TZfdo6oaBCj2tjrKQ4w&oe=69CE045C\",\"h\
                                ttps:\\/\\/i.instagram.com\\/api\\/v1\\/direct_\
                                v2\\/media_fallback\\/?entity_id=17841478272574\
                                271&entity_type=1\",[19,\"1775109212000\"],[19,\
                                \"8\"],true,[19,\"17966528916020665\"],\"generi\
                                c_share\",\"generic_share\",[9],[9],\"https:\\/\
                                \\/scontent-iad6-1.cdninstagram.com\\/v\\/t51.8\
                                2787-15\\/656150898_17863698255609086_389128788\
                                968105760_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=1&c\
                                cb=7-5&_nc_sid=18de74&efg=eyJlZmdfdGFnIjoiQ0xJU\
                                FMuYmVzdF9pbWFnZV91cmxnZW4uQzMifQ\\u00253D\\u00\
                                253D&_nc_ohc=oijcZhFTaD0Q7kNvwFYVBFd&_nc_oc=Adq\
                                jQKBhq28dD5aw2PP5YuElF4OfNWylfU-VZODGPgybm3X-eF\
                                XxP-AXNj8KURg3CVZocUSF3lSuD2L_oAMDchdi&_nc_zt=2\
                                3&_nc_ht=scontent-iad6-1.cdninstagram.com&_nc_g\
                                id=Hk8ANmH16R6I3nIbIJ5TZw&_nc_ss=7a32e&oh=00_Af\
                                wDYTtxBQjrynF5ZWwISThhoXwfe04asmwkT5fOkTIpzA&oe\
                                =69CDED1D\",[9],[9],[9],[9],[9],[9],[9],[19,\"0\
                                \"],\"\\ud83c\\uddef\\ud83c\\uddf5
                                \\u0647\\u0644 \\u062a\\u0637\\u0623
                                \\u0627\\u0644\\u0623\\u0631\\u0636
                                \\u0648\\u062a\\u0633\\u0627\\u0639\\u062f
                                \\u0641\\u064a
                                \\u062a\\u0648\\u0644\\u064a\\u062f
                                \\u0627\\u0644\\u0637\\u0627\\u0642\\u0629
                                \\u0641\\u064a \\u0646\\u0641\\u0633
                                \\u0627\\u0644\\u0648\\u0642\\u062a\\u061f\\n\\\
                                u0641\\u064a
                                \\u0627\\u0644\\u0623\\u0645\\u0627\\u0643\\u06\
                                46
                                \\u0627\\u0644\\u0645\\u0632\\u062f\\u062d\\u06\
                                45\\u0629 \\u0641\\u064a
                                \\u0627\\u0644\\u064a\\u0627\\u0628\\u0627\\u06\
                                46\\u060c \\u062a\\u0645
                                \\u062a\\u0631\\u0643\\u064a\\u0628
                                \\u0623\\u0631\\u0636\\u064a\\u0627\\u062a
                                \\u0630\\u0643\\u064a\\u0629
                                \\u062a\\u0642\\u0648\\u0645
                                \\u0628\\u062a\\u062d\\u0648\\u064a\\u0644
                                \\u062a\\u0623\\u062b\\u064a\\u0631
                                \\u062e\\u0637\\u0648\\u0627\\u062a
                                \\u0627\\u0644\\u0646\\u0627\\u0633
                                \\u0625\\u0644\\u0649
                                \\u0643\\u0647\\u0631\\u0628\\u0627\\u0621.
                                \\u0639\\u0646\\u062f
                                \\u0627\\u0644\\u0645\\u0634\\u064a\\u060c
                                \\u064a\\u0642\\u0648\\u0645
                                \\u0627\\u0644\\u0636\\u063a\\u0637
                                \\u0627\\u0644\\u0646\\u0627\\u062a\\u062c
                                \\u0639\\u0646
                                \\u0627\\u0644\\u062e\\u0637\\u0648\\u0627\\u06\
                                2a \\u0628\\u062a\\u0641\\u0639\\u064a\\u0644
                                \\u0646\\u0638\\u0627\\u0645
                                \\u062f\\u0627\\u062e\\u0644\\u064a
                                \\u0642\\u0627\\u062f\\u0631
                                \\u0639\\u0644\\u0649
                                \\u062a\\u062d\\u0648\\u064a\\u0644
                                \\u0647\\u0630\\u0647
                                \\u0627\\u0644\\u062d\\u0631\\u0643\\u0629
                                \\u0625\\u0644\\u0649
                                \\u0637\\u0627\\u0642\\u0629.\\n\\u0641\\u064a
                                \\u0645\\u0646\\u0627\\u0637\\u0642
                                \\u0645\\u062b\\u0644
                                \\u0634\\u064a\\u0628\\u0648\\u064a\\u0627\\u06\
                                0c \\u0627\\u0644\\u062a\\u064a
                                \\u064a\\u0645\\u0631 \\u0628\\u0647\\u0627
                                \\u0639\\u062f\\u062f
                                \\u0643\\u0628\\u064a\\u0631 \\u0645\\u0646
                                \\u0627\\u0644\\u0646\\u0627\\u0633
                                \\u064a\\u0648\\u0645\\u064a\\u064b\\u0627\\u06\
                                0c
                                \\u0627\\u0633\\u062a\\u064f\\u062e\\u062f\\u06\
                                45\\u062a \\u0647\\u0630\\u0647
                                \\u0627\\u0644\\u062a\\u0643\\u0646\\u0648\\u06\
                                44\\u0648\\u062c\\u064a\\u0627
                                \\u0628\\u0627\\u0644\\u0641\\u0639\\u0644
                                \\u0644\\u062a\\u0634\\u063a\\u064a\\u0644
                                \\u0625\\u0636\\u0627\\u0621\\u0629 LED
                                \\u0648\\u0644\\u0648\\u062d\\u0627\\u062a
                                \\u0627\\u0644\\u0645\\u0639\\u0644\\u0648\\u06\
                                45\\u0627\\u062a
                                \\u0648\\u0623\\u062c\\u0647\\u0632\\u0629
                                \\u0627\\u0644\\u0627\\u0633\\u062a\\u0634\\u06\
                                39\\u0627\\u0631.\\n\\u0641\\u0643\\u0631\\u0629
                                \\u0645\\u0628\\u062a\\u0643\\u0631\\u0629
                                \\u062a\\u0633\\u062a\\u0641\\u064a\\u062f
                                \\u0645\\u0646 \\u062d\\u0631\\u0643\\u0629
                                \\u0627\\u0644\\u0646\\u0627\\u0633
                                \\u0641\\u064a
                                \\u0627\\u0644\\u0645\\u062f\\u0646
                                \\u0644\\u0644\\u0645\\u0633\\u0627\\u0647\\u06\
                                45\\u0629 \\u0641\\u064a
                                \\u062d\\u0644\\u0648\\u0644
                                \\u0623\\u0643\\u062b\\u0631
                                \\u0627\\u0633\\u062a\\u062f\\u0627\\u0645\\u06\
                                29 \\u0641\\u064a
                                \\u0627\\u0644\\u0645\\u062f\\u0646
                                \\u0627\\u0644\\u0643\\u0628\\u0631\\u0649.\\n#\
                                Japao #Tecnologia #Inovacao #Sustentabilidade
                                #Curiosidade\",[9],[9],[9],[9],[9],[9],[9],[9],\
                                [19,\"80\"]]],[1,[5,\"insertAttachmentItem\",\"\
                                ee.mid.$cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",[19,\"0\
                                \"],[19,\"101267314608064\"],[19,\"0\"],\"mid.$\
                                cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",[9],[9],[9],[9]\
                                ,[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9\
                                ],[9],[9],[9],[9],[9],[9],[9],[9],[9],[9],false,\
                                \"full\",[9],[9],[9],[9],[9],[9],[9],[9],[9],[9\
                                ],[9],[9],[9],[9],[9],[9],[9],[9],[19,\"0\"],[9\
                                ]]],[1,[5,\"setForwardScore\",[19,\"10126731460\
                                8064\"],\"mid.$cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",\
                                [19,\"1774649192631\"],[9]]],[1,[5,\"setMessage\
                                DisplayedContentTypes\",[19,\"101267314608064\"\
                                ],\"mid.$cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",[19,\"\
                                1774649192631\"],\"\",false,false]],[1,[4,1,1,[\
                                5,\"getFirstAvailableAttachmentCTAID\"]],[5,\"i\
                                nsertAttachmentCta\",[69,[2,1],[19,\"0\"]],\"ee\
                                .mid.$cAAA_xR9GK82jYpr4t2dMVWvOpSvM\",[19,\"0\"\
                                ],[19,\"101267314608064\"],[19,\"0\"],\"mid.$cA\
                                AA_xR9GK82jYpr4t2dMVWvOpSvM\",\"\",\"igd_web_po\
                                st_share\",[9],\"https:\\/\\/www.instagram.com\
                                \\/reel\\/DWQcyfryU4y\\/?id=3859711495953272370\
[...]
