openapi: 3.1.0
info:
  title: instagram
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-02T00:10:59.917Z
    requires_auth: true
servers:
  - url: https://www.instagram.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: csrftoken
        header: x-csrftoken
        scope: [POST, PUT, DELETE]
paths:
  /api/v1/users/web_profile_info/:
    get:
      operationId: getUserProfile
      summary: "Get user profile — biography, follower/following counts, profile pic, post count, verification status"
      x-openweb:
        permission: read
        build:
          stable_id: 4f0f32e129855418
          tool_version: 2
      parameters:
        - name: username
          in: query
          required: true
          description: Instagram username (without @ prefix)
          schema:
            type: string
          example: instagram
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          biography:
                            type: string
                          bio_links:
                            type: array
                            items:
                              type: object
                              properties:
                                title:
                                  type: string
                                url:
                                  type: string
                                  format: uri
                          blocked_by_viewer:
                            type: boolean
                          external_url:
                            type: string
                            format: uri
                          edge_followed_by:
                            type: object
                            properties:
                              count:
                                type: integer
                          edge_follow:
                            type: object
                            properties:
                              count:
                                type: integer
                          full_name:
                            type: string
                          id:
                            type: string
                          is_private:
                            type: boolean
                          is_verified:
                            type: boolean
                          profile_pic_url:
                            type: string
                            format: uri
                          profile_pic_url_hd:
                            type: string
                            format: uri
                          username:
                            type: string
                          edge_owner_to_timeline_media:
                            type: object
                            properties:
                              count:
                                type: integer
                required:
                  - data
  /api/v1/media/{id}/info/:
    get:
      operationId: getPost
      summary: "Get post/media detail — caption, like count, comment count, media URLs, author info, timestamps"
      x-openweb:
        permission: read
        build:
          stable_id: 6d5414f7e1b7991e
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK (not shortcode). Get from getFeed items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  num_results:
                    type: integer
                  more_available:
                    type: boolean
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        pk:
                          type: string
                        code:
                          type: string
                          description: Shortcode for URL (instagram.com/p/{code}/)
                        media_type:
                          type: integer
                          description: "1=photo, 2=video, 8=carousel"
                        caption:
                          type: object
                          properties:
                            text:
                              type: string
                            created_at:
                              type: integer
                        like_count:
                          type: integer
                        comment_count:
                          type: integer
                        taken_at:
                          type: integer
                        image_versions2:
                          type: object
                          properties:
                            candidates:
                              type: array
                              items:
                                type: object
                                properties:
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  url:
                                    type: string
                                    format: uri
                        video_versions:
                          type: array
                          items:
                            type: object
                            properties:
                              width:
                                type: integer
                              height:
                                type: integer
                              url:
                                type: string
                                format: uri
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            username:
                              type: string
                            full_name:
                              type: string
                            profile_pic_url:
                              type: string
                              format: uri
                            is_verified:
                              type: boolean
                  status:
                    type: string
                required:
                  - num_results
                  - items
                  - status
  /api/v1/feed/user/{id}/:
    get:
      operationId: getFeed
      summary: "Get user feed — posts with thumbnails, captions, like/comment counts, pagination via next_max_id"
      x-openweb:
        permission: read
        build:
          stable_id: 294082907d0d38bc
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: count
          in: query
          required: false
          description: Number of posts to return (default 12)
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response next_max_id
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  num_results:
                    type: integer
                  more_available:
                    type: boolean
                  next_max_id:
                    type: string
                    description: Cursor for next page
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        pk:
                          type: string
                        code:
                          type: string
                          description: Shortcode for URL
                        media_type:
                          type: integer
                        caption:
                          type: object
                          properties:
                            text:
                              type: string
                        like_count:
                          type: integer
                        comment_count:
                          type: integer
                        taken_at:
                          type: integer
                        image_versions2:
                          type: object
                          properties:
                            candidates:
                              type: array
                              items:
                                type: object
                                properties:
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  url:
                                    type: string
                                    format: uri
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            username:
                              type: string
                  auto_load_more_enabled:
                    type: boolean
                  status:
                    type: string
                required:
                  - num_results
                  - more_available
                  - items
                  - status
  /web/search/topsearch/:
    get:
      operationId: searchUsers
      summary: "Search users and content — returns users with profile pics, usernames, verification status, follower counts"
      x-openweb:
        permission: read
        build:
          stable_id: 53427dabc7addb4e
          tool_version: 2
      parameters:
        - name: query
          in: query
          required: true
          description: Search query string
          schema:
            type: string
          example: nasa
        - name: context
          in: query
          required: false
          description: Search context type
          schema:
            type: string
            default: blended
          example: blended
        - name: include_reel
          in: query
          required: false
          description: Include reel data
          schema:
            type: string
            default: "true"
          example: "true"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        position:
                          type: integer
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            id:
                              type: string
                            full_name:
                              type: string
                            is_private:
                              type: boolean
                            is_verified:
                              type: boolean
                            profile_pic_url:
                              type: string
                              format: uri
                            username:
                              type: string
                            follower_count:
                              type: integer
                            friendship_status:
                              type: object
                              properties:
                                following:
                                  type: boolean
                                is_private:
                                  type: boolean
                  places:
                    type: array
                    items:
                      type: object
                  hashtags:
                    type: array
                    items:
                      type: object
                  has_more:
                    type: boolean
                  status:
                    type: string
                required:
                  - users
                  - status
