openapi: 3.1.0
info:
  title: instagram
  version: 1.1.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-29T06:38:08.774Z
    requires_auth: true
servers:
  - url: https://www.instagram.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: csrftoken
        header: x-csrftoken
paths:
  # ── Read operations ─────────────────────────────────────────────────

  /api/v1/web/search/topsearch/:
    get:
      operationId: searchTopSearch
      summary: >-
        Search users, hashtags, and places by keyword — returns user profiles
        (username, full_name, profile_pic, follower_count), matching hashtags,
        and places
      x-openweb:
        permission: read
      parameters:
        - name: context
          in: query
          required: true
          schema:
            type: string
            enum: [blended]
          description: Search context type
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search keyword
        - name: include_reel
          in: query
          required: false
          schema:
            type: boolean
          description: Include reel/story data in results
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object

  /api/v1/users/web_profile_info/:
    get:
      operationId: getUserProfile
      summary: >-
        Get user profile by username — returns user ID, full_name, biography,
        follower_count, following_count, media_count, profile_pic_url,
        is_private, is_verified
      x-openweb:
        permission: read
      parameters:
        - name: username
          in: query
          required: true
          schema:
            type: string
          description: Instagram username (without @ prefix)
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: User profile data
          content:
            application/json:
              schema:
                type: object

  /api/v1/users/{userId}/info/:
    get:
      operationId: getUserById
      summary: >-
        Get user profile by numeric ID — returns username, full_name,
        profile_pic_url, biography, follower/following counts
      x-openweb:
        permission: read
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: Numeric user ID
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: User profile data
          content:
            application/json:
              schema:
                type: object

  /api/v1/feed/timeline/:
    get:
      operationId: getTimeline
      summary: >-
        Get the authenticated user's home feed — returns feed_items with media,
        captions, like counts, supports cursor pagination
      x-openweb:
        permission: read
        pagination:
          type: cursor
          response_field: next_max_id
          request_param: max_id
      parameters:
        - name: max_id
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor — next_max_id from previous response
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: Home feed
          content:
            application/json:
              schema:
                type: object

  /api/v1/feed/user/{userId}/:
    get:
      operationId: getUserFeed
      summary: >-
        Get a user's posts feed — returns media items with shortcode, media_type,
        caption, like_count, comment_count, image/video URLs, timestamp
      x-openweb:
        permission: read
        pagination:
          type: cursor
          response_field: next_max_id
          request_param: max_id
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: Numeric user ID (get from getUserProfile)
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: 12
          description: Number of posts to return (max ~33)
        - name: max_id
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor — next_max_id from previous response
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: User feed posts
          content:
            application/json:
              schema:
                type: object

  /api/v1/media/{mediaId}/info/:
    get:
      operationId: getMediaInfo
      summary: >-
        Get detailed information about a media post — returns media_type,
        caption, like_count, comment_count, image/video URLs, user info
      x-openweb:
        permission: read
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
          description: Numeric media/post ID (pk field from feed)
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: Media details
          content:
            application/json:
              schema:
                type: object

  /api/v1/media/{mediaId}/comments/:
    get:
      operationId: getMediaComments
      summary: >-
        Get comments on a media post — returns comment text, username, timestamp,
        like_count, reply_count, has_more_comments
      x-openweb:
        permission: read
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
          description: Numeric media/post ID (pk field from feed or media info)
        - name: can_support_threading
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Enable threaded comment replies
        - name: permalink_enabled
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: Comments list
          content:
            application/json:
              schema:
                type: object

  /api/v1/feed/reels_tray/:
    get:
      operationId: getReelsTray
      summary: >-
        Get stories tray for followed users — returns list of active story reels
        with owner info and expiration times
      x-openweb:
        permission: read
      parameters:
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: Stories tray
          content:
            application/json:
              schema:
                type: object

  /api/v1/feed/user/{userId}/story/:
    get:
      operationId: getUserStories
      summary: >-
        Get a user's active stories — returns story items with media URLs,
        timestamps, and interactive elements
      x-openweb:
        permission: read
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: Numeric user ID
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: User stories
          content:
            application/json:
              schema:
                type: object

  # ── Write operations ────────────────────────────────────────────────

  /api/v1/web/likes/{mediaId}/like/:
    post:
      operationId: likeMedia
      summary: Like a media post
      x-openweb:
        permission: write
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
          description: Numeric media/post ID (pk field)
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: Like result
          content:
            application/json:
              schema:
                type: object

  /api/v1/web/likes/{mediaId}/unlike/:
    post:
      operationId: unlikeMedia
      summary: Unlike a media post (reverses likeMedia)
      x-openweb:
        permission: write
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
          description: Numeric media/post ID (pk field)
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: Unlike result
          content:
            application/json:
              schema:
                type: object

  /api/v1/web/save/{mediaId}/save/:
    post:
      operationId: saveMedia
      summary: Bookmark/save a media post to your saved collection
      x-openweb:
        permission: write
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
          description: Numeric media/post ID (pk field)
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: Save result
          content:
            application/json:
              schema:
                type: object

  /api/v1/web/save/{mediaId}/unsave/:
    post:
      operationId: unsaveMedia
      summary: Remove a media post from saved collection (reverses saveMedia)
      x-openweb:
        permission: write
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
          description: Numeric media/post ID (pk field)
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: Unsave result
          content:
            application/json:
              schema:
                type: object

  /api/v1/friendships/create/{userId}/:
    post:
      operationId: followUser
      summary: Follow a user
      x-openweb:
        permission: write
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: Numeric user ID to follow
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: Follow result
          content:
            application/json:
              schema:
                type: object

  /api/v1/friendships/destroy/{userId}/:
    post:
      operationId: unfollowUser
      summary: Unfollow a user (reverses followUser)
      x-openweb:
        permission: write
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: Numeric user ID to unfollow
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            default: "936619743392459"
          description: Instagram web app ID (constant)
      responses:
        "200":
          description: Unfollow result
          content:
            application/json:
              schema:
                type: object
