openapi: 3.1.0
info:
  title: instagram
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-02T00:10:59.917Z
    requires_auth: true
servers:
  - url: https://www.instagram.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: csrftoken
        header: x-csrftoken
        scope: [POST, PUT, DELETE]
paths:
  /api/v1/users/web_profile_info/:
    get:
      operationId: getUserProfile
      summary: "Get user profile — biography, follower/following counts, profile pic, post count, verification status"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getUserProfile
      parameters:
        - name: username
          in: query
          required: true
          description: Instagram username (without @ prefix)
          schema:
            type: string
          example: instagram
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          biography:
                            type: string
                          bio_links:
                            type: array
                            items:
                              type: object
                              properties:
                                title:
                                  type: string
                                url:
                                  type: string
                          external_url:
                            type: string
                          edge_followed_by:
                            type: object
                            properties:
                              count:
                                type: integer
                          edge_follow:
                            type: object
                            properties:
                              count:
                                type: integer
                          full_name:
                            type: string
                          id:
                            type: string
                          is_private:
                            type: boolean
                          is_verified:
                            type: boolean
                          profile_pic_url:
                            type: string
                          profile_pic_url_hd:
                            type: string
                          username:
                            type: string
                          edge_owner_to_timeline_media:
                            type: object
                            properties:
                              count:
                                type: integer
                  status:
                    type: string
                required:
                  - data
  /api/v1/media/{id}/info/:
    get:
      operationId: getPost
      summary: "Get post/media detail — caption, like count, comment count, media URLs, author info, timestamps"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getPost
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK (not shortcode). Get from getFeed items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  num_results:
                    type: integer
                  more_available:
                    type: boolean
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        pk:
                          type: string
                        id:
                          type: string
                        code:
                          type: string
                        media_type:
                          type: integer
                        taken_at:
                          type: integer
                        caption:
                          type: object
                          properties:
                            text:
                              type: string
                        like_count:
                          type: integer
                        comment_count:
                          type: integer
                        image_versions2:
                          type: object
                          properties:
                            candidates:
                              type: array
                              items:
                                type: object
                                properties:
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  url:
                                    type: string
                        video_versions:
                          type: array
                          items:
                            type: object
                            properties:
                              width:
                                type: integer
                              height:
                                type: integer
                              url:
                                type: string
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            username:
                              type: string
                  status:
                    type: string
                required:
                  - num_results
                  - items
                  - status
  /api/v1/feed/user/{id}/:
    get:
      operationId: getFeed
      summary: "Get user feed — posts with thumbnails, captions, like/comment counts, pagination via next_max_id"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getFeed
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: count
          in: query
          required: false
          description: Number of posts to return (default 12)
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response next_max_id
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  num_results:
                    type: integer
                  more_available:
                    type: boolean
                  next_max_id:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        pk:
                          type: string
                        id:
                          type: string
                        code:
                          type: string
                        media_type:
                          type: integer
                        taken_at:
                          type: integer
                        caption:
                          type: object
                          properties:
                            text:
                              type: string
                        like_count:
                          type: integer
                        comment_count:
                          type: integer
                        image_versions2:
                          type: object
                          properties:
                            candidates:
                              type: array
                              items:
                                type: object
                                properties:
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  url:
                                    type: string
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            username:
                              type: string
                  status:
                    type: string
                required:
                  - num_results
                  - more_available
                  - items
                  - status
  /web/search/topsearch/:
    get:
      operationId: searchUsers
      summary: "Search users and content — returns users with profile pics, usernames, verification status"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: searchUsers
      parameters:
        - name: query
          in: query
          required: true
          description: Search query string
          schema:
            type: string
          example: nasa
        - name: context
          in: query
          required: false
          description: Search context type
          schema:
            type: string
            default: blended
          example: blended
        - name: include_reel
          in: query
          required: false
          description: Include reel data in results
          schema:
            type: string
            default: "true"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        position:
                          type: integer
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            full_name:
                              type: string
                            is_private:
                              type: boolean
                            is_verified:
                              type: boolean
                            profile_pic_url:
                              type: string
                            username:
                              type: string
                            follower_count:
                              type: integer
                            friendship_status:
                              type: object
                              properties:
                                following:
                                  type: boolean
                  places:
                    type: array
                    items:
                      type: object
                  hashtags:
                    type: array
                    items:
                      type: object
                  has_more:
                    type: boolean
                  status:
                    type: string
                required:
                  - users
                  - status
  /user/{username}/posts:
    get:
      operationId: getUserPosts
      summary: "Get a user's recent posts by username — media grid with captions, likes, comments, media URLs, pagination"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getUserPosts
      parameters:
        - name: username
          in: path
          required: true
          description: Instagram username (without @ prefix)
          schema:
            type: string
          example: instagram
        - name: count
          in: query
          required: false
          description: Number of posts to return (default 12)
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response next_max_id
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      username:
                        type: string
                      full_name:
                        type: string
                    required:
                      - id
                      - username
                  num_results:
                    type: integer
                  more_available:
                    type: boolean
                  next_max_id:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        pk:
                          type: string
                        id:
                          type: string
                        code:
                          type: string
                        media_type:
                          type: integer
                        taken_at:
                          type: integer
                        caption:
                          type: object
                          properties:
                            text:
                              type: string
                        like_count:
                          type: integer
                        comment_count:
                          type: integer
                        image_versions2:
                          type: object
                          properties:
                            candidates:
                              type: array
                              items:
                                type: object
                                properties:
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  url:
                                    type: string
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            username:
                              type: string
                required:
                  - num_results
                  - items
  /api/v1/media/{id}/comments/:
    get:
      operationId: getPostComments
      summary: "Get comments on a post — text, author info, like counts, threading support, pagination"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getPostComments
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK. Get from getFeed items[].pk or getUserPosts items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
        - name: can_support_threading
          in: query
          required: false
          description: Enable threaded comment replies
          schema:
            type: string
            default: "true"
        - name: min_id
          in: query
          required: false
          description: Pagination cursor from previous response next_min_id
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments:
                    type: array
                    items:
                      type: object
                      properties:
                        pk:
                          type: string
                        text:
                          type: string
                        created_at:
                          type: integer
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            username:
                              type: string
                            full_name:
                              type: string
                            is_private:
                              type: boolean
                            is_verified:
                              type: boolean
                            profile_pic_url:
                              type: string
                        comment_like_count:
                          type: integer
                        child_comment_count:
                          type: integer
                      required:
                        - pk
                        - text
                        - user
                  comment_count:
                    type: integer
                  has_more_comments:
                    type: boolean
                  next_min_id:
                    type: string
                  status:
                    type: string
                required:
                  - comments
                  - status
  /api/v1/feed/user/{id}/story/:
    get:
      operationId: getStories
      summary: "Get a user's current stories — photos and videos with expiration times, media URLs"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getStories
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reel:
                    type: ["null", object]
                    description: "Story reel — null if user has no active stories"
                    properties:
                      id:
                        type: string
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            pk:
                              type: string
                            media_type:
                              type: integer
                            taken_at:
                              type: integer
                            expiring_at:
                              type: integer
                            image_versions2:
                              type: object
                              properties:
                                candidates:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                      url:
                                        type: string
                            video_versions:
                              type: array
                              items:
                                type: object
                                properties:
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  url:
                                    type: string
                          required:
                            - pk
                            - media_type
                            - taken_at
                            - expiring_at
                      user:
                        type: object
                        properties:
                          pk:
                            type: string
                          username:
                            type: string
                          full_name:
                            type: string
                          is_private:
                            type: boolean
                          is_verified:
                            type: boolean
                          profile_pic_url:
                            type: string
                    required:
                      - id
                      - items
                      - user
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/likes/{id}/like/:
    post:
      operationId: likePost
      summary: "Like a post — toggle like on a media item (requires CSRF token)"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: likePost
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK. Get from getFeed items[].pk or getUserPosts items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/likes/{id}/unlike/:
    post:
      operationId: unlikePost
      summary: "Unlike a post — remove like from a media item"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: unlikePost
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK. Get from getFeed items[].pk or getUserPosts items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /api/v1/friendships/create/{id}/:
    post:
      operationId: followUser
      summary: "Follow a user — instant for public accounts, pending for private"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: followUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  friendship_status:
                    type: object
                    properties:
                      following:
                        type: boolean
                      outgoing_request:
                        type: boolean
                  status:
                    type: string
                required:
                  - status
  /api/v1/friendships/destroy/{id}/:
    post:
      operationId: unfollowUser
      summary: "Unfollow a user — remove from following list"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: unfollowUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  friendship_status:
                    type: object
                    properties:
                      following:
                        type: boolean
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/save/{id}/save/:
    post:
      operationId: savePost
      summary: "Save/bookmark a post to your saved collection"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: savePost
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK. Get from getFeed items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/save/{id}/unsave/:
    post:
      operationId: unsavePost
      summary: "Remove a post from your saved collection"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: unsavePost
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK"
          schema:
            type: string
          example: "3865890235180097425"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/comments/{id}/add/:
    post:
      operationId: createComment
      summary: "Add a comment to a post"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: createComment
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK. Get from getFeed items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - comment_text
              properties:
                comment_text:
                  type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  from:
                    type: object
                    properties:
                      id:
                        type: string
                      username:
                        type: string
                      full_name:
                        type: string
                  text:
                    type: string
                  created_time:
                    type: integer
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/comments/{media_id}/{comment_id}/delete/:
    post:
      operationId: deleteComment
      summary: "Delete a comment from a post"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: deleteComment
      parameters:
        - name: media_id
          in: path
          required: true
          description: "Numeric media PK"
          schema:
            type: string
          example: "3865890235180097425"
        - name: comment_id
          in: path
          required: true
          description: "Comment PK. Get from getPostComments comments[].pk"
          schema:
            type: string
          example: "18042648274123456"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/friendships/{id}/block/:
    post:
      operationId: blockUser
      summary: "Block a user — prevent them from seeing your content or contacting you"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: blockUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  friendship_status:
                    type: object
                    properties:
                      blocking:
                        type: boolean
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/friendships/{id}/unblock/:
    post:
      operationId: unblockUser
      summary: "Unblock a user — restore their ability to see your content"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: unblockUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  friendship_status:
                    type: object
                    properties:
                      blocking:
                        type: boolean
                  status:
                    type: string
                required:
                  - status
  /user/{id}/mute:
    post:
      operationId: muteUser
      summary: "Mute a user — hide their posts and stories from your feed"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: muteUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /user/{id}/unmute:
    post:
      operationId: unmuteUser
      summary: "Unmute a user — restore their posts and stories in your feed"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: unmuteUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric)"
          schema:
            type: string
          example: "25025320"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /api/v1/discover/web/explore_grid/:
    get:
      operationId: getExplore
      summary: "Get Explore page — trending posts and suggested content, flattened from explore grid"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getExplore
      parameters:
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: Flattened media items from explore grid sections
                    items:
                      type: object
                      properties:
                        pk:
                          type: string
                        id:
                          type: string
                        code:
                          type: string
                        media_type:
                          type: integer
                        taken_at:
                          type: integer
                        caption:
                          type: object
                          properties:
                            text:
                              type: string
                        like_count:
                          type: integer
                        comment_count:
                          type: integer
                        image_versions2:
                          type: object
                          properties:
                            candidates:
                              type: array
                              items:
                                type: object
                                properties:
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  url:
                                    type: string
                  more_available:
                    type: boolean
                  next_max_id:
                    type: string
                  status:
                    type: string
                required:
                  - items
                  - status
  /api/v1/friendships/{id}/followers/:
    get:
      operationId: getFollowers
      summary: "Get a user's followers list — usernames, profile pics, verification status"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getFollowers
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: count
          in: query
          required: false
          description: Number of followers to return (default 12)
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        pk:
                          type: string
                        username:
                          type: string
                        full_name:
                          type: string
                        is_private:
                          type: boolean
                        is_verified:
                          type: boolean
                        profile_pic_url:
                          type: string
                  next_max_id:
                    type: string
                  big_list:
                    type: boolean
                  status:
                    type: string
                required:
                  - users
                  - status
  /api/v1/friendships/{id}/following/:
    get:
      operationId: getFollowing
      summary: "Get accounts a user follows"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getFollowing
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: count
          in: query
          required: false
          description: Number of following to return (default 12)
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        pk:
                          type: string
                        username:
                          type: string
                        full_name:
                          type: string
                        is_private:
                          type: boolean
                        is_verified:
                          type: boolean
                        profile_pic_url:
                          type: string
                  next_max_id:
                    type: string
                  big_list:
                    type: boolean
                  status:
                    type: string
                required:
                  - users
                  - status
  /user/{id}/reels:
    get:
      operationId: getReels
      summary: "Get a user's Reels — short-form video content with play counts"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getReels
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: count
          in: query
          required: false
          description: Number of reels to return (default 12)
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        media:
                          type: object
                          properties:
                            pk:
                              type: string
                            id:
                              type: string
                            code:
                              type: string
                            media_type:
                              type: integer
                            caption:
                              type: object
                              properties:
                                text:
                                  type: string
                            like_count:
                              type: integer
                            play_count:
                              type: integer
                            image_versions2:
                              type: object
                              properties:
                                candidates:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                      url:
                                        type: string
                            video_versions:
                              type: array
                              items:
                                type: object
                                properties:
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  url:
                                    type: string
                            user:
                              type: object
                              properties:
                                pk:
                                  type: string
                                username:
                                  type: string
                  paging_info:
                    type: object
                    properties:
                      max_id:
                        type: string
                      more_available:
                        type: boolean
                  status:
                    type: string
                required:
                  - items
                  - status
  /api/v1/news/inbox/:
    get:
      operationId: getNotifications
      summary: "Get activity notifications — likes, comments, follows, mentions"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getNotifications
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  counts:
                    type: object
                    properties:
                      relationships:
                        type: integer
                      usertags:
                        type: integer
                      comments:
                        type: integer
                      likes:
                        type: integer
                  new_stories:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: integer
                        args:
                          type: object
                          properties:
                            text:
                              type: string
                            profile_id:
                              type: string
                            profile_name:
                              type: string
                            timestamp:
                              type: [string, number]
                  old_stories:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: integer
                        args:
                          type: object
                          properties:
                            text:
                              type: string
                            profile_id:
                              type: string
                            profile_name:
                              type: string
                            timestamp:
                              type: [string, number]
                  status:
                    type: string
                required:
                  - status
