openapi: 3.1.0
info:
  title: instagram
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T08:53:52.108Z
    requires_auth: true
servers:
  - url: https://www.instagram.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: csrftoken
        header: x-csrftoken
paths:
  /api/v1/users/web_profile_info/:
    get:
      operationId: getUserProfile
      summary: Get user profile info by username
      x-openweb:
        permission: read
        build:
          stable_id: ig_user_profile_info
          tool_version: 2
      parameters:
        - name: username
          in: query
          required: true
          schema:
            type: string
          example: natgeo
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
          example: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
          example: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          biography:
                            type: string
                          edge_followed_by:
                            type: object
                            properties:
                              count:
                                type: integer
                          edge_follow:
                            type: object
                            properties:
                              count:
                                type: integer
                          full_name:
                            type: string
                          id:
                            type: string
                          is_private:
                            type: boolean
                          is_verified:
                            type: boolean
                          profile_pic_url_hd:
                            type: string
                          username:
                            type: string
                          edge_owner_to_timeline_media:
                            type: object
                            properties:
                              count:
                                type: integer
                  status:
                    type: string
  /api/v1/feed/user/{user_id}/:
    get:
      operationId: getUserPosts
      summary: Get a user's recent posts by user ID
      x-openweb:
        permission: read
        build:
          stable_id: ig_user_feed
          tool_version: 2
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          example: "787132"
        - name: count
          in: query
          required: false
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
          example: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
          example: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        pk:
                          type: string
                        code:
                          type: string
                        media_type:
                          type: integer
                        caption:
                          type: object
                          properties:
                            text:
                              type: string
                        like_count:
                          type: integer
                        comment_count:
                          type: integer
                        image_versions2:
                          type: object
                        user:
                          type: object
                          properties:
                            username:
                              type: string
                            full_name:
                              type: string
                  more_available:
                    type: boolean
                  next_max_id:
                    type: string
                  status:
                    type: string
  /api/v1/media/{media_id}/info/:
    get:
      operationId: getMediaInfo
      summary: Get detailed info about a specific media post
      x-openweb:
        permission: read
        build:
          stable_id: ig_media_info
          tool_version: 2
      parameters:
        - name: media_id
          in: path
          required: true
          schema:
            type: string
          example: "3854796740277763042"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
          example: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
          example: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        pk:
                          type: string
                        code:
                          type: string
                        media_type:
                          type: integer
                        caption:
                          type: object
                          properties:
                            text:
                              type: string
                        like_count:
                          type: integer
                        comment_count:
                          type: integer
                        image_versions2:
                          type: object
                        user:
                          type: object
                          properties:
                            username:
                              type: string
                            full_name:
                              type: string
                            is_verified:
                              type: boolean
                  status:
                    type: string
  /api/v1/media/{media_id}/comments/:
    get:
      operationId: getMediaComments
      summary: Get comments on a media post
      x-openweb:
        permission: read
        build:
          stable_id: ig_media_comments
          tool_version: 2
      parameters:
        - name: media_id
          in: path
          required: true
          schema:
            type: string
          example: "3854796740277763042"
        - name: min_id
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
          example: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
          example: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments:
                    type: array
                    items:
                      type: object
                      properties:
                        pk:
                          type: string
                        text:
                          type: string
                        user:
                          type: object
                          properties:
                            username:
                              type: string
                            full_name:
                              type: string
                        created_at:
                          type: integer
                        comment_like_count:
                          type: integer
                  has_more_comments:
                    type: boolean
                  next_min_id:
                    type: string
                  status:
                    type: string
  /web/search/topsearch/:
    get:
      operationId: searchUsers
      summary: Search for users, hashtags, and places
      x-openweb:
        permission: read
        build:
          stable_id: b1f32a3d9844a8f8
          tool_version: 2
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          example: nature
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        position:
                          type: integer
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            id:
                              type: string
                            full_name:
                              type: string
                            is_private:
                              type: boolean
                            is_verified:
                              type: boolean
                            profile_pic_url:
                              type: string
                            username:
                              type: string
                            friendship_status:
                              type: object
                              properties:
                                following:
                                  type: boolean
                            social_context:
                              type: string
                          required:
                            - pk
                            - id
                            - full_name
                            - is_private
                            - is_verified
                            - profile_pic_url
                            - username
                      required:
                        - position
                        - user
                  places:
                    type: array
                    items:
                      type: object
                  hashtags:
                    type: array
                    items:
                      type: object
                  has_more:
                    type: boolean
                  clear_client_cache:
                    type: boolean
                  status:
                    type: string
                required:
                  - users
                  - places
                  - hashtags
                  - has_more
                  - status
  /api/v1/fbsearch/web/top_serp/:
    get:
      operationId: searchContent
      summary: Search for content (posts, reels) by keyword
      x-openweb:
        permission: read
        build:
          stable_id: 8e6f5e7249c37ed7
          tool_version: 2
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          example: nature
        - name: enable_metadata
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
          example: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
          example: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rank_token:
                    type: string
                  clear_client_cache:
                    type: boolean
                  media_grid:
                    type: object
                    properties:
                      sections:
                        type: array
                        items:
                          type: object
                          properties:
                            layout_type:
                              type: string
                            feed_type:
                              type: string
                            layout_content:
                              type: object
                      more_available:
                        type: boolean
                      next_max_id:
                        type: string
                  status:
                    type: string
  /api/v1/discover/web/explore_grid/:
    get:
      operationId: getExploreGrid
      summary: Get the explore page grid of popular content
      x-openweb:
        permission: read
        build:
          stable_id: 8ecb3230041e5ec0
          tool_version: 2
      parameters:
        - name: is_prefetch
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: omit_cover_media
          in: query
          required: false
          schema:
            type: string
          example: "false"
        - name: module
          in: query
          required: false
          schema:
            type: string
          example: explore_popular
        - name: max_id
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
          example: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
          example: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sectional_items:
                    type: array
                    items:
                      type: object
                      properties:
                        layout_type:
                          type: string
                        feed_type:
                          type: string
                        explore_item_info:
                          type: object
                          properties:
                            num_columns:
                              type: integer
                            aspect_ratio:
                              type: number
                        layout_content:
                          type: object
                  more_available:
                    type: boolean
                  next_max_id:
                    type: string
                  status:
                    type: string
  /api/v1/feed/reels_tray/:
    get:
      operationId: getReelsTray
      summary: Get the stories/reels tray for the logged-in user
      x-openweb:
        permission: read
        build:
          stable_id: ig_reels_tray
          tool_version: 2
      parameters:
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
          example: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
          example: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tray:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            username:
                              type: string
                            profile_pic_url:
                              type: string
                  status:
                    type: string
  /api/v1/feed/timeline/:
    post:
      operationId: getTimeline
      summary: Get the home feed timeline for the logged-in user
      x-openweb:
        permission: read
        build:
          stable_id: ig_timeline
          tool_version: 2
      parameters:
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
          example: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
          example: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  feed_items:
                    type: array
                    items:
                      type: object
                      properties:
                        media_or_ad:
                          type: object
                          properties:
                            id:
                              type: string
                            code:
                              type: string
                            media_type:
                              type: integer
                            caption:
                              type: object
                              properties:
                                text:
                                  type: string
                            user:
                              type: object
                              properties:
                                username:
                                  type: string
                                full_name:
                                  type: string
                            like_count:
                              type: integer
                            comment_count:
                              type: integer
                  more_available:
                    type: boolean
                  next_max_id:
                    type: string
                  status:
                    type: string
