openapi: 3.1.0
info:
  title: instagram
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-02T00:10:59.917Z
    requires_auth: true
servers:
  - url: https://www.instagram.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: csrftoken
        header: x-csrftoken
        scope: [POST, PUT, DELETE]
paths:
  /api/v1/users/web_profile_info/:
    get:
      operationId: getUserProfile
      summary: "Get user profile — biography, follower/following counts, profile pic, post count, verification status"
      x-openweb:
        permission: read
        build:
          stable_id: 4f0f32e129855418
          tool_version: 2
      parameters:
        - name: username
          in: query
          required: true
          description: Instagram username (without @ prefix)
          schema:
            type: string
          example: instagram
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          biography:
                            type: string
                          bio_links:
                            type: array
                            items:
                              type: object
                              properties:
                                title:
                                  type: string
                                url:
                                  type: string
                                  format: uri
                          blocked_by_viewer:
                            type: boolean
                          external_url:
                            type: string
                            format: uri
                          edge_followed_by:
                            type: object
                            properties:
                              count:
                                type: integer
                          edge_follow:
                            type: object
                            properties:
                              count:
                                type: integer
                          full_name:
                            type: string
                          id:
                            type: string
                          is_private:
                            type: boolean
                          is_verified:
                            type: boolean
                          profile_pic_url:
                            type: string
                            format: uri
                          profile_pic_url_hd:
                            type: string
                            format: uri
                          username:
                            type: string
                          edge_owner_to_timeline_media:
                            type: object
                            properties:
                              count:
                                type: integer
                required:
                  - data
  /api/v1/media/{id}/info/:
    get:
      operationId: getPost
      summary: "Get post/media detail — caption, like count, comment count, media URLs, author info, timestamps"
      x-openweb:
        permission: read
        build:
          stable_id: 6d5414f7e1b7991e
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK (not shortcode). Get from getFeed items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  num_results:
                    type: integer
                  more_available:
                    type: boolean
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        pk:
                          type: string
                        code:
                          type: string
                          description: Shortcode for URL (instagram.com/p/{code}/)
                        media_type:
                          type: integer
                          description: "1=photo, 2=video, 8=carousel"
                        caption:
                          type: object
                          properties:
                            text:
                              type: string
                            created_at:
                              type: integer
                        like_count:
                          type: integer
                        comment_count:
                          type: integer
                        taken_at:
                          type: integer
                        image_versions2:
                          type: object
                          properties:
                            candidates:
                              type: array
                              items:
                                type: object
                                properties:
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  url:
                                    type: string
                                    format: uri
                        video_versions:
                          type: array
                          items:
                            type: object
                            properties:
                              width:
                                type: integer
                              height:
                                type: integer
                              url:
                                type: string
                                format: uri
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            username:
                              type: string
                            full_name:
                              type: string
                            profile_pic_url:
                              type: string
                              format: uri
                            is_verified:
                              type: boolean
                  status:
                    type: string
                required:
                  - num_results
                  - items
                  - status
  /api/v1/feed/user/{id}/:
    get:
      operationId: getFeed
      summary: "Get user feed — posts with thumbnails, captions, like/comment counts, pagination via next_max_id"
      x-openweb:
        permission: read
        build:
          stable_id: 294082907d0d38bc
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: count
          in: query
          required: false
          description: Number of posts to return (default 12)
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response next_max_id
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  num_results:
                    type: integer
                  more_available:
                    type: boolean
                  next_max_id:
                    type: string
                    description: Cursor for next page
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        pk:
                          type: string
                        code:
                          type: string
                          description: Shortcode for URL
                        media_type:
                          type: integer
                        caption:
                          type: object
                          properties:
                            text:
                              type: string
                        like_count:
                          type: integer
                        comment_count:
                          type: integer
                        taken_at:
                          type: integer
                        image_versions2:
                          type: object
                          properties:
                            candidates:
                              type: array
                              items:
                                type: object
                                properties:
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  url:
                                    type: string
                                    format: uri
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            username:
                              type: string
                  auto_load_more_enabled:
                    type: boolean
                  status:
                    type: string
                required:
                  - num_results
                  - more_available
                  - items
                  - status
  /web/search/topsearch/:
    get:
      operationId: searchUsers
      summary: "Search users and content — returns users with profile pics, usernames, verification status, follower counts"
      x-openweb:
        permission: read
        build:
          stable_id: 53427dabc7addb4e
          tool_version: 2
      parameters:
        - name: query
          in: query
          required: true
          description: Search query string
          schema:
            type: string
          example: nasa
        - name: context
          in: query
          required: false
          description: Search context type
          schema:
            type: string
            default: blended
          example: blended
        - name: include_reel
          in: query
          required: false
          description: Include reel data
          schema:
            type: string
            default: "true"
          example: "true"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        position:
                          type: integer
                        user:
                          type: object
                          properties:
                            pk:
                              type: string
                            id:
                              type: string
                            full_name:
                              type: string
                            is_private:
                              type: boolean
                            is_verified:
                              type: boolean
                            profile_pic_url:
                              type: string
                              format: uri
                            username:
                              type: string
                            follower_count:
                              type: integer
                            friendship_status:
                              type: object
                              properties:
                                following:
                                  type: boolean
                                is_private:
                                  type: boolean
                  places:
                    type: array
                    items:
                      type: object
                  hashtags:
                    type: array
                    items:
                      type: object
                  has_more:
                    type: boolean
                  status:
                    type: string
                required:
                  - users
                  - status
  /user/{username}/posts:
    get:
      operationId: getUserPosts
      summary: "Get a user's recent posts by username — media grid with captions, likes, comments, media URLs, pagination"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getUserPosts
      parameters:
        - name: username
          in: path
          required: true
          description: Instagram username (without @ prefix)
          schema:
            type: string
          example: instagram
        - name: count
          in: query
          required: false
          description: Number of posts to return (default 12)
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response next_max_id
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    description: Resolved user from profile lookup
                    properties:
                      id:
                        type: string
                        description: Numeric user ID
                      username:
                        type: string
                        description: Instagram handle
                      full_name:
                        type: string
                        description: Display name
                    required:
                      - id
                      - username
                  num_results:
                    type: integer
                    description: Number of posts returned in this page
                  more_available:
                    type: boolean
                    description: Whether more posts exist beyond this page
                  next_max_id:
                    type: string
                    description: Cursor for next page — pass as max_id
                  items:
                    type: array
                    description: Post items in reverse-chronological order
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Composite media ID (pk_userId)
                        pk:
                          type: string
                          description: Numeric media PK — use as id in getPost, getPostComments, likePost
                        code:
                          type: string
                          description: Shortcode for URL (instagram.com/p/{code}/)
                        media_type:
                          type: integer
                          description: "1=photo, 2=video, 8=carousel"
                        caption:
                          type: object
                          description: Post caption
                          properties:
                            text:
                              type: string
                              description: Caption text content
                        like_count:
                          type: integer
                          description: Number of likes
                        comment_count:
                          type: integer
                          description: Number of comments
                        taken_at:
                          type: integer
                          description: Unix timestamp when posted
                        image_versions2:
                          type: object
                          description: Image renditions at multiple resolutions
                          properties:
                            candidates:
                              type: array
                              description: Available image sizes sorted by quality
                              items:
                                type: object
                                description: Single image rendition
                                properties:
                                  width:
                                    type: integer
                                    description: Width in pixels
                                  height:
                                    type: integer
                                    description: Height in pixels
                                  url:
                                    type: string
                                    format: uri
                                    description: CDN URL for this rendition
                                required:
                                  - width
                                  - height
                                  - url
                        user:
                          type: object
                          description: Post author
                          properties:
                            pk:
                              type: string
                              description: Numeric user ID
                            username:
                              type: string
                              description: Instagram handle
                          required:
                            - pk
                            - username
                      required:
                        - pk
                        - media_type
                required:
                  - num_results
                  - items
  /api/v1/media/{id}/comments/:
    get:
      operationId: getPostComments
      summary: "Get comments on a post — text, author info, like counts, threading support, pagination"
      x-openweb:
        permission: read
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK. Get from getFeed items[].pk or getUserPosts items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
        - name: can_support_threading
          in: query
          required: false
          description: Enable threaded comment replies
          schema:
            type: string
            default: "true"
        - name: min_id
          in: query
          required: false
          description: Pagination cursor from previous response next_min_id
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments:
                    type: array
                    description: Comment list ordered by recency
                    items:
                      type: object
                      description: Single comment
                      properties:
                        pk:
                          type: string
                          description: Comment primary key
                        text:
                          type: string
                          description: Comment text
                        created_at:
                          type: integer
                          description: Unix timestamp
                        user:
                          type: object
                          description: Comment author
                          properties:
                            pk:
                              type: [string, integer]
                              description: "User ID — string for newer accounts, integer for older ones"
                            username:
                              type: string
                              description: Instagram handle
                            full_name:
                              type: string
                              description: Display name
                            profile_pic_url:
                              type: string
                              format: uri
                              description: Profile picture URL
                            is_verified:
                              type: boolean
                              description: Blue-check verification status
                          required:
                            - pk
                            - username
                        comment_like_count:
                          type: integer
                          description: Number of likes on this comment
                        child_comment_count:
                          type: integer
                          description: Number of threaded replies
                      required:
                        - pk
                        - text
                        - user
                  comment_count:
                    type: integer
                    description: Total comments on the post
                  has_more_comments:
                    type: boolean
                    description: Whether more comments exist
                  next_min_id:
                    type: string
                    description: Cursor for next page — pass as min_id
                  status:
                    type: string
                    description: API status
                required:
                  - comments
                  - status
  /api/v1/feed/user/{id}/story/:
    get:
      operationId: getStories
      summary: "Get a user's current stories — photos and videos with expiration times, media URLs"
      x-openweb:
        permission: read
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reel:
                    type: ["null", object]
                    description: "Story reel — null if user has no active stories"
                    properties:
                      id:
                        type: string
                        description: Reel ID (matches user ID)
                      items:
                        type: array
                        description: Story items in chronological order
                        items:
                          type: object
                          description: Single story item
                          properties:
                            id:
                              type: string
                              description: Composite story ID
                            pk:
                              type: string
                              description: Numeric story PK
                            media_type:
                              type: integer
                              description: "1=photo, 2=video"
                            taken_at:
                              type: integer
                              description: Unix timestamp when posted
                            expiring_at:
                              type: integer
                              description: Unix timestamp when story expires (24h after taken_at)
                            image_versions2:
                              type: object
                              description: Image renditions at multiple resolutions
                              properties:
                                candidates:
                                  type: array
                                  description: Available image sizes
                                  items:
                                    type: object
                                    description: Single image rendition
                                    properties:
                                      width:
                                        type: integer
                                        description: Width in pixels
                                      height:
                                        type: integer
                                        description: Height in pixels
                                      url:
                                        type: string
                                        format: uri
                                        description: CDN URL
                                    required:
                                      - width
                                      - height
                                      - url
                            video_versions:
                              type: array
                              description: Video renditions (present when media_type=2)
                              items:
                                type: object
                                description: Single video rendition
                                properties:
                                  width:
                                    type: integer
                                    description: Width in pixels
                                  height:
                                    type: integer
                                    description: Height in pixels
                                  url:
                                    type: string
                                    format: uri
                                    description: CDN URL
                                required:
                                  - width
                                  - height
                                  - url
                          required:
                            - pk
                            - media_type
                            - taken_at
                            - expiring_at
                      user:
                        type: object
                        description: Story owner
                        properties:
                          pk:
                            type: string
                            description: Numeric user ID
                          username:
                            type: string
                            description: Instagram handle
                          full_name:
                            type: string
                            description: Display name
                          profile_pic_url:
                            type: string
                            format: uri
                            description: Profile picture URL
                        required:
                          - pk
                          - username
                    required:
                      - id
                      - items
                      - user
                  status:
                    type: string
                    description: API status
                required:
                  - status
  /api/v1/web/likes/{id}/like/:
    post:
      operationId: likePost
      summary: "Like a post — toggle like on a media item (requires CSRF token)"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: likePost
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK. Get from getFeed items[].pk or getUserPosts items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: "API status — \"ok\" on success"
                required:
                  - status
  /api/v1/web/likes/{id}/unlike/:
    post:
      operationId: unlikePost
      summary: "Unlike a post — remove like from a media item"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: unlikePost
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK. Get from getFeed items[].pk or getUserPosts items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /api/v1/friendships/create/{id}/:
    post:
      operationId: followUser
      summary: "Follow a user — instant for public accounts, pending for private"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: followUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  friendship_status:
                    type: object
                    properties:
                      following:
                        type: boolean
                      outgoing_request:
                        type: boolean
                        description: "true if account is private and follow is pending"
                  status:
                    type: string
                required:
                  - status
  /api/v1/friendships/destroy/{id}/:
    post:
      operationId: unfollowUser
      summary: "Unfollow a user — remove from following list"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: unfollowUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  friendship_status:
                    type: object
                    properties:
                      following:
                        type: boolean
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/save/{id}/save/:
    post:
      operationId: savePost
      summary: "Save/bookmark a post to your saved collection"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: savePost
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK. Get from getFeed items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/save/{id}/unsave/:
    post:
      operationId: unsavePost
      summary: "Remove a post from your saved collection"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: unsavePost
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK"
          schema:
            type: string
          example: "3865890235180097425"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/comments/{id}/add/:
    post:
      operationId: createComment
      summary: "Add a comment to a post"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: createComment
      parameters:
        - name: id
          in: path
          required: true
          description: "Numeric media PK. Get from getFeed items[].pk"
          schema:
            type: string
          example: "3865890235180097425"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - comment_text
              properties:
                comment_text:
                  type: string
                  description: Comment text content
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Comment primary key
                  from:
                    type: object
                    properties:
                      id:
                        type: string
                      username:
                        type: string
                      full_name:
                        type: string
                  text:
                    type: string
                  created_time:
                    type: integer
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/comments/{media_id}/{comment_id}/delete/:
    post:
      operationId: deleteComment
      summary: "Delete a comment from a post"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: deleteComment
      parameters:
        - name: media_id
          in: path
          required: true
          description: "Numeric media PK"
          schema:
            type: string
          example: "3865890235180097425"
        - name: comment_id
          in: path
          required: true
          description: "Comment PK. Get from getPostComments comments[].pk"
          schema:
            type: string
          example: "18042648274123456"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/friendships/{id}/block/:
    post:
      operationId: blockUser
      summary: "Block a user — prevent them from seeing your content or contacting you"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: blockUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  friendship_status:
                    type: object
                    properties:
                      blocking:
                        type: boolean
                  status:
                    type: string
                required:
                  - status
  /api/v1/web/friendships/{id}/unblock/:
    post:
      operationId: unblockUser
      summary: "Unblock a user — restore their ability to see your content"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: unblockUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  friendship_status:
                    type: object
                    properties:
                      blocking:
                        type: boolean
                  status:
                    type: string
                required:
                  - status
  /user/{id}/mute:
    post:
      operationId: muteUser
      summary: "Mute a user — hide their posts and stories from your feed"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: muteUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /user/{id}/unmute:
    post:
      operationId: unmuteUser
      summary: "Unmute a user — restore their posts and stories in your feed"
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: instagram-api
          operation: unmuteUser
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric)"
          schema:
            type: string
          example: "25025320"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                  - status
  /api/v1/discover/web/explore_grid/:
    get:
      operationId: getExplore
      summary: "Get Explore page — trending posts and suggested content grid"
      x-openweb:
        permission: read
      parameters:
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sectional_items:
                    type: array
                    items:
                      type: object
                      properties:
                        layout_type:
                          type: string
                        feed_type:
                          type: string
                        layout_content:
                          type: object
                          properties:
                            medias:
                              type: array
                              items:
                                type: object
                                properties:
                                  media:
                                    type: object
                                    properties:
                                      pk:
                                        type: string
                                      code:
                                        type: string
                                      media_type:
                                        type: integer
                                      like_count:
                                        type: integer
                                      caption:
                                        type: object
                                        properties:
                                          text:
                                            type: string
                  more_available:
                    type: boolean
                  next_max_id:
                    type: string
                  status:
                    type: string
                required:
                  - status
  /api/v1/friendships/{id}/followers/:
    get:
      operationId: getFollowers
      summary: "Get a user's followers list — usernames, profile pics, verification status"
      x-openweb:
        permission: read
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: count
          in: query
          required: false
          description: Number of followers to return (default 12)
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        pk:
                          type: string
                        username:
                          type: string
                        full_name:
                          type: string
                        is_private:
                          type: boolean
                        is_verified:
                          type: boolean
                        profile_pic_url:
                          type: string
                          format: uri
                  next_max_id:
                    type: string
                  big_list:
                    type: boolean
                  status:
                    type: string
                required:
                  - users
                  - status
  /api/v1/friendships/{id}/following/:
    get:
      operationId: getFollowing
      summary: "Get accounts a user follows"
      x-openweb:
        permission: read
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: count
          in: query
          required: false
          description: Number of following to return (default 12)
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        pk:
                          type: string
                        username:
                          type: string
                        full_name:
                          type: string
                        is_private:
                          type: boolean
                        is_verified:
                          type: boolean
                        profile_pic_url:
                          type: string
                          format: uri
                  next_max_id:
                    type: string
                  big_list:
                    type: boolean
                  status:
                    type: string
                required:
                  - users
                  - status
  /user/{id}/reels:
    get:
      operationId: getReels
      summary: "Get a user's Reels — short-form video content with play counts"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getReels
      parameters:
        - name: id
          in: path
          required: true
          description: "User ID (numeric). Get from getUserProfile data.user.id"
          schema:
            type: string
          example: "25025320"
        - name: count
          in: query
          required: false
          description: Number of reels to return (default 12)
          schema:
            type: integer
          example: 12
        - name: max_id
          in: query
          required: false
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        media:
                          type: object
                          properties:
                            pk:
                              type: string
                            code:
                              type: string
                            media_type:
                              type: integer
                            caption:
                              type: object
                              properties:
                                text:
                                  type: string
                            like_count:
                              type: integer
                            play_count:
                              type: integer
                            user:
                              type: object
                              properties:
                                pk:
                                  type: string
                                username:
                                  type: string
                  paging_info:
                    type: object
                    properties:
                      max_id:
                        type: string
                      more_available:
                        type: boolean
                  status:
                    type: string
                required:
                  - items
                  - status
  /api/v1/news/inbox/:
    get:
      operationId: getNotifications
      summary: "Get activity notifications — likes, comments, follows, mentions"
      x-openweb:
        permission: read
        adapter:
          name: instagram-api
          operation: getNotifications
      parameters:
        - name: x-ig-app-id
          in: header
          required: true
          schema:
            type: string
            const: "936619743392459"
        - name: x-requested-with
          in: header
          required: true
          schema:
            type: string
            const: XMLHttpRequest
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  counts:
                    type: object
                    properties:
                      relationships:
                        type: integer
                      usertags:
                        type: integer
                      comments:
                        type: integer
                      likes:
                        type: integer
                  new_stories:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: integer
                        args:
                          type: object
                          properties:
                            text:
                              type: string
                            profile_id:
                              type: string
                            timestamp:
                              type: [string, number]
                  old_stories:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: integer
                        args:
                          type: object
                          properties:
                            text:
                              type: string
                            profile_id:
                              type: string
                            timestamp:
                              type: [string, number]
                  status:
                    type: string
                required:
                  - status
