openapi: '3.1.0'
info:
  title: Starbucks
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: false
servers:
  - url: https://www.starbucks.com
    x-openweb:
      transport: page
paths:
  /stores/search:
    get:
      operationId: searchStores
      summary: Find nearby Starbucks stores by coordinates — name, address, hours, amenities, distance, mobile ordering status
      x-openweb:
        permission: read
        build:
          stable_id: sbux0001
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: starbucks
          operation: searchStores
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
          description: Latitude of search center.
          example: 37.7749
        - name: lng
          in: query
          required: true
          schema:
            type: number
          description: Longitude of search center.
          example: -122.4194
      responses:
        '200':
          description: Nearby Starbucks stores sorted by distance.
          content:
            application/json:
              schema:
                type: object
                required:
                  - count
                  - stores
                properties:
                  count:
                    type: integer
                    description: Number of stores returned (up to 50).
                  stores:
                    type: array
                    description: Stores sorted by distance from search center.
                    items:
                      type: object
                      required:
                        - storeNumber
                        - name
                      properties:
                        storeNumber:
                          type: string
                          description: Unique store number (use with getStoreDetail).
                        name:
                          type: string
                          description: Store display name.
                        distance:
                          type: number
                          description: Distance in miles from search center.
                        phoneNumber:
                          type:
                            - string
                            - 'null'
                          description: Store phone number.
                        open:
                          type: boolean
                          description: Whether the store is currently open.
                        openStatus:
                          type: string
                          description: Human-readable open status (e.g. "Opens Thursday at 4:30 AM").
                        hours:
                          type: string
                          description: Today's hours (e.g. "Open 4:30 AM-8:00 PM").
                        address:
                          type: string
                          description: Single-line street address.
                        city:
                          type: string
                          description: City name.
                        state:
                          type: string
                          description: State or province code.
                        postalCode:
                          type: string
                          description: Postal/ZIP code.
                        latitude:
                          type: number
                          description: Store latitude.
                        longitude:
                          type: number
                          description: Store longitude.
                        amenities:
                          type: array
                          items:
                            type: string
                          description: Available features (e.g. "Nitro Cold Brew", "Mobile Order and Pay").
                        mobileOrdering:
                          type: boolean
                          description: Whether mobile ordering is currently available.

  /stores/detail:
    get:
      operationId: getStoreDetail
      summary: Get full store details — address, weekly schedule, amenities, mobile ordering, coordinates
      x-openweb:
        permission: read
        build:
          stable_id: sbux0002
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: starbucks
          operation: getStoreDetail
      parameters:
        - name: storeNumber
          in: query
          required: true
          schema:
            type: string
          description: Store number from searchStores.
          example: '53646-283069'
        - name: lat
          in: query
          required: true
          schema:
            type: number
          description: Approximate latitude of the store (from searchStores).
          example: 37.7772
        - name: lng
          in: query
          required: true
          schema:
            type: number
          description: Approximate longitude of the store (from searchStores).
          example: -122.4193
      responses:
        '200':
          description: Full store details.
          content:
            application/json:
              schema:
                type: object
                required:
                  - storeNumber
                  - name
                properties:
                  storeNumber:
                    type: string
                    description: Unique store number.
                  name:
                    type: string
                    description: Store display name.
                  phoneNumber:
                    type:
                      - string
                      - 'null'
                    description: Store phone number.
                  open:
                    type: boolean
                    description: Whether the store is currently open.
                  isOpen24Hours:
                    type: boolean
                    description: Whether the store operates 24 hours.
                  openStatus:
                    type: string
                    description: Human-readable open status.
                  hours:
                    type: string
                    description: Today's hours.
                  address:
                    type: object
                    required:
                      - singleLine
                    description: Store address.
                    properties:
                      streetAddress:
                        type: string
                        description: Street address line.
                      city:
                        type: string
                        description: City name.
                      state:
                        type: string
                        description: State or province code.
                      postalCode:
                        type: string
                        description: Postal/ZIP code.
                      country:
                        type: string
                        description: Country code (e.g. "US").
                      singleLine:
                        type: string
                        description: Full address as a single line.
                  coordinates:
                    type: object
                    required:
                      - latitude
                      - longitude
                    description: Store geographic coordinates.
                    properties:
                      latitude:
                        type: number
                        description: Store latitude.
                      longitude:
                        type: number
                        description: Store longitude.
                  schedule:
                    type: array
                    description: Weekly operating schedule.
                    items:
                      type: object
                      required:
                        - day
                        - open
                      properties:
                        day:
                          type: string
                          description: Day of the week (e.g. "Monday").
                        hours:
                          type: string
                          description: Hours for that day (e.g. "4:30 AM-8:00 PM").
                        open:
                          type: boolean
                          description: Whether the store is open on that day.
                  amenities:
                    type: array
                    description: Store amenities and features.
                    items:
                      type: object
                      required:
                        - code
                        - name
                      properties:
                        code:
                          type: string
                          description: Amenity code identifier.
                        name:
                          type: string
                          description: Human-readable amenity name.
                  mobileOrdering:
                    type: object
                    required:
                      - available
                    description: Mobile ordering status.
                    properties:
                      available:
                        type: boolean
                        description: Whether mobile ordering is available.
                      guestOrdering:
                        type: boolean
                        description: Whether guest (non-account) ordering is supported.
                  ownershipType:
                    type: string
                    description: Ownership type code (CO = company-owned, LS = licensed).
                  slug:
                    type: string
                    description: URL slug for the store page.

  /menu:
    get:
      operationId: getMenu
      summary: Get Starbucks menu — categories, subcategories, products with sizes, availability, and images
      x-openweb:
        permission: read
        build:
          stable_id: sbux0003
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: starbucks
          operation: getMenu
      parameters: []
      responses:
        '200':
          description: Full menu organized by categories.
          content:
            application/json:
              schema:
                type: object
                required:
                  - categories
                properties:
                  categories:
                    type: array
                    description: Top-level menu categories.
                    items:
                      type: object
                      required:
                        - name
                        - subcategories
                      properties:
                        name:
                          type: string
                          description: Category name (e.g. "Drinks", "Food").
                        subcategories:
                          type: array
                          description: Subcategories within this category.
                          items:
                            type: object
                            required:
                              - name
                              - products
                            properties:
                              name:
                                type: string
                                description: Subcategory name (e.g. "Hot Coffee", "Bakery").
                              imageUrl:
                                type:
                                  - string
                                  - 'null'
                                description: Subcategory image URL.
                              products:
                                type: array
                                description: Products in this subcategory.
                                items:
                                  type: object
                                  required:
                                    - name
                                    - productNumber
                                  properties:
                                    name:
                                      type: string
                                      description: Product display name.
                                    productNumber:
                                      type: integer
                                      description: Product identifier.
                                    productType:
                                      type: string
                                      description: Product type ("Beverage" or "Food").
                                    availability:
                                      type: string
                                      description: Availability status.
                                    imageUrl:
                                      type:
                                        - string
                                        - 'null'
                                      description: Product image URL.
                                    formCode:
                                      type:
                                        - string
                                        - 'null'
                                      description: Form code (e.g. "Iced", "Hot").
                                    defaultSize:
                                      type:
                                        - string
                                        - 'null'
                                      description: Default size name (e.g. "Grande").
                                    sizes:
                                      type: array
                                      items:
                                        type: string
                                      description: Available sizes (e.g. ["Tall", "Grande", "Venti"]).
