openapi: 3.1.0
info:
  title: youtube
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T18:26:11.829Z
    requires_auth: true
servers:
  - url: https://www.youtube.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: browser_timezone
        header: x-youtube-time-zone
paths:
  /{param}~get:
    get:
      operationId: get
      summary: Get
      x-openweb:
        permission: read
        build:
          stable_id: 5f27cd77c4a16fd7
          tool_version: 2
        actual_path: /{param}
      parameters:
        - name: param
          in: path
          required: true
          schema:
            type: string
          example: RotateCookiesPage
        - name: origin
          in: query
          required: true
          schema:
            type: string
          example: https://www.youtube.com
        - name: yt_pid
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            text/html; charset=utf-8:
              schema:
                type: object
      servers:
        - url: https://accounts.youtube.com
  /{param}:
    post:
      operationId: create
      summary: Create
      x-openweb:
        permission: write
        build:
          stable_id: 3a6a1d4047b04554
          tool_version: 2
      parameters:
        - name: param
          in: path
          required: true
          schema:
            type: string
          example: RotateCookies
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
      servers:
        - url: https://accounts.youtube.com
  /{param}~get_2:
    get:
      operationId: get_2
      summary: Get
      x-openweb:
        permission: read
        build:
          stable_id: 5fbe94698664b295
          tool_version: 2
        actual_path: /{param}
      parameters:
        - name: param
          in: path
          required: true
          schema:
            type: string
          example: generate_204
      responses:
        "204":
          description: Success.
          content:
            "":
              schema:
                type: object
      servers:
        - url: https://rr2---sn-p5qddn7k.c.youtube.com
  /{param}~get_3:
    get:
      operationId: get_3
      summary: Get
      x-openweb:
        permission: read
        build:
          stable_id: 8fe088843f977949
          tool_version: 2
        actual_path: /{param}
      parameters:
        - name: param
          in: path
          required: true
          schema:
            type: string
          example: generate_204
      responses:
        "204":
          description: Success.
          content:
            "":
              schema:
                type: object
      servers:
        - url: https://rr4---sn-p5qs7nzk.c.youtube.com
  /{param}~get_4:
    get:
      operationId: get_4
      summary: Get
      x-openweb:
        permission: read
        build:
          stable_id: 6688c66cfb438b3f
          tool_version: 2
        actual_path: /{param}
      parameters:
        - name: param
          in: path
          required: true
          schema:
            type: string
          example: manifest.webmanifest
        - name: bzMLJw
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: cpn
          in: query
          required: false
          schema:
            type: string
          example: nzOLnaCocEZ-4Him
        - name: ei
          in: query
          required: false
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: html5
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: m
          in: query
          required: false
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: oid
          in: query
          required: false
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: pltype
          in: query
          required: false
          schema:
            type: string
          example: content
        - name: pp
          in: query
          required: false
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: ptchn
          in: query
          required: false
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: ptk
          in: query
          required: false
          schema:
            type: string
          example: youtube_single
        - name: rfwzWQ
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: search_query
          in: query
          required: false
          schema:
            type: string
          example: javascript tutorial
        - name: t
          in: query
          required: false
          schema:
            type: string
          example: 19s
        - name: tHU6Eg
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: v
          in: query
          required: false
          schema:
            type: string
          example: W6NZfCO5SIk
        - name: v0cpfg
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: v6kfiw
          in: query
          required: false
          schema:
            type: string
          example: ""
        - name: video_id
          in: query
          required: false
          schema:
            type: string
          example: W6NZfCO5SIk
      responses:
        "200":
          description: Success.
          content:
            application/manifest+json; charset=utf-8:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    enum:
                      - YouTube
                  short_name:
                    type: string
                    enum:
                      - YouTube
                  background_color:
                    type: string
                    enum:
                      - "#FFFFFF"
                  display:
                    type: string
                    enum:
                      - minimal-ui
                  start_url:
                    type: string
                    enum:
                      - /?feature=ytca
                  scope:
                    type: string
                    enum:
                      - /
                  icons:
                    type: array
                    items:
                      type: object
                      properties:
                        src:
                          type: string
                          format: uri
                        sizes:
                          type: string
                          enum:
                            - 144x144
                            - 16x16
                            - 192x192
                            - 32x32
                            - 48x48
                            - 512x512
                        type:
                          type: string
                          enum:
                            - image/png
                        purpose:
                          type: string
                          enum:
                            - maskable
                            - monochrome
                      required:
                        - src
                        - sizes
                        - type
                  theme_color:
                    type: string
                    enum:
                      - "#FF0033"
                  gcm_sender_id:
                    type: string
                    enum:
                      - "402845223712"
                  gcm_user_visible_only:
                    type: boolean
                  related_applications:
                    type: array
                    items:
                      type: object
                  capture_links:
                    type: string
                    enum:
                      - none
                  shortcuts:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          enum:
                            - Explore
                            - Subscriptions
                        url:
                          type: string
                          enum:
                            - /feed/explore?feature=app_shortcuts
                            - /feed/subscriptions?feature=app_shortcuts
                        icons:
                          type: array
                          items:
                            type: object
                            properties:
                              src:
                                type: string
                                format: uri
                              sizes:
                                type: string
                                enum:
                                  - 512x512
                              type:
                                type: string
                                enum:
                                  - image/png
                              purpose:
                                type: string
                                enum:
                                  - any monochrome
                            required:
                              - src
                              - sizes
                              - type
                              - purpose
                      required:
                        - name
                        - url
                        - icons
                required:
                  - name
                  - short_name
                  - background_color
                  - display
                  - start_url
                  - scope
                  - icons
                  - theme_color
                  - gcm_sender_id
                  - gcm_user_visible_only
                  - related_applications
                  - capture_links
                  - shortcuts
            text/html; charset=utf-8:
              schema:
                type: object
            application/json; charset=utf-8:
              schema:
                type: object
        "204":
          description: Success.
          content:
            "":
              schema:
                type: object
  /api/jnn/v1/GenerateIT:
    post:
      operationId: createJnnGenerateit
      summary: Create jnn generateit
      x-openweb:
        permission: write
        build:
          stable_id: 915fb6830db3fea5
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json+protobuf; charset=utf-8:
              schema:
                type: array
                items:
                  anyOf:
                    - type: string
                      enum:
                        - /VWt+zOl8FevDUjvePOxrOUXaQ4uQ/jpn4+0ZttpKXNgIPUwb+JTx9PFmL05LcCDAKOjzOQbMX/rkmto
                        - BsS8Ut+ZD3NQlB67Rta3MMbvI9cmF35PwIi8V138OyIa/KjUcjbKc3gk50H8mAm7dNJhejbBCEKa/yFr
                        - Td7vFxinZoOarcFoDsTDUBRPKf0wihhzTnBbrc14sarBtJX28NZgyK+4uYWsg3T30zr0zTXoEuFWI+uf
                        - Ueix46dfCjwEdXSz2xKNFzcW/xXIMuka4yoDL6oGqkyZ9pfvDSVnsn2M4hQljQJFVu2bjPglU92nWM4P
                        - fiDiIdzsIvq6XJ8wGdffc1fniJcpHyPdobscRQdfHAVDeKb5xl+VQ6/zazbvNcO6aJjPUglF/QJvvC+a
                    - type: integer
  /api/stats/atr:
    post:
      operationId: createStatsAtr
      summary: Create stats atr
      x-openweb:
        permission: write
        build:
          stable_id: a2974b5fa2e2b51b
          tool_version: 2
      parameters:
        - name: afmt
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: au
          in: query
          required: true
          schema:
            type: string
          example: zh.3
        - name: c
          in: query
          required: true
          schema:
            type: string
          example: WEB
        - name: cbr
          in: query
          required: true
          schema:
            type: string
          example: Chrome
        - name: cbrand
          in: query
          required: true
          schema:
            type: string
          example: apple
        - name: cbrver
          in: query
          required: true
          schema:
            type: string
          example: +1-555-0100
        - name: cc
          in: query
          required: false
          schema:
            type: string
          example: .en
        - name: cl
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: cmt
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: cos
          in: query
          required: true
          schema:
            type: string
          example: Macintosh
        - name: cosver
          in: query
          required: true
          schema:
            type: string
          example: 10_15_7
        - name: cplatform
          in: query
          required: true
          schema:
            type: string
          example: DESKTOP
        - name: cplayer
          in: query
          required: true
          schema:
            type: string
          example: UNIPLAYER
        - name: cpn
          in: query
          required: true
          schema:
            type: string
          example: nzOLnaCocEZ-4Him
        - name: cr
          in: query
          required: true
          schema:
            type: string
          example: US
        - name: cver
          in: query
          required: true
          schema:
            type: string
          example: +1-555-0100
        - name: docid
          in: query
          required: true
          schema:
            type: string
          example: W6NZfCO5SIk
        - name: ei
          in: query
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: el
          in: query
          required: true
          schema:
            type: string
          example: detailpage
        - name: euri
          in: query
          required: true
          schema:
            type: string
          example: ""
        - name: fexp
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - v1
            - 24004644
            - 494888
            - 14826322
            - 11684381
            - 53408
            - 9105
            - 22730
            - 2821
            - 106030
            - 18644
            - 77203
            - 65
            - 13917
            - 26504
            - 9252
            - 3479
            - 13030
            - 23206
            - 15179
            - 54662
            - 8206
            - 2625
            - 1904
            - 18126
            - 9720
            - 5385
            - 25059
            - 4174
            - 12720
            - 16963
            - 764
            - 13516
            - 5189
            - 1734
            - 19703
            - 4571
            - 11038
            - 18065
            - 8861
            - 543
            - 23826
            - 9500
            - 1840
            - 1058
            - 11547
            - 2178
            - 5927
            - 1764
            - 2085
            - 6403
            - 559
            - 2724
            - 1881
            - 725
            - 8864
            - 13160
            - 5792
            - 13952
            - 1776
            - 7376
            - 763
            - 2845
            - 9706
            - 14341
            - 1170
            - 1194
            - 940
            - 965
            - 1342
            - 2754
            - 3358
            - 1252
            - 5120
            - 2900
            - 3939
            - 2432
            - 742
            - 3284
            - 1296
            - 143
            - 7973
            - 2690
            - 14066
        - name: fmt
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: fs
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: hl
          in: query
          required: true
          schema:
            type: string
          example: en_US
        - name: lact
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: len
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: mos
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: muted
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: ns
          in: query
          required: true
          schema:
            type: string
          example: yt
        - name: plid
          in: query
          required: true
          schema:
            type: string
          example: AAZOGasF_Rzf5uAG
        - name: rt
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: uga
          in: query
          required: true
          schema:
            type: string
          example: m33
        - name: ver
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: vm
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: volume
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "204":
          description: Success.
          content:
            text/html; charset=utf-8:
              schema:
                type: object
  /api/stats/playback:
    get:
      operationId: getStatsPlayback
      summary: Get stats playback
      x-openweb:
        permission: read
        build:
          stable_id: 35d164ab611c478e
          tool_version: 2
      parameters:
        - name: afmt
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: au_d
          in: query
          required: true
          schema:
            type: string
          example: en.4
        - name: c
          in: query
          required: true
          schema:
            type: string
          example: WEB
        - name: cbr
          in: query
          required: true
          schema:
            type: string
          example: Chrome
        - name: cbrand
          in: query
          required: true
          schema:
            type: string
          example: apple
        - name: cbrver
          in: query
          required: true
          schema:
            type: string
          example: +1-555-0100
        - name: cl
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: cmt
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: cos
          in: query
          required: true
          schema:
            type: string
          example: Macintosh
        - name: cosver
          in: query
          required: true
          schema:
            type: string
          example: 10_15_7
        - name: cplatform
          in: query
          required: true
          schema:
            type: string
          example: DESKTOP
        - name: cplayer
          in: query
          required: true
          schema:
            type: string
          example: UNIPLAYER
        - name: cpn
          in: query
          required: true
          schema:
            type: string
          example: LqdalheFE4GfaOc7
        - name: cr
          in: query
          required: true
          schema:
            type: string
          example: US
        - name: cver
          in: query
          required: true
          schema:
            type: string
          example: +1-555-0100
        - name: docid
          in: query
          required: true
          schema:
            type: string
          example: 7IgVGSaQPaw
        - name: ei
          in: query
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: el
          in: query
          required: true
          schema:
            type: string
          example: detailpage
        - name: euri
          in: query
          required: true
          schema:
            type: string
          example: ""
        - name: fexp
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - v1
            - 24004644
            - 494888
            - 14826322
            - 11684381
            - 53408
            - 9105
            - 22730
            - 2821
            - 106030
            - 18644
            - 77203
            - 65
            - 13917
            - 26504
            - 9252
            - 3479
            - 13030
            - 23206
            - 15179
            - 54662
            - 8206
            - 2625
            - 1904
            - 18126
            - 9720
            - 5385
            - 25059
            - 4174
            - 12720
            - 16963
            - 764
            - 13516
            - 5189
            - 1734
            - 19703
            - 4571
            - 11038
            - 18065
            - 8861
            - 543
            - 23826
            - 9500
            - 1840
            - 1058
            - 11547
            - 2178
            - 5927
            - 1764
            - 2085
            - 6403
            - 559
            - 2724
            - 1881
            - 725
            - 8864
            - 13160
            - 5792
            - 13952
            - 1776
            - 7376
            - 763
            - 12551
            - 14341
            - 1170
            - 1194
            - 940
            - 965
            - 1342
            - 2754
            - 3358
            - 1252
            - 5120
            - 2900
            - 3939
            - 2432
            - 742
            - 3284
            - 1296
            - 143
            - 7973
            - 2690
            - 14066
        - name: fmt
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: fs
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: hl
          in: query
          required: true
          schema:
            type: string
          example: en_US
        - name: lact
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: len
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: mos
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: muted
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: ns
          in: query
          required: true
          schema:
            type: string
          example: yt
        - name: of
          in: query
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: osid
          in: query
          required: true
          schema:
            type: string
          example: AAAAAa8Sgio:AOeUNAbrRUH_KVFluFHQdQa931WFEkREuw
        - name: plid
          in: query
          required: true
          schema:
            type: string
          example: AAZOGa2ie9YHYg5K
        - name: rt
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: rtn
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: uga
          in: query
          required: true
          schema:
            type: string
          example: m33
        - name: ver
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: vm
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: volume
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "204":
          description: Success.
          content:
            text/html; charset=utf-8:
              schema:
                type: object
  /api/stats/qoe:
    post:
      operationId: createStatsQoe
      summary: Create stats qoe
      x-openweb:
        permission: write
        build:
          stable_id: 1daf977e2f2ffa01
          tool_version: 2
      parameters:
        - name: afmt
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: afs
          in: query
          required: false
          schema:
            type: string
          example: 0.715:251;Cg8KBWFjb250EgZkdWJiZWQKCgoEbGFuZxICemg::i:fl.-25.450001;vg.0;nm.4;sms.2:CAEoAQ
        - name: bat
          in: query
          required: true
          schema:
            type: string
          example: 0.709:1:1
        - name: bh
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - 0.709:0.000
        - name: bwe
          in: query
          required: true
          schema:
            type: string
          example: 0.709:1942436
        - name: bwm
          in: query
          required: true
          schema:
            type: string
          example: 0.709:690403:0.701
        - name: c
          in: query
          required: true
          schema:
            type: string
          example: WEB
        - name: cat
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          example:
            - streaming
            - mta
            - sabr
        - name: cbr
          in: query
          required: true
          schema:
            type: string
          example: Chrome
        - name: cbrand
          in: query
          required: true
          schema:
            type: string
          example: apple
        - name: cbrver
          in: query
          required: true
          schema:
            type: string
          example: +1-555-0100
        - name: cfs
          in: query
          required: false
          schema:
            type: string
          example: 1.757:.en:::s
        - name: cl
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: cmt
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - 0.017:19.000
            - 0.018:19.000
            - 0.709:19.000
        - name: cos
          in: query
          required: true
          schema:
            type: string
          example: Macintosh
        - name: cosver
          in: query
          required: true
          schema:
            type: string
          example: 10_15_7
        - name: cplatform
          in: query
          required: true
          schema:
            type: string
          example: DESKTOP
        - name: cplayer
          in: query
          required: true
          schema:
            type: string
          example: UNIPLAYER
        - name: cpn
          in: query
          required: true
          schema:
            type: string
          example: nzOLnaCocEZ-4Him
        - name: ctmp
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          example:
            - esfw:usbc.1;hsu.1
        - name: cver
          in: query
          required: true
          schema:
            type: string
          example: +1-555-0100
        - name: df
          in: query
          required: false
          schema:
            type: string
          example: 10.010:0
        - name: docid
          in: query
          required: true
          schema:
            type: string
          example: W6NZfCO5SIk
        - name: ei
          in: query
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: el
          in: query
          required: true
          schema:
            type: string
          example: detailpage
        - name: event
          in: query
          required: true
          schema:
            type: string
          example: streamingstats
        - name: fexp
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - v1
            - 24004644
            - 494888
            - 14826322
            - 11684381
            - 53408
            - 9105
            - 22730
            - 2821
            - 106030
            - 18644
            - 77203
            - 65
            - 13917
            - 26504
            - 9252
            - 3479
            - 13030
            - 23206
            - 15179
            - 54662
            - 8206
            - 2625
            - 1904
            - 18126
            - 9720
            - 5385
            - 25059
            - 4174
            - 12720
            - 16963
            - 764
            - 13516
            - 5189
            - 1734
            - 19703
            - 4571
            - 11038
            - 18065
            - 8861
            - 543
            - 23826
            - 9500
            - 1840
            - 1058
            - 11547
            - 2178
            - 5927
            - 1764
            - 2085
            - 6403
            - 559
            - 2724
            - 1881
            - 725
            - 8864
            - 13160
            - 5792
            - 13952
            - 1776
            - 7376
            - 763
            - 2845
            - 9706
            - 14341
            - 1170
            - 1194
            - 940
            - 965
            - 1342
            - 2754
            - 3358
            - 1252
            - 5120
            - 2900
            - 3939
            - 2432
            - 742
            - 3284
            - 1296
            - 143
            - 7973
            - 2690
            - 14066
        - name: fmt
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: ns
          in: query
          required: true
          schema:
            type: string
          example: yt
        - name: osid
          in: query
          required: true
          schema:
            type: string
          example: AAAAAa8Sgio:AOeUNAbPSO5f7cMCSwmVDUo2fGQmZ0Yy1Q
        - name: plid
          in: query
          required: true
          schema:
            type: string
          example: AAZOGasF_Rzf5uAG
        - name: qclc
          in: query
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: seq
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: stmp
          in: query
          required: true
          schema:
            type: string
          example: vb:1
        - name: stream
          in: query
          required: false
          schema:
            type: string
          example: 0.694:A
        - name: user_intent
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: vfs
          in: query
          required: false
          schema:
            type: string
          example: 0.709:399:399::a:sms.2:CAEoAQ
        - name: view
          in: query
          required: false
          schema:
            type: string
          example: 0.709:1047:589:2
        - name: vis
          in: query
          required: false
          schema:
            type: string
          example: 0.709:0
        - name: vps
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - 0.000:N
            - 0.017:B
            - 0.018:S:ss.15
            - 0.709:S
            - 0.709:S
      responses:
        "204":
          description: Success.
          content:
            text/html; charset=utf-8:
              schema:
                type: object
  /api/stats/watchtime:
    get:
      operationId: getStatsWatchtime
      summary: Get stats watchtime
      x-openweb:
        permission: read
        build:
          stable_id: f38cf01a1c3baf6a
          tool_version: 2
      parameters:
        - name: afmt
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: au
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - zh.3
        - name: c
          in: query
          required: true
          schema:
            type: string
          example: WEB
        - name: cbr
          in: query
          required: true
          schema:
            type: string
          example: Chrome
        - name: cbrand
          in: query
          required: true
          schema:
            type: string
          example: apple
        - name: cbrver
          in: query
          required: true
          schema:
            type: string
          example: +1-555-0100
        - name: cc
          in: query
          required: false
          schema:
            type: string
          example: .en
        - name: cl
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: cmt
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: cos
          in: query
          required: true
          schema:
            type: string
          example: Macintosh
        - name: cosver
          in: query
          required: true
          schema:
            type: string
          example: 10_15_7
        - name: cplatform
          in: query
          required: true
          schema:
            type: string
          example: DESKTOP
        - name: cplayer
          in: query
          required: true
          schema:
            type: string
          example: UNIPLAYER
        - name: cpn
          in: query
          required: true
          schema:
            type: string
          example: nzOLnaCocEZ-4Him
        - name: cr
          in: query
          required: true
          schema:
            type: string
          example: US
        - name: cver
          in: query
          required: true
          schema:
            type: string
          example: +1-555-0100
        - name: docid
          in: query
          required: true
          schema:
            type: string
          example: W6NZfCO5SIk
        - name: ei
          in: query
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: el
          in: query
          required: true
          schema:
            type: string
          example: detailpage
        - name: et
          in: query
          required: true
          schema:
            type: array
            items:
              type: number
          example:
            - 19.173
            - 22.983
        - name: euri
          in: query
          required: true
          schema:
            type: string
          example: ""
        - name: final
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: fmt
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: fs
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: hl
          in: query
          required: true
          schema:
            type: string
          example: en_US
        - name: idpj
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: lact
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: ldpj
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: len
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: muted
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
          example:
            - 0
        - name: ns
          in: query
          required: true
          schema:
            type: string
          example: yt
        - name: of
          in: query
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: osid
          in: query
          required: true
          schema:
            type: string
          example: AAAAAa8Sgio:AOeUNAbPSO5f7cMCSwmVDUo2fGQmZ0Yy1Q
        - name: plid
          in: query
          required: true
          schema:
            type: string
          example: AAZOGasF_Rzf5uAG
        - name: rt
          in: query
          required: true
          schema:
            type: number
          example: 1
        - name: rti
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: rtn
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: st
          in: query
          required: true
          schema:
            type: array
            items:
              type: number
          example:
            - 19.049
            - 19.173
        - name: state
          in: query
          required: true
          schema:
            type: string
          example: playing
        - name: uga
          in: query
          required: true
          schema:
            type: string
          example: m33
        - name: ver
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: vm
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: volume
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
          example:
            - 100
      responses:
        "204":
          description: Success.
          content:
            text/html; charset=utf-8:
              schema:
                type: object
  /api/timedtext:
    get:
      operationId: getTimedtext
      summary: Get timedtext
      x-openweb:
        permission: read
        build:
          stable_id: 151f39ec910f818f
          tool_version: 2
      parameters:
        - name: c
          in: query
          required: true
          schema:
            type: string
          example: WEB
        - name: caps
          in: query
          required: true
          schema:
            type: string
          example: asr
        - name: cbr
          in: query
          required: true
          schema:
            type: string
          example: Chrome
        - name: cbrand
          in: query
          required: true
          schema:
            type: string
          example: apple
        - name: cbrver
          in: query
          required: true
          schema:
            type: string
          example: +1-555-0100
        - name: cos
          in: query
          required: true
          schema:
            type: string
          example: Macintosh
        - name: cosver
          in: query
          required: true
          schema:
            type: string
          example: 10_15_7
        - name: cplatform
          in: query
          required: true
          schema:
            type: string
          example: DESKTOP
        - name: cplayer
          in: query
          required: true
          schema:
            type: string
          example: UNIPLAYER
        - name: cver
          in: query
          required: true
          schema:
            type: string
          example: +1-555-0100
        - name: ei
          in: query
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: exp
          in: query
          required: true
          schema:
            type: string
          example: xpe
        - name: expire
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: fmt
          in: query
          required: true
          schema:
            type: string
          example: json3
        - name: hl
          in: query
          required: true
          schema:
            type: string
          example: en
        - name: ip
          in: query
          required: true
          schema:
            type: string
          example: +1-555-0100
        - name: ipbits
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: key
          in: query
          required: true
          schema:
            type: string
          example: yt8
        - name: lang
          in: query
          required: true
          schema:
            type: string
          example: en
        - name: opi
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: pot
          in: query
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
        - name: potc
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: signature
          in: query
          required: true
          schema:
            type: string
          example: D5A9B13FBBFC59BF0E01BBB0282A427A79E786EC.050981AD95C2FA6D4AE976631E96C368974A1CEB
        - name: sparams
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - ip
            - ipbits
            - expire
            - v
            - ei
            - caps
            - opi
            - exp
            - xoaf
        - name: v
          in: query
          required: true
          schema:
            type: string
          example: W6NZfCO5SIk
        - name: xoaf
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: xobt
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: xorb
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: xovt
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: xowf
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  wireMagic:
                    type: string
                    enum:
                      - pb3
                  pens:
                    type: array
                    items:
                      type: object
                      properties: {}
                      required: []
                  wsWinStyles:
                    type: array
                    items:
                      type: object
                      properties: {}
                      required: []
                  wpWinPositions:
                    type: array
                    items:
                      type: object
                      properties: {}
                      required: []
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        tStartMs:
                          type: integer
                        dDurationMs:
                          type: integer
                        segs:
                          type: array
                          items:
                            type: object
                            properties:
                              utf8:
                                type: string
                            required:
                              - utf8
                      required:
                        - tStartMs
                        - dDurationMs
                        - segs
                required:
                  - wireMagic
                  - pens
                  - wsWinStyles
                  - wpWinPositions
                  - events
  /s/_/ytmainappweb/_/js/k=ytmainappweb.kevlar_base.en_US.VHv3Et8k72U.es5.O/am=AAAABAAAkA/d=1/br=1/{id}/m=kevlar_base_module,kevlar_main_module:
    get:
      operationId: getSYtmainappwebJsK=ytmainappweb.kevlarBase.enUs.vhv3et8k72u.es5.oAm=aaaabaaakaD=1Br=1M=kevlarBaseModule,kevlarMainModule
      summary: Get s   ytmainappweb   js k=ytmainappweb.kevlar base.en
        us.vhv3et8k72u.es5.o am=aaaabaaaka d=1 br=1 m=kevlar base module,kevlar
        main module
      x-openweb:
        permission: read
        build:
          stable_id: 8ba9dcfe788903a3
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
      responses:
        "200":
          description: Success.
          content:
            text/javascript; charset=utf-8:
              schema:
                type: object
  /s/_/ytmainappweb/_/js/k=ytmainappweb.kevlar_base.en_US.VHv3Et8k72U.es5.O/am=AAAABAAAkA/d=1/exm=De8mUc,QlbBce,kevlar_base_module,kevlar_main_module/ed=1/br=1/{id}/m=yTIahe:
    get:
      operationId: getSYtmainappwebJsK=ytmainappweb.kevlarBase.enUs.vhv3et8k72u.es5.oAm=aaaabaaakaD=1Exm=de8muc,qlbbce,kevlarBaseModule,kevlarMainModuleEd=1Br=1M=ytiahe
      summary: Get s   ytmainappweb   js k=ytmainappweb.kevlar base.en
        us.vhv3et8k72u.es5.o am=aaaabaaaka d=1 exm=de8muc,qlbbce,kevlar base
        module,kevlar main module ed=1 br=1 m=ytiahe
      x-openweb:
        permission: read
        build:
          stable_id: 306de45a22c02bd7
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
      responses:
        "200":
          description: Success.
          content:
            text/javascript; charset=utf-8:
              schema:
                type: object
  /s/_/ytmainappweb/_/js/k=ytmainappweb.kevlar_base.en_US.VHv3Et8k72U.es5.O/am=AAAABAAAkA/d=1/exm=kevlar_base_module,kevlar_main_module/ed=1/br=1/{id}/m=QlbBce,De8mUc:
    get:
      operationId: getSYtmainappwebJsK=ytmainappweb.kevlarBase.enUs.vhv3et8k72u.es5.oAm=aaaabaaakaD=1Exm=kevlarBaseModule,kevlarMainModuleEd=1Br=1M=qlbbce,de8muc
      summary: Get s   ytmainappweb   js k=ytmainappweb.kevlar base.en
        us.vhv3et8k72u.es5.o am=aaaabaaaka d=1 exm=kevlar base module,kevlar
        main module ed=1 br=1 m=qlbbce,de8muc
      x-openweb:
        permission: read
        build:
          stable_id: 48fb6d2212fb8c80
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: <REDACTED_TOKEN>
      responses:
        "200":
          description: Success.
          content:
            text/javascript; charset=utf-8:
              schema:
                type: object
  /youtubei/v1/account/get_setting_values:
    post:
      operationId: createYoutubeiAccountGetSettingValues
      summary: Create youtubei account get setting values
      x-openweb:
        permission: write
        build:
          stable_id: 02a9576a3934b992
          tool_version: 2
      parameters:
        - name: prettyPrint
          in: query
          required: true
          schema:
            type: string
          example: "false"
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  responseContext:
                    type: object
                    properties:
                      serviceTrackingParams:
                        type: array
                        items:
                          type: object
                          properties:
                            service:
                              type: string
                              enum:
                                - CSI
                                - ECATCHER
                                - GFEEDBACK
                                - GUIDED_HELP
                            params:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    enum:
                                      - GetSettingValues_rid
                                      - c
                                      - client.name
                                      - client.version
                                      - cver
                                      - logged_in
                                      - yt_li
                                  value:
                                    type: string
                                    enum:
                                      - "0x11ba6ad0c1ef527c"
                                      - "0xc4f1433456a2bb65"
                                      - "1"
                                      - "2.20260325"
                                      - 2.20260325.08.00
                                      - WEB
                                required:
                                  - key
                                  - value
                          required:
                            - service
                            - params
                      mainAppWebResponseContext:
                        type: object
                        properties:
                          datasyncId:
                            type: string
                            enum:
                              - 117651444777707613480||
                          loggedOut:
                            type: boolean
                        required:
                          - datasyncId
                          - loggedOut
                      webResponseContextExtensionData:
                        type: object
                        properties:
                          hasDecorated:
                            type: boolean
                        required:
                          - hasDecorated
                    required:
                      - serviceTrackingParams
                      - mainAppWebResponseContext
                      - webResponseContextExtensionData
                  settingValues:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          enum:
                            - "483"
                        value:
                          type: object
                          properties:
                            stringValue:
                              type: string
                              enum:
                                - ""
                          required:
                            - stringValue
                      required:
                        - key
                        - value
                required:
                  - responseContext
                  - settingValues
  /youtubei/v1/browse:
    post:
      operationId: createYoutubeiBrowse
      summary: Create youtubei browse
      x-openweb:
        permission: write
        build:
          stable_id: eb0ef7ceb874ea22
          tool_version: 2
      parameters:
        - name: prettyPrint
          in: query
          required: true
          schema:
            type: string
          example: "false"
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  responseContext:
                    type: object
                    properties:
                      serviceTrackingParams:
                        type: array
                        items:
                          type: object
                          properties:
                            service:
                              type: string
                              enum:
                                - CSI
                                - ECATCHER
                                - GFEEDBACK
                                - GOOGLE_HELP
                                - GUIDED_HELP
                            params:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    enum:
                                      - GetAccountDownloads_rid
                                      - browse_id
                                      - browse_id_prefix
                                      - c
                                      - client.name
                                      - client.version
                                      - cver
                                      - logged_in
                                      - yt_li
                                  value:
                                    type: string
                                    enum:
                                      - ""
                                      - "0x260635b3f9775469"
                                      - "1"
                                      - "2.20260325"
                                      - 2.20260325.08.00
                                      - SPaccount_downloads
                                      - WEB
                                required:
                                  - key
                                  - value
                          required:
                            - service
                            - params
                      mainAppWebResponseContext:
                        type: object
                        properties:
                          datasyncId:
                            type: string
                            enum:
                              - 117651444777707613480||
                          loggedOut:
                            type: boolean
                          trackingParam:
                            type: string
                            enum:
                              - kx_fmPxhoPZRX1QPwzQ9MJXWUhrHwqt9wtwlApjtwxDNkkwRgkuswmIBwOcCE59TDtslLKPQ-SS
                        required:
                          - datasyncId
                          - loggedOut
                          - trackingParam
                      webResponseContextExtensionData:
                        type: object
                        properties:
                          webResponseContextPreloadData:
                            type: object
                            properties:
                              preloadMessageNames:
                                type: array
                                items:
                                  type: string
                            required:
                              - preloadMessageNames
                          hasDecorated:
                            type: boolean
                        required:
                          - webResponseContextPreloadData
                          - hasDecorated
                    required:
                      - serviceTrackingParams
                      - mainAppWebResponseContext
                      - webResponseContextExtensionData
                  contents:
                    type: object
                    properties:
                      twoColumnBrowseResultsRenderer:
                        type: object
                        properties:
                          tabs:
                            type: array
                            items:
                              type: object
                              properties:
                                tabRenderer:
                                  type: object
                                  properties:
                                    selected:
                                      type: boolean
                                    content:
                                      type: object
                                      properties:
                                        sectionListRenderer:
                                          type: object
                                          properties:
                                            contents:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  itemSectionRenderer:
                                                    type: object
                                                required:
                                                  - itemSectionRenderer
                                            trackingParams:
                                              type: string
                                              enum:
                                                - CCMQui8iEwj-vN7TmsOTAxUHI7MAHdDnNFQ=
                                          required:
                                            - contents
                                            - trackingParams
                                      required:
                                        - sectionListRenderer
                                    trackingParams:
                                      type: string
                                      enum:
                                        - CCIQ8JMBGAoiEwj-vN7TmsOTAxUHI7MAHdDnNFQ=
                                  required:
                                    - selected
                                    - content
                                    - trackingParams
                              required:
                                - tabRenderer
                        required:
                          - tabs
                    required:
                      - twoColumnBrowseResultsRenderer
                  trackingParams:
                    type: string
                    enum:
                      - CAAQhGciEwj-vN7TmsOTAxUHI7MAHdDnNFQ=
                  topbar:
                    type: object
                    properties:
                      desktopTopbarRenderer:
                        type: object
                        properties:
                          logo:
                            type: object
                            properties:
                              topbarLogoRenderer:
                                type: object
                                properties:
                                  iconImage:
                                    type: object
                                    properties:
                                      iconType:
                                        type: string
                                        enum:
                                          - YOUTUBE_PREMIUM_LOGO
                                    required:
                                      - iconType
                                  tooltipText:
                                    type: object
                                    properties:
                                      runs:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            text:
                                              type: string
                                              enum:
                                                - YouTube Premium Home
                                          required:
                                            - text
                                    required:
                                      - runs
                                  endpoint:
                                    type: object
                                    properties:
                                      clickTrackingParams:
                                        type: string
                                        enum:
                                          - CCEQsV4iEwj-vN7TmsOTAxUHI7MAHdDnNFTKAQTDaQdt
                                      commandMetadata:
                                        type: object
                                        properties:
                                          webCommandMetadata:
                                            type: object
                                            properties:
                                              url:
                                                type: string
                                                enum:
                                                  - /
                                              webPageType:
                                                type: string
                                                enum:
                                                  - WEB_PAGE_TYPE_BROWSE
                                              rootVe:
                                                type: integer
                                              apiUrl:
                                                type: string
                                                enum:
                                                  - /youtubei/v1/browse
                                            required:
                                              - url
                                              - webPageType
                                              - rootVe
                                              - apiUrl
                                        required:
                                          - webCommandMetadata
                                      browseEndpoint:
                                        type: object
                                        properties:
                                          browseId:
                                            type: string
                                            enum:
                                              - FEwhat_to_watch
                                        required:
                                          - browseId
                                    required:
                                      - clickTrackingParams
                                      - commandMetadata
                                      - browseEndpoint
                                  trackingParams:
                                    type: string
                                    enum:
                                      - CCEQsV4iEwj-vN7TmsOTAxUHI7MAHdDnNFQ=
                                  overrideEntityKey:
                                    type: string
                                    enum:
                                      - EgZ0b3BiYXIg9QEoAQ%3D%3D
                                required:
                                  - iconImage
                                  - tooltipText
                                  - endpoint
                                  - trackingParams
                                  - overrideEntityKey
                            required:
                              - topbarLogoRenderer
                          searchbox:
                            type: object
                            properties:
                              fusionSearchboxRenderer:
                                type: object
                                properties:
                                  icon:
                                    type: object
                                    properties:
                                      iconType:
                                        type: string
                                        enum:
                                          - SEARCH
                                    required:
                                      - iconType
                                  placeholderText:
                                    type: object
                                    properties:
                                      runs:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            text:
                                              type: string
                                              enum:
                                                - Search
                                          required:
                                            - text
                                    required:
                                      - runs
                                  config:
                                    type: object
                                    properties:
                                      webSearchboxConfig:
                                        type: object
                                        properties:
                                          requestLanguage:
                                            type: string
                                            enum:
                                              - en
                                          requestDomain:
                                            type: string
                                            enum:
                                              - us
                                          hasOnscreenKeyboard:
                                            type: boolean
                                          focusSearchbox:
                                            type: boolean
                                        required:
                                          - requestLanguage
                                          - requestDomain
                                          - hasOnscreenKeyboard
                                          - focusSearchbox
                                    required:
                                      - webSearchboxConfig
                                  trackingParams:
                                    type: string
                                    enum:
                                      - CB0Q7VAiEwj-vN7TmsOTAxUHI7MAHdDnNFQ=
                                  searchEndpoint:
                                    type: object
                                    properties:
                                      clickTrackingParams:
                                        type: string
                                        enum:
                                          - CB0Q7VAiEwj-vN7TmsOTAxUHI7MAHdDnNFTKAQTDaQdt
                                      commandMetadata:
                                        type: object
                                        properties:
                                          webCommandMetadata:
                                            type: object
                                            properties:
                                              url:
                                                type: string
                                                enum:
                                                  - /results?search_query=
                                              webPageType:
                                                type: string
                                                enum:
                                                  - WEB_PAGE_TYPE_SEARCH
                                              rootVe:
                                                type: integer
                                            required:
                                              - url
                                              - webPageType
                                              - rootVe
                                        required:
                                          - webCommandMetadata
                                      searchEndpoint:
                                        type: object
                                        properties:
                                          query:
                                            type: string
                                            enum:
                                              - ""
                                        required:
                                          - query
                                    required:
                                      - clickTrackingParams
                                      - commandMetadata
                                      - searchEndpoint
                                  clearButton:
                                    type: object
                                    properties:
                                      buttonRenderer:
                                        type: object
                                        properties:
                                          style:
                                            type: string
                                            enum:
                                              - STYLE_DEFAULT
                                          size:
                                            type: string
                                            enum:
                                              - SIZE_DEFAULT
                                          isDisabled:
                                            type: boolean
                                          icon:
                                            type: object
                                            properties:
                                              iconType:
                                                type: string
                                                enum:
                                                  - CLOSE
                                            required:
                                              - iconType
                                          trackingParams:
                                            type: string
                                            enum:
                                              - CCAQ8FsiEwj-vN7TmsOTAxUHI7MAHdDnNFQ=
                                          accessibilityData:
                                            type: object
                                            properties:
                                              accessibilityData:
                                                type: object
                                                properties:
                                                  label:
                                                    type: string
                                                    enum:
                                                      - Clear search query
                                                required:
                                                  - label
                                            required:
                                              - accessibilityData
                                        required:
                                          - style
                                          - size
                                          - isDisabled
                                          - icon
                                          - trackingParams
                                          - accessibilityData
                                    required:
                                      - buttonRenderer
                                  showImageSourceDialog:
                                    type: object
                                    properties:
                                      clickTrackingParams:
                                        type: string
                                        enum:
                                          - CB0Q7VAiEwj-vN7TmsOTAxUHI7MAHdDnNFTKAQTDaQdt
                                      showDialogCommand:
                                        type: object
                                        properties:
                                          panelLoadingStrategy:
                                            type: object
                                            properties:
                                              inlineContent:
                                                type: object
                                                properties:
                                                  dialogViewModel:
                                                    type: object
                                                    properties:
                                                      header:
                                                        type: object
                                                      footer:
                                                        type: object
                                                      content:
                                                        type: object
                                                    required:
                                                      - header
                                                      - footer
                                                      - content
                                                required:
                                                  - dialogViewModel
                                            required:
                                              - inlineContent
                                        required:
                                          - panelLoadingStrategy
                                    required:
                                      - clickTrackingParams
                                      - showDialogCommand
                                required:
                                  - icon
                                  - placeholderText
                                  - config
                                  - trackingParams
                                  - searchEndpoint
                                  - clearButton
                                  - showImageSourceDialog
                            required:
                              - fusionSearchboxRenderer
                          trackingParams:
                            type: string
                            enum:
                              - CAoQq6wBIhMI_rze05rDkwMVByOzAB3Q5zRU
                          topbarButtons:
                            type: array
                            items:
                              type: object
                              properties:
                                buttonRenderer:
                                  type: object
                                  properties:
                                    style:
                                      type: string
                                      enum:
                                        - STYLE_DEFAULT
                                    size:
                                      type: string
                                      enum:
                                        - SIZE_DEFAULT
                                    text:
                                      type: object
                                      properties:
                                        runs:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              text:
                                                type: string
                                                enum:
                                                  - Create
                                            required:
                                              - text
                                      required:
                                        - runs
                                    icon:
                                      type: object
                                      properties:
                                        iconType:
                                          type: string
                                          enum:
                                            - ADD
                                      required:
                                        - iconType
                                    trackingParams:
                                      type: string
                                      enum:
                                        - CBcQg7USGAAiEwj-vN7TmsOTAxUHI7MAHdDnNFQ=
                                    command:
                                      type: object
                                      properties:
                                        clickTrackingParams:
                                          type: string
                                          enum:
                                            - CBcQg7USGAAiEwj-vN7TmsOTAxUHI7MAHdDnNFTKAQTDaQdt
                                        openPopupAction:
                                          type: object
                                          properties:
                                            popup:
                                              type: object
                                              properties:
                                                multiPageMenuRenderer:
                                                  type: object
                                                  properties:
                                                    sections:
                                                      type: array
                                                    trackingParams:
                                                      type: string
                                                      enum:
                                                        - CBgQ_6sBIhMI_rze05rDkwMVByOzAB3Q5zRU
                                                    style:
                                                      type: string
                                                      enum:
                                                        - MULTI_PAGE_MENU_STYLE_TYPE_CREATION
                                                  required:
                                                    - sections
                                                    - trackingParams
                                                    - style
                                              required:
                                                - multiPageMenuRenderer
                                            popupType:
                                              type: string
                                              enum:
                                                - RESPONSIVE_DROPDOWN
                                          required:
                                            - popup
                                            - popupType
                                      required:
                                        - clickTrackingParams
                                        - openPopupAction
                                  required:
                                    - style
                                    - size
                                    - text
                                    - icon
                                    - trackingParams
                                    - command
                                notificationTopbarButtonRenderer:
                                  type: object
                                  properties:
                                    icon:
                                      type: object
                                      properties:
                                        iconType:
                                          type: string
                                          enum:
                                            - NOTIFICATIONS_CAIRO
                                      required:
                                        - iconType
                                    menuRequest:
                                      type: object
                                      properties:
                                        clickTrackingParams:
                                          type: string
                                          enum:
                                            - CBUQovoBGAEiEwj-vN7TmsOTAxUHI7MAHdDnNFTKAQTDaQdt
                                        commandMetadata:
                                          type: object
                                          properties:
                                            webCommandMetadata:
                                              type: object
                                              properties:
                                                sendPost:
                                                  type: boolean
                                              required:
                                                - sendPost
                                          required:
                                            - webCommandMetadata
                                        signalServiceEndpoint:
                                          type: object
                                          properties:
                                            signal:
                                              type: string
                                              enum:
                                                - GET_NOTIFICATIONS_INBOX
                                            actions:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  clickTrackingParams:
                                                    type: string
                                                    enum:
                                                      - CBUQovoBGAEiEwj-vN7TmsOTAxUHI7MAHdDnNFTKAQTDaQdt
                                                  openPopupAction:
                                                    type: object
                                                required:
                                                  - clickTrackingParams
                                                  - openPopupAction
                                          required:
                                            - signal
                                            - actions
                                      required:
                                        - clickTrackingParams
                                        - commandMetadata
                                        - signalServiceEndpoint
                                    style:
                                      type: string
                                      enum:
                                        - NOTIFICATION_BUTTON_STYLE_TYPE_DEFAULT
                                    trackingParams:
                                      type: string
                                      enum:
                                        - CBUQovoBGAEiEwj-vN7TmsOTAxUHI7MAHdDnNFQ=
                                    accessibility:
                                      type: object
                                      properties:
                                        accessibilityData:
                                          type: object
                                          properties:
                                            label:
                                              type: string
                                              enum:
                                                - Notifications
                                          required:
                                            - label
                                      required:
                                        - accessibilityData
                                    tooltip:
                                      type: string
                                      enum:
                                        - Notifications
                                    updateUnseenCountEndpoint:
                                      type: object
                                      properties:
                                        clickTrackingParams:
                                          type: string
                                          enum:
                                            - CBUQovoBGAEiEwj-vN7TmsOTAxUHI7MAHdDnNFTKAQTDaQdt
                                        commandMetadata:
                                          type: object
                                          properties:
                                            webCommandMetadata:
                                              type: object
                                              properties:
                                                sendPost:
                                                  type: boolean
                                                apiUrl:
                                                  type: string
                                                  enum:
                                                    - /youtubei/v1/notification/get_unseen_count
                                              required:
                                                - sendPost
                                                - apiUrl
                                          required:
                                            - webCommandMetadata
                                        signalServiceEndpoint:
                                          type: object
                                          properties:
                                            signal:
                                              type: string
                                              enum:
                                                - GET_UNSEEN_NOTIFICATION_COUNT
                                          required:
                                            - signal
                                      required:
                                        - clickTrackingParams
                                        - commandMetadata
                                        - signalServiceEndpoint
                                    notificationCount:
                                      type: integer
                                    handlerDatas:
                                      type: array
                                      items:
                                        type: string
                                        enum:
                                          - NOTIFICATION_ACTION_UPDATE_UNSEEN_COUNT
                                  required:
                                    - icon
                                    - menuRequest
                                    - style
                                    - trackingParams
                                    - accessibility
                                    - tooltip
                                    - updateUnseenCountEndpoint
                                    - notificationCount
                                    - handlerDatas
                                topbarMenuButtonRenderer:
                                  type: object
                                  properties:
                                    avatar:
                                      type: object
                                      properties:
                                        thumbnails:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              url:
                                                type: string
                                                format: uri
                                              width:
                                                type: integer
                                              height:
                                                type: integer
                                            required:
                                              - url
                                              - width
                                              - height
                                        accessibility:
                                          type: object
                                          properties:
                                            accessibilityData:
                                              type: object
                                              properties:
                                                label:
                                                  type: string
                                                  enum:
                                                    - Avatar image
                                              required:
                                                - label
                                          required:
                                            - accessibilityData
                                      required:
                                        - thumbnails
                                        - accessibility
                                    menuRequest:
                                      type: object
                                      properties:
                                        clickTrackingParams:
                                          type: string
                                          enum:
                                            - CBMQ_qsBGAIiEwj-vN7TmsOTAxUHI7MAHdDnNFTKAQTDaQdt
                                        commandMetadata:
                                          type: object
                                          properties:
                                            webCommandMetadata:
                                              type: object
                                              properties:
                                                sendPost:
                                                  type: boolean
                                                apiUrl:
                                                  type: string
                                                  enum:
                                                    - /youtubei/v1/account/account_menu
                                              required:
                                                - sendPost
                                                - apiUrl
                                          required:
                                            - webCommandMetadata
                                        signalServiceEndpoint:
                                          type: object
                                          properties:
                                            signal:
                                              type: string
                                              enum:
                                                - GET_ACCOUNT_MENU
                                            actions:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  clickTrackingParams:
                                                    type: string
                                                    enum:
                                                      - CBMQ_qsBGAIiEwj-vN7TmsOTAxUHI7MAHdDnNFTKAQTDaQdt
                                                  openPopupAction:
                                                    type: object
                                                required:
                                                  - clickTrackingParams
                                                  - openPopupAction
                                          required:
                                            - signal
                                            - actions
                                      required:
                                        - clickTrackingParams
                                        - commandMetadata
                                        - signalServiceEndpoint
                                    trackingParams:
                                      type: string
                                      enum:
                                        - CBMQ_qsBGAIiEwj-vN7TmsOTAxUHI7MAHdDnNFQ=
                                    accessibility:
                                      type: object
                                      properties:
                                        accessibilityData:
                                          type: object
                                          properties:
                                            label:
                                              type: string
                                              enum:
                                                - Account menu
                                          required:
                                            - label
                                      required:
                                        - accessibilityData
                                    tooltip:
                                      type: string
                                      enum:
                                        - Account menu
                                  required:
                                    - avatar
                                    - menuRequest
                                    - trackingParams
                                    - accessibility
                                    - tooltip
                              required: []
                          hotkeyDialog:
                            type: object
                            properties:
                              hotkeyDialogRenderer:
                                type: object
                                properties:
                                  title:
                                    type: object
                                    properties:
                                      runs:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            text:
                                              type: string
                                              enum:
                                                - Keyboard shortcuts
                                          required:
                                            - text
                                    required:
                                      - runs
                                  sections:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        hotkeyDialogSectionRenderer:
                                          type: object
                                          properties:
                                            title:
                                              type: object
                                              properties:
                                                runs:
                                                  type: array
                                                  items:
[...]
