openapi: 3.1.0
info:
  title: youtube
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    requires_auth: false
servers:
  - url: https://www.youtube.com
    x-openweb:
      transport: node
paths:
  /youtubei/v1/search:
    post:
      operationId: searchVideos
      summary: "Search videos by keyword — returns video titles, channel names, view counts, durations, thumbnails, video IDs"
      x-openweb:
        permission: read
        build:
          stable_id: yt0003
          tool_version: 2
          signals:
            - status-match
      parameters:
        - name: key
          in: query
          required: true
          description: "Innertube API key (injected by page_global auth)"
          schema:
            type: string
          example: AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
          example: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - context
                - query
              properties:
                context:
                  type: object
                  description: "Innertube client context"
                  properties:
                    client:
                      type: object
                      properties:
                        clientName:
                          type: string
                          example: WEB
                        clientVersion:
                          type: string
                          example: "2.20260325.08.00"
                query:
                  type: string
                  description: "Search query"
                  example: "machine learning tutorial"
      responses:
        "200":
          description: Search results with videos, channels, and playlists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contents:
                    type: object
                    description: "Search results in twoColumnSearchResultsRenderer"
                  estimatedResults:
                    type: string

  /youtubei/v1/browse:
    post:
      operationId: browseContent
      summary: "Browse content by ID — homepage (FEwhat_to_watch), channel (UC...), trending (FEtrending), subscriptions. Returns video grids, channel info, tabs"
      x-openweb:
        permission: read
        build:
          stable_id: yt0004
          tool_version: 2
          signals:
            - status-match
      parameters:
        - name: key
          in: query
          required: true
          description: "Innertube API key"
          schema:
            type: string
          example: AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
          example: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - context
                - browseId
              properties:
                context:
                  type: object
                  properties:
                    client:
                      type: object
                      properties:
                        clientName:
                          type: string
                          example: WEB
                        clientVersion:
                          type: string
                          example: "2.20260325.08.00"
                browseId:
                  type: string
                  description: "Browse target — FEwhat_to_watch (home), FEtrending, channel ID (UC...), VL + playlist ID, FEsubscriptions"
                  example: "FEwhat_to_watch"
                params:
                  type: string
                  description: "Optional browse parameters (base64 encoded, e.g. for channel Videos tab)"
      responses:
        "200":
          description: Browse results — video grids, channel tabs, or feed content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    type: object
                  contents:
                    type: object
                  metadata:
                    type: object

  /youtubei/v1/next:
    post:
      operationId: getVideoDetail
      summary: "Get video detail — title, description, view count, likes, publish date, channel info, comments, recommendations"
      x-openweb:
        permission: read
        build:
          stable_id: yt0002
          tool_version: 2
          signals:
            - status-match
      parameters:
        - name: key
          in: query
          required: true
          description: "Innertube API key"
          schema:
            type: string
          example: AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
          example: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - context
                - videoId
              properties:
                context:
                  type: object
                  properties:
                    client:
                      type: object
                      properties:
                        clientName:
                          type: string
                          example: WEB
                        clientVersion:
                          type: string
                          example: "2.20260325.08.00"
                videoId:
                  type: string
                  description: "YouTube video ID (11 characters, e.g. dQw4w9WgXcQ)"
                  example: "dQw4w9WgXcQ"
      responses:
        "200":
          description: Video metadata, comments, and recommendations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contents:
                    type: object
                    description: "Comments and related videos"

  /youtubei/v1/player:
    post:
      operationId: getVideoPlayer
      summary: "Get video player info — stream URLs, formats, adaptive formats, captions, video details, playability status"
      x-openweb:
        permission: read
        build:
          stable_id: yt0001
          tool_version: 2
          verified: true
          signals:
            - status-match
      parameters:
        - name: key
          in: query
          required: true
          description: "Innertube API key"
          schema:
            type: string
          example: AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
          example: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - context
                - videoId
              properties:
                context:
                  type: object
                  properties:
                    client:
                      type: object
                      properties:
                        clientName:
                          type: string
                          example: WEB
                        clientVersion:
                          type: string
                          example: "2.20260325.08.00"
                videoId:
                  type: string
                  description: "YouTube video ID"
                  example: "dQw4w9WgXcQ"
      responses:
        "200":
          description: Video player data including streaming URLs and formats.
          content:
            application/json:
              schema:
                type: object
                properties:
                  videoDetails:
                    type: object
                  streamingData:
                    type: object

  /youtubei/v1/guide:
    post:
      operationId: getGuide
      summary: "Get sidebar navigation guide — subscriptions, explore categories, library links"
      x-openweb:
        permission: read
        build:
          stable_id: yt0005
          tool_version: 2
          signals:
            - status-match
      parameters:
        - name: key
          in: query
          required: true
          description: "Innertube API key"
          schema:
            type: string
          example: AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
          example: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - context
              properties:
                context:
                  type: object
                  properties:
                    client:
                      type: object
                      properties:
                        clientName:
                          type: string
                          example: WEB
                        clientVersion:
                          type: string
                          example: "2.20260325.08.00"
      responses:
        "200":
          description: Guide navigation items.
          content:
            application/json:
              schema:
                type: object

  /youtubei/v1/notification/get_unseen_count:
    post:
      operationId: getNotificationCount
      summary: "Get unseen notification count (requires auth — sapisidhash)"
      x-openweb:
        permission: read
        build:
          stable_id: yt0006
          tool_version: 2
          signals:
            - status-match
      parameters:
        - name: key
          in: query
          required: true
          description: "Innertube API key"
          schema:
            type: string
          example: AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
          example: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - context
              properties:
                context:
                  type: object
                  properties:
                    client:
                      type: object
                      properties:
                        clientName:
                          type: string
                          example: WEB
                        clientVersion:
                          type: string
                          example: "2.20260325.08.00"
      responses:
        "200":
          description: Notification count.
          content:
            application/json:
              schema:
                type: object

  /youtubei/v1/like/like:
    post:
      operationId: likeVideo
      summary: "Like a video (requires auth — sapisidhash). SAFE: reversible via unlikeVideo"
      x-openweb:
        permission: write
        build:
          stable_id: yt0007
          tool_version: 2
          signals:
            - status-match
      parameters:
        - name: key
          in: query
          required: true
          description: "Innertube API key"
          schema:
            type: string
          example: AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
          example: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - context
                - target
              properties:
                context:
                  type: object
                  properties:
                    client:
                      type: object
                      properties:
                        clientName:
                          type: string
                          example: WEB
                        clientVersion:
                          type: string
                          example: "2.20260325.08.00"
                target:
                  type: object
                  required:
                    - videoId
                  properties:
                    videoId:
                      type: string
                      description: "YouTube video ID to like"
                      example: "dQw4w9WgXcQ"
      responses:
        "200":
          description: Like confirmation.
          content:
            application/json:
              schema:
                type: object

  /youtubei/v1/like/removelike:
    post:
      operationId: unlikeVideo
      summary: "Remove like from a video (requires auth — sapisidhash)"
      x-openweb:
        permission: write
        build:
          stable_id: yt0010
          tool_version: 2
          signals:
            - status-match
      parameters:
        - name: key
          in: query
          required: true
          description: "Innertube API key"
          schema:
            type: string
          example: AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
          example: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - context
                - target
              properties:
                context:
                  type: object
                  properties:
                    client:
                      type: object
                      properties:
                        clientName:
                          type: string
                          example: WEB
                        clientVersion:
                          type: string
                          example: "2.20260325.08.00"
                target:
                  type: object
                  required:
                    - videoId
                  properties:
                    videoId:
                      type: string
                      description: "YouTube video ID to unlike"
                      example: "dQw4w9WgXcQ"
      responses:
        "200":
          description: Unlike confirmation.
          content:
            application/json:
              schema:
                type: object

  /youtubei/v1/subscription/subscribe:
    post:
      operationId: subscribeChannel
      summary: "Subscribe to a channel (requires auth — sapisidhash). SAFE: reversible"
      x-openweb:
        permission: write
        build:
          stable_id: yt0008
          tool_version: 2
          signals:
            - status-match
      parameters:
        - name: key
          in: query
          required: true
          description: "Innertube API key"
          schema:
            type: string
          example: AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
          example: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - context
                - channelIds
              properties:
                context:
                  type: object
                  properties:
                    client:
                      type: object
                      properties:
                        clientName:
                          type: string
                          example: WEB
                        clientVersion:
                          type: string
                          example: "2.20260325.08.00"
                channelIds:
                  type: array
                  items:
                    type: string
                  description: "Channel IDs to subscribe to (e.g. UCsBjURrPoezykLs9EqgamOA)"
      responses:
        "200":
          description: Subscribe confirmation.
          content:
            application/json:
              schema:
                type: object
