openapi: 3.1.0
info:
  title: youtube
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T08:09:47.642Z
    requires_auth: false
servers:
  - url: https://www.youtube.com
    x-openweb:
      transport: node
paths:
  /youtubei/v1/search:
    post:
      operationId: searchVideos
      summary: Search videos by keyword
      x-openweb:
        permission: read
      parameters:
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
            default: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: Search query string
                context:
                  type: object
                  default:
                    client:
                      clientName: WEB
                      clientVersion: "2.20260325"
                      hl: en
                      gl: US
              required:
                - query
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  contents:
                    type: object
                    description: Search results in twoColumnSearchResultsRenderer
                  estimatedResults:
                    type: string
  /youtubei/v1/next:
    post:
      operationId: getVideoDetail
      summary: Get video detail including metadata, comments, and recommendations
      x-openweb:
        permission: read
      parameters:
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
            default: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                videoId:
                  type: string
                  description: YouTube video ID (e.g. dQw4w9WgXcQ)
                context:
                  type: object
                  default:
                    client:
                      clientName: WEB
                      clientVersion: "2.20260325"
                      hl: en
                      gl: US
              required:
                - videoId
      responses:
        "200":
          description: Video detail with comments and recommendations
          content:
            application/json:
              schema:
                type: object
                properties:
                  contents:
                    type: object
                    description: Video info, comments, and related videos
  /youtubei/v1/player:
    post:
      operationId: getVideoPlayer
      summary: Get video player configuration and streaming info
      x-openweb:
        permission: read
      parameters:
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
            default: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                videoId:
                  type: string
                  description: YouTube video ID
                context:
                  type: object
                  default:
                    client:
                      clientName: WEB
                      clientVersion: "2.20260325"
                      hl: en
                      gl: US
              required:
                - videoId
      responses:
        "200":
          description: Player configuration with streaming data
          content:
            application/json:
              schema:
                type: object
                properties:
                  videoDetails:
                    type: object
                  streamingData:
                    type: object
  /youtubei/v1/browse:
    post:
      operationId: browseContent
      summary: Browse YouTube content (channels, home feed, playlists)
      description: >
        Generic browse endpoint. Pass a browseId to select content type:
        channel ID (UC...) for channel page, VL + playlist ID for playlist,
        FEwhat_to_watch for home feed.
      x-openweb:
        permission: read
      parameters:
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
            default: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                browseId:
                  type: string
                  description: "Browse endpoint ID. Use FEwhat_to_watch for home feed, UC... channel IDs for channels (e.g. UCX6OQ3DkcsbYNE6H8uQQuVA for MrBeast)"
                params:
                  type: string
                  description: Optional encoded params for pagination or sub-tabs
                context:
                  type: object
                  default:
                    client:
                      clientName: WEB
                      clientVersion: "2.20260325"
                      hl: en
                      gl: US
              required:
                - browseId
      responses:
        "200":
          description: Browse page content
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    type: object
                  contents:
                    type: object
                  metadata:
                    type: object
  /youtubei/v1/guide:
    post:
      operationId: getGuide
      summary: Get YouTube sidebar navigation guide
      x-openweb:
        permission: read
      parameters:
        - name: prettyPrint
          in: query
          required: false
          schema:
            type: string
            default: "false"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  default:
                    client:
                      clientName: WEB
                      clientVersion: "2.20260325"
                      hl: en
                      gl: US
      responses:
        "200":
          description: Guide navigation items
          content:
            application/json:
              schema:
                type: object
