openapi: 3.1.0
info:
  title: x
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-01T17:02:13.234Z
    requires_auth: true
servers:
  - url: https://x.com
    x-openweb:
      transport: page
paths:
  /internal/getHomeTimeline:
    get:
      operationId: getHomeTimeline
      summary: "Get home timeline — tweets, retweets, promoted content with author info, engagement counts, cursor pagination"
      x-openweb:
        permission: read
        build:
          stable_id: 094ad7404e54e3b4
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: getHomeTimeline
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of tweets to return
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  home:
                    type: object
                    properties:
                      home_timeline_urt:
                        type: object
                        properties:
                          instructions:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                entries:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      entryId:
                                        type: string
                                      sortIndex:
                                        type: string
                                      content:
                                        type: object
                          metadata:
                            type: object

  /internal/getTweetDetail:
    get:
      operationId: getTweetDetail
      summary: "Get tweet detail — full tweet content, replies thread, author info, engagement counts, media, quoted tweets"
      x-openweb:
        permission: read
        build:
          stable_id: 40f50380aa7c842d
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: getTweetDetail
      parameters:
        - name: focalTweetId
          in: query
          required: true
          schema:
            type: string
          description: Tweet ID to get detail for
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  threaded_conversation_with_injections_v2:
                    type: object
                    properties:
                      instructions:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  entryId:
                                    type: string
                                  sortIndex:
                                    type: string
                                  content:
                                    type: object
                      metadata:
                        type: object

  /internal/getUserByScreenName:
    get:
      operationId: getUserByScreenName
      summary: "Get user profile by screen name — name, bio, followers/following count, verified status, profile image, join date"
      x-openweb:
        permission: read
        build:
          stable_id: b690ce172d53e653
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: getUserByScreenName
      parameters:
        - name: screen_name
          in: query
          required: true
          schema:
            type: string
          description: Twitter screen name (without @)
          example: openai
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      result:
                        type: object
                        properties:
                          __typename:
                            type: string
                          rest_id:
                            type: string
                          is_blue_verified:
                            type: boolean
                          core:
                            type: object
                            properties:
                              name:
                                type: string
                              screen_name:
                                type: string
                              created_at:
                                type: string
                          legacy:
                            type: object
                            properties:
                              description:
                                type: string
                              followers_count:
                                type: integer
                              friends_count:
                                type: integer
                              statuses_count:
                                type: integer
                              media_count:
                                type: integer
                              profile_banner_url:
                                type: string
                          verification:
                            type: object
                            properties:
                              verified:
                                type: boolean
                              verified_type:
                                type: string

  /internal/searchTweets:
    get:
      operationId: searchTweets
      summary: "Search tweets by keyword — tweet results with author info, engagement counts, media, cursor pagination"
      x-openweb:
        permission: read
        build:
          stable_id: 5c9b3e64cc81d1a8
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: searchTweets
      parameters:
        - name: rawQuery
          in: query
          required: true
          schema:
            type: string
          description: Search query
          example: openai
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of results
        - name: product
          in: query
          required: false
          schema:
            type: string
            enum: [Top, Latest, People, Photos, Videos]
            default: Top
          description: Search result type
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_by_raw_query:
                    type: object
                    properties:
                      search_timeline:
                        type: object
                        properties:
                          timeline:
                            type: object
                            properties:
                              instructions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                    entries:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          entryId:
                                            type: string
                                          sortIndex:
                                            type: string
                                          content:
                                            type: object
                              responseObjects:
                                type: object

  /internal/getUserFollowers:
    get:
      operationId: getUserFollowers
      summary: "Get user followers — list of follower profiles with bio, follow counts, verified status, cursor pagination"
      x-openweb:
        permission: read
        build:
          stable_id: 2aaf96a63e4e20f7
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: getUserFollowers
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
          description: "Numeric user ID (from getUserByScreenName → rest_id)"
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of followers to return
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      result:
                        type: object
                        properties:
                          __typename:
                            type: string
                          timeline:
                            type: object
                            properties:
                              timeline:
                                type: object
                                properties:
                                  instructions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        entries:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              entryId:
                                                type: string
                                              sortIndex:
                                                type: string
                                              content:
                                                type: object

  /internal/getUserFollowing:
    get:
      operationId: getUserFollowing
      summary: "Get user following — list of accounts the user follows with profile info, cursor pagination"
      x-openweb:
        permission: read
        build:
          stable_id: 7ac2c68ca93d8b16
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: getUserFollowing
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
          description: "Numeric user ID (from getUserByScreenName → rest_id)"
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of following to return
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      result:
                        type: object
                        properties:
                          __typename:
                            type: string
                          timeline:
                            type: object
                            properties:
                              timeline:
                                type: object
                                properties:
                                  instructions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        entries:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              entryId:
                                                type: string
                                              sortIndex:
                                                type: string
                                              content:
                                                type: object

  /internal/getUserTweets:
    get:
      operationId: getUserTweets
      summary: "Get user's tweets — timeline of tweets by a specific user with engagement counts, media, cursor pagination"
      x-openweb:
        permission: read
        build:
          stable_id: c847d0a51b3bd2e1
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: getUserTweets
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
          description: "Numeric user ID (from getUserByScreenName → rest_id)"
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Number of tweets to return
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      result:
                        type: object
                        properties:
                          __typename:
                            type: string
                          timeline:
                            type: object
                            properties:
                              timeline:
                                type: object
                                properties:
                                  instructions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        entries:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              entryId:
                                                type: string
                                              sortIndex:
                                                type: string
                                              content:
                                                type: object

  /internal/getExplorePage:
    get:
      operationId: getExplorePage
      summary: "Get explore/trending page — trending topics, recommended content, news"
      x-openweb:
        permission: read
        build:
          stable_id: 6d8f4c2e1a3b5970
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: getExplorePage
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  explore_page:
                    type: object
                    properties:
                      id:
                        type: string
                      body:
                        type: object
                        properties:
                          __typename:
                            type: string
                          timelines:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                labelText:
                                  type: string
                                timeline:
                                  type: object

  /internal/likeTweet:
    post:
      operationId: likeTweet
      summary: "Like a tweet"
      x-openweb:
        permission: write
        build:
          stable_id: 8e1f27c7f48a6bf5
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: likeTweet
      parameters:
        - name: tweet_id
          in: query
          required: true
          schema:
            type: string
          description: Tweet ID to like
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /internal/unlikeTweet:
    post:
      operationId: unlikeTweet
      summary: "Unlike a tweet"
      x-openweb:
        permission: write
        build:
          stable_id: 4cb79114b9ccaa27
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: unlikeTweet
      parameters:
        - name: tweet_id
          in: query
          required: true
          schema:
            type: string
          description: Tweet ID to unlike
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /internal/createBookmark:
    post:
      operationId: createBookmark
      summary: "Bookmark a tweet"
      x-openweb:
        permission: write
        build:
          stable_id: b2c4ea53219c3d2a
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: createBookmark
      parameters:
        - name: tweet_id
          in: query
          required: true
          schema:
            type: string
          description: Tweet ID to bookmark
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /internal/deleteBookmark:
    post:
      operationId: deleteBookmark
      summary: "Remove a tweet bookmark"
      x-openweb:
        permission: write
        build:
          stable_id: d6e3a19c85c7f432
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: deleteBookmark
      parameters:
        - name: tweet_id
          in: query
          required: true
          schema:
            type: string
          description: Tweet ID to unbookmark
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /internal/createRetweet:
    post:
      operationId: createRetweet
      summary: "Retweet a tweet"
      x-openweb:
        permission: write
        build:
          stable_id: 3f7d28c951e2b4a6
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: createRetweet
      parameters:
        - name: tweet_id
          in: query
          required: true
          schema:
            type: string
          description: Tweet ID to retweet
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object

  /internal/deleteRetweet:
    post:
      operationId: deleteRetweet
      summary: "Undo a retweet"
      x-openweb:
        permission: write
        build:
          stable_id: 9a8bc3d4e5f61728
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: x-graphql
          operation: deleteRetweet
      parameters:
        - name: source_tweet_id
          in: query
          required: true
          schema:
            type: string
          description: Original tweet ID to un-retweet
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
