openapi: 3.1.0
info:
  title: X (Twitter) API
  version: "2.0"
  x-openweb:
    spec_version: "2.0"
servers:
  - url: https://x.com/i/api
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: ct0
        header: x-csrf-token
        scope:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
paths:
  /1.1/friends/list.json:
    get:
      operationId: listFollowing
      summary: List accounts the authenticated user is following
      x-openweb:
        permission: read
        build:
          stable_id: x0001
          tool_version: 1
          verified: true
          signals:
            - status-match
        pagination:
          type: cursor
          response_field: next_cursor_str
          request_param: cursor
          items_path: users
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
            const: Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
          description: Static X web app bearer token (fixed).
        - name: x-twitter-auth-type
          in: header
          required: false
          schema:
            type: string
            default: OAuth2Session
        - name: x-twitter-active-user
          in: header
          required: false
          schema:
            type: string
            default: yes
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: List of followed users.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id_str:
                          type: string
                        name:
                          type: string
                        screen_name:
                          type: string
                        followers_count:
                          type: integer
                  next_cursor_str:
                    type: string
                  total_count:
                    type:
                      - integer
                      - "null"
  /1.1/followers/list.json:
    get:
      operationId: listFollowers
      summary: List the authenticated user's followers
      x-openweb:
        permission: read
        build:
          stable_id: x0002
          tool_version: 1
          verified: true
          signals:
            - status-match
        pagination:
          type: cursor
          response_field: next_cursor_str
          request_param: cursor
          items_path: users
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
            const: Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
          description: Static X web app bearer token (fixed).
        - name: x-twitter-auth-type
          in: header
          required: false
          schema:
            type: string
            default: OAuth2Session
        - name: x-twitter-active-user
          in: header
          required: false
          schema:
            type: string
            default: yes
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: List of followers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id_str:
                          type: string
                        name:
                          type: string
                        screen_name:
                          type: string
                        followers_count:
                          type: integer
                  next_cursor_str:
                    type: string
                  total_count:
                    type:
                      - integer
                      - "null"
  /graphql/xhYBF94fPSp8ey64FfYXiA/HomeTimeline:
    get:
      operationId: getHomeTimeline
      summary: Get home timeline (tweets from followed accounts)
      x-openweb:
        permission: read
        build:
          stable_id: x0003
          tool_version: 1
          verified: false
      parameters:
        - &a1
          name: Authorization
          in: header
          required: false
          schema:
            type: string
            const: Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
          description: Static X web app bearer token (fixed).
        - &a2
          name: x-twitter-auth-type
          in: header
          required: false
          schema:
            type: string
            default: OAuth2Session
        - &a3
          name: x-twitter-active-user
          in: header
          required: false
          schema:
            type: string
            default: yes
        - name: variables
          in: query
          required: true
          schema:
            type: string
            description: JSON-encoded variables object
          x-openweb-json-schema:
            type: object
            properties:
              count:
                type: integer
                default: 20
                description: Number of tweets
              includePromotedContent:
                type: boolean
                default: true
        - name: features
          in: query
          required: false
          schema: &a4
            type: string
            description: JSON-encoded feature flags object
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      home:
                        type: object
                        properties:
                          home_timeline_urt:
                            type: object
                            properties:
                              instructions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    entries:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          content:
                                            type: object
                                            properties:
                                              __typename:
                                                type: string
                                              clientEventInfo:
                                                type: object
                                                properties:
                                                  component:
                                                    type: string
                                                  details:
                                                    type: object
                                                    properties:
                                                      timelinesDetails:
                                                        type: object
                                                        properties:
                                                          controllerData:
                                                            type: string
                                                          injectionType:
                                                            type: string
                                                  element:
                                                    type: string
                                              entryType:
                                                type: string
                                              feedbackInfo:
                                                type: object
                                                properties:
                                                  feedbackKeys:
                                                    type: array
                                                    items:
                                                      type: string
                                              itemContent:
                                                type: object
                                                properties:
                                                  __typename:
                                                    type: string
                                                  itemType:
                                                    type: string
                                                  tweetDisplayType:
                                                    type: string
                                                  tweet_results:
                                                    type: object
                                                    properties:
                                                      result:
                                                        type: object
                                                        properties:
                                                          __typename:
                                                            type: string
                                                          core:
                                                            type: object
                                                            properties:
                                                              user_results:
                                                                type: object
                                                                properties:
                                                                  result:
                                                                    type: object
                                                                    properties:
                                                                      __typename:
                                                                        type: string
                                                                      affiliates_highlighted_label:
                                                                        type: object
                                                                        properties:
                                                                          label:
                                                                            type: object
                                                                            properties:
                                                                              badge:
                                                                                type: object
                                                                                properties:
                                                                                  url:
                                                                                    type: string
                                                                              description:
                                                                                type: string
                                                                              url:
                                                                                type: object
                                                                                properties:
                                                                                  url:
                                                                                    type: string
                                                                                  urlType:
                                                                                    type: string
                                                                              userLabelDisplayType:
                                                                                type: string
                                                                              userLabelType:
                                                                                type: string
                                                                      avatar:
                                                                        type: object
                                                                        properties:
                                                                          image_url:
                                                                            type: string
                                                                      core:
                                                                        type: object
                                                                        properties:
                                                                          created_at:
                                                                            type: string
                                                                          name:
                                                                            type: string
                                                                          screen_name:
                                                                            type: string
                                                                      dm_permissions:
                                                                        type: object
                                                                        properties:
                                                                          can_dm:
                                                                            type: boolean
                                                                      follow_request_sent:
                                                                        type: boolean
                                                                      has_graduated_access:
                                                                        type: boolean
                                                                      id:
                                                                        type: string
                                                                      is_blue_verified:
                                                                        type: boolean
                                                                      legacy:
                                                                        type: object
                                                                        properties:
                                                                          default_profile:
                                                                            type: boolean
                                                                          default_profile_image:
                                                                            type: boolean
                                                                          description:
                                                                            type: string
                                                                          entities:
                                                                            type: object
                                                                            properties:
                                                                              description:
                                                                                type: object
                                                                                properties:
                                                                                  urls:
                                                                                    type: array
                                                                                    items:
                                                                                      type: object
                                                                                      properties:
                                                                                        display_url:
                                                                                          type: string
                                                                                        expanded_url:
                                                                                          type: string
                                                                                        indices:
                                                                                          type: array
                                                                                          items:
                                                                                            type: integer
                                                                                        url:
                                                                                          type: string
                                                                              url:
                                                                                type: object
                                                                                properties:
                                                                                  urls:
                                                                                    type: array
                                                                                    items:
                                                                                      type: object
                                                                                      properties:
                                                                                        display_url:
                                                                                          type: string
                                                                                        expanded_url:
                                                                                          type: string
                                                                                        indices:
                                                                                          type: array
                                                                                          items:
                                                                                            type: integer
                                                                                        url:
                                                                                          type: string
                                                                          fast_followers_count:
                                                                            type: integer
                                                                          favourites_count:
                                                                            type: integer
                                                                          follow_request_sent:
                                                                            type: boolean
                                                                          followers_count:
                                                                            type: integer
                                                                          friends_count:
                                                                            type: integer
                                                                          has_custom_timelines:
                                                                            type: boolean
                                                                          is_translator:
                                                                            type: boolean
                                                                          listed_count:
                                                                            type: integer
                                                                          media_count:
                                                                            type: integer
                                                                          normal_followers_count:
                                                                            type: integer
                                                                          notifications:
                                                                            type: boolean
                                                                          pinned_tweet_ids_str:
                                                                            type: array
                                                                            items:
                                                                              type: string
                                                                          possibly_sensitive:
                                                                            type: boolean
                                                                          profile_banner_url:
                                                                            type: string
                                                                          profile_interstitial_type:
                                                                            type: string
                                                                          statuses_count:
                                                                            type: integer
                                                                          translator_type:
                                                                            type: string
                                                                          url:
                                                                            type: string
                                                                          want_retweets:
                                                                            type: boolean
                                                                          withheld_in_countries:
                                                                            type: array
                                                                            items:
                                                                              type: object
                                                                      location:
                                                                        type: object
                                                                        properties:
                                                                          location:
                                                                            type: string
                                                                      media_permissions:
                                                                        type: object
                                                                        properties:
                                                                          can_media_tag:
                                                                            type: boolean
                                                                      parody_commentary_fan_label:
                                                                        type: string
                                                                      privacy:
                                                                        type: object
                                                                        properties:
                                                                          protected:
                                                                            type: boolean
                                                                      professional:
                                                                        type: object
                                                                        properties:
                                                                          professional_type:
                                                                            type: string
                                                                          rest_id:
                                                                            type: string
                                                                      profile_bio:
                                                                        type: object
                                                                        properties:
                                                                          description:
                                                                            type: string
                                                                      profile_description_language:
                                                                        type: string
                                                                      profile_image_shape:
                                                                        type: string
                                                                      relationship_perspectives:
                                                                        type: object
                                                                        properties:
                                                                          blocked_by:
                                                                            type: boolean
                                                                          blocking:
                                                                            type: boolean
                                                                          followed_by:
                                                                            type: boolean
                                                                          following:
                                                                            type: boolean
                                                                          muting:
                                                                            type: boolean
                                                                      rest_id:
                                                                        type: string
                                                                      super_follow_eligible:
                                                                        type: boolean
                                                                      super_followed_by:
                                                                        type: boolean
                                                                      super_following:
                                                                        type: boolean
                                                                      verification:
                                                                        type: object
                                                                        properties:
                                                                          verified:
                                                                            type: boolean
                                                                          verified_type:
                                                                            type: string
                                                          edit_control:
                                                            type: object
                                                            properties:
                                                              edit_tweet_ids:
                                                                type: array
                                                                items:
                                                                  type: string
                                                              editable_until_msecs:
                                                                type: string
                                                              edits_remaining:
                                                                type: string
                                                              is_edit_eligible:
                                                                type: boolean
                                                              edit_control_initial:
                                                                type: object
                                                                properties:
                                                                  edit_tweet_ids:
                                                                    type: array
                                                                    items:
                                                                      type: string
                                                                  editable_until_msecs:
                                                                    type: string
                                                                  edits_remaining:
                                                                    type: string
                                                                  is_edit_eligible:
                                                                    type: boolean
                                                              initial_tweet_id:
                                                                type: string
                                                          grok_analysis_button:
                                                            type: boolean
                                                          grok_annotations:
                                                            type: object
                                                            properties:
                                                              is_image_editable_by_grok:
                                                                type: boolean
                                                          grok_translated_post_with_availability:
                                                            type: object
                                                            properties:
                                                              is_available:
                                                                type: boolean
                                                          is_translatable:
                                                            type: boolean
                                                          legacy:
                                                            type: object
                                                            properties:
                                                              bookmark_count:
                                                                type: integer
                                                              bookmarked:
                                                                type: boolean
                                                              conversation_id_str:
                                                                type: string
                                                              created_at:
                                                                type: string
                                                              display_text_range:
                                                                type: array
                                                                items:
                                                                  type: integer
                                                              entities:
                                                                type: object
                                                                properties:
                                                                  hashtags:
                                                                    type: array
                                                                    items:
                                                                      type: object
                                                                  symbols:
                                                                    type: array
                                                                    items:
                                                                      type: object
                                                                  timestamps:
                                                                    type: array
                                                                    items:
                                                                      type: object
                                                                  urls:
                                                                    type: array
                                                                    items:
                                                                      type: object
                                                                      properties:
                                                                        display_url:
                                                                          type: string
                                                                        indices:
                                                                          type: array
                                                                          items:
                                                                            type: integer
                                                                        url:
                                                                          type: string
                                                                        expanded_url:
                                                                          type: string
                                                                  user_mentions:
                                                                    type: array
                                                                    items:
                                                                      type: object
                                                                      properties:
                                                                        id_str:
                                                                          type: string
                                                                        indices:
                                                                          type: array
                                                                          items:
                                                                            type: integer
                                                                        name:
                                                                          type: string
                                                                        screen_name:
                                                                          type: string
                                                                  media:
                                                                    type: array
                                                                    items:
                                                                      type: object
                                                                      properties:
                                                                        additional_media_info:
                                                                          type: object
                                                                          properties:
                                                                            monetizable:
                                                                              type: boolean
                                                                            source_user:
                                                                              type: object
                                                                              properties:
                                                                                user_results:
                                                                                  type: object
                                                                                  properties:
                                                                                    result:
                                                                                      type: object
                                                                                      properties:
                                                                                        __typename:
                                                                                          type: string
                                                                                        affiliates_highlighted_label:
                                                                                          type: object
                                                                                          properties: {}
                                                                                        avatar:
                                                                                          type: object
                                                                                          properties:
                                                                                            image_url:
                                                                                              type: string
                                                                                        core:
                                                                                          type: object
                                                                                          properties:
                                                                                            created_at:
                                                                                              type: string
                                                                                            name:
                                                                                              type: string
                                                                                            screen_name:
                                                                                              type: string
                                                                                        dm_permissions:
                                                                                          type: object
                                                                                          properties:
                                                                                            can_dm:
                                                                                              type: boolean
                                                                                        follow_request_sent:
                                                                                          type: boolean
                                                                                        has_graduated_access:
                                                                                          type: boolean
                                                                                        id:
                                                                                          type: string
                                                                                        is_blue_verified:
                                                                                          type: boolean
                                                                                        legacy:
                                                                                          type: object
                                                                                          properties:
                                                                                            default_profile:
                                                                                              type: boolean
                                                                                            default_profile_image:
                                                                                              type: boolean
                                                                                            description:
                                                                                              type: string
                                                                                            entities:
                                                                                              type: object
                                                                                              properties:
                                                                                                description:
                                                                                                  type: object
                                                                                                  properties:
                                                                                                    urls:
                                                                                                      type: array
                                                                                                      items:
                                                                                                        type: object
                                                                                                        properties:
                                                                                                          display_url:
                                                                                                            type: string
                                                                                                          expanded_url:
                                                                                                            type: string
                                                                                                          indices:
                                                                                                            type: array
                                                                                                            items:
                                                                                                              type: integer
                                                                                                          url:
                                                                                                            type: string
                                                                                                url:
                                                                                                  type: object
                                                                                                  properties:
                                                                                                    urls:
                                                                                                      type: array
                                                                                                      items:
                                                                                                        type: object
                                                                                                        properties:
                                                                                                          display_url:
                                                                                                            type: string
                                                                                                          expanded_url:
                                                                                                            type: string
                                                                                                          indices:
                                                                                                            type: array
                                                                                                            items:
                                                                                                              type: integer
                                                                                                          url:
                                                                                                            type: string
                                                                                            fast_followers_count:
                                                                                              type: integer
                                                                                            favourites_count:
                                                                                              type: integer
                                                                                            follow_request_sent:
                                                                                              type: boolean
                                                                                            followers_count:
                                                                                              type: integer
                                                                                            friends_count:
                                                                                              type: integer
                                                                                            has_custom_timelines:
                                                                                              type: boolean
                                                                                            is_translator:
                                                                                              type: boolean
                                                                                            listed_count:
                                                                                              type: integer
                                                                                            media_count:
                                                                                              type: integer
                                                                                            normal_followers_count:
                                                                                              type: integer
                                                                                            notifications:
                                                                                              type: boolean
                                                                                            pinned_tweet_ids_str:
                                                                                              type: array
                                                                                              items:
                                                                                                type: string
                                                                                            possibly_sensitive:
                                                                                              type: boolean
                                                                                            profile_banner_url:
                                                                                              type: string
                                                                                            profile_interstitial_type:
                                                                                              type: string
                                                                                            statuses_count:
                                                                                              type: integer
                                                                                            translator_type:
                                                                                              type: string
                                                                                            url:
                                                                                              type: string
                                                                                            want_retweets:
                                                                                              type: boolean
                                                                                            withheld_in_countries:
                                                                                              type: array
                                                                                              items:
                                                                                                type: object
                                                                                        location:
                                                                                          type: object
                                                                                          properties:
                                                                                            location:
                                                                                              type: string
                                                                                        media_permissions:
                                                                                          type: object
                                                                                          properties:
                                                                                            can_media_tag:
                                                                                              type: boolean
                                                                                        parody_commentary_fan_label:
                                                                                          type: string
                                                                                        privacy:
                                                                                          type: object
                                                                                          properties:
                                                                                            protected:
                                                                                              type: boolean
                                                                                        profile_bio:
                                                                                          type: object
                                                                                          properties:
                                                                                            description:
                                                                                              type: string
                                                                                        profile_description_language:
                                                                                          type: string
                                                                                        profile_image_shape:
                                                                                          type: string
                                                                                        relationship_perspectives:
                                                                                          type: object
                                                                                          properties:
                                                                                            blocked_by:
                                                                                              type: boolean
                                                                                            blocking:
                                                                                              type: boolean
                                                                                            followed_by:
                                                                                              type: boolean
                                                                                            following:
                                                                                              type: boolean
                                                                                            muting:
                                                                                              type: boolean
                                                                                        rest_id:
                                                                                          type: string
                                                                                        super_follow_eligible:
                                                                                          type: boolean
                                                                                        super_followed_by:
                                                                                          type: boolean
                                                                                        super_following:
                                                                                          type: boolean
                                                                                        verification:
                                                                                          type: object
                                                                                          properties:
                                                                                            verified:
                                                                                              type: boolean
                                                                        allow_download_status:
                                                                          type: object
                                                                          properties:
                                                                            allow_download:
                                                                              type: boolean
                                                                        display_url:
                                                                          type: string
                                                                        expanded_url:
                                                                          type: string
                                                                        ext_media_availability:
                                                                          type: object
                                                                          properties:
                                                                            status:
                                                                              type: string
                                                                        id_str:
                                                                          type: string
                                                                        indices:
                                                                          type: array
                                                                          items:
                                                                            type: integer
                                                                        media_key:
                                                                          type: string
                                                                        media_results:
                                                                          type: object
                                                                          properties:
                                                                            result:
                                                                              type: object
                                                                              properties:
                                                                                media_key:
                                                                                  type: string
                                                                        media_url_https:
                                                                          type: string
                                                                        original_info:
                                                                          type: object
                                                                          properties:
                                                                            focus_rects:
                                                                              type: array
                                                                              items:
                                                                                type: object
                                                                                properties:
                                                                                  h:
                                                                                    type: integer
                                                                                  w:
                                                                                    type: integer
                                                                                  x:
                                                                                    type: integer
                                                                                  y:
                                                                                    type: integer
                                                                            height:
                                                                              type: integer
                                                                            width:
                                                                              type: integer
                                                                        sizes:
                                                                          type: object
                                                                          properties:
                                                                            large:
                                                                              type: object
                                                                              properties:
                                                                                h:
                                                                                  type: integer
                                                                                resize:
                                                                                  type: string
                                                                                w:
                                                                                  type: integer
                                                                            medium:
                                                                              type: object
                                                                              properties:
                                                                                h:
                                                                                  type: integer
                                                                                resize:
                                                                                  type: string
                                                                                w:
                                                                                  type: integer
                                                                            small:
                                                                              type: object
                                                                              properties:
                                                                                h:
                                                                                  type: integer
                                                                                resize:
                                                                                  type: string
                                                                                w:
                                                                                  type: integer
                                                                            thumb:
                                                                              type: object
                                                                              properties:
                                                                                h:
                                                                                  type: integer
                                                                                resize:
                                                                                  type: string
                                                                                w:
                                                                                  type: integer
                                                                        source_status_id_str:
                                                                          type: string
                                                                        source_user_id_str:
                                                                          type: string
                                                                        type:
                                                                          type: string
                                                                        url:
                                                                          type: string
                                                                        video_info:
                                                                          type: object
                                                                          properties:
                                                                            aspect_ratio:
                                                                              type: array
                                                                              items:
                                                                                type: integer
                                                                            duration_millis:
                                                                              type: integer
                                                                            variants:
                                                                              type: array
                                                                              items:
                                                                                type: object
                                                                                properties:
                                                                                  content_type:
                                                                                    type: string
                                                                                  url:
                                                                                    type: string
                                                                                  bitrate:
                                                                                    type: integer
                                                                        features:
                                                                          type: object
                                                                          properties:
                                                                            large:
                                                                              type: object
                                                                              properties:
                                                                                faces:
                                                                                  type: array
                                                                                  items:
                                                                                    type: object
                                                                                    properties:
                                                                                      h:
                                                                                        type: integer
                                                                                      w:
                                                                                        type: integer
                                                                                      x:
                                                                                        type: integer
                                                                                      y:
                                                                                        type: integer
                                                                            medium:
                                                                              type: object
                                                                              properties:
                                                                                faces:
                                                                                  type: array
                                                                                  items:
                                                                                    type: object
                                                                                    properties:
                                                                                      h:
                                                                                        type: integer
                                                                                      w:
                                                                                        type: integer
                                                                                      x:
                                                                                        type: integer
                                                                                      y:
                                                                                        type: integer
                                                                            orig:
                                                                              type: object
                                                                              properties:
                                                                                faces:
                                                                                  type: array
                                                                                  items:
                                                                                    type: object
                                                                                    properties:
                                                                                      h:
                                                                                        type: integer
                                                                                      w:
                                                                                        type: integer
                                                                                      x:
                                                                                        type: integer
                                                                                      y:
                                                                                        type: integer
                                                                            small:
                                                                              type: object
                                                                              properties:
                                                                                faces:
                                                                                  type: array
                                                                                  items:
                                                                                    type: object
                                                                                    properties:
                                                                                      h:
                                                                                        type: integer
                                                                                      w:
                                                                                        type: integer
                                                                                      x:
                                                                                        type: integer
                                                                                      y:
                                                                                        type: integer
                                                                            all:
                                                                              type: object
                                                                              properties:
                                                                                tags:
                                                                                  type: array
                                                                                  items:
                                                                                    type: object
                                                                                    properties:
                                                                                      name:
                                                                                        type: string
                                                                                      screen_name:
                                                                                        type: string
                                                                                      type:
                                                                                        type: string
                                                                                      user_id:
                                                                                        type: string
                                                              favorite_count:
                                                                type: integer
                                                              favorited:
                                                                type: boolean
                                                              full_text:
                                                                type: string
                                                              id_str:
                                                                type: string
                                                              is_quote_status:
                                                                type: boolean
                                                              lang:
                                                                type: string
                                                              quote_count:
                                                                type: integer
                                                              reply_count:
                                                                type: integer
                                                              retweet_count:
                                                                type: integer
                                                              retweeted:
                                                                type: boolean
                                                              user_id_str:
                                                                type: string
                                                              quoted_status_id_str:
                                                                type: string
                                                              quoted_status_permalink:
                                                                type: object
                                                                properties:
                                                                  display:
                                                                    type: string
                                                                  expanded:
                                                                    type: string
                                                                  url:
                                                                    type: string
                                                              retweeted_status_result:
                                                                type: object
                                                                properties:
                                                                  result:
                                                                    type: object
                                                                    properties:
                                                                      __typename:
                                                                        type: string
                                                                      core:
                                                                        type: object
                                                                        properties:
                                                                          user_results:
                                                                            type: object
                                                                            properties:
                                                                              result:
                                                                                type: object
                                                                                properties:
                                                                                  __typename:
                                                                                    type: string
                                                                                  affiliates_highlighted_label:
                                                                                    type: object
                                                                                    properties: {}
                                                                                  avatar:
                                                                                    type: object
                                                                                    properties:
                                                                                      image_url:
                                                                                        type: string
                                                                                  core:
                                                                                    type: object
                                                                                    properties:
                                                                                      created_at:
                                                                                        type: string
                                                                                      name:
                                                                                        type: string
                                                                                      screen_name:
                                                                                        type: string
                                                                                  dm_permissions:
                                                                                    type: object
                                                                                    properties:
                                                                                      can_dm:
                                                                                        type: boolean
                                                                                  follow_request_sent:
                                                                                    type: boolean
                                                                                  has_graduated_access:
                                                                                    type: boolean
                                                                                  id:
                                                                                    type: string
                                                                                  is_blue_verified:
                                                                                    type: boolean
                                                                                  legacy:
                                                                                    type: object
                                                                                    properties:
                                                                                      default_profile:
                                                                                        type: boolean
                                                                                      default_profile_image:
                                                                                        type: boolean
                                                                                      description:
                                                                                        type: string
                                                                                      entities:
                                                                                        type: object
                                                                                        properties:
                                                                                          description:
                                                                                            type: object
                                                                                            properties:
                                                                                              urls:
                                                                                                type: array
                                                                                                items:
                                                                                                  type: object
                                                                                                  properties:
                                                                                                    display_url:
                                                                                                      type: string
                                                                                                    expanded_url:
                                                                                                      type: string
                                                                                                    indices:
                                                                                                      type: array
                                                                                                      items:
                                                                                                        type: integer
                                                                                                    url:
                                                                                                      type: string
                                                                                          url:
                                                                                            type: object
                                                                                            properties:
                                                                                              urls:
                                                                                                type: array
                                                                                                items:
                                                                                                  type: object
                                                                                                  properties:
                                                                                                    display_url:
                                                                                                      type: string
                                                                                                    expanded_url:
                                                                                                      type: string
                                                                                                    indices:
                                                                                                      type: array
                                                                                                      items:
                                                                                                        type: integer
                                                                                                    url:
                                                                                                      type: string
                                                                                      fast_followers_count:
                                                                                        type: integer
                                                                                      favourites_count:
                                                                                        type: integer
                                                                                      follow_request_sent:
                                                                                        type: boolean
                                                                                      followers_count:
                                                                                        type: integer
                                                                                      friends_count:
                                                                                        type: integer
                                                                                      has_custom_timelines:
                                                                                        type: boolean
                                                                                      is_translator:
                                                                                        type: boolean
                                                                                      listed_count:
                                                                                        type: integer
                                                                                      media_count:
                                                                                        type: integer
                                                                                      normal_followers_count:
                                                                                        type: integer
                                                                                      notifications:
                                                                                        type: boolean
                                                                                      pinned_tweet_ids_str:
                                                                                        type: array
                                                                                        items:
                                                                                          type: string
                                                                                      possibly_sensitive:
                                                                                        type: boolean
                                                                                      profile_banner_url:
                                                                                        type: string
                                                                                      profile_interstitial_type:
                                                                                        type: string
                                                                                      statuses_count:
                                                                                        type: integer
                                                                                      translator_type:
                                                                                        type: string
                                                                                      url:
                                                                                        type: string
                                                                                      want_retweets:
                                                                                        type: boolean
                                                                                      withheld_in_countries:
                                                                                        type: array
                                                                                        items:
                                                                                          type: object
                                                                                  location:
                                                                                    type: object
                                                                                    properties:
                                                                                      location:
                                                                                        type: string
                                                                                  media_permissions:
                                                                                    type: object
                                                                                    properties:
                                                                                      can_media_tag:
                                                                                        type: boolean
                                                                                  parody_commentary_fan_label:
                                                                                    type: string
                                                                                  privacy:
                                                                                    type: object
                                                                                    properties:
                                                                                      protected:
                                                                                        type: boolean
                                                                                  profile_bio:
                                                                                    type: object
                                                                                    properties:
                                                                                      description:
                                                                                        type: string
                                                                                  profile_description_language:
                                                                                    type: string
                                                                                  profile_image_shape:
                                                                                    type: string
                                                                                  relationship_perspectives:
                                                                                    type: object
                                                                                    properties:
                                                                                      blocked_by:
                                                                                        type: boolean
                                                                                      blocking:
                                                                                        type: boolean
                                                                                      followed_by:
                                                                                        type: boolean
                                                                                      following:
                                                                                        type: boolean
                                                                                      muting:
                                                                                        type: boolean
                                                                                  rest_id:
                                                                                    type: string
                                                                                  super_follow_eligible:
                                                                                    type: boolean
                                                                                  super_followed_by:
                                                                                    type: boolean
                                                                                  super_following:
                                                                                    type: boolean
                                                                                  verification:
                                                                                    type: object
                                                                                    properties:
                                                                                      verified:
                                                                                        type: boolean
                                                                                      verified_type:
                                                                                        type: string
                                                                                  professional:
                                                                                    type: object
                                                                                    properties:
                                                                                      professional_type:
                                                                                        type: string
                                                                                      rest_id:
                                                                                        type: string
                                                                      edit_control:
                                                                        type: object
                                                                        properties:
                                                                          edit_tweet_ids:
                                                                            type: array
                                                                            items:
                                                                              type: string
                                                                          editable_until_msecs:
                                                                            type: string
[...]
