openapi: 3.1.0
info:
  title: x
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T18:48:15.081Z
    requires_auth: true
servers:
  - url: https://x.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: ct0
        header: x-csrf-token
paths:
  /1.1/account/multi/list.json:
    get:
      operationId: getAccountLists
      summary: Get Twitter lists for the account
      x-openweb:
        permission: read
        build:
          stable_id: 34a4cdd258c10cc9
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                          enum:
                            - "2009809627744247808"
                            - "4211243893"
                        name:
                          type: string
                          enum:
                            - MoonkeyX
                            - Q Guo
                        screen_name:
                          type: string
                          enum:
                            - QGuo219895
                            - iamoonkey
                        avatar_image_url:
                          type: string
                          format: uri
                        is_suspended:
                          type: boolean
                        is_verified:
                          type: boolean
                        is_protected:
                          type: boolean
                        is_auth_valid:
                          type: boolean
                      required:
                        - user_id
                        - name
                        - screen_name
                        - avatar_image_url
                        - is_suspended
                        - is_verified
                        - is_protected
                        - is_auth_valid
                required:
                  - users
      servers:
        - url: https://api.x.com
  /1.1/account/settings.json:
    get:
      operationId: getAccountSettings
      summary: Get account settings
      x-openweb:
        permission: read
        build:
          stable_id: f36f9eb0f990802d
          tool_version: 2
      parameters:
        - name: ext
          in: query
          required: true
          schema:
            type: string
          example: ssoConnections
        - name: include_alt_text_compose
          in: query
          required: true
          schema:
            type: string
          example: "true"
        - name: include_country_code
          in: query
          required: true
          schema:
            type: string
          example: "true"
        - name: include_ext_dm_av_call_settings
          in: query
          required: true
          schema:
            type: string
          example: "true"
        - name: include_ext_dm_nsfw_media_filter
          in: query
          required: true
          schema:
            type: string
          example: "true"
        - name: include_ext_sharing_audiospaces_listening_data_with_followers
          in: query
          required: true
          schema:
            type: string
          example: "true"
        - name: include_mention_filter
          in: query
          required: true
          schema:
            type: string
          example: "true"
        - name: include_nsfw_admin_flag
          in: query
          required: true
          schema:
            type: string
          example: "true"
        - name: include_nsfw_user_flag
          in: query
          required: true
          schema:
            type: string
          example: "true"
        - name: include_ranked_timeline
          in: query
          required: true
          schema:
            type: string
          example: "true"
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
      servers:
        - url: https://api.x.com
  /i/api/1.1/friends/following/list.json:
    get:
      operationId: getFollowingList
      summary: Get following list
      x-openweb:
        permission: read
        build:
          stable_id: 52f0d3a803a6b090
          tool_version: 2
      parameters:
        - name: count
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: cursor
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: include_blocked_by
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: include_blocking
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: include_can_dm
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: include_can_media_tag
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: include_ext_is_blue_verified
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: include_ext_profile_image_shape
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: include_ext_verified_type
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: include_followed_by
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: include_mute_edge
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: include_profile_interstitial_type
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: include_want_retweets
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: skip_status
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: user_id
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: with_total_count
          in: query
          required: true
          schema:
            type: string
          example: "true"
      responses:
        "200":
          description: Success.
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        id_str:
                          type: string
                          enum:
                            - "1936224306750767104"
                            - "1949589818100649984"
                            - "2012653551407808512"
                        name:
                          type: string
                          enum:
                            - Dynamics Lab
                            - Eve Bodnia
                            - Mo
                        screen_name:
                          type: string
                          enum:
                            - DynamicsLab_AI
                            - atmoio
                            - evelovesolive
                        location:
                          type: string
                          enum:
                            - ""
                            - United States
                        description:
                          type: string
                          enum:
                            - An applied research company building at the frontier of AI
                            - EBM reasoning and AGI ecosystem. CEO and founder of @logic_int
                            - Exploring what AI actually is and sharing my learnings. Building @shapeworkspace, prev @standardnotes. Talking at https://t.co/814DpgwSzr and https://t.co/vlHyF3gEjn.
                        url:
                          anyOf:
                            - type: string
                              format: uri
                            - type: "null"
                        entities:
                          type: object
                          properties:
                            url:
                              type: object
                              properties:
                                urls:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                        format: uri
                                      expanded_url:
                                        type: string
                                        format: uri
                                      display_url:
                                        type: string
                                        enum:
                                          - dynamicslab.ai
                                          - mo.io
                                      indices:
                                        type: array
                                        items:
                                          type: integer
                                    required:
                                      - url
                                      - expanded_url
                                      - display_url
                                      - indices
                              required:
                                - urls
                            description:
                              type: object
                              properties:
                                urls:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      url:
                                        type: string
                                        format: uri
                                      expanded_url:
                                        type: string
                                        format: uri
                                      display_url:
                                        type: string
                                        enum:
                                          - atmoio.substack.com
                                          - youtube.com/@atmoio
                                      indices:
                                        type: array
                                        items:
                                          type: integer
                                    required:
                                      - url
                                      - expanded_url
                                      - display_url
                                      - indices
                              required:
                                - urls
                          required:
                            - description
                        protected:
                          type: boolean
                        followers_count:
                          type: integer
                        fast_followers_count:
                          type: integer
                        normal_followers_count:
                          type: integer
                        friends_count:
                          type: integer
                        listed_count:
                          type: integer
                        created_at:
                          type: string
                          enum:
                            - Sat Jan 17 22:29:41 +0000 2026
                            - Sat Jun 21 00:47:19 +0000 2025
                            - Sun Jul 27 21:57:01 +0000 2025
                        favourites_count:
                          type: integer
                        utc_offset:
                          type: "null"
                        time_zone:
                          type: "null"
                        geo_enabled:
                          type: boolean
                        verified:
                          type: boolean
                        statuses_count:
                          type: integer
                        media_count:
                          type: integer
                        lang:
                          type: "null"
                        contributors_enabled:
                          type: boolean
                        is_translator:
                          type: boolean
                        is_translation_enabled:
                          type: boolean
                        profile_background_color:
                          type: string
                          enum:
                            - F5F8FA
                        profile_background_image_url:
                          type: "null"
                        profile_background_image_url_https:
                          type: "null"
                        profile_background_tile:
                          type: boolean
                        profile_image_url:
                          type: string
                          format: uri
                        profile_image_url_https:
                          type: string
                          format: uri
                        profile_link_color:
                          type: string
                          enum:
                            - 1DA1F2
                        profile_sidebar_border_color:
                          type: string
                          enum:
                            - C0DEED
                        profile_sidebar_fill_color:
                          type: string
                          enum:
                            - DDEEF6
                        profile_text_color:
                          type: string
                          enum:
                            - "333333"
                        profile_use_background_image:
                          type: boolean
                        has_extended_profile:
                          type: boolean
                        default_profile:
                          type: boolean
                        default_profile_image:
                          type: boolean
                        pinned_tweet_ids:
                          type: array
                          items:
                            type: integer
                        pinned_tweet_ids_str:
                          type: array
                          items:
                            type: string
                            enum:
                              - "1961497445482844467"
                              - "2014054246979690714"
                              - "2030289138126107074"
                        has_custom_timelines:
                          type: boolean
                        can_dm:
                          type: "null"
                        can_media_tag:
                          type: boolean
                        following:
                          type: boolean
                        live_following:
                          type: boolean
                        follow_request_sent:
                          type: boolean
                        notifications:
                          type: boolean
                        muting:
                          type: boolean
                        blocking:
                          type: boolean
                        blocked_by:
                          type: boolean
                        want_retweets:
                          type: boolean
                        advertiser_account_type:
                          type: string
                          enum:
                            - none
                        advertiser_account_service_levels:
                          type: array
                          items:
                            type: object
                        profile_interstitial_type:
                          type: string
                          enum:
                            - ""
                        business_profile_state:
                          type: string
                          enum:
                            - none
                        translator_type:
                          type: string
                          enum:
                            - none
                        withheld_in_countries:
                          type: array
                          items:
                            type: object
                        followed_by:
                          type: boolean
                        ext_is_blue_verified:
                          type: boolean
                        ext_profile_image_shape:
                          type: string
                          enum:
                            - Circle
                        require_some_consent:
                          type: boolean
                      required:
                        - id
                        - id_str
                        - name
                        - screen_name
                        - location
                        - description
                        - url
                        - entities
                        - protected
                        - followers_count
                        - fast_followers_count
                        - normal_followers_count
                        - friends_count
                        - listed_count
                        - created_at
                        - favourites_count
                        - utc_offset
                        - time_zone
                        - geo_enabled
                        - verified
                        - statuses_count
                        - media_count
                        - lang
                        - contributors_enabled
                        - is_translator
                        - is_translation_enabled
                        - profile_background_color
                        - profile_background_image_url
                        - profile_background_image_url_https
                        - profile_background_tile
                        - profile_image_url
                        - profile_image_url_https
                        - profile_link_color
                        - profile_sidebar_border_color
                        - profile_sidebar_fill_color
                        - profile_text_color
                        - profile_use_background_image
                        - has_extended_profile
                        - default_profile
                        - default_profile_image
                        - pinned_tweet_ids
                        - pinned_tweet_ids_str
                        - has_custom_timelines
                        - can_dm
                        - can_media_tag
                        - following
                        - live_following
                        - follow_request_sent
                        - notifications
                        - muting
                        - blocking
                        - blocked_by
                        - want_retweets
                        - advertiser_account_type
                        - advertiser_account_service_levels
                        - profile_interstitial_type
                        - business_profile_state
                        - translator_type
                        - withheld_in_countries
                        - followed_by
                        - ext_is_blue_verified
                        - ext_profile_image_shape
                        - require_some_consent
                  next_cursor:
                    type: integer
                  next_cursor_str:
                    type: string
                    enum:
                      - "0"
                  previous_cursor:
                    type: integer
                  previous_cursor_str:
                    type: string
                    enum:
                      - "0"
                  total_count:
                    type: integer
                required:
                  - users
                  - next_cursor
                  - next_cursor_str
                  - previous_cursor
                  - previous_cursor_str
                  - total_count
  /i/api/1.1/hashflags.json:
    get:
      operationId: getHashflags
      summary: Get hashflags (special hashtag icons)
      x-openweb:
        permission: read
        build:
          stable_id: 3fb9a9088a9b5607
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
  /i/api/graphql/{id}/ExploreSidebar:
    get:
      operationId: getExploreSidebar
      summary: Get explore sidebar content
      x-openweb:
        permission: read
        build:
          stable_id: 7b37c846b7ed6c89
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: features
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"rweb_video_screen_enabled":false'
            - '"profile_label_improvements_pcf_label_in_post_enabled":true'
            - '"responsive_web_profile_redirect_enabled":false'
            - '"rweb_tipjar_consumption_enabled":false'
            - '"verified_phone_label_enabled":false'
            - '"creator_subscriptions_tweet_preview_api_enabled":true'
            - '"responsive_web_graphql_timeline_navigation_enabled":true'
            - '"responsive_web_graphql_skip_user_profile_image_extensions_enabled":false'
            - '"premium_content_api_read_enabled":false'
            - '"communities_web_enable_tweet_community_results_fetch":true'
            - '"c9s_tweet_anatomy_moderator_badge_enabled":true'
            - '"responsive_web_grok_analyze_button_fetch_trends_enabled":false'
            - '"responsive_web_grok_analyze_post_followups_enabled":true'
            - '"responsive_web_jetfuel_frame":true'
            - '"responsive_web_grok_share_attachment_enabled":true'
            - '"responsive_web_grok_annotations_enabled":true'
            - '"articles_preview_enabled":true'
            - '"responsive_web_edit_tweet_api_enabled":true'
            - '"graphql_is_translatable_rweb_tweet_is_translatable_enabled":true'
            - '"view_counts_everywhere_api_enabled":true'
            - '"longform_notetweets_consumption_enabled":true'
            - '"responsive_web_twitter_article_tweet_consumption_enabled":true'
            - '"content_disclosure_indicator_enabled":true'
            - '"content_disclosure_ai_generated_indicator_enabled":true'
            - '"responsive_web_grok_show_grok_translated_post":true'
            - '"responsive_web_grok_analysis_button_from_backend":true'
            - '"post_ctas_fetch_enabled":true'
            - '"freedom_of_speech_not_reach_fetch_enabled":true'
            - '"standardized_nudges_misinfo":true'
            - '"tweet_with_visibility_results_prefer_gql_limited_actions_policy_enabled":true'
            - '"longform_notetweets_rich_text_read_enabled":true'
            - '"longform_notetweets_inline_media_enabled":false'
            - '"responsive_web_grok_image_annotation_enabled":true'
            - '"responsive_web_grok_imagine_annotation_enabled":true'
            - '"responsive_web_grok_community_note_auto_translation_is_enabled":false'
            - '"responsive_web_enhance_cards_enabled":false}'
        - name: variables
          in: query
          required: true
          schema:
            type: string
          example: "{}"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      explore_sidebar:
                        type: object
                        properties:
                          timeline:
                            type: object
                            properties:
                              instructions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - TimelineAddEntries
                                        - TimelineClearCache
                                        - TimelineTerminateTimeline
                                    direction:
                                      type: string
                                      enum:
                                        - Bottom
                                    entries:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          content:
                                            type: object
                                            properties:
                                              __typename:
                                                type: string
                                                enum:
                                                  - TimelineTimelineCursor
                                                  - TimelineTimelineModule
                                              clientEventInfo:
                                                type: object
                                                properties:
                                                  component:
                                                    type: string
                                                    enum:
                                                      - unified_events
                                                required:
                                                  - component
                                              displayType:
                                                type: string
                                                enum:
                                                  - Vertical
                                              entryType:
                                                type: string
                                                enum:
                                                  - TimelineTimelineCursor
                                                  - TimelineTimelineModule
                                              footer:
                                                type: object
                                                properties:
                                                  displayType:
                                                    type: string
                                                    enum:
                                                      - Classic
                                                  landingUrl:
                                                    type: object
                                                  text:
                                                    type: string
                                                    enum:
                                                      - Show more
                                                required:
                                                  - displayType
                                                  - landingUrl
                                                  - text
                                              header:
                                                type: object
                                                properties:
                                                  displayType:
                                                    type: string
                                                    enum:
                                                      - Classic
                                                  text:
                                                    type: string
                                                    enum:
                                                      - What’s happening
                                                required:
                                                  - displayType
                                                  - text
                                              items:
                                                type: array
                                                items:
                                                  type: object
                                              cursorType:
                                                type: string
                                                enum:
                                                  - Top
                                              value:
                                                type: string
                                                enum:
                                                  - DAAJAAA
                                            required:
                                              - __typename
                                              - entryType
                                          entryId:
                                            type: string
                                            enum:
                                              - cursor-top-2037963440177283073
                                              - cursor-top-2037963466832084993
                                              - cursor-top-2037963530593894401
                                              - trend-2037963440177283072
                                              - trend-2037963466832084992
                                              - trend-2037963530593894400
                                          sortIndex:
                                            type: string
                                            enum:
                                              - "2037963440177283072"
                                              - "2037963440177283073"
                                              - "2037963466832084992"
                                              - "2037963466832084993"
                                              - "2037963530593894400"
                                              - "2037963530593894401"
                                        required:
                                          - content
                                          - entryId
                                          - sortIndex
                                  required:
                                    - type
                              responseObjects:
                                type: object
                                properties:
                                  feedbackActions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key:
                                          type: string
                                          enum:
                                            - "-1336659320"
                                            - "-1457103155"
                                            - "-619311538"
                                            - "-926942163"
                                            - "15718569"
                                            - "1628041751"
                                            - "2103484841"
                                        value:
                                          type: object
                                          properties:
                                            confirmation:
                                              type: string
                                              enum:
                                                - Thanks. Refresh this page to update these trends.
                                            confirmationDisplayType:
                                              type: string
                                              enum:
                                                - BottomSheet
                                                - Inline
                                            feedbackType:
                                              type: string
                                              enum:
                                                - Dismiss
                                                - SeeFewer
                                            feedbackUrl:
                                              type: string
                                              enum:
                                                - /2/guide/insert_feedback/trend_abusive_feedback_key.json
                                                - /2/guide/insert_feedback/trend_abusive_or_harmful_feedback_key.json
                                                - /2/guide/insert_feedback/trend_duplicate_feedback_key.json
                                                - /2/guide/insert_feedback/trend_irrelevant_content_feedback_key.json
                                                - /2/guide/insert_feedback/trend_not_interested_in_this_feedback_key.json
                                                - /2/guide/insert_feedback/trend_spam_feedback_key.json
                                            hasUndoAction:
                                              type: boolean
                                            prompt:
                                              type: string
                                              enum:
                                                - Don't want to see this ad
                                                - Not interested in this
                                                - The associated content is not relevant
                                                - This trend is a duplicate
                                                - This trend is abusive or harmful
                                                - This trend is harmful or spammy
                                                - This trend is spam
                                            clientEventInfo:
                                              type: object
                                              properties:
                                                action:
                                                  type: string
                                                  enum:
                                                    - click
                                                element:
                                                  type: string
                                                  enum:
                                                    - promoted_trend_feedback
                                              required:
                                                - action
                                                - element
                                          required:
                                            - confirmation
                                            - confirmationDisplayType
                                            - feedbackType
                                            - hasUndoAction
                                            - prompt
                                      required:
                                        - key
                                        - value
                                required:
                                  - feedbackActions
                            required:
                              - instructions
                              - responseObjects
                        required:
                          - timeline
                    required:
                      - explore_sidebar
                required:
                  - data
  /i/api/graphql/{id}/FavoriteTweet:
    post:
      operationId: likeTweet
      summary: Like a tweet
      x-openweb:
        permission: write
        build:
          stable_id: f73b73f4860f703a
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      favorite_tweet:
                        type: string
                        enum:
                          - Done
                    required:
                      - favorite_tweet
                required:
                  - data
  /i/api/graphql/{id}/HomeTimeline:
    get:
      operationId: getHomeTimeline
      summary: Get home timeline tweets
      x-openweb:
        permission: read
        build:
          stable_id: 094ad7404e54e3b4
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: features
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"rweb_video_screen_enabled":false'
            - '"profile_label_improvements_pcf_label_in_post_enabled":true'
            - '"responsive_web_profile_redirect_enabled":false'
            - '"rweb_tipjar_consumption_enabled":false'
            - '"verified_phone_label_enabled":false'
            - '"creator_subscriptions_tweet_preview_api_enabled":true'
            - '"responsive_web_graphql_timeline_navigation_enabled":true'
            - '"responsive_web_graphql_skip_user_profile_image_extensions_enabled":false'
            - '"premium_content_api_read_enabled":false'
            - '"communities_web_enable_tweet_community_results_fetch":true'
            - '"c9s_tweet_anatomy_moderator_badge_enabled":true'
            - '"responsive_web_grok_analyze_button_fetch_trends_enabled":false'
            - '"responsive_web_grok_analyze_post_followups_enabled":true'
            - '"responsive_web_jetfuel_frame":true'
            - '"responsive_web_grok_share_attachment_enabled":true'
            - '"responsive_web_grok_annotations_enabled":true'
            - '"articles_preview_enabled":true'
            - '"responsive_web_edit_tweet_api_enabled":true'
            - '"graphql_is_translatable_rweb_tweet_is_translatable_enabled":true'
            - '"view_counts_everywhere_api_enabled":true'
            - '"longform_notetweets_consumption_enabled":true'
            - '"responsive_web_twitter_article_tweet_consumption_enabled":true'
            - '"content_disclosure_indicator_enabled":true'
            - '"content_disclosure_ai_generated_indicator_enabled":true'
            - '"responsive_web_grok_show_grok_translated_post":true'
            - '"responsive_web_grok_analysis_button_from_backend":true'
            - '"post_ctas_fetch_enabled":true'
            - '"freedom_of_speech_not_reach_fetch_enabled":true'
            - '"standardized_nudges_misinfo":true'
            - '"tweet_with_visibility_results_prefer_gql_limited_actions_policy_enabled":true'
            - '"longform_notetweets_rich_text_read_enabled":true'
            - '"longform_notetweets_inline_media_enabled":false'
            - '"responsive_web_grok_image_annotation_enabled":true'
            - '"responsive_web_grok_imagine_annotation_enabled":true'
            - '"responsive_web_grok_community_note_auto_translation_is_enabled":false'
            - '"responsive_web_enhance_cards_enabled":false}'
        - name: variables
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"count":20'
            - '"includePromotedContent":true'
            - '"requestContext":"launch"'
            - '"withCommunity":true}'
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
  /i/api/graphql/{id}/PinnedTimelines:
    get:
      operationId: getPinnedTimelines
      summary: Get pinned timelines
      x-openweb:
        permission: read
        build:
          stable_id: 4220def0b5b9f8b6
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: features
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"profile_label_improvements_pcf_label_in_post_enabled":true'
            - '"responsive_web_profile_redirect_enabled":false'
            - '"rweb_tipjar_consumption_enabled":false'
            - '"verified_phone_label_enabled":false'
            - '"responsive_web_graphql_skip_user_profile_image_extensions_enabled":false'
            - '"responsive_web_graphql_timeline_navigation_enabled":true}'
        - name: variables
          in: query
          required: true
          schema:
            type: string
          example: "{}"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
  /i/api/graphql/{id}/ProfileSpotlightsQuery:
    get:
      operationId: getProfileSpotlights
      summary: Get profile spotlight data
      x-openweb:
        permission: read
        build:
          stable_id: fe3427b2b0bea3e3
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: variables
          in: query
          required: true
          schema:
            type: string
          example: '{"screen_name":"elonmusk"}'
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user_result_by_screen_name:
                        type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - VXNlclJlc3VsdHM6NDM5ODYyNjEyMg==
                          result:
                            type: object
                            properties:
                              __typename:
                                type: string
                                enum:
                                  - User
                              core:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    enum:
                                      - OpenAI
                                  screen_name:
                                    type: string
                                    enum:
                                      - OpenAI
                                required:
                                  - name
                                  - screen_name
                              id:
                                type: string
                                enum:
                                  - VXNlcjo0Mzk4NjI2MTIy
                              is_verified_organization:
                                type: boolean
                              privacy:
                                type: object
                                properties:
                                  protected:
                                    type: boolean
                                required:
                                  - protected
                              profilemodules:
                                type: object
                                properties:
                                  v1:
                                    type: array
                                    items:
                                      type: object
                                required:
                                  - v1
                              relationship_perspectives:
                                type: object
                                properties:
                                  blocked_by:
                                    type: boolean
                                  blocking:
                                    type: boolean
                                  followed_by:
                                    type: boolean
                                  following:
                                    type: boolean
                                required:
                                  - blocked_by
                                  - blocking
                                  - followed_by
                                  - following
                              rest_id:
                                type: string
                                enum:
                                  - "4398626122"
                            required:
                              - __typename
                              - core
                              - id
                              - is_verified_organization
                              - privacy
                              - profilemodules
                              - relationship_perspectives
                              - rest_id
                        required:
                          - id
                          - result
                    required:
                      - user_result_by_screen_name
                required:
                  - data
  /i/api/graphql/{id}/SearchTimeline:
    get:
      operationId: searchTweets
      summary: Search tweets by keyword
      x-openweb:
        permission: read
        build:
          stable_id: 1aae173fc9f54dd9
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: features
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"rweb_video_screen_enabled":false'
            - '"profile_label_improvements_pcf_label_in_post_enabled":true'
            - '"responsive_web_profile_redirect_enabled":false'
            - '"rweb_tipjar_consumption_enabled":false'
            - '"verified_phone_label_enabled":false'
            - '"creator_subscriptions_tweet_preview_api_enabled":true'
            - '"responsive_web_graphql_timeline_navigation_enabled":true'
            - '"responsive_web_graphql_skip_user_profile_image_extensions_enabled":false'
            - '"premium_content_api_read_enabled":false'
            - '"communities_web_enable_tweet_community_results_fetch":true'
            - '"c9s_tweet_anatomy_moderator_badge_enabled":true'
            - '"responsive_web_grok_analyze_button_fetch_trends_enabled":false'
            - '"responsive_web_grok_analyze_post_followups_enabled":true'
            - '"responsive_web_jetfuel_frame":true'
            - '"responsive_web_grok_share_attachment_enabled":true'
            - '"responsive_web_grok_annotations_enabled":true'
            - '"articles_preview_enabled":true'
            - '"responsive_web_edit_tweet_api_enabled":true'
            - '"graphql_is_translatable_rweb_tweet_is_translatable_enabled":true'
            - '"view_counts_everywhere_api_enabled":true'
            - '"longform_notetweets_consumption_enabled":true'
            - '"responsive_web_twitter_article_tweet_consumption_enabled":true'
            - '"content_disclosure_indicator_enabled":true'
            - '"content_disclosure_ai_generated_indicator_enabled":true'
            - '"responsive_web_grok_show_grok_translated_post":true'
            - '"responsive_web_grok_analysis_button_from_backend":true'
            - '"post_ctas_fetch_enabled":true'
            - '"freedom_of_speech_not_reach_fetch_enabled":true'
            - '"standardized_nudges_misinfo":true'
            - '"tweet_with_visibility_results_prefer_gql_limited_actions_policy_enabled":true'
            - '"longform_notetweets_rich_text_read_enabled":true'
            - '"longform_notetweets_inline_media_enabled":false'
            - '"responsive_web_grok_image_annotation_enabled":true'
            - '"responsive_web_grok_imagine_annotation_enabled":true'
            - '"responsive_web_grok_community_note_auto_translation_is_enabled":false'
            - '"responsive_web_enhance_cards_enabled":false}'
        - name: variables
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"rawQuery":"javascript"'
            - '"count":20'
            - '"querySource":"typed_query"'
            - '"product":"Top"'
            - '"withGrokTranslatedBio":false}'
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
  /i/api/graphql/{id}/UserByScreenName:
    get:
      operationId: getUserByScreenName
      summary: Get user profile by screen name
      x-openweb:
        permission: read
        build:
          stable_id: b690ce172d53e653
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: features
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"hidden_profile_subscriptions_enabled":true'
            - '"profile_label_improvements_pcf_label_in_post_enabled":true'
            - '"responsive_web_profile_redirect_enabled":false'
            - '"rweb_tipjar_consumption_enabled":false'
            - '"verified_phone_label_enabled":false'
            - '"subscriptions_verification_info_is_identity_verified_enabled":true'
            - '"subscriptions_verification_info_verified_since_enabled":true'
            - '"highlights_tweets_tab_ui_enabled":true'
            - '"responsive_web_twitter_article_notes_tab_enabled":true'
            - '"subscriptions_feature_can_gift_premium":true'
            - '"creator_subscriptions_tweet_preview_api_enabled":true'
            - '"responsive_web_graphql_skip_user_profile_image_extensions_enabled":false'
            - '"responsive_web_graphql_timeline_navigation_enabled":true}'
        - name: fieldToggles
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"withPayments":false'
            - '"withAuxiliaryUserLabels":true}'
        - name: variables
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"screen_name":"elonmusk"'
            - '"withGrokTranslatedBio":true}'
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          result:
                            type: object
                            properties:
                              __typename:
                                type: string
                                enum:
                                  - User
                              affiliates_highlighted_label:
                                type: object
                                properties: {}
                                required: []
                              avatar:
                                type: object
                                properties:
                                  image_url:
                                    type: string
                                    format: uri
                                required:
                                  - image_url
                              business_account:
                                type: object
                                properties:
                                  affiliates_count:
                                    type: integer
                                required:
                                  - affiliates_count
                              core:
                                type: object
                                properties:
                                  created_at:
                                    type: string
                                    enum:
                                      - Sun Dec 06 22:51:08 +0000 2015
                                  name:
                                    type: string
                                    enum:
                                      - OpenAI
                                  screen_name:
                                    type: string
                                    enum:
                                      - OpenAI
                                required:
                                  - created_at
                                  - name
                                  - screen_name
                              creator_subscriptions_count:
                                type: integer
                              dm_permissions:
                                type: object
                                properties:
                                  can_dm:
                                    type: boolean
                                required:
                                  - can_dm
                              follow_request_sent:
                                type: boolean
                              grok_translated_bio_with_availability:
                                type: object
                                properties:
                                  is_available:
                                    type: boolean
                                required:
                                  - is_available
                              has_graduated_access:
                                type: boolean
                              has_hidden_subscriptions_on_profile:
                                type: boolean
                              highlights_info:
                                type: object
                                properties:
                                  can_highlight_tweets:
                                    type: boolean
                                  highlighted_tweets:
                                    type: string
                                    enum:
                                      - "70"
                                required:
                                  - can_highlight_tweets
                                  - highlighted_tweets
                              id:
                                type: string
                                enum:
                                  - VXNlcjo0Mzk4NjI2MTIy
                              is_blue_verified:
                                type: boolean
                              is_profile_translatable:
                                type: boolean
                              legacy:
                                type: object
                                properties:
                                  default_profile:
                                    type: boolean
                                  default_profile_image:
                                    type: boolean
                                  description:
                                    type: string
                                    enum:
                                      - "OpenAI’s mission is to ensure that artificial general intelligence benefits all of humanity. We’re hiring: https://t.co/dJGr6LgzPA"
                                  entities:
                                    type: object
                                    properties:
                                      description:
                                        type: object
                                        properties:
                                          urls:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                display_url:
                                                  type: string
                                                  enum:
                                                    - openai.com/jobs
                                                expanded_url:
                                                  type: string
                                                  format: uri
                                                indices:
                                                  type: array
                                                  items:
                                                    type: integer
                                                url:
                                                  type: string
                                                  format: uri
                                              required:
                                                - display_url
                                                - expanded_url
                                                - indices
                                                - url
                                        required:
                                          - urls
                                      url:
                                        type: object
                                        properties:
                                          urls:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                display_url:
                                                  type: string
                                                  enum:
                                                    - openai.com
                                                expanded_url:
                                                  type: string
                                                  format: uri
                                                indices:
                                                  type: array
                                                  items:
                                                    type: integer
                                                url:
                                                  type: string
                                                  format: uri
                                              required:
                                                - display_url
                                                - expanded_url
                                                - indices
                                                - url
                                        required:
                                          - urls
                                    required:
                                      - description
                                      - url
                                  fast_followers_count:
                                    type: integer
                                  favourites_count:
                                    type: integer
                                  follow_request_sent:
                                    type: boolean
                                  followers_count:
                                    type: integer
                                  friends_count:
                                    type: integer
                                  has_custom_timelines:
                                    type: boolean
                                  is_translator:
                                    type: boolean
                                  listed_count:
                                    type: integer
                                  media_count:
                                    type: integer
                                  normal_followers_count:
                                    type: integer
                                  notifications:
                                    type: boolean
                                  pinned_tweet_ids_str:
                                    type: array
                                    items:
                                      type: string
                                      enum:
                                        - "2029620619743219811"
                                  possibly_sensitive:
                                    type: boolean
                                  profile_banner_url:
                                    type: string
                                    format: uri
                                  profile_interstitial_type:
                                    type: string
                                    enum:
                                      - ""
                                  statuses_count:
                                    type: integer
                                  translator_type:
                                    type: string
                                    enum:
                                      - none
                                  url:
                                    type: string
                                    format: uri
                                  want_retweets:
                                    type: boolean
                                  withheld_in_countries:
                                    type: array
                                    items:
                                      type: object
                                required:
                                  - default_profile
                                  - default_profile_image
                                  - description
                                  - entities
                                  - fast_followers_count
                                  - favourites_count
                                  - follow_request_sent
                                  - followers_count
                                  - friends_count
                                  - has_custom_timelines
                                  - is_translator
                                  - listed_count
                                  - media_count
                                  - normal_followers_count
                                  - notifications
                                  - pinned_tweet_ids_str
                                  - possibly_sensitive
                                  - profile_banner_url
                                  - profile_interstitial_type
                                  - statuses_count
                                  - translator_type
                                  - url
                                  - want_retweets
                                  - withheld_in_countries
                              legacy_extended_profile:
                                type: object
                                properties: {}
                                required: []
                              location:
                                type: object
                                properties:
                                  location:
                                    type: string
                                    enum:
                                      - ""
                                required:
                                  - location
                              media_permissions:
                                type: object
                                properties:
                                  can_media_tag:
                                    type: boolean
                                required:
                                  - can_media_tag
                              parody_commentary_fan_label:
                                type: string
                                enum:
                                  - None
                              premium_gifting_eligible:
                                type: boolean
                              privacy:
                                type: object
                                properties:
                                  protected:
                                    type: boolean
                                required:
                                  - protected
                              profile_bio:
                                type: object
                                properties:
                                  description:
                                    type: string
                                    enum:
                                      - "OpenAI’s mission is to ensure that artificial general intelligence benefits all of humanity. We’re hiring: https://t.co/dJGr6LgzPA"
                                required:
                                  - description
                              profile_description_language:
                                type: string
                                enum:
                                  - en
                              profile_image_shape:
                                type: string
                                enum:
                                  - Square
                              profile_sort_enabled:
                                type: boolean
                              relationship_perspectives:
                                type: object
                                properties:
                                  blocked_by:
                                    type: boolean
                                  blocking:
                                    type: boolean
                                  followed_by:
                                    type: boolean
                                  following:
                                    type: boolean
                                  muting:
                                    type: boolean
                                required:
                                  - blocked_by
                                  - blocking
                                  - followed_by
                                  - following
                                  - muting
                              rest_id:
                                type: string
                                enum:
                                  - "4398626122"
                              super_follow_eligible:
                                type: boolean
                              super_followed_by:
                                type: boolean
                              super_following:
                                type: boolean
                              user_seed_tweet_count:
                                type: integer
                              verification:
                                type: object
                                properties:
                                  verified:
                                    type: boolean
                                  verified_type:
                                    type: string
                                    enum:
                                      - Business
                                required:
                                  - verified
                                  - verified_type
                              verification_info:
                                type: object
                                properties:
                                  is_identity_verified:
                                    type: boolean
                                  reason:
                                    type: object
                                    properties:
                                      description:
                                        type: object
                                        properties:
                                          entities:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                from_index:
                                                  type: integer
                                                ref:
                                                  type: object
                                                  properties:
                                                    url:
                                                      type: string
                                                      format: uri
                                                    url_type:
                                                      type: string
                                                      enum:
                                                        - ExternalUrl
                                                  required:
                                                    - url
                                                    - url_type
                                                to_index:
                                                  type: integer
                                              required:
                                                - from_index
                                                - ref
                                                - to_index
                                          text:
                                            type: string
                                            enum:
                                              - This account is verified because it's an official organization on X. Learn more
                                        required:
                                          - entities
                                          - text
                                      verified_since_msec:
                                        type: string
                                        enum:
                                          - "1507188387580"
                                    required:
                                      - description
                                      - verified_since_msec
                                required:
                                  - is_identity_verified
                                  - reason
                            required:
                              - __typename
                              - affiliates_highlighted_label
                              - avatar
                              - business_account
                              - core
                              - creator_subscriptions_count
                              - dm_permissions
                              - follow_request_sent
                              - grok_translated_bio_with_availability
                              - has_graduated_access
                              - has_hidden_subscriptions_on_profile
                              - highlights_info
                              - id
                              - is_blue_verified
                              - is_profile_translatable
                              - legacy
                              - legacy_extended_profile
                              - location
                              - media_permissions
                              - parody_commentary_fan_label
                              - premium_gifting_eligible
                              - privacy
                              - profile_bio
                              - profile_description_language
                              - profile_image_shape
                              - profile_sort_enabled
                              - relationship_perspectives
                              - rest_id
                              - super_follow_eligible
                              - super_followed_by
                              - super_following
                              - user_seed_tweet_count
                              - verification
                              - verification_info
                        required:
                          - result
                    required:
                      - user
                required:
                  - data
  /i/api/graphql/{id}/UserTweets:
    get:
      operationId: getUserTweets
      summary: Get tweets by a specific user
      x-openweb:
        permission: read
        build:
          stable_id: 3030a2126d620842
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: <EXAMPLE_ID>
        - name: features
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"rweb_video_screen_enabled":false'
            - '"profile_label_improvements_pcf_label_in_post_enabled":true'
            - '"responsive_web_profile_redirect_enabled":false'
            - '"rweb_tipjar_consumption_enabled":false'
            - '"verified_phone_label_enabled":false'
            - '"creator_subscriptions_tweet_preview_api_enabled":true'
            - '"responsive_web_graphql_timeline_navigation_enabled":true'
            - '"responsive_web_graphql_skip_user_profile_image_extensions_enabled":false'
            - '"premium_content_api_read_enabled":false'
            - '"communities_web_enable_tweet_community_results_fetch":true'
            - '"c9s_tweet_anatomy_moderator_badge_enabled":true'
            - '"responsive_web_grok_analyze_button_fetch_trends_enabled":false'
            - '"responsive_web_grok_analyze_post_followups_enabled":true'
            - '"responsive_web_jetfuel_frame":true'
            - '"responsive_web_grok_share_attachment_enabled":true'
            - '"responsive_web_grok_annotations_enabled":true'
            - '"articles_preview_enabled":true'
            - '"responsive_web_edit_tweet_api_enabled":true'
            - '"graphql_is_translatable_rweb_tweet_is_translatable_enabled":true'
            - '"view_counts_everywhere_api_enabled":true'
            - '"longform_notetweets_consumption_enabled":true'
            - '"responsive_web_twitter_article_tweet_consumption_enabled":true'
            - '"content_disclosure_indicator_enabled":true'
            - '"content_disclosure_ai_generated_indicator_enabled":true'
            - '"responsive_web_grok_show_grok_translated_post":true'
            - '"responsive_web_grok_analysis_button_from_backend":true'
            - '"post_ctas_fetch_enabled":true'
            - '"freedom_of_speech_not_reach_fetch_enabled":true'
            - '"standardized_nudges_misinfo":true'
            - '"tweet_with_visibility_results_prefer_gql_limited_actions_policy_enabled":true'
            - '"longform_notetweets_rich_text_read_enabled":true'
            - '"longform_notetweets_inline_media_enabled":false'
            - '"responsive_web_grok_image_annotation_enabled":true'
            - '"responsive_web_grok_imagine_annotation_enabled":true'
            - '"responsive_web_grok_community_note_auto_translation_is_enabled":false'
            - '"responsive_web_enhance_cards_enabled":false}'
        - name: fieldToggles
          in: query
          required: true
          schema:
            type: string
          example: '{"withArticlePlainText":false}'
        - name: variables
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - '{"userId":"44196397"'
            - '"count":20'
            - '"includePromotedContent":true'
            - '"withQuickPromoteEligibilityTweetFields":true'
            - '"withVoice":true}'
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          result:
                            type: object
                            properties:
                              __typename:
                                type: string
                                enum:
                                  - User
                              timeline:
                                type: object
                                properties:
                                  timeline:
                                    type: object
                                    properties:
                                      instructions:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                              enum:
                                                - TimelineAddEntries
                                                - TimelineClearCache
                                                - TimelinePinEntry
                                            entry:
                                              type: object
                                              properties:
                                                content:
                                                  type: object
                                                  properties:
                                                    __typename:
                                                      type: string
                                                      enum:
                                                        - TimelineTimelineItem
                                                    clientEventInfo:
                                                      type: object
                                                    entryType:
                                                      type: string
                                                      enum:
                                                        - TimelineTimelineItem
                                                    itemContent:
                                                      type: object
                                                  required:
                                                    - __typename
                                                    - clientEventInfo
                                                    - entryType
                                                    - itemContent
                                                entryId:
                                                  type: string
                                                  enum:
                                                    - tweet-2029620619743219811
                                                sortIndex:
                                                  type: string
                                                  enum:
                                                    - "2037963531462115328"
                                              required:
                                                - content
                                                - entryId
                                                - sortIndex
                                            entries:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  content:
                                                    type: object
                                                  entryId:
                                                    type: string
                                                  sortIndex:
                                                    type: string
                                                required:
                                                  - content
                                                  - entryId
                                                  - sortIndex
                                          required:
                                            - type
                                      metadata:
                                        type: object
                                        properties:
                                          scribeConfig:
                                            type: object
                                            properties:
                                              page:
                                                type: string
                                                enum:
                                                  - profileBest
                                            required:
                                              - page
                                        required:
                                          - scribeConfig
                                    required:
                                      - instructions
                                      - metadata
                                required:
                                  - timeline
                            required:
                              - __typename
                              - timeline
                        required:
                          - result
                    required:
                      - user
                required:
                  - data
