openapi: 3.1.0
info:
  title: x
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T09:19:20.580Z
    requires_auth: true
servers:
  - url: https://x.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: ct0
        header: x-csrf-token
        scope:
          - GET
          - POST
          - PUT
          - DELETE
x-openweb-shared-headers:
  - name: authorization
    in: header
    required: false
    schema:
      type: string
      default: Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs=1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
  - name: x-twitter-auth-type
    in: header
    required: false
    schema:
      type: string
      default: OAuth2Session
  - name: x-twitter-active-user
    in: header
    required: false
    schema:
      type: string
      default: yes
  - name: x-twitter-client-language
    in: header
    required: false
    schema:
      type: string
      default: en
x-openweb-shared-features: &a1
  name: features
  in: query
  required: false
  schema:
    type: string
    default: "%7B%22rweb_video_screen_enabled%22%3Afalse%2C%22profile_label_improvements_pcf_label_in_post_enabled%22%3Atrue%2C%22responsive_web_profile_redirect_enabled%22%3Afalse%2C%22rweb_tipjar_consumption_enabled%22%3Afalse%2C%22verified_phone_label_enabled%22%3Afalse%2C%22creator_subscriptions_tweet_preview_api_enabled%22%3Atrue%2C%22responsive_web_graphql_timeline_navigation_enabled%22%3Atrue%2C%22responsive_web_graphql_skip_user_profile_image_extensions_enabled%22%3Afalse%2C%22premium_content_api_read_enabled%22%3Afalse%2C%22communities_web_enable_tweet_community_results_fetch%22%3Atrue%2C%22c9s_tweet_anatomy_moderator_badge_enabled%22%3Atrue%2C%22responsive_web_grok_analyze_button_fetch_trends_enabled%22%3Afalse%2C%22responsive_web_grok_analyze_post_followups_enabled%22%3Atrue%2C%22responsive_web_jetfuel_frame%22%3Atrue%2C%22responsive_web_grok_share_attachment_enabled%22%3Atrue%2C%22responsive_web_grok_annotations_enabled%22%3Atrue%2C%22articles_preview_enabled%22%3Atrue%2C%22responsive_web_edit_tweet_api_enabled%22%3Atrue%2C%22graphql_is_translatable_rweb_tweet_is_translatable_enabled%22%3Atrue%2C%22view_counts_everywhere_api_enabled%22%3Atrue%2C%22longform_notetweets_consumption_enabled%22%3Atrue%2C%22responsive_web_twitter_article_tweet_consumption_enabled%22%3Atrue%2C%22content_disclosure_indicator_enabled%22%3Atrue%2C%22content_disclosure_ai_generated_indicator_enabled%22%3Atrue%2C%22responsive_web_grok_show_grok_translated_post%22%3Atrue%2C%22responsive_web_grok_analysis_button_from_backend%22%3Atrue%2C%22post_ctas_fetch_enabled%22%3Atrue%2C%22freedom_of_speech_not_reach_fetch_enabled%22%3Atrue%2C%22standardized_nudges_misinfo%22%3Atrue%2C%22tweet_with_visibility_results_prefer_gql_limited_actions_policy_enabled%22%3Atrue%2C%22longform_notetweets_rich_text_read_enabled%22%3Atrue%2C%22longform_notetweets_inline_media_enabled%22%3Afalse%2C%22responsive_web_grok_image_annotation_enabled%22%3Atrue%2C%22responsive_web_grok_imagine_annotation_enabled%22%3Atrue%2C%22responsive_web_grok_community_note_auto_translation_is_enabled%22%3Afalse%2C%22responsive_web_enhance_cards_enabled%22%3Afalse%7D"
paths:
  /i/api/graphql/GcXk9vN_d1jUfHNqLacXQA/SearchTimeline:
    get:
      operationId: searchTweets
      summary: Search tweets by keyword
      x-openweb:
        permission: read
      parameters:
        - name: variables
          in: query
          required: true
          schema:
            type: string
            default: "%7B%22rawQuery%22%3A%22artificial%20intelligence%22%2C%22count%22%3A20%2C%22querySource%22%3A%22typed_query%22%2C%22product%22%3A%22Top%22%2C%22withGrokTranslatedBio%22%3Afalse%7D"
          example: '{"rawQuery":"artificial intelligence","count":20,"querySource":"typed_query","product":"Top","withGrokTranslatedBio":false}'
        - *a1
        - name: authorization
          in: header
          required: false
          schema:
            type: string
            default: Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs=1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
        - name: x-twitter-auth-type
          in: header
          required: false
          schema:
            type: string
            default: OAuth2Session
        - name: x-twitter-active-user
          in: header
          required: false
          schema:
            type: string
            default: yes
        - name: x-twitter-client-language
          in: header
          required: false
          schema:
            type: string
            default: en
      responses:
        "200":
          description: Search results with tweets matching the query.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      search_by_raw_query:
                        type: object
                        properties:
                          search_timeline:
                            type: object
                            properties:
                              timeline:
                                type: object
  /i/api/graphql/IGgvgiOx4QZndDHuD3x9TQ/UserByScreenName:
    get:
      operationId: getUserProfile
      summary: Get user profile by screen name
      x-openweb:
        permission: read
      parameters:
        - name: variables
          in: query
          required: true
          schema:
            type: string
            default: "%7B%22screen_name%22%3A%22elonmusk%22%7D"
          example: '{"screen_name":"elonmusk"}'
        - name: features
          in: query
          required: false
          schema:
            type: string
            default: "%7B%22hidden_profile_subscriptions_enabled%22%3Atrue%2C%22profile_label_improvements_pcf_label_in_post_enabled%22%3Atrue%2C%22responsive_web_profile_redirect_enabled%22%3Afalse%2C%22rweb_tipjar_consumption_enabled%22%3Afalse%2C%22verified_phone_label_enabled%22%3Afalse%2C%22subscriptions_verification_info_is_identity_verified_enabled%22%3Atrue%2C%22subscriptions_verification_info_verified_since_enabled%22%3Atrue%2C%22highlights_tweets_tab_ui_enabled%22%3Atrue%2C%22responsive_web_twitter_article_notes_tab_enabled%22%3Atrue%2C%22subscriptions_feature_can_gift_premium%22%3Atrue%2C%22creator_subscriptions_tweet_preview_api_enabled%22%3Atrue%2C%22responsive_web_graphql_skip_user_profile_image_extensions_enabled%22%3Afalse%2C%22responsive_web_graphql_timeline_navigation_enabled%22%3Atrue%7D"
        - name: fieldToggles
          in: query
          required: false
          schema:
            type: string
            default: "%7B%22withAuxiliaryUserLabels%22%3Atrue%7D"
        - name: authorization
          in: header
          required: false
          schema:
            type: string
            default: Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs=1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
        - name: x-twitter-auth-type
          in: header
          required: false
          schema:
            type: string
            default: OAuth2Session
        - name: x-twitter-active-user
          in: header
          required: false
          schema:
            type: string
            default: yes
        - name: x-twitter-client-language
          in: header
          required: false
          schema:
            type: string
            default: en
      responses:
        "200":
          description: User profile data including bio, follower counts, and verification status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          result:
                            type: object
  /i/api/graphql/FOlovQsiHGDls3c0Q_HaSQ/UserTweets:
    get:
      operationId: getUserTweets
      summary: Get tweets posted by a user
      x-openweb:
        permission: read
      parameters:
        - name: variables
          in: query
          required: true
          schema:
            type: string
            default: "%7B%22userId%22%3A%2244196397%22%2C%22count%22%3A20%2C%22includePromotedContent%22%3Atrue%2C%22withQuickPromoteEligibilityTweetFields%22%3Atrue%2C%22withVoice%22%3Atrue%7D"
          example: '{"userId":"44196397","count":20,"includePromotedContent":true,"withQuickPromoteEligibilityTweetFields":true,"withVoice":true}'
        - *a1
        - name: fieldToggles
          in: query
          required: false
          schema:
            type: string
            default: "%7B%22withArticlePlainText%22%3Afalse%7D"
        - name: authorization
          in: header
          required: false
          schema:
            type: string
            default: Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs=1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
        - name: x-twitter-auth-type
          in: header
          required: false
          schema:
            type: string
            default: OAuth2Session
        - name: x-twitter-active-user
          in: header
          required: false
          schema:
            type: string
            default: yes
        - name: x-twitter-client-language
          in: header
          required: false
          schema:
            type: string
            default: en
      responses:
        "200":
          description: Timeline of tweets from the specified user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
  /i/api/graphql/CysGzLIZa76UzZ3WTe-Bhg/TweetDetail:
    get:
      operationId: getTweetDetail
      summary: Get tweet detail with conversation thread
      x-openweb:
        permission: read
      parameters:
        - name: variables
          in: query
          required: true
          schema:
            type: string
            default: "%7B%22focalTweetId%22%3A%221904668482697355469%22%2C%22with_rux_injections%22%3Afalse%2C%22rankingMode%22%3A%22Relevance%22%2C%22includePromotedContent%22%3Atrue%2C%22withCommunity%22%3Atrue%2C%22withQuickPromoteEligibilityTweetFields%22%3Atrue%2C%22withBirdwatchNotes%22%3Atrue%2C%22withVoice%22%3Atrue%7D"
          example: '{"focalTweetId":"1904668482697355469","with_rux_injections":false,"rankingMode":"Relevance","includePromotedContent":true,"withCommunity":true,"withQuickPromoteEligibilityTweetFields":true,"withBirdwatchNotes":true,"withVoice":true}'
        - *a1
        - name: fieldToggles
          in: query
          required: false
          schema:
            type: string
            default: "%7B%22withArticleRichContentState%22%3Atrue%2C%22withArticlePlainText%22%3Afalse%2C%22withArticleSummaryText%22%3Atrue%2C%22withArticleVoiceOver%22%3Atrue%2C%22withGrokAnalyze%22%3Afalse%2C%22withDisallowedReplyControls%22%3Afalse%7D"
        - name: authorization
          in: header
          required: false
          schema:
            type: string
            default: Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs=1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
        - name: x-twitter-auth-type
          in: header
          required: false
          schema:
            type: string
            default: OAuth2Session
        - name: x-twitter-active-user
          in: header
          required: false
          schema:
            type: string
            default: yes
        - name: x-twitter-client-language
          in: header
          required: false
          schema:
            type: string
            default: en
      responses:
        "200":
          description: Tweet detail with threaded conversation and replies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      threaded_conversation_with_injections_v2:
                        type: object
  /i/api/graphql/sBoAB5nqJTOyR9sZ5qVLsw/TweetResultByRestId:
    get:
      operationId: getTweetById
      summary: Get a single tweet by its ID
      x-openweb:
        permission: read
      parameters:
        - name: variables
          in: query
          required: true
          schema:
            type: string
            default: "%7B%22tweetId%22%3A%221904668482697355469%22%2C%22includePromotedContent%22%3Atrue%2C%22withBirdwatchNotes%22%3Atrue%2C%22withVoice%22%3Atrue%2C%22withCommunity%22%3Atrue%7D"
          example: '{"tweetId":"1904668482697355469","includePromotedContent":true,"withBirdwatchNotes":true,"withVoice":true,"withCommunity":true}'
        - *a1
        - name: fieldToggles
          in: query
          required: false
          schema:
            type: string
            default: "%7B%22withArticleRichContentState%22%3Atrue%2C%22withArticlePlainText%22%3Afalse%2C%22withArticleSummaryText%22%3Atrue%2C%22withArticleVoiceOver%22%3Atrue%7D"
        - name: authorization
          in: header
          required: false
          schema:
            type: string
            default: Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs=1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
        - name: x-twitter-auth-type
          in: header
          required: false
          schema:
            type: string
            default: OAuth2Session
        - name: x-twitter-active-user
          in: header
          required: false
          schema:
            type: string
            default: yes
        - name: x-twitter-client-language
          in: header
          required: false
          schema:
            type: string
            default: en
      responses:
        "200":
          description: Single tweet result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      tweetResult:
                        type: object
  /i/api/graphql/gvPZTpBkahm30iCwpnszng/ExplorePage:
    get:
      operationId: getExplorePage
      summary: Get explore page with trending topics and content
      x-openweb:
        permission: read
      parameters:
        - name: variables
          in: query
          required: false
          schema:
            type: string
            default: "%7B%7D"
        - *a1
        - name: authorization
          in: header
          required: false
          schema:
            type: string
            default: Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs=1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
        - name: x-twitter-auth-type
          in: header
          required: false
          schema:
            type: string
            default: OAuth2Session
        - name: x-twitter-active-user
          in: header
          required: false
          schema:
            type: string
            default: yes
        - name: x-twitter-client-language
          in: header
          required: false
          schema:
            type: string
            default: en
      responses:
        "200":
          description: Explore page with trending topics and segmented timelines.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      explore_page:
                        type: object
  /i/api/graphql/xhYBF94fPSp8ey64FfYXiA/HomeTimeline:
    get:
      operationId: getHomeTimeline
      summary: Get authenticated user's home timeline
      x-openweb:
        permission: read
      parameters:
        - name: variables
          in: query
          required: false
          schema:
            type: string
            default: "%7B%22count%22%3A20%2C%22includePromotedContent%22%3Atrue%2C%22requestContext%22%3A%22launch%22%2C%22withCommunity%22%3Atrue%7D"
        - *a1
        - name: authorization
          in: header
          required: false
          schema:
            type: string
            default: Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs=1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
        - name: x-twitter-auth-type
          in: header
          required: false
          schema:
            type: string
            default: OAuth2Session
        - name: x-twitter-active-user
          in: header
          required: false
          schema:
            type: string
            default: yes
        - name: x-twitter-client-language
          in: header
          required: false
          schema:
            type: string
            default: en
      responses:
        "200":
          description: Home timeline with tweets from followed accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      home:
                        type: object
