openapi: '3.1.0'
info:
  title: CoinGecko
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-03-17T00:00:00Z'
    requires_auth: false
servers:
  - url: https://api.coingecko.com
paths:
  /api/v3/simple/price:
    get:
      operationId: getPrice
      summary: Get current price of one or more coins in given currencies
      x-openweb:
        transport: node
        permission: read
        build:
          verified: true
          stable_id: cg0001
          signature_id: cg0001s
          tool_version: 1
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated coin IDs (e.g. bitcoin,ethereum).
        - name: vs_currencies
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated target currencies (e.g. usd,eur).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    type: number
  /api/v3/search:
    get:
      operationId: searchCoins
      summary: Search for coins, exchanges, and categories by query
      x-openweb:
        transport: node
        permission: read
        build:
          verified: true
          stable_id: cg0002
          signature_id: cg0002s
          tool_version: 1
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search query string.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [coins]
                properties:
                  coins:
                    type: array
                    items:
                      type: object
                      required: [id, name, symbol]
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        symbol:
                          type: string
                        market_cap_rank:
                          type: integer
                        thumb:
                          type: string
                        large:
                          type: string
                  exchanges:
                    type: array
                  categories:
                    type: array
                  nfts:
                    type: array
  /api/v3/coins/markets:
    get:
      operationId: getCoinMarkets
      summary: List coins with market data ordered by market cap
      x-openweb:
        transport: node
        permission: read
        build:
          verified: true
          stable_id: cg0003
          signature_id: cg0003s
          tool_version: 1
      parameters:
        - name: vs_currency
          in: query
          required: true
          schema:
            type: string
          description: Target currency (e.g. usd).
        - name: order
          in: query
          required: false
          schema:
            type: string
            default: market_cap_desc
          description: Sort order.
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: Results per page.
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [id, symbol, name]
                  properties:
                    id:
                      type: string
                    symbol:
                      type: string
                    name:
                      type: string
                    image:
                      type: string
                    current_price:
                      type: number
                    market_cap:
                      type: number
                    market_cap_rank:
                      type: integer
                    total_volume:
                      type: number
                    price_change_percentage_24h:
                      type: number
  /api/v3/coins/{id}:
    get:
      operationId: getCoinDetail
      summary: Get detailed info for a specific coin by ID
      x-openweb:
        transport: node
        permission: read
        build:
          verified: true
          stable_id: cg0004
          signature_id: cg0004s
          tool_version: 1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Coin ID (e.g. bitcoin, ethereum).
        - name: localization
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include localized languages in response.
        - name: tickers
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include tickers data.
        - name: market_data
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include market data.
        - name: community_data
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include community data.
        - name: developer_data
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include developer data.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [id, symbol, name]
                properties:
                  id:
                    type: string
                  symbol:
                    type: string
                  name:
                    type: string
                  description:
                    type: object
                    properties:
                      en:
                        type: string
                  links:
                    type: object
                    properties:
                      homepage:
                        type: array
                        items:
                          type: string
                      blockchain_site:
                        type: array
                        items:
                          type: string
                  image:
                    type: object
                    properties:
                      thumb:
                        type: string
                      small:
                        type: string
                      large:
                        type: string
                  market_data:
                    type: object
                    properties:
                      current_price:
                        type: object
                        additionalProperties:
                          type: number
                      market_cap:
                        type: object
                        additionalProperties:
                          type: number
                      total_volume:
                        type: object
                        additionalProperties:
                          type: number
                      price_change_percentage_24h:
                        type: number
                      price_change_percentage_7d:
                        type: number
                      price_change_percentage_30d:
                        type: number
                  categories:
                    type: array
                    items:
                      type: string
                  genesis_date:
                    type: string
                  market_cap_rank:
                    type: integer
  /api/v3/coins/{id}/market_chart:
    get:
      operationId: getCoinMarketChart
      summary: Get historical price, market cap, and volume for a coin
      x-openweb:
        transport: node
        permission: read
        build:
          verified: true
          stable_id: cg0005
          signature_id: cg0005s
          tool_version: 1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Coin ID (e.g. bitcoin).
        - name: vs_currency
          in: query
          required: true
          schema:
            type: string
          description: Target currency (e.g. usd).
        - name: days
          in: query
          required: true
          schema:
            type: string
          description: Data range in days (1, 7, 14, 30, 90, 180, 365, max).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [prices, market_caps, total_volumes]
                properties:
                  prices:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
                    description: Array of [timestamp, price] pairs.
                  market_caps:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
                    description: Array of [timestamp, market_cap] pairs.
                  total_volumes:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
                    description: Array of [timestamp, volume] pairs.
  /api/v3/search/trending:
    get:
      operationId: getTrendingCoins
      summary: Get trending coins on CoinGecko in the last 24 hours
      x-openweb:
        transport: node
        permission: read
        build:
          verified: true
          stable_id: cg0006
          signature_id: cg0006s
          tool_version: 1
      parameters: []
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [coins]
                properties:
                  coins:
                    type: array
                    items:
                      type: object
                      properties:
                        item:
                          type: object
                          required: [id, name, symbol]
                          properties:
                            id:
                              type: string
                            coin_id:
                              type: integer
                            name:
                              type: string
                            symbol:
                              type: string
                            market_cap_rank:
                              type: integer
                            thumb:
                              type: string
                            large:
                              type: string
                            score:
                              type: integer
                            data:
                              type: object
                              properties:
                                price:
                                  type: number
                                price_change_percentage_24h:
                                  type: object
                                  additionalProperties:
                                    type: number
                                market_cap:
                                  type: string
                                total_volume:
                                  type: string
  /api/v3/global:
    get:
      operationId: getGlobalData
      summary: Get global cryptocurrency market data
      x-openweb:
        transport: node
        permission: read
        build:
          verified: true
          stable_id: cg0007
          signature_id: cg0007s
          tool_version: 1
      parameters: []
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    properties:
                      active_cryptocurrencies:
                        type: integer
                      markets:
                        type: integer
                      total_market_cap:
                        type: object
                        additionalProperties:
                          type: number
                      total_volume:
                        type: object
                        additionalProperties:
                          type: number
                      market_cap_percentage:
                        type: object
                        additionalProperties:
                          type: number
                      market_cap_change_percentage_24h_usd:
                        type: number
                      updated_at:
                        type: integer
  /api/v3/exchanges:
    get:
      operationId: getExchanges
      summary: List cryptocurrency exchanges ranked by trading volume
      x-openweb:
        transport: node
        permission: read
        build:
          verified: true
          stable_id: cg0008
          signature_id: cg0008s
          tool_version: 1
      parameters:
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: Results per page.
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Page number.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [id, name]
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    year_established:
                      type: integer
                    country:
                      type: string
                    trust_score:
                      type: integer
                    trust_score_rank:
                      type: integer
                    trade_volume_24h_btc:
                      type: number
                    trade_volume_24h_btc_normalized:
                      type: number
                    image:
                      type: string
                    url:
                      type: string
