openapi: 3.1.0
info:
  title: facebook
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-09T00:00:00.000Z
    requires_auth: true
servers:
  - url: https://www.facebook.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
paths:
  /profile/{username}:
    get:
      operationId: getProfile
      summary: "Get user profile — name, bio, follower/friend counts, profile picture, work/education, verification status"
      x-openweb:
        permission: read
        adapter:
          name: facebook-graphql
          operation: getProfile
      parameters:
        - name: username
          in: path
          required: true
          description: Facebook username or profile vanity URL slug
          schema:
            type: string
          example: zuck
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Numeric user ID
                  name:
                    type: string
                  username:
                    type: string
                  bio:
                    type: string
                    nullable: true
                  profile_pic_url:
                    type: string
                    format: uri
                  cover_photo_url:
                    type: string
                    format: uri
                    nullable: true
                  follower_count:
                    type: integer
                    nullable: true
                  friend_count:
                    type: integer
                    nullable: true
                  is_verified:
                    type: boolean
                  work:
                    type: array
                    items:
                      type: object
                      properties:
                        employer:
                          type: string
                        position:
                          type: string
                          nullable: true
                  education:
                    type: array
                    items:
                      type: object
                      properties:
                        school:
                          type: string
                        degree:
                          type: string
                          nullable: true
                  websites:
                    type: array
                    items:
                      type: string
                      format: uri
                required:
                  - id
                  - name
  /feed:
    get:
      operationId: getFeed
      summary: "Get news feed — posts with text, author info, reactions, comments, shares, media attachments, pagination"
      x-openweb:
        permission: read
        adapter:
          name: facebook-graphql
          operation: getFeed
      parameters:
        - name: count
          in: query
          required: false
          description: Number of feed items to return (default 10)
          schema:
            type: integer
          example: 10
        - name: cursor
          in: query
          required: false
          description: Pagination cursor from previous response end_cursor
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        post_id:
                          type: string
                        author:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            profile_pic_url:
                              type: string
                              format: uri
                        text:
                          type: string
                          nullable: true
                        created_time:
                          type: string
                          format: date-time
                        reaction_count:
                          type: integer
                        comment_count:
                          type: integer
                        share_count:
                          type: integer
                        attachments:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: "photo, video, link, album"
                              url:
                                type: string
                                format: uri
                              title:
                                type: string
                                nullable: true
                  has_next_page:
                    type: boolean
                  end_cursor:
                    type: string
                    nullable: true
                    description: Cursor for next page
                required:
                  - items
  /search/posts:
    get:
      operationId: searchPosts
      summary: "Search public posts — matching posts with text, author info, reaction counts, media"
      x-openweb:
        permission: read
        adapter:
          name: facebook-graphql
          operation: searchPosts
      parameters:
        - name: query
          in: query
          required: true
          description: Search query string
          schema:
            type: string
          example: artificial intelligence
        - name: count
          in: query
          required: false
          description: Number of results to return (default 10)
          schema:
            type: integer
          example: 10
        - name: cursor
          in: query
          required: false
          description: Pagination cursor from previous response end_cursor
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        post_id:
                          type: string
                        author:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            profile_pic_url:
                              type: string
                              format: uri
                        text:
                          type: string
                          nullable: true
                        created_time:
                          type: string
                          format: date-time
                        reaction_count:
                          type: integer
                        comment_count:
                          type: integer
                  has_next_page:
                    type: boolean
                  end_cursor:
                    type: string
                    nullable: true
                required:
                  - results
  /events:
    get:
      operationId: getEvents
      summary: "Get events — upcoming events from groups, pages, and nearby with date, location, attendee counts"
      x-openweb:
        permission: read
        adapter:
          name: facebook-graphql
          operation: getEvents
      parameters:
        - name: count
          in: query
          required: false
          description: Number of events to return (default 10)
          schema:
            type: integer
          example: 10
        - name: cursor
          in: query
          required: false
          description: Pagination cursor from previous response end_cursor
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        event_id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        start_time:
                          type: string
                          format: date-time
                        end_time:
                          type: string
                          format: date-time
                          nullable: true
                        location:
                          type: object
                          nullable: true
                          properties:
                            name:
                              type: string
                            address:
                              type: string
                              nullable: true
                            city:
                              type: string
                              nullable: true
                        cover_photo_url:
                          type: string
                          format: uri
                          nullable: true
                        going_count:
                          type: integer
                        interested_count:
                          type: integer
                        host:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                  has_next_page:
                    type: boolean
                  end_cursor:
                    type: string
                    nullable: true
                required:
                  - events
  /groups:
    get:
      operationId: getGroups
      summary: "Get user's groups — groups the logged-in user is a member of with name, member count, privacy, recent activity"
      x-openweb:
        permission: read
        adapter:
          name: facebook-graphql
          operation: getGroups
      parameters:
        - name: count
          in: query
          required: false
          description: Number of groups to return (default 10)
          schema:
            type: integer
          example: 10
        - name: cursor
          in: query
          required: false
          description: Pagination cursor from previous response end_cursor
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        group_id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        cover_photo_url:
                          type: string
                          format: uri
                          nullable: true
                        member_count:
                          type: integer
                        privacy:
                          type: string
                          description: "PUBLIC, CLOSED, or SECRET"
                        last_activity:
                          type: string
                          format: date-time
                          nullable: true
                  has_next_page:
                    type: boolean
                  end_cursor:
                    type: string
                    nullable: true
                required:
                  - groups
