openapi: '3.1.0'
info:
  title: GitHub API
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
servers:
- url: https://api.github.com
  x-openweb:
    transport: node
    auth:
      type: cookie_session
    csrf:
      type: meta_tag
      name: csrf-token
      header: X-CSRF-Token
      scope:
      - PUT
      - POST
      - PATCH
      - DELETE
paths:
  /repos/{owner}/{repo}:
    get:
      operationId: getRepo
      summary: Get repository details — full_name, description, stargazers_count, forks_count, language, default_branch
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: github-read
          operation: getRepo
        build:
          stable_id: gh0001
          tool_version: 1
          verified: true
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  full_name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  html_url:
                    type: string
                  language:
                    type: string
                    nullable: true
                  stargazers_count:
                    type: integer
                  forks_count:
                    type: integer
                  open_issues_count:
                    type: integer
                  default_branch:
                    type: string
                  topics:
                    type: array
                    items:
                      type: string
                  license:
                    type: string
                    nullable: true
                  homepage:
                    type: string
                    nullable: true
                  archived:
                    type: boolean
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  pushed_at:
                    type: string
                  owner:
                    type: object
                    properties:
                      login:
                        type: string
                      avatar_url:
                        type: string
                      html_url:
                        type: string
                required:
                - full_name
                - description
  /repos/{owner}/{repo}/issues:
    get:
      operationId: listIssues
      summary: List repository issues — title, state, user, labels, created_at
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: github-read
          operation: listIssues
        build:
          stable_id: gh0002
          tool_version: 1
          verified: true
          signals:
          - status-match
        pagination:
          type: link_header
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 30
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    number:
                      type: integer
                    title:
                      type: string
                    state:
                      type: string
                    user:
                      type: object
                      nullable: true
                      properties:
                        login:
                          type: string
                    labels:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          color:
                            type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    comments:
                      type: integer
                    html_url:
                      type: string
                  required:
                  - number
                  - title
    post:
      operationId: createIssue
      summary: Create an issue
      servers:
        - url: https://github.com
          x-openweb:
            transport: page
            auth:
              type: cookie_session
            page_plan:
              entry_url: https://github.com/{owner}/{repo}/issues/new
              wait_until: domcontentloaded
              warm: true
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: github-web
          operation: createIssue
        build:
          stable_id: gh0011
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              properties:
                title:
                  type: string
                body:
                  type: string
                labels:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Issue created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  number:
                    type: integer
                  title:
                    type: string
                  html_url:
                    type: string
  /repos/{owner}/{repo}/issues/{issue_number}:
    patch:
      operationId: closeIssue
      summary: Close an issue (set state to closed)
      servers:
        - url: https://github.com
          x-openweb:
            transport: page
            auth:
              type: cookie_session
            page_plan:
              entry_url: https://github.com/{owner}/{repo}/issues/{issue_number}
              wait_until: domcontentloaded
              warm: true
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: github-web
          operation: closeIssue
        build:
          stable_id: gh0013
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: issue_number
        in: path
        required: true
        schema:
          type: integer
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - state
              properties:
                state:
                  type: string
                  enum: [closed]
                  default: closed
                state_reason:
                  type: string
                  enum: [completed, not_planned]
                  default: completed
      responses:
        '200':
          description: Issue updated (GraphQL persisted-query response).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
  /repos/{owner}/{repo}/issues/{issue_number}~reopen:
    patch:
      operationId: reopenIssue
      summary: Reopen a closed issue (reverse of closeIssue)
      servers:
        - url: https://github.com
          x-openweb:
            transport: page
            auth:
              type: cookie_session
            page_plan:
              entry_url: https://github.com/{owner}/{repo}/issues/{issue_number}
              wait_until: domcontentloaded
              warm: true
      x-openweb:
        permission: write
        safety: caution
        actual_path: /repos/{owner}/{repo}/issues/{issue_number}
        adapter:
          name: github-web
          operation: reopenIssue
        build:
          stable_id: gh0014
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: issue_number
        in: path
        required: true
        schema:
          type: integer
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - state
              properties:
                state:
                  type: string
                  enum: [open]
                  default: open
      responses:
        '200':
          description: Issue reopened (GraphQL persisted-query response).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
  /repos/{owner}/{repo}/issues/{issue_number}/comments:
    post:
      operationId: createComment
      summary: Create a comment on an issue or pull request
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: gh0015
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: issue_number
        in: path
        required: true
        schema:
          type: integer
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - body
              properties:
                body:
                  type: string
      responses:
        '201':
          description: Comment created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  body:
                    type: string
                  user:
                    type: object
                    properties:
                      login:
                        type: string
                  html_url:
                    type: string
                  created_at:
                    type: string
  /repos/{owner}/{repo}/issues/comments/{comment_id}:
    delete:
      operationId: deleteComment
      summary: Delete a comment on an issue (reverse of createComment)
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: gh0016
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: comment_id
        in: path
        required: true
        schema:
          type: integer
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      responses:
        '204':
          description: Comment deleted (no content).
  /repos/{owner}/{repo}/subscription:
    put:
      operationId: watchRepo
      summary: Watch a repository (subscribe to notifications)
      servers:
        - url: https://github.com
          x-openweb:
            transport: page
            auth:
              type: cookie_session
            page_plan:
              entry_url: https://github.com/{owner}/{repo}
              wait_until: domcontentloaded
              warm: true
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: github-web
          operation: watchRepo
        build:
          stable_id: gh0017
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                subscribed:
                  type: boolean
                  default: true
                ignored:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Subscription set (rails endpoint returns watcher count).
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: string
    delete:
      operationId: unwatchRepo
      summary: Unwatch a repository (reverse of watchRepo)
      servers:
        - url: https://github.com
          x-openweb:
            transport: page
            auth:
              type: cookie_session
            page_plan:
              entry_url: https://github.com/{owner}/{repo}
              wait_until: domcontentloaded
              warm: true
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: github-web
          operation: unwatchRepo
        build:
          stable_id: gh0018
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      responses:
        '204':
          description: Subscription deleted (no content).
  /search/repositories:
    get:
      operationId: searchRepos
      summary: Search repositories by keyword — total_count, full_name, description, stargazers_count, language
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: github-read
          operation: searchRepos
        build:
          stable_id: gh0005
          tool_version: 1
          verified: false
          signals:
          - status-match
        pagination:
          type: link_header
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search query (e.g. "react language:typescript")
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum: [stars, forks, help-wanted-issues, updated]
        description: Sort field
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum: [asc, desc]
          default: desc
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 30
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        full_name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        stargazers_count:
                          type: integer
                        forks_count:
                          type: integer
                        language:
                          type: string
                          nullable: true
                        topics:
                          type: array
                          items:
                            type: string
                        license:
                          type: string
                          nullable: true
                        updated_at:
                          type: string
                        html_url:
                          type: string
                required:
                - items
  /users/{username}:
    get:
      operationId: getUserProfile
      summary: Get user profile — login, name, bio, public_repos, followers, following
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: github-read
          operation: getUserProfile
        build:
          stable_id: gh0006
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  login:
                    type: string
                  name:
                    type: string
                    nullable: true
                  bio:
                    type: string
                    nullable: true
                  company:
                    type: string
                    nullable: true
                  location:
                    type: string
                    nullable: true
                  blog:
                    type: string
                    nullable: true
                  html_url:
                    type: string
                  public_repos:
                    type: integer
                  public_gists:
                    type: integer
                  followers:
                    type: integer
                  following:
                    type: integer
                  created_at:
                    type: string
                  twitter_username:
                    type: string
                    nullable: true
                required:
                - login
                - name
                - followers
  /repos/{owner}/{repo}/readme:
    get:
      operationId: getRepoReadme
      summary: Get repository README — name, content (decoded text), path
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: github-read
          operation: getRepoReadme
        build:
          stable_id: gh0007
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  content:
                    type: string
                    description: Decoded README content (UTF-8 text)
                  html_url:
                    type: string
                required:
                - name
                - content
  /repos/{owner}/{repo}/pulls:
    get:
      operationId: listPullRequests
      summary: List repository pull requests — title, state, user, labels, milestone, head, base, created_at
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: github-read
          operation: listPullRequests
        build:
          stable_id: gh0008
          tool_version: 2
          verified: false
          signals:
          - status-match
        pagination:
          type: link_header
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: state
        in: query
        required: false
        schema:
          type: string
          enum: [open, closed, all]
          default: open
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 30
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    number:
                      type: integer
                    title:
                      type: string
                    state:
                      type: string
                    draft:
                      type: boolean
                    user:
                      type: object
                      nullable: true
                      properties:
                        login:
                          type: string
                    labels:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          color:
                            type: string
                    milestone:
                      type: object
                      nullable: true
                      properties:
                        title:
                          type: string
                    head:
                      type: object
                      nullable: true
                      properties:
                        ref:
                          type: string
                        label:
                          type: string
                    base:
                      type: object
                      nullable: true
                      properties:
                        ref:
                          type: string
                        label:
                          type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    merged_at:
                      type: string
                      nullable: true
                    html_url:
                      type: string
                  required:
                  - number
                  - title
  /repos/{owner}/{repo}/contributors:
    get:
      operationId: listContributors
      summary: List repository contributors — login, contributions, avatar_url
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: github-read
          operation: listContributors
        build:
          stable_id: gh0009
          tool_version: 1
          verified: false
          signals:
          - status-match
        pagination:
          type: link_header
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 30
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    login:
                      type: string
                    contributions:
                      type: integer
                    avatar_url:
                      type: string
                    html_url:
                      type: string
                  required:
                  - login
                  - contributions
  /repos/{owner}/{repo}/forks:
    post:
      operationId: forkRepo
      summary: Fork a repository
      servers:
        - url: https://github.com
          x-openweb:
            transport: page
            auth:
              type: cookie_session
            page_plan:
              entry_url: https://github.com/{owner}/{repo}/fork
              wait_until: domcontentloaded
              warm: true
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: github-web
          operation: forkRepo
        build:
          stable_id: gh0010
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                organization:
                  type: string
                  description: Organization to fork into (optional)
                name:
                  type: string
                  description: Name for the forked repo (optional)
      responses:
        '202':
          description: Accepted — fork is being created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  full_name:
                    type: string
  /user/starred/{owner}/{repo}:
    put:
      operationId: starRepo
      summary: Star a repository
      servers:
        - url: https://github.com
          x-openweb:
            transport: page
            auth:
              type: cookie_session
            page_plan:
              entry_url: https://github.com/{owner}/{repo}
              wait_until: domcontentloaded
              warm: true
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: github-web
          operation: starRepo
        build:
          stable_id: gh0003
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      responses:
        '204':
          description: Success (no content).
    delete:
      operationId: unstarRepo
      summary: Unstar a repository (reverse of starRepo)
      servers:
        - url: https://github.com
          x-openweb:
            transport: page
            auth:
              type: cookie_session
            page_plan:
              entry_url: https://github.com/{owner}/{repo}
              wait_until: domcontentloaded
              warm: true
      x-openweb:
        permission: write
        safety: caution
        adapter:
          name: github-web
          operation: unstarRepo
        build:
          stable_id: gh0012
          tool_version: 1
          verified: false
          signals:
          - status-match
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      responses:
        '204':
          description: Success (no content).
  /graphql:
    post:
      operationId: graphqlQuery
      summary: Execute a GraphQL query
      x-openweb:
        # medium: unrestricted query string can carry mutations
        permission: write
        build:
          stable_id: gh0004
          tool_version: 1
          verified: false
          signals:
          - graphql
      parameters:
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/vnd.github+json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
                  description: GraphQL query string
                variables:
                  type: object
                  description: GraphQL variables
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
