openapi: '3.1.0'
info:
  title: Airbnb
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-06T01:00:00Z'
    requires_auth: false
servers:
  - url: https://www.airbnb.com
    x-openweb:
      transport: page
paths:
  /s/homes:
    get:
      operationId: searchListings
      summary: Search accommodation listings by destination, dates, and guests
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: ab0001
          signature_id: ab0001s
          tool_version: 1
          signals:
            - extraction_detected
            - script_json
        extraction:
          type: script_json
          page_url: /s/homes
          selector: '#data-deferred-state-0'
          path: niobeClientData.0.1.data.presentation.staysSearch.results
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Destination search query (e.g. "Tokyo", "Paris", "New York").
        - name: checkin
          in: query
          required: false
          schema:
            type: string
          description: Check-in date in YYYY-MM-DD format.
        - name: checkout
          in: query
          required: false
          schema:
            type: string
          description: Check-out date in YYYY-MM-DD format.
        - name: adults
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Number of adult guests.
        - name: children
          in: query
          required: false
          schema:
            type: integer
          description: Number of children.
        - name: infants
          in: query
          required: false
          schema:
            type: integer
          description: Number of infants.
        - name: price_min
          in: query
          required: false
          schema:
            type: integer
          description: Minimum price filter.
        - name: price_max
          in: query
          required: false
          schema:
            type: integer
          description: Maximum price filter.
        - name: room_types[]
          in: query
          required: false
          schema:
            type: string
            enum: [Entire home/apt, Private room, Shared room]
          description: Room type filter.
      responses:
        '200':
          description: Raw search results from embedded SSR data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  searchResults:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        avgRatingLocalized:
                          type: [string, 'null']
                        structuredDisplayPrice:
                          type: object
                        demandStayListing:
                          type: object
                        contextualPictures:
                          type: array
                          items:
                            type: object
                  paginationInfo:
                    type: object
                    properties:
                      nextPageCursor:
                        type: [string, 'null']

  /rooms/{id}:
    get:
      operationId: getListingDetail
      summary: Get full listing details — description, ratings, amenities, host info, policies
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: ab0002
          signature_id: ab0002s
          tool_version: 1
          signals:
            - extraction_detected
            - script_json
        extraction:
          type: script_json
          page_url: /rooms/{id}
          selector: '#data-deferred-state-0'
          path: niobeClientData.0.1.data.presentation.stayProductDetailPage
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Listing ID from searchListings results.
        - name: check_in
          in: query
          required: false
          schema:
            type: string
          description: Check-in date in YYYY-MM-DD format.
        - name: check_out
          in: query
          required: false
          schema:
            type: string
          description: Check-out date in YYYY-MM-DD format.
        - name: adults
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Number of adult guests.
      responses:
        '200':
          description: Raw listing detail page data from embedded SSR data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sections:
                    type: object
                    properties:
                      sections:
                        type: array
                        items:
                          type: object
                          properties:
                            sectionId:
                              type: [string, 'null']
                            section:
                              type: [object, 'null']
                      metadata:
                        type: object

  /rooms/{id}/reviews:
    get:
      operationId: getListingReviews
      summary: Get reviews for a listing — ratings, reviewer info, review text
      x-openweb:
        permission: read
        build:
          stable_id: ab0003
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: airbnb-web
          operation: getListingReviews
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Listing ID from searchListings results.
      responses:
        '200':
          description: Reviews with text, ratings, and reviewer info from GraphQL interception.
          content:
            application/json:
              schema:
                type: object
                properties:
                  listingId:
                    type: string
                  reviews:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        comments:
                          type: [string, 'null']
                        rating:
                          type: [integer, 'null']
                        createdAt:
                          type: [string, 'null']
                        localizedDate:
                          type: [string, 'null']
                        reviewer:
                          type: [object, 'null']
                        language:
                          type: [string, 'null']
                        highlightType:
                          type: [string, 'null']
                        reviewHighlight:
                          type: [string, 'null']
                  reviewsCount:
                    type: integer
                  overallRating:
                    type: [number, 'null']
                  ratings:
                    type: [array, 'null']
                    items:
                      type: object

  /rooms/{id}/availability:
    get:
      operationId: getListingAvailability
      summary: Get availability, pricing, and booking info for a listing
      x-openweb:
        permission: read
        build:
          stable_id: ab0004
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: airbnb-web
          operation: getListingAvailability
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Listing ID from searchListings results.
        - name: check_in
          in: query
          required: false
          schema:
            type: string
          description: Check-in date in YYYY-MM-DD format.
        - name: check_out
          in: query
          required: false
          schema:
            type: string
          description: Check-out date in YYYY-MM-DD format.
      responses:
        '200':
          description: Calendar availability data from GraphQL interception.
          content:
            application/json:
              schema:
                type: object
                properties:
                  listingId:
                    type: string
                  checkIn:
                    type: [string, 'null']
                  checkOut:
                    type: [string, 'null']
                  calendarMonths:
                    type: array
                    items:
                      type: object
                      properties:
                        month:
                          type: integer
                        year:
                          type: integer
                        days:
                          type: array
                          items:
                            type: object
                            properties:
                              calendarDate:
                                type: string
                              available:
                                type: boolean
                              minNights:
                                type: [integer, 'null']
                              maxNights:
                                type: [integer, 'null']
                              availableForCheckin:
                                type: boolean
                              availableForCheckout:
                                type: boolean
                              price:
                                type: [object, 'null']

  /users/{hostId}:
    get:
      operationId: getHostProfile
      summary: Get host profile — superhost status, response rate, about, listings
      x-openweb:
        permission: read
        build:
          stable_id: ab0005
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: airbnb-web
          operation: getHostProfile
      parameters:
        - name: hostId
          in: path
          required: true
          schema:
            type: string
          description: Host user ID (from listing detail host section).
      responses:
        '200':
          description: Host profile data from SSR extraction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  hostId:
                    type: string
                  profile:
                    type: object
