openapi: "3.1.0"
info:
  title: GoodRx
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    compiled_at: "2026-04-01T00:00:00Z"
    requires_auth: false
servers:
  - url: https://www.goodrx.com
    x-openweb:
      transport: page
paths:
  /search:
    get:
      operationId: searchDrugs
      summary: "Search drugs by name — autocomplete results with drug name and URL"
      x-openweb:
        permission: read
        build:
          stable_id: grx_searchDrugs_v1
          tool_version: 2
          signals:
            - adapter-verified
        adapter:
          name: goodrx-web
          operation: searchDrugs
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: "Drug name to search for (e.g. 'metformin', 'lisinopril')"
          example: metformin
      responses:
        "200":
          description: Drug search results.
          content:
            application/json:
              schema:
                type: object
                required: [count, results]
                properties:
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      required: [name]
                      properties:
                        name:
                          type: string
                          description: Drug name or suggestion text
                        url:
                          type: string
                          description: URL to the drug pricing page

  /{slug}:
    get:
      operationId: getDrugPrices
      summary: "Get drug price comparison across pharmacies — pharmacy name, coupon price"
      x-openweb:
        permission: read
        build:
          stable_id: grx_getDrugPrices_v1
          tool_version: 2
          signals:
            - adapter-verified
        adapter:
          name: goodrx-web
          operation: getDrugPrices
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: "Drug slug (e.g. 'metformin', 'lisinopril', 'amoxicillin')"
          example: metformin
      responses:
        "200":
          description: Pharmacy price comparison for the drug.
          content:
            application/json:
              schema:
                type: object
                required: [count, prices]
                properties:
                  drugName:
                    type: string
                    description: Drug display name
                  count:
                    type: integer
                  prices:
                    type: array
                    items:
                      type: object
                      required: [pharmacy, price]
                      properties:
                        pharmacy:
                          type: string
                          description: "Pharmacy name (e.g. 'CVS Pharmacy', 'Walgreens')"
                        price:
                          type: number
                          description: Coupon price in USD

  /pharmacy-near-me:
    get:
      operationId: getPharmacies
      summary: "Get nearby pharmacies — pharmacy name, slug, URL"
      x-openweb:
        permission: read
        build:
          stable_id: grx_getPharmacies_v1
          tool_version: 2
          signals:
            - adapter-verified
        adapter:
          name: goodrx-web
          operation: getPharmacies
      parameters:
        - name: zipCode
          in: query
          required: false
          schema:
            type: string
          description: "ZIP code for location-based results (e.g. '90210'). Defaults to browser geolocation."
          example: "90210"
      responses:
        "200":
          description: List of pharmacies near the given location.
          content:
            application/json:
              schema:
                type: object
                required: [count, pharmacies]
                properties:
                  count:
                    type: integer
                  pharmacies:
                    type: array
                    items:
                      type: object
                      required: [name, slug, url]
                      properties:
                        name:
                          type: string
                          description: Pharmacy chain name
                        slug:
                          type: string
                          description: URL slug for this pharmacy
                        url:
                          type: string
                          description: Full URL to pharmacy page on GoodRx
