openapi: '3.1.0'
info:
  title: Google Search
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
    requires_auth: false
servers:
- url: https://www.google.com
  x-openweb:
    transport: page
    auth:
      type: cookie_session
paths:
  /complete/search:
    get:
      operationId: searchSuggestions
      summary: >-
        Get autocomplete suggestions for a query prefix — returns ranked
        completion strings, useful for query refinement and discovery
      x-openweb:
        transport: node
        permission: read
        build:
          stable_id: gs0001
          tool_version: 1
          verified: true
          signals:
          - status-match
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search query prefix (e.g. "best lapt").
      - name: client
        in: query
        required: true
        schema:
          type: string
          const: chrome
        description: Client identifier — must be "chrome" for JSON response.
      - name: hl
        in: query
        required: false
        schema:
          type: string
          default: en
        description: Language code (e.g. "en", "fr", "de").
      responses:
        '200':
          description: Autocomplete suggestions as JSON array.
          content:
            application/json:
              schema:
                type: array
                prefixItems:
                - type: string
                  description: The query prefix that was sent.
                - type: array
                  items:
                    type: string
                  description: List of suggested completions.
  /search:
    get:
      operationId: searchWeb
      summary: >-
        Extract organic web search results — title, link, displayUrl, snippet
        for each result from the Google search page
      x-openweb:
        permission: read
        build:
          stable_id: gs0002
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-search
          operation: searchWeb
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search query — must match the query on the open Google search page.
      responses:
        '200':
          description: Organic web search results extracted from the page.
          content:
            application/json:
              schema:
                type: object
                required:
                - query
                - results
                properties:
                  query:
                    type: string
                    description: The search query shown on the page.
                  resultCount:
                    type: integer
                    description: Number of organic results extracted.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: Result title (from h3).
                        link:
                          type: string
                          description: Result URL.
                        displayUrl:
                          type: string
                          description: Display URL shown under the title.
                        snippet:
                          type: string
                          description: Result description/snippet text.
                      required: [title, link]
  /search/images:
    get:
      operationId: searchImages
      summary: >-
        Extract image search results — sourceUrl, alt text, thumbnail
        width/height from Google Images page (udm=2)
      x-openweb:
        permission: read
        build:
          stable_id: gs0003
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-search
          operation: searchImages
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search query — must match the query on the open Google Images page (navigate with udm=2).
      responses:
        '200':
          description: Image search results extracted from the page.
          content:
            application/json:
              schema:
                type: object
                required:
                - query
                - results
                properties:
                  query:
                    type: string
                    description: The search query shown on the page.
                  resultCount:
                    type: integer
                    description: Number of image results extracted.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        sourceUrl:
                          type: string
                          description: URL of the page hosting the image.
                        alt:
                          type: string
                          description: Alt text / caption of the image.
                        width:
                          type: integer
                          description: Thumbnail natural width in pixels.
                        height:
                          type: integer
                          description: Thumbnail natural height in pixels.
                      required: [sourceUrl]
  /search/news:
    get:
      operationId: searchNews
      summary: >-
        Extract news results — headline, link, source, snippet, publishedAt
        (ISO 8601) from Google News tab (tbm=nws)
      x-openweb:
        permission: read
        build:
          stable_id: gs0004
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-search
          operation: searchNews
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search query — must match the query on the open Google News page (navigate with tbm=nws).
      responses:
        '200':
          description: News search results extracted from the page.
          content:
            application/json:
              schema:
                type: object
                required:
                - query
                - results
                properties:
                  query:
                    type: string
                    description: The search query shown on the page.
                  resultCount:
                    type: integer
                    description: Number of news results extracted.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: News article headline.
                        link:
                          type: string
                          description: URL of the news article.
                        source:
                          type: string
                          description: Publisher name (e.g. "Forbes", "The Verge").
                        snippet:
                          type: string
                          description: Article summary/snippet text.
                        publishedAt:
                          type: string
                          description: ISO 8601 timestamp or relative time string.
                      required: [title, link]
  /search/videos:
    get:
      operationId: searchVideos
      summary: >-
        Extract video search results — title, link, source, snippet from
        Google Videos tab (tbm=vid)
      x-openweb:
        permission: read
        build:
          stable_id: gs0005
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-search
          operation: searchVideos
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search query — must match the query on the open Google Videos page (navigate with tbm=vid).
      responses:
        '200':
          description: Video search results extracted from the page.
          content:
            application/json:
              schema:
                type: object
                required:
                - query
                - results
                properties:
                  query:
                    type: string
                    description: The search query shown on the page.
                  resultCount:
                    type: integer
                    description: Number of video results extracted.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: Video title.
                        link:
                          type: string
                          description: URL of the video page.
                        source:
                          type: string
                          description: Display URL or channel source.
                        snippet:
                          type: string
                          description: Video description/snippet text.
                      required: [title, link]
  /search/shopping:
    get:
      operationId: searchShopping
      summary: >-
        Extract shopping results — product title, price, originalPrice,
        merchant, reviewCount from Google Shopping (udm=28)
      x-openweb:
        permission: read
        build:
          stable_id: gs0006
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-search
          operation: searchShopping
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search query — must match the query on the open Google Shopping page (navigate with udm=28 or tbm=shop).
      responses:
        '200':
          description: Shopping product results extracted from the page.
          content:
            application/json:
              schema:
                type: object
                required:
                - query
                - results
                properties:
                  query:
                    type: string
                    description: The search query shown on the page.
                  resultCount:
                    type: integer
                    description: Number of product results extracted.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: Product name.
                        price:
                          type: string
                          description: Current price (e.g. "$99.99").
                        originalPrice:
                          type: string
                          description: Original/list price before discount.
                        merchant:
                          type: string
                          description: Seller name (e.g. "Target", "Best Buy").
                        reviewCount:
                          type: string
                          description: Number of reviews (e.g. "(9k+)").
                      required: [title, price]
  /search/knowledge:
    get:
      operationId: getKnowledgePanel
      summary: >-
        Extract knowledge panel — entity title, subtitle, description, and
        facts (born, spouse, etc.) from search sidebar
      x-openweb:
        permission: read
        build:
          stable_id: gs0007
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-search
          operation: getKnowledgePanel
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search query for an entity (person, place, organization) — must match the query on the open Google search page.
      responses:
        '200':
          description: Knowledge panel data extracted from the page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    nullable: true
                    description: Entity name (e.g. "Albert Einstein").
                  subtitle:
                    type: string
                    nullable: true
                    description: Entity type/role (e.g. "Theoretical physicist").
                  description:
                    type: string
                    nullable: true
                    description: Short entity description.
                  facts:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                          description: Fact label (e.g. "Born", "Spouse").
                        value:
                          type: string
                          description: Fact value.
                required:
                - title
                - description
  /search/people-also-ask:
    get:
      operationId: getPeopleAlsoAsk
      summary: >-
        Extract "People also ask" questions — list of related questions
        from the PAA box on search results page
      x-openweb:
        permission: read
        build:
          stable_id: gs0009
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-search
          operation: getPeopleAlsoAsk
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search query — must match the query on the open Google search page.
      responses:
        '200':
          description: People Also Ask questions extracted from the search page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  questions:
                    type: array
                    items:
                      type: object
                      properties:
                        question:
                          type: string
                          description: A related question (e.g. "How does photosynthesis work?").
                  count:
                    type: integer
                    description: Number of PAA questions extracted.
                required:
                - questions
  /search/related:
    get:
      operationId: getRelatedSearches
      summary: >-
        Extract related searches — list of suggested follow-up queries
        from the bottom of the search results page
      x-openweb:
        permission: read
        build:
          stable_id: gs0010
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-search
          operation: getRelatedSearches
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search query — must match the query on the open Google search page.
      responses:
        '200':
          description: Related search suggestions from the bottom of results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  searches:
                    type: array
                    items:
                      type: string
                    description: List of related search query strings.
                  count:
                    type: integer
                    description: Number of related searches extracted.
                required:
                - searches
  /search/local:
    get:
      operationId: searchLocal
      summary: >-
        Extract local business results (local pack) — name, rating, reviews,
        business type, address from search results map section
      x-openweb:
        permission: read
        build:
          stable_id: gs0011
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: google-search
          operation: searchLocal
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Local search query (e.g. "pizza near me", "coffee shops in Brooklyn").
      responses:
        '200':
          description: Local business results from the map pack.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Business name.
                        rating:
                          type: string
                          description: Star rating (e.g. "4.5").
                        reviews:
                          type: string
                          description: Review count (e.g. "234").
                        type:
                          type: string
                          description: Business type (e.g. "Italian restaurant").
                        address:
                          type: string
                          description: Street address or area.
                  resultCount:
                    type: integer
                    description: Number of local results extracted.
                required:
                - results
