openapi: '3.1.0'
info:
  title: Boss直聘
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-01T00:00:00Z'
    requires_auth: false
servers:
- url: https://www.zhipin.com
  x-openweb:
    transport: page
paths:
  /web/geek/job:
    get:
      operationId: searchJobs
      summary: Search jobs by keyword and city — returns job cards with title, salary, company, location, experience, degree, boss info
      x-openweb:
        permission: read
        build:
          stable_id: boss0001
          signature_id: boss0001s
          tool_version: 1
          verified: true
          signals:
          - status-match
        extraction:
          type: page_global_data
          page_url: /web/geek/job
          expression: |
            (() => {
              const result = {};
              const jobs = [];
              const cards = document.querySelectorAll('.job-card-wrap, .job-card-wrapper');
              for (const card of cards) {
                const job = {};
                job.jobName = card.querySelector('.job-name')?.textContent?.trim();
                job.salaryDesc = card.querySelector('.job-salary, .salary')?.textContent?.trim() || '';
                const companyLink = card.querySelector('.boss-info[href*="gongsi"], a[href*="gongsi"]');
                job.company = card.querySelector('.boss-name')?.textContent?.trim() || '';
                job.companyLink = companyLink?.getAttribute('href') || '';
                job.area = card.querySelector('.company-location, .job-area')?.textContent?.trim() || '';
                const tagItems = card.querySelectorAll('.tag-list li');
                const tags = [];
                for (const t of tagItems) { const text = t.textContent?.trim(); if (text) tags.push(text); }
                if (tags.length > 0) { job.experience = tags[0]; job.degree = tags[1]; }
                const link = card.querySelector('a.job-name, a[href*="job_detail"]');
                job.jobLink = link?.getAttribute('href') || '';
                if (job.jobName) jobs.push(job);
              }
              result.jobs = jobs;
              const countEl = document.querySelector('[class*="result-num"], .search-job-result .job-tab');
              if (countEl) {
                const match = countEl.textContent?.match(/(\d+)/);
                if (match) result.totalCount = Number.parseInt(match[1], 10);
              }
              return result;
            })()
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Job search keyword (e.g. "Java", "产品经理", "数据分析").
      - name: city
        in: query
        required: true
        schema:
          type: string
        description: City code (e.g. "101010100" for Beijing, "101020100" for Shanghai, "101280600" for Shenzhen).
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Page number for pagination.
      responses:
        '200':
          description: Job search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total matching jobs.
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        jobName:
                          type: string
                        salaryDesc:
                          type: string
                          description: Salary range (e.g. "15-25K").
                        company:
                          type: string
                        area:
                          type: string
                        experience:
                          type: string
                        degree:
                          type: string
                        tags:
                          type: array
                          items:
                            type: string
                        jobLink:
                          type: string
                          description: Relative URL for getJobDetail.
                        companyLink:
                          type: string
                          description: Relative URL for getCompanyProfile.
                        companySize:
                          type: string
                        companyStage:
                          type: string
                        industry:
                          type: string
                        bossName:
                          type: string
                        bossTitle:
                          type: string

                required:
                - jobs
  /job_detail/{jobId}:
    get:
      operationId: getJobDetail
      summary: Get full job posting — title, salary, description, requirements, company, boss info, address
      x-openweb:
        permission: read
        build:
          stable_id: boss0002
          signature_id: boss0002s
          tool_version: 1
          verified: true
          signals:
          - status-match
        extraction:
          type: page_global_data
          page_url: /job_detail/{jobId}
          expression: |
            (() => {
              const result = {};
              result.jobName = document.querySelector('.info-primary .name h1, .name h1')?.textContent?.trim() || '';
              result.salaryDesc = document.querySelector('.info-primary .name .salary, .salary')?.textContent?.trim() || '';
              result.city = document.querySelector('.text-city')?.textContent?.trim() || '';
              result.experience = document.querySelector('.text-experiece, .text-experience')?.textContent?.trim() || '';
              result.degree = document.querySelector('.text-degree')?.textContent?.trim() || '';
              result.jobDescription = document.querySelector('.job-sec-text')?.innerHTML?.trim() || '';
              const skillEls = document.querySelectorAll('.job-keyword-list li');
              const skills = [];
              for (const el of skillEls) { const text = el.textContent?.trim(); if (text) skills.push(text); }
              if (skills.length > 0) result.tags = skills;
              const company = {};
              const companyLink = document.querySelector('.sider-company a[href*="gongsi"]');
              company.name = companyLink?.getAttribute('title') || companyLink?.textContent?.trim() || '';
              company.link = companyLink?.getAttribute('href') || '';
              const stageEl = document.querySelector('.sider-company .icon-stage');
              if (stageEl?.parentElement) company.stage = stageEl.parentElement.textContent?.trim() || '';
              const scaleEl = document.querySelector('.sider-company .icon-scale');
              if (scaleEl?.parentElement) company.size = scaleEl.parentElement.textContent?.trim() || '';
              const industryEl = document.querySelector('.sider-company .icon-industry');
              if (industryEl?.parentElement) company.industry = industryEl.parentElement.textContent?.trim() || '';
              result.company = company;
              const boss = {};
              const bossNameEl = document.querySelector('.job-boss-info .name');
              if (bossNameEl) {
                let nameText = '';
                for (const node of bossNameEl.childNodes) {
                  if (node.nodeType === 3) nameText += node.textContent;
                }
                boss.name = nameText.trim();
              }
              boss.title = document.querySelector('.job-boss-info .boss-info-attr')?.textContent?.trim() || '';
              result.boss = boss;
              result.address = document.querySelector('.location-address')?.textContent?.trim() || '';
              return result;
            })()
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
        description: Job detail filename from searchJobs jobLink (e.g. "c87fbe4ceb69849d0nZz29W1EFRR.html").
      responses:
        '200':
          description: Full job posting details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobName:
                    type: string
                  salaryDesc:
                    type: string
                  experience:
                    type: string
                  degree:
                    type: string
                  city:
                    type: string
                  jobDescription:
                    type: string
                    description: Full job description HTML.
                  tags:
                    type: array
                    items:
                      type: string
                  company:
                    type: object
                    properties:
                      name:
                        type: string
                      industry:
                        type: string
                      stage:
                        type: string
                      size:
                        type: string
                      link:
                        type: string
                        description: Company URL for getCompanyProfile.
                  boss:
                    type: object
                    properties:
                      name:
                        type: string
                      title:
                        type: string
                  address:
                    type: string

                required:
                - jobName
  /gongsi/{companyId}:
    get:
      operationId: getCompanyProfile
      summary: Get company profile — name, industry, size, funding stage, description, open positions
      x-openweb:
        permission: read
        build:
          stable_id: boss0003
          signature_id: boss0003s
          tool_version: 1
          verified: true
          signals:
          - status-match
        extraction:
          type: page_global_data
          page_url: /gongsi/{companyId}
          expression: |
            (() => {
              const result = {};
              const nameEl = document.querySelector('.company-banner .info h1.name, .company-banner h1.name');
              if (nameEl) {
                let nameText = '';
                for (const node of nameEl.childNodes) {
                  if (node.nodeType === 3) nameText += node.textContent;
                }
                result.name = nameText.trim();
              } else {
                result.name = '';
              }
              const infoP = document.querySelector('.company-banner .info p');
              if (infoP) {
                const parts = [];
                for (const node of infoP.childNodes) {
                  if (node.nodeType === 3) {
                    const t = node.textContent?.trim();
                    if (t) parts.push(t);
                  } else if (node.nodeType === 1) {
                    const el = node;
                    if (el.classList?.contains('dolt')) continue;
                    const t = el.textContent?.trim();
                    if (t) parts.push(t);
                  }
                }
                result.stage = parts[0] || ''; result.size = parts[1] || ''; result.industry = parts[2] || '';
              }
              result.description = document.querySelector('.fold-text, .company-description .text, .detail-content')?.textContent?.trim() || '';
              result.address = document.querySelector('.location-address, .company-address')?.textContent?.trim() || '';
              const jobEls = document.querySelectorAll('.job-list li');
              const jobs = [];
              for (const el of jobEls) {
                const job = {};
                const titleLink = el.querySelector('.job-title, a[href*="job_detail"]');
                job.jobName = titleLink?.textContent?.trim();
                job.salaryDesc = el.querySelector('.salary')?.textContent?.trim() || '';
                job.area = el.querySelector('.job-area')?.textContent?.trim() || '';
                job.link = titleLink?.getAttribute('href') || '';
                if (job.jobName) jobs.push(job);
              }
              result.jobs = jobs;
              return result;
            })()
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
        description: Company page filename from getJobDetail company.link (e.g. "a67b361452e384e71XV82N4~.html").
      responses:
        '200':
          description: Company profile data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  industry:
                    type: string
                  stage:
                    type: string
                  size:
                    type: string
                  description:
                    type: string
                  address:
                    type: string
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        jobName:
                          type: string
                        salaryDesc:
                          type: string
                        area:
                          type: string
                        link:
                          type: string

                required:
                - name
                - description
  /web/geek/salary:
    get:
      operationId: getSalary
      summary: Get salary statistics for a position in a city — min/max/average ranges, sample listings
      x-openweb:
        permission: read
        build:
          stable_id: boss0004
          signature_id: boss0004s
          tool_version: 1
          verified: true
          signals:
          - status-match
        extraction:
          type: page_global_data
          page_url: /web/geek/job
          expression: |
            (() => {
              const salaries = [];
              const cards = document.querySelectorAll('.job-card-wrap, .job-card-wrapper');
              for (const card of cards) {
                const salaryText = card.querySelector('.job-salary, .salary')?.textContent?.trim();
                if (!salaryText) continue;
                const match = salaryText.match(/(\d+)-(\d+)(K|k|元\/天|元\/月)/);
                if (match) {
                  const multiplier = match[3].toLowerCase() === 'k' ? 1000 : 1;
                  salaries.push({
                    min: Number(match[1]) * multiplier,
                    max: Number(match[2]) * multiplier,
                    unit: match[3].toLowerCase() === 'k' ? 'CNY/month' : 'CNY/day',
                    name: card.querySelector('.job-name')?.textContent?.trim() || '',
                  });
                }
              }
              if (salaries.length === 0) return { salaryCount: 0, samples: [] };
              const monthlySalaries = salaries.filter(s => s.unit === 'CNY/month');
              if (monthlySalaries.length === 0) return { salaryCount: 0, samples: [] };
              const mins = monthlySalaries.map(s => s.min).sort((a, b) => a - b);
              const maxs = monthlySalaries.map(s => s.max).sort((a, b) => a - b);
              const median = (arr) => {
                const mid = Math.floor(arr.length / 2);
                return arr.length % 2 ? arr[mid] : Math.round((arr[mid - 1] + arr[mid]) / 2);
              };
              const avg = (arr) => Math.round(arr.reduce((a, b) => a + b, 0) / arr.length);
              return {
                salaryCount: monthlySalaries.length,
                minRange: { lowest: mins[0], median: median(mins), highest: mins[mins.length - 1] },
                maxRange: { lowest: maxs[0], median: median(maxs), highest: maxs[maxs.length - 1] },
                averageMin: avg(mins),
                averageMax: avg(maxs),
                unit: 'CNY/month',
                samples: monthlySalaries.slice(0, 5).map(s => ({
                  jobName: s.name,
                  salary: (s.min / 1000) + '-' + (s.max / 1000) + 'K',
                })),
              };
            })()
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Job title or keyword to get salary data for (e.g. "Java", "产品经理").
      - name: city
        in: query
        required: true
        schema:
          type: string
        description: City code (e.g. "101010100" for Beijing, "101020100" for Shanghai).
      responses:
        '200':
          description: Aggregated salary statistics from job listings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  salaryCount:
                    type: integer
                    description: Number of listings with salary data.
                  minRange:
                    type: object
                    description: Distribution of minimum salary offers.
                    properties:
                      lowest:
                        type: integer
                      median:
                        type: integer
                      highest:
                        type: integer
                  maxRange:
                    type: object
                    description: Distribution of maximum salary offers.
                    properties:
                      lowest:
                        type: integer
                      median:
                        type: integer
                      highest:
                        type: integer
                  averageMin:
                    type: integer
                    description: Average lower bound of salary range.
                  averageMax:
                    type: integer
                    description: Average upper bound of salary range.
                  unit:
                    type: string
                    description: Currency unit (CNY/month).
                  samples:
                    type: array
                    description: Sample job listings with salary.
                    items:
                      type: object
                      properties:
                        jobName:
                          type: string
                        salary:
                          type: string

                required:
                - salaryCount
  /wapi/zpCommon/data/city.json:
    get:
      operationId: getCities
      summary: Get full city list — hot cities and province-grouped hierarchy with numeric codes for search
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: boss
          operation: getCities
        build:
          stable_id: boss0005
          signature_id: boss0005s
          tool_version: 1
          verified: true
          signals:
          - status-match
      responses:
        '200':
          description: City list with codes (trimmed — code+name only).
          content:
            application/json:
              schema:
                type: object
                properties:
                  hotCityList:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: City code for search queries.
                        name:
                          type: string
                  cityList:
                    type: array
                    description: Province-grouped city hierarchy (province → city).
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: Province code.
                        name:
                          type: string
                        subLevelModelList:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: integer
                                description: City code for search queries.
                              name:
                                type: string
                required:
                - hotCityList
                - cityList
  /wapi/zpCommon/data/industry.json:
    get:
      operationId: getIndustries
      summary: Get industry categories — top-level industries with sub-categories and codes
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: boss
          operation: getIndustries
        build:
          stable_id: boss0006
          signature_id: boss0006s
          tool_version: 1
          verified: true
          signals:
          - status-match
      responses:
        '200':
          description: Industry list (trimmed — code+name only).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: integer
                    name:
                      type: string
                    subLevelModelList:
                      type: array
                      items:
                        type: object
                        properties:
                          code:
                            type: integer
                          name:
                            type: string
  /wapi/zpgeek/pc/all/filter/conditions.json:
    get:
      operationId: getFilterConditions
      summary: Get search filter options — salary ranges, experience levels, education, company stages, job types
      x-openweb:
        permission: read
        transport: node
        adapter:
          name: boss
          operation: getFilterConditions
        build:
          stable_id: boss0007
          signature_id: boss0007s
          tool_version: 1
          verified: true
          signals:
          - status-match
      responses:
        '200':
          description: Filter condition lists (trimmed — code+name only).
          content:
            application/json:
              schema:
                type: object
                properties:
                  salaryList:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                        name:
                          type: string
                  experienceList:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                        name:
                          type: string
                  degreeList:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                        name:
                          type: string
                  stageList:
                    type: array
                    description: Company funding stage options.
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                        name:
                          type: string
                  scaleList:
                    type: array
                    description: Company size options.
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                        name:
                          type: string
                  jobTypeList:
                    type: array
                    description: Job type options (full-time, part-time).
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                        name:
                          type: string
                required:
                - salaryList
