openapi: '3.1.0'
info:
  title: Boss直聘
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-01T00:00:00Z'
    requires_auth: false
servers:
- url: https://www.zhipin.com
  x-openweb:
    transport: page
paths:
  /web/geek/job:
    get:
      operationId: searchJobs
      summary: Search jobs by keyword and city — returns job cards with title, salary, company, location, experience, degree, boss info
      x-openweb:
        permission: read
        build:
          stable_id: boss0001
          signature_id: boss0001s
          tool_version: 1
          verified: true
          signals:
          - status-match
        adapter:
          name: boss-web
          operation: searchJobs
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Job search keyword (e.g. "Java", "产品经理", "数据分析").
      - name: city
        in: query
        required: true
        schema:
          type: string
        description: City code (e.g. "101010100" for Beijing, "101020100" for Shanghai, "101280600" for Shenzhen).
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Page number for pagination.
      responses:
        '200':
          description: Job search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total matching jobs.
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        jobName:
                          type: string
                        salaryDesc:
                          type: string
                          description: Salary range (e.g. "15-25K").
                        company:
                          type: string
                        area:
                          type: string
                        experience:
                          type: string
                        degree:
                          type: string
                        tags:
                          type: array
                          items:
                            type: string
                        jobLink:
                          type: string
                          description: Relative URL for getJobDetail.
                        companyLink:
                          type: string
                          description: Relative URL for getCompanyProfile.
                        companySize:
                          type: string
                        companyStage:
                          type: string
                        industry:
                          type: string
                        bossName:
                          type: string
                        bossTitle:
                          type: string

                required:
                - jobs
  /job_detail/{jobId}:
    get:
      operationId: getJobDetail
      summary: Get full job posting — title, salary, description, requirements, company, boss info, address
      x-openweb:
        permission: read
        build:
          stable_id: boss0002
          signature_id: boss0002s
          tool_version: 1
          verified: true
          signals:
          - status-match
        adapter:
          name: boss-web
          operation: getJobDetail
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
        description: Job ID or path from searchJobs jobLink (e.g. "/job_detail/xxx.html" or the path segment).
      responses:
        '200':
          description: Full job posting details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobName:
                    type: string
                  salaryDesc:
                    type: string
                  experience:
                    type: string
                  degree:
                    type: string
                  city:
                    type: string
                  jobDescription:
                    type: string
                    description: Full job description HTML.
                  tags:
                    type: array
                    items:
                      type: string
                  company:
                    type: object
                    properties:
                      name:
                        type: string
                      industry:
                        type: string
                      stage:
                        type: string
                      size:
                        type: string
                      link:
                        type: string
                        description: Company URL for getCompanyProfile.
                  boss:
                    type: object
                    properties:
                      name:
                        type: string
                      title:
                        type: string
                  address:
                    type: string

                required:
                - jobName
  /gongsi/{companyId}:
    get:
      operationId: getCompanyProfile
      summary: Get company profile — name, industry, size, funding stage, description, open positions
      x-openweb:
        permission: read
        build:
          stable_id: boss0003
          signature_id: boss0003s
          tool_version: 1
          verified: true
          signals:
          - status-match
        adapter:
          name: boss-web
          operation: getCompanyProfile
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: string
        description: Company ID from getJobDetail company.link (e.g. "v-_eCFU5ERlU~.html").
      responses:
        '200':
          description: Company profile data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  industry:
                    type: string
                  stage:
                    type: string
                  size:
                    type: string
                  description:
                    type: string
                  address:
                    type: string
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        jobName:
                          type: string
                        salaryDesc:
                          type: string
                        area:
                          type: string
                        link:
                          type: string

                required:
                - name
                - description
  /web/geek/salary:
    get:
      operationId: getSalary
      summary: Get salary statistics for a position in a city — min/max/average ranges, sample listings
      x-openweb:
        permission: read
        build:
          stable_id: boss0004
          signature_id: boss0004s
          tool_version: 1
          verified: true
          signals:
          - status-match
        adapter:
          name: boss-web
          operation: getSalary
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Job title or keyword to get salary data for (e.g. "Java", "产品经理").
      - name: city
        in: query
        required: true
        schema:
          type: string
        description: City code (e.g. "101010100" for Beijing, "101020100" for Shanghai).
      responses:
        '200':
          description: Aggregated salary statistics from job listings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  salaryCount:
                    type: integer
                    description: Number of listings with salary data.
                  minRange:
                    type: object
                    description: Distribution of minimum salary offers.
                    properties:
                      lowest:
                        type: integer
                      median:
                        type: integer
                      highest:
                        type: integer
                  maxRange:
                    type: object
                    description: Distribution of maximum salary offers.
                    properties:
                      lowest:
                        type: integer
                      median:
                        type: integer
                      highest:
                        type: integer
                  averageMin:
                    type: integer
                    description: Average lower bound of salary range.
                  averageMax:
                    type: integer
                    description: Average upper bound of salary range.
                  unit:
                    type: string
                    description: Currency unit (CNY/month).
                  samples:
                    type: array
                    description: Sample job listings with salary.
                    items:
                      type: object
                      properties:
                        jobName:
                          type: string
                        salary:
                          type: string

                required:
                - salaryCount
  /wapi/zpCommon/data/city.json:
    get:
      operationId: getCities
      summary: Get full city list — hot cities and province-grouped hierarchy with numeric codes for search
      x-openweb:
        permission: read
        transport: node
        build:
          stable_id: boss0005
          signature_id: boss0005s
          tool_version: 1
          verified: true
          signals:
          - status-match
      responses:
        '200':
          description: City list with codes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  zpData:
                    type: object
                    properties:
                      hotCityList:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                              description: City code for search queries.
                            name:
                              type: string
                      cityList:
                        type: array
                        description: Province-grouped city hierarchy.
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                              description: Province code.
                            name:
                              type: string
                            subLevelModelList:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: integer
                                    description: City code for search queries.
                                  name:
                                    type: string

                required:
                - zpData
  /wapi/zpCommon/data/industry.json:
    get:
      operationId: getIndustries
      summary: Get industry categories — top-level industries with sub-categories and codes
      x-openweb:
        permission: read
        transport: node
        build:
          stable_id: boss0006
          signature_id: boss0006s
          tool_version: 1
          verified: true
          signals:
          - status-match
      responses:
        '200':
          description: Industry list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  zpData:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                        name:
                          type: string
                        subLevelModelList:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: integer
                              name:
                                type: string

                required:
                - zpData
  /wapi/zpgeek/pc/all/filter/conditions.json:
    get:
      operationId: getFilterConditions
      summary: Get search filter options — salary ranges, experience levels, education, company stages, job types
      x-openweb:
        permission: read
        transport: node
        build:
          stable_id: boss0007
          signature_id: boss0007s
          tool_version: 1
          verified: true
          signals:
          - status-match
      responses:
        '200':
          description: Filter condition lists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  zpData:
                    type: object
                    properties:
                      salaryList:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: string
                      experienceList:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: string
                      degreeList:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: string
                      stageList:
                        type: array
                        description: Company funding stage options.
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: string
                      scaleList:
                        type: array
                        description: Company size options.
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: string
                      jobTypeList:
                        type: array
                        description: Job type options (full-time, part-time).
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: string
                required:
                - zpData
