openapi: '3.1.0'
info:
  title: Bloomberg
  version: '1.0.0'
  x-openweb:
    spec_version: '2.0'
    compiled_at: '2026-04-01T00:00:00Z'
    requires_auth: false
servers:
  - url: https://www.bloomberg.com
    x-openweb:
      transport: page
paths:
  /:
    get:
      operationId: getTickerBar
      summary: Get market ticker bar — top indices, bonds, commodities with live prices
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: bb0001
          signature_id: bb0001s
          tool_version: 1
          signals:
            - next_data
        extraction:
          type: ssr_next_data
          path: props.pageProps.initialState.tickerBar
      parameters: []
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [id, shortName]
                  properties:
                    id:
                      type: string
                      description: Bloomberg ticker ID (e.g. "SPX:IND", "CCMP:IND", "CL1:COM").
                    name:
                      type: string
                    longName:
                      type: [string, 'null']
                    shortName:
                      type: string
                    percentChange1Day:
                      type: [number, 'null']
                      description: Daily percent change.
                    price:
                      type: [number, 'null']
                    lastYield:
                      type: [number, 'null']
                      description: Yield for bonds, null for equities/commodities.
                    realTimeTickerDescription:
                      type: [string, 'null']
  /news-headlines:
    get:
      operationId: getNewsHeadlines
      summary: Get top financial news headlines from Bloomberg homepage — headline, abstract, author, topics
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: bb0002
          signature_id: bb0002s
          tool_version: 1
          signals:
            - next_data
        extraction:
          type: page_global_data
          page_url: /
          expression: |
            (() => {
              const el = document.getElementById('__NEXT_DATA__');
              if (!el) return { items: [] };
              const data = JSON.parse(el.textContent);
              const modules = data.props?.pageProps?.initialState?.modulesById || {};
              const seen = new Set();
              const items = [];
              for (const mod of Object.values(modules)) {
                const stories = mod?.stories || mod?.items || mod?.data;
                if (!Array.isArray(stories)) continue;
                for (const s of stories) {
                  if (!s.headline || seen.has(s.id)) continue;
                  seen.add(s.id);
                  items.push({
                    id: s.id,
                    headline: s.headline,
                    abstract: s.abstract || null,
                    url: s.url || null,
                    publishedAt: s.publishedAt || null,
                    updatedAt: s.updatedAt || null,
                    byline: s.byline || null,
                    brand: s.brand || s.brandLabel || null,
                    type: s.type || null,
                    imageUrl: s.thumbnailImage?.url || s.image?.url || null,
                    topics: s.topics || [],
                  });
                }
              }
              return { count: items.length, items: items.slice(0, 50) };
            })()
      parameters: []
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [count, items]
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      required: [id, headline]
                      properties:
                        id:
                          type: string
                        headline:
                          type: string
                        abstract:
                          type: [string, 'null']
                        url:
                          type: [string, 'null']
                        publishedAt:
                          type: [string, 'null']
                        updatedAt:
                          type: [string, 'null']
                        byline:
                          type: [string, 'null']
                        brand:
                          type: [string, 'null']
                        type:
                          type: [string, 'null']
                        imageUrl:
                          type: [string, 'null']
                        topics:
                          type: array
                          items:
                            type: object
  /quote/{ticker}/board-members:
    get:
      operationId: getBoardMembers
      summary: Get board members and executives — name, title, type (executive/board)
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: bb0007
          signature_id: bb0007s
          tool_version: 1
          signals:
            - next_data
        extraction:
          type: page_global_data
          page_url: /quote/{ticker}
          expression: |
            (() => {
              const el = document.getElementById('__NEXT_DATA__');
              if (!el) return [];
              const bm = JSON.parse(el.textContent).props?.pageProps?.boardMembersAndExecutives;
              if (!bm) return [];
              const items = [];
              for (const m of (bm.boardMembers || [])) {
                items.push({ name: m.name, title: m.currentPosition || null, type: 'board' });
              }
              for (const e of (bm.executives || [])) {
                items.push({ name: e.name, title: e.currentPosition || null, type: 'executive' });
              }
              return items;
            })()
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Bloomberg ticker (e.g. "AAPL:US", "MSFT:US").
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    title:
                      type: [string, 'null']
                    type:
                      type: string
  /quote/{ticker}/index-members:
    get:
      operationId: getIndexMembers
      summary: Get component securities of an index — ticker, name, price, daily change
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: bb0008
          signature_id: bb0008s
          tool_version: 1
          signals:
            - next_data
        extraction:
          type: page_global_data
          page_url: /quote/{ticker}
          expression: |
            (() => {
              const el = document.getElementById('__NEXT_DATA__');
              if (!el) return [];
              const pp = JSON.parse(el.textContent).props?.pageProps;
              const im = pp?.indexMembers;
              if (Array.isArray(im)) return im;
              return [];
            })()
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Bloomberg index ticker (e.g. "SPX:IND", "INDU:IND").
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    percentChange1Day:
                      type: number
                    price:
                      type: number
  /latest-news:
    get:
      operationId: getLatestNews
      summary: Get latest breaking news from Bloomberg — headline, abstract, author, published time
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: bb0009
          signature_id: bb0009s
          tool_version: 1
          signals:
            - next_data
        extraction:
          type: page_global_data
          page_url: /
          expression: |
            (() => {
              const el = document.getElementById('__NEXT_DATA__');
              if (!el) return { items: [] };
              const data = JSON.parse(el.textContent);
              const modules = data.props?.pageProps?.initialState?.modulesById || {};
              const latest = modules.latest || modules.news_now || modules.shadow_latest;
              if (!latest) return { items: [] };
              const stories = latest.stories || latest.items || latest.data || [];
              return {
                count: stories.length,
                items: stories.slice(0, 30).map(s => ({
                  id: s.id,
                  headline: s.headline,
                  abstract: s.abstract || null,
                  url: s.url || null,
                  publishedAt: s.publishedAt || null,
                  byline: s.byline || null,
                  brand: s.brand || null,
                })),
              };
            })()
      parameters: []
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required: [count, items]
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      required: [id, headline]
                      properties:
                        id:
                          type: string
                        headline:
                          type: string
                        abstract:
                          type: [string, 'null']
                        url:
                          type: [string, 'null']
                        publishedAt:
                          type: [string, 'null']
                        byline:
                          type: [string, 'null']
                        brand:
                          type: [string, 'null']
  /search:
    get:
      operationId: searchBloomberg
      summary: Search Bloomberg for news, quotes, and people by keyword
      x-openweb:
        permission: read
        build:
          verified: true
          stable_id: bb0010
          signature_id: bb0010s
          tool_version: 1
          signals:
            - next_data
        extraction:
          type: page_global_data
          expression: |
            (() => {
              const el = document.getElementById('__NEXT_DATA__');
              if (!el) return { items: [] };
              const data = JSON.parse(el.textContent);
              const pp = data.props?.pageProps || {};
              const results = pp.results || pp.searchResults || pp.initialState?.searchResults || pp.initialState?.results;
              if (results) return results;
              const state = pp.initialState || {};
              const modules = state.modulesById || {};
              const items = [];
              for (const mod of Object.values(modules)) {
                const stories = mod?.stories || mod?.items;
                if (!Array.isArray(stories)) continue;
                for (const s of stories) {
                  if (!s.headline) continue;
                  items.push({
                    id: s.id,
                    headline: s.headline,
                    abstract: s.abstract || null,
                    url: s.url || null,
                    publishedAt: s.publishedAt || null,
                    type: s.type || null,
                  });
                }
              }
              return { count: items.length, items: items.slice(0, 30) };
            })()
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search query (ticker, company name, topic).
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        headline:
                          type: string
                        abstract:
                          type: [string, 'null']
                        url:
                          type: [string, 'null']
                        publishedAt:
                          type: [string, 'null']
                        type:
                          type: [string, 'null']
