openapi: 3.1.0
info:
  title: zhihu
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-29T06:44:16.243Z
    requires_auth: true
servers:
  - url: https://www.zhihu.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: _xsrf
        header: x-xsrftoken
paths:
  /api/v3/entity_word:
    get:
      operationId: getEntityWord
      summary: Get entity word annotations for an answer — knowledge card data, linked topics
      x-openweb:
        permission: read
        build:
          stable_id: fe21ae4e0b04002d
          tool_version: 2
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: integer
          example: 1
          description: Answer ID
        - name: type
          in: query
          required: false
          schema:
            type: string
            default: answer
          example: answer
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_words:
                    anyOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            mention:
                              type: string
                            matchorder:
                              type: integer
                            begin:
                              type: integer
                            end:
                              type: integer
                            entityid:
                              type: integer
                            is_book_mark:
                              type: boolean
                            link:
                              type: object
                              properties:
                                link_type:
                                  type: integer
                                link_url:
                                  type: string
                                  format: uri
                                doc_type:
                                  type: string
                                  enum:
                                    - ""
                                topic_token:
                                  type: string
                                  enum:
                                    - ""
                              required:
                                - link_type
                                - link_url
                                - doc_type
                                - topic_token
                            entity_class:
                              type: string
                              enum:
                                - Unknown
                            score:
                              type: number
                            attached_info_bytes:
                              type: string
                            IsOnAB:
                              type: boolean
                            IsNatural:
                              type: integer
                            IsDelete:
                              type: boolean
                            ContentType:
                              type: string
                              enum:
                                - ""
                            ContentId:
                              type: string
                              enum:
                                - ""
                            ContentToken:
                              type: string
                              enum:
                                - ""
                          required:
                            - name
                            - mention
                            - matchorder
                            - begin
                            - end
                            - entityid
                            - is_book_mark
                            - link
                            - entity_class
                            - score
                            - attached_info_bytes
                            - IsOnAB
                            - IsNatural
                            - IsDelete
                            - ContentType
                            - ContentId
                            - ContentToken
                      - type: "null"
                  ab_params:
                    type: object
                    properties:
                      qa_searchword:
                        type: string
                        enum:
                          - "0"
                    required:
                      - qa_searchword
                required:
                  - search_words
                  - ab_params
  /api/v3/feed/topstory/recommend:
    get:
      operationId: getFeedRecommend
      summary: Get recommended feed items — question titles, answer excerpts, vote counts, author info, pagination
      x-openweb:
        permission: read
        build:
          stable_id: 27f5d18c6ac460dd
          tool_version: 2
      parameters:
        - name: action
          in: query
          required: false
          schema:
            type: string
          example: down
        - name: ad_interval
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: after_id
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: desktop
          in: query
          required: false
          schema:
            type: string
            default: "true"
          example: "true"
          description: Desktop mode flag
        - name: end_offset
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: page_number
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: session_token
          in: query
          required: false
          schema:
            type: string
          example: <REDACTED_TOKEN>
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                            - feed
                        offset:
                          type: integer
                        verb:
                          type: string
                          enum:
                            - TOPIC_ACKNOWLEDGED_ANSWER
                            - TOPIC_ACKNOWLEDGED_ARTICLE
                        created_time:
                          type: integer
                        updated_time:
                          type: integer
                        target:
                          type: object
                          properties:
                            created_time:
                              type: integer
                            reshipment_settings:
                              type: string
                              enum:
                                - allowed
                                - disallowed
                            navigator_vote:
                              type: boolean
                            id:
                              type: string
                            is_copyable:
                              type: boolean
                            excerpt:
                              type: string
                            thumbnails:
                              type: array
                              items:
                                type: string
                                format: uri
                            vote_next_step:
                              type: string
                              enum:
                                - vote
                            preview_type:
                              type: string
                              enum:
                                - default
                            answer_type:
                              type: string
                              enum:
                                - normal
                            reaction:
                              type: object
                              properties:
                                relation:
                                  type: object
                                  properties:
                                    liked:
                                      type: boolean
                                    faved:
                                      type: boolean
                                  required:
                                    - liked
                                    - faved
                                statistics:
                                  type: object
                                  properties:
                                    like_count:
                                      type: integer
                                    favorites:
                                      type: integer
                                  required:
                                    - like_count
                                    - favorites
                              required:
                                - relation
                                - statistics
                            type:
                              type: string
                              enum:
                                - answer
                                - article
                            author:
                              type: object
                              properties:
                                followers_count:
                                  type: integer
                                id:
                                  type: string
                                user_type:
                                  type: string
                                  enum:
                                    - people
                                name:
                                  type: string
                                headline:
                                  type: string
                                gender:
                                  type: integer
                                is_following:
                                  type: boolean
                                is_followed:
                                  type: boolean
                                url:
                                  type: string
                                  format: uri
                                url_token:
                                  type: string
                                avatar_url:
                                  type: string
                                  format: uri
                                is_org:
                                  type: boolean
                                badge:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - best_answerer
                                          - super_activity
                                      description:
                                        type: string
                                        enum:
                                          - 大模型话题下的优秀答主
                                          - 知势榜科技互联网领域影响力榜答主
                                      topic_names:
                                        type: array
                                        items:
                                          type: string
                                          enum:
                                            - 大模型
                                      topic_ids:
                                        type: array
                                        items:
                                          type: integer
                                    required:
                                      - type
                                      - description
                              required:
                                - followers_count
                                - id
                                - user_type
                                - name
                                - headline
                                - gender
                                - is_following
                                - is_followed
                                - url
                                - url_token
                                - avatar_url
                                - is_org
                            updated_time:
                              type: integer
                            voteup_count:
                              type: integer
                            visited_count:
                              type: integer
                            allow_segment_interaction:
                              type: boolean
                            thanks_count:
                              type: integer
                            is_labeled:
                              type: boolean
                            favorite_count:
                              type: integer
                            excerpt_new:
                              type: string
                            relationship:
                              type: object
                              properties:
                                is_thanked:
                                  type: boolean
                                is_nothelp:
                                  type: boolean
                                voting:
                                  type: integer
                              required:
                                - is_thanked
                                - is_nothelp
                                - voting
                            is_navigator:
                              type: boolean
                            url:
                              type: string
                              format: uri
                            comment_count:
                              type: integer
                            question:
                              type: object
                              properties:
                                created:
                                  type: integer
                                is_following:
                                  type: boolean
                                relationship:
                                  type: object
                                  properties:
                                    is_author:
                                      type: boolean
                                  required:
                                    - is_author
                                excerpt:
                                  type: string
                                  enum:
                                    - ""
                                question_type:
                                  type: string
                                  enum:
                                    - normal
                                answer_count:
                                  type: integer
                                follower_count:
                                  type: integer
                                comment_count:
                                  type: integer
                                bound_topic_ids:
                                  type: array
                                  items:
                                    type: integer
                                id:
                                  type: string
                                url:
                                  type: string
                                  format: uri
                                author:
                                  type: object
                                  properties:
                                    url:
                                      type: string
                                      format: uri
                                    avatar_url:
                                      type: string
                                      format: uri
                                    followers_count:
                                      type: integer
                                    is_followed:
                                      type: boolean
                                    headline:
                                      type: string
                                      enum:
                                        - ""
                                        - 做到自己认为的满意极致，就很好。
                                        - 兴趣使然
                                        - 撸起袖子加油干
                                        - 数码科技/智能家电/好物推荐官
                                        - 程序员/足球/电影/读书/一切好玩儿的东西
                                        - 追寻赛博AGI
                                    is_org:
                                      type: boolean
                                    gender:
                                      type: integer
                                    is_following:
                                      type: boolean
                                    id:
                                      type: string
                                    user_type:
                                      type: string
                                      enum:
                                        - people
                                    url_token:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                    - url
                                    - avatar_url
                                    - followers_count
                                    - is_followed
                                    - headline
                                    - is_org
                                    - gender
                                    - is_following
                                    - id
                                    - user_type
                                    - url_token
                                    - name
                                title:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                    - question
                                detail:
                                  type: string
                                  enum:
                                    - ""
                              required:
                                - created
                                - is_following
                                - relationship
                                - excerpt
                                - question_type
                                - answer_count
                                - follower_count
                                - comment_count
                                - id
                                - url
                                - author
                                - title
                                - type
                                - detail
                            thumbnail:
                              type: string
                              format: uri
                            preview_text:
                              type: string
                              enum:
                                - ""
                            content:
                              type: string
                            reaction_instruction:
                              type: object
                              properties:
                                REACTION_COMMENT_NEWEST_LIST:
                                  type: string
                                  enum:
                                    - HIDE
                              required:
                                - REACTION_COMMENT_NEWEST_LIST
                            segment_infos:
                              type: array
                              items:
                                type: object
                                properties:
                                  pid:
                                    type: string
                                  text:
                                    type: string
                                  marks:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        start_index:
                                          type: integer
                                        end_index:
                                          type: integer
                                        seg_info:
                                          type: object
                                          properties:
                                            seg_ids:
                                              type: array
                                              items:
                                                type: string
                                            is_like:
                                              type: boolean
                                            like_count:
                                              type: integer
                                            comment_count:
                                              type: integer
                                            my_comment_count:
                                              type: integer
                                            is_span:
                                              type: boolean
                                          required:
                                            - seg_ids
                                            - is_like
                                            - like_count
                                            - comment_count
                                            - my_comment_count
                                            - is_span
                                      required:
                                        - start_index
                                        - end_index
                                        - seg_info
                                required:
                                  - pid
                                  - text
                                  - marks
                            title:
                              type: string
                              enum:
                                - 深度解析：OpenClaw智能体架构演进、生态对比与二次开发全景指南
                            linkbox:
                              type: object
                              properties:
                                category:
                                  type: string
                                  enum:
                                    - ""
                                pic:
                                  type: string
                                  enum:
                                    - ""
                                title:
                                  type: string
                                  enum:
                                    - ""
                                url:
                                  type: string
                                  enum:
                                    - ""
                              required:
                                - category
                                - pic
                                - title
                                - url
                            updated:
                              type: integer
                            article_type:
                              type: string
                              enum:
                                - normal
                            comment_permission:
                              type: string
                              enum:
                                - all
                            created:
                              type: integer
                            voting:
                              type: integer
                          required:
                            - navigator_vote
                            - id
                            - excerpt
                            - vote_next_step
                            - preview_type
                            - reaction
                            - type
                            - author
                            - voteup_count
                            - visited_count
                            - allow_segment_interaction
                            - is_labeled
                            - favorite_count
                            - excerpt_new
                            - is_navigator
                            - url
                            - comment_count
                            - preview_text
                            - content
                        brief:
                          type: string
                        attached_info:
                          type: string
                        action_card:
                          type: boolean
                      required:
                        - id
                        - type
                        - offset
                        - verb
                        - created_time
                        - updated_time
                        - target
                        - brief
                        - attached_info
                        - action_card
                  paging:
                    type: object
                    properties:
                      is_end:
                        type: boolean
                      is_start:
                        type: boolean
                      next:
                        type: string
                        format: uri
                      previous:
                        type: string
                        format: uri
                      totals:
                        type: integer
                    required:
                      - is_end
                      - is_start
                      - next
                      - previous
                      - totals
                  fresh_text:
                    type: string
                    enum:
                      - 推荐已更新
                required:
                  - data
                  - paging
                  - fresh_text
  /api/v3/moments/{url_token}/activities:
    get:
      operationId: listMemberActivities
      summary: List user recent activity feed — answers, articles, upvotes, timestamps
      x-openweb:
        permission: read
        build:
          stable_id: 36eae2abb0983ca3
          tool_version: 2
      parameters:
        - name: url_token
          in: path
          required: true
          schema:
            type: string
          description: User URL token (username slug)
          example: zhang-jia-wei
        - name: desktop
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          example: 1
          description: Max items (default 5)
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: page_num
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: ws_qiangzhisafe
          in: query
          required: false
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                            - feed
                        target:
                          type: object
                          properties:
                            ab_config:
                              type: object
                              properties:
                                md_interact_unify:
                                  type: string
                                  enum:
                                    - "1"
                              required:
                                - md_interact_unify
                            admin_closed_comment:
                              type: boolean
                            author:
                              type: object
                              properties:
                                avatar_url:
                                  type: string
                                  format: uri
                                badge:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      description:
                                        type: string
                                        enum:
                                          - 优秀回答者
                                          - 优秀答主
                                          - 教师资格证持证人
                                      topics:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                              enum:
                                                - "19550429"
                                                - "19550434"
                                                - "19550994"
                                                - "19556423"
                                                - "19557725"
                                                - "19559052"
                                                - "19562832"
                                                - "19566456"
                                                - "19609249"
                                            name:
                                              type: string
                                              enum:
                                                - 文学
                                                - 游戏
                                                - 电影
                                                - 篮球
                                                - 绘画
                                                - 网球
                                                - 翻译
                                                - 艺术
                                                - 足球
                                            type:
                                              type: string
                                              enum:
                                                - topic
                                          required:
                                            - id
                                            - name
                                            - type
                                      type:
                                        type: string
                                        enum:
                                          - best_answerer
                                          - identity
                                      topic_names:
                                        type: array
                                        items:
                                          type: string
                                          enum:
                                            - 文学
                                            - 游戏
                                            - 电影
                                            - 篮球
                                            - 绘画
                                            - 网球
                                            - 翻译
                                            - 艺术
                                            - 足球
                                    required:
                                      - description
                                      - topics
                                      - type
                                badge_v2:
                                  type: object
                                  properties:
                                    detail_badges:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          badge_status:
                                            type: string
                                            enum:
                                              - passed
                                          description:
                                            type: string
                                            enum:
                                              - 教师资格证持证人
                                              - 新知答主
                                              - 知势榜体育竞技领域影响力榜答主
                                              - 网球等 9 个话题下的优秀答主
                                              - 足球话题下的优秀答主
                                          detail_type:
                                            type: string
                                            enum:
                                              - best_answerer
                                              - honored_vip
                                              - identity_people
                                              - super_activity
                                              - zhihu_10years_answerer
                                              - zhihu_yearly_answerer
                                          icon:
                                            type: string
                                            format: uri
                                          night_icon:
                                            type: string
                                            format: uri
                                          sources:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                avatar_path:
                                                  type: string
                                                avatar_url:
                                                  type: string
                                                description:
                                                  type: string
                                                  enum:
                                                    - ""
                                                id:
                                                  type: string
                                                name:
                                                  type: string
                                                priority:
                                                  type: integer
                                                token:
                                                  type: string
                                                  enum:
                                                    - ""
                                                    - "19550429"
                                                    - "19550434"
                                                    - "19550994"
                                                    - "19556423"
                                                    - "19557725"
                                                    - "19559052"
                                                    - "19562832"
                                                    - "19566456"
                                                    - "19609249"
                                                type:
                                                  type: string
                                                  enum:
                                                    - content_potential_category
                                                    - topic
                                                    - year
                                                url:
                                                  type: string
                                                  enum:
                                                    - ""
                                                    - https://www.zhihu.com/topic/19550429
                                                    - https://www.zhihu.com/topic/19550434
                                                    - https://www.zhihu.com/topic/19550994
                                                    - https://www.zhihu.com/topic/19556423
                                                    - https://www.zhihu.com/topic/19557725
                                                    - https://www.zhihu.com/topic/19559052
                                                    - https://www.zhihu.com/topic/19562832
                                                    - https://www.zhihu.com/topic/19566456
                                                    - https://www.zhihu.com/topic/19609249
                                              required:
                                                - avatar_path
                                                - avatar_url
                                                - description
                                                - id
                                                - name
                                                - priority
                                                - token
                                                - type
                                                - url
                                          title:
                                            type: string
                                            enum:
                                              - 优秀答主
                                              - 已认证的个人
                                              - 年度新知答主
                                              - 新知答主
                                              - 社区成就
                                          type:
                                            type: string
                                            enum:
                                              - best
                                              - identity
                                              - reward
                                          url:
                                            type: string
                                            enum:
                                              - ""
                                              - https://www.zhihu.com/question/48509984
                                              - https://www.zhihu.com/question/510340037
                                              - https://zhuanlan.zhihu.com/p/344234033
                                              - https://zhuanlan.zhihu.com/p/96956163
                                        required:
                                          - description
                                          - detail_type
                                          - icon
                                          - night_icon
                                          - sources
                                          - title
                                          - type
                                          - url
                                    icon:
                                      type: string
                                      enum:
                                        - ""
                                        - https://pic1.zhimg.com/v2-4a07bc69c4bb04444721f35b32125c75_l.png?source=32738c0c
                                        - https://pica.zhimg.com/v2-4a07bc69c4bb04444721f35b32125c75_l.png?source=32738c0c
                                        - https://picx.zhimg.com/v2-27bfcba90e66db79ce8768ab807e017e_l.png?source=32738c0c
                                    merged_badges:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          badge_status:
                                            type: string
                                            enum:
                                              - passed
                                          description:
                                            type: string
                                            enum:
                                              - 教师资格证持证人
                                              - 新知答主
                                          detail_type:
                                            type: string
                                            enum:
                                              - best
                                              - identity_people
                                          icon:
                                            type: string
                                            enum:
                                              - ""
                                          night_icon:
                                            type: string
                                            enum:
                                              - ""
                                          sources:
                                            type: array
                                            items:
                                              type: object
                                          title:
                                            type: string
                                            enum:
                                              - 年度新知答主
                                              - 认证
                                          type:
                                            type: string
                                            enum:
                                              - best
                                              - identity
                                          url:
                                            type: string
                                            format: uri
                                        required:
                                          - description
                                          - detail_type
                                          - icon
                                          - night_icon
                                          - sources
                                          - title
                                          - type
                                          - url
                                    night_icon:
                                      type: string
                                      enum:
                                        - ""
                                        - https://pic1.zhimg.com/v2-4a07bc69c4bb04444721f35b32125c75_l.png?source=32738c0c
                                        - https://picx.zhimg.com/v2-27bfcba90e66db79ce8768ab807e017e_l.png?source=32738c0c
                                    title:
                                      type: string
                                      enum:
                                        - ""
                                        - 新知答主
                                  required:
                                    - detail_badges
                                    - icon
                                    - merged_badges
                                    - night_icon
                                    - title
                                exposed_medal:
                                  type: object
                                  properties:
                                    avatar_url:
                                      type: string
                                      format: uri
                                    description:
                                      type: string
                                      enum:
                                        - 2023 年度新知答主获得者
                                    medal_avatar_frame:
                                      type: string
                                      enum:
                                        - ""
                                    medal_id:
                                      type: string
                                      enum:
                                        - "1750529444194553856"
                                    medal_name:
                                      type: string
                                      enum:
                                        - 2023 年度新知答主
                                    mini_avatar_url:
                                      type: string
                                      format: uri
                                  required:
                                    - avatar_url
                                    - description
                                    - medal_avatar_frame
                                    - medal_id
                                    - medal_name
                                    - mini_avatar_url
                                follower_count:
                                  type: integer
                                gender:
                                  type: integer
                                headline:
                                  type: string
                                  enum:
                                    - ""
                                    - 公号：张佳玮写字的地方
                                    - 微信公号“goal1031”，企鹅号“十一人”，多谢关注
                                    - 杂学
                                id:
                                  type: string
                                  enum:
                                    - 2ad2b4baae74c793fb3dc825f2a8ff46
                                    - 824ec69bb0602ed1fb6239714e2df2d6
                                    - f9de84865e3e8455a09af78bfe4d1da5
                                is_advertiser:
                                  type: boolean
                                is_blocked:
                                  type: boolean
                                is_blocking:
                                  type: boolean
                                is_followed:
                                  type: boolean
                                is_following:
                                  type: boolean
                                is_org:
                                  type: boolean
                                is_special_follow:
                                  type: boolean
                                kvip_info:
                                  type: object
                                  properties:
                                    is_vip:
                                      type: boolean
                                    target_url:
                                      type: string
                                      enum:
                                        - ""
                                  required:
                                    - is_vip
                                    - target_url
                                name:
                                  type: string
                                  enum:
                                    - 冲一杯白咖啡
                                    - 张佳玮
                                    - 李暘
                                reaction_count:
                                  type: integer
                                type:
                                  type: string
                                  enum:
                                    - people
                                url:
                                  type: string
                                  enum:
                                    - /people/f9de84865e3e8455a09af78bfe4d1da5
                                    - https://www.zhihu.com/people/fly-heart-42
                                    - https://www.zhihu.com/people/li-yang-89
                                    - https://www.zhihu.com/people/zhang-jia-wei
                                url_token:
                                  type: string
                                  enum:
                                    - fly-heart-42
                                    - li-yang-89
                                    - zhang-jia-wei
                                user_type:
                                  type: string
                                  enum:
                                    - people
                                vip_info:
                                  type: object
                                  properties:
                                    is_vip:
                                      type: boolean
                                    target_url:
                                      type: string
                                      enum:
                                        - ""
                                    widget:
                                      type: object
                                      properties:
                                        url:
                                          type: string
                                          format: uri
                                        night_mode_url:
                                          type: string
                                          format: uri
                                        id:
                                          type: integer
                                      required:
                                        - url
                                        - night_mode_url
                                        - id
                                  required:
                                    - is_vip
                              required:
                                - avatar_url
                                - badge
                                - badge_v2
                                - gender
                                - headline
                                - id
                                - is_followed
                                - is_following
                                - is_org
                                - kvip_info
                                - name
                                - type
                                - url
                                - url_token
                                - user_type
                                - vip_info
                            can_top:
                              type: boolean
                            comment_count:
                              type: integer
                            comment_permission:
                              type: string
                              enum:
                                - all
                                - followee
                            comments:
                              type: array
                              items:
                                type: object
                            content:
                              anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      content:
                                        type: string
                                        enum:
                                          - '《水浒》，林冲初见高衙内那场，高衙内走后，鲁智深提铁禅杖引二三十个破落户大踏步抢入庙来。林冲叫道：“师兄那里去？”——五字问句，描出鲁智深气势汹汹莽莽撞撞扑来想帮忙，甚至都没看见林冲。<br>《永别了武器》最后一段，主角绝望地走进亡妻病房。护士重复两遍说他不能进，主角只说“你出去，还有另一个。”一句话，主角的情绪，房间里有俩人，都出来了。<br>觉得这两处有异曲同工之妙。<br><a class="hash_tag" href="https://www.zhihu.com/topic/19563361" data-pin-topic="zhihu://topic/19563361/pin20">#水浒传（书籍）</a>  <a class="hash_tag" href="https://www.zhihu.com/topic/20131437" data-pin-topic="zhihu://topic/20131437/pin20">#永别了，武器（书籍）</a> '
                                          - 最常见的平淡悲剧是：一个了解游戏规则知道如何在游戏中趋吉避凶的人最后倒在游戏中 <br>任何方面都最好“别太努力，差不多得了”，比如各种不健康的生活习惯，也包括各种过于健康到强迫自我的生活习惯
                                          - '鲁智深两番酒醉，于是离了五台山；林冲风雪复仇，抢酒喝醉了被抓到柴进东庄；杨志在梁中书处的仕途终于黄泥岗两桶酒；武松血溅鸳鸯楼，喝高了被孔家兄弟捉住；宋江在江州醉酒浔阳楼，于是上了山：施耐庵给每个好汉的故事结尾，都安排了一次醉酒误事，《水浒》可当戒酒书看，譬如《金瓶梅》可当戒色书看。<br><a class="hash_tag" href="https://www.zhihu.com/topic/20722776" data-pin-topic="zhihu://topic/20722776/pin20">#水浒全传（书籍）</a> '
                                      fold_type:
                                        type: string
                                        enum:
                                          - raw
                                      own_text:
                                        type: string
                                        enum:
                                          - 《水浒》，林冲初见高衙内那场，高衙内走后，鲁智深提铁禅杖引二三十个破落户大踏步抢入庙来。林冲叫道：“师兄那里去？”——五字问句，描出鲁智深气势汹汹莽莽撞撞扑来想帮忙，甚至都没看见林冲。<br>《永别了武器》最后一段，主角绝望地走进亡妻病房。护士重复两遍说他不能进，主角只说“你出去，还有另一个。”一句话，主角的情绪，房间里有俩人，都出来了。<br>觉得这两处有异曲同工之妙。<br><a class="hash_tag" href="https://www.zhihu.com/topic/19563361" data-pin-topic="zhihu://topic/19563361/pin20">#水浒传（书籍）</a>  <a class="hash_tag" href="https://www.zhihu.com/topic/20131437" data-pin-topic="zhihu://topic/20131437/pin20">#永别了，武器（书籍）</a>
                                          - 最常见的平淡悲剧是：一个了解游戏规则知道如何在游戏中趋吉避凶的人最后倒在游戏中 <br>任何方面都最好“别太努力，差不多得了”，比如各种不健康的生活习惯，也包括各种过于健康到强迫自我的生活习惯
                                          - 鲁智深两番酒醉，于是离了五台山；林冲风雪复仇，抢酒喝醉了被抓到柴进东庄；杨志在梁中书处的仕途终于黄泥岗两桶酒；武松血溅鸳鸯楼，喝高了被孔家兄弟捉住；宋江在江州醉酒浔阳楼，于是上了山：施耐庵给每个好汉的故事结尾，都安排了一次醉酒误事，《水浒》可当戒酒书看，譬如《金瓶梅》可当戒色书看。<br><a class="hash_tag" href="https://www.zhihu.com/topic/20722776" data-pin-topic="zhihu://topic/20722776/pin20">#水浒全传（书籍）</a>
                                      text_link_type:
                                        type: string
                                        enum:
                                          - internal
                                      title:
                                        type: string
                                        enum:
                                          - ""
                                      type:
                                        type: string
                                        enum:
                                          - text
                                    required:
                                      - content
                                      - fold_type
                                      - own_text
                                      - text_link_type
                                      - title
                                      - type
                                - type: string
                            content_html:
                              type: string
                              enum:
                                - <div>《水浒》，林冲初见高衙内那场，高衙内走后，鲁智深提铁禅杖引二三十个破落户大踏步抢入庙来。林冲叫道：“师兄那里去？”——五字问句，描出鲁智深气势汹汹莽莽撞撞扑来想帮忙，甚至都没看见林冲。<br/>《永别了武器》最后一段，主角绝望地走进亡妻病房。护士重复两遍说他不能进，主角只说“你出去，还有另一个。”一句话，主角的情绪，房间里有俩人，都出来了。<br/>觉得这两处有异曲同工之妙。<br/><a class="hash_tag" href="https://www.zhihu.com/topic/19563361" data-pin-topic="zhihu://topic/19563361/pin20">#水浒传（书籍）</a>  <a class="hash_tag" href="https://www.zhihu.com/topic/20131437" data-pin-topic="zhihu://topic/20131437/pin20">#永别了，武器（书籍）</a> </div>
                                - <div>最常见的平淡悲剧是：一个了解游戏规则知道如何在游戏中趋吉避凶的人最后倒在游戏中 <br/>任何方面都最好“别太努力，差不多得了”，比如各种不健康的生活习惯，也包括各种过于健康到强迫自我的生活习惯</div>
                                - <div>鲁智深两番酒醉，于是离了五台山；林冲风雪复仇，抢酒喝醉了被抓到柴进东庄；杨志在梁中书处的仕途终于黄泥岗两桶酒；武松血溅鸳鸯楼，喝高了被孔家兄弟捉住；宋江在江州醉酒浔阳楼，于是上了山：施耐庵给每个好汉的故事结尾，都安排了一次醉酒误事，《水浒》可当戒酒书看，譬如《金瓶梅》可当戒色书看。<br/><a class="hash_tag" href="https://www.zhihu.com/topic/20722776" data-pin-topic="zhihu://topic/20722776/pin20">#水浒全传（书籍）</a> </div>
                            created:
                              type: integer
                            creation_disclaimer:
                              type: string
                              enum:
                                - ""
                            excerpt_title:
                              type: string
                              enum:
                                - ""
                                - '《水浒》，林冲初见高衙内那场，高衙内走后，鲁智深提铁禅杖引二三十个破落户大踏步抢入庙来。林冲叫道：“师兄那里去？”——五字问句，描出鲁智深气势汹汹莽莽撞撞扑来想帮忙，甚至都没看见林冲。<br>《永别了武器》最后一段，主角绝望地走进亡妻病房。护士重复两遍说他不能进，主角只说“你出去，还有另一个。”一句话，主角的情绪，房间里有俩人，都出来了。<br>觉得这两处有异曲同工之妙。<br><a class="hash_tag" href="https://www.zhihu.com/topic/19563361" data-pin-topic="zhihu://topic/19563361/pin20">#水浒传（书籍）</a>  <a class="hash_tag" href="https://www.zhihu.com/topic/20131437" data-pin-topic="zhihu://topic/20131437/pin20">#永别了，武器（书籍）</a> '
                                - 最常见的平淡悲剧是：一个了解游戏规则知道如何在游戏中趋吉避凶的人最后倒在游戏中 <br>任何方面都最好“别太努力，差不多得了”，比如各种不健康的生活习惯，也包括各种过于健康到强迫自我的生活习惯
                                - '鲁智深两番酒醉，于是离了五台山；林冲风雪复仇，抢酒喝醉了被抓到柴进东庄；杨志在梁中书处的仕途终于黄泥岗两桶酒；武松血溅鸳鸯楼，喝高了被孔家兄弟捉住；宋江在江州醉酒浔阳楼，于是上了山：施耐庵给每个好汉的故事结尾，都安排了一次醉酒误事，《水浒》可当戒酒书看，譬如《金瓶梅》可当戒色书看。<br><a class="hash_tag" href="https://www.zhihu.com/topic/20722776" data-pin-topic="zhihu://topic/20722776/pin20">#水浒全传（书籍）</a> '
                            favlists_count:
                              type: integer
                            favorite_count:
                              type: integer
                            id:
                              type: string
                            is_admin_close_repin:
                              type: boolean
                            is_contain_ai_content:
                              type: boolean
                            is_deleted:
                              type: boolean
                            is_top:
                              type: boolean
                            like_count:
                              type: integer
                            likers:
                              type: array
                              items:
                                type: object
                                properties:
                                  avatar_url:
                                    type: string
                                    format: uri
                                  badge_v2:
                                    type: object
                                    properties:
                                      detail_badges:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            badge_status:
                                              type: string
                                              enum:
                                                - passed
                                            description:
                                              type: string
                                              enum:
                                                - 经济专业技术资格证持证人
                                            detail_type:
                                              type: string
                                              enum:
                                                - identity_people
                                            icon:
                                              type: string
                                              format: uri
                                            night_icon:
                                              type: string
                                              format: uri
                                            sources:
                                              type: array
                                              items:
                                                type: object
                                            title:
                                              type: string
                                              enum:
                                                - 已认证的个人
                                            type:
                                              type: string
                                              enum:
                                                - identity
                                            url:
                                              type: string
                                              format: uri
                                          required:
                                            - badge_status
                                            - description
                                            - detail_type
                                            - icon
                                            - night_icon
                                            - sources
                                            - title
                                            - type
                                            - url
                                      icon:
                                        type: string
                                        enum:
                                          - ""
                                          - https://picx.zhimg.com/v2-2ddc5cc683982648f6f123616fb4ec09_l.png?source=32738c0c
                                      merged_badges:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            badge_status:
                                              type: string
                                              enum:
                                                - passed
                                            description:
                                              type: string
                                              enum:
                                                - 经济专业技术资格证持证人
                                            detail_type:
                                              type: string
                                              enum:
                                                - identity_people
                                            icon:
                                              type: string
                                              enum:
                                                - ""
                                            night_icon:
                                              type: string
                                              enum:
                                                - ""
                                            sources:
                                              type: array
                                              items:
                                                type: object
                                            title:
                                              type: string
                                              enum:
                                                - 认证
                                            type:
                                              type: string
                                              enum:
                                                - identity
                                            url:
                                              type: string
                                              format: uri
                                          required:
                                            - badge_status
                                            - description
                                            - detail_type
                                            - icon
                                            - night_icon
                                            - sources
                                            - title
                                            - type
                                            - url
                                      night_icon:
                                        type: string
                                        enum:
                                          - ""
                                          - https://pic1.zhimg.com/v2-2ddc5cc683982648f6f123616fb4ec09_l.png?source=32738c0c
                                      title:
                                        type: string
                                        enum:
                                          - ""
                                          - 经济专业技术资格证持证人
                                    required:
                                      - detail_badges
                                      - icon
                                      - merged_badges
                                      - night_icon
                                      - title
                                  exposed_medal:
                                    type: object
                                    properties:
                                      avatar_url:
                                        type: string
                                        format: uri
                                      description:
                                        type: string
                                      medal_avatar_frame:
                                        type: string
                                        enum:
                                          - ""
                                      medal_id:
                                        type: string
                                      medal_name:
                                        type: string
                                      mini_avatar_url:
                                        type: string
                                        format: uri
                                    required:
                                      - avatar_url
                                      - description
                                      - medal_avatar_frame
                                      - medal_id
                                      - medal_name
                                      - mini_avatar_url
                                  follower_count:
                                    type: integer
                                  gender:
                                    type: integer
                                  headline:
                                    type: string
                                  id:
                                    type: string
                                  is_advertiser:
                                    type: boolean
                                  is_blocked:
                                    type: boolean
                                  is_blocking:
                                    type: boolean
                                  is_followed:
                                    type: boolean
                                  is_following:
                                    type: boolean
                                  is_org:
                                    type: boolean
                                  is_special_follow:
                                    type: boolean
                                  kvip_info:
                                    type: object
                                    properties:
                                      is_vip:
                                        type: boolean
                                      target_url:
                                        type: string
                                        enum:
                                          - ""
                                          - https://www.zhihu.com/kvip/purchase
                                      vip_icon:
                                        type: object
                                        properties:
                                          night_mode_url:
                                            type: string
                                            format: uri
                                          url:
                                            type: string
                                            format: uri
                                        required:
                                          - night_mode_url
                                          - url
                                    required:
                                      - is_vip
                                      - target_url
                                  name:
                                    type: string
                                  reaction_count:
                                    type: integer
                                  type:
                                    type: string
                                    enum:
                                      - people
                                  url:
                                    type: string
                                  url_token:
                                    type: string
                                  user_type:
                                    type: string
                                    enum:
                                      - people
                                  vip_info:
                                    type: object
                                    properties:
                                      is_vip:
                                        type: boolean
                                      widget:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          night_mode_url:
                                            type: string
                                            format: uri
                                          url:
                                            type: string
                                            format: uri
                                        required:
                                          - id
                                          - night_mode_url
                                          - url
                                    required:
                                      - is_vip
                                  badge:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        description:
                                          type: string
                                          enum:
                                            - 经济专业技术资格证持证人
                                        type:
                                          type: string
                                          enum:
                                            - identity
                                      required:
                                        - description
                                        - type
                                required:
                                  - avatar_url
                                  - badge_v2
                                  - exposed_medal
                                  - follower_count
                                  - gender
                                  - headline
                                  - id
                                  - is_advertiser
                                  - is_blocked
                                  - is_blocking
                                  - is_followed
                                  - is_following
                                  - is_org
                                  - is_special_follow
                                  - kvip_info
                                  - name
                                  - reaction_count
                                  - type
                                  - url
                                  - url_token
                                  - user_type
                                  - vip_info
                            long_threshold:
                              type: array
                              items:
                                type: object
                                properties:
                                  height:
                                    type: integer
                                  width:
                                    type: integer
                                required:
                                  - height
                                  - width
                            meet_reaction_guide_conditions:
                              type: boolean
                            page_view_count:
                              type: "null"
                            pin_type:
                              type: string
                              enum:
                                - normal
                            questions:
                              type: "null"
                            reaction:
                              type: object
                              properties:
                                image_reactions:
                                  type: object
                                  properties: {}
                                  required: []
                                relation:
                                  type: object
                                  properties:
                                    current_user_is_navigator:
                                      type: boolean
                                    faved:
                                      type: boolean
                                    following:
                                      type: boolean
                                    is_author:
                                      type: boolean
                                    is_navigator_vote:
                                      type: boolean
                                    liked:
                                      type: boolean
                                    subcribed:
                                      type: boolean
                                    vote:
                                      type: string
                                      enum:
                                        - Neutral
                                    vote_next_step:
                                      type: string
                                      enum:
                                        - ""
                                  required:
                                    - current_user_is_navigator
                                    - faved
                                    - following
                                    - is_author
                                    - is_navigator_vote
                                    - liked
                                    - subcribed
                                    - vote
                                    - vote_next_step
                                special_reaction_style:
                                  type: object
                                  properties:
                                    is_hit:
                                      type: boolean
                                  required:
                                    - is_hit
                                statistics:
                                  type: object
                                  properties:
                                    applaud_count:
                                      type: integer
                                    bullet_count:
                                      type: integer
                                    comment_count:
                                      type: integer
                                    down_vote_count:
                                      type: integer
                                    favorites:
                                      type: integer
                                    interest_play_count:
                                      type: integer
                                    like_count:
                                      type: integer
                                    plaincontent_like_count:
                                      type: integer
                                    plaincontent_vote_up_count:
                                      type: integer
                                    play_count:
                                      type: integer
                                    pv_count:
                                      type: integer
                                    question_answer_count:
                                      type: integer
                                    question_follower_count:
                                      type: integer
                                    republishers:
                                      type: array
                                      items:
                                        type: object
                                    share_count:
                                      type: integer
                                    subscribe_count:
                                      type: integer
                                    up_vote_count:
                                      type: integer
                                  required:
                                    - applaud_count
                                    - bullet_count
                                    - comment_count
                                    - down_vote_count
                                    - favorites
                                    - interest_play_count
                                    - like_count
                                    - plaincontent_like_count
                                    - plaincontent_vote_up_count
                                    - play_count
                                    - pv_count
                                    - question_answer_count
                                    - question_follower_count
                                    - republishers
                                    - share_count
                                    - subscribe_count
                                    - up_vote_count
                              required:
                                - image_reactions
                                - relation
                                - special_reaction_style
                                - statistics
                            reaction_count:
                              type: integer
                            reaction_instruction:
                              type: object
                              properties: {}
                              required: []
                            reaction_relation:
                              type: object
                              properties:
                                like:
                                  type: integer
                                vote:
                                  type: integer
                              required:
                                - like
                                - vote
                            regulate_info:
                              type: object
                              properties:
                                is_regulating:
                                  type: boolean
                              required:
                                - is_regulating
                            repin_count:
                              type: integer
                            ring_info:
                              type: "null"
                            self_create:
                              type: boolean
                            source_pin_id:
                              type: integer
                            state:
                              type: string
                              enum:
                                - normal
                            tag_specials:
                              type: object
                              properties: {}
                              required: []
                            tags:
                              type: array
                              items:
                                type: string
                                enum:
                                  - '#水浒传（书籍）</a>  <a class="hash_tag" href="https://www.zhihu.com/topic/20131437" data-pin-topic="zhihu://topic/20131437/pin20">#'
                            top_reactions:
                              type: object
                              properties:
                                like:
                                  type: integer
                              required:
                                - like
                            topics:
                              anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        enum:
                                          - "19563361"
                                          - "20131437"
                                          - "20722776"
                                      name:
                                        type: string
                                        enum:
                                          - 水浒传（书籍）
                                          - 水浒全传（书籍）
                                          - 永别了，武器（书籍）
                                      topic_type:
                                        type: string
                                        enum:
                                          - NORMAL
                                      type:
                                        type: string
                                        enum:
                                          - topic
                                      url:
                                        type: string
                                        enum:
                                          - zhihu://topic/19563361/pin20
                                          - zhihu://topic/20131437/pin20
                                          - zhihu://topic/20722776/pin20
                                    required:
                                      - id
                                      - name
                                      - topic_type
                                      - type
                                      - url
                                - type: "null"
                            type:
                              type: string
                              enum:
                                - answer
                                - article
                                - pin
                            updated:
                              type: integer
                            url:
                              type: string
                              format: uri
                            view_permission:
                              type: string
                              enum:
                                - all
                            virtuals:
                              type: object
                              properties:
                                is_favorited:
                                  type: boolean
                                is_liked:
                                  type: boolean
                              required:
                                - is_favorited
                                - is_liked
                            title:
                              type: string
                              enum:
                                - 文班亚马：巨星得用巨星的标准
                            excerpt:
                              type: string
                            excerpt_new:
                              type: string
                            preview_type:
                              type: string
                              enum:
                                - default
                            preview_text:
                              type: string
                              enum:
                                - ""
                            voteup_count:
                              type: integer
                            image_url:
                              type: string
                              enum:
                                - ""
                            linkbox:
                              type: object
                              properties:
                                url:
                                  type: string
                                  enum:
                                    - ""
                                category:
                                  type: string
                                  enum:
                                    - ""
                                pic:
                                  type: string
                                  enum:
                                    - ""
                                title:
                                  type: string
                                  enum:
                                    - ""
                              required:
                                - url
                                - category
                                - pic
                                - title
                            upvoted_followees:
                              type: array
                              items:
                                type: object
                            voting:
                              type: integer
                            content_need_truncated:
                              type: boolean
                            force_login_when_click_read_more:
                              type: boolean
                            is_navigator:
                              type: boolean
                            navigator_vote:
                              type: boolean
                            vote_next_step:
                              type: string
                              enum:
                                - vote
                            allow_segment_interaction:
                              type: integer
                            thanks_count:
                              type: integer
                            question:
                              type: object
                              properties:
                                id:
                                  type: string
                                  enum:
                                    - "1943713593049747841"
                                    - "2019673870370645058"
                                    - "2019709232384078461"
                                    - "2019711694197245507"
                                    - "2020412426009486602"
                                    - "2020436495413065341"
                                    - "2020815064161154229"
                                    - "342568254"
                                    - "659961261"
                                    - "9010291610"
                                title:
                                  type: string
                                  enum:
                                    - 2526赛季NBA常规赛勇士 137:131 独行侠，如何评价这场比赛？
                                    - 2526赛季NBA常规赛湖人 110:113 活塞，如何评价这场比赛？
                                    - 2526赛季NBA常规赛马刺 123:98 灰熊，如何评价这场比赛？
                                    - 2526赛季NBA常规赛马刺 136:111 热火，如何评价这场比赛？
                                    - “凡所有相皆是虚妄，若见诸相非相，即见如来”是什么意思？
                                    - 为何刘备气质完全不像一个马上天子，而更像一个无胆无能暴躁能跑的政客，却会有人格魅力？
                                    - 克尼普尔成为NBA历史上单赛季投进250记三分最年轻的球员，他未来有可能超过库里吗？
                                    - 火箭 108:110 森林狼，火箭加时 13-0 开局，森林狼 15-0 还击逆转，如何评价这场比赛？
                                    - 现代足球的高位逼抢是否就是甲A时代徐根宝在上海申花时期的抢逼围战术？
                                    - 詹姆斯合作的二当家中，谁比较强？
                                url:
                                  type: string
                                  format: uri
                                type:
                                  type: string
                                  enum:
                                    - question
                                question_type:
                                  type: string
                                  enum:
                                    - normal
                                created:
                                  type: integer
                                answer_count:
                                  type: integer
                                comment_count:
                                  type: integer
                                follower_count:
                                  type: integer
                                detail:
                                  type: string
                                  enum:
                                    - ""
                                    - <p>如题。是否可以说明徐根宝当年的战术理念十分超前</p>
                                    - <p>讲真从后人的角度看那段历史属实感觉刘备的人设完全不讨喜……搞不懂为何当时人会跟一个看起来没啥人格魅力的人</p>
                                excerpt:
                                  type: string
                                  enum:
                                    - ""
                                    - 如题。是否可以说明徐根宝当年的战术理念十分超前
                                    - 讲真从后人的角度看那段历史属实感觉刘备的人设完全不讨喜……搞不懂为何当时人会跟…
                                bound_topic_ids:
                                  type: array
                                  items:
                                    type: integer
                                relationship:
                                  type: object
                                  properties:
                                    is_author:
                                      type: boolean
                                  required:
                                    - is_author
                                is_following:
                                  type: boolean
                                author:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      enum:
                                        - 0ac340ccc5bd94125f7e493348797df7
                                        - 18bf2a03b119f9d24566b6d89244c1cb
                                        - 4c23e3d4af635f9b4c2cfbed95439a8a
                                        - afa4017e83c81bb37802aecc30eedd1d
                                        - b3dcccf06ebd02589b0a5180aa6e526a
                                        - bdaa82482f4545f8ba8a9d38ecb7a312
                                        - d73c7a1879fa0b5d454d9c43f63aa77c
                                        - db22bc31434b4eb0eda649cc5810be14
                                        - f619bb569ecc787a272fc127631c90a7
                                        - f7be0e0e3f982025ea78a168e78c111f
                                    name:
                                      type: string
                                      enum:
                                        - -幽鬼兔-
                                        - 佐佐木光次郎
                                        - 你干嘛
                                        - 塚田茉央
                                        - 小师傅_Official
                                        - 尘沫
                                        - 没名堂
                                        - 炀仔
                                        - 胥嘉福
                                        - 请叫我伟哥
                                    headline:
                                      type: string
                                      enum:
                                        - ""
                                        - 龙头棍
                                    type:
                                      type: string
                                      enum:
                                        - people
                                    user_type:
                                      type: string
                                      enum:
                                        - people
                                    url:
                                      type: string
                                      format: uri
                                    url_token:
                                      type: string
                                      enum:
                                        - ---80-42-44
                                        - -official-69
                                        - 40-93-43-33
                                        - 56-4-81-95
                                        - 73-40-20-88
                                        - 88-18-91-71
                                        - kiana-29-82
                                        - mei-ming-tang-12
                                        - xu-jia-fu-33
                                        - zuo-zuo-mu-xiao-ci-lang-35
                                    avatar_url:
                                      type: string
                                      format: uri
                                    gender:
                                      type: integer
                                    is_following:
                                      type: boolean
                                    is_followed:
                                      type: boolean
                                    is_org:
                                      type: boolean
                                    badge:
                                      type: array
                                      items:
                                        type: object
                                    badge_v2:
                                      type: object
                                      properties:
                                        title:
                                          type: string
                                          enum:
                                            - ""
                                        merged_badges:
                                          type: array
                                          items:
                                            type: object
                                        detail_badges:
                                          type: array
                                          items:
                                            type: object
                                        icon:
                                          type: string
                                          enum:
                                            - ""
                                        night_icon:
                                          type: string
                                          enum:
                                            - ""
                                      required:
                                        - title
                                        - merged_badges
                                        - detail_badges
                                        - icon
                                        - night_icon
                                    vip_info:
                                      type: object
                                      properties:
                                        is_vip:
                                          type: boolean
                                        target_url:
                                          type: string
                                          enum:
                                            - ""
                                        widget:
                                          type: object
                                          properties:
                                            url:
                                              type: string
                                              format: uri
                                            night_mode_url:
                                              type: string
                                              format: uri
                                            id:
                                              type: integer
                                          required:
                                            - url
                                            - night_mode_url
                                            - id
                                      required:
[...]
