openapi: 3.1.0
info:
  title: zhihu
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T06:55:56.794Z
    requires_auth: true
servers:
  - url: https://www.zhihu.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: _xsrf
        header: x-xsrftoken
paths:
  /api/v4/search_v3:
    get:
      operationId: searchContent
      summary: Search questions, answers, and articles by keyword
      x-openweb:
        permission: read
        build:
          stable_id: dc8206ea2cc858d4
          tool_version: 2
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: 人工智能
        - name: t
          in: query
          required: true
          schema:
            type: string
          example: general
          description: "Search type: general, topic, people, etc."
        - name: correction
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          example: 20
        - name: lc_idx
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: show_all_topics
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: search_source
          in: query
          required: false
          schema:
            type: string
          example: Normal
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    type: object
                    properties:
                      is_end:
                        type: boolean
                      next:
                        type: string
                        description: URL
                    required:
                      - is_end
                      - next
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        highlight:
                          anyOf:
                            - type: object
                              properties:
                                title:
                                  type: string
                                description:
                                  type: string
                            - type: "null"
                        object:
                          type: object
                          properties:
                            type:
                              type: string
                            id:
                              type: string
                            content:
                              type: string
                            excerpt:
                              type: string
                            question:
                              type: object
                              properties:
                                id:
                                  type: integer
                                title:
                                  type: string
                            author:
                              type: object
                              properties:
                                name:
                                  type: string
                                url_token:
                                  type: string
                                headline:
                                  type: string
                            voteup_count:
                              type: integer
                            comment_count:
                              type: integer
                            created_time:
                              type: integer
                required:
                  - paging
                  - data
  /api/v4/search/hot_search:
    get:
      operationId: getHotSearches
      summary: Get trending search terms on Zhihu
      x-openweb:
        permission: read
        build:
          stable_id: a593004cb7d51eca
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  hot_search_queries:
                    type: array
                    items:
                      type: object
                      properties:
                        query_id:
                          type: string
                        query:
                          type: string
                        real_query:
                          type: string
                        hot:
                          type: integer
                        hot_show:
                          type: string
                        label:
                          type: string
                        index:
                          type: integer
                      required:
                        - query_id
                        - query
                        - real_query
                        - hot
                        - hot_show
                        - index
                required:
                  - hot_search_queries
  /api/v3/feed/topstory/recommend:
    get:
      operationId: getRecommendFeed
      summary: Get homepage recommended feed with trending content
      x-openweb:
        permission: read
        build:
          stable_id: 3aae8850ef4e5c2c
          tool_version: 2
      parameters:
        - name: desktop
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          example: 10
        - name: page_number
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: action
          in: query
          required: false
          schema:
            type: string
          example: down
        - name: after_id
          in: query
          required: false
          schema:
            type: integer
          example: 0
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        offset:
                          type: integer
                        verb:
                          type: string
                        created_time:
                          type: integer
                        updated_time:
                          type: integer
                        target:
                          type: object
                          properties:
                            author:
                              type: object
                              properties:
                                url_token:
                                  type: string
                                name:
                                  type: string
                                headline:
                                  type: string
                                is_org:
                                  type: boolean
                            id:
                              type: string
                            type:
                              type: string
                            title:
                              type: string
                            excerpt:
                              type: string
                            url:
                              type: string
                            voteup_count:
                              type: integer
                            comment_count:
                              type: integer
                            content:
                              type: string
                            question:
                              type: object
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                title:
                                  type: string
                  paging:
                    type: object
                    properties:
                      is_end:
                        type: boolean
                      next:
                        type: string
                        description: URL
                required:
                  - data
  /api/v4/questions/{id}/feeds:
    get:
      operationId: getQuestionAnswers
      summary: Get paginated answers for a question
      x-openweb:
        permission: read
        build:
          stable_id: fb5ac1ee5110a042
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 19551424
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          example: 5
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: order
          in: query
          required: false
          schema:
            type: string
          example: default
          description: "Sort order: default or updated"
        - name: include
          in: query
          required: false
          schema:
            type: string
          example: "data[*].is_normal,content,comment_count,voteup_count,created_time,updated_time,question,excerpt,author.follower_count"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        target_type:
                          type: string
                        target:
                          type: object
                          properties:
                            id:
                              type: string
                            type:
                              type: string
                            author:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                url_token:
                                  type: string
                                headline:
                                  type: string
                                follower_count:
                                  type: integer
                                avatar_url:
                                  type: string
                            content:
                              type: string
                            excerpt:
                              type: string
                            voteup_count:
                              type: integer
                            comment_count:
                              type: integer
                            created_time:
                              type: integer
                            updated_time:
                              type: integer
                  paging:
                    type: object
                    properties:
                      is_end:
                        type: boolean
                      next:
                        type: string
                        description: URL
                      totals:
                        type: integer
                required:
                  - data
  /api/v4/questions/{id}/similar-questions:
    get:
      operationId: getSimilarQuestions
      summary: Get similar questions for a given question
      x-openweb:
        permission: read
        build:
          stable_id: 8f4c3be3a77f6a03
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 19551424
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          example: 5
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        type:
                          type: string
                        url:
                          type: string
                        answer_count:
                          type: integer
                required:
                  - data
  /api/v4/members/{username}:
    get:
      operationId: getUserProfile
      summary: Get user profile by username
      x-openweb:
        permission: read
        build:
          stable_id: 598c58362ab8f391
          tool_version: 2
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          example: excited-vczh
        - name: include
          in: query
          required: false
          schema:
            type: string
          example: "allow_message,is_followed,is_following,is_org,employments,answer_count,follower_count,articles_count,gender,badge[?(type=best_answerer)].topics"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  url_token:
                    type: string
                  name:
                    type: string
                  headline:
                    type: string
                  gender:
                    type: integer
                  avatar_url:
                    type: string
                  is_org:
                    type: boolean
                  type:
                    type: string
                  user_type:
                    type: string
                  ip_info:
                    type: string
                  follower_count:
                    type: integer
                  answer_count:
                    type: integer
                  articles_count:
                    type: integer
                  employments:
                    type: array
                    items:
                      type: object
                  vip_info:
                    type: object
                    properties:
                      is_vip:
                        type: boolean
                      vip_type:
                        type: integer
                required:
                  - id
                  - url_token
                  - name
  /api/v4/me:
    get:
      operationId: getMe
      summary: Get current authenticated user profile
      x-openweb:
        permission: read
        build:
          stable_id: d84a83d03c8df7c2
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  url_token:
                    type: string
                  name:
                    type: string
                  headline:
                    type: string
                  avatar_url:
                    type: string
                  gender:
                    type: integer
                  follower_count:
                    type: integer
                  following_count:
                    type: integer
                  answer_count:
                    type: integer
                  articles_count:
                    type: integer
                  voteup_count:
                    type: integer
                required:
                  - id
                  - url_token
                  - name
