openapi: 3.1.0
info:
  title: zhihu
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-28T18:04:28.343Z
    requires_auth: true
servers:
  - url: https://www.zhihu.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: _xsrf
        header: x-xsrftoken
paths:
  /content/publish/control/v2:
    get:
      operationId: getContentPublishControl
      summary: Get content publish control
      x-openweb:
        permission: read
        build:
          stable_id: 2183d3e2419d764c
          tool_version: 2
      parameters:
        - name: scene
          in: query
          required: true
          schema:
            type: string
          example: pin
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - ""
                  data:
                    type: object
                    properties:
                      write:
                        type: object
                        properties:
                          instruction:
                            type: boolean
                          msg:
                            type: string
                            enum:
                              - ""
                        required:
                          - instruction
                          - msg
                      contribute:
                        type: object
                        properties:
                          instruction:
                            type: boolean
                          msg:
                            type: string
                            enum:
                              - ""
                        required:
                          - instruction
                          - msg
                      anonymous:
                        type: object
                        properties:
                          instruction:
                            type: boolean
                          msg:
                            type: string
                            enum:
                              - ""
                        required:
                          - instruction
                          - msg
                    required:
                      - write
                      - contribute
                      - anonymous
                required:
                  - code
                  - message
                  - data
      servers:
        - url: https://api.zhihu.com
  /v5.1/topics/question/{id}/relation/v2:
    get:
      operationId: getTopicsQuestionRelation
      summary: Get topics question relation
      x-openweb:
        permission: read
        build:
          stable_id: 55f5578e633aab5e
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: "null"
      servers:
        - url: https://api.zhihu.com
  /collector/apm:
    post:
      operationId: createCollectorApm
      summary: Create collector apm
      x-openweb:
        permission: write
        build:
          stable_id: be8360ef1190f93a
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            "":
              schema:
                type: object
      servers:
        - url: https://apm.zhihu.com
  /collector/zlab:
    post:
      operationId: createCollectorZlab
      summary: Create collector zlab
      x-openweb:
        permission: write
        build:
          stable_id: a110725b043a5562
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            "":
              schema:
                type: object
      servers:
        - url: https://datahub.zhihu.com
  /{param}:
    get:
      operationId: get
      summary: Get
      x-openweb:
        permission: read
        build:
          stable_id: 5f27cd77c4a16fd7
          tool_version: 2
      parameters:
        - name: param
          in: path
          required: true
          schema:
            type: string
          example: search
        - name: q
          in: query
          required: false
          schema:
            type: string
          example: 人工智能
        - name: type
          in: query
          required: false
          schema:
            type: string
          example: content
      responses:
        "200":
          description: Success.
          content:
            text/html; charset=utf-8:
              schema:
                type: object
        "403":
          description: Forbidden.
          content:
            text/html:
              schema:
                type: object
    post:
      operationId: create
      summary: Create
      x-openweb:
        permission: write
        build:
          stable_id: 3a6a1d4047b04554
          tool_version: 2
      parameters:
        - name: param
          in: path
          required: true
          schema:
            type: string
          example: sc-profiler
      responses:
        "204":
          description: Success.
          content:
            "":
              schema:
                type: object
  /ai/task/show:
    get:
      operationId: getAiTaskShow
      summary: Get ai task show
      x-openweb:
        permission: read
        build:
          stable_id: 27c6168de4ac7e81
          tool_version: 2
      parameters:
        - name: content_type
          in: query
          required: true
          schema:
            type: string
          example: answer
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                    enum:
                      - OK
                  data:
                    type: object
                    properties:
                      ai_image_show:
                        type: boolean
                      is_show:
                        type: boolean
                    required:
                      - ai_image_show
                      - is_show
                required:
                  - code
                  - message
                  - data
  /api/v3/entity_word:
    get:
      operationId: getEntityWord
      summary: Get entity word
      x-openweb:
        permission: read
        build:
          stable_id: fe21ae4e0b04002d
          tool_version: 2
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: type
          in: query
          required: true
          schema:
            type: string
          example: answer
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_words:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          enum:
                            - 101计划
                            - AI编程
                            - Claude opus4.5
                            - 中国科学技术大学
                            - 交大
                            - 北理
                            - 北航
                            - 南京大学
                            - 湖南大学
                            - 西安交大
                        mention:
                          type: string
                          enum:
                            - 101计划
                            - AI编程
                            - Claude opus4.5
                            - 中国科学技术大学
                            - 交大
                            - 北理
                            - 北航
                            - 南京大学
                            - 湖南大学
                            - 西安交大
                        matchorder:
                          type: integer
                        begin:
                          type: integer
                        end:
                          type: integer
                        entityid:
                          type: integer
                        is_book_mark:
                          type: boolean
                        link:
                          type: object
                          properties:
                            link_type:
                              type: integer
                            link_url:
                              type: string
                              format: uri
                            doc_type:
                              type: string
                              enum:
                                - ""
                            topic_token:
                              type: string
                              enum:
                                - ""
                          required:
                            - link_type
                            - link_url
                            - doc_type
                            - topic_token
                        entity_class:
                          type: string
                          enum:
                            - Unknown
                        score:
                          type: number
                        attached_info_bytes:
                          type: string
                          enum:
                            - sgJZCgbkuqTlpKcSB1Vua25vd24Y+AQg+gQoATU+nhk6OgZhbnN3ZXJA7fWL/IrJp/exAUgKUiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGHyAsYBCiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGEaBmFuc3dlciIJNzMwOTMxNDgzOgbkuqTlpKdA7fWL/IrJp/exAUgDUhZhaV9lbnRpdHlfbGxtX3JlY2FsbGVyXT6eGTpiWQoG5Lqk5aSnEgdVbmtub3duGPgEIPoEKAE1Pp4ZOjoGYW5zd2VyQO31i/yKyaf3sQFIClIkZDI3YTAxNjYtODIyOS00ODE4LTg4MjQtY2RmZjYxY2IzNTBh
                            - sgJZCgbljJfnkIYSB1Vua25vd24YmwUgnQUoATXhwho6OgZhbnN3ZXJA5LOmnbG7nb7NAUgKUiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGHyAsYBCiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGEaBmFuc3dlciIJNzMwOTMxNDgzOgbljJfnkIZA5LOmnbG7nb7NAUgCUhZhaV9lbnRpdHlfbGxtX3JlY2FsbGVyXeHCGjpiWQoG5YyX55CGEgdVbmtub3duGJsFIJ0FKAE14cIaOjoGYW5zd2VyQOSzpp2xu52+zQFIClIkZDI3YTAxNjYtODIyOS00ODE4LTg4MjQtY2RmZjYxY2IzNTBh
                            - sgJZCgbljJfoiKoSB1Vua25vd24YmAUgmgUoATWl+pc6OgZhbnN3ZXJAiNHa2YC/mtK4AUgKUiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGHyAsYBCiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGEaBmFuc3dlciIJNzMwOTMxNDgzOgbljJfoiKpAiNHa2YC/mtK4AUgGUhZhaV9lbnRpdHlfbGxtX3JlY2FsbGVyXaX6lzpiWQoG5YyX6IiqEgdVbmtub3duGJgFIJoFKAE1pfqXOjoGYW5zd2VyQIjR2tmAv5rSuAFIClIkZDI3YTAxNjYtODIyOS00ODE4LTg4MjQtY2RmZjYxY2IzNTBh
                            - sgJaCghBSee8lueoixIHVW5rbm93bhjiASDmASgBNQDnjTk6BmFuc3dlckDly8T//ubK5R1IClIkNTBhNTQxYmUtOTQwZS00MWEzLWFiMmYtNzU1ZmZkMDc0OGE58gLIAQokNTBhNTQxYmUtOTQwZS00MWEzLWFiMmYtNzU1ZmZkMDc0OGE5GgZhbnN3ZXIiCTc2ODE2OTgyNjoIQUnnvJbnqItA5cvE//7myuUdSABSFmFpX2VudGl0eV9sbG1fcmVjYWxsZXJdAOeNOWJaCghBSee8lueoixIHVW5rbm93bhjiASDmASgBNQDnjTk6BmFuc3dlckDly8T//ubK5R1IClIkNTBhNTQxYmUtOTQwZS00MWEzLWFiMmYtNzU1ZmZkMDc0OGE5
                            - sgJbCgkxMDHorqHliJISB1Vua25vd24Y8wMg+AMoATXtehc8OgZhbnN3ZXJA19GC/Imcm5w1SApSJGQyN2EwMTY2LTgyMjktNDgxOC04ODI0LWNkZmY2MWNiMzUwYfICygEKJGQyN2EwMTY2LTgyMjktNDgxOC04ODI0LWNkZmY2MWNiMzUwYRoGYW5zd2VyIgk3MzA5MzE0ODM6CTEwMeiuoeWIkkDX0YL8iZybnDVIBFIWYWlfZW50aXR5X2xsbV9yZWNhbGxlcl3tehc8YlsKCTEwMeiuoeWIkhIHVW5rbm93bhjzAyD4AygBNe16Fzw6BmFuc3dlckDX0YL8iZybnDVIClIkZDI3YTAxNjYtODIyOS00ODE4LTg4MjQtY2RmZjYxY2IzNTBh
                            - sgJeCgzmuZbljZflpKflraYSB1Vua25vd24YtwUguwUoATVCoi46OgZhbnN3ZXJA0NCMvejjpbZmSApSJGQyN2EwMTY2LTgyMjktNDgxOC04ODI0LWNkZmY2MWNiMzUwYfIC0AEKJGQyN2EwMTY2LTgyMjktNDgxOC04ODI0LWNkZmY2MWNiMzUwYRoGYW5zd2VyIgk3MzA5MzE0ODM6DOa5luWNl+Wkp+WtpkDQ0Iy96OOltmZICFIWYWlfZW50aXR5X2xsbV9yZWNhbGxlcl1Coi46Yl4KDOa5luWNl+Wkp+WtphIHVW5rbm93bhi3BSC7BSgBNUKiLjo6BmFuc3dlckDQ0Iy96OOltmZIClIkZDI3YTAxNjYtODIyOS00ODE4LTg4MjQtY2RmZjYxY2IzNTBh
                            - sgJfCg5DbGF1ZGUgb3B1czQuNRIHVW5rbm93bhggIC4oATVXFQk7OgZhbnN3ZXJA8/6Nvf+RlYrMAUgKUiQ1MGE1NDFiZS05NDBlLTQxYTMtYWIyZi03NTVmZmQwNzQ4YTnyAtQBCiQ1MGE1NDFiZS05NDBlLTQxYTMtYWIyZi03NTVmZmQwNzQ4YTkaBmFuc3dlciIJNzY4MTY5ODI2Og5DbGF1ZGUgb3B1czQuNUDz/o29/5GViswBSAFSFmFpX2VudGl0eV9sbG1fcmVjYWxsZXJdVxUJO2JfCg5DbGF1ZGUgb3B1czQuNRIHVW5rbm93bhggIC4oATVXFQk7OgZhbnN3ZXJA8/6Nvf+RlYrMAUgKUiQ1MGE1NDFiZS05NDBlLTQxYTMtYWIyZi03NTVmZmQwNzQ4YTk=
                            - sgJfCgzljZfkuqzlpKflraYSB1Vua25vd24Y/gQgggUoATUqrEw6OgZhbnN3ZXJA8LTJ7dyM5brxAUgKUiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGHyAtIBCiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGEaBmFuc3dlciIJNzMwOTMxNDgzOgzljZfkuqzlpKflraZA8LTJ7dyM5brxAUgHUhZhaV9lbnRpdHlfbGxtX3JlY2FsbGVyXSqsTDpiXwoM5Y2X5Lqs5aSn5a2mEgdVbmtub3duGP4EIIIFKAE1KqxMOjoGYW5zd2VyQPC0ye3cjOW68QFIClIkZDI3YTAxNjYtODIyOS00ODE4LTg4MjQtY2RmZjYxY2IzNTBh
                            - sgJfCgzopb/lronkuqTlpKcSB1Vua25vd24YkwUglwUoATWdZYU6OgZhbnN3ZXJAz+nGnb2H2PDAAUgKUiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGHyAtIBCiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGEaBmFuc3dlciIJNzMwOTMxNDgzOgzopb/lronkuqTlpKdAz+nGnb2H2PDAAUgAUhZhaV9lbnRpdHlfbGxtX3JlY2FsbGVyXZ1lhTpiXwoM6KW/5a6J5Lqk5aSnEgdVbmtub3duGJMFIJcFKAE1nWWFOjoGYW5zd2VyQM/pxp29h9jwwAFIClIkZDI3YTAxNjYtODIyOS00ODE4LTg4MjQtY2RmZjYxY2IzNTBh
                            - sgJrChjkuK3lm73np5HlrabmioDmnK/lpKflraYSB1Vua25vd24YhgUgjgUoATUsCwQ7OgZhbnN3ZXJAhJ2qt+DW3faEAUgKUiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGHyAuoBCiRkMjdhMDE2Ni04MjI5LTQ4MTgtODgyNC1jZGZmNjFjYjM1MGEaBmFuc3dlciIJNzMwOTMxNDgzOhjkuK3lm73np5HlrabmioDmnK/lpKflraZAhJ2qt+DW3faEAUgJUhZhaV9lbnRpdHlfbGxtX3JlY2FsbGVyXSwLBDtiawoY5Lit5Zu956eR5a2m5oqA5pyv5aSn5a2mEgdVbmtub3duGIYFII4FKAE1LAsEOzoGYW5zd2VyQISdqrfg1t32hAFIClIkZDI3YTAxNjYtODIyOS00ODE4LTg4MjQtY2RmZjYxY2IzNTBh
                        IsOnAB:
                          type: boolean
                        IsNatural:
                          type: integer
                        IsDelete:
                          type: boolean
                        ContentType:
                          type: string
                          enum:
                            - ""
                        ContentId:
                          type: string
                          enum:
                            - ""
                        ContentToken:
                          type: string
                          enum:
                            - ""
                      required:
                        - name
                        - mention
                        - matchorder
                        - begin
                        - end
                        - entityid
                        - is_book_mark
                        - link
                        - entity_class
                        - score
                        - attached_info_bytes
                        - IsOnAB
                        - IsNatural
                        - IsDelete
                        - ContentType
                        - ContentId
                        - ContentToken
                  ab_params:
                    type: object
                    properties:
                      qa_searchword:
                        type: string
                        enum:
                          - "0"
                    required:
                      - qa_searchword
                required:
                  - search_words
                  - ab_params
  /api/v3/feed/topstory/recommend:
    get:
      operationId: getFeedTopstoryRecommend
      summary: Get feed topstory recommend
      x-openweb:
        permission: read
        build:
          stable_id: 27f5d18c6ac460dd
          tool_version: 2
      parameters:
        - name: action
          in: query
          required: false
          schema:
            type: string
          example: down
        - name: ad_interval
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: after_id
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: desktop
          in: query
          required: true
          schema:
            type: string
          example: "true"
        - name: end_offset
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: page_number
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: session_token
          in: query
          required: false
          schema:
            type: string
          example: <REDACTED_TOKEN>
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                            - feed
                        offset:
                          type: integer
                        verb:
                          type: string
                          enum:
                            - TOPIC_ACKNOWLEDGED_ANSWER
                            - TOPIC_ACKNOWLEDGED_ARTICLE
                        created_time:
                          type: integer
                        updated_time:
                          type: integer
                        target:
                          type: object
                          properties:
                            updated_time:
                              type: integer
                            thanks_count:
                              type: integer
                            preview_type:
                              type: string
                              enum:
                                - default
                            visited_count:
                              type: integer
                            favorite_count:
                              type: integer
                            is_navigator:
                              type: boolean
                            id:
                              type: string
                            is_labeled:
                              type: boolean
                            reshipment_settings:
                              type: string
                              enum:
                                - allowed
                                - disallowed
                            created_time:
                              type: integer
                            vote_next_step:
                              type: string
                              enum:
                                - vote
                            url:
                              type: string
                              format: uri
                            excerpt_new:
                              type: string
                            content:
                              type: string
                            relationship:
                              type: object
                              properties:
                                is_thanked:
                                  type: boolean
                                is_nothelp:
                                  type: boolean
                                voting:
                                  type: integer
                              required:
                                - is_thanked
                                - is_nothelp
                                - voting
                            allow_segment_interaction:
                              type: boolean
                            question:
                              type: object
                              properties:
                                excerpt:
                                  type: string
                                  enum:
                                    - ""
                                url:
                                  type: string
                                  format: uri
                                author:
                                  type: object
                                  properties:
                                    badge:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                            enum:
                                              - identity_people
                                          description:
                                            type: string
                                            enum:
                                              - CFA 特许金融分析师资格证持证人
                                              - 中国石油大学 环境工程硕士
                                              - 互联网行业 从业人员
                                        required:
                                          - type
                                          - description
                                    url:
                                      type: string
                                      format: uri
                                    url_token:
                                      type: string
                                      enum:
                                        - 45-36-91-50
                                        - chitazheng
                                        - dfaggfds
                                        - kevinzhu-29
                                        - qiong-you-quan-shi-jie-41
                                        - refector
                                        - xiao-fan-zhuo-6
                                    name:
                                      type: string
                                      enum:
                                        - Refector
                                        - 小侠无名
                                        - 小饭桌
                                        - 巫冬
                                        - 我的名字四个字
                                        - 海洋之声
                                        - 阿喵
                                    headline:
                                      type: string
                                      enum:
                                        - ""
                                        - 公众号：我的名字四个字：每日7点准时更新有趣的神回复
                                        - 关注科技互联网，喜欢攀岩和拼图。
                                        - 我觉得我不会爱上人类，或许是真的
                                        - 抗争多年仍旧一事无成
                                        - 独立开发，https://sallybot.cn
                                        - 陪伴创业者从平凡到卓越
                                    avatar_url:
                                      type: string
                                      format: uri
                                    is_org:
                                      type: boolean
                                    gender:
                                      type: integer
                                    followers_count:
                                      type: integer
                                    is_followed:
                                      type: boolean
                                    id:
                                      type: string
                                      enum:
                                        - 032797e9190b1c1a1194ff16cee19c87
                                        - 22f74697f8ebabc5362080f5554512d2
                                        - 44a6c36569ded921cfacce0f218a7626
                                        - 54f28c64b41e8df38bc18e48799ee4db
                                        - 90615aeb3333266d297c23a95f048dba
                                        - a9b069d77b3aa2d0171ea0739d055de3
                                        - c580c86fda4f29a466235813e673592d
                                    user_type:
                                      type: string
                                      enum:
                                        - organization
                                        - people
                                    is_following:
                                      type: boolean
                                  required:
                                    - url
                                    - url_token
                                    - name
                                    - headline
                                    - avatar_url
                                    - is_org
                                    - gender
                                    - followers_count
                                    - is_followed
                                    - id
                                    - user_type
                                    - is_following
                                answer_count:
                                  type: integer
                                comment_count:
                                  type: integer
                                is_following:
                                  type: boolean
                                created:
                                  type: integer
                                follower_count:
                                  type: integer
                                id:
                                  type: string
                                  enum:
                                    - "1889506482896229448"
                                    - "1934317826811880155"
                                    - "1937937364333879368"
                                    - "2020456784905663577"
                                    - "2021000785224287940"
                                    - "531144023"
                                    - "8006107762"
                                type:
                                  type: string
                                  enum:
                                    - question
                                detail:
                                  type: string
                                  enum:
                                    - ""
                                question_type:
                                  type: string
                                  enum:
                                    - normal
                                title:
                                  type: string
                                  enum:
                                    - Vibe Coding 需要开发者了解技术吗?
                                    - 个人认为在美国硅谷工作的一万多清华毕业生大部分生活达不到中产的标准，为什么？
                                    - 如何看近一两年中国 AI 创业的 「双极分化」？老炮派与 AI Native
                                      派，投资人更看好哪类？
                                    - 怎样看出一个男孩子以后会不会有出息？
                                    - 有没有大佬预言一下未来5-10年的风口?
                                    - 谷歌干崩内存股价的TurboQuant 论文被 RaBitQ
                                      作者指出存在严重错误，怎么理解？
                                    - 高跟鞋会被新世代彻底抛弃吗？
                                bound_topic_ids:
                                  type: array
                                  items:
                                    type: integer
                                relationship:
                                  type: object
                                  properties:
                                    is_author:
                                      type: boolean
                                  required:
                                    - is_author
                              required:
                                - excerpt
                                - url
                                - author
                                - answer_count
                                - comment_count
                                - is_following
                                - created
                                - follower_count
                                - id
                                - type
                                - detail
                                - question_type
                                - title
                                - bound_topic_ids
                                - relationship
                            comment_count:
                              type: integer
                            author:
                              type: object
                              properties:
                                name:
                                  type: string
                                is_org:
                                  type: boolean
                                followers_count:
                                  type: integer
                                is_followed:
                                  type: boolean
                                id:
                                  type: string
                                url:
                                  type: string
                                  format: uri
                                user_type:
                                  type: string
                                  enum:
                                    - people
                                url_token:
                                  type: string
                                headline:
                                  type: string
                                avatar_url:
                                  type: string
                                  format: uri
                                gender:
                                  type: integer
                                is_following:
                                  type: boolean
                                badge:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - best_answerer
                                          - identity_people
                                          - zhihu_yearly_answerer
                                      description:
                                        type: string
                                        enum:
                                          - Founders Space  CEO、主席
                                          - 新知答主
                                          - 深度学习（Deep Learning）话题下的优秀答主
                                          - 美国西北大学 理学硕士
                                      topic_names:
                                        type: array
                                        items:
                                          type: string
                                          enum:
                                            - 深度学习（Deep Learning）
                                      topic_ids:
                                        type: array
                                        items:
                                          type: integer
                                    required:
                                      - type
                                      - description
                              required:
                                - name
                                - is_org
                                - followers_count
                                - is_followed
                                - id
                                - url
                                - user_type
                                - url_token
                                - headline
                                - avatar_url
                                - gender
                                - is_following
                            is_copyable:
                              type: boolean
                            preview_text:
                              type: string
                              enum:
                                - ""
                            answer_type:
                              type: string
                              enum:
                                - normal
                            segment_infos:
                              type: array
                              items:
                                type: object
                                properties:
                                  pid:
                                    type: string
                                  text:
                                    type: string
                                  marks:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        start_index:
                                          type: integer
                                        end_index:
                                          type: integer
                                        seg_info:
                                          type: object
                                          properties:
                                            seg_ids:
                                              type: array
                                              items:
                                                type: string
                                            is_like:
                                              type: boolean
                                            like_count:
                                              type: integer
                                            comment_count:
                                              type: integer
                                            my_comment_count:
                                              type: integer
                                            is_span:
                                              type: boolean
                                          required:
                                            - seg_ids
                                            - is_like
                                            - like_count
                                            - comment_count
                                            - my_comment_count
                                            - is_span
                                      required:
                                        - start_index
                                        - end_index
                                        - seg_info
                                required:
                                  - pid
                                  - text
                                  - marks
                            type:
                              type: string
                              enum:
                                - answer
                                - article
                            excerpt:
                              type: string
                            navigator_vote:
                              type: boolean
                            reaction:
                              type: object
                              properties:
                                relation:
                                  type: object
                                  properties:
                                    liked:
                                      type: boolean
                                    faved:
                                      type: boolean
                                  required:
                                    - liked
                                    - faved
                                statistics:
                                  type: object
                                  properties:
                                    like_count:
                                      type: integer
                                    favorites:
                                      type: integer
                                  required:
                                    - like_count
                                    - favorites
                              required:
                                - relation
                                - statistics
                            voteup_count:
                              type: integer
                            created:
                              type: integer
                            linkbox:
                              type: object
                              properties:
                                url:
                                  type: string
                                  enum:
                                    - ""
                                category:
                                  type: string
                                  enum:
                                    - ""
                                pic:
                                  type: string
                                  enum:
                                    - ""
                                title:
                                  type: string
                                  enum:
                                    - ""
                              required:
                                - url
                                - category
                                - pic
                                - title
                            title:
                              type: string
                              enum:
                                - LLM为什么宁可瞎编也不说“我不知道”？一个信息论的回答
                                - MoE环游记：7、动态激活极简解
                                - 三年级的小朋友学编程，西瓜创客与核桃编程哪个好？
                                - 成年人近视400度算高度近视么？有什么保护眼睛的方法呢？
                                - 芯片设计需要学什么课程？
                            voting:
                              type: integer
                            comment_permission:
                              type: string
                              enum:
                                - all
                                - censor
                            article_type:
                              type: string
                              enum:
                                - normal
                            updated:
                              type: integer
                            thumbnails:
                              type: array
                              items:
                                type: string
                                format: uri
                            column:
                              type: object
                              properties:
                                id:
                                  type: string
                                  enum:
                                    - c_168460605
                                type:
                                  type: string
                                  enum:
                                    - column
                                author:
                                  type: object
                                  properties:
                                    user_type:
                                      type: string
                                      enum:
                                        - people
                                    url_token:
                                      type: string
                                      enum:
                                        - ""
                                    name:
                                      type: string
                                      enum:
                                        - 匿名用户
                                    avatar_url:
                                      type: string
                                      format: uri
                                    is_following:
                                      type: boolean
                                    is_followed:
                                      type: boolean
                                    id:
                                      type: string
                                      enum:
                                        - ""
                                    url:
                                      type: string
                                      enum:
                                        - ""
                                    headline:
                                      type: string
                                      enum:
                                        - ""
                                    is_org:
                                      type: boolean
                                    gender:
                                      type: integer
                                    followers_count:
                                      type: integer
                                  required:
                                    - user_type
                                    - url_token
                                    - name
                                    - avatar_url
                                    - is_following
                                    - is_followed
                                    - id
                                    - url
                                    - headline
                                    - is_org
                                    - gender
                                    - followers_count
                                is_following:
                                  type: boolean
                                updated:
                                  type: integer
                                url:
                                  type: string
                                  format: uri
                                title:
                                  type: string
                                  enum:
                                    - 科学空间
                                imageUrl:
                                  type: string
                                  format: uri
                                comment_permission:
                                  type: string
                                  enum:
                                    - public
                                intro:
                                  type: string
                                  enum:
                                    - ""
                              required:
                                - id
                                - type
                                - author
                                - is_following
                                - updated
                                - url
                                - title
                                - imageUrl
                                - comment_permission
                                - intro
                            image_url:
                              type: string
                              format: uri
                          required:
                            - preview_type
                            - visited_count
                            - favorite_count
                            - is_navigator
                            - id
                            - is_labeled
                            - vote_next_step
                            - url
                            - excerpt_new
                            - content
                            - allow_segment_interaction
                            - comment_count
                            - author
                            - preview_text
                            - type
                            - excerpt
                            - navigator_vote
                            - reaction
                            - voteup_count
                        brief:
                          type: string
                        attached_info:
                          type: string
                        action_card:
                          type: boolean
                        promotion_extra:
                          type: string
                          enum:
                            - '{"is_card":true,"id":"3233326","topstory_info":"bid=61.89004182815552&pctr=0.009499043226242065&price=0&pv_id=1ab3f5cd-3e33-4a21-85f0-41f8a5607b8f","parameters":"plugcb=https%3A%2F%2Fsugar.zhihu.com%2Fplutus_adreaper_callback%3Fcid%3D3233326%26ccid%3D3233326%26zoneid%3D10012%26adid%3D3301797%26sid%3D1ab3f5cd-3e33-4a21-85f0-41f8a5607b8f%26adsource%3Dzhi_plus%26ocpxs%3D1%26ocpxp%3D1200%26dynamictitle%3D223221628%26mixinfo%3D__MIX__INFO__%26campaignid%3D2330746%26cbed%3DBCZJMkh-a3J-FXQUQTJxAE0gWjpbMGdwaEwxWgB2NkAHMEo6TH5qZi1BJhMMYGpTHzwEOlcwLmYtTTBaAXYuXwQxUC4Fc3wkLVMgWgF-fABbdQl5CXBpdHcRYVAFYXUGXHEKfB4gPjQ9GGNBXjM8SAwqWCYFcm9mPlc7VQxgakYRLAR6HjAqfX4DJw5fbX0AW3UIeghzbmYtTG9VA2N-AlpzC3IeNjl9aEQgDAxhalMENgR4Cm1oc3sQZl8FaXoCX3MKeQBlNSM4V29XH2B9CF53AHwKcG10eB1lVghkdBYYNUwjXDBnZi9DMwQMdXtyTncLKFcsLmV8F3dUcGFpAihgC3hdICojaxdgQgIRfRVZBhx4CjQ_KSlNJgJVDypRCDFWOB1xaGV9ZGNCAxNpAlkmVjlMHDwhLVE9FRRifhVYBAhvCgB_cnxJJhUUYn4VWAQJbwoAf3J8SSYVbjwjVwIxHHgKZmkBfgBgJBRifl8INVoVWiV_cnwAYSYAdXt0TSRQdwtwanF5HGVBUjEiDQ0kVTldZTkvOhhnQVIkcQNZdgp5CnV8MDxMb1YCZHwEXHYfKVw3M318F2FVA2F6AlNjVilIOyl9fwM7DkVtfBYJNQR4Cm1oc3sQZl8FaXoCX3MKeQBlOyI-GGJBXSUlDVp1D3kMdWl4ewMhCAxialMKLAR4C3Bqd3oTdBVBIiUNXnUIegBlLCI6GGJBUiNxFgg3UHcLcWlzfRdkQVAqJQ1adQl7CmUpKSMYYkFCOXEBCicKLA0gPm19QGFUHGQtAlpoAX9ec3d0f0NqBgRmfAcJfV9sWTUzfX0VYl8FdilTGyZNdwhlMyc9GGJBUjw_DZpUH6HtCAAU%26cmixid%3D%26cmixvs%3D%26titlesource%3D0%26advertiser_id%3D30084%26content_id%3D223221628%26content_type%3Dpost%26creative%3D3233326%26caid%3D%26os%3D3%26imei%3D%26idfa%3D%26androidid%3D%26ip%3D2603%3A6080%3A6501%3A66b4%3Afd09%3A682c%3Aa0db%3A352d%26ua%3DMozilla%252F5.0%2B%2528Macintosh%253B%2BIntel%2BMac%2BOS%2BX%2B10_15_7%2529%2BAppleWebKit%252F537.36%2B%2528KHTML%252C%2Blike%2BGecko%2529%2BChrome%252F146.0.0.0%2BSafari%252F537.36%26oaid%3D%26isnative%3Dfalse","sign":"ffcce0f5-c643-4525-95ed-ed4cdc99bdae","mobile_experiment":null,"new_asset":"","click_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmv=&mcdti=223221628&mcdtt=0&dts=1774720693&ar=0.02768447995185852&cv=&mix=__MIX__INFO__&zri=-8847012465393253139&ri=feed-root:currency:d9415f36-d278-4613-8f40-067c83ff7ad2&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&zpluspt=0&tev=0&pt=3&isy=__IMAGE_STYLE__&zpt=&cl=990000&cla=2&zk=&cmi=&iti=__IS_THREE_IMAGE__&ed=BCZJMkh-a3J-FXQUQTJxAE0gWjpbMGdwaEwxWgB2NkAHMEo6TH5qZi1BJhMMYGpTHzwEOlcwLmYtTTBaAXYuXwQxUC4Fc3wkLVMgWgF-fABbdQl5CXBpdHcRYVAFYXUGXHEKfB4gPjQ9GGNBXjM8SAwqWCYFcm9mPlc7VQxgakYRLAR6HjAqfX4DJw5fbX0AW3UIeghzbmYtTG9VA2N-AlpzC3IeNjl9aEQgDAxhalMENgR4Cm1oc3sQZl8FaXoCX3MKeQBlNSM4V29XH2B9CF53AHwKcG10eB1lVghkdBYYNUwjXDBnZi9DMwQMdXtyTncLKFcsLmV8F3dUcGFpAihgC3hdICojaxdgQgIRfRVZBhx4CjQ_KSlNJgJVDypRCDFWOB1xaGV9ZGNCAxNpAlkmVjlMHDwhLVE9FRRifhVYBAhvCgB_cnxJJhUUYn4VWAQJbwoAf3J8SSYVbjwjVwIxHHgKZmkBfgBgJBRifl8INVoVWiV_cnwAYSYAdXt0TSRQdwtwanF5HGVBUjEiDQ0kVTldZTkvOhhnQVIkcQNZdgp5CnV8MDxMb1YCZHwEXHYfKVw3M318F2FVA2F6AlNjVilIOyl9fwM7DkVtfBYJNQR4Cm1oc3sQZl8FaXoCX3MKeQBlOyI-GGJBXSUlDVp1D3kMdWl4ewMhCAxialMKLAR4C3Bqd3oTdBVBIiUNXnUIegBlLCI6GGJBUiNxFgg3UHcLcWlzfRdkQVAqJQ1adQl7CmUpKSMYYkFCOXEBCicKLA0gPm19QGFUHGQtAlpoAX9ec3d0f0NqBgRmfAcJfV9sWTUzfX0VYl8FdilTGyZNdwhlMyc9GGJBUjw_DZpUH6HtCAAU&hp=0&at=CjEEKVQqOSuIYIdBvEo7Wg=="],"view_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmv=&mcdti=223221628&mcdtt=0&dts=1774720693&ar=0.02768447995185852&cv=&mix=__MIX__INFO__&zri=-8847012465393253139&ri=feed-root:currency:d9415f36-d278-4613-8f40-067c83ff7ad2&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&zpluspt=0&tev=0&pt=3&isy=__IMAGE_STYLE__&zpt=&cl=990000&cla=2&zk=&cmi=&iti=__IS_THREE_IMAGE__&ed=BCZJMkh-a3J-FXQUQTJxAE0gWjpbMGdwaEwxWgB2NkAHMEo6TH5qZi1BJhMMYGpTHzwEOlcwLmYtTTBaAXYuXwQxUC4Fc3wkLVMgWgF-fABbdQl5CXBpdHcRYVAFYXUGXHEKfB4gPjQ9GGNBXjM8SAwqWCYFcm9mPlc7VQxgakYRLAR6HjAqfX4DJw5fbX0AW3UIeghzbmYtTG9VA2N-AlpzC3IeNjl9aEQgDAxhalMENgR4Cm1oc3sQZl8FaXoCX3MKeQBlNSM4V29XH2B9CF53AHwKcG10eB1lVghkdBYYNUwjXDBnZi9DMwQMdXtyTncLKFcsLmV8F3dUcGFpAihgC3hdICojaxdgQgIRfRVZBhx4CjQ_KSlNJgJVDypRCDFWOB1xaGV9ZGNCAxNpAlkmVjlMHDwhLVE9FRRifhVYBAhvCgB_cnxJJhUUYn4VWAQJbwoAf3J8SSYVbjwjVwIxHHgKZmkBfgBgJBRifl8INVoVWiV_cnwAYSYAdXt0TSRQdwtwanF5HGVBUjEiDQ0kVTldZTkvOhhnQVIkcQNZdgp5CnV8MDxMb1YCZHwEXHYfKVw3M318F2FVA2F6AlNjVilIOyl9fwM7DkVtfBYJNQR4Cm1oc3sQZl8FaXoCX3MKeQBlOyI-GGJBXSUlDVp1D3kMdWl4ewMhCAxialMKLAR4C3Bqd3oTdBVBIiUNXnUIegBlLCI6GGJBUiNxFgg3UHcLcWlzfRdkQVAqJQ1adQl7CmUpKSMYYkFCOXEBCicKLA0gPm19QGFUHGQtAlpoAX9ec3d0f0NqBgRmfAcJfV9sWTUzfX0VYl8FdilTGyZNdwhlMyc9GGJBUjw_DZpUH6HtCAAU&hp=0&at=CjEEPFEmLWm8-o_znDYB"],"view_x_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmv=&mcdti=223221628&mcdtt=0&dts=1774720693&ar=0.02768447995185852&cv=&mix=__MIX__INFO__&zri=-8847012465393253139&ri=feed-root:currency:d9415f36-d278-4613-8f40-067c83ff7ad2&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&zpluspt=0&tev=0&pt=3&isy=__IMAGE_STYLE__&zpt=&cl=990000&cla=2&zk=&cmi=&iti=__IS_THREE_IMAGE__&ed=BCZJMkh-a3J-FXQUQTJxAE0gWjpbMGdwaEwxWgB2NkAHMEo6TH5qZi1BJhMMYGpTHzwEOlcwLmYtTTBaAXYuXwQxUC4Fc3wkLVMgWgF-fABbdQl5CXBpdHcRYVAFYXUGXHEKfB4gPjQ9GGNBXjM8SAwqWCYFcm9mPlc7VQxgakYRLAR6HjAqfX4DJw5fbX0AW3UIeghzbmYtTG9VA2N-AlpzC3IeNjl9aEQgDAxhalMENgR4Cm1oc3sQZl8FaXoCX3MKeQBlNSM4V29XH2B9CF53AHwKcG10eB1lVghkdBYYNUwjXDBnZi9DMwQMdXtyTncLKFcsLmV8F3dUcGFpAihgC3hdICojaxdgQgIRfRVZBhx4CjQ_KSlNJgJVDypRCDFWOB1xaGV9ZGNCAxNpAlkmVjlMHDwhLVE9FRRifhVYBAhvCgB_cnxJJhUUYn4VWAQJbwoAf3J8SSYVbjwjVwIxHHgKZmkBfgBgJBRifl8INVoVWiV_cnwAYSYAdXt0TSRQdwtwanF5HGVBUjEiDQ0kVTldZTkvOhhnQVIkcQNZdgp5CnV8MDxMb1YCZHwEXHYfKVw3M318F2FVA2F6AlNjVilIOyl9fwM7DkVtfBYJNQR4Cm1oc3sQZl8FaXoCX3MKeQBlOyI-GGJBXSUlDVp1D3kMdWl4ewMhCAxialMKLAR4C3Bqd3oTdBVBIiUNXnUIegBlLCI6GGJBUiNxFgg3UHcLcWlzfRdkQVAqJQ1adQl7CmUpKSMYYkFCOXEBCicKLA0gPm19QGFUHGQtAlpoAX9ec3d0f0NqBgRmfAcJfV9sWTUzfX0VYl8FdilTGyZNdwhlMyc9GGJBUjw_DZpUH6HtCAAU&hp=0&at=CjEEPFkvMyQRUT0SUjjPgwqNSpceEg==","https://sugar.zhihu.com/ad-track/zplus_log?cmv=&mcdti=223221628&mcdtt=0&dts=1774720693&ar=0.02768447995185852&cv=&mix=__MIX__INFO__&zri=-8847012465393253139&ri=feed-root:currency:d9415f36-d278-4613-8f40-067c83ff7ad2&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&zpluspt=0&tev=0&pt=3&isy=__IMAGE_STYLE__&zpt=&cl=990000&cla=2&zk=&cmi=&iti=__IS_THREE_IMAGE__&ed=BCZJMkh-a3J-FXQUQTJxAE0gWjpbMGdwaEwxWgB2NkAHMEo6TH5qZi1BJhMMYGpTHzwEOlcwLmYtTTBaAXYuXwQxUC4Fc3wkLVMgWgF-fABbdQl5CXBpdHcRYVAFYXUGXHEKfB4gPjQ9GGNBXjM8SAwqWCYFcm9mPlc7VQxgakYRLAR6HjAqfX4DJw5fbX0AW3UIeghzbmYtTG9VA2N-AlpzC3IeNjl9aEQgDAxhalMENgR4Cm1oc3sQZl8FaXoCX3MKeQBlNSM4V29XH2B9CF53AHwKcG10eB1lVghkdBYYNUwjXDBnZi9DMwQMdXtyTncLKFcsLmV8F3dUcGFpAihgC3hdICojaxdgQgIRfRVZBhx4CjQ_KSlNJgJVDypRCDFWOB1xaGV9ZGNCAxNpAlkmVjlMHDwhLVE9FRRifhVYBAhvCgB_cnxJJhUUYn4VWAQJbwoAf3J8SSYVbjwjVwIxHHgKZmkBfgBgJBRifl8INVoVWiV_cnwAYSYAdXt0TSRQdwtwanF5HGVBUjEiDQ0kVTldZTkvOhhnQVIkcQNZdgp5CnV8MDxMb1YCZHwEXHYfKVw3M318F2FVA2F6AlNjVilIOyl9fwM7DkVtfBYJNQR4Cm1oc3sQZl8FaXoCX3MKeQBlOyI-GGJBXSUlDVp1D3kMdWl4ewMhCAxialMKLAR4C3Bqd3oTdBVBIiUNXnUIegBlLCI6GGJBUiNxFgg3UHcLcWlzfRdkQVAqJQ1adQl7CmUpKSMYYkFCOXEBCicKLA0gPm19QGFUHGQtAlpoAX9ec3d0f0NqBgRmfAcJfV9sWTUzfX0VYl8FdilTGyZNdwhlMyc9GGJBUjw_DZpUH6HtCAAU&hp=0&at=CjEEPFEmLR820zpS4V8L1jE="],"view_r_tracks":null,"deliver_x_tracks":["http://proxy-ad-track-zplus:10000/ad-track/zplus_log?cmv=&mcdti=223221628&mcdtt=0&dts=1774720693&ar=0.02768447995185852&cv=&mix=__MIX__INFO__&zri=-8847012465393253139&ri=feed-root:currency:d9415f36-d278-4613-8f40-067c83ff7ad2&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&zpluspt=0&tev=0&pt=3&isy=__IMAGE_STYLE__&zpt=&cl=990000&cla=2&zk=&cmi=&iti=__IS_THREE_IMAGE__&ed=BCZJMkh-a3J-FXQUQTJxAE0gWjpbMGdwaEwxWgB2NkAHMEo6TH5qZi1BJhMMYGpTHzwEOlcwLmYtTTBaAXYuXwQxUC4Fc3wkLVMgWgF-fABbdQl5CXBpdHcRYVAFYXUGXHEKfB4gPjQ9GGNBXjM8SAwqWCYFcm9mPlc7VQxgakYRLAR6HjAqfX4DJw5fbX0AW3UIeghzbmYtTG9VA2N-AlpzC3IeNjl9aEQgDAxhalMENgR4Cm1oc3sQZl8FaXoCX3MKeQBlNSM4V29XH2B9CF53AHwKcG10eB1lVghkdBYYNUwjXDBnZi9DMwQMdXtyTncLKFcsLmV8F3dUcGFpAihgC3hdICojaxdgQgIRfRVZBhx4CjQ_KSlNJgJVDypRCDFWOB1xaGV9ZGNCAxNpAlkmVjlMHDwhLVE9FRRifhVYBAhvCgB_cnxJJhUUYn4VWAQJbwoAf3J8SSYVbjwjVwIxHHgKZmkBfgBgJBRifl8INVoVWiV_cnwAYSYAdXt0TSRQdwtwanF5HGVBUjEiDQ0kVTldZTkvOhhnQVIkcQNZdgp5CnV8MDxMb1YCZHwEXHYfKVw3M318F2FVA2F6AlNjVilIOyl9fwM7DkVtfBYJNQR4Cm1oc3sQZl8FaXoCX3MKeQBlOyI-GGJBXSUlDVp1D3kMdWl4ewMhCAxialMKLAR4C3Bqd3oTdBVBIiUNXnUIegBlLCI6GGJBUiNxFgg3UHcLcWlzfRdkQVAqJQ1adQl7CmUpKSMYYkFCOXEBCicKLA0gPm19QGFUHGQtAlpoAX9ec3d0f0NqBgRmfAcJfV9sWTUzfX0VYl8FdilTGyZNdwhlMyc9GGJBUjw_DZpUH6HtCAAU&hp=0&at=CjEELl0vMzYrVw0fll1t8qj4XUE="],"impression_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmv=&mcdti=223221628&mcdtt=0&dts=1774720693&ar=0.02768447995185852&cv=&mix=__MIX__INFO__&zri=-8847012465393253139&ri=feed-root:currency:d9415f36-d278-4613-8f40-067c83ff7ad2&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&zpluspt=0&tev=0&pt=3&isy=__IMAGE_STYLE__&zpt=&cl=990000&cla=2&zk=&cmi=&iti=__IS_THREE_IMAGE__&ed=BCZJMkh-a3J-FXQUQTJxAE0gWjpbMGdwaEwxWgB2NkAHMEo6TH5qZi1BJhMMYGpTHzwEOlcwLmYtTTBaAXYuXwQxUC4Fc3wkLVMgWgF-fABbdQl5CXBpdHcRYVAFYXUGXHEKfB4gPjQ9GGNBXjM8SAwqWCYFcm9mPlc7VQxgakYRLAR6HjAqfX4DJw5fbX0AW3UIeghzbmYtTG9VA2N-AlpzC3IeNjl9aEQgDAxhalMENgR4Cm1oc3sQZl8FaXoCX3MKeQBlNSM4V29XH2B9CF53AHwKcG10eB1lVghkdBYYNUwjXDBnZi9DMwQMdXtyTncLKFcsLmV8F3dUcGFpAihgC3hdICojaxdgQgIRfRVZBhx4CjQ_KSlNJgJVDypRCDFWOB1xaGV9ZGNCAxNpAlkmVjlMHDwhLVE9FRRifhVYBAhvCgB_cnxJJhUUYn4VWAQJbwoAf3J8SSYVbjwjVwIxHHgKZmkBfgBgJBRifl8INVoVWiV_cnwAYSYAdXt0TSRQdwtwanF5HGVBUjEiDQ0kVTldZTkvOhhnQVIkcQNZdgp5CnV8MDxMb1YCZHwEXHYfKVw3M318F2FVA2F6AlNjVilIOyl9fwM7DkVtfBYJNQR4Cm1oc3sQZl8FaXoCX3MKeQBlOyI-GGJBXSUlDVp1D3kMdWl4ewMhCAxialMKLAR4C3Bqd3oTdBVBIiUNXnUIegBlLCI6GGJBUiNxFgg3UHcLcWlzfRdkQVAqJQ1adQl7CmUpKSMYYkFCOXEBCicKLA0gPm19QGFUHGQtAlpoAX9ec3d0f0NqBgRmfAcJfV9sWTUzfX0VYl8FdilTGyZNdwhlMyc9GGJBUjw_DZpUH6HtCAAU&hp=0&at=CjEEI1UzKCU9VjsIXwyIzIulhGWC"],"conversion_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmv=&mcdti=223221628&mcdtt=0&dts=1774720693&ar=0.02768447995185852&cv=&mix=__MIX__INFO__&zri=-8847012465393253139&ri=feed-root:currency:d9415f36-d278-4613-8f40-067c83ff7ad2&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&zpluspt=0&tev=0&pt=3&isy=__IMAGE_STYLE__&zpt=&cl=990000&cla=2&zk=&cmi=&iti=__IS_THREE_IMAGE__&ed=BCZJMkh-a3J-FXQUQTJxAE0gWjpbMGdwaEwxWgB2NkAHMEo6TH5qZi1BJhMMYGpTHzwEOlcwLmYtTTBaAXYuXwQxUC4Fc3wkLVMgWgF-fABbdQl5CXBpdHcRYVAFYXUGXHEKfB4gPjQ9GGNBXjM8SAwqWCYFcm9mPlc7VQxgakYRLAR6HjAqfX4DJw5fbX0AW3UIeghzbmYtTG9VA2N-AlpzC3IeNjl9aEQgDAxhalMENgR4Cm1oc3sQZl8FaXoCX3MKeQBlNSM4V29XH2B9CF53AHwKcG10eB1lVghkdBYYNUwjXDBnZi9DMwQMdXtyTncLKFcsLmV8F3dUcGFpAihgC3hdICojaxdgQgIRfRVZBhx4CjQ_KSlNJgJVDypRCDFWOB1xaGV9ZGNCAxNpAlkmVjlMHDwhLVE9FRRifhVYBAhvCgB_cnxJJhUUYn4VWAQJbwoAf3J8SSYVbjwjVwIxHHgKZmkBfgBgJBRifl8INVoVWiV_cnwAYSYAdXt0TSRQdwtwanF5HGVBUjEiDQ0kVTldZTkvOhhnQVIkcQNZdgp5CnV8MDxMb1YCZHwEXHYfKVw3M318F2FVA2F6AlNjVilIOyl9fwM7DkVtfBYJNQR4Cm1oc3sQZl8FaXoCX3MKeQBlOyI-GGJBXSUlDVp1D3kMdWl4ewMhCAxialMKLAR4C3Bqd3oTdBVBIiUNXnUIegBlLCI6GGJBUiNxFgg3UHcLcWlzfRdkQVAqJQ1adQl7CmUpKSMYYkFCOXEBCicKLA0gPm19QGFUHGQtAlpoAX9ec3d0f0NqBgRmfAcJfV9sWTUzfX0VYl8FdilTGyZNdwhlMyc9GGJBUjw_DZpUH6HtCAAU&hp=0&at=CjEEKVctLCU8VjsIX1u2KBLeP1SB"],"topstory_tracks":["http://proxy-ad-track-zplus-bid:10000/ad-track/zplus/bid?cmv=&mcdti=223221628&mcdtt=0&dts=1774720693&ar=0.02768447995185852&cv=&mix=__MIX__INFO__&zri=-8847012465393253139&ri=feed-root:currency:d9415f36-d278-4613-8f40-067c83ff7ad2&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&zpluspt=0&tev=0&pt=3&isy=__IMAGE_STYLE__&zpt=&cl=990000&cla=2&zk=&cmi=&iti=__IS_THREE_IMAGE__&ed=BCZJMkh-a3J-FXQUQTJxAE0gWjpbMGdwaEwxWgB2NkAHMEo6TH5qZi1BJhMMYGpTHzwEOlcwLmYtTTBaAXYuXwQxUC4Fc3wkLVMgWgF-fABbdQl5CXBpdHcRYVAFYXUGXHEKfB4gPjQ9GGNBXjM8SAwqWCYFcm9mPlc7VQxgakYRLAR6HjAqfX4DJw5fbX0AW3UIeghzbmYtTG9VA2N-AlpzC3IeNjl9aEQgDAxhalMENgR4Cm1oc3sQZl8FaXoCX3MKeQBlNSM4V29XH2B9CF53AHwKcG10eB1lVghkdBYYNUwjXDBnZi9DMwQMdXtyTncLKFcsLmV8F3dUcGFpAihgC3hdICojaxdgQgIRfRVZBhx4CjQ_KSlNJgJVDypRCDFWOB1xaGV9ZGNCAxNpAlkmVjlMHDwhLVE9FRRifhVYBAhvCgB_cnxJJhUUYn4VWAQJbwoAf3J8SSYVbjwjVwIxHHgKZmkBfgBgJBRifl8INVoVWiV_cnwAYSYAdXt0TSRQdwtwanF5HGVBUjEiDQ0kVTldZTkvOhhnQVIkcQNZdgp5CnV8MDxMb1YCZHwEXHYfKVw3M318F2FVA2F6AlNjVilIOyl9fwM7DkVtfBYJNQR4Cm1oc3sQZl8FaXoCX3MKeQBlOyI-GGJBXSUlDVp1D3kMdWl4ewMhCAxialMKLAR4C3Bqd3oTdBVBIiUNXnUIegBlLCI6GGJBUiNxFgg3UHcLcWlzfRdkQVAqJQ1adQl7CmUpKSMYYkFCOXEBCicKLA0gPm19QGFUHGQtAlpoAX9ec3d0f0NqBgRmfAcJfV9sWTUzfX0VYl8FdilTGyZNdwhlMyc9GGJBUjw_DZpUH6HtCAAU&hp=0&at=CjEELF0mPh8nSzQIRYVahjjLuoY=&rki=__RANK__INFO__&fri=__FILTER__INFO__&fin=1"],"video_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmv=&mcdti=223221628&mcdtt=0&dts=1774720693&ar=0.02768447995185852&cv=&mix=__MIX__INFO__&zri=-8847012465393253139&ri=feed-root:currency:d9415f36-d278-4613-8f40-067c83ff7ad2&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&zpluspt=0&tev=0&pt=3&isy=__IMAGE_STYLE__&zpt=&cl=990000&cla=2&zk=&cmi=&iti=__IS_THREE_IMAGE__&ed=BCZJMkh-a3J-FXQUQTJxAE0gWjpbMGdwaEwxWgB2NkAHMEo6TH5qZi1BJhMMYGpTHzwEOlcwLmYtTTBaAXYuXwQxUC4Fc3wkLVMgWgF-fABbdQl5CXBpdHcRYVAFYXUGXHEKfB4gPjQ9GGNBXjM8SAwqWCYFcm9mPlc7VQxgakYRLAR6HjAqfX4DJw5fbX0AW3UIeghzbmYtTG9VA2N-AlpzC3IeNjl9aEQgDAxhalMENgR4Cm1oc3sQZl8FaXoCX3MKeQBlNSM4V29XH2B9CF53AHwKcG10eB1lVghkdBYYNUwjXDBnZi9DMwQMdXtyTncLKFcsLmV8F3dUcGFpAihgC3hdICojaxdgQgIRfRVZBhx4CjQ_KSlNJgJVDypRCDFWOB1xaGV9ZGNCAxNpAlkmVjlMHDwhLVE9FRRifhVYBAhvCgB_cnxJJhUUYn4VWAQJbwoAf3J8SSYVbjwjVwIxHHgKZmkBfgBgJBRifl8INVoVWiV_cnwAYSYAdXt0TSRQdwtwanF5HGVBUjEiDQ0kVTldZTkvOhhnQVIkcQNZdgp5CnV8MDxMb1YCZHwEXHYfKVw3M318F2FVA2F6AlNjVilIOyl9fwM7DkVtfBYJNQR4Cm1oc3sQZl8FaXoCX3MKeQBlOyI-GGJBXSUlDVp1D3kMdWl4ewMhCAxialMKLAR4C3Bqd3oTdBVBIiUNXnUIegBlLCI6GGJBUiNxFgg3UHcLcWlzfRdkQVAqJQ1adQl7CmUpKSMYYkFCOXEBCicKLA0gPm19QGFUHGQtAlpoAX9ec3d0f0NqBgRmfAcJfV9sWTUzfX0VYl8FdilTGyZNdwhlMyc9GGJBUjw_DZpUH6HtCAAU&hp=0&at=CjEEPFEnPy8RVT4GSP2lJbJWhW_G"],"video_play_tracks":null,"debug_tracks":null,"view_as_click_tm":5}'
                            - '{"is_card":true,"id":"3596692","topstory_info":"bid=89.14777636528015&pctr=0.00047960877418518066&price=0&pv_id=edd7192a-9f96-4bf5-8b63-af0a7aab45ab","parameters":"plugcb=https%3A%2F%2Fsugar.zhihu.com%2Fplutus_adreaper_callback%3Fcid%3D3596692%26ccid%3D3596692%26zoneid%3D10012%26adid%3D3645220%26sid%3Dedd7192a-9f96-4bf5-8b63-af0a7aab45ab%26adsource%3Dzhi_plus%26ocpxs%3D1%26ocpxp%3D10500%26dynamictitle%3D1962561457624454909%26mixinfo%3D__MIX__INFO__%26campaignid%3D2649960%26cbed%3DCDFAd0gsKTRoUDsJDGF8AFt0CXoNc3whKEQxWhRnDhVZd1YpSCAFIigAYFUUYw0BTnd6bwpxOC8hUXdVA3V_cVpgCwkdcWglLVUxQgNiaQMqdBx4e2ZocjlAOwBZJClUNCNYKUwsKGV8F3dUcGFpAihgC3hbLCk0EUMzBEU_PhVZdxx5eXJ_cg0AYFVdJD4VWXcceXlzf3INAGBVXSQ-bwcqXiNMZmhyaxYTVxRnCBYIN1B3C3ZjdngcYEFSPz8NXncXfQ5yYnZ5E2ZVBWB-Bl5jWi5MN2dwaEknDgxhfAZYcQ95AHZ8IThMb1IHYnQHXWNaLkwqZ3J4EWFXA2h9BE0qWjpAMGdxaEQoDgxhfABadx85SDYzJD0YdAhSIDRAVnQJfwhzfCIhSiYOVW18FgonSXcIZTkhJxhgUQVpdQZbY0s6SipneXYTYFQXMy1eViNYJksmfCknUW9XFzMjRFZwHzlXfmhmLVFvVARpegZSdx8vWzM5M3MVdBdDOXEATTZJdwhlOTNzAz0EQSgrXwopBHsNZSoyJxdvVxcqPFweNkk-BXN8JC1TIFoBfnwAW3UKeAp0a3F-HGFQBGh6CVNwDGxLKjd9fgMxA0UjcQFNJFB3C3VudXwXYkFCOXFVDyEOewFxO213Q2tRHGQuVl5oASgOcHchKBUzUFAxLgReJFtsTiEufX4DOwQMYWpGESwEeh4gM318E2ZUAWJ0AV9jWiJafmpmK0YiBEVtfBYCIkp3CGU4MHMQYEkGZn0IXXIPfgp3anJ4EHQIUiY-DVtrCXoNc2h0dxZrUAZleAZdfAhzHiA2M3MDMxVabX0WGDVbdwhlLyNzTKg3xuX6I9M%3D%26cmixid%3D%26cmixvs%3D%26titlesource%3D1%26advertiser_id%3D562876%26content_id%3D264302814%26content_type%3Dpost%26creative%3D3596692%26caid%3D%26os%3D3%26imei%3D%26idfa%3D%26androidid%3D%26ip%3D2603%3A6080%3A6501%3A66b4%3Afd09%3A682c%3Aa0db%3A352d%26ua%3DMozilla%252F5.0%2B%2528Macintosh%253B%2BIntel%2BMac%2BOS%2BX%2B10_15_7%2529%2BAppleWebKit%252F537.36%2B%2528KHTML%252C%2Blike%2BGecko%2529%2BChrome%252F146.0.0.0%2BSafari%252F537.36%26oaid%3D%26isnative%3Dfalse","sign":"ac6c65f6-d151-42f3-b027-2d1b6ff87fa4","mobile_experiment":null,"new_asset":"","click_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmi=&zpt=&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&ed=CDFAd0gsKTRoUDsJDGF8AFt0CXoNc3whKEQxWhRnDhVZd1YpSCAFIigAYFUUYw0BTnd6bwpxOC8hUXdVA3V_cVpgCwkdcWglLVUxQgNiaQMqdBx4e2ZocjlAOwBZJClUNCNYKUwsKGV8F3dUcGFpAihgC3hbLCk0EUMzBEU_PhVZdxx5eXJ_cg0AYFVdJD4VWXcceXlzf3INAGBVXSQ-bwcqXiNMZmhyaxYTVxRnCBYIN1B3C3ZjdngcYEFSPz8NXncXfQ5yYnZ5E2ZVBWB-Bl5jWi5MN2dwaEknDgxhfAZYcQ95AHZ8IThMb1IHYnQHXWNaLkwqZ3J4EWFXA2h9BE0qWjpAMGdxaEQoDgxhfABadx85SDYzJD0YdAhSIDRAVnQJfwhzfCIhSiYOVW18FgonSXcIZTkhJxhgUQVpdQZbY0s6SipneXYTYFQXMy1eViNYJksmfCknUW9XFzMjRFZwHzlXfmhmLVFvVARpegZSdx8vWzM5M3MVdBdDOXEATTZJdwhlOTNzAz0EQSgrXwopBHsNZSoyJxdvVxcqPFweNkk-BXN8JC1TIFoBfnwAW3UKeAp0a3F-HGFQBGh6CVNwDGxLKjd9fgMxA0UjcQFNJFB3C3VudXwXYkFCOXFVDyEOewFxO213Q2tRHGQuVl5oASgOcHchKBUzUFAxLgReJFtsTiEufX4DOwQMYWpGESwEeh4gM318E2ZUAWJ0AV9jWiJafmpmK0YiBEVtfBYCIkp3CGU4MHMQYEkGZn0IXXIPfgp3anJ4EHQIUiY-DVtrCXoNc2h0dxZrUAZleAZdfAhzHiA2M3MDMxVabX0WGDVbdwhlLyNzTKg3xuX6I9M=&hp=0&mcdtt=1&cmv=&cv=&cc=990000&zpluspt=0&tev=0&mix=__MIX__INFO__&iti=__IS_THREE_IMAGE__&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&pt=3&isy=__IMAGE_STYLE__&cl=990000&ar=0.03225225210189819&dts=1774720691&zri=-5148156346465518553&mcdti=1962561457624454909&cla=3&zk=&at=CjEEKVQqOSuIYIdBvEo7Wg=="],"view_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmi=&zpt=&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&ed=CDFAd0gsKTRoUDsJDGF8AFt0CXoNc3whKEQxWhRnDhVZd1YpSCAFIigAYFUUYw0BTnd6bwpxOC8hUXdVA3V_cVpgCwkdcWglLVUxQgNiaQMqdBx4e2ZocjlAOwBZJClUNCNYKUwsKGV8F3dUcGFpAihgC3hbLCk0EUMzBEU_PhVZdxx5eXJ_cg0AYFVdJD4VWXcceXlzf3INAGBVXSQ-bwcqXiNMZmhyaxYTVxRnCBYIN1B3C3ZjdngcYEFSPz8NXncXfQ5yYnZ5E2ZVBWB-Bl5jWi5MN2dwaEknDgxhfAZYcQ95AHZ8IThMb1IHYnQHXWNaLkwqZ3J4EWFXA2h9BE0qWjpAMGdxaEQoDgxhfABadx85SDYzJD0YdAhSIDRAVnQJfwhzfCIhSiYOVW18FgonSXcIZTkhJxhgUQVpdQZbY0s6SipneXYTYFQXMy1eViNYJksmfCknUW9XFzMjRFZwHzlXfmhmLVFvVARpegZSdx8vWzM5M3MVdBdDOXEATTZJdwhlOTNzAz0EQSgrXwopBHsNZSoyJxdvVxcqPFweNkk-BXN8JC1TIFoBfnwAW3UKeAp0a3F-HGFQBGh6CVNwDGxLKjd9fgMxA0UjcQFNJFB3C3VudXwXYkFCOXFVDyEOewFxO213Q2tRHGQuVl5oASgOcHchKBUzUFAxLgReJFtsTiEufX4DOwQMYWpGESwEeh4gM318E2ZUAWJ0AV9jWiJafmpmK0YiBEVtfBYCIkp3CGU4MHMQYEkGZn0IXXIPfgp3anJ4EHQIUiY-DVtrCXoNc2h0dxZrUAZleAZdfAhzHiA2M3MDMxVabX0WGDVbdwhlLyNzTKg3xuX6I9M=&hp=0&mcdtt=1&cmv=&cv=&cc=990000&zpluspt=0&tev=0&mix=__MIX__INFO__&iti=__IS_THREE_IMAGE__&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&pt=3&isy=__IMAGE_STYLE__&cl=990000&ar=0.03225225210189819&dts=1774720691&zri=-5148156346465518553&mcdti=1962561457624454909&cla=3&zk=&at=CjEEPFEmLWm8-o_znDYB"],"view_x_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmi=&zpt=&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&ed=CDFAd0gsKTRoUDsJDGF8AFt0CXoNc3whKEQxWhRnDhVZd1YpSCAFIigAYFUUYw0BTnd6bwpxOC8hUXdVA3V_cVpgCwkdcWglLVUxQgNiaQMqdBx4e2ZocjlAOwBZJClUNCNYKUwsKGV8F3dUcGFpAihgC3hbLCk0EUMzBEU_PhVZdxx5eXJ_cg0AYFVdJD4VWXcceXlzf3INAGBVXSQ-bwcqXiNMZmhyaxYTVxRnCBYIN1B3C3ZjdngcYEFSPz8NXncXfQ5yYnZ5E2ZVBWB-Bl5jWi5MN2dwaEknDgxhfAZYcQ95AHZ8IThMb1IHYnQHXWNaLkwqZ3J4EWFXA2h9BE0qWjpAMGdxaEQoDgxhfABadx85SDYzJD0YdAhSIDRAVnQJfwhzfCIhSiYOVW18FgonSXcIZTkhJxhgUQVpdQZbY0s6SipneXYTYFQXMy1eViNYJksmfCknUW9XFzMjRFZwHzlXfmhmLVFvVARpegZSdx8vWzM5M3MVdBdDOXEATTZJdwhlOTNzAz0EQSgrXwopBHsNZSoyJxdvVxcqPFweNkk-BXN8JC1TIFoBfnwAW3UKeAp0a3F-HGFQBGh6CVNwDGxLKjd9fgMxA0UjcQFNJFB3C3VudXwXYkFCOXFVDyEOewFxO213Q2tRHGQuVl5oASgOcHchKBUzUFAxLgReJFtsTiEufX4DOwQMYWpGESwEeh4gM318E2ZUAWJ0AV9jWiJafmpmK0YiBEVtfBYCIkp3CGU4MHMQYEkGZn0IXXIPfgp3anJ4EHQIUiY-DVtrCXoNc2h0dxZrUAZleAZdfAhzHiA2M3MDMxVabX0WGDVbdwhlLyNzTKg3xuX6I9M=&hp=0&mcdtt=1&cmv=&cv=&cc=990000&zpluspt=0&tev=0&mix=__MIX__INFO__&iti=__IS_THREE_IMAGE__&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&pt=3&isy=__IMAGE_STYLE__&cl=990000&ar=0.03225225210189819&dts=1774720691&zri=-5148156346465518553&mcdti=1962561457624454909&cla=3&zk=&at=CjEEPFkvMyQRUT0SUjjPgwqNSpceEg==","https://sugar.zhihu.com/ad-track/zplus_log?cmi=&zpt=&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&ed=CDFAd0gsKTRoUDsJDGF8AFt0CXoNc3whKEQxWhRnDhVZd1YpSCAFIigAYFUUYw0BTnd6bwpxOC8hUXdVA3V_cVpgCwkdcWglLVUxQgNiaQMqdBx4e2ZocjlAOwBZJClUNCNYKUwsKGV8F3dUcGFpAihgC3hbLCk0EUMzBEU_PhVZdxx5eXJ_cg0AYFVdJD4VWXcceXlzf3INAGBVXSQ-bwcqXiNMZmhyaxYTVxRnCBYIN1B3C3ZjdngcYEFSPz8NXncXfQ5yYnZ5E2ZVBWB-Bl5jWi5MN2dwaEknDgxhfAZYcQ95AHZ8IThMb1IHYnQHXWNaLkwqZ3J4EWFXA2h9BE0qWjpAMGdxaEQoDgxhfABadx85SDYzJD0YdAhSIDRAVnQJfwhzfCIhSiYOVW18FgonSXcIZTkhJxhgUQVpdQZbY0s6SipneXYTYFQXMy1eViNYJksmfCknUW9XFzMjRFZwHzlXfmhmLVFvVARpegZSdx8vWzM5M3MVdBdDOXEATTZJdwhlOTNzAz0EQSgrXwopBHsNZSoyJxdvVxcqPFweNkk-BXN8JC1TIFoBfnwAW3UKeAp0a3F-HGFQBGh6CVNwDGxLKjd9fgMxA0UjcQFNJFB3C3VudXwXYkFCOXFVDyEOewFxO213Q2tRHGQuVl5oASgOcHchKBUzUFAxLgReJFtsTiEufX4DOwQMYWpGESwEeh4gM318E2ZUAWJ0AV9jWiJafmpmK0YiBEVtfBYCIkp3CGU4MHMQYEkGZn0IXXIPfgp3anJ4EHQIUiY-DVtrCXoNc2h0dxZrUAZleAZdfAhzHiA2M3MDMxVabX0WGDVbdwhlLyNzTKg3xuX6I9M=&hp=0&mcdtt=1&cmv=&cv=&cc=990000&zpluspt=0&tev=0&mix=__MIX__INFO__&iti=__IS_THREE_IMAGE__&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&pt=3&isy=__IMAGE_STYLE__&cl=990000&ar=0.03225225210189819&dts=1774720691&zri=-5148156346465518553&mcdti=1962561457624454909&cla=3&zk=&at=CjEEPFEmLR820zpS4V8L1jE="],"view_r_tracks":null,"deliver_x_tracks":["http://proxy-ad-track-zplus:10000/ad-track/zplus_log?cmi=&zpt=&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&ed=CDFAd0gsKTRoUDsJDGF8AFt0CXoNc3whKEQxWhRnDhVZd1YpSCAFIigAYFUUYw0BTnd6bwpxOC8hUXdVA3V_cVpgCwkdcWglLVUxQgNiaQMqdBx4e2ZocjlAOwBZJClUNCNYKUwsKGV8F3dUcGFpAihgC3hbLCk0EUMzBEU_PhVZdxx5eXJ_cg0AYFVdJD4VWXcceXlzf3INAGBVXSQ-bwcqXiNMZmhyaxYTVxRnCBYIN1B3C3ZjdngcYEFSPz8NXncXfQ5yYnZ5E2ZVBWB-Bl5jWi5MN2dwaEknDgxhfAZYcQ95AHZ8IThMb1IHYnQHXWNaLkwqZ3J4EWFXA2h9BE0qWjpAMGdxaEQoDgxhfABadx85SDYzJD0YdAhSIDRAVnQJfwhzfCIhSiYOVW18FgonSXcIZTkhJxhgUQVpdQZbY0s6SipneXYTYFQXMy1eViNYJksmfCknUW9XFzMjRFZwHzlXfmhmLVFvVARpegZSdx8vWzM5M3MVdBdDOXEATTZJdwhlOTNzAz0EQSgrXwopBHsNZSoyJxdvVxcqPFweNkk-BXN8JC1TIFoBfnwAW3UKeAp0a3F-HGFQBGh6CVNwDGxLKjd9fgMxA0UjcQFNJFB3C3VudXwXYkFCOXFVDyEOewFxO213Q2tRHGQuVl5oASgOcHchKBUzUFAxLgReJFtsTiEufX4DOwQMYWpGESwEeh4gM318E2ZUAWJ0AV9jWiJafmpmK0YiBEVtfBYCIkp3CGU4MHMQYEkGZn0IXXIPfgp3anJ4EHQIUiY-DVtrCXoNc2h0dxZrUAZleAZdfAhzHiA2M3MDMxVabX0WGDVbdwhlLyNzTKg3xuX6I9M=&hp=0&mcdtt=1&cmv=&cv=&cc=990000&zpluspt=0&tev=0&mix=__MIX__INFO__&iti=__IS_THREE_IMAGE__&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&pt=3&isy=__IMAGE_STYLE__&cl=990000&ar=0.03225225210189819&dts=1774720691&zri=-5148156346465518553&mcdti=1962561457624454909&cla=3&zk=&at=CjEELl0vMzYrVw0fll1t8qj4XUE="],"impression_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmi=&zpt=&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&ed=CDFAd0gsKTRoUDsJDGF8AFt0CXoNc3whKEQxWhRnDhVZd1YpSCAFIigAYFUUYw0BTnd6bwpxOC8hUXdVA3V_cVpgCwkdcWglLVUxQgNiaQMqdBx4e2ZocjlAOwBZJClUNCNYKUwsKGV8F3dUcGFpAihgC3hbLCk0EUMzBEU_PhVZdxx5eXJ_cg0AYFVdJD4VWXcceXlzf3INAGBVXSQ-bwcqXiNMZmhyaxYTVxRnCBYIN1B3C3ZjdngcYEFSPz8NXncXfQ5yYnZ5E2ZVBWB-Bl5jWi5MN2dwaEknDgxhfAZYcQ95AHZ8IThMb1IHYnQHXWNaLkwqZ3J4EWFXA2h9BE0qWjpAMGdxaEQoDgxhfABadx85SDYzJD0YdAhSIDRAVnQJfwhzfCIhSiYOVW18FgonSXcIZTkhJxhgUQVpdQZbY0s6SipneXYTYFQXMy1eViNYJksmfCknUW9XFzMjRFZwHzlXfmhmLVFvVARpegZSdx8vWzM5M3MVdBdDOXEATTZJdwhlOTNzAz0EQSgrXwopBHsNZSoyJxdvVxcqPFweNkk-BXN8JC1TIFoBfnwAW3UKeAp0a3F-HGFQBGh6CVNwDGxLKjd9fgMxA0UjcQFNJFB3C3VudXwXYkFCOXFVDyEOewFxO213Q2tRHGQuVl5oASgOcHchKBUzUFAxLgReJFtsTiEufX4DOwQMYWpGESwEeh4gM318E2ZUAWJ0AV9jWiJafmpmK0YiBEVtfBYCIkp3CGU4MHMQYEkGZn0IXXIPfgp3anJ4EHQIUiY-DVtrCXoNc2h0dxZrUAZleAZdfAhzHiA2M3MDMxVabX0WGDVbdwhlLyNzTKg3xuX6I9M=&hp=0&mcdtt=1&cmv=&cv=&cc=990000&zpluspt=0&tev=0&mix=__MIX__INFO__&iti=__IS_THREE_IMAGE__&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&pt=3&isy=__IMAGE_STYLE__&cl=990000&ar=0.03225225210189819&dts=1774720691&zri=-5148156346465518553&mcdti=1962561457624454909&cla=3&zk=&at=CjEEI1UzKCU9VjsIXwyIzIulhGWC"],"conversion_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmi=&zpt=&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&ed=CDFAd0gsKTRoUDsJDGF8AFt0CXoNc3whKEQxWhRnDhVZd1YpSCAFIigAYFUUYw0BTnd6bwpxOC8hUXdVA3V_cVpgCwkdcWglLVUxQgNiaQMqdBx4e2ZocjlAOwBZJClUNCNYKUwsKGV8F3dUcGFpAihgC3hbLCk0EUMzBEU_PhVZdxx5eXJ_cg0AYFVdJD4VWXcceXlzf3INAGBVXSQ-bwcqXiNMZmhyaxYTVxRnCBYIN1B3C3ZjdngcYEFSPz8NXncXfQ5yYnZ5E2ZVBWB-Bl5jWi5MN2dwaEknDgxhfAZYcQ95AHZ8IThMb1IHYnQHXWNaLkwqZ3J4EWFXA2h9BE0qWjpAMGdxaEQoDgxhfABadx85SDYzJD0YdAhSIDRAVnQJfwhzfCIhSiYOVW18FgonSXcIZTkhJxhgUQVpdQZbY0s6SipneXYTYFQXMy1eViNYJksmfCknUW9XFzMjRFZwHzlXfmhmLVFvVARpegZSdx8vWzM5M3MVdBdDOXEATTZJdwhlOTNzAz0EQSgrXwopBHsNZSoyJxdvVxcqPFweNkk-BXN8JC1TIFoBfnwAW3UKeAp0a3F-HGFQBGh6CVNwDGxLKjd9fgMxA0UjcQFNJFB3C3VudXwXYkFCOXFVDyEOewFxO213Q2tRHGQuVl5oASgOcHchKBUzUFAxLgReJFtsTiEufX4DOwQMYWpGESwEeh4gM318E2ZUAWJ0AV9jWiJafmpmK0YiBEVtfBYCIkp3CGU4MHMQYEkGZn0IXXIPfgp3anJ4EHQIUiY-DVtrCXoNc2h0dxZrUAZleAZdfAhzHiA2M3MDMxVabX0WGDVbdwhlLyNzTKg3xuX6I9M=&hp=0&mcdtt=1&cmv=&cv=&cc=990000&zpluspt=0&tev=0&mix=__MIX__INFO__&iti=__IS_THREE_IMAGE__&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&pt=3&isy=__IMAGE_STYLE__&cl=990000&ar=0.03225225210189819&dts=1774720691&zri=-5148156346465518553&mcdti=1962561457624454909&cla=3&zk=&at=CjEEKVctLCU8VjsIX1u2KBLeP1SB"],"topstory_tracks":["http://proxy-ad-track-zplus-bid:10000/ad-track/zplus/bid?cmi=&zpt=&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&ed=CDFAd0gsKTRoUDsJDGF8AFt0CXoNc3whKEQxWhRnDhVZd1YpSCAFIigAYFUUYw0BTnd6bwpxOC8hUXdVA3V_cVpgCwkdcWglLVUxQgNiaQMqdBx4e2ZocjlAOwBZJClUNCNYKUwsKGV8F3dUcGFpAihgC3hbLCk0EUMzBEU_PhVZdxx5eXJ_cg0AYFVdJD4VWXcceXlzf3INAGBVXSQ-bwcqXiNMZmhyaxYTVxRnCBYIN1B3C3ZjdngcYEFSPz8NXncXfQ5yYnZ5E2ZVBWB-Bl5jWi5MN2dwaEknDgxhfAZYcQ95AHZ8IThMb1IHYnQHXWNaLkwqZ3J4EWFXA2h9BE0qWjpAMGdxaEQoDgxhfABadx85SDYzJD0YdAhSIDRAVnQJfwhzfCIhSiYOVW18FgonSXcIZTkhJxhgUQVpdQZbY0s6SipneXYTYFQXMy1eViNYJksmfCknUW9XFzMjRFZwHzlXfmhmLVFvVARpegZSdx8vWzM5M3MVdBdDOXEATTZJdwhlOTNzAz0EQSgrXwopBHsNZSoyJxdvVxcqPFweNkk-BXN8JC1TIFoBfnwAW3UKeAp0a3F-HGFQBGh6CVNwDGxLKjd9fgMxA0UjcQFNJFB3C3VudXwXYkFCOXFVDyEOewFxO213Q2tRHGQuVl5oASgOcHchKBUzUFAxLgReJFtsTiEufX4DOwQMYWpGESwEeh4gM318E2ZUAWJ0AV9jWiJafmpmK0YiBEVtfBYCIkp3CGU4MHMQYEkGZn0IXXIPfgp3anJ4EHQIUiY-DVtrCXoNc2h0dxZrUAZleAZdfAhzHiA2M3MDMxVabX0WGDVbdwhlLyNzTKg3xuX6I9M=&hp=0&mcdtt=1&cmv=&cv=&cc=990000&zpluspt=0&tev=0&mix=__MIX__INFO__&iti=__IS_THREE_IMAGE__&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&pt=3&isy=__IMAGE_STYLE__&cl=990000&ar=0.03225225210189819&dts=1774720691&zri=-5148156346465518553&mcdti=1962561457624454909&cla=3&zk=&at=CjEELF0mPh8nSzQIRYVahjjLuoY=&rki=__RANK__INFO__&fri=__FILTER__INFO__&fin=1"],"video_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?cmi=&zpt=&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&ed=CDFAd0gsKTRoUDsJDGF8AFt0CXoNc3whKEQxWhRnDhVZd1YpSCAFIigAYFUUYw0BTnd6bwpxOC8hUXdVA3V_cVpgCwkdcWglLVUxQgNiaQMqdBx4e2ZocjlAOwBZJClUNCNYKUwsKGV8F3dUcGFpAihgC3hbLCk0EUMzBEU_PhVZdxx5eXJ_cg0AYFVdJD4VWXcceXlzf3INAGBVXSQ-bwcqXiNMZmhyaxYTVxRnCBYIN1B3C3ZjdngcYEFSPz8NXncXfQ5yYnZ5E2ZVBWB-Bl5jWi5MN2dwaEknDgxhfAZYcQ95AHZ8IThMb1IHYnQHXWNaLkwqZ3J4EWFXA2h9BE0qWjpAMGdxaEQoDgxhfABadx85SDYzJD0YdAhSIDRAVnQJfwhzfCIhSiYOVW18FgonSXcIZTkhJxhgUQVpdQZbY0s6SipneXYTYFQXMy1eViNYJksmfCknUW9XFzMjRFZwHzlXfmhmLVFvVARpegZSdx8vWzM5M3MVdBdDOXEATTZJdwhlOTNzAz0EQSgrXwopBHsNZSoyJxdvVxcqPFweNkk-BXN8JC1TIFoBfnwAW3UKeAp0a3F-HGFQBGh6CVNwDGxLKjd9fgMxA0UjcQFNJFB3C3VudXwXYkFCOXFVDyEOewFxO213Q2tRHGQuVl5oASgOcHchKBUzUFAxLgReJFtsTiEufX4DOwQMYWpGESwEeh4gM318E2ZUAWJ0AV9jWiJafmpmK0YiBEVtfBYCIkp3CGU4MHMQYEkGZn0IXXIPfgp3anJ4EHQIUiY-DVtrCXoNc2h0dxZrUAZleAZdfAhzHiA2M3MDMxVabX0WGDVbdwhlLyNzTKg3xuX6I9M=&hp=0&mcdtt=1&cmv=&cv=&cc=990000&zpluspt=0&tev=0&mix=__MIX__INFO__&iti=__IS_THREE_IMAGE__&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&pt=3&isy=__IMAGE_STYLE__&cl=990000&ar=0.03225225210189819&dts=1774720691&zri=-5148156346465518553&mcdti=1962561457624454909&cla=3&zk=&at=CjEEPFEnPy8RVT4GSP2lJbJWhW_G"],"video_play_tracks":null,"debug_tracks":null,"view_as_click_tm":5}'
                            - '{"is_card":true,"id":"3672803","topstory_info":"bid=247.99029716583655&pctr=0.0011772215366363525&price=0&pv_id=309280b3-a4b0-4214-a407-2d06e97864e3","parameters":"plugcb=https%3A%2F%2Fsugar.zhihu.com%2Fplutus_adreaper_callback%3Fcid%3D3672803%26ccid%3D3672803%26zoneid%3D10012%26adid%3D3703219%26sid%3D309280b3-a4b0-4214-a407-2d06e97864e3%26adsource%3Dzhi_plus%26ocpxs%3D1%26ocpxp%3D1850%26dynamictitle%3D2012474204252034434%26mixinfo%3D__MIX__INFO__%26campaignid%3D2704652%26cbed%3DCj9QdwlzanF8AzcEQTM_DVpjWjhRfml2eRdqVwJ2Ll8EMVAuBXN8MyEYYEFQMjwNW2NMKQVlOSEgGDQGXSMpFggxBHkOdGh4fhZ0HUE8OUMbMQR6HiI8IS0Yd1BzdX4CHCBQLVA3PyQRQzMERT8-FVl3HHl5cn9yDQBgVVI_P0Q0I1gpTCwoZXwXd1RwYWkCKGALeFQ3KGV8F3dUcGBpAihgC3hUNygfIko1DkV1fgJOdnh6HXEZZXwXPQRBMxNSDWALeB1wG3FgEmdeCGl1CVJ1DXwLcW92dgBgJBRiflIEKk1vCnF_cw8Ud1VydX4CDiZJKR1xaGV9ZGNCBhRqVAgzS3cIbWpwfxZlXwlpfwhedwt5C3tidnkDPQRBKD8NWmNQLUt-amYsVW9RA355BF1yC30LcmJ0fhdjURcgPllWdR85SH5qZj1VJw5VI3EWAixNdwhlOTQ3GCIIQiRqUwMnBHoeIjN9fRJiVANhdRYYNVt3CGU5JDpRb1cXIyUNWHUAeABzOHNjRGYFAX14AlpxFCsMc21tfEFiUVRpewhdcVx5Hiw5MDZCPQZdbX0FTSRLIQVxfCMhVm9RA355BF1yC30LcmJ0fhdjURciPEICeAh7DHVpcGhWOwoMYGpTDzFQdwpwand9FmtRAHYlU1Z0HzxCKmdwaEQkDgxmegNZdAtsWyIzfXwSYlMHZX4WBCZPOAVzdHB-EmRfAmh7A1pyD38Pd21weQMkBUVtfBYeLFd3CXNqcH8VYlQGdjxCAncEeh4gPjQ9GGNBXjM8SBt4CHINc3wsO0xvVgFmfwRddgF_HiA2M3MDNwRBMzgNWWNaJUx-b2YtTG9VAmB7A1h8D3seICl9tY3UUtw0TEw%3D%26cmixid%3D%26cmixvs%3D%26titlesource%3D1%26advertiser_id%3D663212%26content_id%3D230733961%26content_type%3Dpost%26creative%3D3672803%26caid%3D%26os%3D3%26imei%3D%26idfa%3D%26androidid%3D%26ip%3D2603%3A6080%3A6501%3A66b4%3Afd09%3A682c%3Aa0db%3A352d%26ua%3DMozilla%252F5.0%2B%2528Macintosh%253B%2BIntel%2BMac%2BOS%2BX%2B10_15_7%2529%2BAppleWebKit%252F537.36%2B%2528KHTML%252C%2Blike%2BGecko%2529%2BChrome%252F146.0.0.0%2BSafari%252F537.36%26oaid%3D%26isnative%3Dfalse","sign":"75c69638-1de9-470f-ab5e-270e140e1cc4","mobile_experiment":null,"new_asset":"","click_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?tev=0&hp=0&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&zpt=&zpluspt=0&zri=-5148156346465518553&pt=3&cv=&cmv=&iti=__IS_THREE_IMAGE__&zk=&mcdtt=1&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&cl=990000&ar=0.02056315541267395&ed=Cj9QdwlzanF8AzcEQTM_DVpjWjhRfml2eRdqVwJ2Ll8EMVAuBXN8MyEYYEFQMjwNW2NMKQVlOSEgGDQGXSMpFggxBHkOdGh4fhZ0HUE8OUMbMQR6HiI8IS0Yd1BzdX4CHCBQLVA3PyQRQzMERT8-FVl3HHl5cn9yDQBgVVI_P0Q0I1gpTCwoZXwXd1RwYWkCKGALeFQ3KGV8F3dUcGBpAihgC3hUNygfIko1DkV1fgJOdnh6HXEZZXwXPQRBMxNSDWALeB1wG3FgEmdeCGl1CVJ1DXwLcW92dgBgJBRiflIEKk1vCnF_cw8Ud1VydX4CDiZJKR1xaGV9ZGNCBhRqVAgzS3cIbWpwfxZlXwlpfwhedwt5C3tidnkDPQRBKD8NWmNQLUt-amYsVW9RA355BF1yC30LcmJ0fhdjURcgPllWdR85SH5qZj1VJw5VI3EWAixNdwhlOTQ3GCIIQiRqUwMnBHoeIjN9fRJiVANhdRYYNVt3CGU5JDpRb1cXIyUNWHUAeABzOHNjRGYFAX14AlpxFCsMc21tfEFiUVRpewhdcVx5Hiw5MDZCPQZdbX0FTSRLIQVxfCMhVm9RA355BF1yC30LcmJ0fhdjURciPEICeAh7DHVpcGhWOwoMYGpTDzFQdwpwand9FmtRAHYlU1Z0HzxCKmdwaEQkDgxmegNZdAtsWyIzfXwSYlMHZX4WBCZPOAVzdHB-EmRfAmh7A1pyD38Pd21weQMkBUVtfBYeLFd3CXNqcH8VYlQGdjxCAncEeh4gPjQ9GGNBXjM8SBt4CHINc3wsO0xvVgFmfwRddgF_HiA2M3MDNwRBMzgNWWNaJUx-b2YtTG9VAmB7A1h8D3seICl9tY3UUtw0TEw=&cla=2&isy=__IMAGE_STYLE__&mcdti=2012474204252034434&dts=1774720691&mix=__MIX__INFO__&cmi=&at=CjEEKVQqOSuIYIdBvEo7Wg=="],"view_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?tev=0&hp=0&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&zpt=&zpluspt=0&zri=-5148156346465518553&pt=3&cv=&cmv=&iti=__IS_THREE_IMAGE__&zk=&mcdtt=1&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&cl=990000&ar=0.02056315541267395&ed=Cj9QdwlzanF8AzcEQTM_DVpjWjhRfml2eRdqVwJ2Ll8EMVAuBXN8MyEYYEFQMjwNW2NMKQVlOSEgGDQGXSMpFggxBHkOdGh4fhZ0HUE8OUMbMQR6HiI8IS0Yd1BzdX4CHCBQLVA3PyQRQzMERT8-FVl3HHl5cn9yDQBgVVI_P0Q0I1gpTCwoZXwXd1RwYWkCKGALeFQ3KGV8F3dUcGBpAihgC3hUNygfIko1DkV1fgJOdnh6HXEZZXwXPQRBMxNSDWALeB1wG3FgEmdeCGl1CVJ1DXwLcW92dgBgJBRiflIEKk1vCnF_cw8Ud1VydX4CDiZJKR1xaGV9ZGNCBhRqVAgzS3cIbWpwfxZlXwlpfwhedwt5C3tidnkDPQRBKD8NWmNQLUt-amYsVW9RA355BF1yC30LcmJ0fhdjURcgPllWdR85SH5qZj1VJw5VI3EWAixNdwhlOTQ3GCIIQiRqUwMnBHoeIjN9fRJiVANhdRYYNVt3CGU5JDpRb1cXIyUNWHUAeABzOHNjRGYFAX14AlpxFCsMc21tfEFiUVRpewhdcVx5Hiw5MDZCPQZdbX0FTSRLIQVxfCMhVm9RA355BF1yC30LcmJ0fhdjURciPEICeAh7DHVpcGhWOwoMYGpTDzFQdwpwand9FmtRAHYlU1Z0HzxCKmdwaEQkDgxmegNZdAtsWyIzfXwSYlMHZX4WBCZPOAVzdHB-EmRfAmh7A1pyD38Pd21weQMkBUVtfBYeLFd3CXNqcH8VYlQGdjxCAncEeh4gPjQ9GGNBXjM8SBt4CHINc3wsO0xvVgFmfwRddgF_HiA2M3MDNwRBMzgNWWNaJUx-b2YtTG9VAmB7A1h8D3seICl9tY3UUtw0TEw=&cla=2&isy=__IMAGE_STYLE__&mcdti=2012474204252034434&dts=1774720691&mix=__MIX__INFO__&cmi=&at=CjEEPFEmLWm8-o_znDYB"],"view_x_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?tev=0&hp=0&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&zpt=&zpluspt=0&zri=-5148156346465518553&pt=3&cv=&cmv=&iti=__IS_THREE_IMAGE__&zk=&mcdtt=1&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&cl=990000&ar=0.02056315541267395&ed=Cj9QdwlzanF8AzcEQTM_DVpjWjhRfml2eRdqVwJ2Ll8EMVAuBXN8MyEYYEFQMjwNW2NMKQVlOSEgGDQGXSMpFggxBHkOdGh4fhZ0HUE8OUMbMQR6HiI8IS0Yd1BzdX4CHCBQLVA3PyQRQzMERT8-FVl3HHl5cn9yDQBgVVI_P0Q0I1gpTCwoZXwXd1RwYWkCKGALeFQ3KGV8F3dUcGBpAihgC3hUNygfIko1DkV1fgJOdnh6HXEZZXwXPQRBMxNSDWALeB1wG3FgEmdeCGl1CVJ1DXwLcW92dgBgJBRiflIEKk1vCnF_cw8Ud1VydX4CDiZJKR1xaGV9ZGNCBhRqVAgzS3cIbWpwfxZlXwlpfwhedwt5C3tidnkDPQRBKD8NWmNQLUt-amYsVW9RA355BF1yC30LcmJ0fhdjURcgPllWdR85SH5qZj1VJw5VI3EWAixNdwhlOTQ3GCIIQiRqUwMnBHoeIjN9fRJiVANhdRYYNVt3CGU5JDpRb1cXIyUNWHUAeABzOHNjRGYFAX14AlpxFCsMc21tfEFiUVRpewhdcVx5Hiw5MDZCPQZdbX0FTSRLIQVxfCMhVm9RA355BF1yC30LcmJ0fhdjURciPEICeAh7DHVpcGhWOwoMYGpTDzFQdwpwand9FmtRAHYlU1Z0HzxCKmdwaEQkDgxmegNZdAtsWyIzfXwSYlMHZX4WBCZPOAVzdHB-EmRfAmh7A1pyD38Pd21weQMkBUVtfBYeLFd3CXNqcH8VYlQGdjxCAncEeh4gPjQ9GGNBXjM8SBt4CHINc3wsO0xvVgFmfwRddgF_HiA2M3MDNwRBMzgNWWNaJUx-b2YtTG9VAmB7A1h8D3seICl9tY3UUtw0TEw=&cla=2&isy=__IMAGE_STYLE__&mcdti=2012474204252034434&dts=1774720691&mix=__MIX__INFO__&cmi=&at=CjEEPFkvMyQRUT0SUjjPgwqNSpceEg==","https://sugar.zhihu.com/ad-track/zplus_log?tev=0&hp=0&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&zpt=&zpluspt=0&zri=-5148156346465518553&pt=3&cv=&cmv=&iti=__IS_THREE_IMAGE__&zk=&mcdtt=1&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&cl=990000&ar=0.02056315541267395&ed=Cj9QdwlzanF8AzcEQTM_DVpjWjhRfml2eRdqVwJ2Ll8EMVAuBXN8MyEYYEFQMjwNW2NMKQVlOSEgGDQGXSMpFggxBHkOdGh4fhZ0HUE8OUMbMQR6HiI8IS0Yd1BzdX4CHCBQLVA3PyQRQzMERT8-FVl3HHl5cn9yDQBgVVI_P0Q0I1gpTCwoZXwXd1RwYWkCKGALeFQ3KGV8F3dUcGBpAihgC3hUNygfIko1DkV1fgJOdnh6HXEZZXwXPQRBMxNSDWALeB1wG3FgEmdeCGl1CVJ1DXwLcW92dgBgJBRiflIEKk1vCnF_cw8Ud1VydX4CDiZJKR1xaGV9ZGNCBhRqVAgzS3cIbWpwfxZlXwlpfwhedwt5C3tidnkDPQRBKD8NWmNQLUt-amYsVW9RA355BF1yC30LcmJ0fhdjURcgPllWdR85SH5qZj1VJw5VI3EWAixNdwhlOTQ3GCIIQiRqUwMnBHoeIjN9fRJiVANhdRYYNVt3CGU5JDpRb1cXIyUNWHUAeABzOHNjRGYFAX14AlpxFCsMc21tfEFiUVRpewhdcVx5Hiw5MDZCPQZdbX0FTSRLIQVxfCMhVm9RA355BF1yC30LcmJ0fhdjURciPEICeAh7DHVpcGhWOwoMYGpTDzFQdwpwand9FmtRAHYlU1Z0HzxCKmdwaEQkDgxmegNZdAtsWyIzfXwSYlMHZX4WBCZPOAVzdHB-EmRfAmh7A1pyD38Pd21weQMkBUVtfBYeLFd3CXNqcH8VYlQGdjxCAncEeh4gPjQ9GGNBXjM8SBt4CHINc3wsO0xvVgFmfwRddgF_HiA2M3MDNwRBMzgNWWNaJUx-b2YtTG9VAmB7A1h8D3seICl9tY3UUtw0TEw=&cla=2&isy=__IMAGE_STYLE__&mcdti=2012474204252034434&dts=1774720691&mix=__MIX__INFO__&cmi=&at=CjEEPFEmLR820zpS4V8L1jE="],"view_r_tracks":null,"deliver_x_tracks":["http://proxy-ad-track-zplus:10000/ad-track/zplus_log?tev=0&hp=0&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&zpt=&zpluspt=0&zri=-5148156346465518553&pt=3&cv=&cmv=&iti=__IS_THREE_IMAGE__&zk=&mcdtt=1&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&cl=990000&ar=0.02056315541267395&ed=Cj9QdwlzanF8AzcEQTM_DVpjWjhRfml2eRdqVwJ2Ll8EMVAuBXN8MyEYYEFQMjwNW2NMKQVlOSEgGDQGXSMpFggxBHkOdGh4fhZ0HUE8OUMbMQR6HiI8IS0Yd1BzdX4CHCBQLVA3PyQRQzMERT8-FVl3HHl5cn9yDQBgVVI_P0Q0I1gpTCwoZXwXd1RwYWkCKGALeFQ3KGV8F3dUcGBpAihgC3hUNygfIko1DkV1fgJOdnh6HXEZZXwXPQRBMxNSDWALeB1wG3FgEmdeCGl1CVJ1DXwLcW92dgBgJBRiflIEKk1vCnF_cw8Ud1VydX4CDiZJKR1xaGV9ZGNCBhRqVAgzS3cIbWpwfxZlXwlpfwhedwt5C3tidnkDPQRBKD8NWmNQLUt-amYsVW9RA355BF1yC30LcmJ0fhdjURcgPllWdR85SH5qZj1VJw5VI3EWAixNdwhlOTQ3GCIIQiRqUwMnBHoeIjN9fRJiVANhdRYYNVt3CGU5JDpRb1cXIyUNWHUAeABzOHNjRGYFAX14AlpxFCsMc21tfEFiUVRpewhdcVx5Hiw5MDZCPQZdbX0FTSRLIQVxfCMhVm9RA355BF1yC30LcmJ0fhdjURciPEICeAh7DHVpcGhWOwoMYGpTDzFQdwpwand9FmtRAHYlU1Z0HzxCKmdwaEQkDgxmegNZdAtsWyIzfXwSYlMHZX4WBCZPOAVzdHB-EmRfAmh7A1pyD38Pd21weQMkBUVtfBYeLFd3CXNqcH8VYlQGdjxCAncEeh4gPjQ9GGNBXjM8SBt4CHINc3wsO0xvVgFmfwRddgF_HiA2M3MDNwRBMzgNWWNaJUx-b2YtTG9VAmB7A1h8D3seICl9tY3UUtw0TEw=&cla=2&isy=__IMAGE_STYLE__&mcdti=2012474204252034434&dts=1774720691&mix=__MIX__INFO__&cmi=&at=CjEELl0vMzYrVw0fll1t8qj4XUE="],"impression_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?tev=0&hp=0&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&zpt=&zpluspt=0&zri=-5148156346465518553&pt=3&cv=&cmv=&iti=__IS_THREE_IMAGE__&zk=&mcdtt=1&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&cl=990000&ar=0.02056315541267395&ed=Cj9QdwlzanF8AzcEQTM_DVpjWjhRfml2eRdqVwJ2Ll8EMVAuBXN8MyEYYEFQMjwNW2NMKQVlOSEgGDQGXSMpFggxBHkOdGh4fhZ0HUE8OUMbMQR6HiI8IS0Yd1BzdX4CHCBQLVA3PyQRQzMERT8-FVl3HHl5cn9yDQBgVVI_P0Q0I1gpTCwoZXwXd1RwYWkCKGALeFQ3KGV8F3dUcGBpAihgC3hUNygfIko1DkV1fgJOdnh6HXEZZXwXPQRBMxNSDWALeB1wG3FgEmdeCGl1CVJ1DXwLcW92dgBgJBRiflIEKk1vCnF_cw8Ud1VydX4CDiZJKR1xaGV9ZGNCBhRqVAgzS3cIbWpwfxZlXwlpfwhedwt5C3tidnkDPQRBKD8NWmNQLUt-amYsVW9RA355BF1yC30LcmJ0fhdjURcgPllWdR85SH5qZj1VJw5VI3EWAixNdwhlOTQ3GCIIQiRqUwMnBHoeIjN9fRJiVANhdRYYNVt3CGU5JDpRb1cXIyUNWHUAeABzOHNjRGYFAX14AlpxFCsMc21tfEFiUVRpewhdcVx5Hiw5MDZCPQZdbX0FTSRLIQVxfCMhVm9RA355BF1yC30LcmJ0fhdjURciPEICeAh7DHVpcGhWOwoMYGpTDzFQdwpwand9FmtRAHYlU1Z0HzxCKmdwaEQkDgxmegNZdAtsWyIzfXwSYlMHZX4WBCZPOAVzdHB-EmRfAmh7A1pyD38Pd21weQMkBUVtfBYeLFd3CXNqcH8VYlQGdjxCAncEeh4gPjQ9GGNBXjM8SBt4CHINc3wsO0xvVgFmfwRddgF_HiA2M3MDNwRBMzgNWWNaJUx-b2YtTG9VAmB7A1h8D3seICl9tY3UUtw0TEw=&cla=2&isy=__IMAGE_STYLE__&mcdti=2012474204252034434&dts=1774720691&mix=__MIX__INFO__&cmi=&at=CjEEI1UzKCU9VjsIXwyIzIulhGWC"],"conversion_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?tev=0&hp=0&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&zpt=&zpluspt=0&zri=-5148156346465518553&pt=3&cv=&cmv=&iti=__IS_THREE_IMAGE__&zk=&mcdtt=1&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&cl=990000&ar=0.02056315541267395&ed=Cj9QdwlzanF8AzcEQTM_DVpjWjhRfml2eRdqVwJ2Ll8EMVAuBXN8MyEYYEFQMjwNW2NMKQVlOSEgGDQGXSMpFggxBHkOdGh4fhZ0HUE8OUMbMQR6HiI8IS0Yd1BzdX4CHCBQLVA3PyQRQzMERT8-FVl3HHl5cn9yDQBgVVI_P0Q0I1gpTCwoZXwXd1RwYWkCKGALeFQ3KGV8F3dUcGBpAihgC3hUNygfIko1DkV1fgJOdnh6HXEZZXwXPQRBMxNSDWALeB1wG3FgEmdeCGl1CVJ1DXwLcW92dgBgJBRiflIEKk1vCnF_cw8Ud1VydX4CDiZJKR1xaGV9ZGNCBhRqVAgzS3cIbWpwfxZlXwlpfwhedwt5C3tidnkDPQRBKD8NWmNQLUt-amYsVW9RA355BF1yC30LcmJ0fhdjURcgPllWdR85SH5qZj1VJw5VI3EWAixNdwhlOTQ3GCIIQiRqUwMnBHoeIjN9fRJiVANhdRYYNVt3CGU5JDpRb1cXIyUNWHUAeABzOHNjRGYFAX14AlpxFCsMc21tfEFiUVRpewhdcVx5Hiw5MDZCPQZdbX0FTSRLIQVxfCMhVm9RA355BF1yC30LcmJ0fhdjURciPEICeAh7DHVpcGhWOwoMYGpTDzFQdwpwand9FmtRAHYlU1Z0HzxCKmdwaEQkDgxmegNZdAtsWyIzfXwSYlMHZX4WBCZPOAVzdHB-EmRfAmh7A1pyD38Pd21weQMkBUVtfBYeLFd3CXNqcH8VYlQGdjxCAncEeh4gPjQ9GGNBXjM8SBt4CHINc3wsO0xvVgFmfwRddgF_HiA2M3MDNwRBMzgNWWNaJUx-b2YtTG9VAmB7A1h8D3seICl9tY3UUtw0TEw=&cla=2&isy=__IMAGE_STYLE__&mcdti=2012474204252034434&dts=1774720691&mix=__MIX__INFO__&cmi=&at=CjEEKVctLCU8VjsIX1u2KBLeP1SB"],"topstory_tracks":["http://proxy-ad-track-zplus-bid:10000/ad-track/zplus/bid?tev=0&hp=0&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&zpt=&zpluspt=0&zri=-5148156346465518553&pt=3&cv=&cmv=&iti=__IS_THREE_IMAGE__&zk=&mcdtt=1&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&cl=990000&ar=0.02056315541267395&ed=Cj9QdwlzanF8AzcEQTM_DVpjWjhRfml2eRdqVwJ2Ll8EMVAuBXN8MyEYYEFQMjwNW2NMKQVlOSEgGDQGXSMpFggxBHkOdGh4fhZ0HUE8OUMbMQR6HiI8IS0Yd1BzdX4CHCBQLVA3PyQRQzMERT8-FVl3HHl5cn9yDQBgVVI_P0Q0I1gpTCwoZXwXd1RwYWkCKGALeFQ3KGV8F3dUcGBpAihgC3hUNygfIko1DkV1fgJOdnh6HXEZZXwXPQRBMxNSDWALeB1wG3FgEmdeCGl1CVJ1DXwLcW92dgBgJBRiflIEKk1vCnF_cw8Ud1VydX4CDiZJKR1xaGV9ZGNCBhRqVAgzS3cIbWpwfxZlXwlpfwhedwt5C3tidnkDPQRBKD8NWmNQLUt-amYsVW9RA355BF1yC30LcmJ0fhdjURcgPllWdR85SH5qZj1VJw5VI3EWAixNdwhlOTQ3GCIIQiRqUwMnBHoeIjN9fRJiVANhdRYYNVt3CGU5JDpRb1cXIyUNWHUAeABzOHNjRGYFAX14AlpxFCsMc21tfEFiUVRpewhdcVx5Hiw5MDZCPQZdbX0FTSRLIQVxfCMhVm9RA355BF1yC30LcmJ0fhdjURciPEICeAh7DHVpcGhWOwoMYGpTDzFQdwpwand9FmtRAHYlU1Z0HzxCKmdwaEQkDgxmegNZdAtsWyIzfXwSYlMHZX4WBCZPOAVzdHB-EmRfAmh7A1pyD38Pd21weQMkBUVtfBYeLFd3CXNqcH8VYlQGdjxCAncEeh4gPjQ9GGNBXjM8SBt4CHINc3wsO0xvVgFmfwRddgF_HiA2M3MDNwRBMzgNWWNaJUx-b2YtTG9VAmB7A1h8D3seICl9tY3UUtw0TEw=&cla=2&isy=__IMAGE_STYLE__&mcdti=2012474204252034434&dts=1774720691&mix=__MIX__INFO__&cmi=&at=CjEELF0mPh8nSzQIRYVahjjLuoY=&rki=__RANK__INFO__&fri=__FILTER__INFO__&fin=1"],"video_tracks":["https://sugar.zhihu.com/ad-track/zplus_log?tev=0&hp=0&ri=feed-root:currency:f5793a8e-7ec6-4973-8a96-4301ecc40320&zpt=&zpluspt=0&zri=-5148156346465518553&pt=3&cv=&cmv=&iti=__IS_THREE_IMAGE__&zk=&mcdtt=1&ui=2603:6080:6501:66b4:fd09:682c:a0db:352d&cc=990000&cl=990000&ar=0.02056315541267395&ed=Cj9QdwlzanF8AzcEQTM_DVpjWjhRfml2eRdqVwJ2Ll8EMVAuBXN8MyEYYEFQMjwNW2NMKQVlOSEgGDQGXSMpFggxBHkOdGh4fhZ0HUE8OUMbMQR6HiI8IS0Yd1BzdX4CHCBQLVA3PyQRQzMERT8-FVl3HHl5cn9yDQBgVVI_P0Q0I1gpTCwoZXwXd1RwYWkCKGALeFQ3KGV8F3dUcGBpAihgC3hUNygfIko1DkV1fgJOdnh6HXEZZXwXPQRBMxNSDWALeB1wG3FgEmdeCGl1CVJ1DXwLcW92dgBgJBRiflIEKk1vCnF_cw8Ud1VydX4CDiZJKR1xaGV9ZGNCBhRqVAgzS3cIbWpwfxZlXwlpfwhedwt5C3tidnkDPQRBKD8NWmNQLUt-amYsVW9RA355BF1yC30LcmJ0fhdjURcgPllWdR85SH5qZj1VJw5VI3EWAixNdwhlOTQ3GCIIQiRqUwMnBHoeIjN9fRJiVANhdRYYNVt3CGU5JDpRb1cXIyUNWHUAeABzOHNjRGYFAX14AlpxFCsMc21tfEFiUVRpewhdcVx5Hiw5MDZCPQZdbX0FTSRLIQVxfCMhVm9RA355BF1yC30LcmJ0fhdjURciPEICeAh7DHVpcGhWOwoMYGpTDzFQdwpwand9FmtRAHYlU1Z0HzxCKmdwaEQkDgxmegNZdAtsWyIzfXwSYlMHZX4WBCZPOAVzdHB-EmRfAmh7A1pyD38Pd21weQMkBUVtfBYeLFd3CXNqcH8VYlQGdjxCAncEeh4gPjQ9GGNBXjM8SBt4CHINc3wsO0xvVgFmfwRddgF_HiA2M3MDNwRBMzgNWWNaJUx-b2YtTG9VAmB7A1h8D3seICl9tY3UUtw0TEw=&cla=2&isy=__IMAGE_STYLE__&mcdti=2012474204252034434&dts=1774720691&mix=__MIX__INFO__&cmi=&at=CjEEPFEnPy8RVT4GSP2lJbJWhW_G"],"video_play_tracks":null,"debug_tracks":null,"view_as_click_tm":5}'
                      required:
                        - id
                        - type
                        - offset
                        - verb
                        - created_time
                        - updated_time
                        - target
                        - brief
                        - attached_info
                        - action_card
                  paging:
                    type: object
                    properties:
                      is_end:
                        type: boolean
                      is_start:
                        type: boolean
                      next:
                        type: string
                        format: uri
                      previous:
                        type: string
                        format: uri
                      totals:
                        type: integer
                    required:
                      - is_end
                      - is_start
                      - next
                      - previous
                      - totals
                  fresh_text:
                    type: string
                    enum:
                      - 推荐已更新
                required:
                  - data
                  - paging
                  - fresh_text
  /api/v3/oauth/account/unlock/request:
    get:
      operationId: getOauthAccountUnlockRequest
      summary: Get oauth account unlock request
      x-openweb:
        permission: read
        build:
          stable_id: fd8fea0c66336c83
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  unlock_ticket:
                    type: string
                    enum:
                      - AJCC8pcxmQwmAAAAYAJVTbsdyGnL9cqOjpQe_m0iw1VkLQyoRAtkkQ==
                      - AJCC8pcxmQwmAAAAYAJVTcEdyGkh8bylmdenfjnqScMU2Lp0IJlRGQ==
                      - AJCC8pcxmQwmAAAAYAJVTccdyGk7oaJAx7feWh0lXRhBd3OZIVSyHw==
                      - AJCC8pcxmQwmAAAAYAJVTdAdyGl6azuizUlizFie97or7UupLAob3g==
                      - AJCC8pcxmQwmAAAAYAJVTdYdyGnYkV9bxclNAjBft5jjYmcbNskxCw==
                  lock_in:
                    type: integer
                required:
                  - unlock_ticket
                  - lock_in
  /api/v4/ai_ingress/community/answer/{id}/query:
    get:
      operationId: searchAiIngressCommunityAnswerQuery
      summary: Search ai ingress community answer query
      x-openweb:
        permission: read
        build:
          stable_id: cead368bc39a15c6
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                required:
                  - data
  /api/v4/answers/{id}/copyright-applicants:
    get:
      operationId: listAnswersCopyrightApplicants
      summary: List answers copyright-applicants
      x-openweb:
        permission: read
        build:
          stable_id: ef8994c0d8654635
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: limit
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: offset
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    type: object
                    properties:
                      is_end:
                        type: boolean
                      totals:
                        type: integer
                      previous:
                        type: string
                        format: uri
                      is_start:
                        type: boolean
                      next:
                        type: string
                        format: uri
                    required:
                      - is_end
                      - totals
                      - previous
                      - is_start
                      - next
                  data:
                    type: array
                    items:
                      type: object
                required:
                  - paging
                  - data
  /api/v4/answers/{id}/favlists:
    get:
      operationId: listAnswersFavlists
      summary: List answers favlists
      x-openweb:
        permission: read
        build:
          stable_id: 14b865e613e4dadc
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: include
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          example:
            - data[*].answer_count
            - follower_count
            - creator
        - name: limit
          in: query
          required: true
          schema:
            type: integer
          example: 1
        - name: offset
          in: query
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    type: object
                    properties:
                      is_end:
                        type: boolean
                      totals:
                        type: integer
                      previous:
                        type: string
                        format: uri
                      is_start:
                        type: boolean
                      next:
                        type: string
                        format: uri
                    required:
                      - is_end
                      - totals
                      - previous
                      - is_start
                      - next
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          enum:
                            - 大模型
                            - 我的收藏
                            - 新收藏
                            - 计算机网络
                            - 造价
                            - 长期保存
                        url:
                          type: string
                          format: uri
                        creator:
                          type: object
                          properties:
                            avatar_url_template:
                              type: string
                              format: uri
                            badge:
                              type: array
                              items:
                                type: object
                            badge_v2:
                              type: object
                              properties:
                                icon:
                                  type: string
                                  enum:
                                    - ""
                                detail_badges:
                                  type: array
                                  items:
                                    type: object
                                night_icon:
                                  type: string
                                  enum:
                                    - ""
                                merged_badges:
                                  type: array
                                  items:
                                    type: object
                                title:
                                  type: string
                                  enum:
                                    - ""
                              required:
                                - icon
                                - detail_badges
                                - night_icon
                                - merged_badges
                                - title
                            name:
                              type: string
                              enum:
                                - Cadenza
                                - qqqq
                                - xun6688
                                - 吴之桐
                                - 帮box
                                - 手法是多么的重要
                            url:
                              type: string
                              format: uri
                            gender:
                              type: integer
                            headline:
                              type: string
                              enum:
                                - ""
                                - "学生  "
                                - 想讲一个波澜壮阔的故事
                                - 昨日不堪回首
                                - 系外行星的
                            user_type:
                              type: string
                              enum:
                                - people
                            is_advertiser:
                              type: boolean
                            avatar_url:
                              type: string
                              format: uri
                            is_org:
                              type: boolean
                            type:
                              type: string
                              enum:
                                - people
                            url_token:
                              type: string
                              enum:
                                - chen-yi-ru-64-79
                                - liuq-71
                                - pian-ai-95-73
                                - wu-zhi-tong-68
                                - xun6688
                                - yin-cang-ren
                            id:
                              type: string
                              enum:
                                - 1f7506cfda1711cb6dc59ecfc31878e7
                                - 2c19233ed1a3dd7036f11ed7e5da5ae2
                                - 4c037326bb6984ef9f778fa86bdd6259
                                - 4c715f3787aec5fa71154ca012b9ec5a
                                - d4d71b7b95f4ec5ee6a48113a7313713
                                - e7acc8744445508e3f6249acb02334d3
                          required:
                            - avatar_url_template
                            - badge
                            - badge_v2
                            - name
                            - url
                            - gender
                            - headline
                            - user_type
                            - is_advertiser
                            - avatar_url
                            - is_org
                            - type
                            - url_token
                            - id
                        answer_count:
                          type: integer
                        follower_count:
                          type: integer
                        is_public:
                          type: boolean
                        type:
                          type: string
                          enum:
                            - collection
                        id:
                          type: integer
                      required:
                        - title
                        - url
                        - creator
                        - answer_count
                        - follower_count
                        - is_public
                        - type
                        - id
                required:
                  - paging
                  - data
  /api/v4/answers/{id}/relationship:
    get:
      operationId: getAnswersRelationship
      summary: Get answers relationship
      x-openweb:
        permission: read
[...]
