openapi: 3.1.0
info:
  title: zhihu
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-29T06:44:16.243Z
    requires_auth: true
servers:
  - url: https://www.zhihu.com
    x-openweb:
      transport: node
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: _xsrf
        header: x-xsrftoken
paths:
  /api/v3/entity_word:
    get:
      operationId: getEntityWord
      summary: Get entity word annotations for an answer — knowledge card data, linked topics
      x-openweb:
        permission: read
        build:
          stable_id: fe21ae4e0b04002d
          tool_version: 2
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: integer
          example: 1
          description: Answer ID
        - name: type
          in: query
          required: false
          schema:
            type: string
            default: answer
          example: answer
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_words:
                    anyOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            mention:
                              type: string
                            matchorder:
                              type: integer
                            begin:
                              type: integer
                            end:
                              type: integer
                            entityid:
                              type: integer
                            is_book_mark:
                              type: boolean
                            link:
                              type: object
                              properties:
                                link_type:
                                  type: integer
                                link_url:
                                  type: string
                                  description: URL
                                doc_type:
                                  type: string
                                topic_token:
                                  type: string
                              required:
                                - link_type
                                - link_url
                                - doc_type
                                - topic_token
                            entity_class:
                              type: string
                            score:
                              type: number
                            attached_info_bytes:
                              type: string
                            IsOnAB:
                              type: boolean
                            IsNatural:
                              type: integer
                            IsDelete:
                              type: boolean
                            ContentType:
                              type: string
                            ContentId:
                              type: string
                            ContentToken:
                              type: string
                          required:
                            - name
                            - mention
                            - matchorder
                            - begin
                            - end
                            - entityid
                            - is_book_mark
                            - link
                            - entity_class
                            - score
                            - attached_info_bytes
                            - IsOnAB
                            - IsNatural
                            - IsDelete
                            - ContentType
                            - ContentId
                            - ContentToken
                      - type: "null"
                  ab_params:
                    type: object
                    properties:
                      qa_searchword:
                        type: string
                    required:
                      - qa_searchword
                required:
                  - search_words
                  - ab_params
  /api/v3/feed/topstory/recommend:
    get:
      operationId: getFeedRecommend
      summary: Get recommended feed items — question titles, answer excerpts, vote counts, author info, pagination
      x-openweb:
        permission: read
        build:
          stable_id: 27f5d18c6ac460dd
          tool_version: 2
      parameters:
        - name: action
          in: query
          required: false
          schema:
            type: string
          example: down
        - name: after_id
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: desktop
          in: query
          required: false
          schema:
            type: string
            default: "true"
          example: "true"
          description: Desktop mode flag
        - name: end_offset
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: page_number
          in: query
          required: false
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        offset:
                          type: integer
                        verb:
                          type: string
                        created_time:
                          type: integer
                        updated_time:
                          type: integer
                        target:
                          type: object
                          properties:
                            created_time:
                              type: integer
                            reshipment_settings:
                              type: string
                            navigator_vote:
                              type: boolean
                            id:
                              type: string
                            is_copyable:
                              type: boolean
                            excerpt:
                              type: string
                            thumbnails:
                              type: array
                              items:
                                type: string
                                description: URL
                            vote_next_step:
                              type: string
                            preview_type:
                              type: string
                            answer_type:
                              type: string
                            reaction:
                              type: object
                              properties:
                                relation:
                                  type: object
                                  properties:
                                    liked:
                                      type: boolean
                                    faved:
                                      type: boolean
                                  required:
                                    - liked
                                    - faved
                                statistics:
                                  type: object
                                  properties:
                                    like_count:
                                      type: integer
                                    favorites:
                                      type: integer
                                  required:
                                    - like_count
                                    - favorites
                              required:
                                - relation
                                - statistics
                            type:
                              type: string
                            author:
                              type: object
                              properties:
                                followers_count:
                                  type: integer
                                id:
                                  type: string
                                user_type:
                                  type: string
                                name:
                                  type: string
                                headline:
                                  type: string
                                gender:
                                  type: integer
                                is_following:
                                  type: boolean
                                is_followed:
                                  type: boolean
                                url:
                                  type: string
                                  description: URL
                                url_token:
                                  type: string
                                avatar_url:
                                  type: string
                                  description: URL
                                is_org:
                                  type: boolean
                                badge:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      description:
                                        type: string
                                      topic_names:
                                        type: array
                                        items:
                                          type: string
                                      topic_ids:
                                        type: array
                                        items:
                                          type: integer
                                    required:
                                      - type
                                      - description
                              required:
                                - followers_count
                                - id
                                - user_type
                                - name
                                - headline
                                - gender
                                - is_following
                                - is_followed
                                - url
                                - url_token
                                - avatar_url
                                - is_org
                            updated_time:
                              type: integer
                            voteup_count:
                              type: integer
                            visited_count:
                              type: integer
                            allow_segment_interaction:
                              type: boolean
                            thanks_count:
                              type: integer
                            is_labeled:
                              type: boolean
                            favorite_count:
                              type: integer
                            excerpt_new:
                              type: string
                            relationship:
                              type: object
                              properties:
                                is_thanked:
                                  type: boolean
                                is_nothelp:
                                  type: boolean
                                voting:
                                  type: integer
                              required:
                                - is_thanked
                                - is_nothelp
                                - voting
                            is_navigator:
                              type: boolean
                            url:
                              type: string
                              description: URL
                            comment_count:
                              type: integer
                            question:
                              type: object
                              properties:
                                created:
                                  type: integer
                                is_following:
                                  type: boolean
                                relationship:
                                  type: object
                                  properties:
                                    is_author:
                                      type: boolean
                                  required:
                                    - is_author
                                excerpt:
                                  type: string
                                question_type:
                                  type: string
                                answer_count:
                                  type: integer
                                follower_count:
                                  type: integer
                                comment_count:
                                  type: integer
                                bound_topic_ids:
                                  type: array
                                  items:
                                    type: integer
                                id:
                                  type: string
                                url:
                                  type: string
                                  description: URL
                                author:
                                  type: object
                                  properties:
                                    url:
                                      type: string
                                      description: URL
                                    avatar_url:
                                      type: string
                                      description: URL
                                    followers_count:
                                      type: integer
                                    is_followed:
                                      type: boolean
                                    headline:
                                      type: string
                                    is_org:
                                      type: boolean
                                    gender:
                                      type: integer
                                    is_following:
                                      type: boolean
                                    id:
                                      type: string
                                    user_type:
                                      type: string
                                    url_token:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                    - url
                                    - avatar_url
                                    - followers_count
                                    - is_followed
                                    - headline
                                    - is_org
                                    - gender
                                    - is_following
                                    - id
                                    - user_type
                                    - url_token
                                    - name
                                title:
                                  type: string
                                type:
                                  type: string
                                detail:
                                  type: string
                              required:
                                - created
                                - is_following
                                - relationship
                                - excerpt
                                - question_type
                                - answer_count
                                - follower_count
                                - comment_count
                                - id
                                - url
                                - author
                                - title
                                - type
                                - detail
                            thumbnail:
                              type: string
                              description: URL
                            preview_text:
                              type: string
                            content:
                              type: string
                            reaction_instruction:
                              type: object
                              properties:
                                REACTION_COMMENT_NEWEST_LIST:
                                  type: string
                            segment_infos:
                              type: array
                              items:
                                type: object
                                properties:
                                  pid:
                                    type: string
                                  text:
                                    type: string
                                  marks:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        start_index:
                                          type: integer
                                        end_index:
                                          type: integer
                                        seg_info:
                                          type: object
                                          properties:
                                            seg_ids:
                                              type: array
                                              items:
                                                type: string
                                            is_like:
                                              type: boolean
                                            like_count:
                                              type: integer
                                            comment_count:
                                              type: integer
                                            my_comment_count:
                                              type: integer
                                            is_span:
                                              type: boolean
                                          required:
                                            - seg_ids
                                            - is_like
                                            - like_count
                                            - comment_count
                                            - my_comment_count
                                            - is_span
                                      required:
                                        - start_index
                                        - end_index
                                        - seg_info
                                required:
                                  - pid
                                  - text
                                  - marks
                            title:
                              type: string
                            linkbox:
                              type: object
                              properties:
                                category:
                                  type: string
                                pic:
                                  type: string
                                title:
                                  type: string
                                url:
                                  type: string
                              required:
                                - category
                                - pic
                                - title
                                - url
                            updated:
                              type: integer
                            article_type:
                              type: string
                            comment_permission:
                              type: string
                            created:
                              type: integer
                            voting:
                              type: integer
                          required:
                            - navigator_vote
                            - id
                            - excerpt
                            - vote_next_step
                            - preview_type
                            - reaction
                            - type
                            - author
                            - voteup_count
                            - visited_count
                            - allow_segment_interaction
                            - is_labeled
                            - favorite_count
                            - excerpt_new
                            - is_navigator
                            - url
                            - comment_count
                            - preview_text
                            - content
                        brief:
                          type: string
                        attached_info:
                          type: string
                        action_card:
                          type: boolean
                      required:
                        - id
                        - type
                        - offset
                        - verb
                        - created_time
                        - updated_time
                        - target
                        - brief
                        - attached_info
                        - action_card
                  paging:
                    type: object
                    properties:
                      is_end:
                        type: boolean
                      is_start:
                        type: boolean
                      next:
                        type: string
                        description: URL
                      previous:
                        type: string
                        description: URL
                      totals:
                        type: integer
                    required:
                      - is_end
                      - is_start
                      - next
                      - previous
                      - totals
                  fresh_text:
                    type: string
                required:
                  - data
                  - paging
                  - fresh_text
  /api/v3/moments/{url_token}/activities:
    get:
      operationId: listMemberActivities
      summary: List user recent activity feed — answers, articles, upvotes, timestamps
      x-openweb:
        permission: read
        build:
          stable_id: 36eae2abb0983ca3
          tool_version: 2
      parameters:
        - name: url_token
          in: path
          required: true
          schema:
            type: string
          description: User URL token (username slug)
          example: zhang-jia-wei
        - name: desktop
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          example: 1
          description: Max items (default 5)
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          example: 1
        - name: page_num
          in: query
          required: false
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        target:
                          type: object
                          properties:
                            ab_config:
                              type: object
                              properties:
                                md_interact_unify:
                                  type: string
                              required:
                                - md_interact_unify
                            admin_closed_comment:
                              type: boolean
                            author:
                              type: object
                              properties:
                                avatar_url:
                                  type: string
                                  description: URL
                                badge:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      description:
                                        type: string
                                      topics:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                            name:
                                              type: string
                                            type:
                                              type: string
                                          required:
                                            - id
                                            - name
                                            - type
                                      type:
                                        type: string
                                      topic_names:
                                        type: array
                                        items:
                                          type: string
                                    required:
                                      - description
                                      - topics
                                      - type
                                badge_v2:
                                  type: object
                                  properties:
                                    detail_badges:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          badge_status:
                                            type: string
                                          description:
                                            type: string
                                          detail_type:
                                            type: string
                                          icon:
                                            type: string
                                            description: URL
                                          night_icon:
                                            type: string
                                            description: URL
                                          sources:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                avatar_path:
                                                  type: string
                                                avatar_url:
                                                  type: string
                                                description:
                                                  type: string
                                                id:
                                                  type: string
                                                name:
                                                  type: string
                                                priority:
                                                  type: integer
                                                token:
                                                  type: string
                                                type:
                                                  type: string
                                                url:
                                                  type: string
                                              required:
                                                - avatar_path
                                                - avatar_url
                                                - description
                                                - id
                                                - name
                                                - priority
                                                - token
                                                - type
                                                - url
                                          title:
                                            type: string
                                          type:
                                            type: string
                                          url:
                                            type: string
                                        required:
                                          - description
                                          - detail_type
                                          - icon
                                          - night_icon
                                          - sources
                                          - title
                                          - type
                                          - url
                                    icon:
                                      type: string
                                    merged_badges:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          badge_status:
                                            type: string
                                          description:
                                            type: string
                                          detail_type:
                                            type: string
                                          icon:
                                            type: string
                                          night_icon:
                                            type: string
                                          sources:
                                            type: array
                                            items:
                                              type: object
                                              description: Object with variable structure
                                          title:
                                            type: string
                                          type:
                                            type: string
                                          url:
                                            type: string
                                            description: URL
                                        required:
                                          - description
                                          - detail_type
                                          - icon
                                          - night_icon
                                          - sources
                                          - title
                                          - type
                                          - url
                                    night_icon:
                                      type: string
                                    title:
                                      type: string
                                  required:
                                    - detail_badges
                                    - icon
                                    - merged_badges
                                    - night_icon
                                    - title
                                exposed_medal:
                                  type: object
                                  properties:
                                    avatar_url:
                                      type: string
                                      description: URL
                                    description:
                                      type: string
                                    medal_avatar_frame:
                                      type: string
                                    medal_id:
                                      type: string
                                    medal_name:
                                      type: string
                                    mini_avatar_url:
                                      type: string
                                      description: URL
                                  required:
                                    - avatar_url
                                    - description
                                    - medal_avatar_frame
                                    - medal_id
                                    - medal_name
                                    - mini_avatar_url
                                follower_count:
                                  type: integer
                                gender:
                                  type: integer
                                headline:
                                  type: string
                                id:
                                  type: string
                                is_advertiser:
                                  type: boolean
                                is_blocked:
                                  type: boolean
                                is_blocking:
                                  type: boolean
                                is_followed:
                                  type: boolean
                                is_following:
                                  type: boolean
                                is_org:
                                  type: boolean
                                is_special_follow:
                                  type: boolean
                                kvip_info:
                                  type: object
                                  properties:
                                    is_vip:
                                      type: boolean
                                    target_url:
                                      type: string
                                  required:
                                    - is_vip
                                    - target_url
                                name:
                                  type: string
                                reaction_count:
                                  type: integer
                                type:
                                  type: string
                                url:
                                  type: string
                                url_token:
                                  type: string
                                user_type:
                                  type: string
                                vip_info:
                                  type: object
                                  properties:
                                    is_vip:
                                      type: boolean
                                    target_url:
                                      type: string
                                    widget:
                                      type: object
                                      properties:
                                        url:
                                          type: string
                                          description: URL
                                        night_mode_url:
                                          type: string
                                          description: URL
                                        id:
                                          type: integer
                                      required:
                                        - url
                                        - night_mode_url
                                        - id
                                  required:
                                    - is_vip
                              required:
                                - avatar_url
                                - badge
                                - badge_v2
                                - gender
                                - headline
                                - id
                                - is_followed
                                - is_following
                                - is_org
                                - kvip_info
                                - name
                                - type
                                - url
                                - url_token
                                - user_type
                                - vip_info
                            can_top:
                              type: boolean
                            comment_count:
                              type: integer
                            comment_permission:
                              type: string
                            comments:
                              type: array
                              items:
                                type: object
                                description: Object with variable structure
                            content:
                              anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      content:
                                        type: string
                                      fold_type:
                                        type: string
                                      own_text:
                                        type: string
                                      text_link_type:
                                        type: string
                                      title:
                                        type: string
                                      type:
                                        type: string
                                    required:
                                      - content
                                      - fold_type
                                      - own_text
                                      - text_link_type
                                      - title
                                      - type
                                - type: string
                            content_html:
                              type: string
                            created:
                              type: integer
                            creation_disclaimer:
                              type: string
                            excerpt_title:
                              type: string
                            favlists_count:
                              type: integer
                            favorite_count:
                              type: integer
                            id:
                              type: string
                            is_admin_close_repin:
                              type: boolean
                            is_contain_ai_content:
                              type: boolean
                            is_deleted:
                              type: boolean
                            is_top:
                              type: boolean
                            like_count:
                              type: integer
                            likers:
                              type: array
                              items:
                                type: object
                                properties:
                                  avatar_url:
                                    type: string
                                    description: URL
                                  badge_v2:
                                    type: object
                                    properties:
                                      detail_badges:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            badge_status:
                                              type: string
                                            description:
                                              type: string
                                            detail_type:
                                              type: string
                                            icon:
                                              type: string
                                              description: URL
                                            night_icon:
                                              type: string
                                              description: URL
                                            sources:
                                              type: array
                                              items:
                                                type: object
                                                description: Object with variable structure
                                            title:
                                              type: string
                                            type:
                                              type: string
                                            url:
                                              type: string
                                              description: URL
                                          required:
                                            - badge_status
                                            - description
                                            - detail_type
                                            - icon
                                            - night_icon
                                            - sources
                                            - title
                                            - type
                                            - url
                                      icon:
                                        type: string
                                      merged_badges:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            badge_status:
                                              type: string
                                            description:
                                              type: string
                                            detail_type:
                                              type: string
                                            icon:
                                              type: string
                                            night_icon:
                                              type: string
                                            sources:
                                              type: array
                                              items:
                                                type: object
                                                description: Object with variable structure
                                            title:
                                              type: string
                                            type:
                                              type: string
                                            url:
                                              type: string
                                              description: URL
                                          required:
                                            - badge_status
                                            - description
                                            - detail_type
                                            - icon
                                            - night_icon
                                            - sources
                                            - title
                                            - type
                                            - url
                                      night_icon:
                                        type: string
                                      title:
                                        type: string
                                    required:
                                      - detail_badges
                                      - icon
                                      - merged_badges
                                      - night_icon
                                      - title
                                  exposed_medal:
                                    type: object
                                    properties:
                                      avatar_url:
                                        type: string
                                        description: URL
                                      description:
                                        type: string
                                      medal_avatar_frame:
                                        type: string
                                      medal_id:
                                        type: string
                                      medal_name:
                                        type: string
                                      mini_avatar_url:
                                        type: string
                                        description: URL
                                    required:
                                      - avatar_url
                                      - description
                                      - medal_avatar_frame
                                      - medal_id
                                      - medal_name
                                      - mini_avatar_url
                                  follower_count:
                                    type: integer
                                  gender:
                                    type: integer
                                  headline:
                                    type: string
                                  id:
                                    type: string
                                  is_advertiser:
                                    type: boolean
                                  is_blocked:
                                    type: boolean
                                  is_blocking:
                                    type: boolean
                                  is_followed:
                                    type: boolean
                                  is_following:
                                    type: boolean
                                  is_org:
                                    type: boolean
                                  is_special_follow:
                                    type: boolean
                                  kvip_info:
                                    type: object
                                    properties:
                                      is_vip:
                                        type: boolean
                                      target_url:
                                        type: string
                                      vip_icon:
                                        type: object
                                        properties:
                                          night_mode_url:
                                            type: string
                                            description: URL
                                          url:
                                            type: string
                                            description: URL
                                        required:
                                          - night_mode_url
                                          - url
                                    required:
                                      - is_vip
                                      - target_url
                                  name:
                                    type: string
                                  reaction_count:
                                    type: integer
                                  type:
                                    type: string
                                  url:
                                    type: string
                                  url_token:
                                    type: string
                                  user_type:
                                    type: string
                                  vip_info:
                                    type: object
                                    properties:
                                      is_vip:
                                        type: boolean
                                      widget:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          night_mode_url:
                                            type: string
                                            description: URL
                                          url:
                                            type: string
                                            description: URL
                                        required:
                                          - id
                                          - night_mode_url
                                          - url
                                    required:
                                      - is_vip
                                  badge:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        description:
                                          type: string
                                        type:
                                          type: string
                                      required:
                                        - description
                                        - type
                                required:
                                  - avatar_url
                                  - badge_v2
                                  - exposed_medal
                                  - follower_count
                                  - gender
                                  - headline
                                  - id
                                  - is_advertiser
                                  - is_blocked
                                  - is_blocking
                                  - is_followed
                                  - is_following
                                  - is_org
                                  - is_special_follow
                                  - kvip_info
                                  - name
                                  - reaction_count
                                  - type
                                  - url
                                  - url_token
                                  - user_type
                                  - vip_info
                            long_threshold:
                              type: array
                              items:
                                type: object
                                properties:
                                  height:
                                    type: integer
                                  width:
                                    type: integer
                                required:
                                  - height
                                  - width
                            meet_reaction_guide_conditions:
                              type: boolean
                            page_view_count:
                              type: "null"
                            pin_type:
                              type: string
                            questions:
                              type: "null"
                            reaction:
                              type: object
                              properties:
                                image_reactions:
                                  type: object
                                  properties: {}
                                  required: []
                                relation:
                                  type: object
                                  properties:
                                    current_user_is_navigator:
                                      type: boolean
                                    faved:
                                      type: boolean
                                    following:
                                      type: boolean
                                    is_author:
                                      type: boolean
                                    is_navigator_vote:
                                      type: boolean
                                    liked:
                                      type: boolean
                                    subcribed:
                                      type: boolean
                                    vote:
                                      type: string
                                    vote_next_step:
                                      type: string
                                  required:
                                    - current_user_is_navigator
                                    - faved
                                    - following
                                    - is_author
                                    - is_navigator_vote
                                    - liked
                                    - subcribed
                                    - vote
                                    - vote_next_step
                                special_reaction_style:
                                  type: object
                                  properties:
                                    is_hit:
                                      type: boolean
                                  required:
                                    - is_hit
                                statistics:
                                  type: object
                                  properties:
                                    applaud_count:
                                      type: integer
                                    bullet_count:
                                      type: integer
                                    comment_count:
                                      type: integer
                                    down_vote_count:
                                      type: integer
                                    favorites:
                                      type: integer
                                    interest_play_count:
                                      type: integer
                                    like_count:
                                      type: integer
                                    plaincontent_like_count:
                                      type: integer
                                    plaincontent_vote_up_count:
                                      type: integer
                                    play_count:
                                      type: integer
                                    pv_count:
                                      type: integer
                                    question_answer_count:
                                      type: integer
                                    question_follower_count:
                                      type: integer
                                    republishers:
                                      type: array
                                      items:
                                        type: object
                                        description: Object with variable structure
                                    share_count:
                                      type: integer
                                    subscribe_count:
                                      type: integer
                                    up_vote_count:
                                      type: integer
                                  required:
                                    - applaud_count
                                    - bullet_count
                                    - comment_count
                                    - down_vote_count
                                    - favorites
                                    - interest_play_count
                                    - like_count
                                    - plaincontent_like_count
                                    - plaincontent_vote_up_count
                                    - play_count
                                    - pv_count
                                    - question_answer_count
                                    - question_follower_count
                                    - republishers
                                    - share_count
                                    - subscribe_count
                                    - up_vote_count
                              required:
                                - image_reactions
                                - relation
                                - special_reaction_style
                                - statistics
                            reaction_count:
                              type: integer
                            reaction_instruction:
                              type: object
                              properties: {}
                              required: []
                            reaction_relation:
                              type: object
                              properties:
                                like:
                                  type: integer
                                vote:
                                  type: integer
                              required:
                                - like
                                - vote
                            regulate_info:
                              type: object
                              properties:
                                is_regulating:
                                  type: boolean
                              required:
                                - is_regulating
                            repin_count:
                              type: integer
                            ring_info:
                              type: "null"
                            self_create:
                              type: boolean
                            source_pin_id:
                              type: integer
                            state:
                              type: string
                            tag_specials:
                              type: object
                              properties: {}
                              required: []
                            tags:
                              type: array
                              items:
                                type: string
                            top_reactions:
                              type: object
                              properties:
                                like:
                                  type: integer
                              required:
                                - like
                            topics:
                              anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      name:
                                        type: string
                                      topic_type:
                                        type: string
                                      type:
                                        type: string
                                      url:
                                        type: string
                                    required:
                                      - id
                                      - name
                                      - topic_type
                                      - type
                                      - url
                                - type: "null"
                            type:
                              type: string
                            updated:
                              type: integer
                            url:
                              type: string
                              description: URL
                            view_permission:
                              type: string
                            virtuals:
                              type: object
                              properties:
                                is_favorited:
                                  type: boolean
                                is_liked:
                                  type: boolean
                              required:
                                - is_favorited
                                - is_liked
                            title:
                              type: string
                            excerpt:
                              type: string
                            excerpt_new:
                              type: string
                            preview_type:
                              type: string
                            preview_text:
                              type: string
                            voteup_count:
                              type: integer
                            image_url:
                              type: string
                            linkbox:
                              type: object
                              properties:
                                url:
                                  type: string
                                category:
                                  type: string
                                pic:
                                  type: string
                                title:
                                  type: string
                              required:
                                - url
                                - category
                                - pic
                                - title
                            upvoted_followees:
                              type: array
                              items:
                                type: object
                                description: Object with variable structure
                            voting:
                              type: integer
                            content_need_truncated:
                              type: boolean
                            force_login_when_click_read_more:
                              type: boolean
                            is_navigator:
                              type: boolean
                            navigator_vote:
                              type: boolean
                            vote_next_step:
                              type: string
                            allow_segment_interaction:
                              type: integer
                            thanks_count:
                              type: integer
                            question:
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                url:
                                  type: string
                                  description: URL
                                type:
                                  type: string
                                question_type:
                                  type: string
                                created:
                                  type: integer
                                answer_count:
                                  type: integer
                                comment_count:
                                  type: integer
                                follower_count:
                                  type: integer
                                detail:
                                  type: string
                                excerpt:
                                  type: string
                                bound_topic_ids:
                                  type: array
                                  items:
                                    type: integer
                                relationship:
                                  type: object
                                  properties:
                                    is_author:
                                      type: boolean
                                  required:
                                    - is_author
                                is_following:
                                  type: boolean
                                author:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    name:
                                      type: string
                                    headline:
                                      type: string
                                    type:
                                      type: string
                                    user_type:
                                      type: string
                                    url:
                                      type: string
                                      description: URL
                                    url_token:
                                      type: string
                                    avatar_url:
                                      type: string
                                      description: URL
                                    gender:
                                      type: integer
                                    is_following:
                                      type: boolean
                                    is_followed:
                                      type: boolean
                                    is_org:
                                      type: boolean
                                    badge:
                                      type: array
                                      items:
                                        type: object
                                        description: Badge info with type and description
                                    badge_v2:
                                      type: object
                                      properties:
                                        title:
                                          type: string
                                        merged_badges:
                                          type: array
                                          items:
                                            type: object
                                            description: Merged badge entry with type, title, description, and URL
                                        detail_badges:
                                          type: array
                                          items:
                                            type: object
                                            description: Detail badge entry with type, title, icon, and night_icon URLs
                                        icon:
                                          type: string
                                        night_icon:
                                          type: string
                                      required:
                                        - title
                                        - merged_badges
                                        - detail_badges
                                        - icon
                                        - night_icon
                                    vip_info:
                                      type: object
                                      properties:
                                        is_vip:
                                          type: boolean
                                        target_url:
                                          type: string
                                        widget:
                                          type: object
                                          properties:
                                            url:
                                              type: string
                                              description: URL
                                            night_mode_url:
                                              type: string
                                              description: URL
                                            id:
                                              type: integer
                                          required:
                                            - url
                                            - night_mode_url
                                            - id
                                      required:
                                        - is_vip
                                        - target_url
                                    kvip_info:
                                      type: object
                                      properties:
                                        is_vip:
                                          type: boolean
                                        target_url:
                                          type: string
                                      required:
                                        - is_vip
                                        - target_url
                                  required:
                                    - id
                                    - name
                                    - headline
                                    - type
                                    - user_type
                                    - url
                                    - url_token
                                    - avatar_url
                                    - gender
                                    - is_following
                                    - is_followed
                                    - is_org
                                    - badge
                                    - badge_v2
                                    - vip_info
                                    - kvip_info
                                reaction_instruction:
                                  type: "null"
                              required:
                                - id
                                - title
                                - url
                                - type
                                - question_type
                                - created
                                - answer_count
                                - comment_count
                                - follower_count
                                - detail
                                - excerpt
                                - bound_topic_ids
                                - relationship
                                - is_following
                                - author
                                - reaction_instruction
                            updated_time:
                              type: integer
                            created_time:
                              type: integer
                            is_copyable:
                              type: boolean
                            can_comment:
                              type: object
                              properties:
                                status:
                                  type: boolean
                                reason:
                                  type: string
                              required:
                                - status
                                - reason
                            relationship:
                              type: object
                              properties:
                                voting:
                                  type: integer
                                is_thanked:
                                  type: boolean
                                is_nothelp:
                                  type: boolean
                                upvoted_followee_ids:
                                  type: "null"
                              required:
                                - voting
                                - is_thanked
                                - is_nothelp
                                - upvoted_followee_ids
                            relevant_info:
                              type: object
                              properties:
                                relevant_type:
                                  type: string
                                is_relevant:
                                  type: boolean
                                relevant_text:
                                  type: string
                              required:
                                - relevant_type
                                - is_relevant
                                - relevant_text
                            reshipment_settings:
                              type: string
                            answer_type:
                              type: string
                            paid_info:
                              type: object
                              properties:
                                type:
                                  type: string
                                content:
                                  type: string
                                has_purchased:
                                  type: boolean
                              required:
                                - type
                                - content
                                - has_purchased
                            attachment:
                              type: "null"
                            mark_infos:
                              type: array
                              items:
                                type: object
                                description: Object with variable structure
                            segment_infos:
                              type: array
                              items:
                                type: object
                                properties:
                                  pid:
                                    type: string
                                  text:
                                    type: string
                                  marks:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        start_index:
                                          type: integer
                                        end_index:
                                          type: integer
                                        seg_info:
                                          type: object
                                          properties:
                                            seg_ids:
                                              type: array
                                              items:
                                                type: string
                                            is_like:
                                              type: boolean
                                            like_count:
                                              type: integer
                                            comment_count:
                                              type: integer
                                            my_comment_count:
                                              type: integer
                                            is_span:
                                              type: boolean
                                          required:
                                            - seg_ids
                                            - is_like
                                            - like_count
                                            - comment_count
                                            - my_comment_count
                                            - is_span
                                      required:
                                        - start_index
                                        - end_index
                                        - seg_info
                                required:
                                  - pid
                                  - text
                                  - marks
                        verb:
                          type: string
                        created_time:
                          type: integer
                        interaction:
                          type: object
                          properties:
                            can_show_sticker:
                              type: boolean
                        actor:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            headline:
                              type: string
                            type:
                              type: string
                            user_type:
                              type: string
                            url:
                              type: string
                              description: URL
                            url_token:
                              type: string
                            avatar_url:
                              type: string
                              description: URL
                            gender:
                              type: integer
                            is_following:
                              type: boolean
                            is_followed:
                              type: boolean
                            is_org:
                              type: boolean
                            badge:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                  description:
                                    type: string
                                  topic_names:
                                    type: array
                                    items:
                                      type: string
                                  topics:
                                    type: array
                                    items:
                                      type: object
                                      description: Topic reference with id, name, and URL
                                required:
                                  - type
                                  - description
                                  - topic_names
                                  - topics
                            badge_v2:
                              type: object
                              properties:
                                title:
                                  type: string
                                merged_badges:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      detail_type:
                                        type: string
                                      title:
                                        type: string
                                      description:
                                        type: string
                                      url:
                                        type: string
                                        description: URL
                                      sources:
                                        type: array
                                        items:
                                          type: object
                                          description: Object with variable structure
                                      icon:
                                        type: string
                                      night_icon:
                                        type: string
                                    required:
                                      - type
                                      - detail_type
                                      - title
                                      - description
                                      - url
                                      - sources
                                      - icon
                                      - night_icon
                                detail_badges:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      detail_type:
                                        type: string
                                      title:
                                        type: string
                                      description:
                                        type: string
                                      url:
                                        type: string
                                      sources:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                            token:
                                              type: string
                                            type:
                                              type: string
                                            url:
                                              type: string
                                            name:
                                              type: string
                                            avatar_path:
                                              type: string
                                            avatar_url:
                                              type: string
                                            description:
                                              type: string
                                            priority:
                                              type: integer
                                          required:
                                            - id
                                            - token
                                            - type
                                            - url
                                            - name
                                            - avatar_path
                                            - avatar_url
                                            - description
                                            - priority
                                      icon:
                                        type: string
                                        description: URL
                                      night_icon:
                                        type: string
                                        description: URL
                                    required:
                                      - type
                                      - detail_type
                                      - title
                                      - description
                                      - url
                                      - sources
                                      - icon
                                      - night_icon
                                icon:
                                  type: string
                                  description: URL
                                night_icon:
                                  type: string
                                  description: URL
                              required:
                                - title
                                - merged_badges
                                - detail_badges
                                - icon
                                - night_icon
                            vip_info:
                              type: object
                              properties:
                                is_vip:
                                  type: boolean
                                target_url:
                                  type: string
                              required:
                                - is_vip
                                - target_url
                            kvip_info:
                              type: object
                              properties:
                                is_vip:
                                  type: boolean
                                target_url:
                                  type: string
                              required:
                                - is_vip
                                - target_url
                        action_text:
                          type: string
                        is_sticky:
                          type: boolean
                  paging:
                    type: object
                    properties:
                      is_end:
                        type: boolean
                      need_force_login:
                        type: boolean
                      next:
                        type: string
                        description: URL
                    required:
                      - is_end
                      - need_force_login
                      - next
                required:
                  - data
                  - paging
  /api/v4/me:
    get:
      operationId: getMe
      summary: Get current authenticated user info — name, avatar, follower count, answer count, notification counts
      x-openweb:
        permission: read
        build:
          stable_id: ba0c00fc4238c265
          tool_version: 2
      parameters:
        - name: include
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          example:
            - is_realname
          description: Comma-separated fields to include
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  url_token:
                    type: string
                  name:
                    type: string
                  use_default_avatar:
                    type: boolean
                  avatar_url:
                    type: string
                    description: URL
                  avatar_url_template:
                    type: string
                    description: URL
                  is_org:
                    type: boolean
                  type:
                    type: string
                  url:
                    type: string
                    description: URL
                  user_type:
                    type: string
                  headline:
                    type: string
                  headline_render:
                    type: string
                  gender:
                    type: integer
                  is_advertiser:
                    type: boolean
                  ip_info:
                    type: string
                  vip_info:
                    type: object
                    properties:
                      is_vip:
                        type: boolean
                      vip_type:
                        type: integer
                      rename_days:
                        type: string
                      entrance_v2:
                        type: "null"
                      rename_frequency:
                        type: integer
                      rename_await_days:
                        type: integer
                    required:
                      - is_vip
                      - vip_type
                      - rename_days
                      - rename_frequency
                      - rename_await_days
                  kvip_info:
                    type: object
                    properties:
                      is_vip:
                        type: boolean
                    required:
                      - is_vip
                  account_status:
                    type: array
                    items:
                      type: object
                      description: Object with variable structure
                  is_destroy_waiting:
                    type: boolean
                  answer_count:
                    type: integer
                  question_count:
                    type: integer
                  articles_count:
                    type: integer
                  columns_count:
                    type: integer
                  zvideo_count:
                    type: integer
                  favorite_count:
                    type: integer
                  pins_count:
                    type: integer
                  voteup_count:
                    type: integer
                  thanked_count:
                    type: integer
                  line_comment_count:
                    type: integer
                  line_like_count:
                    type: integer
                  line_comment_only_count:
                    type: integer
                  available_medals_count:
                    type: integer
                  org_verify_status:
                    type: "null"
                  uid:
                    type: string
                  default_notifications_count:
                    type: integer
                  follow_notifications_count:
                    type: integer
                  vote_thank_notifications_count:
                    type: integer
                  messages_count:
                    type: integer
                  creation_count:
                    type: integer
                  is_bind_phone:
                    type: boolean
                  is_realname:
                    type: boolean
                  has_applying_column:
                    type: boolean
                  has_add_baike_summary_permission:
                    type: boolean
                  editor_info:
                    type: array
                    items:
                      type: string
                  available_message_types:
                    type: array
                    items:
                      type: string
                  ai_assistant_info:
                    type: "null"
                  is_active:
                    type: integer
                  mcn_user_info:
                    type: object
                    properties:
                      status:
                        type: integer
                      showcase_permission:
                        type: integer
                      jingdong_param:
                        type: string
                      jingdong_app_param:
                        type: string
                      available_source:
                        type: array
                        items:
                          type: object
                          description: Object with variable structure
                      bind_info:
                        type: array
                        items:
                          type: object
                          properties:
                            pid:
                              type: string
                            source:
                              type: string
                      goods_count:
                        type: integer
                required:
                  - id
                  - url_token
                  - name
                  - use_default_avatar
                  - avatar_url
                  - avatar_url_template
                  - is_org
                  - type
                  - url
                  - user_type
                  - headline
                  - headline_render
                  - gender
                  - is_advertiser
                  - ip_info
                  - vip_info
                  - kvip_info
                  - answer_count
                  - question_count
                  - articles_count
                  - columns_count
                  - zvideo_count
                  - favorite_count
                  - pins_count
                  - voteup_count
                  - thanked_count
                  - line_comment_count
                  - line_like_count
                  - line_comment_only_count
                  - available_medals_count
                  - uid
                  - default_notifications_count
                  - follow_notifications_count
                  - vote_thank_notifications_count
                  - messages_count
                  - creation_count
                  - is_realname
                  - has_applying_column
                  - has_add_baike_summary_permission
                  - editor_info
  /api/v4/members/{url_token}:
    get:
      operationId: getMember
      summary: Get user profile by url_token — name, bio, answer count, follower count, following count, employment
      x-openweb:
        permission: read
        build:
          stable_id: d449a10757e77a6a
          tool_version: 2
      parameters:
        - name: url_token
          in: path
          required: true
          schema:
            type: string
          description: User URL token (username slug)
          example: zhang-jia-wei
        - name: include
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          example:
            - allow_message
            - is_followed
            - is_following
            - is_org
            - is_blocking
            - employments
            - answer_count
            - follower_count
            - articles_count
            - gender
            - badge[?(type=best_answerer)].topics
          description: Comma-separated fields to include
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  url_token:
                    type: string
                  name:
                    type: string
                  use_default_avatar:
                    type: boolean
                  avatar_url:
                    type: string
                    description: URL
                  avatar_url_template:
                    type: string
[...]
