openapi: 3.1.0
info:
  title: Zhihu API
  version: "1.0"
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-03-24T00:00:00Z
    requires_auth: false
servers:
  - url: https://www.zhihu.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
paths:
  /api/v4/search_v3:
    get:
      operationId: searchContent
      summary: Search questions, answers, and articles by keyword — returns titles, excerpts, vote counts, author info
      x-openweb:
        permission: read
        build:
          stable_id: zhihu0001
          tool_version: 1
          verified: true
          signals:
            - status-match
        adapter:
          name: zhihu-web
          operation: searchContent
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search keyword.
        - name: t
          in: query
          required: false
          schema:
            type: string
            default: general
          description: "Search type: general, topic, people, zvideo."
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Results per page.
        - name: correction
          in: query
          required: false
          schema:
            type: integer
            default: 1
          description: Enable search correction.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    type: object
                    properties:
                      is_end:
                        type: boolean
                      next:
                        type: string
                    required:
                      - is_end
                      - next
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        highlight:
                          anyOf:
                            - type: "null"
                            - type: object
                              properties:
                                description:
                                  type: string
                                title:
                                  type: string
                              required: []
                        object:
                          type: object
                          properties:
                            title:
                              type: string
                            type:
                              type: string
                            image_url:
                              type: string
                            redirect_url:
                              type: string
                            background_color:
                              type: string
                            campaign_type:
                              type: string
                            icon_title:
                              type: string
                            expert:
                              type: string
                            has_more:
                              type: boolean
                            content_items:
                              type: array
                              items:
                                type: object
                                properties:
                                  object:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      title:
                                        type: string
                                      description:
                                        type: string
                                      url:
                                        type: string
                                      type:
                                        type: string
                                      follower_count:
                                        type: integer
                                      comment_count:
                                        type: integer
                                      answer_count:
                                        type: integer
                                      visits_count:
                                        type: integer
                                      updated_time:
                                        type: integer
                                      relationship:
                                        type: object
                                        properties:
                                          is_following:
                                            type: boolean
                                        required:
                                          - is_following
                                      is_anonymous:
                                        type: boolean
                                      thumbnail_info:
                                        type: object
                                        properties:
                                          count:
                                            type: integer
                                          thumbnails:
                                            type: array
                                            items:
                                              type: object
                                          type:
                                            type: string
                                          total_count:
                                            type: integer
                                        required:
                                          - count
                                          - thumbnails
                                          - type
                                          - total_count
                                      attached_info_bytes:
                                        type: string
                                      doc_relevance_scores:
                                        type: "null"
                                      bert_rel:
                                        type: integer
                                    required:
                                      - id
                                      - title
                                      - description
                                      - url
                                      - type
                                      - follower_count
                                      - comment_count
                                      - answer_count
                                      - visits_count
                                      - updated_time
                                      - relationship
                                      - is_anonymous
                                      - thumbnail_info
                                      - attached_info_bytes
                                      - doc_relevance_scores
                                      - bert_rel
                                  type:
                                    type: string
                                  index:
                                    type: integer
                                  sub_contents:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        object:
                                          type: object
                                          properties:
                                            original_id:
                                              type: string
                                            id:
                                              type: string
                                            type:
                                              type: string
                                            excerpt:
                                              type: string
                                            url:
                                              type: string
                                            voteup_count:
                                              type: integer
                                            comment_count:
                                              type: integer
                                            favorites_count:
                                              type: integer
                                            created_time:
                                              type: integer
                                            updated_time:
                                              type: integer
                                            content:
                                              type: string
                                            thumbnail_info:
                                              type: object
                                              properties:
                                                count:
                                                  type: integer
                                                thumbnails:
                                                  type: array
                                                  items:
                                                    type: object
                                                    properties:
                                                      data_url:
                                                        type: string
                                                      url:
                                                        type: string
                                                      type:
                                                        type: string
                                                      width:
                                                        type: integer
                                                      height:
                                                        type: integer
                                                    required:
                                                      - data_url
                                                      - url
                                                      - type
                                                      - width
                                                      - height
                                                type:
                                                  type: string
                                                total_count:
                                                  type: integer
                                              required:
                                                - count
                                                - thumbnails
                                                - type
                                                - total_count
                                            relationship:
                                              type: object
                                              properties:
                                                voting:
                                                  type: integer
                                                is_author:
                                                  type: boolean
                                                is_thanked:
                                                  type: boolean
                                                is_nothelp:
                                                  type: boolean
                                                following_upvoter:
                                                  type: array
                                                  items:
                                                    type: object
                                                following_upvoter_count:
                                                  type: integer
                                                following_collect:
                                                  type: array
                                                  items:
                                                    type: object
                                                following_collect_count:
                                                  type: integer
                                                high_level_creator:
                                                  type: array
                                                  items:
                                                    type: object
                                                high_level_creator_count:
                                                  type: integer
                                                is_following:
                                                  type: boolean
                                              required:
                                                - voting
                                                - is_author
                                                - is_thanked
                                                - is_nothelp
                                                - following_upvoter
                                                - following_upvoter_count
                                                - following_collect
                                                - following_collect_count
                                                - high_level_creator
                                                - high_level_creator_count
                                                - is_following
                                            question:
                                              type: object
                                              properties:
                                                id:
                                                  type: string
                                                type:
                                                  type: string
                                                name:
                                                  type: string
                                                url:
                                                  type: string
                                                answer_count:
                                                  type: integer
                                                follow_count:
                                                  type: integer
                                                attached_info_bytes:
                                                  type: string
                                              required:
                                                - id
                                                - type
                                                - name
                                                - url
                                                - answer_count
                                                - follow_count
                                                - attached_info_bytes
                                            author:
                                              type: object
                                              properties:
                                                id:
                                                  type: string
                                                url_token:
                                                  type: string
                                                name:
                                                  type: string
                                                headline:
                                                  type: string
                                                gender:
                                                  type: integer
                                                is_followed:
                                                  type: boolean
                                                is_following:
                                                  type: boolean
                                                user_type:
                                                  type: string
                                                url:
                                                  type: string
                                                type:
                                                  type: string
                                                avatar_url:
                                                  type: string
                                                badge:
                                                  type: array
                                                  items:
                                                    type: object
                                                authority_info:
                                                  type: "null"
                                                voteup_count:
                                                  type: integer
                                                follower_count:
                                                  type: integer
                                                badge_v2:
                                                  type: object
                                                  properties:
                                                    title:
                                                      type: string
                                                    merged_badges:
                                                      type: array
                                                      items:
                                                        type: object
                                                    detail_badges:
                                                      type: array
                                                      items:
                                                        type: object
                                                    icon:
                                                      type: string
                                                    night_icon:
                                                      type: string
                                                  required:
                                                    - title
                                                    - merged_badges
                                                    - detail_badges
                                                    - icon
                                                    - night_icon
                                                badge_v2_string:
                                                  type: string
                                                topic_bayes_map:
                                                  type: "null"
                                                topic_map:
                                                  type: object
                                                  properties: {}
                                                  required: []
                                                verify_bayes:
                                                  type: string
                                              required:
                                                - id
                                                - url_token
                                                - name
                                                - headline
                                                - gender
                                                - is_followed
                                                - is_following
                                                - user_type
                                                - url
                                                - type
                                                - avatar_url
                                                - badge
                                                - authority_info
                                                - voteup_count
                                                - follower_count
                                                - badge_v2
                                                - badge_v2_string
                                                - topic_bayes_map
                                                - topic_map
                                                - verify_bayes
                                            is_anonymous:
                                              type: boolean
                                            is_zhi_plus:
                                              type: boolean
                                            is_zhi_plus_content:
                                              type: boolean
                                            extra:
                                              type: string
                                            health_tag:
                                              type: string
                                            answer_type:
                                              type: string
                                            sub_content_type:
                                              type: string
                                            settings:
                                              type: object
                                              properties:
                                                table_of_contents:
                                                  type: object
                                                  properties:
                                                    enabled:
                                                      type: boolean
                                                  required:
                                                    - enabled
                                              required:
                                                - table_of_contents
                                            attached_info_bytes:
                                              type: string
                                            biz_encoded_params:
                                              type: string
                                            answer_count:
                                              type: integer
                                            visits_count:
                                              type: integer
                                            description:
                                              type: string
                                            title:
                                              type: string
                                            native:
                                              type: integer
                                            doc_relevance_scores:
                                              type: "null"
                                            bert_rel:
                                              type: integer
                                          required:
                                            - original_id
                                            - id
                                            - type
                                            - excerpt
                                            - url
                                            - voteup_count
                                            - comment_count
                                            - favorites_count
                                            - created_time
                                            - updated_time
                                            - content
                                            - thumbnail_info
                                            - relationship
                                            - question
                                            - author
                                            - is_anonymous
                                            - is_zhi_plus
                                            - is_zhi_plus_content
                                            - extra
                                            - health_tag
                                            - answer_type
                                            - sub_content_type
                                            - settings
                                            - attached_info_bytes
                                            - biz_encoded_params
                                            - answer_count
                                            - visits_count
                                            - description
                                            - title
                                            - native
                                            - doc_relevance_scores
                                            - bert_rel
                                        type:
                                          type: string
                                        index:
                                          type: integer
                                      required:
                                        - object
                                        - type
                                        - index
                                required:
                                  - object
                                  - type
                                  - index
                                  - sub_contents
                            questions_pv_count:
                              type: integer
                            attached_info_bytes:
                              type: string
                            header:
                              type: object
                              properties:
                                card_title:
                                  type: string
                                no_more:
                                  type: boolean
                              required:
                                - card_title
                                - no_more
                            body:
                              type: object
                              properties:
                                title:
                                  type: string
                                description:
                                  type: string
                                authors:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      url_token:
                                        type: string
                                      bio:
                                        type: string
                                      icon:
                                        type: string
                                    required:
                                      - name
                                      - url_token
                                      - bio
                                      - icon
                                images:
                                  type: array
                                  items:
                                    type: string
                                play_icon:
                                  type: string
                                show_image:
                                  type: string
                                show_author:
                                  type: string
                              required:
                                - title
                                - description
                                - authors
                                - images
                                - play_icon
                                - show_image
                                - show_author
                            footer:
                              type: string
                            commodity_id:
                              type: string
                            commodity_type:
                              type: string
                            url:
                              type: string
                            source:
                              type: string
                            card_version:
                              type: string
                            slave_url:
                              type: string
                            tab_type:
                              type: string
                            ab_id_list:
                              type: array
                              items:
                                type: string
                            card_type:
                              type: string
                            sku_id:
                              type: string
                            id:
                              type: string
                            excerpt:
                              type: string
                            voteup_count:
                              type: integer
                            comment_count:
                              type: integer
                            zfav_count:
                              type: integer
                            created_time:
                              type: integer
                            updated_time:
                              type: integer
                            content:
                              type: string
                            thumbnail_info:
                              type: object
                              properties:
                                count:
                                  type: integer
                                thumbnails:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      data_url:
                                        type: string
                                      url:
                                        type: string
                                      type:
                                        type: string
                                      width:
                                        type: integer
                                      height:
                                        type: integer
                                    required:
                                      - data_url
                                      - url
                                      - type
                                      - width
                                      - height
                                type:
                                  type: string
                                total_count:
                                  type: integer
                              required:
                                - count
                                - thumbnails
                                - type
                                - total_count
                            author:
                              type: object
                              properties:
                                id:
                                  type: string
                                url_token:
                                  type: string
                                name:
                                  type: string
                                headline:
                                  type: string
                                gender:
                                  type: integer
                                is_followed:
                                  type: boolean
                                is_following:
                                  type: boolean
                                user_type:
                                  type: string
                                url:
                                  type: string
                                type:
                                  type: string
                                avatar_url:
                                  type: string
                                badge:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      description:
                                        type: string
                                      topics:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                            name:
                                              type: string
                                            introduction:
                                              type: string
                                            excerpt:
                                              type: string
                                            type:
                                              type: string
                                            url:
                                              type: string
                                            avatar_url:
                                              type: string
                                          required:
                                            - id
                                            - name
                                            - introduction
                                            - excerpt
                                            - type
                                            - url
                                            - avatar_url
                                    required:
                                      - type
                                      - description
                                      - topics
                                authority_info:
                                  anyOf:
                                    - type: "null"
                                    - type: array
                                      items:
                                        type: object
                                        properties:
                                          company:
                                            type: string
                                          job:
                                            type: string
                                          name:
                                            type: string
                                          verify_info:
                                            type: string
                                          verify_info_bayes:
                                            type: string
                                        required:
                                          - company
                                          - job
                                          - name
                                          - verify_info
                                          - verify_info_bayes
                                voteup_count:
                                  type: integer
                                follower_count:
                                  type: integer
                                badge_v2:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                    merged_badges:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                          detail_type:
                                            type: string
                                          title:
                                            type: string
                                          description:
                                            type: string
                                          url:
                                            type: string
                                          sources:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: string
                                                token:
                                                  type: string
                                                type:
                                                  type: string
                                                url:
                                                  type: string
                                                name:
                                                  type: string
                                                avatar_path:
                                                  type: string
                                                avatar_url:
                                                  type: string
                                                description:
                                                  type: string
                                                priority:
                                                  type: integer
                                              required:
                                                - id
                                                - token
                                                - type
                                                - url
                                                - name
                                                - avatar_path
                                                - avatar_url
                                                - description
                                                - priority
                                          icon:
                                            type: string
                                          night_icon:
                                            type: string
                                        required:
                                          - type
                                          - detail_type
                                          - title
                                          - description
                                          - url
                                          - sources
                                          - icon
                                          - night_icon
                                    detail_badges:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                          detail_type:
                                            type: string
                                          title:
                                            type: string
                                          description:
                                            type: string
                                          url:
                                            type: string
                                          sources:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: string
                                                token:
                                                  type: string
                                                type:
                                                  type: string
                                                url:
                                                  type: string
                                                name:
                                                  type: string
                                                avatar_path:
                                                  type: string
                                                avatar_url:
                                                  type: string
                                                description:
                                                  type: string
                                                priority:
                                                  type: integer
                                              required:
                                                - id
                                                - token
                                                - type
                                                - url
                                                - name
                                                - avatar_path
                                                - avatar_url
                                                - description
                                                - priority
                                          icon:
                                            type: string
                                          night_icon:
                                            type: string
                                        required:
                                          - type
                                          - detail_type
                                          - title
                                          - description
                                          - url
                                          - sources
                                          - icon
                                          - night_icon
                                    icon:
                                      type: string
                                    night_icon:
                                      type: string
                                  required:
                                    - title
                                    - merged_badges
                                    - detail_badges
                                    - icon
                                    - night_icon
                                badge_v2_string:
                                  type: string
                                topic_bayes_map:
                                  type: "null"
                                topic_map:
                                  type: object
                                  properties:
                                    人工智能:
                                      type: string
                                    深度学习（Deep Learning）:
                                      type: string
                                    C++:
                                      type: string
                                    程序员:
                                      type: string
                                    编程:
                                      type: string
                                    科技:
                                      type: string
                                    Android 开发:
                                      type: string
                                    Linux:
                                      type: string
                                    手机:
                                      type: string
                                    笔记本电脑:
                                      type: string
                                    科幻:
                                      type: string
                                    科幻电影:
                                      type: string
                                    科普:
                                      type: string
                                    博弈论:
                                      type: string
                                    微观经济学:
                                      type: string
                                    经济学:
                                      type: string
                                    行为经济学:
                                      type: string
                                  required: []
                                verify_bayes:
                                  type: string
                                old_badges:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      description:
                                        type: string
                                      topics:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                            type:
                                              type: string
                                            url:
                                              type: string
                                            name:
                                              type: string
                                            avatar_url:
                                              type: string
                                          required:
                                            - id
                                            - type
                                            - url
                                            - name
                                            - avatar_url
                                    required:
                                      - type
                                      - description
                              required:
                                - id
                                - url_token
                                - name
                                - headline
                                - gender
                                - is_followed
                                - is_following
                                - user_type
                                - url
                                - type
                                - avatar_url
                                - badge
                                - authority_info
                                - voteup_count
                                - follower_count
                                - badge_v2
                                - badge_v2_string
                                - topic_bayes_map
                                - topic_map
                                - verify_bayes
                            voting:
                              type: integer
                            relationship:
                              type: object
                              properties:
                                is_voted:
                                  type: boolean
                                is_author:
                                  type: boolean
                                following_upvoter:
                                  type: array
                                  items:
                                    type: object
                                following_upvoter_count:
                                  type: integer
                                following_collect:
                                  type: array
                                  items:
                                    type: object
                                following_collect_count:
                                  type: integer
                                high_level_creator:
                                  type: array
                                  items:
                                    type: object
                                high_level_creator_count:
                                  type: integer
                                voting:
                                  type: integer
                                is_thanked:
                                  type: boolean
                                is_nothelp:
                                  type: boolean
                                is_following:
                                  type: boolean
                              required:
                                - is_author
                                - following_upvoter
                                - following_upvoter_count
                                - following_collect
                                - following_collect_count
                                - high_level_creator
                                - high_level_creator_count
                            flag:
                              type: object
                              properties:
                                flag_type:
                                  type: string
                                flag_text:
                                  type: string
                              required:
                                - flag_type
                                - flag_text
                            is_zhi_plus:
                              type: boolean
                            is_zhi_plus_content:
                              type: boolean
                            extra:
                              type: string
                            settings:
                              type: object
                              properties:
                                table_of_contents:
                                  type: object
                                  properties:
                                    enabled:
                                      type: boolean
                                  required:
                                    - enabled
                              required:
                                - table_of_contents
                            article_type:
                              type: string
                            biz_encoded_params:
                              type: string
                            native:
                              type: integer
                            doc_relevance_scores:
                              type: "null"
                            bert_rel:
                              type: integer
                            original_id:
                              type: string
                            favorites_count:
                              type: integer
                            question:
                              type: object
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                name:
                                  type: string
                                url:
                                  type: string
                                answer_count:
                                  type: integer
                                follow_count:
                                  type: integer
                                attached_info_bytes:
                                  type: string
                              required:
                                - id
                                - type
                                - name
                                - url
                                - answer_count
                                - follow_count
                                - attached_info_bytes
                            is_anonymous:
                              type: boolean
                            health_tag:
                              type: string
                            answer_type:
                              type: string
                            sub_content_type:
                              type: string
                            answer_count:
                              type: integer
                            visits_count:
                              type: integer
                            description:
                              type: string
                            major_info:
                              type: object
                              properties:
                                name:
                                  type: string
                                id:
                                  type: string
                                degree:
                                  type: array
                                  items:
                                    type: string
                                genre:
                                  type: array
                                  items:
                                    type: string
                                years:
                                  type: array
                                  items:
                                    type: string
                                classification:
                                  type: string
                                top_area:
                                  type: string
                                top_industry:
                                  type: string
                                top_position:
                                  type: string
                                avg_salary:
                                  type: integer
                                topic_id:
                                  type: string
                                top_majors:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                    required:
                                      - name
                                discussions:
                                  type: object
                                  properties:
                                    contents:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                          name:
                                            type: string
                                          items:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                type:
                                                  type: string
                                                highlight:
                                                  type: object
                                                  properties:
                                                    description:
                                                      type: string
                                                    title:
                                                      type: string
                                                  required:
                                                    - description
                                                    - title
                                                object:
                                                  type: object
                                                  properties:
                                                    original_id:
                                                      type: string
                                                    id:
                                                      type: string
                                                    type:
                                                      type: string
                                                    excerpt:
                                                      type: string
                                                    url:
                                                      type: string
                                                    voteup_count:
                                                      type: integer
                                                    comment_count:
                                                      type: integer
                                                    favorites_count:
                                                      type: integer
                                                    created_time:
                                                      type: integer
                                                    updated_time:
                                                      type: integer
                                                    content:
                                                      type: string
                                                    thumbnail_info:
                                                      type: object
                                                      properties:
                                                        count:
                                                          type: integer
                                                        thumbnails:
                                                          type: array
                                                          items:
                                                            type: object
                                                            properties:
                                                              data_url:
                                                                type: string
                                                              url:
                                                                type: string
                                                              type:
                                                                type: string
                                                              width:
                                                                type: integer
                                                              height:
                                                                type: integer
                                                            required:
                                                              - data_url
                                                              - url
                                                              - type
                                                              - width
                                                              - height
                                                        type:
                                                          type: string
                                                        total_count:
                                                          type: integer
                                                      required:
                                                        - count
                                                        - thumbnails
                                                        - type
                                                        - total_count
                                                    relationship:
                                                      type: object
                                                      properties:
                                                        voting:
                                                          type: integer
                                                        is_author:
                                                          type: boolean
                                                        is_thanked:
                                                          type: boolean
                                                        is_nothelp:
                                                          type: boolean
                                                        following_upvoter:
                                                          type: array
                                                          items:
                                                            type: object
                                                        following_upvoter_count:
                                                          type: integer
                                                        following_collect:
                                                          type: array
                                                          items:
                                                            type: object
                                                        following_collect_count:
                                                          type: integer
                                                        high_level_creator:
                                                          type: array
                                                          items:
                                                            type: object
                                                        high_level_creator_count:
                                                          type: integer
                                                        is_following:
                                                          type: boolean
                                                      required:
                                                        - voting
                                                        - is_author
                                                        - is_thanked
                                                        - is_nothelp
                                                        - following_upvoter
                                                        - following_upvoter_count
                                                        - following_collect
                                                        - following_collect_count
                                                        - high_level_creator
                                                        - high_level_creator_count
                                                        - is_following
                                                    question:
                                                      type: object
                                                      properties:
                                                        id:
                                                          type: string
                                                        type:
                                                          type: string
                                                        name:
                                                          type: string
                                                        url:
                                                          type: string
                                                        answer_count:
                                                          type: integer
                                                        follow_count:
                                                          type: integer
                                                        attached_info_bytes:
                                                          type: string
                                                      required:
                                                        - id
                                                        - type
                                                        - name
                                                        - url
                                                        - answer_count
                                                        - follow_count
                                                        - attached_info_bytes
                                                    author:
                                                      type: object
                                                      properties:
                                                        id:
                                                          type: string
                                                        url_token:
                                                          type: string
                                                        name:
                                                          type: string
                                                        headline:
                                                          type: string
                                                        gender:
                                                          type: integer
                                                        is_followed:
                                                          type: boolean
                                                        is_following:
                                                          type: boolean
                                                        user_type:
                                                          type: string
                                                        url:
                                                          type: string
                                                        type:
                                                          type: string
                                                        avatar_url:
                                                          type: string
                                                        badge:
                                                          type: array
                                                          items:
                                                            type: object
                                                        authority_info:
                                                          type: "null"
                                                        voteup_count:
                                                          type: integer
                                                        follower_count:
                                                          type: integer
                                                        badge_v2:
                                                          type: object
                                                          properties:
                                                            title:
                                                              type: string
                                                            merged_badges:
                                                              type: array
                                                              items:
                                                                type: object
                                                            detail_badges:
                                                              type: array
                                                              items:
                                                                type: object
                                                            icon:
                                                              type: string
                                                            night_icon:
                                                              type: string
                                                          required:
                                                            - title
                                                            - merged_badges
                                                            - detail_badges
                                                            - icon
                                                            - night_icon
                                                        badge_v2_string:
                                                          type: string
                                                        topic_bayes_map:
                                                          type: "null"
                                                        topic_map:
                                                          type: object
                                                          properties: {}
                                                          required: []
                                                        verify_bayes:
                                                          type: string
                                                      required:
                                                        - id
                                                        - url_token
                                                        - name
                                                        - headline
                                                        - gender
                                                        - is_followed
                                                        - is_following
                                                        - user_type
                                                        - url
                                                        - type
                                                        - avatar_url
                                                        - badge
                                                        - authority_info
                                                        - voteup_count
                                                        - follower_count
                                                        - badge_v2
                                                        - badge_v2_string
                                                        - topic_bayes_map
                                                        - topic_map
                                                        - verify_bayes
                                                    is_anonymous:
                                                      type: boolean
                                                    is_zhi_plus:
                                                      type: boolean
                                                    is_zhi_plus_content:
                                                      type: boolean
                                                    extra:
                                                      type: string
                                                    health_tag:
                                                      type: string
                                                    answer_type:
                                                      type: string
                                                    sub_content_type:
                                                      type: string
                                                    settings:
                                                      type: object
                                                      properties:
                                                        table_of_contents:
                                                          type: object
                                                          properties:
                                                            enabled:
                                                              type: boolean
                                                          required:
                                                            - enabled
                                                      required:
                                                        - table_of_contents
                                                    attached_info_bytes:
                                                      type: string
                                                    biz_encoded_params:
                                                      type: string
                                                    answer_count:
                                                      type: integer
                                                    visits_count:
                                                      type: integer
                                                    description:
                                                      type: string
                                                    title:
                                                      type: string
                                                    native:
                                                      type: integer
                                                    doc_relevance_scores:
                                                      type: "null"
                                                    bert_rel:
                                                      type: integer
                                                    flag:
                                                      type: object
                                                      properties:
                                                        flag_type:
                                                          type: string
                                                        flag_text:
                                                          type: string
                                                      required:
                                                        - flag_type
                                                        - flag_text
                                                    reaction_instruction:
                                                      type: object
                                                      properties:
                                                        REACTION_CONTENT_SEGMENT_LIKE:
                                                          type: string
                                                      required:
                                                        - REACTION_CONTENT_SEGMENT_LIKE
                                                  required:
                                                    - original_id
                                                    - id
                                                    - type
                                                    - excerpt
                                                    - url
                                                    - voteup_count
                                                    - comment_count
                                                    - favorites_count
                                                    - created_time
                                                    - updated_time
                                                    - content
                                                    - thumbnail_info
                                                    - relationship
                                                    - question
                                                    - author
                                                    - is_anonymous
                                                    - is_zhi_plus
                                                    - is_zhi_plus_content
                                                    - extra
                                                    - health_tag
                                                    - answer_type
                                                    - sub_content_type
                                                    - settings
                                                    - attached_info_bytes
                                                    - biz_encoded_params
                                                    - answer_count
                                                    - visits_count
                                                    - description
                                                    - title
                                                    - native
                                                    - doc_relevance_scores
                                                    - bert_rel
                                                hit_labels:
                                                  type: "null"
                                              required:
                                                - type
                                                - highlight
                                                - object
                                                - hit_labels
                                          has_more:
                                            type: boolean
                                        required:
                                          - id
                                          - name
                                          - items
                                          - has_more
                                    default_tab_id:
                                      type: string
                                  required:
                                    - contents
                                    - default_tab_id
                              required:
                                - name
                                - id
                                - degree
                                - genre
                                - years
                                - classification
                                - top_area
                                - top_industry
                                - top_position
                                - avg_salary
                                - topic_id
                                - top_majors
                                - discussions
                          required:
                            - attached_info_bytes
                        hit_labels:
                          type: "null"
                        index:
                          type: integer
                        id:
                          anyOf:
                            - type: integer
                            - type: string
                        query_list:
                          type: array
                          items:
                            type: object
                            properties:
                              query:
                                type: string
                              id:
                                type: string
                              has_icon:
                                type: boolean
                              attached_info_bytes:
                                type: string
                            required:
                              - query
                              - id
                              - has_icon
                              - attached_info_bytes
                        attached_info_bytes:
                          type: string
                        is_single_column:
                          type: boolean
                      required:
                        - type
                        - index
                  hit_labels:
                    type: "null"
                  related_search_result:
                    type: array
                    items:
                      type: object
                  search_action_info:
                    type: object
                    properties:
                      attached_info_bytes:
                        type: string
                      lc_idx:
                        type: integer
                      search_hash_id:
                        type: string
                      isfeed:
                        type: boolean
                    required:
                      - attached_info_bytes
                      - lc_idx
                      - search_hash_id
                      - isfeed
                  is_brand_word:
                    type: boolean
                  pendant:
                    type: "null"
                  sensitive_level:
                    type: integer
                  warning:
                    type: string
                  filter_items:
                    type: "null"
                  ab_params:
                    type: string
                  item_in_view:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        index:
                          type: integer
                        token:
                          type: string
                      required:
                        - type
                        - index
                  domain_info:
                    type: object
                    properties:
                      first_category:
                        type: string
                    required:
                      - first_category
                  is_koc_words:
                    type: boolean
                  is_hit_koc_cache:
                    type: boolean
                required:
                  - paging
                  - data
                  - hit_labels
                  - related_search_result
                  - search_action_info
                  - is_brand_word
                  - pendant
                  - sensitive_level
                  - warning
                  - filter_items
                  - ab_params
                  - item_in_view
                  - domain_info
                  - is_koc_words
                  - is_hit_koc_cache
  /api/v4/members/{url_token}:
    get:
      operationId: getUserProfile
      summary: Get user profile — name, avatar, headline, follower/answer counts, employments
      x-openweb:
        permission: read
        build:
          stable_id: zhihu0002
          tool_version: 1
          verified: true
          signals:
            - status-match
        adapter:
          name: zhihu-web
          operation: getUserProfile
      parameters:
        - name: url_token
          in: path
          required: true
          schema:
            type: string
          description: User URL token.
        - name: include
          in: query
          required: false
          schema:
            type: string
            default: allow_message,is_followed,is_following,is_org,is_blocking,employments,answer_count,follower_count,articles_count,gender
          description: Comma-separated fields to include.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  url_token:
                    type: string
                  name:
                    type: string
                  use_default_avatar:
                    type: boolean
                  avatar_url:
                    type: string
                  avatar_url_template:
                    type: string
                  is_org:
                    type: boolean
                  type:
                    type: string
                  url:
                    type: string
                  user_type:
                    type: string
                  headline:
                    type: string
                  headline_render:
                    type: string
                  gender:
                    type: integer
                  is_advertiser:
                    type: boolean
                  ip_info:
                    type: string
                  vip_info:
                    type: object
                    properties:
                      is_vip:
                        type: boolean
                      vip_type:
                        type: integer
                      rename_days:
                        type: string
                      widget:
                        type: object
                        properties:
                          id:
                            type: string
                          url:
                            type: string
                          night_mode_url:
                            type: string
                        required:
                          - id
                          - url
                          - night_mode_url
                      vip_icon:
                        type: object
                        properties:
                          url:
                            type: string
                          night_mode_url:
                            type: string
                        required:
                          - url
                          - night_mode_url
                      entrance_v2:
                        type: "null"
                      rename_frequency:
                        type: integer
                      rename_await_days:
                        type: integer
                    required:
                      - is_vip
                      - vip_type
                      - rename_days
                      - widget
                      - vip_icon
                      - entrance_v2
                      - rename_frequency
                      - rename_await_days
                  kvip_info:
                    type: object
                    properties:
                      is_vip:
                        type: boolean
                      subscribe_at:
                        type: integer
                      expires_at:
                        type: integer
                      show_vip_icon:
                        type: boolean
                      vip_icon:
                        type: object
                        properties:
                          url:
                            type: string
                          night_mode_url:
                            type: string
                        required:
                          - url
                          - night_mode_url
                      target_url:
                        type: string
                    required:
                      - is_vip
                      - subscribe_at
                      - expires_at
                      - show_vip_icon
                      - vip_icon
                      - target_url
                  badge:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        description:
                          type: string
                        topics:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              url:
                                type: string
                              name:
                                type: string
                              avatar_url:
                                type: string
                              answer_count:
                                type: integer
                              article_count:
                                type: integer
                              creation_tip:
                                type: string
                            required:
                              - id
                              - type
                              - url
                              - name
                              - avatar_url
                              - answer_count
                              - article_count
                              - creation_tip
                      required:
                        - type
                        - description
                        - topics
                  badge_v2:
                    type: object
                    properties:
                      title:
                        type: string
                      merged_badges:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            detail_type:
                              type: string
                            title:
                              type: string
                            description:
                              type: string
                            url:
                              type: string
                            sources:
                              type: array
                              items:
                                type: object
                            icon:
                              type: string
                            night_icon:
                              type: string
                            badge_status:
                              type: string
                          required:
                            - type
                            - detail_type
                            - title
                            - description
                            - url
                            - sources
                            - icon
                            - night_icon
                            - badge_status
                      detail_badges:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            detail_type:
                              type: string
                            title:
                              type: string
                            description:
                              type: string
                            url:
                              type: string
                            sources:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  token:
                                    type: string
                                  type:
                                    type: string
                                  url:
                                    type: string
                                  name:
                                    type: string
                                  avatar_path:
                                    type: string
                                  avatar_url:
                                    type: string
                                  description:
                                    type: string
                                  priority:
                                    type: integer
                                required:
                                  - id
                                  - token
                                  - type
                                  - url
                                  - name
                                  - avatar_path
                                  - avatar_url
                                  - description
                                  - priority
                            icon:
                              type: string
                            night_icon:
                              type: string
                            badge_status:
                              type: string
                          required:
                            - type
                            - detail_type
                            - title
                            - description
                            - url
                            - sources
                            - icon
                            - night_icon
                            - badge_status
                      icon:
                        type: string
                      night_icon:
                        type: string
                    required:
                      - title
                      - merged_badges
                      - detail_badges
                      - icon
                      - night_icon
                  allow_message:
                    type: boolean
                  is_following:
                    type: boolean
                  is_followed:
                    type: boolean
                  is_blocking:
                    type: boolean
                  follower_count:
                    type: integer
                  answer_count:
                    type: integer
                  articles_count:
                    type: integer
                  available_medals_count:
                    type: integer
                  employments:
                    type: array
                    items:
                      type: object
                      properties:
                        job:
                          type: object
                          properties:
                            id:
                              type: string
                            type:
                              type: string
                            url:
                              type: string
                            name:
                              type: string
                            avatar_url:
                              type: string
                          required:
                            - id
                            - type
                            - url
                            - name
                            - avatar_url
                        company:
                          type: object
                          properties:
                            id:
                              type: string
                            type:
                              type: string
                            url:
                              type: string
                            name:
                              type: string
                            avatar_url:
                              type: string
                          required:
                            - id
                            - type
                            - url
                            - name
                            - avatar_url
                      required:
                        - job
                        - company
                  org_verify_status:
                    type: "null"
                  is_realname:
                    type: boolean
                  has_applying_column:
                    type: boolean
                  is_new_rename:
                    type: boolean
                  ai_assistant_info:
                    type: "null"
                required:
                  - id
                  - url_token
                  - name
                  - use_default_avatar
                  - avatar_url
                  - avatar_url_template
                  - is_org
                  - type
                  - url
                  - user_type
                  - headline
                  - headline_render
                  - gender
                  - is_advertiser
                  - ip_info
                  - vip_info
                  - kvip_info
                  - badge
                  - badge_v2
                  - allow_message
                  - is_following
                  - is_followed
                  - is_blocking
                  - follower_count
                  - answer_count
                  - articles_count
                  - available_medals_count
                  - employments
                  - org_verify_status
                  - is_realname
                  - has_applying_column
                  - is_new_rename
                  - ai_assistant_info
  /api/v4/members/{url_token}/answers:
    get:
      operationId: getUserAnswers
      summary: Get a user's answer list — question titles, answer excerpts, vote counts, timestamps
      x-openweb:
        permission: read
        build:
          stable_id: zhihu0003
          tool_version: 1
          verified: true
          signals:
            - status-match
        adapter:
          name: zhihu-web
          operation: getUserAnswers
      parameters:
        - name: url_token
          in: path
          required: true
          schema:
            type: string
[...]
