openapi: 3.1.0
info:
  title: Medium API
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-01T00:00:00Z
    requires_auth: false
servers:
  - url: https://medium.com
    x-openweb:
      transport: page
paths:
  /search:
    get:
      operationId: searchArticles
      summary: Search articles by keyword — returns title, subtitle, URL, total count
      x-openweb:
        permission: read
        build:
          stable_id: md0001
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: searchArticles
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search keyword (e.g. "artificial intelligence", "web development").
      responses:
        "200":
          description: Search results with matching articles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  articles:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        subtitle:
                          type: string
                        url:
                          type: string
                          nullable: true
                        author:
                          type: string
                          nullable: true
                        publishedAt:
                          type: string
                          nullable: true
                  totalResults:
                    type: integer
  /post/{postId}:
    get:
      operationId: getArticle
      summary: Get article detail by ID — title, author, claps, reading time, locked status, collection
      x-openweb:
        permission: read
        build:
          stable_id: md0014
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getArticle
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
          description: Medium post ID (hex string, e.g. "70d2a62246c0").
      responses:
        "200":
          description: Full article detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  mediumUrl:
                    type: string
                  visibility:
                    type: string
                  isLocked:
                    type: boolean
                  clapCount:
                    type: integer
                  readingTime:
                    type: number
                  firstPublishedAt:
                    type: integer
                  latestPublishedAt:
                    type: integer
                  creator:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      username:
                        type: string
                  collection:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      slug:
                        type: string
                      domain:
                        type: string
                        nullable: true
                  extendedPreviewContent:
                    type: object
                    properties:
                      subtitle:
                        type: string
                      isFullContent:
                        type: boolean
                  postResponses:
                    type: object
                    properties:
                      count:
                        type: integer
  /tag/{tagSlug}/feed:
    get:
      operationId: getTagFeed
      summary: Get latest articles for a tag/topic — titles, authors, claps, reading time, pagination
      x-openweb:
        permission: read
        build:
          stable_id: md0002
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getTagFeed
      parameters:
        - name: tagSlug
          in: path
          required: true
          schema:
            type: string
          description: Tag slug (e.g. "programming", "artificial-intelligence", "data-science").
      responses:
        "200":
          description: Latest posts for the tag.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tagSlug:
                    type: string
                  posts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        mediumUrl:
                          type: string
                        isLocked:
                          type: boolean
                        clapCount:
                          type: integer
                        readingTime:
                          type: number
                        creator:
                          type: object
                        collection:
                          type: object
                          nullable: true
                        extendedPreviewContent:
                          type: object
                        postResponses:
                          type: object
                  pageInfo:
                    type: object
                    properties:
                      hasNextPage:
                        type: boolean
                      endCursor:
                        type: string
  /tag/{tagSlug}/curated-lists:
    get:
      operationId: getTagCuratedLists
      summary: Get curated reading lists for a tag — list name, creator, post items with titles and claps
      x-openweb:
        permission: read
        build:
          stable_id: md0003
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getTagCuratedLists
      parameters:
        - name: tagSlug
          in: path
          required: true
          schema:
            type: string
          description: Tag slug (e.g. "programming", "technology").
      responses:
        "200":
          description: Curated reading lists for the tag.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tagSlug:
                    type: string
                  lists:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        creator:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            username:
                              type: string
                        itemsConnection:
                          type: object
                          properties:
                            items:
                              type: array
                              items:
                                type: object
                                properties:
                                  entity:
                                    type: object
                                    nullable: true
  /tag/{tagSlug}/writers:
    get:
      operationId: getTagWriters
      summary: Get recommended writers and publications for a tag — name, bio, follower count, pagination
      x-openweb:
        permission: read
        build:
          stable_id: md0004
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getTagWriters
      parameters:
        - name: tagSlug
          in: path
          required: true
          schema:
            type: string
          description: Tag slug.
        - name: first
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: Number of writers to return.
        - name: after
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor.
      responses:
        "200":
          description: Recommended writers for the tag.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tagSlug:
                    type: string
                  publishers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        bio:
                          type: string
                          nullable: true
                        username:
                          type: string
                          nullable: true
                        socialStats:
                          type: object
                          nullable: true
                          properties:
                            followerCount:
                              type: integer
                  pageInfo:
                    type: object
                    properties:
                      hasNextPage:
                        type: boolean
                      endCursor:
                        type: string
                      startCursor:
                        type: string
  /feed/recommended:
    get:
      operationId: getRecommendedFeed
      summary: Get recommended article feed — trending and top posts with titles, claps, reading time
      x-openweb:
        permission: read
        build:
          stable_id: md0005
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getRecommendedFeed
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: Number of posts to return.
      responses:
        "200":
          description: Recommended feed posts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        mediumUrl:
                          type: string
                        isLocked:
                          type: boolean
                        clapCount:
                          type: integer
                        readingTime:
                          type: number
                        creator:
                          type: object
                        collection:
                          type: object
                          nullable: true
                        feedId:
                          type: string
                        reason:
                          type: integer
                  pagingInfo:
                    type: object
                    properties:
                      next:
                        type: object
                        nullable: true
                        properties:
                          limit:
                            type: integer
                          to:
                            type: string
  /tags/recommended:
    get:
      operationId: getRecommendedTags
      summary: Get recommended/trending topic tags — tag id, display title, slug
      x-openweb:
        permission: read
        build:
          stable_id: md0006
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getRecommendedTags
      parameters: []
      responses:
        "200":
          description: Recommended tags.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        displayTitle:
                          type: string
                        slug:
                          type: string
  /post/{postId}/claps:
    get:
      operationId: getPostClaps
      summary: Get clap count for a specific post — postId, clapCount
      x-openweb:
        permission: read
        build:
          stable_id: md0008
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getPostClaps
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
          description: Medium post ID (hex string, e.g. "70d2a62246c0").
      responses:
        "200":
          description: Post clap count.
          content:
            application/json:
              schema:
                type: object
                properties:
                  postId:
                    type: string
                  clapCount:
                    type: integer
  /writers/recommended:
    get:
      operationId: getRecommendedWriters
      summary: Get recommended writers and publications to follow — name, bio, username
      x-openweb:
        permission: read
        build:
          stable_id: md0009
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getRecommendedWriters
      parameters: []
      responses:
        "200":
          description: Recommended writers and publications.
          content:
            application/json:
              schema:
                type: object
                properties:
                  publishers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        bio:
                          type: string
                          nullable: true
                        username:
                          type: string
                          nullable: true
  /post/{postId}/clap:
    post:
      operationId: clapArticle
      summary: Clap (upvote) an article — reversible, requires auth
      x-openweb:
        permission: write
        safety: safe
        requires_auth: true
        build:
          stable_id: md0011
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: clapArticle
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
          description: Medium post ID (hex string).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Clap result with updated counts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  postId:
                    type: string
                  clapCount:
                    type: integer
                  viewerClapCount:
                    type: integer
  /user/{userId}/follow:
    post:
      operationId: followWriter
      summary: Follow a writer/author — reversible, requires auth
      x-openweb:
        permission: write
        safety: safe
        requires_auth: true
        build:
          stable_id: md0012
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: followWriter
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: Medium user ID (hex string, e.g. "3a38da70d8dc").
      responses:
        "200":
          description: Follow result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                  name:
                    type: string
                  username:
                    type: string
                  isFollowing:
                    type: boolean
  /post/{postId}/save:
    post:
      operationId: saveArticle
      summary: Save/bookmark an article to reading list — reversible, requires auth
      x-openweb:
        permission: write
        safety: safe
        requires_auth: true
        build:
          stable_id: md0013
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: saveArticle
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
          description: Medium post ID (hex string).
      responses:
        "200":
          description: Save result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  postId:
                    type: string
                  catalogItemId:
                    type: string
                    nullable: true
                  saved:
                    type: boolean
  /user/{userId}/unfollow:
    post:
      operationId: unfollowWriter
      summary: Unfollow a writer/author — reverse of followWriter, requires auth
      x-openweb:
        permission: write
        safety: caution
        requires_auth: true
        build:
          stable_id: md0015
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: unfollowWriter
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: Medium user ID (hex string, e.g. "3a38da70d8dc").
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Unfollow result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                  name:
                    type: string
                  username:
                    type: string
                  isFollowing:
                    type: boolean
  /post/{postId}/unsave:
    post:
      operationId: unsaveArticle
      summary: Remove an article from reading list — reverse of saveArticle, requires auth
      x-openweb:
        permission: write
        safety: caution
        requires_auth: true
        build:
          stable_id: md0016
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: unsaveArticle
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
          description: Medium post ID (hex string).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Unsave result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  postId:
                    type: string
                  removed:
                    type: boolean
