openapi: 3.1.0
info:
  title: Medium API
  version: 1.0.0
  x-openweb:
    spec_version: "2.0"
    compiled_at: 2026-04-01T00:00:00Z
    requires_auth: false
servers:
  - url: https://medium.com
    x-openweb:
      transport: page
paths:
  /search:
    get:
      operationId: searchArticles
      summary: Search articles by keyword — returns titles, subtitles, authors, URLs
      x-openweb:
        permission: read
        build:
          stable_id: md0001
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: searchArticles
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search keyword (e.g. "artificial intelligence", "web development").
      responses:
        "200":
          description: Search results with matching articles.
          content:
            application/json:
              type: object
  /post/{postId}:
    get:
      operationId: getArticle
      summary: Get article detail by ID — title, author, claps, reading time, locked status
      x-openweb:
        permission: read
        build:
          stable_id: md0014
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getArticle
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
          description: Medium post ID (hex string, e.g. "70d2a62246c0").
      responses:
        "200":
          description: Full article detail.
          content:
            application/json:
              type: object
  /tag/{tagSlug}/feed:
    get:
      operationId: getTagFeed
      summary: Get latest articles for a tag/topic — titles, authors, claps, reading time
      x-openweb:
        permission: read
        build:
          stable_id: md0002
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getTagFeed
      parameters:
        - name: tagSlug
          in: path
          required: true
          schema:
            type: string
          description: Tag slug (e.g. "programming", "artificial-intelligence", "data-science").
      responses:
        "200":
          description: Latest posts for the tag.
          content:
            application/json:
              type: object
  /tag/{tagSlug}/curated-lists:
    get:
      operationId: getTagCuratedLists
      summary: Get curated reading lists for a tag — staff-picked article collections
      x-openweb:
        permission: read
        build:
          stable_id: md0003
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getTagCuratedLists
      parameters:
        - name: tagSlug
          in: path
          required: true
          schema:
            type: string
          description: Tag slug (e.g. "programming", "technology").
      responses:
        "200":
          description: Curated reading lists for the tag.
          content:
            application/json:
              type: object
  /tag/{tagSlug}/writers:
    get:
      operationId: getTagWriters
      summary: Get recommended writers and publications for a tag — name, bio, followers
      x-openweb:
        permission: read
        build:
          stable_id: md0004
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getTagWriters
      parameters:
        - name: tagSlug
          in: path
          required: true
          schema:
            type: string
          description: Tag slug.
        - name: first
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: Number of writers to return.
        - name: after
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor.
      responses:
        "200":
          description: Recommended writers for the tag.
          content:
            application/json:
              type: object
  /feed/recommended:
    get:
      operationId: getRecommendedFeed
      summary: Get recommended article feed — trending and top posts globally
      x-openweb:
        permission: read
        build:
          stable_id: md0005
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getRecommendedFeed
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
          description: Number of posts to return.
      responses:
        "200":
          description: Recommended feed posts.
          content:
            application/json:
              type: object
  /tags/recommended:
    get:
      operationId: getRecommendedTags
      summary: Get recommended/trending topic tags — tag names and slugs
      x-openweb:
        permission: read
        build:
          stable_id: md0006
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getRecommendedTags
      parameters: []
      responses:
        "200":
          description: Recommended tags.
          content:
            application/json:
              type: object
  /post/{postId}/claps:
    get:
      operationId: getPostClaps
      summary: Get clap count for a specific post
      x-openweb:
        permission: read
        build:
          stable_id: md0008
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getPostClaps
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
          description: Medium post ID (hex string, e.g. "70d2a62246c0").
      responses:
        "200":
          description: Post clap count.
          content:
            application/json:
              type: object
  /writers/recommended:
    get:
      operationId: getRecommendedWriters
      summary: Get recommended writers and publications to follow — name, bio, image
      x-openweb:
        permission: read
        build:
          stable_id: md0009
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getRecommendedWriters
      parameters: []
      responses:
        "200":
          description: Recommended writers and publications.
          content:
            application/json:
              type: object
  /user/{username}/profile:
    get:
      operationId: getUserProfile
      summary: Get user/author profile — name, bio, follower count, avatar
      x-openweb:
        permission: read
        build:
          stable_id: md0010
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: getUserProfile
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Medium username (e.g. "Netflix_TechBlog", "towardsdatascience").
      responses:
        "200":
          description: User profile information.
          content:
            application/json:
              type: object
  /post/{postId}/clap:
    post:
      operationId: clapArticle
      summary: Clap (upvote) an article — reversible, requires auth
      x-openweb:
        permission: write
        safety: safe
        requires_auth: true
        build:
          stable_id: md0011
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: clapArticle
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
          description: Medium post ID (hex string).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Clap result with updated counts.
          content:
            application/json:
              type: object
  /user/{userId}/follow:
    post:
      operationId: followWriter
      summary: Follow a writer/author — reversible, requires auth
      x-openweb:
        permission: write
        safety: safe
        requires_auth: true
        build:
          stable_id: md0012
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: followWriter
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: Medium user ID (hex string, e.g. "3a38da70d8dc").
      responses:
        "200":
          description: Follow result.
          content:
            application/json:
              type: object
  /post/{postId}/save:
    post:
      operationId: saveArticle
      summary: Save/bookmark an article to reading list — reversible, requires auth
      x-openweb:
        permission: write
        safety: safe
        requires_auth: true
        build:
          stable_id: md0013
          tool_version: 1
          signals:
            - adapter-verified
        adapter:
          name: medium-graphql
          operation: saveArticle
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
          description: Medium post ID (hex string).
      responses:
        "200":
          description: Save result.
          content:
            application/json:
              type: object
