openapi: '3.1.0'
info:
  title: Walmart
  version: '2.0'
  x-openweb:
    spec_version: '2.0'
servers:
- url: https://www.walmart.com
  x-openweb:
    transport: node
paths:
  /search:
    get:
      operationId: searchProducts
      summary: Search products — name, usItemId, linePrice, averageRating, canonicalUrl
      x-openweb:
        permission: read
        build:
          stable_id: wm0002
          tool_version: 1
          verified: true
          signals:
          - next_data
        extraction:
          type: ssr_next_data
          path: props.pageProps.initialData.searchResult
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search keyword
      responses:
        '200':
          description: Search results with product listings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  count:
                    type: integer
                  itemStacks:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        count:
                          type: integer
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              usItemId:
                                type: string
                              canonicalUrl:
                                type: string
                              averageRating:
                                type:
                                - number
                                - 'null'
                              priceInfo:
                                type: object
                                properties:
                                  linePrice:
                                    type: string
                                  wasPrice:
                                    type: string
                                  savings:
                                    type: string
                required:
                - itemStacks
  /ip/{slug}/{itemId}:
    get:
      operationId: getProductDetail
      summary: Get product detail — name, brand, priceInfo, averageRating, numberOfReviews, imageInfo
      x-openweb:
        permission: read
        build:
          stable_id: wm0003
          tool_version: 1
          verified: true
          signals:
          - next_data
        extraction:
          type: ssr_next_data
          path: props.pageProps.initialData.data.product
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: Product URL slug (any non-empty string works)
      - name: itemId
        in: path
        required: true
        schema:
          type: string
        description: Walmart item ID
      responses:
        '200':
          description: Full product details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  brand:
                    type: string
                  shortDescription:
                    type: string
                  averageRating:
                    type: number
                  numberOfReviews:
                    type: integer
                  canonicalUrl:
                    type: string
                  priceInfo:
                    type: object
                    properties:
                      currentPrice:
                        type: object
                        properties:
                          price:
                            type: number
                          priceString:
                            type: string
                      wasPrice:
                        type:
                        - object
                        - 'null'
                        properties:
                          price:
                            type: number
                          priceString:
                            type: string
                  imageInfo:
                    type: object
                    properties:
                      thumbnailUrl:
                        type: string
                      allImages:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                required:
                - name
  /ip/{itemId}:
    get:
      operationId: getProductPricing
      summary: Get product pricing — currentPrice, wasPrice, savingsAmount, isPriceReduced
      x-openweb:
        permission: read
        build:
          stable_id: wm0004
          tool_version: 1
          verified: true
          signals:
          - next_data
        extraction:
          type: ssr_next_data
          path: props.pageProps.initialData.data.product.priceInfo
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          type: string
        description: Walmart item ID
      responses:
        '200':
          description: Product pricing information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentPrice:
                    type: object
                    properties:
                      price:
                        type: number
                      priceString:
                        type: string
                      currencyUnit:
                        type: string
                  wasPrice:
                    type:
                    - object
                    - 'null'
                    properties:
                      price:
                        type: number
                      priceString:
                        type: string
                  savingsAmount:
                    type:
                    - object
                    - 'null'
                    properties:
                      amount:
                        type: number
                      priceString:
                        type: string
                  isPriceReduced:
                    type: boolean
                required:
                - currentPrice
  /internal/addToCart:
    post:
      operationId: addToCart
      summary: Add product to cart — cartId, cartCount, item (name, quantity, price)
      x-openweb:
        permission: write
        safety: caution
        transport: page
        build:
          stable_id: wm0005
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: walmart-cart
          operation: addToCart
      parameters:
      - name: usItemId
        in: query
        required: true
        schema:
          type: string
        description: Walmart item ID (e.g. "234440748").
      - name: quantity
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Quantity to add (default 1).
      responses:
        '200':
          description: Item added to cart successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - cartId
                - cartCount
                - item
                properties:
                  cartId:
                    type: string
                    description: Cart identifier.
                  cartCount:
                    type: integer
                    description: Total number of items in cart.
                  item:
                    type: object
                    required:
                    - usItemId
                    - name
                    - quantity
                    - price
                    properties:
                      usItemId:
                        type: string
                      name:
                        type: string
                        description: Product name.
                      quantity:
                        type: integer
                      price:
                        type: number
                        description: Line price in dollars.
                      priceString:
                        type: string
                        description: Formatted price (e.g. "$142.49").
                      imageUrl:
                        type: string
                        description: Product thumbnail URL.
  /internal/removeFromCart:
    post:
      operationId: removeFromCart
      summary: Remove product from cart — cartId, cartCount, removedItemId
      x-openweb:
        permission: write
        safety: caution
        transport: page
        build:
          stable_id: wm0006
          tool_version: 1
          verified: false
          signals:
          - adapter-verified
        adapter:
          name: walmart-cart
          operation: removeFromCart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - usItemId
              properties:
                usItemId:
                  type: string
                  description: Walmart item ID to remove (e.g. "234440748").
      responses:
        '200':
          description: Item removed from cart successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - cartId
                - cartCount
                - removedItemId
                properties:
                  cartId:
                    type: string
                    description: Cart identifier.
                  cartCount:
                    type: integer
                    description: Total number of items remaining in cart.
                  removedItemId:
                    type: string
                    description: The usItemId that was removed.
