openapi: "3.1.0"
info:
  title: LinkedIn
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    compiled_at: "2026-04-01T17:00:00.000Z"
    requires_auth: true
servers:
  - url: https://www.linkedin.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
      csrf:
        type: cookie_to_header
        cookie: JSESSIONID
        header: csrf-token
        scope: [GET, POST, PUT, DELETE]
paths:
  /voyager/api/me:
    get:
      operationId: getMe
      summary: "Get authenticated user's own profile — name, headline, profile URN, miniProfile"
      x-openweb:
        permission: read
        build:
          stable_id: ed98da697f5878a7
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Own profile data in LinkedIn normalized JSON format
          content:
            application/json:
              schema:
                type: object
                properties:
                  plainId:
                    type: integer
                  miniProfile:
                    type: object
                    properties:
                      firstName:
                        type: string
                      lastName:
                        type: string
                      occupation:
                        type: string
                      publicIdentifier:
                        type: string
                      entityUrn:
                        type: string
                      dashEntityUrn:
                        type: string
                      picture:
                        type: object
                  publicContactInfo:
                    type: object
                  premiumSubscriber:
                    type: boolean

  /internal/getProfile:
    get:
      operationId: getProfile
      summary: "Get a user profile by vanity name (URL slug) — name, headline, location, industry, connections"
      x-openweb:
        permission: read
        build:
          stable_id: aeb9887866a5beda
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: linkedin-graphql
          operation: getProfile
      parameters:
        - name: variables
          in: query
          required: true
          schema:
            type: string
          example: "(vanityName:williamhgates)"
          description: "Rest.li tuple with vanityName (the URL slug, e.g. 'williamhgates' from linkedin.com/in/williamhgates)"
      responses:
        "200":
          description: Profile data in LinkedIn normalized JSON format with included entities
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  meta:
                    type: object
                  included:
                    type: array
                    items:
                      type: object

  /voyager/api/identity/dash/profiles/{id}:
    get:
      operationId: getProfileByUrn
      summary: "Get a user profile by URN — full profile with experience, education, skills sections"
      x-openweb:
        permission: read
        build:
          stable_id: ba1451f11cad9007
          tool_version: 2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "urn:li:fsd_profile:ACoAAA8BYqEBCGLg_vT_ca6WMtqDi46mlb-Y"
          description: "Profile URN (e.g. urn:li:fsd_profile:...) — get from getMe or getProfile response"
        - name: decorationId
          in: query
          required: true
          schema:
            type: string
          example: "com.linkedin.voyager.dash.deco.identity.profile.FullProfile-76"
          description: "Decoration ID controls which fields are returned. FullProfile-76 returns all sections."
      responses:
        "200":
          description: Full profile data with all sections
          content:
            application/json:
              schema:
                type: object
                properties:
                  firstName:
                    type: string
                  lastName:
                    type: string
                  headline:
                    type: string
                  summary:
                    type: string
                    nullable: true
                  publicIdentifier:
                    type: string
                  entityUrn:
                    type: string
                  industry:
                    type: object
                    properties:
                      name:
                        type: string
                  geoLocation:
                    type: object
                  profilePicture:
                    type: object
                  premium:
                    type: boolean

  /internal/getFeed:
    get:
      operationId: getFeed
      summary: "Get main feed — posts, articles, shares with author info, engagement counts, comments preview"
      x-openweb:
        permission: read
        build:
          stable_id: d9ca7024f34babc3
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: linkedin-graphql
          operation: getFeed
      parameters:
        - name: variables
          in: query
          required: false
          schema:
            type: string
          example: "(count:10,sortOrder:RELEVANCE)"
          description: "Rest.li tuple — count (items per page), sortOrder (RELEVANCE or RECENT)"
      responses:
        "200":
          description: Feed items in normalized JSON format
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  meta:
                    type: object
                  included:
                    type: array
                    items:
                      type: object

  /voyager/api/relationships/connectionsSummary:
    get:
      operationId: getConnectionsSummary
      summary: "Get connections summary — total connection count, new connections count"
      x-openweb:
        permission: read
        build:
          stable_id: ad14a83784ac972c
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Connection counts and summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  entityUrn:
                    type: string
                  numConnections:
                    type: integer

  /voyager/api/relationships/invitationViews:
    get:
      operationId: getInvitations
      summary: "Get pending connection invitations — sender name, headline, shared connections, time sent"
      x-openweb:
        permission: read
        build:
          stable_id: 5e4a43553b6e9370
          tool_version: 2
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
          example: 10
          description: "Number of invitations to return"
        - name: includeInsights
          in: query
          required: false
          schema:
            type: string
          example: "true"
          description: "Include insights (shared connections, etc.)"
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: "receivedInvitation"
          description: "Query type — receivedInvitation for pending invites"
        - name: start
          in: query
          required: false
          schema:
            type: integer
          example: 0
          description: "Pagination offset"
      responses:
        "200":
          description: List of pending invitations
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      paginationToken:
                        type: string
                  elements:
                    type: array
                    items:
                      type: object
                      properties:
                        entityUrn:
                          type: string
                        insights:
                          type: array
                          items:
                            type: object
                        invitation:
                          type: object
                          properties:
                            mailboxItemId:
                              type: string
                            fromMember:
                              type: object
                              properties:
                                firstName:
                                  type: string
                                lastName:
                                  type: string
                                occupation:
                                  type: string
                                publicIdentifier:
                                  type: string
                            message:
                              type: string
                              nullable: true
                            sentTime:
                              type: integer
                            customMessage:
                              type: boolean
                            invitationType:
                              type: string
                  paging:
                    type: object
                    properties:
                      count:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer

  /voyager/api/voyagerIdentityDashNotificationCards:
    get:
      operationId: getNotificationCards
      summary: "Get notification cards — likes, comments, connection requests, job alerts, mentions"
      x-openweb:
        permission: read
        build:
          stable_id: 3cead00fe2be51a1
          tool_version: 2
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
          example: 10
          description: "Number of notifications to return"
        - name: decorationId
          in: query
          required: true
          schema:
            type: string
          example: "com.linkedin.voyager.dash.deco.identity.notifications.CardsCollectionWithInjectionsNoPills-24"
          description: "Decoration ID for notification card format"
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: "filterVanityName"
          description: "Query filter type"
      responses:
        "200":
          description: Notification cards
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      numUnseen:
                        type: integer
                      nextStart:
                        type: integer
                      latestPublishedAt:
                        type: integer
                  elements:
                    type: array
                    items:
                      type: object
                      properties:
                        entityUrn:
                          type: string
                        read:
                          type: boolean
                        publishedAt:
                          type: integer
                        headline:
                          type: object
                          properties:
                            text:
                              type: string
                        headerImage:
                          type: object
                        cardAction:
                          type: object
                        actions:
                          type: array
                          items:
                            type: object
                  paging:
                    type: object
                    properties:
                      count:
                        type: integer
                      start:
                        type: integer

  /internal/getNewsStorylines:
    get:
      operationId: getNewsStorylines
      summary: "Get LinkedIn news storylines — trending topics, curated news articles, industry updates"
      x-openweb:
        permission: read
        build:
          stable_id: "0480efd17380ac76"
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: linkedin-graphql
          operation: getNewsStorylines
      parameters:
        - name: variables
          in: query
          required: false
          schema:
            type: string
          example: "()"
          description: "Rest.li tuple — empty for default news feed"
      responses:
        "200":
          description: News storylines
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  meta:
                    type: object
                  included:
                    type: array
                    items:
                      type: object

  /internal/getCompany:
    get:
      operationId: getCompany
      summary: "Get company/organization page — name, industry, size, description, follower count"
      x-openweb:
        permission: read
        build:
          stable_id: f002a6bde64bf160
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: linkedin-graphql
          operation: getCompany
      parameters:
        - name: variables
          in: query
          required: true
          schema:
            type: string
          example: "(universalName:microsoft)"
          description: "Rest.li tuple — universalName is the company URL slug (e.g. 'microsoft' from linkedin.com/company/microsoft)"
      responses:
        "200":
          description: Company page data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  meta:
                    type: object
                  included:
                    type: array
                    items:
                      type: object

  /voyager/api/relationships/myNetworkNotifications:
    get:
      operationId: getMyNetworkNotifications
      summary: "Get My Network notifications — new connection suggestions, people you may know updates"
      x-openweb:
        permission: read
        build:
          stable_id: 5bc65670eab8eb94
          tool_version: 2
      parameters: []
      responses:
        "200":
          description: Network notification data
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      numUnseen:
                        type: integer
                      latestPublishedAt:
                        type: integer
                  elements:
                    type: array
                    items:
                      type: object
                  paging:
                    type: object
                    properties:
                      count:
                        type: integer
                      start:
                        type: integer

  /internal/searchJobs:
    get:
      operationId: searchJobs
      summary: "Search for jobs by keyword and location — titles, companies, locations, posting dates, applicant counts"
      x-openweb:
        permission: read
        build:
          stable_id: a7c3b892d4e1f056
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: linkedin-graphql
          operation: searchJobs
      parameters:
        - name: keywords
          in: query
          required: true
          schema:
            type: string
          example: "software engineer"
          description: "Job search keywords (job title, skill, or company)"
        - name: geoId
          in: query
          required: false
          schema:
            type: string
          example: "103644278"
          description: "LinkedIn geo ID for location filter (e.g. 103644278 for United States, 102571732 for San Francisco Bay Area)"
        - name: count
          in: query
          required: false
          schema:
            type: integer
          example: 25
          description: "Number of results per page (default 25)"
        - name: start
          in: query
          required: false
          schema:
            type: integer
          example: 0
          description: "Pagination offset"
      responses:
        "200":
          description: Job search results in LinkedIn normalized JSON format
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  meta:
                    type: object
                  included:
                    type: array
                    items:
                      type: object

  /internal/getJobDetail:
    get:
      operationId: getJobDetail
      summary: "Get job posting details — description, requirements, company info, salary range, applicant count"
      x-openweb:
        permission: read
        build:
          stable_id: c8d9e0f1a3b45678
          tool_version: 2
          signals: [adapter-verified]
        adapter:
          name: linkedin-graphql
          operation: getJobDetail
      parameters:
        - name: jobId
          in: query
          required: true
          schema:
            type: string
          example: "3945709057"
          description: "Job posting ID — from URL linkedin.com/jobs/view/{id} or from searchJobs results"
      responses:
        "200":
          description: Job posting details in LinkedIn normalized JSON format
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  meta:
                    type: object
                  included:
                    type: array
                    items:
                      type: object
