openapi: "3.1.0"
info:
  title: Netflix
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    requires_auth: true
servers:
  - url: https://www.netflix.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
paths:
  /search:
    get:
      operationId: searchTitles
      summary: "Search movies and TV shows — title, ID, image"
      x-openweb:
        permission: read
        build:
          stable_id: nflx_searchTitles_v1
          tool_version: 2
        adapter:
          name: netflix
          operation: searchTitles
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search query (title, actor, genre keyword)
      responses:
        "200":
          description: Search results with matching titles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  resultCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Netflix title ID
                        title:
                          type: string
                        image:
                          type: string
                        link:
                          type: string

  /title/{titleId}:
    get:
      operationId: getTitleDetail
      summary: "Get title details — synopsis, cast, genres, maturity rating, seasons, episodes"
      x-openweb:
        permission: read
        build:
          stable_id: nflx_getTitleDetail_v1
          tool_version: 2
        adapter:
          name: netflix
          operation: getTitleDetail
      parameters:
        - name: titleId
          in: path
          required: true
          schema:
            type: string
          description: "Netflix title ID (numeric, e.g. 80057281)"
      responses:
        "200":
          description: Title detail with metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  titleId:
                    type: string
                  title:
                    type: string
                  synopsis:
                    type: string
                  maturityRating:
                    type: string
                  year:
                    type: string
                  duration:
                    type: string
                  genres:
                    type: array
                    items:
                      type: string
                  cast:
                    type: array
                    items:
                      type: string
                  seasonCount:
                    type: integer
                    description: Number of seasons (TV shows only)
                  episodes:
                    type: array
                    description: Episodes for the current/first season (TV shows only)
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        synopsis:
                          type: string
                        duration:
                          type: string
                  image:
                    type: string

  /browse:
    get:
      operationId: getCategories
      summary: "Browse genre categories — name, title count per row"
      x-openweb:
        permission: read
        build:
          stable_id: nflx_getCategories_v1
          tool_version: 2
        adapter:
          name: netflix
          operation: getCategories
      parameters: []
      responses:
        "200":
          description: Genre category rows from the browse page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        link:
                          type: string
                        titleCount:
                          type: integer
                          description: Number of visible titles in this row

  /browse/trending:
    get:
      operationId: getTopPicks
      summary: "Get popular/trending titles — ranked list with title, ID, image"
      x-openweb:
        permission: read
        build:
          stable_id: nflx_getTopPicks_v1
          tool_version: 2
        adapter:
          name: netflix
          operation: getTopPicks
      parameters: []
      responses:
        "200":
          description: Trending/popular titles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  section:
                    type: string
                    description: Name of the featured row (e.g. "Trending Now")
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        rank:
                          type: integer
                        id:
                          type: string
                        title:
                          type: string
                        image:
                          type: string
                        link:
                          type: string
