openapi: '3.1.0'
info:
  title: Hacker News
  version: '3.0'
  x-openweb:
    spec_version: '2.0'
servers:
- url: https://hn.algolia.com
  x-openweb:
    transport: node
paths:
  # ═══ L1 Node — Algolia search feeds (no adapter, no browser) ═══

  /search~getTopStories:
    get:
      operationId: getTopStories
      summary: 'Top stories from the front page — title, url, author, points, comments'
      x-openweb:
        permission: read
        actual_path: /api/v1/search
        unwrap: hits
        build:
          stable_id: hn0001
          tool_version: 3
          verified: true
      parameters:
      - name: tags
        in: query
        schema:
          type: string
          default: front_page
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: Array of top stories from Algolia search API.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                      description: Item ID (numeric string).
                    title:
                      type:
                      - string
                      - 'null'
                      description: Story title.
                    url:
                      type:
                      - string
                      - 'null'
                      description: Link URL. Null for text posts.
                    author:
                      type: string
                      description: Submitter username.
                    points:
                      type:
                      - integer
                      - 'null'
                      description: Score (upvotes).
                    num_comments:
                      type:
                      - integer
                      - 'null'
                      description: Total comment count.
                    created_at:
                      type: string
                      description: 'ISO 8601 timestamp, e.g. "2026-04-10T22:36:40.000Z".'
                    created_at_i:
                      type: integer
                      description: Unix timestamp (seconds).

                  required:
                  - objectID
                  - title
  /search_by_date~getNewestStories:
    get:
      operationId: getNewestStories
      summary: 'Newest stories sorted by submission time'
      x-openweb:
        permission: read
        actual_path: /api/v1/search_by_date
        unwrap: hits
        build:
          stable_id: hn0002
          tool_version: 2
          verified: true
      parameters:
      - name: tags
        in: query
        schema:
          type: string
          default: story
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: Array of newest stories.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                    title:
                      type:
                      - string
                      - 'null'
                    url:
                      type:
                      - string
                      - 'null'
                    author:
                      type: string
                    points:
                      type:
                      - integer
                      - 'null'
                    num_comments:
                      type:
                      - integer
                      - 'null'
                    created_at:
                      type: string
                    created_at_i:
                      type: integer

                  required:
                  - objectID
                  - title
  /search~getBestStories:
    get:
      operationId: getBestStories
      summary: 'All-time highest-voted stories across HN history'
      x-openweb:
        permission: read
        actual_path: /api/v1/search
        unwrap: hits
        build:
          stable_id: hn0003
          tool_version: 3
          verified: true
      parameters:
      - name: tags
        in: query
        schema:
          type: string
          default: story
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: Array of highest-voted stories.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                    title:
                      type:
                      - string
                      - 'null'
                    url:
                      type:
                      - string
                      - 'null'
                    author:
                      type: string
                    points:
                      type:
                      - integer
                      - 'null'
                    num_comments:
                      type:
                      - integer
                      - 'null'
                    created_at:
                      type: string
                    created_at_i:
                      type: integer

                  required:
                  - objectID
                  - title
  /search_by_date~getAskStories:
    get:
      operationId: getAskStories
      summary: 'Recent Ask HN posts sorted by date'
      x-openweb:
        permission: read
        actual_path: /api/v1/search_by_date
        unwrap: hits
        build:
          stable_id: hn0004
          tool_version: 3
          verified: true
      parameters:
      - name: tags
        in: query
        schema:
          type: string
          default: ask_hn
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: Array of Ask HN posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                    title:
                      type:
                      - string
                      - 'null'
                    url:
                      type:
                      - string
                      - 'null'
                    author:
                      type: string
                    points:
                      type:
                      - integer
                      - 'null'
                    num_comments:
                      type:
                      - integer
                      - 'null'
                    created_at:
                      type: string
                    created_at_i:
                      type: integer

                  required:
                  - objectID
                  - title
  /search_by_date~getShowStories:
    get:
      operationId: getShowStories
      summary: 'Recent Show HN posts sorted by date'
      x-openweb:
        permission: read
        actual_path: /api/v1/search_by_date
        unwrap: hits
        build:
          stable_id: hn0005
          tool_version: 3
          verified: true
      parameters:
      - name: tags
        in: query
        schema:
          type: string
          default: show_hn
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: Array of Show HN posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                    title:
                      type:
                      - string
                      - 'null'
                    url:
                      type:
                      - string
                      - 'null'
                    author:
                      type: string
                    points:
                      type:
                      - integer
                      - 'null'
                    num_comments:
                      type:
                      - integer
                      - 'null'
                    created_at:
                      type: string
                    created_at_i:
                      type: integer

                  required:
                  - objectID
                  - title
  /search_by_date~getJobPostings:
    get:
      operationId: getJobPostings
      summary: 'Job postings sorted by date'
      x-openweb:
        permission: read
        actual_path: /api/v1/search_by_date
        unwrap: hits
        build:
          stable_id: hn0006
          tool_version: 2
          verified: true
      parameters:
      - name: tags
        in: query
        schema:
          type: string
          default: job
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: Array of job postings. Jobs typically have null points.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                    title:
                      type:
                      - string
                      - 'null'
                    url:
                      type:
                      - string
                      - 'null'
                    author:
                      type:
                      - string
                      - 'null'
                    created_at:
                      type: string
                    created_at_i:
                      type: integer

                  required:
                  - objectID
                  - title
  /search_by_date~getFrontPageStories:
    get:
      operationId: getFrontPageStories
      summary: 'Front page stories sorted by time'
      x-openweb:
        permission: read
        actual_path: /api/v1/search_by_date
        unwrap: hits
        build:
          stable_id: hn0007
          tool_version: 2
          verified: true
      parameters:
      - name: tags
        in: query
        schema:
          type: string
          default: front_page
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: Array of front page stories sorted by time.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                    title:
                      type:
                      - string
                      - 'null'
                    url:
                      type:
                      - string
                      - 'null'
                    author:
                      type: string
                    points:
                      type:
                      - integer
                      - 'null'
                    num_comments:
                      type:
                      - integer
                      - 'null'
                    created_at:
                      type: string
                    created_at_i:
                      type: integer

  # ═══ L1 Node — Algolia items (story detail with comment tree) ═══

                  required:
                  - objectID
                  - title
  /api/v1/items/{id}:
    get:
      operationId: getStoryDetail
      summary: 'Story metadata and full comment tree'
      x-openweb:
        permission: read
        build:
          stable_id: hn0008
          tool_version: 2
          verified: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: 'Hacker News item ID (numeric, e.g. 42407357).'
      responses:
        '200':
          description: Story detail with nested comment tree.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Item ID.
                  title:
                    type:
                    - string
                    - 'null'
                    description: Story title.
                  url:
                    type:
                    - string
                    - 'null'
                    description: Link URL. Null for text posts.
                  author:
                    type:
                    - string
                    - 'null'
                    description: Submitter username.
                  points:
                    type:
                    - integer
                    - 'null'
                    description: Score (upvotes).
                  created_at:
                    type: string
                    description: ISO 8601 timestamp.
                  created_at_i:
                    type: integer
                    description: Unix timestamp.
                  children:
                    type: array
                    description: Nested comment tree. Each comment may have its own children.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        author:
                          type:
                          - string
                          - 'null'
                        text:
                          type:
                          - string
                          - 'null'
                        created_at:
                          type: string
                        parent_id:
                          type: integer

  # ═══ L1 Node — Firebase (user profile) ═══

                required:
                - id
                - title
                - children
  /v0/user/{id}.json:
    get:
      operationId: getUserProfile
      summary: 'User profile — username, karma, created date, about text'
      servers:
      - url: https://hacker-news.firebaseio.com
        x-openweb:
          transport: node
      x-openweb:
        permission: read
        build:
          stable_id: hn0009
          tool_version: 2
          verified: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: 'Hacker News username (case-sensitive, e.g. "pg").'
      responses:
        '200':
          description: User profile from Firebase API.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Username.
                  created:
                    type: integer
                    description: Account creation as Unix timestamp.
                  karma:
                    type: integer
                    description: Karma score.
                  about:
                    type:
                    - string
                    - 'null'
                    description: User bio (may contain HTML entities).

  # ═══ L1 Node — Algolia search (new comments) ═══

                required:
                - id
  /search_by_date~getNewComments:
    get:
      operationId: getNewComments
      summary: 'Newest comments across all stories'
      x-openweb:
        permission: read
        actual_path: /api/v1/search_by_date
        unwrap: hits
        build:
          stable_id: hn0011
          tool_version: 2
          verified: true
      parameters:
      - name: tags
        in: query
        schema:
          type: string
          default: comment
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: Array of newest comments site-wide.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                      description: Comment ID.
                    author:
                      type:
                      - string
                      - 'null'
                    comment_text:
                      type:
                      - string
                      - 'null'
                      description: Comment body (may contain HTML).
                    created_at:
                      type: string
                    created_at_i:
                      type: integer
                    parent_id:
                      type: integer
                    story_id:
                      type: integer
                    story_title:
                      type:
                      - string
                      - 'null'

  # ═══ Adapter ops — parameterized Algolia reads (node transport) ═══

                  required:
                  - objectID
  /search_by_date~getStoryComments:
    get:
      operationId: getStoryComments
      summary: 'Comment thread for a story via Algolia search (returns raw hit objects)'
      description: |
        Fetches comments for a story from the Algolia search_by_date endpoint.
        The `numericFilters` parameter is derived from `id` via x-openweb.template.
        Returns the raw Algolia `hits` array (unwrapped). An earlier adapter-based
        version wrapped the response as `{ storyId, commentCount, comments }`; that
        wrapper is blocked by the lack of a response_transform primitive and is
        omitted in this spec-only version (see doc/todo for na-rt-response-transform).
      x-openweb:
        permission: read
        actual_path: /api/v1/search_by_date
        unwrap: hits
        build:
          stable_id: hn0010
          tool_version: 4
          verified: true
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
        description: 'Hacker News story item ID (numeric, e.g. 42407357). Referenced by numericFilters via x-openweb.template.'
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 50
        description: Maximum number of comments to return.
      - name: tags
        in: query
        schema:
          type: string
          const: comment
      - name: numericFilters
        in: query
        schema:
          type: string
        x-openweb:
          template: story_id={id}
      responses:
        '200':
          description: Comments for the story (Algolia hits, newest first).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                    author:
                      type:
                      - string
                      - 'null'
                    comment_text:
                      type:
                      - string
                      - 'null'
                    created_at:
                      type: string
                    created_at_i:
                      type: integer
                    parent_id:
                      type: integer
                    story_id:
                      type: integer
                  required:
                  - objectID
  /search_by_date~getStoriesByDomain:
    get:
      operationId: getStoriesByDomain
      summary: 'Recent stories submitted from a specific domain'
      x-openweb:
        permission: read
        actual_path: /api/v1/search_by_date
        unwrap: hits
        build:
          stable_id: hn0012
          tool_version: 4
          verified: true
      parameters:
      - name: tags
        in: query
        schema:
          type: string
          default: story
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: 'Domain name to filter by (e.g. "github.com").'
      - name: restrictSearchableAttributes
        in: query
        schema:
          type: string
          default: url
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 30
      responses:
        '200':
          description: Stories from the given domain.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                    title:
                      type:
                      - string
                      - 'null'
                    url:
                      type:
                      - string
                      - 'null'
                    author:
                      type: string
                    points:
                      type:
                      - integer
                      - 'null'
                    num_comments:
                      type:
                      - integer
                      - 'null'
                    created_at:
                      type: string
                    created_at_i:
                      type: integer

                  required:
                  - objectID
                  - title
  /search_by_date~getUserSubmissions:
    get:
      operationId: getUserSubmissions
      summary: "User's submitted stories"
      x-openweb:
        permission: read
        actual_path: /api/v1/search_by_date
        unwrap: hits
        build:
          stable_id: hn0013
          tool_version: 4
          verified: true
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        description: 'Hacker News username (case-sensitive, e.g. "pg"). Referenced by tags via x-openweb.template.'
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 30
      - name: tags
        in: query
        schema:
          type: string
        x-openweb:
          template: story,author_{id}
      responses:
        '200':
          description: Stories submitted by the user.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                    title:
                      type:
                      - string
                      - 'null'
                    url:
                      type:
                      - string
                      - 'null'
                    author:
                      type: string
                    points:
                      type:
                      - integer
                      - 'null'
                    num_comments:
                      type:
                      - integer
                      - 'null'
                    created_at:
                      type: string
                    created_at_i:
                      type: integer

                  required:
                  - objectID
                  - title
  /search_by_date~getUserComments:
    get:
      operationId: getUserComments
      summary: "User's comment history"
      x-openweb:
        permission: read
        actual_path: /api/v1/search_by_date
        unwrap: hits
        build:
          stable_id: hn0014
          tool_version: 4
          verified: true
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        description: 'Hacker News username (case-sensitive, e.g. "pg"). Referenced by tags via x-openweb.template.'
      - name: hitsPerPage
        in: query
        schema:
          type: integer
          default: 30
      - name: tags
        in: query
        schema:
          type: string
        x-openweb:
          template: comment,author_{id}
      responses:
        '200':
          description: Comments posted by the user.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    objectID:
                      type: string
                    author:
                      type:
                      - string
                      - 'null'
                    comment_text:
                      type:
                      - string
                      - 'null'
                    created_at:
                      type: string
                    created_at_i:
                      type: integer
                    parent_id:
                      type: integer
                    story_id:
                      type: integer
                    story_title:
                      type:
                      - string
                      - 'null'

  # ═══ Adapter ops — write (page transport, needs auth) ═══

                  required:
                  - objectID
  /internal/upvoteStory:
    post:
      operationId: upvoteStory
      summary: 'Upvote a story or comment — requires logged-in session'
      servers:
      - url: https://news.ycombinator.com
        x-openweb:
          transport: page
          auth:
            type: cookie_session
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: hn0015
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: hackernews
          operation: upvoteStory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: integer
                  description: 'Hacker News item ID to upvote (story or comment).'
      responses:
        '200':
          description: Upvote result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  id:
                    type: integer

  /internal/addComment:
    post:
      operationId: addComment
      summary: 'Post a comment on a story or reply to a comment — requires logged-in session'
      servers:
      - url: https://news.ycombinator.com
        x-openweb:
          transport: page
          auth:
            type: cookie_session
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: hn0016
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: hackernews
          operation: addComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - parent
              - text
              properties:
                parent:
                  type: integer
                  description: 'Parent item ID — a story ID for top-level comments, or a comment ID for replies.'
                text:
                  type: string
                  description: 'Comment text (plain text, no markdown).'
      responses:
        '200':
          description: Comment submission result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  parent:
                    type: integer
                  id:
                    type: integer
                    description: 'Newly created comment ID.'

  /internal/unvoteStory:
    post:
      operationId: unvoteStory
      summary: 'Reverse an upvote on a story or comment — requires logged-in session'
      servers:
      - url: https://news.ycombinator.com
        x-openweb:
          transport: page
          auth:
            type: cookie_session
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: hn0017
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: hackernews
          operation: unvoteStory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: integer
                  description: 'Hacker News item ID to unvote (story or comment previously upvoted by the current user).'
      responses:
        '200':
          description: Unvote result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  id:
                    type: integer

  /internal/deleteComment:
    post:
      operationId: deleteComment
      summary: 'Delete a comment within HN ~2-hour delete window — requires logged-in session'
      servers:
      - url: https://news.ycombinator.com
        x-openweb:
          transport: page
          auth:
            type: cookie_session
      x-openweb:
        permission: delete
        safety: caution
        build:
          stable_id: hn0018
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: hackernews
          operation: deleteComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: integer
                  description: 'Hacker News comment ID to delete (only your own, within ~2-hour window).'
      responses:
        '200':
          description: Delete result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  id:
                    type: integer
