openapi: '3.1.0'
info:
  title: Hacker News
  version: '2.1'
  x-openweb:
    spec_version: '2.0'
servers:
  - url: https://news.ycombinator.com
    x-openweb:
      transport: page
      auth:
        type: cookie_session
paths:
  /news:
    get:
      operationId: getTopStories
      summary: 'Top stories from the front page — title, score, author, age'
      x-openweb:
        permission: read
        build:
          stable_id: hn0001
          tool_version: 2
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getTopStories
      responses:
        '200':
          description: Array of top stories (typically 30 per page).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type:
                        - string
                        - 'null'
                      description: Story title text.
                    score:
                      type:
                        - string
                        - 'null'
                      description: 'Point count, e.g. "305 points".'
                    author:
                      type:
                        - string
                        - 'null'
                      description: Submitter username.
                    age:
                      type:
                        - string
                        - 'null'
                      description: 'Relative time, e.g. "2 hours ago".'
  /newest:
    get:
      operationId: getNewestStories
      summary: 'Newest stories sorted by submission time — title, score, author, age'
      x-openweb:
        permission: read
        build:
          stable_id: hn0002
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getNewestStories
      responses:
        '200':
          description: Array of newest stories.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type:
                        - string
                        - 'null'
                      description: Story title text.
                    score:
                      type:
                        - string
                        - 'null'
                      description: 'Point count, e.g. "305 points".'
                    author:
                      type:
                        - string
                        - 'null'
                      description: Submitter username.
                    age:
                      type:
                        - string
                        - 'null'
                      description: 'Relative time, e.g. "2 hours ago".'
  /best:
    get:
      operationId: getBestStories
      summary: 'Highest-voted stories — title, score, author, age'
      x-openweb:
        permission: read
        build:
          stable_id: hn0003
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getBestStories
      responses:
        '200':
          description: Array of highest-voted stories.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type:
                        - string
                        - 'null'
                      description: Story title text.
                    score:
                      type:
                        - string
                        - 'null'
                      description: 'Point count, e.g. "305 points".'
                    author:
                      type:
                        - string
                        - 'null'
                      description: Submitter username.
                    age:
                      type:
                        - string
                        - 'null'
                      description: 'Relative time, e.g. "2 hours ago".'
  /ask:
    get:
      operationId: getAskStories
      summary: 'Ask HN posts — title, score, author, age'
      x-openweb:
        permission: read
        build:
          stable_id: hn0004
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getAskStories
      responses:
        '200':
          description: Array of Ask HN posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type:
                        - string
                        - 'null'
                      description: Story title text.
                    score:
                      type:
                        - string
                        - 'null'
                      description: 'Point count, e.g. "305 points".'
                    author:
                      type:
                        - string
                        - 'null'
                      description: Submitter username.
                    age:
                      type:
                        - string
                        - 'null'
                      description: 'Relative time, e.g. "2 hours ago".'
  /show:
    get:
      operationId: getShowStories
      summary: 'Show HN posts — title, score, author, age'
      x-openweb:
        permission: read
        build:
          stable_id: hn0005
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getShowStories
      responses:
        '200':
          description: Array of Show HN posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type:
                        - string
                        - 'null'
                      description: Story title text.
                    score:
                      type:
                        - string
                        - 'null'
                      description: 'Point count, e.g. "305 points".'
                    author:
                      type:
                        - string
                        - 'null'
                      description: Submitter username.
                    age:
                      type:
                        - string
                        - 'null'
                      description: 'Relative time, e.g. "2 hours ago".'
  /jobs:
    get:
      operationId: getJobPostings
      summary: 'Job postings — title, age (no score or author)'
      x-openweb:
        permission: read
        build:
          stable_id: hn0006
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getJobPostings
      responses:
        '200':
          description: Array of job postings. Jobs have no score or author.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type:
                        - string
                        - 'null'
                      description: Job title and company.
                    age:
                      type:
                        - string
                        - 'null'
                      description: 'Relative time, e.g. "2 hours ago".'
  /front:
    get:
      operationId: getFrontPageStories
      summary: 'Time-based front page stories — title, score, author, age'
      x-openweb:
        permission: read
        build:
          stable_id: hn0007
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getFrontPageStories
      responses:
        '200':
          description: Array of front page stories (time-sorted view).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type:
                        - string
                        - 'null'
                      description: Story title text.
                    score:
                      type:
                        - string
                        - 'null'
                      description: 'Point count, e.g. "305 points".'
                    author:
                      type:
                        - string
                        - 'null'
                      description: Submitter username.
                    age:
                      type:
                        - string
                        - 'null'
                      description: 'Relative time, e.g. "2 hours ago".'
  /internal/getStoryDetail:
    get:
      operationId: getStoryDetail
      summary: 'Story metadata and comments — title, url, score, author, commentCount, comments'
      x-openweb:
        permission: read
        build:
          stable_id: hn0008
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getStoryDetail
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: 'Hacker News item ID (numeric, e.g. 42407357).'
      responses:
        '200':
          description: Story detail with comment list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type:
                      - string
                      - 'null'
                    description: Story title.
                  url:
                    type:
                      - string
                      - 'null'
                    description: Link URL. Null for Ask HN / text posts.
                  site:
                    type:
                      - string
                      - 'null'
                    description: 'Domain of the linked URL, e.g. "github.com".'
                  score:
                    type:
                      - string
                      - 'null'
                    description: 'Point count, e.g. "305 points".'
                  author:
                    type:
                      - string
                      - 'null'
                    description: Username who submitted the story.
                  age:
                    type:
                      - string
                      - 'null'
                    description: 'Relative time, e.g. "3 hours ago".'
                  commentCount:
                    type: integer
                    description: Total number of comments on the page.
                  comments:
                    type: array
                    description: Comment tree (flattened with indent level).
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        author:
                          type:
                            - string
                            - 'null'
                        age:
                          type:
                            - string
                            - 'null'
                        text:
                          type:
                            - string
                            - 'null'
                        indent:
                          type: integer
                          description: Nesting level (0 = top-level, higher = deeper reply).
  /internal/getUserProfile:
    get:
      operationId: getUserProfile
      summary: 'User profile — username, karma, created date, about text'
      x-openweb:
        permission: read
        build:
          stable_id: hn0009
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getUserProfile
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: 'Hacker News username (case-sensitive, e.g. "pg").'
      responses:
        '200':
          description: User profile info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type:
                      - string
                      - 'null'
                    description: Username.
                  created:
                    type:
                      - string
                      - 'null'
                    description: 'Account creation date, e.g. "January 1, 2007".'
                  karma:
                    type:
                      - string
                      - 'null'
                    description: Karma score as displayed string.
                  about:
                    type:
                      - string
                      - 'null'
                    description: User bio / about text (may contain HTML).
  /internal/getStoryComments:
    get:
      operationId: getStoryComments
      summary: 'Comment thread for a story — storyId, commentCount, comments with indent'
      x-openweb:
        permission: read
        build:
          stable_id: hn0010
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getStoryComments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: 'Hacker News item ID (numeric, e.g. 42407357).'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
          description: Maximum number of comments to return.
      responses:
        '200':
          description: Comment thread for the story.
          content:
            application/json:
              schema:
                type: object
                properties:
                  storyId:
                    type: integer
                    description: The item ID of the story.
                  commentCount:
                    type: integer
                    description: Total comments on the page (before limit).
                  comments:
                    type: array
                    description: Comments in DOM order with indent level.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        author:
                          type:
                            - string
                            - 'null'
                        age:
                          type:
                            - string
                            - 'null'
                        text:
                          type:
                            - string
                            - 'null'
                        indent:
                          type: integer
                          description: Nesting level (0 = top-level, higher = deeper reply).
  /internal/getNewComments:
    get:
      operationId: getNewComments
      summary: 'Newest comments across all stories — author, age, text, indent'
      x-openweb:
        permission: read
        build:
          stable_id: hn0011
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getNewComments
      responses:
        '200':
          description: Array of newest comments site-wide.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    author:
                      type:
                        - string
                        - 'null'
                    age:
                      type:
                        - string
                        - 'null'
                    text:
                      type:
                        - string
                        - 'null'
                    indent:
                      type: integer
                      description: Nesting level (0 = top-level, higher = deeper reply).
  /internal/getStoriesByDomain:
    get:
      operationId: getStoriesByDomain
      summary: 'Stories submitted from a specific domain — title, score, author, age'
      x-openweb:
        permission: read
        build:
          stable_id: hn0012
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getStoriesByDomain
      parameters:
        - name: site
          in: query
          required: true
          schema:
            type: string
          description: 'Domain name to filter by (e.g. "github.com").'
      responses:
        '200':
          description: Stories from the given domain.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type:
                        - string
                        - 'null'
                    score:
                      type:
                        - string
                        - 'null'
                    author:
                      type:
                        - string
                        - 'null'
                    age:
                      type:
                        - string
                        - 'null'
  /internal/getUserSubmissions:
    get:
      operationId: getUserSubmissions
      summary: "User's submitted stories — title, score, author, age"
      x-openweb:
        permission: read
        build:
          stable_id: hn0013
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getUserSubmissions
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: 'Hacker News username (case-sensitive, e.g. "pg").'
      responses:
        '200':
          description: Stories submitted by the user.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type:
                        - string
                        - 'null'
                    score:
                      type:
                        - string
                        - 'null'
                    author:
                      type:
                        - string
                        - 'null'
                    age:
                      type:
                        - string
                        - 'null'
  /internal/upvoteStory:
    post:
      operationId: upvoteStory
      summary: 'Upvote a story or comment — requires logged-in session'
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: hn0015
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: upvoteStory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: integer
                  description: 'Hacker News item ID to upvote (story or comment).'
      responses:
        '200':
          description: Upvote result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Whether the upvote succeeded.
                  id:
                    type: integer
                    description: The item ID that was upvoted.
  /internal/addComment:
    post:
      operationId: addComment
      summary: 'Post a comment on a story or reply to a comment — requires logged-in session'
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: hn0016
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: addComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - parent
                - text
              properties:
                parent:
                  type: integer
                  description: 'Parent item ID — a story ID for top-level comments, or a comment ID for replies.'
                text:
                  type: string
                  description: 'Comment text (plain text, no markdown).'
      responses:
        '200':
          description: Comment submission result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Whether the comment was posted successfully.
                  parent:
                    type: integer
                    description: The parent item ID.
  /internal/getUserComments:
    get:
      operationId: getUserComments
      summary: "User's comment history — author, age, text, indent"
      x-openweb:
        permission: read
        build:
          stable_id: hn0014
          tool_version: 1
          verified: true
          signals:
            - adapter-verified
        adapter:
          name: hackernews
          operation: getUserComments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: 'Hacker News username (case-sensitive, e.g. "pg").'
      responses:
        '200':
          description: Comments posted by the user.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    author:
                      type:
                        - string
                        - 'null'
                    age:
                      type:
                        - string
                        - 'null'
                    text:
                      type:
                        - string
                        - 'null'
                    indent:
                      type: integer
                      description: Nesting level (0 = top-level, higher = deeper reply).
