openapi: "3.1.0"
info:
  title: CoinMarketCap
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    compiled_at: "2026-04-09T00:00:00Z"
    requires_auth: false
servers:
  - url: https://api.coinmarketcap.com
    x-openweb:
      transport: node
paths:
  /data-api/v3/cryptocurrency/listing:
    get:
      operationId: getListings
      summary: "Get top cryptocurrencies ranked by market cap — name, symbol, price, market cap, volume, percent change"
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: coinmarketcap
          operation: getListings
        build:
          stable_id: coinmarketcap_getListings_v1
          tool_version: 2
      parameters:
        - name: start
          in: query
          required: false
          schema:
            type: integer
          description: "Starting position (1-based, default 1)"
          example: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results (1-500, default 100)"
          example: 20
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            enum: [market_cap, name, price, percent_change_24h, volume_24h, date_added]
          description: "Sort field (default: market_cap)"
          example: market_cap
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
          description: "Sort direction (default: desc)"
          example: desc
        - name: convert
          in: query
          required: false
          schema:
            type: string
          description: "Quote currency (default: USD)"
          example: USD
        - name: cryptoType
          in: query
          required: false
          schema:
            type: string
            enum: [all, coins, tokens]
          description: "Filter by crypto type (default: all)"
          example: all
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      cryptoCurrencyList:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: "CoinMarketCap numeric ID"
                            name:
                              type: string
                              description: "Full coin name"
                            symbol:
                              type: string
                              description: "Trading symbol (e.g., BTC)"
                            slug:
                              type: string
                              description: "URL slug (e.g., bitcoin)"
                            cmcRank:
                              type:
                                - integer
                                - "null"
                              description: "Market cap ranking (null for sponsored/index tokens)"
                            circulatingSupply:
                              type:
                                - number
                                - "null"
                              description: "Circulating supply"
                            totalSupply:
                              type:
                                - number
                                - "null"
                              description: "Total supply"
                            maxSupply:
                              type:
                                - number
                                - "null"
                              description: "Maximum supply (null if unlimited)"
                            lastUpdated:
                              type: string
                              description: "ISO 8601 timestamp of last update"
                            dateAdded:
                              type: string
                              description: "ISO 8601 date when coin was added"
                            quotes:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: "Quote currency name (e.g., USD)"
                                  price:
                                    type:
                                      - number
                                      - "null"
                                    description: "Current price"
                                  volume24h:
                                    type:
                                      - number
                                      - "null"
                                    description: "24h trading volume"
                                  marketCap:
                                    type:
                                      - number
                                      - "null"
                                    description: "Market capitalization"
                                  fullyDilutedMarketCap:
                                    type:
                                      - number
                                      - "null"
                                    description: "Fully diluted market cap"
                                  marketCapDominance:
                                    type:
                                      - number
                                      - "null"
                                    description: "Market cap dominance percentage"
                                  percentChange1h:
                                    type:
                                      - number
                                      - "null"
                                    description: "1h price change percentage"
                                  percentChange24h:
                                    type:
                                      - number
                                      - "null"
                                    description: "24h price change percentage"
                                  percentChange7d:
                                    type:
                                      - number
                                      - "null"
                                    description: "7d price change percentage"
                                  percentChange30d:
                                    type:
                                      - number
                                      - "null"
                                    description: "30d price change percentage"
                                  high24h:
                                    type:
                                      - number
                                      - "null"
                                    description: "24h high price (when present)"
                                  low24h:
                                    type:
                                      - number
                                      - "null"
                                    description: "24h low price (when present)"
                                  highAllTime:
                                    type:
                                      - number
                                      - "null"
                                    description: "All-time high price (when present)"
                                  lowAllTime:
                                    type:
                                      - number
                                      - "null"
                                    description: "All-time low price (when present)"
                                required: [name, price]
                          required: [id, name, symbol, slug]
                      totalCount:
                        type:
                          - string
                          - integer
                        description: "Total number of cryptocurrencies"
                    required: [cryptoCurrencyList, totalCount]
                  status:
                    type: object
                    properties:
                      error_code:
                        type: string
                        description: "API error code (0 for success)"
                      error_message:
                        type: string
                        description: "Error message (empty on success)"
                      timestamp:
                        type: string
                        description: "ISO 8601 response timestamp"
                    required: [error_code, timestamp]
                required: [data, status]

  /data-api/v3/cryptocurrency/detail:
    get:
      operationId: getQuote
      summary: "Get price and market data for a specific coin — price, market cap, volume, supply, percent changes, ATH/ATL"
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: coinmarketcap
          operation: getQuote
        build:
          stable_id: coinmarketcap_getQuote_v1
          tool_version: 1
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: integer
          description: "CoinMarketCap numeric ID (from getListings, e.g., 1 for Bitcoin, 1027 for Ethereum). Provide id or slug."
          example: 1
        - name: slug
          in: query
          required: false
          schema:
            type: string
          description: "Coin URL slug (e.g., bitcoin, ethereum, solana). Provide slug or id."
          example: bitcoin
        - name: dataType
          in: query
          required: false
          schema:
            type: string
          description: "Data type to return (default: detail)"
          example: detail
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: "CoinMarketCap numeric ID"
                      name:
                        type: string
                        description: "Full coin name"
                      symbol:
                        type: string
                        description: "Trading symbol"
                      slug:
                        type: string
                        description: "URL slug"
                      category:
                        type: string
                        description: "Category (coin or token)"
                      description:
                        type: string
                        description: "Coin description (may contain markdown)"
                      dateAdded:
                        type: string
                        description: "ISO 8601 date when coin was added"
                      urls:
                        type: object
                        properties:
                          website:
                            type: array
                            items:
                              type: string
                            description: "Official website URLs"
                          technical_doc:
                            type: array
                            items:
                              type: string
                            description: "Whitepaper and technical documentation URLs"
                          explorer:
                            type: array
                            items:
                              type: string
                            description: "Blockchain explorer URLs"
                          source_code:
                            type: array
                            items:
                              type: string
                            description: "Source code repository URLs"
                          reddit:
                            type: array
                            items:
                              type: string
                            description: "Reddit community URLs"
                          twitter:
                            type: array
                            items:
                              type: string
                            description: "Twitter/X profile URLs"
                      statistics:
                        type: object
                        properties:
                          price:
                            type:
                              - number
                              - "null"
                            description: "Current price in USD"
                          priceChangePercentage1h:
                            type:
                              - number
                              - "null"
                            description: "1h price change percentage"
                          priceChangePercentage24h:
                            type:
                              - number
                              - "null"
                            description: "24h price change percentage"
                          priceChangePercentage7d:
                            type:
                              - number
                              - "null"
                            description: "7d price change percentage"
                          priceChangePercentage30d:
                            type:
                              - number
                              - "null"
                            description: "30d price change percentage"
                          marketCap:
                            type:
                              - number
                              - "null"
                            description: "Market capitalization in USD"
                          fullyDilutedMarketCap:
                            type:
                              - number
                              - "null"
                            description: "Fully diluted market cap in USD"
                          circulatingSupply:
                            type:
                              - number
                              - "null"
                            description: "Circulating supply"
                          totalSupply:
                            type:
                              - number
                              - "null"
                            description: "Total supply"
                          maxSupply:
                            type:
                              - number
                              - "null"
                            description: "Maximum supply (null if unlimited)"
                          marketCapDominance:
                            type:
                              - number
                              - "null"
                            description: "Market cap dominance percentage"
                          rank:
                            type:
                              - integer
                              - "null"
                            description: "Market cap ranking"
                          volume24h:
                            type:
                              - number
                              - "null"
                            description: "24h trading volume in USD"
                          high24h:
                            type:
                              - number
                              - "null"
                            description: "24h high price"
                          low24h:
                            type:
                              - number
                              - "null"
                            description: "24h low price"
                          highAllTime:
                            type:
                              - number
                              - "null"
                            description: "All-time high price"
                          lowAllTime:
                            type:
                              - number
                              - "null"
                            description: "All-time low price"
                          highAllTimeTimestamp:
                            type:
                              - string
                              - "null"
                            description: "ISO 8601 timestamp of all-time high"
                          lowAllTimeTimestamp:
                            type:
                              - string
                              - "null"
                            description: "ISO 8601 timestamp of all-time low"
                        required: [price, marketCap, rank]
                      volume:
                        type:
                          - number
                          - "null"
                        description: "Total volume"
                      volumeChangePercentage24h:
                        type:
                          - number
                          - "null"
                        description: "24h volume change percentage"
                    required: [id, name, symbol, slug, statistics]
                  status:
                    type: object
                    properties:
                      error_code:
                        type: string
                        description: "API error code (0 for success)"
                      error_message:
                        type: string
                        description: "Error message (empty on success)"
                      timestamp:
                        type: string
                        description: "ISO 8601 response timestamp"
                    required: [error_code, timestamp]
                required: [data, status]

  /data-api/v3/unified-trending/top-boost/listing:
    get:
      operationId: getTrending
      summary: "Get trending and most-searched cryptocurrencies — name, symbol, price, volume, percent change"
      x-openweb:
        transport: node
        permission: read
        adapter:
          name: coinmarketcap
          operation: getTrending
        build:
          stable_id: coinmarketcap_getTrending_v1
          tool_version: 1
      parameters:
        - name: start
          in: query
          required: false
          schema:
            type: integer
          description: "Starting position (1-based, default 1)"
          example: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results (default 30)"
          example: 10
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            cryptoId:
                              type: integer
                              description: "CoinMarketCap numeric ID"
                            slug:
                              type: string
                              description: "URL slug"
                            tokenSymbol:
                              type: string
                              description: "Trading symbol"
                            tokenName:
                              type: string
                              description: "Full token name"
                            priceUsd:
                              type: string
                              description: "Current price in USD (string for precision)"
                            volume24h:
                              type: string
                              description: "24h trading volume in USD"
                            pricePercentageChange24h:
                              type: string
                              description: "24h price change percentage"
                            marketCap:
                              type: string
                              description: "Market capitalization in USD"
                          required: [tokenSymbol, tokenName, priceUsd]
                    required: [list]
                  status:
                    type: object
                    properties:
                      error_code:
                        type: string
                        description: "API error code (0 for success)"
                      error_message:
                        type: string
                        description: "Error message (empty on success)"
                      timestamp:
                        type: string
                        description: "ISO 8601 response timestamp"
                    required: [error_code, timestamp]
                required: [data, status]
