openapi: "3.1.0"
info:
  title: Hugging Face
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    requires_auth: false
servers:
  - url: https://huggingface.co
    x-openweb:
      transport: node
paths:
  /api/models:
    get:
      operationId: searchModels
      summary: "Search ML models by keyword — id, author, downloads, pipeline_tag, tags, last modified"
      x-openweb:
        permission: read
        build:
          stable_id: huggingface_searchModels_v1
          tool_version: 1
      parameters:
        - name: search
          in: query
          required: true
          schema:
            type: string
          description: "Search query (model name, keyword, or author)"
          example: "text-generation"
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [downloads, likes, lastModified, trending, createdAt]
          description: "Sort order (default: downloads)"
          example: downloads
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results to return (default 20)"
          example: 20
        - name: filter
          in: query
          required: false
          schema:
            type: string
          description: "Filter by pipeline tag (e.g., text-generation, image-classification, translation)"
          example: "text-generation"
        - name: author
          in: query
          required: false
          schema:
            type: string
          description: "Filter by author/organization (e.g., meta-llama, google, openai)"
          example: "meta-llama"
        - name: direction
          in: query
          required: false
          schema:
            type: integer
            enum: [-1, 1]
          description: "Sort direction (-1 descending, 1 ascending, default -1)"
          example: -1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: "Internal model ID"
                    id:
                      type: string
                      description: "Model ID in owner/name format (e.g., meta-llama/Llama-2-7b)"
                    modelId:
                      type: string
                      description: "Same as id — model identifier"
                    author:
                      type: string
                      description: "Model author or organization"
                    sha:
                      type: string
                      description: "Latest commit SHA"
                    lastModified:
                      type: string
                      description: "ISO 8601 timestamp of last modification"
                    private:
                      type: boolean
                      description: "Whether the model is private"
                    disabled:
                      type: boolean
                      description: "Whether the model is disabled"
                    gated:
                      type:
                        - boolean
                        - string
                      description: "Access gating status (false, true, or 'auto')"
                    pipeline_tag:
                      type: string
                      description: "ML task type (e.g., text-generation, image-classification)"
                    tags:
                      type: array
                      items:
                        type: string
                      description: "Tags including library, language, license, task"
                    downloads:
                      type: integer
                      description: "Total download count"
                    likes:
                      type: integer
                      description: "Number of likes"
                    library_name:
                      type: string
                      description: "ML library (e.g., transformers, diffusers, gguf)"
                    createdAt:
                      type: string
                      description: "ISO 8601 creation timestamp"
                  required: [id, modelId, downloads, likes]

  /api/models/{owner}/{name}:
    get:
      operationId: getModel
      summary: "Get model details — description, downloads, tags, pipeline_tag, config, card data"
      x-openweb:
        permission: read
        build:
          stable_id: huggingface_getModel_v1
          tool_version: 1
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
          description: "Model owner or organization (e.g., meta-llama, google, openai)"
          example: "meta-llama"
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: "Model name (e.g., Llama-2-7b, bert-base-uncased)"
          example: "Llama-2-7b"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                    description: "Internal model ID"
                  id:
                    type: string
                    description: "Model ID in owner/name format"
                  modelId:
                    type: string
                    description: "Same as id"
                  author:
                    type: string
                    description: "Model author or organization"
                  sha:
                    type: string
                    description: "Latest commit SHA"
                  lastModified:
                    type: string
                    description: "ISO 8601 timestamp of last modification"
                  private:
                    type: boolean
                    description: "Whether the model is private"
                  disabled:
                    type: boolean
                    description: "Whether the model is disabled"
                  gated:
                    type:
                      - boolean
                      - string
                    description: "Access gating status"
                  pipeline_tag:
                    type: string
                    description: "ML task type (e.g., text-generation, image-classification)"
                  tags:
                    type: array
                    items:
                      type: string
                    description: "Tags including library, language, license, task"
                  downloads:
                    type: integer
                    description: "Total download count"
                  likes:
                    type: integer
                    description: "Number of likes"
                  library_name:
                    type: string
                    description: "ML library (e.g., transformers, diffusers)"
                  createdAt:
                    type: string
                    description: "ISO 8601 creation timestamp"
                  cardData:
                    type: object
                    additionalProperties: true
                    description: "Parsed model card metadata (license, language, tags, datasets)"
                  siblings:
                    type: array
                    items:
                      type: object
                      required: [rfilename]
                      properties:
                        rfilename:
                          type: string
                          description: "File path in the repository"
                    description: "List of files in the model repository"
                  spaces:
                    type: array
                    items:
                      type: string
                    description: "Related Spaces using this model"
                  safetensors:
                    type: object
                    additionalProperties: true
                    description: "Safetensors file metadata (parameters, format)"
                required: [id, modelId, downloads, likes]

  /api/datasets:
    get:
      operationId: searchDatasets
      summary: "Search datasets by keyword — id, author, downloads, tags, last modified"
      x-openweb:
        permission: read
        build:
          stable_id: huggingface_searchDatasets_v1
          tool_version: 1
      parameters:
        - name: search
          in: query
          required: true
          schema:
            type: string
          description: "Search query (dataset name or keyword)"
          example: "sentiment"
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [downloads, likes, lastModified, trending, createdAt]
          description: "Sort order (default: downloads)"
          example: downloads
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results to return (default 20)"
          example: 20
        - name: author
          in: query
          required: false
          schema:
            type: string
          description: "Filter by author/organization"
          example: "huggingface"
        - name: direction
          in: query
          required: false
          schema:
            type: integer
            enum: [-1, 1]
          description: "Sort direction (-1 descending, 1 ascending, default -1)"
          example: -1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: "Internal dataset ID"
                    id:
                      type: string
                      description: "Dataset ID in owner/name format"
                    author:
                      type: string
                      description: "Dataset author or organization"
                    sha:
                      type: string
                      description: "Latest commit SHA"
                    lastModified:
                      type: string
                      description: "ISO 8601 timestamp of last modification"
                    private:
                      type: boolean
                      description: "Whether the dataset is private"
                    gated:
                      type:
                        - boolean
                        - string
                      description: "Access gating status"
                    tags:
                      type: array
                      items:
                        type: string
                      description: "Tags including task, language, size, license"
                    downloads:
                      type: integer
                      description: "Total download count"
                    likes:
                      type: integer
                      description: "Number of likes"
                    createdAt:
                      type: string
                      description: "ISO 8601 creation timestamp"
                  required: [id, downloads, likes]

  /api/datasets/{owner}/{name}:
    get:
      operationId: getDataset
      summary: "Get dataset details — description, downloads, tags, card data, file list"
      x-openweb:
        permission: read
        build:
          stable_id: huggingface_getDataset_v1
          tool_version: 1
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
          description: "Dataset owner or organization"
          example: "stanfordnlp"
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: "Dataset name"
          example: "imdb"
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                    description: "Internal dataset ID"
                  id:
                    type: string
                    description: "Dataset ID in owner/name format"
                  author:
                    type: string
                    description: "Dataset author or organization"
                  sha:
                    type: string
                    description: "Latest commit SHA"
                  lastModified:
                    type: string
                    description: "ISO 8601 timestamp of last modification"
                  private:
                    type: boolean
                    description: "Whether the dataset is private"
                  gated:
                    type:
                      - boolean
                      - string
                    description: "Access gating status"
                  tags:
                    type: array
                    items:
                      type: string
                    description: "Tags including task, language, size, license"
                  downloads:
                    type: integer
                    description: "Total download count"
                  likes:
                    type: integer
                    description: "Number of likes"
                  createdAt:
                    type: string
                    description: "ISO 8601 creation timestamp"
                  cardData:
                    type: object
                    additionalProperties: true
                    description: "Parsed dataset card metadata (license, language, task, size)"
                  description:
                    type: string
                    description: "Dataset description from the card"
                  citation:
                    type: string
                    description: "Citation string for the dataset"
                  siblings:
                    type: array
                    items:
                      type: object
                      required: [rfilename]
                      properties:
                        rfilename:
                          type: string
                          description: "File path in the repository"
                    description: "List of files in the dataset repository"
                required: [id, downloads, likes]

  /api/spaces:
    get:
      operationId: getSpaces
      summary: "Browse Spaces (demo apps) — id, author, likes, sdk, tags, last modified"
      x-openweb:
        permission: read
        build:
          stable_id: huggingface_getSpaces_v1
          tool_version: 1
      parameters:
        - name: search
          in: query
          required: true
          schema:
            type: string
          description: "Search query (Space name or keyword)"
          example: "chatbot"
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [likes, lastModified, trending, createdAt]
          description: "Sort order (default: likes)"
          example: likes
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: "Number of results to return (default 20)"
          example: 20
        - name: author
          in: query
          required: false
          schema:
            type: string
          description: "Filter by author/organization"
          example: "huggingface"
        - name: direction
          in: query
          required: false
          schema:
            type: integer
            enum: [-1, 1]
          description: "Sort direction (-1 descending, 1 ascending, default -1)"
          example: -1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: "Internal Space ID"
                    id:
                      type: string
                      description: "Space ID in owner/name format"
                    author:
                      type: string
                      description: "Space author or organization"
                    sha:
                      type: string
                      description: "Latest commit SHA"
                    lastModified:
                      type: string
                      description: "ISO 8601 timestamp of last modification"
                    private:
                      type: boolean
                      description: "Whether the Space is private"
                    tags:
                      type: array
                      items:
                        type: string
                      description: "Tags including sdk, license"
                    likes:
                      type: integer
                      description: "Number of likes"
                    sdk:
                      type: string
                      description: "SDK used (e.g., gradio, streamlit, docker, static)"
                    runtime:
                      type: object
                      properties:
                        stage:
                          type: string
                          description: "Runtime stage (e.g., RUNNING, PAUSED, BUILD_ERROR)"
                        hardware:
                          type: object
                          properties:
                            current:
                              type: string
                              description: "Current hardware (e.g., cpu-basic, gpu-t4-small)"
                      description: "Space runtime status and hardware info"
                    createdAt:
                      type: string
                      description: "ISO 8601 creation timestamp"
                  required: [id, likes]
