openapi: "3.1.0"
info:
  title: Indeed
  version: "1.0.0"
  x-openweb:
    spec_version: "2.0"
    compiled_at: "2026-04-01T18:05:10.904Z"
    requires_auth: false
servers:
  - url: https://www.indeed.com
    x-openweb:
      transport: page
paths:
  /jobs:
    get:
      operationId: searchJobs
      summary: "Search jobs by keyword and location — title, company, salary, snippet, jobkey"
      x-openweb:
        permission: read
        build:
          stable_id: indeed_searchJobs_v2
          tool_version: 2
        adapter:
          name: indeed-web
          operation: searchJobs
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: "Job search query (e.g. \"software engineer\", \"nurse\")."
        - name: l
          in: query
          required: false
          schema:
            type: string
          description: "Location (e.g. \"San Francisco, CA\", \"Remote\")."
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: "Pagination offset (results per page ~15, use 0, 10, 20, ...)."
      responses:
        "200":
          description: Job search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalJobCount:
                    type: integer
                  uniqueJobsCount:
                    type: integer
                  pageNum:
                    type: integer
                  jobs:
                    type: array
                    items:
                      type: object
                      required: [jobkey, title]
                      properties:
                        jobkey:
                          type: string
                          description: "Unique job key (use with getJobDetail)."
                        title:
                          type: string
                        company:
                          type: string
                        companyRating:
                          type: number
                          nullable: true
                        companyReviewCount:
                          type: integer
                          nullable: true
                        location:
                          type: string
                        remoteLocation:
                          type: boolean
                        salary:
                          type: object
                          nullable: true
                          description: Extracted salary info.
                        snippet:
                          type: string
                        formattedRelativeTime:
                          type: string
                        jobTypes:
                          type: array
                          items:
                            type: string
                        link:
                          type: string
                        indeedApplyEnabled:
                          type: boolean
                        urgentlyHiring:
                          type: boolean
                        newJob:
                          type: boolean

  /viewjob:
    get:
      operationId: getJobDetail
      summary: "Get full job posting — title, description, salary, benefits, company info from LD+JSON"
      x-openweb:
        permission: read
        build:
          stable_id: indeed_getJobDetail_v2
          tool_version: 2
        adapter:
          name: indeed-web
          operation: getJobDetail
      parameters:
        - name: jk
          in: query
          required: true
          schema:
            type: string
          description: "Job key from searchJobs results."
      responses:
        "200":
          description: Full job posting details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobKey:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                    description: Full HTML job description.
                  datePosted:
                    type: string
                  baseSalary:
                    type: object
                    properties:
                      currency:
                        type: string
                      value:
                        type: object
                        properties:
                          minValue:
                            type: number
                          maxValue:
                            type: number
                          unitText:
                            type: string
                  employmentType:
                    type: array
                    items:
                      type: string
                    description: Employment types (e.g. "FULL_TIME").
                  hiringOrganization:
                    type: object
                    properties:
                      name:
                        type: string
                      sameAs:
                        type: string
                  jobLocation:
                    type: object
                    description: Location object with address.
                  salaryInfoModel:
                    type: object
                    description: Indeed-specific salary model from _initialData.
                  benefitsModel:
                    type: object
                    nullable: true
                    description: Benefits information.
                  hiringInsightsModel:
                    type: object
                    description: Hiring insights (response rate, urgency).
                  companyInfo:
                    type: object
                    nullable: true
                    description: Company info from _initialData.

  /career/{title}/salaries:
    get:
      operationId: getSalary
      summary: "Get salary data for a job title — median, range, top cities, top companies, related titles"
      x-openweb:
        permission: read
        build:
          stable_id: indeed_getSalary_v2
          tool_version: 2
        adapter:
          name: indeed-web
          operation: getSalary
      parameters:
        - name: title
          in: path
          required: true
          schema:
            type: string
          description: "Job title (e.g. \"software engineer\", \"data scientist\")."
        - name: location
          in: query
          required: false
          schema:
            type: string
          description: "Location URL segment (e.g. \"San-Francisco--CA\"). Use autocompleteLocation."
      responses:
        "200":
          description: Salary data from Next.js __NEXT_DATA__.
          content:
            application/json:
              schema:
                type: object
                properties:
                  titleInfo:
                    type: object
                    properties:
                      normTitle:
                        type: string
                      displayTitle:
                        type: string
                  locationInfo:
                    type: object
                    description: Location metadata.
                  nationalSalaryAggregate:
                    type: object
                    description: "Salary data by period (HOURLY, YEARLY) with median, min, max."
                  localSalaryAggregate:
                    type: object
                    description: "Location-specific salary (null if no location)."
                    nullable: true
                  topPaidCities:
                    type: object
                    description: Highest-paying cities for this role.
                  topPayingCompanies:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        salary:
                          type: object
                  relatedTitlesResponse:
                    type: object
                    description: Related job titles with salary data.

  /cmp/{company}:
    get:
      operationId: getCompanyOverview
      summary: "Get company overview — ratings, about, salaries, jobs, locations, interviews"
      x-openweb:
        permission: read
        build:
          stable_id: indeed_getCompanyOverview_v2
          tool_version: 2
        adapter:
          name: indeed-web
          operation: getCompanyOverview
      parameters:
        - name: company
          in: path
          required: true
          schema:
            type: string
          description: "Company slug (e.g. \"Google\", \"Amazon.com\", \"Meta\")."
      responses:
        "200":
          description: Company overview from _initialData.
          content:
            application/json:
              schema:
                type: object
                properties:
                  companyName:
                    type: string
                  about:
                    type: object
                    description: About section (description, industry, size, revenue).
                  ratings:
                    type: object
                    description: Overall review rating breakdown.
                  salaries:
                    type: object
                    description: Salary summary section.
                  jobs:
                    type: object
                    description: Current job openings.
                  locations:
                    type: object
                    description: Office locations.
                  interviews:
                    type: object
                    description: Interview experience section.
                  faq:
                    type: object
                    description: FAQ section.
                  similarCompanies:
                    type: object
                    description: Similar companies.
                  header:
                    type: object
                    description: Company page header.
                  ldJson:
                    type: object
                    description: LD+JSON LocalBusiness data.

  /cmp/{company}/reviews:
    get:
      operationId: getCompanyReviews
      summary: "Get company reviews — individual reviews with ratings, pros, cons, job title"
      x-openweb:
        permission: read
        build:
          stable_id: indeed_getCompanyReviews_v2
          tool_version: 2
        adapter:
          name: indeed-web
          operation: getCompanyReviews
      parameters:
        - name: company
          in: path
          required: true
          schema:
            type: string
          description: "Company slug (e.g. \"Google\", \"Amazon.com\")."
        - name: filter
          in: query
          required: false
          schema:
            type: string
          description: "Filter query (e.g. \"fcountry=US&floc=Mountain+View%2C+CA\")."
      responses:
        "200":
          description: Company reviews from DOM extraction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  overallRating:
                    type: string
                  reviewCount:
                    type: string
                  reviews:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        rating:
                          type: string
                        author:
                          type: string
                        date:
                          type: string
                        pros:
                          type: string
                        cons:
                          type: string
                        jobTitle:
                          type: string
                        location:
                          type: string
                  aggregateRating:
                    type: object
                    description: Structured aggregate rating from LD+JSON.

  /cmp/{company}/salaries:
    get:
      operationId: getCompanySalaries
      summary: "Get salaries at a company — job titles with salary data"
      x-openweb:
        permission: read
        build:
          stable_id: indeed_getCompanySalaries_v2
          tool_version: 2
        adapter:
          name: indeed-web
          operation: getCompanySalaries
      parameters:
        - name: company
          in: path
          required: true
          schema:
            type: string
          description: "Company slug (e.g. \"Google\", \"Amazon.com\")."
      responses:
        "200":
          description: Company salary data from DOM.
          content:
            application/json:
              schema:
                type: object
                properties:
                  companyName:
                    type: string
                  salaries:
                    type: array
                    items:
                      type: object
                      properties:
                        jobTitle:
                          type: string
                        salary:
                          type: string
                        salaryCount:
                          type: string

  /autocomplete/job-title:
    get:
      operationId: autocompleteJobTitle
      summary: "Autocomplete job title suggestions — normalized job titles as you type"
      x-openweb:
        permission: read
        build:
          stable_id: indeed_autocompleteJobTitle_v2
          tool_version: 2
        adapter:
          name: indeed-web
          operation: autocompleteJobTitle
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: "Partial job title query (e.g. \"softw\", \"data sci\")."
        - name: country
          in: query
          required: false
          schema:
            type: string
            default: US
          description: "Country code (e.g. \"US\", \"GB\", \"CA\")."
      responses:
        "200":
          description: Job title suggestions.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

  /autocomplete/location:
    get:
      operationId: autocompleteLocation
      summary: "Autocomplete location suggestions — city/state/country as you type"
      x-openweb:
        permission: read
        build:
          stable_id: indeed_autocompleteLocation_v2
          tool_version: 2
        adapter:
          name: indeed-web
          operation: autocompleteLocation
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: "Partial location query (e.g. \"San Fran\", \"New Y\")."
        - name: country
          in: query
          required: false
          schema:
            type: string
            default: US
          description: "Country code (e.g. \"US\", \"GB\", \"CA\")."
      responses:
        "200":
          description: Location suggestions.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
