openapi: '3.1.0'
info:
  title: WhatsApp Web
  version: '1.0'
  x-openweb:
    spec_version: '2.0'
servers:
- url: https://web.whatsapp.com
  x-openweb:
    transport: page
paths:
  /internal/chats:
    get:
      operationId: getChats
      summary: Get chat list — id, name, isGroup, unreadCount, timestamp
      x-openweb:
        permission: read
        build:
          stable_id: wa0001
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: whatsapp-modules
          operation: getChats
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
        description: Max chats to return
      responses:
        '200':
          description: Array of chat objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    isGroup:
                      type: boolean
                    unreadCount:
                      type: integer
                    timestamp:
                      type:
                      - integer
                      - 'null'
                  required:
                  - id
                  - name
  /internal/chats/search:
    get:
      operationId: searchChats
      summary: Search chats by name or phone number — id, name, isGroup
      x-openweb:
        permission: read
        build:
          stable_id: wa0005
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: whatsapp-modules
          operation: searchChats
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Search term (matches chat name or ID)
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
        description: Max results
      responses:
        '200':
          description: Array of matching chat objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    isGroup:
                      type:
                      - boolean
                      - 'null'
                    unreadCount:
                      type: integer
                    timestamp:
                      type:
                      - integer
                      - 'null'
                  additionalProperties: true
                  required:
                  - id
                  - name
  /internal/chats/{chatId}:
    get:
      operationId: getChatById
      summary: Get detailed chat info — name, group status, muted, pinned, lastMessage
      x-openweb:
        permission: read
        build:
          stable_id: wa0006
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: whatsapp-modules
          operation: getChatById
      parameters:
      - name: chatId
        in: path
        required: true
        schema:
          type: string
        description: Chat ID (e.g. 1234567890@c.us)
      responses:
        '200':
          description: Chat detail object
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  isGroup:
                    type: boolean
                  unreadCount:
                    type: integer
                  timestamp:
                    type:
                    - integer
                    - 'null'
                  archived:
                    type: boolean
                  pinned:
                    type: boolean
                  muted:
                    type: boolean
                  lastMessage:
                    type:
                    - object
                    - 'null'
                    properties:
                      body:
                        type: string
                      fromMe:
                        type: boolean
                      timestamp:
                        type:
                        - integer
                        - 'null'
                required:
                - id
                - name
  /internal/messages:
    get:
      operationId: getMessages
      summary: Get messages from a chat — id, fromMe, body, timestamp, type
      x-openweb:
        permission: read
        build:
          stable_id: wa0002
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: whatsapp-modules
          operation: getMessages
      parameters:
      - name: chatId
        in: query
        required: true
        schema:
          type: string
        description: Chat ID (e.g. 1234567890@c.us)
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
        description: Max messages to return
      responses:
        '200':
          description: Array of message objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    fromMe:
                      type: boolean
                    body:
                      type: string
                    timestamp:
                      type:
                      - integer
                      - 'null'
                    type:
                      type: string
                    sender:
                      type:
                      - string
                      - 'null'
                      description: Sender ID (present for group messages only)
                  required:
                  - id
                  - body
    post:
      operationId: sendMessage
      summary: Send a text message to a chat
      x-openweb:
        permission: write
        build:
          stable_id: wa0004
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: whatsapp-modules
          operation: sendMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chatId:
                  type: string
                  description: Chat ID (e.g. 1234567890@c.us)
                message:
                  type: string
                  description: Message text to send
              required:
              - chatId
              - message
      responses:
        '200':
          description: Send result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  timestamp:
                    type: integer
                required:
                - success
                - timestamp
  /internal/contacts:
    get:
      operationId: getContacts
      summary: Get contact list — id, name, isMe
      x-openweb:
        permission: read
        build:
          stable_id: wa0003
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: whatsapp-modules
          operation: getContacts
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
        description: Max contacts to return
      responses:
        '200':
          description: Array of contact objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    isMe:
                      type: boolean
                  required:
                  - id
                  - name
  /internal/messages/delete:
    post:
      operationId: deleteMessage
      summary: Delete a message from a chat (reverse of sendMessage)
      x-openweb:
        permission: write
        safety: caution
        build:
          stable_id: wa0008
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: whatsapp-modules
          operation: deleteMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chatId:
                  type: string
                  description: Chat ID (e.g. 1234567890@c.us)
                messageId:
                  type: string
                  description: Message ID (from getMessages response)
              required:
              - chatId
              - messageId
      responses:
        '200':
          description: Delete result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                - success
  /internal/chats/read:
    post:
      operationId: markAsRead
      summary: Mark a chat as read or unread
      x-openweb:
        permission: write
        build:
          stable_id: wa0007
          tool_version: 1
          verified: true
          signals:
          - adapter-verified
        adapter:
          name: whatsapp-modules
          operation: markAsRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chatId:
                  type: string
                  description: Chat ID to mark
                read:
                  type: boolean
                  default: true
                  description: True to mark read, false to mark unread
              required:
              - chatId
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                - success
